<?php
$giftcard = Mage::getSingleton('checkout/session')->getCurrentGiftCard();
Mage::getSingleton('checkout/session')->setCurrentGiftCard(null);
?>
<div class="discount aw_giftcard">
    <h2 id="gift-code-toggle"><?php echo $this->__('Gift Cards') ?></h2>

    <?php if($giftcard): ?>
        <div id="aw-giftcard-info-block">
            <div class="fieldset">
                <table>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Code');?>
                        </td>
                        <td>
                            <strong class="giftcard-code">
                                <?php echo $giftcard->getCode();?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Active');?>
                        </td>
                        <td>
                            <strong class="giftcard-status">
                                <?php echo Mage::getModel('aw_giftcard/source_product_attribute_option_yesno')->getOptionText($giftcard->getStatus());?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Status');?>
                        </td>
                        <td>
                            <strong class="giftcard-state">
                                <?php echo Mage::getModel('aw_giftcard/source_giftcard_status')->getOptionByValue($giftcard->getState());?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Balance');?>
                        </td>
                        <td>
                            <strong>
                                <span class="price">
                                    <?php echo Mage::helper('core')->currency($giftcard->getBalance());?>
                                </span>
                            </strong>
                        </td>
                    </tr>
                    <?php if ($giftcard->getExpireAt()): ?>
                        <tr>
                            <td class="label">
                                <?php echo $this->__('Expires');?>
                            </td>
                            <td>
                                <strong>
                                    <?php echo $this->formatDate($giftcard->getExpireAt(), 'short')?>
                                </strong>
                            </td>
                        </tr>
                    <?php endif;?>
                </table>
            </div>
        </div>
    <?php endif;?>
    <div class="desc">
        <form id="aw_giftcard-form" action="<?php echo $this->getFormUrl();?>" method="post">
                <label for="giftcard_code"><?php echo $this->__('Enter your gift card code') ?></label>
                <input class="required-entry input-text" id="giftcard_code" name="giftcard_code" value="" />
                <button class="button" onclick="AwGiftcardForm.submit()" type="button" value="<?php echo $this->__('Add Gift Card') ?>">
                    <span><span><?php echo $this->__('Add Gift Card') ?></span></span>
                </button>
            <input id="status_input" type="hidden" value="0" name="status_flag">
        </form>
    </div>

    <script type="text/javascript">
        var AwGiftcardForm = new VarienForm('aw_giftcard-form');
        var awGiftcardCheckStatus = function () {
            $('status_input').value = 1;
            AwGiftcardForm.submit();
            return true;
        }
    </script>
</div>