<a name="whats-in-the-box" class="anchor-nav nav-box"></a>
<?php $boxFeatures = $this->getProduct()->getData('whats_in_the_box_numbered'); ?>
<?php $whatsInTheBoxImage = $this->getProduct()->getData( 'whats_in_the_box_image' );
?>
<?php if( ($boxFeatures && strlen(trim($boxFeatures)) > 0)):?>
    <div class="nav-whats-in-the-box panel">
        <div class="header-wrapper">
            <h2 class="collapsed">
                <?php echo $this->__( "What's in the box?" ); ?>
            </h2>
        </div>
        <div class="content-wrapper">
            <?php if ( ! empty( $whatsInTheBoxImage ) && $whatsInTheBoxImage !== 'no_selection' ): ?>
                <noscript>
                    <img itemprop="image" class="box-image"
                         src="<?php echo Mage::helper( 'catalog/image' )->init( $this->getProduct(), 'whats_in_the_box_image' ); ?>"
                         alt="box image" title="box image"/>
                </noscript>
                <img class="box-image"
                     src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage(Mage::helper( 'catalog/image' )->init( $this->getProduct(), 'whats_in_the_box_image' )); ?>"
                     alt="box image" title="box image"/>
            <?php endif; ?>

            <div class="whats-in-the-box">
                <?php if($boxFeatures) echo $boxFeatures ?>
            </div>

            <?php
            if(Mage::helper('core')->isModuleEnabled('Vax_Document')):
                $hasUserGuide = Mage::helper('vax_document')->hasUserguide($this->getProduct()->getSku()); ?>
                <?php if($hasUserGuide): ?>
                <?php $userGuide = Mage::helper('dirtdevil_support')->getUserguidesForProduct($this->getProduct()); ?>
                <?php if($userGuide): ?>
                    <div class="manual">
                        <?php foreach ($userGuide as $key => $document): ?>
                            <div class="row">
                                <a href="<?php echo Mage::helper('dirtdevil_support')->getUserguideLink($document); ?>" title="<?php echo __("User Guide"); ?>" class="userguide-link"><?php echo __("User Guide"); ?></a>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif;?>