<a name="features" class="anchor-nav feature"></a>
<?php if($this->getProduct()->getData('product_features')): ?>
    <div class="nav-features panel">
		<div class="header-wrapper"><h2 class="collapsed"><?php echo $this->__( "Features"); ?></h2></div>
        <div class="content-wrapper">
            <?php $text = $this->getProduct()->getData('product_features'); ?>
	        <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($text); ?>
        </div>
    </div>
<?php endif; ?>