<a name="reviews" class="anchor-nav reviews"></a>
<div class="nav-reviews panel">
	<a name="reviews" class="anchor-nav">&nbsp;</a>

	<div class="header-wrapper"><h2 class="collapsed"><?php echo $this->__( "Reviews"); ?></h2></div>
	<div class="content-wrapper">
        <?php if(Mage::helper('core')->isModuleEnabled('Bazaarvoice_Connector')): ?>
            <?php echo $this->getChildHtml('bv_reviews') ?>
            <?php
                $llBlock = $this->getLayout()->getBlock('reviews_ll');
                if ($llBlock && $llBlock instanceof Mage_Core_Block_Abstract) {
                    echo $llBlock->toHtml();
                }
            ?>
        <?php else: ?>
            <?php echo $this->getChildHtml('product_review'); ?>
        <?php endif; ?>
	</div>
</div>

