<?php if($this->getChildHtml('related_products')): ?>
	<a name="spares-and-accessories" class="anchor-nav spares"></a>
	    <div class="nav-spares-and-accessories panel">
			<div class="header-wrapper"><h2 class="collapsed"><?php echo $this->__('Spares & Accessories'); ?></h2></div>
	        <div class="content-wrapper">
	            <?php echo $this->getChildHtml('related_products') ?>
	        </div>
	    </div>
<?php endif; ?>
