<?php
/**
 * This is a @see DirtDevil_Catalog_Block_Product_View_Tab_Specification */
$_product = $this->getProduct();
$dimensionImage = $_product->getData( 'dimensions_image' );
if($this->hasAttributes()):
?>
	<a name="specifications" class="anchor-nav spec"></a>
	<div class="nav-specifications panel">
		<div class="header-wrapper"><h2 class="collapsed"><?php echo $this->__( "Specification"); ?></h2></div>

		<div class="content-wrapper">
			<div class="spec-left">
				<table class="spec-left-table data-table">
					<tbody>

					<?php if ( $_product->getData( 'weight' ) ): ?>
						<tr>
                            <td class="label"><?php echo $this->__( 'Weight' ); ?></td>
							<td class="data"><span itemprop="weight"><?php echo round($_product->getData( 'weight' ) , 1).$this->__( 'kg'); ?></span></td>
						</tr>
					<?php endif; ?>
					<?php if ( $_product->getData( 'suction' ) ): ?>
						<tr>
							<td class="label"><?php echo $this->__( 'Suction Power' ); ?></td>
							<td class="data"><?php echo $_product->getData( 'suction' ); ?></td>
						</tr>
					<?php endif; ?>
					<?php if ( $_product->getData( 'uk_guarantee' ) ): ?>
						<tr>
							<td class="label"><?php echo $this->__( 'Warranty' ); ?></td>
                            <td class="data"><span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="warranty" itemscope itemtype="https://schema.org/WarrantyPromise"><span itemprop="durationOfWarranty" itemscope itemtype="https://schema.org/QuantitativeValue"><span itemprop="value"><?php echo $_product->getData( 'uk_guarantee' ); ?></span></span></span></span></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
			<div class="spec-mid">
				<?php
				if ( $_additional = $this->getSpecificationsMiddleTable() ):
					?>
					<table class="data-table">
						<tbody>
						<?php foreach ( $_additional as $_data ):
                            $label = $_data['label'];
                            $value = $_data['value'];
                            if($value != 'Nein' && $value != 'No' && $value != "no_selection" && $value != 'N/A'): ?>
							    <tr>
									<td class="label"><?php echo $this->__( $label )?></td>
									<td class="data"><?php echo $this->__( $value ) ?></td>
								</tr>
                            <?php endif;?>
						<?php endforeach; ?>
						</tbody>
					</table>
				<?php endif; ?>

			</div>
			<div class="spec-right">
				<?php
				if ( ! empty( $dimensionImage ) && $dimensionImage !== 'no_selection' ): ?>
                <noscript>
                    <img itemprop="image" class="dimensions-image<?php if ( $_product->getData( 'display_dimensions' ) == 1) echo " with-dimensions"?>"
					     src="<?php echo Mage::helper( 'catalog/image' )->init( $_product, 'dimensions_image' ); ?>"
					     alt="dimensions image" title="dimensions image"/>
                </noscript>
					<img class="dimensions-image<?php if ( $_product->getData( 'display_dimensions' ) == 1) echo " with-dimensions"?>"
					     src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage(Mage::helper( 'catalog/image' )->init( $_product, 'dimensions_image' )); ?>"
					     alt="dimensions image" title="dimensions image"/>
				<?php endif ?>

                <?php if ( $_product->getData( 'display_dimensions' ) && $_product->getData( 'display_dimensions' ) == 1 ): ?>
                    <?php if ( $_product->getData( 'width' ) ): ?>
                        <div class="width"><?php echo $_product->getData( 'width' ); ?></div>
                    <?php endif; ?>
                    <?php if ( $_product->getData( 'depth' ) ): ?>
                        <div class="depth"><?php echo $_product->getData( 'depth' ); ?></div>
                    <?php endif; ?>
                    <?php if ( $_product->getData( 'height' ) ): ?>
                        <div class="height"><?php echo $_product->getData( 'height' ); ?></div>
                    <?php endif; ?>
                <?php
                endif; ?>
			</div>
		</div>
	</div>
<?php
endif;
?>