<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Basket'); ?>
<?php if(! Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
    <?php //echo $this->getChildHtml('product.info.schedule') ?>
    <?php if ($this->getProduct()->getTypeId() == 'bundle'): ?>
        <?php echo $this->getLayout()->createBlock(
            'core/template', 'catalog_category_bundle')
            ->setTemplate('bundle/addtocart.phtml')
            ->setData('add_form', true)
            ->setData('item', $_product)->toHtml() ?>
    <?php else: ?>
        <div class="add-to-cart">
            <?php if(!$_product->isGrouped()): ?>
            <div class="qty-wrapper">
                <select pattern="\d*" name="qty" id="qty" class="qty">
                    <?php $i = 1; $limit = 10; ?>
                    <?php if ($_product->getStockItem()->getQty() < 10): ?>
                        <?php $limit = $_product->getStockItem()->getQty(); ?>
                    <?php endif; ?>
                    <?php  while($i <= $limit): ?>
                        <option value="<?php echo $i; ?>"><span class="label"><?php echo $this->__('Quantity')?>: </span><?php echo $i; ?></option>
                        <?php $i++; ?>
                    <?php endwhile; ?>
                </select>
            </div>
            <?php endif; ?>
            <div class="add-to-cart-buttons">
                <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
                <?php echo $this->getChildHtml('', true, true) ?>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
