<?php
/**
 * Vax Limited
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
 **/
?>
    <div class="clear"></div>
<?php if ($subscriptionPromo = $this->getLayout()->getBlock('subscription.promo')): ?>
    <?php echo $subscriptionPromo->toHtml() ?>
<?php endif; ?>
<?php echo $this->getChildHtml('subscription.promo') ?>
<?php if ($this->hasCrosssellProduct()): ?>
    <div class="product-crosssells">
        <?php foreach ($this->getCrosssellProducts() as $_product): ?>
            <?php $stockItem = $_product->getStockItem(); ?>
            <?php if($stockItem->getIsInStock()): ?>
            <div class="crosssell-wrapper">
                <?php if (!isset($_hideFlag)): ?>
                    <?php $_hideFlag = true ?>
                    <h4><?php echo $this->__('You may also need...') ?></h4>
                <?php endif; ?>
                <div class="crosssell-item">
                    <div class="image">
                        <?php if ($_product->getImageUrl()): ?>
                            <a href="<?php echo $_product->getProductUrl() ?>">
                                <img id="image-crosssell" class="gallery-image" width="135"
                                     src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper( 'catalog/image' )->init($_product, 'small_image'));  ?>"
                                    />
                            </a>
                        <?php endif; ?>
                    </div>
                    <div class="item-desc">
                        <h2><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName() ?></a></h2>
                        <p><?php echo $_product->getShortDescription() ?></p>
                        <?php //echo $this->getPriceHtml($_product) ?>
                        <div class="price-box price-info">
                            <span class="price"><?php echo $this->helper('core')->formatPrice($_product->getFinalPrice(), false) ?></span>
                            <?php if ($_product->getData('basket_discount_label') && $_product->getAttributeText('basket_discount_label') !== 'None') :?>
                                <p><span class="discount-label"><?php echo $_product->getAttributeText('basket_discount_label') ?></span></p>
                            <?php elseif ($_product->getFinalPrice() < $_product->getPrice()) :?>
                                <p class="save-amount">
                                    <?php echo $this->__('Save %s', Mage::app()->getStore()->formatPrice($_product->getPrice() - $_product->getFinalPrice())) ?>
                                </p>
                            <?php endif ;?>
                            <div class="shipping-cost-info">
                                <?php echo $this->__('incl. VAT, ') ?><a href="<?php echo Mage::helper('cms/page')->getPageUrl('liefer-und-zahlungsbedingungen') ?>"><?php echo $this->__('Shipping costs excluded') ?></a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <?php echo $this->getLinksHTML($_product); ?>
                            <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                                <?php if (!$_product->canConfigure() && $_product->isSaleable() ): ?>
                                    <p class="action">
                                        <button type="button" title="<?php echo $this->__( 'Add to Cart' ) ?>"
                                                class="button btn-cart"
                                                onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                            <span><span><?php echo $this->__( 'Add to Cart' ) ?></span></span></button>
                                    </p>
                                <?php elseif (!$_product): ?>
                                    <p class="out-of-stock"><?php echo $this->__('Out of Stock') ?></p>
                                <?php endif; ?>
                            <?php endif; ?>

                            <?php if($_product->isComingSoon()): ?>
                                <p class="action availability coming-soon"><span><?php echo $this->__('Coming Soon') ?></span></p>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>