<?php
//
/** This is a  @see DirtDevil_Catalog_Block_Product_View */
/* Different from the UK because of reordering and additional sections */
$relatedCollection = $this->getProduct()->getRelatedProductIds();

$_productHelper =  Mage::helper('catalog/product');


$whatsInTheBoxList = $this->getProduct()->getData('whats_in_the_box_numbered');

?>
<div id="nav-wrap">
    <div class="product-feature-nav">
        <ul>
            <?php if( count($relatedCollection) > 0 ): ?>
                <li><a class="nav-middle nav spares active" href="#spares-and-accessories"><?php echo $this->__('Spares & Accessories') ?></a></li>
            <?php endif; ?>

                <?php if( $this->getProduct()->getData('product_features')): ?>
                    <li><a class="nav-first nav features" href="#features"><?php echo $this->__('Features') ?></a></li>
                <?php endif ?>
                <?php if( $whatsInTheBoxList && strlen(trim($whatsInTheBoxList)) > 0 ): ?>
                    <li><a class="nav-middle nav box" href="#whats-in-the-box"><?php echo $this->__("What's in the box?") ?></a></li>
                <?php endif ?>
                <?php if( !$this->isSpare() ):?>
                    <li><a class="nav-middle nav spec" href="#specifications"><?php echo $this->__('Specification') ?></a></li>
                <?php endif ?>
                    <li><a class="nav downloads" href="#downloads"><?php echo $this->__('Downloads') ?></a></li>
                <?php if( $_productHelper->hasReviews() ): ?>
                    <li><a class="nav reviews" href="#reviews"><?php echo $this->__('Reviews') ?> <span class="total-reviews"></span></a></li>
                <?php endif;?>
                <li><a class="nav faqs" href="#faqs"><?php echo $this->__('Questions') ?></a></li>
                <li><a class="nav-last top"><?php echo $this->__('Back to top') ?></a></li>
        </ul>
    </div>
</div>
<div class="nav-menu">
    <?php echo $this->getChildHtml('spares') ?>

    <?php echo $this->getChildHtml('feature') ?>
    <?php echo $this->getChildHtml('box') ?>
    <?php if( !$this->isSpare() ) echo $this->getChildHtml('specifications') ?>
    <?php echo $this->getChildHtml('product.attachments') ?>
    <?php if( $_productHelper->hasReviews() ) echo $this->getChildHtml('reviews') ?>
    <?php echo $this->getChildHtml('faqs') ?>
</div>