<?php
/* This is Vax_Icons_Block_Icons */
if ($this->hasIcons()): ?>
    <div id="product-features" class="product-icons">
        <?php for ($i = 1; $i <= $this->getNumberOfRows(); $i++): ?>
            <div class="product-icon-row">
                <?php foreach ($this->getIconRow($i) as $icon): ?>
                    <div class="product-icon<?php echo ' '. $icon->getCss_class();?>">
                        <div class="image" style="width: 86px; height: 63px; background-image: url(/media/<?php echo $icon->getImage();?>);">
                            &nbsp;
                        </div>

                        <div class="title<?php echo ' '. $icon->getCss_class();?>">
                            <?php echo $this->__($icon->getTitle());?>
                        </div>

                        <div class="desc">
                            <?php echo $this->__($icon->getDescription()); ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endfor; ?>
    </div>
<?php endif; ?>