<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
 * @see DirtDevil_Catalog_Block_Product_View_StockLevel
**/
?>
<?php if ($this->getIconClass()): ?>
<div class="stock-level">
    <div class="icon-<?php echo $this->getIconClass() ?>"><span></span></div>
    <div class="label"><?php echo $this->getIconLabel() ?></div>
</div>
<div class="clear"></div>
<?php endif; ?>