<?php
/**
 * @this Mage_Customer_Block_Account_Dashboard
 */
?>
<div class="dashboard">
    <ul>
        <li class="panel"><?php echo $this->getChildHtml('products.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('orders.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('gift.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('coupon.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('address.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('newsletters.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('wishlist.panel');?></li>
        <li class="panel"><?php echo $this->getChildHtml('account.panel');?></li>
    </ul>
</div>
