<?php
/**
 * $this: @see Vax_Customer_Block_Account_Navigation
 */
?>
<div class="block block-account">
    <div class="block-content">
        <ul><?php
            $_links = $this->getLinks();
            foreach ($_links as $_link): ?>
                <li <?php if ($this->isActive($_link)) echo 'class="current"' ;?>>
                    <a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
