<?php
/* Vax_LiveChat_Block_General */
$helper = $this->getTheHelper();
if ($helper->isEnabled() && $helper->getDeploymentID()):
    ?>
    <div id="<?php echo $this->getButtonId() ?>" class="liveagent chatContainer" style="display: none;">
        <div id="chatHeader"><?php echo $this->__('Need Help?'); ?></div>
        <a id="rejectChat" title="Close">X</a>

        <div id="chatCTA"><?php echo $this->__('Chat live to one of our advisers.'); ?></div>
        <a id="startChat" class="startChat start-chat-button" title="Chat Now" ><?php echo $this->__('Chat Now'); ?></a>
    </div>

    <?php echo $this->getChildHtml() ?>
<?php endif; ?>


