<?php
/* Vax_LiveChat_Block_Contact */
$helper = $this->getTheHelper();

if ($helper->isEnabled() && $helper->getDeploymentID()):

    ?>

    <div id="<?php echo $this->getButtonId(); ?>"  class="startChat btn-livechat accordion-stepcontacts_accordion accordion-step section chat_step" style="display: none; cursor: pointer;">
        <div class="icon"></div>
        <h5 class="accordion-title"><?php echo $this->__('Chat to Us'); ?></h5>
        <span class="opener"></span>
    </div>

    <?php echo $this->getChildHtml() ?>
<?php endif; ?>
