//--------------------------------------------------------------------
// Panel links in the bottom of cms pages
//--------------------------------------------------------------------
/*Block html template:
<div class="international-link">
	<div class="panel-color light-blue">
		<img alt="" src="icon.png" />
		<div class="header">Header</div>
		<a class="button" href="#">Go &gt;</a>
		<img alt="" src="vacuum.png" />
	</div>
</div>
*/
.panel-color {
	width: 100%;
	float: left;
	padding: 20px 10px 0px 20px;
	margin-bottom: 20px;
	position: relative;
	height: 150px;
	&.purple {
		background-color: $c-purple;
	}
	&.green {
		background-color: $c-green;
	}
	&.orange {
		background-color: $c-orange;
	}
	&.light-blue {
		background-color: $c-light-blue;
	}
	&.dark-blue {
		background-color: $c-blue;
	}
	.header {
		color: #FFF;
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		float: left;
		max-width: 40%;
		padding: 15px 0 0 15px;
	}
	img {
		float: left;
	}
	img:last-child {
		float: right;
		max-height: 130px;
		max-width: 40%;
	}
	a.button {
		text-decoration: none;
		color: white;
		background-color: $c-red;
		padding: 5px 10px;
		text-transform: uppercase;
		position: absolute;
		bottom: 20px;
		left: 20px;
		&:hover {
			color: white;
			background-color: darken($c-red, 10%);
		}
	}
}
.international-link {
	.panel-color {
        div.header {
          padding-left: 0;
        }
		img:last-child {
			position: absolute;
			top: 11px;
			right: 20px;
			height: 130px;
			max-height: 130px;
		}
	}
}
//links with headers on two lines
.registration-link,
.guarantee-conditions-link,
.international-link,
.dd-service-link,
.my-dd-link{
	.panel-color {
		.header {
			padding: 0px 0px 0px 0;
            max-width: 70%;
		}
        img{
          margin-top: -9px;
        }
	}
}

html:lang(de) {
  .registration-link{
    .panel-color {
      .header {
        padding: 0 0 0 15px;
      }
    }
  }
}

.dd-service-link {
  div.panel-color {
    div.header {
      padding-left: 0;
    }

    img {
      margin-top: -9px;
    }
  }
}

.cms-warranty-guarantee,
.cms-gewaehrleistung-garantie,
.cms-guarantee-conditions{
  .dd-service-link,
  .registration-link{
    width: 100%;
    margin: 0;
  }
}

@include bp(min-width, $bp-medium+1) {
	.panel-color {
		padding: 20px 30px 0;
		margin-bottom: 30px;
		.header {
			font-size: 23px;
			line-height: 25px;
			max-width: 50%;
			margin-right: -10%;
		}
		a.button {
			left: 30px;
		}
	}

    .cms-warranty-guarantee,
    .cms-gewaehrleistung-garantie,
    .cms-guarantee-conditions{
      .dd-service-link,
      .registration-link{
        width: 49%;
      }
    }

	//left panels - align to left
	.my-dd-link, .dd-service-link, {
		clear: left;
		width: 52%;
		margin-left: -30px;
	}

	//right panels - align to right
	.contact-us-link,
	.registration-link,
	.international-link,
	.guarantee-conditions-link {
		width: 52%;
		margin-right: -30px;
		float: right;
	}
}
@include bp(min-width, 1030px) {
	.panel-color {
		padding: 20px 20px 0 30px;
		a.button {
			left: 30px;
		}
	}
}

/* can't find the right vacuum block */
.catalog-category-view {
	.panel-color {
		padding: 30px 20px;
		height: auto;

		.header {
			padding: 0px 0px 0px 0px;
			max-width: 100%;
			margin-bottom: 37px;
		}

		p {
			color: #fff;
			clear: both;
			float: left;
		}

		p.small {
			font-size: $f-size-xxs;
			line-height: $f-size-xxs;
		}

		a.button {
			left: 0px;
			bottom: 0px;
			position: relative;
			float: left;
			clear: both;
			margin: 10px 0px 25px 0px;
		}
	}
}
