.cms-registration-sku {
	background-color: #0078BF;
	color: white;
	h2, .std h2 {
		color: white;
		text-transform: uppercase;
		font-size: 25px;
		line-height: 28px;
		width: 330px;
		padding: 40px;
		position: absolute;
	}
} 

