/******************************************************************************************************
/* General style for the CMS pages
/*****************************************************************************************************/
.cms-page-view,
.cms-no-route {
	* {
		font-family: $f-stack-sans;
	}
	.main-container {
		max-width: none;
		padding: 0;
		width: 100%;
	}
	.col-main {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.page-title, .page-title .page-title {
		padding: 20px;
		background-color: $c-blue;

		h1 {
			font-family: $f-stack-special;
			text-transform: none;
			color: white;
			font-weight: bold;
			font-size: 20px;
			line-height: 30px;
			max-width: 90%;
			margin: 0;
			padding: 0;
			&::after {
				content: "";
				position: absolute;
				float: right;
				display: inline-block;
				right: 20px;
				top: 40px;
			}
		}
	}

	.std {
		padding: 20px;
		* {
			font-size: 14px;
			line-height: 18px;
			color: $c-gray;
			font-style: normal;
			font-family: $f-stack-sans;
		}
		h2 {
			color: $c-gray;
			font-weight: bold;
			text-transform: none;
			margin-bottom: 15px;
		}

		h3, h4 {
			text-transform: none;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.small {
			font-size: 13px;
			line-height: 15px;
		}
		small {
			font-size: 12px;
			line-height: 14px;
		}
		p {
			margin: 0 0 22px;
		}
		dl {
			padding: 20px 0;
		}
		p, strong, a, li, span, p span, dl, dd, dt {
			font-style: normal;
			color: $c-gray;
			font-size: 15px;
			line-height: 17px;
			font-family: $f-stack-special;
		}
		a, li a {
			color: $c-red;
			text-decoration: underline;
			&:hover, &:active {
				color: darken($c-red, 10);
				text-decoration: none;
			}
		}
	}
}
.cms-no-route {
	.page-title {
		margin-top: -20px;
		margin-left: -20px;
		padding-right: 40px;
		margin-right: -20px;
	}
}

body.cms-warranty-guarantee.cms-page-view, body.cms-gewaehrleistung-garantie.cms-page-view {
  div.page-title {
    h1 {
      &:after {
        content: "";
        position: absolute;
        right: 20px;
        top: 10px;
        background: url('../images/template/warranty-icon.png') no-repeat;
        height: 52px;
        width: 52px;
        background-size: contain;
      }
    }
  }
}

body.cms-newsletter{
  .col-main{
    .std{
      clear: both;
      overflow: hidden;
    }
  }
}

body.cms-produkte.cms-page-view {
  div.page-title {
    h1 {
      &:after {
        content: "";
        position: absolute;
        right: 20px;
        top: 10px;
        background: url('../images/template/product-icon.png') no-repeat;
        height: 52px;
        width: 52px;
        background-size: contain;
      }
    }
  }
}

body.category-ersatzteile-und-zubehor,
body.category-spares-and-accessories {
  div.page-title {
    h1::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 10px;
        background: url('../images/template/spares-grey.png') no-repeat;
        height: 52px;
        width: 52px;
        background-size: contain;
      }
  }
}


@include bp(min-width, $bp-xsmall+1) {
	.cms-page-view,
	.cms-no-route  {
		.col-main .page-title, .page-title {
			h1 {
				font-size: 25px;
			}
			h1::after {
				top: 20px;
			}
		}
	}
}


@include bp(min-width, $bp-small+1) {
	.cms-page-view,
	.cms-no-route  {
		.col-main .page-title h1, .page-title h1 {
			max-width: 100%;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.cms-page-view,
	.cms-no-route {
		.std h2 {
			font-size: 21px;
		}
		.page-title, .col-main .page-title {
			padding: 0px;
			h1 {
				padding: 20px 30px;
				font-size: 35px;
			}
			h1::after {
				top: 20px;
			}
		}
	}

    .cms-agb,
    .cms-terms-and-conditions {
        .std {
            h2 {
                line-height: 21px;
            }
        }
    }

  body.cms-newsletter{
    .my-dd-link {
      width: 49%;
      margin-left: 0;
      float: left;
      .panel-color {
        margin-bottom: 0;
      }
    }
    .contact-us-link {
      width: 49%;
      margin-right: 0;
      .panel-color {
        margin-bottom: 0;
      }
    }
  }
}

@include bp(min-width, $bp-large+1) {
	.cms-page-view,
	.cms-no-route  {
		.col-main .std {
			max-width: 1000px;
			margin: 0 auto;
			padding: 30px;
			p, strong, a, li, dl, dd, dt  {
				font-size: 17px;
				line-height: 19px;
			}
		}
	}
	.cms-no-route {
		.page-title {
			margin: 0;
		}
		.col-main .std {
			padding: 0;
			dl {
				padding: 20px 30px;
			}
		}
	}
}

@include bp(min-width, 1030px) {
	.cms-page-view .std {
		padding: 30px;
	}
	.cms-no-route  {
		.col-main .std {
			padding: 0;
		}
	}
}
/*-------------------------------------------------------------------
/* Header Icons
/*/
.cms-newsletter .col-main {
	.page-title {
		h1::after {
			top: 10px;
			right: 20px;
            width: 50px;
            height: 50px;
            position: absolute;
			background: url('../images/template/newsletter-icon.png') no-repeat;
			background-size: contain;
		}
	}
}

.cms-about-us .col-main .page-title h1::after {
	top: 10px;
	background: sprite($mobile-icons, mobile-tail) no-repeat;
	@include sprite-dimensions($mobile-icons, mobile-tail);
}

.cms-registration-conditions,
.cms-guarantee-conditions {
	.col-main .page-title {
		background-color: $c-green;
		h1::after {
			top: 10px;
			background: sprite($mobile-icons, GuaranteeConditions_Icon) no-repeat;
			@include sprite-dimensions($mobile-icons, GuaranteeConditions_Icon);
		}
	}
}

@include bp(min-width, $bp-xsmall+1) {
	.cms-newsletter .col-main {
		.page-title {
			h1::after {
				top: 10px;
                background: url('../images/template/newsletter-icon.png') no-repeat;
                background-size: contain;
			}
		}
	}
}

@include bp(min-width, $bp-small+1) {
	.cms-newsletter,
	.cms-registration-conditions,
	.cms-guarantee-conditions  {
		.col-main .page-title h1::after {
			top: 10px;
		}
	}
}

@include bp(min-width, $bp-large+1) {
	.cms-about-us .col-main .page-title h1::after {
		background: sprite($mobile-icons, mobile-tail) no-repeat;
		@include sprite-dimensions($mobile-icons, mobile-tail);
	}
    .contacts-index-index{
      .main-container {
        .international-link {
          .panel-color{
            div.header{
              max-width: 70%;
            }
          }
        }
      }
    }
}
