//--------------------------------------------------------------------
// International service page
//--------------------------------------------------------------------
.cms-international-service {
	.col-main .page-title h1::after {
		top: 10px;
        background: url('../images/template/service-international.png') no-repeat;
        height: 52px;
        width: 52px;
        background-size: contain;
	}

	hr {
		color: $c-gray-5;

		margin-left: -20px;
		padding-right: 40px;
		margin-right: -20px;
	}
	ul {
		list-style: none;
	}
	.std ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
		}
	}
	.contact-list {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $c-gray-4;
		.entry {
			position: relative;
			padding-bottom: 20px;
			ul {
				li {
					display: inline-block;
				}
			}
		}
		.code {
			font-weight: bold;
			width: 20px;
		}
		.phone {
			min-width: 180px;
			margin: 0 20px 5px;
		}
		.email {
			font-weight: bold;
			margin: 0 45px 0;
		}
	}
}
@include bp(min-width, $bp-xsmall+1) {
	.cms-international-service {
		.col-main .page-title h1::after {
			top: 10px;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.cms-international-service {
		.std {
			h2 {
				font-size: 21px;
			}

			.contact-list {
				.code {
					padding-right: 40px;
				}
				.phone {
					margin-right: 0;
				}
				.email {

					padding-left: 0;
				}
			}
		}
	}
}
