<?php
/** This is a @var $this Vax_Registration_Block_Form */

    $product_name = "A DD Product";
    $uk_guarantee = "TBC";

    if($this->getRegistrationProduct()) {
        $product_name = $this->getRegistrationProduct()->getName();
        $uk_guarantee = $this->getRegistrationProduct()->getUkGuarantee();
    } else {
        echo 'Invalid product! Please contact Customer Service.';
    }
?>
<div id="messages-form">
    <?php
    echo $this->getMessagesBlock()->toHtml(); ?>
</div>

<?php if(Mage::getStoreConfig('vax_registration/salesforce_config/enabled')): ?>
    <iframe frameborder="0" scrolling="no" seamless="seamless" style="width: 100%; height: 1380px;" src="<?php echo Mage::helper('vax_registration/salesforce_config')->getHost(); ?>?modelNum=<?php echo urlencode($this->getRegistrationProduct()->getUkProductNo()); ?>"></iframe>
<?php else: ?>
    <form id="form-registration" class="form-horizontal" action="<?php echo $this->getFormAction(); ?>" method="post" no-validate="true" novalidate="novalidate">

        <h2 class="first">
            <?php echo $this->__('Contact Details'); ?>
        </h2>

        <fieldset id="fieldset-contact-details">

            <div class="control-group">
                <label class="control-label" for="contactDetails_prefix">
                    <?php echo __('Your title'); ?>
                </label>

                <div class="controls controls-title">
                    <select id="contactDetails_prefix" title="<?php echo __('Please select a title'); ?>" name="title" required>
                        <?php
                        $titles = Mage::helper('vax_registration/form')->getTitleOptions();
                        foreach ($titles as $index => $title) { ?>
                            <option value="<?php echo $index ?>" <?php if($this->getTitle() === $title):?>selected="true"<?php endif;?>>
                                <?php echo __($title); ?>
                            </option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="first_name">
                    <?php echo __('First Name'); ?>
                </label>

                <div class="controls">
                    <input type="text" name="first_name" placeholder="First Name" value="" title="<?php echo $this->__('Please enter your first name'); ?>" class="span4" id="first_name" required />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="surname">
                    <?php echo __('Surname'); ?>
                </label>

                <div class="controls">
                    <input type="text" name="surname" placeholder="Surname" value="" title="<?php echo $this->__('Please enter your last name'); ?>" class="span4" id="last_name" required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">
                    <?php echo __('Email Address'); ?>
                </label>

                <div class="controls controls-email">
                    <input type="text" type="email" name="email" email placeholder="Email Address" value="" title="<?php echo $this->__('Please enter your email address'); ?>" class="span4" id="email" required />
                    <p class="ac" id="status-message"></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="telephone">
                    <?php echo __('Telephone'); ?>
                </label>

                <div class="controls">
                    <input type="number" name="telephone" placeholder="Telephone" value="" title="<?php echo $this->__('Please enter your telephone number'); ?>" class="span4" id="telephone" required ukphone="true"/>
                    <span class="comment"><?php echo $this->__('We need this number to call you if there is a problem with your registration') ?></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="postcode">
                    <?php echo __('Postcode'); ?>
                </label>

                <div class="controls">

                    <div class="input-append">
                        <input type="text" name="postcode" value="" title="<?php echo $this->__('Please enter a valid postcode'); ?>" class="input-text" id="postcode"/>
                        <button class="btn btn-search-address btn-search-billing-address btn-selector">Search</button>
                    </div>
                </div>
            </div>

            <div class="control-group address-line-1">
                <label class="control-label" for="address">
                    <?php echo __('Address'); ?>
                </label>

                <div class="controls">
                    <input type="text" name="address" placeholder="Address Line 1" value="" title="<?php echo $this->__('Please enter the first line of your address'); ?>" class="span4" id="address" required/>
                </div>
            </div>

<!--            <div class="control-group address-line-1">
                <label class="control-label" for="address">
                    <?php // echo __('Address'); ?>
                </label>

                <div class="controls">
                    <textarea type="text" name="address" placeholder="Address Line 1" value="" title="<?php // echo $this->__('Please enter the first line of your address'); ?>" class="span4" id="address" required>
                    </textarea>
                </div>
            </div>
-->
            <div class="control-group address-line-2">
                <label class="control-label control-label-2" for="address">

                </label>
                <div class="controls">
                    <input type="text" name="address2" placeholder="Address Line 2" value="" class="input-text span4" id="address2" />
                </div>
            </div>
            <div class="control-group address-search" style="display: none;">
            </div>

            <div class="control-group">
                <label class="control-label" for="town">
                    <?php echo __('City'); ?>
                </label>

                <div class="controls">
                    <input type="text" name="town" placeholder="City" value="" title="<?php echo $this->__('Please enter your city'); ?>" class="span4" id="town" required/>
                </div>
            </div>

            <?php if(Mage::helper('vax_registration/form')->isRegistrationCountyEnabled()): ?>
                <div class="control-group">
                    <label class="control-label" for="county">
                        <?php echo __('County'); ?>
                    </label>

                    <div class="controls">
                        <input type="text" name="county" placeholder="County" value="" title="<?php echo $this->__('Please enter county'); ?>" class="span4" id="county" required/>
                    </div>
                </div>
            <?php endif; ?>
        </fieldset>

        <h2>
            <?php echo $this->__('Purchase Details'); ?>
        </h2>

        <fieldset id="fieldset-purchase-details">

            <div class="control-group">
                <label class="control-label" for="model">
                    <?php echo __('Model'); ?>
                </label>

                <div class="controls product-name">
                    <?php echo $product_name; ?>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="duration">
                    <?php echo __('Warranty Duration'); ?>
                </label>

                <div class="controls guarantee">
                    <?php echo $uk_guarantee; ?>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="serial_number">
                    <?php echo __('Serial Number'); ?>
                </label>

                <div class="controls">
                    <input type="number" name="serial_number" placeholder="Serial Number" value="" title="<?php echo $this->__("Please enter the product's serial number"); ?>" class="span4" id="serial_number" required />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pur_date">
                    <?php echo __('Purchase Date'); ?>
                </label>

                <div class="controls">
                    <select id="pur_date" name="pur_date" class="span4" title="<?php echo $this->__("Please select a purchase date"); ?>" required>
                        <option value="" >[ Please select ]</option>
                        <?php
                        $start_date = date("Y/m/d", strtotime("- 28 days"));
                        $date = date("Y-m-d", strtotime("now"));

                        while (strtotime($date) >= strtotime($start_date)) {
                            $formatted_date = date("jS F Y", strtotime($date));
                            $stored_date = date("Y-m-d", strtotime($date));

                            echo "<option value='$stored_date'>$formatted_date</option>";
                            $date = date ("Y-m-d", strtotime("-1 day", strtotime($date)));
                        }
                        ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pur_price">
                    <?php echo __('Price £'); ?>
                </label>

                <div class="controls">
                    <input type="text" name="pur_price" value="" placeholder="e.g. 129.99" title="<?php echo $this->__('Please enter the purchase price'); ?>" class="span4" id="pur_price" required/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pur_location">
                    <?php echo __('Point of Purchase'); ?>
                </label>

                <div class="controls">
                    <select name="pur_location" value="" title="<?php echo $this->__('Please select the purchase location'); ?>" class="span4" id="pur_location" required>
                        <option value="">          <?php echo $this->__('Please select purchase location'); ?></option>
                        <option value="argos">     Argos</option>
                        <option value="dirtdevil"> Dirt Devil Online</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <h2>
            <?php echo $this->__('Keep in Touch'); ?>
        </h2>

        <fieldset id="fieldset-newsletter">
            <label class="checkbox">
                <input type="checkbox" name="mail_opt" value="1" checked="checked" class="checkbox" id="mail_opt" />
                <?php echo $this->__('Yes, please send me tips on how to get the most from my DirtDevil, as well as exclusive offers and discounts'); ?>
            </label>

            <div class="control-group submit-button">
	            <div class="controls">
                    <button type="submit" id="btn-submit-registration" class="btn btn-success">
                        <?php echo $this->__('Submit'); ?>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

    <p class="terms terms-privacy">
          <?php echo $this->__('By submitting this form you agree to the terms of our'); ?>
          <a href="<?php echo Mage::getBaseUrl().'privacy-policy'; ?>" title"<?php echo $this->__('Privacy policy'); ?>">
              <?php echo $this->__('privacy policy'); ?>
          </a>
    </p>

    <p class="terms terms-guarantee">
            <?php echo $this->__('Find out more information about'); ?>
            <a href="<?php echo  Mage::getBaseUrl().'terms-and-conditions-of-sale'; ?>" title"<?php echo $this->__('terms of sale'); ?>">
                <?php echo $this->__('the terms and conditions of sale'); ?>
            </a>
    </p>
<?php endif; ?>
