<div id="registration-wrap">
    <div id="product-selector-container">
        <div class="content" id="search-reg-content">
            <?php echo $this->getChildHtml(); ?>
        </div>
    </div>
</div>
