<div class="text-info">
<h2 class="first"><?php echo $this->__('Thank You') ?></h2>
    <?php if($this->getRegistrationDetails()): ?>
        <p><?php echo $this->__('Thank you for registering your %d year guarantee', $this->getRegistrationDetails()->getWarranty()); ?></p>
        <p><?php echo $this->__('Your unique registration code is: %d', $this->getRegistrationDetails()->getId()); ?></p>

        <h2><?php echo $this->__('Guarantee Details') ?></h2>
        <p><?php echo $this->__('Please print a copy of these details and keep it in a safe place with your proof of purchase, as you will need these should you wish to make a claim') ?>.</p>

        <table id="registration-summary" border="0">
            <tr>
                <td class="label"><?php echo $this->__('Registration code'); ?>:</td>
                <td><?php echo $this->getRegistrationDetails()->getId(); ?></td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__('Model Number'); ?>:</td>
                <td><?php echo $this->getRegistrationProduct()->getName(); ?> <?php echo $this->getRegistrationProduct()->getUkProductNo() ?></td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__('Serial Number'); ?>:</td>
                <td><?php echo $this->getRegistrationDetails()->getSerialNumber(); ?></td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__('Guarantee Duration'); ?>:</td>
                <td><?php echo $this->__('%d year', $this->getRegistrationDetails()->getWarranty()); ?></td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__('Date of Purchase'); ?>:</td>
                <td><?php echo date('dS F Y', strtotime($this->getRegistrationDetails()->getPurDate())); ?></td>
            </tr>
        </table>
    <?php else: ?>
        <p><?php echo $this->__('Thank you for registering your guarantee') ?></p>
    <?php endif; ?>
    
    <p><?php echo $this->__('Confirmation of registration has also been sent to your email address with full terms and conditions of your guarantee') ?>.</p>

    <?php echo $this->getChildHtml('vax_uk_contact_us'); ?>

    <div id="reg-crosssells" class="crosssells">
        <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled()): ?>
            <?php echo $this->getChildHtml('crosssell'); ?>
        <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
    function updateCsMargin()
    {
        if ($j(window).width() >= 480) {
            grid = $j('#reg-crosssells ul.products-grid').css({'margin-left': 0});
            return;
        }
        grid = $j('#reg-crosssells ul.products-grid');
        item = $j(grid.find('li')[0]);
        noi = Math.floor(grid.width()/item.width());
        grid.css('margin-left', (grid.parent().width()-noi*item.outerWidth())/2 + 'px');
    }
    $j(document).ready(updateCsMargin);
    $j(window).on('delayed-resize', function (e, resizeEvent) { updateCsMargin(); });
</script>