<div class="page-title">
    <?php if($this->getTitle()): ?>
    <h1><?php echo $this->__($this->getTitle()) ?></h1>
    <?php endif; ?>
    <?php if($this->getSubTitle()): ?>
        <div class="subtitle"><?php echo $this->__($this->getSubTitle()) ?></div>
    <?php endif; ?>
</div>
