
<div id="payment-methods-wrapper">
<?php
/**
* this is @see Vax_Checkout_Block_Onepage_Form_Payment_Details
*/
?>
<?php $methods = array_reverse($this->getMethods()); ?>
    <?php if (!$this->getRemoveForm()): ?>
    <form id="payment-details-form" class="checkout-form form-inline form-horizontal" novalidate="novalidate" action="post" name="checkout-payment-details">
        <?php endif; ?>
        <div class="clearfix"></div>
        <hr />
        <?php if (count($this->getMethods())) : ?>
        <?php foreach ($methods as $method) { ?>
        <div class="control-group payment-method">

            <div class="controls">
                <input id="<?php echo $method->getCode(); ?>_method" class="radio pay-method" value="<?php echo $method->getCode(); ?>" type="radio" name="payment[method]" title="<?php echo $this->__('Please select a payment method'); ?>" required aria-required="true" />
                <label class="control-label payment-method-label label-<?php echo $method->getCode(); ?>">
                    <?php echo $method->getTitle(); ?>
                </label>
                <div class="clearer"></div>
                <span class="info" style="display: none;"></span>
            </div>
        </div>
        <?php echo $this->getPaymentMethodFormHtml($method); ?>
        <div class="clearer"></div>
        <hr />
    <?php } ?>
    <div class="controls controls-tac">
        <input id="agree-toc" class="checkbox" value="<?php echo $method->getCode(); ?>" type="checkbox" name="payment[tac-agree]" required="true" title="<?php echo $this->__("Please agree to the Terms and Conditions") ?>" />
        <label class="control-label agree-toc">
            <?php echo $this->__('I agree to the'); ?> <a href="<?php echo Mage::app()->getLocale()->getLocaleCode() != 'de_DE' ? $this->getSkinUrl('media/General-Terms-and-Conditions-Royal-Appliance-International-GmbH-20141126.pdf') : $this->getSkinUrl('media/AGB-Royal-Appliance-International-GmbH-20141126.pdf') ?>" target="_blank"><?php echo $this->__('Terms and Conditions') ?></a>
        </label>
        <div class="clearer"></div>
        <span class="info" style="display: none;"></span>
    </div>
        <?php else: ?>
            <?php echo $this->__('No payment methods available.') ?>
        <?php endif; ?>
<?php if (!$this->getRemoveForm()): ?>
</form>
<?php endif; ?>
</div>
<script>
    $j(document).ready(function(){
        // set Card Payment as default if no payment option has been chosen
        var nothingChecked = true;
        jQuery('.payment-method .radio').each(function(){
            if($j(this).checked) {
                nothingChecked = false;
            }
        });

        // show Card Payment form
        if ($j("#realexdirect_method").length && document.getElementById('realexdirect_method').checked) {
            $j("#payment_form_realexdirect").show();
        }

        // hide the form if the user selects something else
        $j('.pay-method').click(function(){
            if($j(this).attr('id') === 'paypal_standard_method') {
                $j(this).parent().parent().siblings('.clearer').show();
                $j(this).siblings('.clearer').show();
            } else {
                $j('.payment-method .info').hide();
                $j('#billing-payment-details-form div.clearer').hide();
            }

            $j('.payment-form').hide();
            $j(this).siblings('.payment-form').show();
        });
    });
</script>
<div id="no-payment-methods-alert" style="display: none">
    <?php echo $this->__('There are no payment methods available for this order.') ?>
</div>
