<div id="shipping-methods">
    <div class="methods">
        <?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
            <form id="coshipping-method-form" action="<?php echo $this->getUrl('checkout/cart/updateShipping'); ?>">
                <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
                    <ul>
                        <?php foreach ($_rates as $_rate): ?>
                            <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
                                <?php if ($_rate->getErrorMessage()): ?>
                                    <?php echo $_rate->getErrorMessage(); ?>
                                <?php else: ?>
                                    <div class="delivery-method-input">
                                        <input name="estimate_method" type="radio" value="<?php echo $this->htmlEscape($_rate->getCode()); ?>" id="s_method_<?php echo $_rate->getCode(); ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
                                    </div>
                                    <div class="delivery-method-label">
                                        <label for="s_method_<?php echo $_rate->getCode(); ?>">
                                            <?php echo $_rate->getMethodTitle(); ?>
                                        </label>
                                        <?php if ($this->showToolTips($_rate->getMethodDescription())): ?>
                                            <p class="method-description"><?php echo $_rate->getData('method_description'); ?></p>
                                        <?php endif ?>
                                        <?php if(Mage::helper('vax_delivery')->isNominatedDeliveryDisableViaOutlier()): ?>
                                        <span class="outlier" style="color: #CF5050;">Sorry next day delivery is unavailable for customers living in outlying regions of the UK</span>
                                        <?php endif; ?>
                                    </div>
                                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                        <div class="delivery-method-price">
                                            <?php echo $_rate->getPrice() ? $_excl : $this->__('Free'); ?>
                                            <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                                (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                <?php if (Mage::helper('core')->isModuleEnabled('Vax_Delivery') && Mage::helper('vax_delivery/cart')->canDisplayDeliveryDates($_rate)): ?>
                                    <div class="delivery-date">
                                        <select name="address_delivery_shipping_date" id="address_delivery_shipping_date">
                                            <?php foreach (Mage::helper('vax_delivery/cart')->getAvailableDeliveryDates() as $time): ?>
                                                <option <?php if(date('l jS F', $time) == Mage::helper('vax_delivery/cart')->getCurrentDeliveryDate()): ?>selected<?php endif; ?> value="<?php echo $time ?>"><?php echo date('l jS F', $time) ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                <?php endif; ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endforeach; ?>
                <?php if (Mage::helper('vax_delivery')->isStocktakeMessageEnabled()): ?>
                    <tr class="delivery-message delivery">
                        <td class="desc" colspan="2">
                            <div class="outlier" style="color:red;"><?php echo Mage::helper('vax_delivery')->getStocktakeMessage() ?></div>
                        </td>
                    </tr>
                <?php endif; ?>
            </form>
        <?php endif; ?>
        <?php if(Mage::helper('vax_checkout/checkout')->isStocktakeMessageEnabled()): ?>
             <div class="outlier"><?php echo Mage::helper('vax_checkout/checkout')->getStocktakeMessage() ?></div>
         <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var coShippingMethodForm = new VarienForm('shipping-zip-form');
    var countriesWithOptionalZip = <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>;
    coShippingMethodForm.submit = function () {
        var country = $F('country');
        var optionalZip = false;
        for (i=0; i < countriesWithOptionalZip.length; i++) {
            if (countriesWithOptionalZip[i] == country) {
                optionalZip = true;
            }
        }
        if (optionalZip) {
            $('postcode').removeClassName('required-entry');
        }
        else {
            $('postcode').addClassName('required-entry');
        }
        return VarienForm.prototype.submit.bind(coShippingMethodForm)();
    }
    function updateShipping() {
        var form = $j('#coshipping-method-form').clone();
        var formp = $('coshipping-method-form');
        var url = formp.action;
        //url = url.replace('/cart/estimateUpdatePost', '/icart/updateShipping');
        //url=iCart.checkProtocol(url);
        if ($j('#s_method_productmatrix_Free_Nominated_Delivery:checked').length === 0 && $j('#s_method_productmatrix_Nominated_Delivery:checked').length === 0 ) {
            form.find('#address_delivery_shipping_date').val(null);
        } else {
            form.find('#address_delivery_shipping_date').val($j('#address_delivery_shipping_date').val());
        }
        new Ajax.Request(url,{
            method: 'post',
            parameters: form.serialize(),
            onSuccess:function(transport){
                var response=new String(transport.responseText);
                //iCart._eval(response);
                $j('#shipping-methods .methods').removeClass('active');
            }
        });
    }
    function selectRate() {
        if ($j('#shipping-methods input.radio:checked').length === 0) {
            $j('#shipping-methods input.radio:first').prop('checked', true);
            updateShipping();
        }else {
            updateShipping();
        };
    }
    function updateShippingMethods() {
        var form = $('coshipping-method-form');
        var url = form.action;
        //url = url.replace('/cart/estimateUpdatePost', '/icart/updateShippingMethods');
        //url=iCart.checkProtocol(url);
        new Ajax.Request(url,{
            method: 'post',
            parameters: form.serialize(),
            onSuccess:function(transport){
                var response=new String(transport.responseText);
                //iCart._eval(response);
                $j('#shipping-methods .methods').removeClass('active');
            }
        });
    }
    $j().ready(function() {
        elt = $j('#shopping-cart-totals-table td.delivery').parent().detach();
        $j('#shopping-cart-totals-table tbody').prepend(elt);
        $j('#shipping-methods input.radio').click(function(event){
            updateShipping();
        });
        $j('#address_delivery_shipping_date').change(function(ev){
            $j('#s_method_productmatrix_Free_Nominated_Delivery').click();
            updateShipping();
        });
        $j('.update-btn').click(updateShippingMethods);
        selectRate();
        //var updateIcart = iCart.updateCart.bind(iCart);
        //iCart.updateCart = function(url,el) {
        //    updateIcart(url,el);
        //}
    });
    //]]>
</script>
