<?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
        <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
            <ul>
                <?php foreach ($_rates as $_rate): ?>
                    <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
                        <?php if ($_rate->getErrorMessage()): ?>
                            <?php echo $_rate->getErrorMessage(); ?>
                        <?php else: ?>
                            <input name="estimate_method" type="radio" value="<?php echo $this->htmlEscape($_rate->getCode()); ?>" id="s_method_<?php echo $_rate->getCode(); ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
                            <label for="s_method_<?php echo $_rate->getCode(); ?>">
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                <?php echo $_excl; ?>
                                <?php echo $_rate->getMethodTitle(); ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                            </label>
                           <?php if ($this->showToolTips($_rate->getMethodDescription())): ?>
                                <p class="method-description"><?php echo $_rate->getData('method_description'); ?></p>
                            <?php endif ?>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php endforeach; ?>
<?php endif; ?>
<script type="text/javascript">
    $j('#shipping-methods input.radio').click(function(event){
        $j(event.target).parent().parent().parent().parent().addClass('active');
        updateShipping();
    });
    $j('#shipping-methods ul li input').first().trigger('click');
</script>