/** Subscription promo block **/
div.subscription-promo {
  background: #f6cf3f;
  float: right;
  width: auto;
  min-width: 280px;
  padding: 15px 20px;
  position: relative;
  text-align: left;

  h4 {
    text-transform: none;
    color: $c-gray;
    z-index: 10;
    font-weight: bold;
  }

  .promo {
    color: $c-gray;
    max-width: 170px;
    z-index: 10;
    position: relative;
    line-height: 1;

    a:hover {
      text-decoration: none;
    }

    button.button {
      clear: both;
      display: block;
      background: $c-red;
      color: #fff;
      z-index: 10;
      margin-top: 10px;

      &:hover {
        background: darken($c-red, 5%);
      }
    }
  }

  div.bg {
    width: 120px;
    height: 120px;
    background: url('../images/template/subscription-promo-bg.jpg') no-repeat;
    background-size: contain;
    position: absolute;
    right: -10px;
    top: 24px;
    z-index:1;
  }
}