/****************************************
* Homepage banners
*****************************************/

.cms-home, .cms-index-index {
    .banner-container {
		.banner {
			ul {
				// reset uk fix
				li:last-child {
					margin-left: 0;
					> .homepage-banner {
						margin-left: 0;
					}
				}
			}
		}
        .banner-content {
            max-height: 90px;
	        min-height: 89px;
	        padding: 30px 0;
            .description {
	            margin: 0 auto;
	            width: auto;
	            * {
		            text-align: center;
	            }
                .banner-button {
	                margin: 0 auto;
	                display: inline-block;
                }
            }
        }
	    .banner-controls {
		    bottom: 67px;
		    &.grey {
			    .unslider-arrow.prev
			    {
				    background: sprite($mobile-icons, slider-arrow-left-grey) no-repeat;
				    @include sprite-dimensions($mobile-icons, slider-arrow-left-grey);
			    }
			    .unslider-arrow.next
			    {
				    float: right;
				    background: sprite($mobile-icons, slider-arrow-right-grey) no-repeat;
				    @include sprite-dimensions($mobile-icons, slider-arrow-right-grey);
			    }
		    }

		    .unslider-arrow.prev:hover,
		    .unslider-arrow.prev:active
		    {
			    background: sprite($mobile-icons, slider-arrow-left-red) no-repeat;
			    @include sprite-dimensions($mobile-icons, slider-arrow-left-red);
		    }
		    .unslider-arrow.next:hover,
		    .unslider-arrow.next:active
		    {
			    float: right;
			    background: sprite($mobile-icons, slider-arrow-right-red) no-repeat;
			    @include sprite-dimensions($mobile-icons, slider-arrow-right-red);
		    }
	    }
	    .dots li {
		    font-size:12px;
		    text-transform: capitalize;
			color: $c-gray;
	    }
    }
}

/*****************************************************
* Homepage banners - Large Mobile phone screens
******************************************************/
@include bp(min-width, 360px) {
	.cms-home, .cms-index-index {
		.banner-container .banner {
			min-height: 200px;
		}
	}
}
@include bp(min-width, $bp-xsmall + 1) {
	.cms-home, .cms-index-index {
		.banner-container {
			.banner {
				min-height: 320px;
			}
		}
	}
}

/*****************************************************
* Homepage banners - Medium screens
******************************************************/
@include bp(min-width, $bp-medium + 1) {
    .cms-home, .cms-index-index {
        .banner-container {
			float: left;
			width: 65%;
			padding-bottom: 0px;
			max-height: 328px;
			height: 328px;
			.banner {
				max-height: 328px;
				min-height: 328px;
				ul {
					max-height: 294px;
					margin-bottom: 1px;

					// prevent last image from going under on some screen widths
					// and make sure that parts of it don't appear as a right line on the banner before it
					li:last-child {
						margin-right: -1%;
						> .homepage-banner {
						  	margin-left: 0.5%;
						}
					}
				}
			}

			.banner-image.desktop {
				display: block;
				max-height: 294px;
				width: 100%;
				margin: 0 auto;
				max-width: 100%;
			}
			.dots {
				display: inline-block !important;

				li {
					margin-top: 0px;
					box-shadow: none;
				}
			}
			.dots, .dots li {
				height: 33px;
				line-height: 33px;
				font-size: 14px;
				text-transform: none;
			}
	        .banner-controls {
		        opacity: 0;
				margin-top: -50px;
	        }
            .banner-content {
	            height: 100%;
	            max-height: none;

                .description {
	                height: 100%;
	                .content-box {
		                height: 100%;
	                }
	                a.banner-button,
	                a.banner-button:hover,
	                a.banner-button:active {
		                height: 100%;
						width: 100%;
		                position: absolute;
		                top: 0;
		                left: 0;
		                background-color: transparent;

		                // this is truly important because it overrides the button text color
		                // which is set in the admin, and is used for the mobile version
		                color: transparent !important;
	                }
                }
            }
        }
	}
}

@include bp(min-width, $bp-large + 1) {
	.cms-home, .cms-index-index {
		.banner-container {
			width: 60%;
		}
	}
}

@include bp(min-width, 1031px) {
	.cms-home, .cms-index-index {
		.banner-container {
			width: 65%;
		}
	}
}
