<?php /** *
 *  @see Mage_Review_Block_Helper
 */?>
<?php if ($this->getReviewsCount()): ?>
    <div class="ratings">
        <?php if ($this->getRatingSummary()):?>
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"></div>
            </div>
        <?php endif;?>
        <span class="amount">
            <a href="<?php echo $this->getProduct()->getUrl()?>#reviews" class="rating-links">
                <?php if($this->getReviewsCount() == 1): ?>
                    <?php echo $this->__('1 Review') ?>
                <?php else: ?>
                    <?php echo $this->__('%d Reviews', $this->getReviewsCount()) ?>
                <?php endif; ?>
            </a>
        </span>
    </div>
<?php elseif ($this->getDisplayIfEmpty()): ?>
    <p class="no-rating"><a href="<?php echo $this->getReviewsUrl() ?>#review-form"><?php echo $this->__('Be the first to review this product') ?></a></p>
<?php endif; ?>
