<table id="cart-summary">
    <thead>
        <tr>
            <th class="summary">
                <div class="basket-icon"></div>
                <?php echo $this->__('Order Summary') ?>
            </th>
            <th class="edit-action">
                <a href="<?php echo $this->getUrl('checkout/cart'); ?>" title="<?php echo $this->__('Edit order') ?>" class="return-to-cart"><?php echo $this->__('Edit order') ?></a>
            </th>
        </tr>
    </thead>
</table>
<table id="cart-summary">
    <tbody>
        <?php foreach ($this->getItems() as $item) { ?>
            <tr class="cart-line">
                <td class="desc">
                    <span class="product-name"><?php echo $item->getName(); ?></span>
                    <br />
                    <span class="qty"><?php echo $this->__('QTY') ?> <?php echo $item->getQty();?></span>
                </td>
                <td class="price" data-price="<?php echo $this->helper('checkout')->getSubtotalInclTax($item); ?>">
                    <?php $price = $this->helper('checkout')->getSubtotalInclTax($item); ?>
                    <?php echo ($price - (float)$item->getItemDiscount()) ? Mage::helper('vax_checkout/checkout')->formatPrice($price - (float)$item->getItemDiscount()) : $this->__('Free'); ?>
                </td>
            </tr>
        <?php } ?>
        <?php if ($this->getShippingDescription()) { ?>
            <tr class="delivery sidebar-total">
                <td class="desc">
                    <?php echo $this->getShippingDescription(); ?>
                </td>
                <td class="price" data-price="<?php echo $this->getShippingAmount(); ?>">
                    <?php echo Mage::helper('vax_checkout/checkout')->formatPrice($this->getShippingAmount()); ?>
                </td>
            </tr>
        <?php } ?>
        <?php if (Mage::helper('vax_delivery')->isStocktakeMessageEnabled()): ?>
            <tr class="delivery-message delivery">
                <td class="desc" colspan="2">
                    <div class="outlier" style="color:red;"><?php echo Mage::helper('vax_delivery')->getStocktakeMessage() ?></div>
                </td>
            </tr>
        <?php endif; ?>
        <?php $discount = $this->getQuote()->getOrderDiscount(false) ?>
        <?php if ($discount > 0): ?>
            <tr class="discount sidebar-total">
                <td class="desc">
                    <?php echo $this->__('Additional Basket Discount(s)'); ?>
                </td>
                <td class="price" data-price="<?php echo -$discount; ?>">
                    <?php echo Mage::helper('vax_checkout/checkout')->formatPrice(-$discount); ?>
                </td>
            </tr>
        <?php endif; ?>
    </tbody>
</table>
<table id="cart-summary">
    <tfoot class="totals">
        <tr id="grand-total">
            <td class="grand-total-label">
                <?php echo $this->__('Total') ?>
            </td>
            <td class="price grand-total" data-price="<?php echo $this->getGrandTotal(); ?>">
                <?php echo $this->helper('vax_checkout/checkout')->formatPrice($this->getGrandTotal()); ?>
            </td>
        </tr>

        <?php $totalDiscount = Mage::helper('checkout/cart')->getQuote()->getTotalDiscount(true); ?>
        <?php if($totalDiscount > 0) : ?>
        <tr class="savings-discounts">
            <td colspan="2">
                <span class="savings">
                    <?php echo $this->__('Today you have saved %s', Mage::helper('core')->currency($totalDiscount, true, false)); ?>
                </span>
            </td>
         </tr>
        <?php endif; ?>
    </tfoot>
</table>
<div class="secure-checkout">
    <p>
        <?php echo $this->__('Secure checkout with') ?><br />
        <img src="<?php echo $this->getSkinUrl('images/template/secure_btns.jpg') ?>" alt="Secure Payment Methods" />
    </p>
</div>
<input type="hidden" value="<?php echo $this->getQuote()->getSubtotal(); ?>" id="ve_totalbasketnovat">
<div >
</div>
