<div id="coupon-code" class="ajax-placeholder">
    <div class="ajax-loader" id="coupon-code-loader"></div>
    <div class="header">
        <a href="#" id="coupon-code-toggle" title="<?php echo $this->__('Add a voucher code') ?>"><?php echo $this->__('Add a voucher code') ?></a>
    </div>
    <div class="desc" style="">
        <form id="form-coupon-code" action="<?php echo $this->getUrl('checkout/cart/couponApply') ?>" method="post">
            <label for="coupon_code"><?php echo $this->__('Enter your voucher code:'); ?></label>
            <input type="hidden" name="remove" id="remove-coupon" value="0" />
            <?php if(!strlen($this->getCouponCode())): ?>
                <input class="input-text required-entry" id="coupon_code" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()); ?>" />
                <button class="button" onclick="discountForm.submit(false)" type="button" value="<?php echo $this->__('Apply'); ?>">
                    <?php echo $this->__('Apply'); ?>
                </button>
            <?php else: ?>
                <input class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()); ?>" />
                <button  type="button" class="button btn-cancel" onclick="discountForm.submit(true)" value="<?php echo $this->__('Cancel'); ?>">
                    <?php echo $this->__('Cancel'); ?>
                </button>
                <button type="button" class="button" onclick="discountForm.submit(false)" value="<?php echo $this->__('Apply'); ?>">
                    <?php echo $this->__('Apply'); ?>
                </button>
            <?php endif;?>
        </form>
    </div>
</div>
<?php
//echo $this->getChildHtml('coupon.messages');
//$block = $this->getLayout()->getBlock('coupon.messages');
//if($block) {
//    echo $block->getHtml();
//}
//?>


<script type="text/javascript">
    //<![CDATA[
    var discountForm    = new VarienForm('form-coupon-code');
    discountForm.submit = function (isRemove) {
        if (isRemove) {
            $('coupon_code').removeClassName('required-entry');
            $('remove-coupon').value = "1";

            $j.ajax({
                type: "POST",
                url: $j('#form-coupon-code').attr('action'),
                data: $j('#form-coupon-code').serialize(),
                success: function(data) {
                    $j('.main').html($j(data).find('div.main').html());
                    setTimeout(function() {$j('img').unveil();}, 50);
                    $j('#coupon-code-loader').hide();

                 <?php if (Mage::getStoreConfigFlag('vax_productmatrix/nominated_delivery/is_enabled')): ?>
                    $j.ajax({
                        type: "POST",
                        url: "/checkout/cart/getUpdateNominated",
                        success: function(data) {
                            theText = data.date;
                            $j("#address_delivery_shipping_date option").each(function() {
                                if($j(this).text() == theText) {
                                    $j("#address_delivery_shipping_date").val($j(this).val());
                                }
                            });
                            $j('#s_method_productmatrix_Free_Nominated_Delivery').click();
                        }
                    });
                 <?php endif;?>
                },
                error: function() {
                    $j('#coupon-code-loader').hide();
                },
                complete: function() {
                    $j('#coupon-code-loader').hide();
                },
                beforeSend: function() {
                    $j('#coupon-code-loader').show();
                }
            });
        } else {
            if (!discountForm.validator || ! discountForm.validator.validate()) {
                return;
            }

            $('coupon_code').addClassName('required-entry');
            $('remove-coupon').value = "0";
            if ($F('coupon_code')) {
                $j.ajax({
                    type: "POST",
                    url: $j('#form-coupon-code').attr('action'),
                    data: $j('#form-coupon-code').serialize(),
                    success: function(data) {
                        $j('.main').html($j(data).find('div.main').html());
                        setTimeout(function() {$j('img').unveil();}, 50);
                        $j('#c  oupon-code-loader').hide();

                     <?php if (Mage::getStoreConfigFlag('vax_productmatrix/nominated_delivery/is_enabled')): ?>
                        $j.ajax({
                            type: "POST",
                            url: "/checkout/cart/getUpdateNominated",
                            success: function(data) {
                                theText = data.date;
                                $j("#address_delivery_shipping_date option").each(function() {
                                    if($j(this).text() == theText) {
                                        $j("#address_delivery_shipping_date").val($j(this).val());
                                    }
                                });
                                $j('#s_method_productmatrix_Free_Nominated_Delivery').click();
                            }
                        });
                     <?php endif;?>
                    },
                    error: function() {
                        $j('#coupon-code-loader').hide();
                    },
                    complete: function() {
                        $j('#coupon-code-loader').hide();
                    },
                    beforeSend: function() {
                        $j('#coupon-code-loader').show();
                    }
                });
            }
        }
    }
    //]]>
</script>
<script type="text/javascript">
    $j(document).ready(function() {
        $j('#coupon-code-toggle').off('click');
        $j('#coupon-code-toggle').on('click', function(event){
            event.stopPropagation();
            $j('#coupon-code .desc').slideToggle();
            return false;
        });

        <?php if (Mage::getStoreConfigFlag('vax_productmatrix/nominated_delivery/is_enabled')): ?>
        $j.ajax({
            type: "POST",
            url: "/checkout/cart/getUpdateNominated",
            success: function(data) {
                theText = data.date;
                $j("#address_delivery_shipping_date option").each(function() {
                    if($j(this).text() == theText) {
                        $j("#address_delivery_shipping_date").val($j(this).val());
                    }
                });
                $j('#s_method_productmatrix_Free_Nominated_Delivery').click();
            }
        });
        <?php endif;?>
    });
</script>