<?php
$totals = Mage::getSingleton('checkout/session')->getQuote()->getTotals(); //Total object
if(isset($totals['discount']) && $totals['discount']->getValue()) {
    $discount = Mage::helper('core')->currency($totals['discount']->getValue()); //Discount value if applied
} else {
    $discount = 0;
}
?>
<?php if(isset($totals['discount']) && $totals['discount']->getValue()):?>
    <div class="discount-total">
        <div class="label">
            <?php echo $this->__('Voucher Discount') ?>
        </div>
        <div class="cart-price">
            <?php echo $discount; ?>
        </div>
    </div>
<?php endif;?>


