<div class="subtotal">
    <?php
    $currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
    $subtotal = Mage::getSingleton('checkout/session')->getQuote()->getGrandTotal()
        - Mage::getSingleton('checkout/session')->getQuote()->getShippingAmount();
    ?>
    <div class="label">
        <?php echo $this->__('Sub-total') ?>
    </div>
    <div class="cart-price">
        <?php echo Mage::helper('core')->currency($subtotal, true, false); ?>
    </div>
</div>
