<div id="order-summary" class="order-summary first-step">
    <div class="hide-for-small show-for-large">
        <?php if (Mage::getStoreConfig('dirtdevildeajaxlogin/settings/power')) : ?>
            <?php echo $this->getChildHtml('sidebar.top.ajax') ?>
        <?php else: ?>
            <?php echo $this->getChildHtml('sidebar.top') ?>
        <?php endif; ?>
    </div>
    <div class="cart-notice hide-for-small show-for-large">
        <h3><?php echo $this->__('We have saved your cart for up to 7 days') ?><sup>*</sup></h3>
        <h4><sup>*</sup><?php echo $this->__('subject to stock') ?></h4>
    </div>
    <?php echo $this->getChildHtml('cart'); ?>
</div>
<div class="hide-for-large show-for-small order-summary first-step">
    <?php if (Mage::getStoreConfig('dirtdevildeajaxlogin/settings/power')) : ?>
        <?php echo $this->getChildHtml('sidebar.bottom.ajax') ?>
    <?php else: ?>
        <?php echo $this->getChildHtml('sidebar.bottom') ?>
    <?php endif; ?>
</div>

