<?php /** Contact Form within the accordion*/ ?>
<div class="accordion-stepcontacts_accordion accordion-step section email_us_step" id="email_us_step">
    <div class="icon email_us_step"></div>
    <h5 class="accordion-title">
        <?php echo Mage::helper('contacts')->__('Email Us') ?>
    </h5>
</div>
<div class="accordion-contentcontacts_accordion accordion-content a-item" style="display: none">
    <div id="contact-wrap">
        <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post" enctype="multipart/form-data">
            <div class="fieldset">
                <h2 class="first"><?php echo Mage::helper('contacts')->__('Contact details') ?></h2>
                <ul class="form-list">
                    <li class="field">
                        <label for="first_name"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('First Name') ?>
                        </label>
                        <div class="input-box">
                            <input name="first_name" id="first_name"
                                   title="<?php echo Mage::helper('contacts')->__('First Name') ?>" value="<?php echo $this->getDefault('first_name') ?>"
                                   class="input-text required-entry" type="text"/>
                        </div>
                    </li>
                    <li class="field">
                        <label for="surname"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Surname') ?></label>
                        <div class="input-box">
                            <input name="surname" id="surname"
                                   title="<?php echo Mage::helper('contacts')->__('Surname') ?>" value="<?php echo $this->getDefault('surname') ?>"
                                   class="input-text required-entry" type="text"/>
                        </div>
                    </li>
                    <li class="field">
                        <label for="email"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email"
                                   title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->getDefault('email') ?>"
                                   class="input-text required-entry validate-email" type="text"/>
                        </div>
                    </li>
                    <li class="field">
                        <label for="telephone"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Telephone') ?>
                        </label>
                        <div class="input-box">
                            <input name="telephone" id="telephone"
                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="<?php echo $this->getDefault('telephone') ?>"
                                   class="input-text required-entry" type="text"/>
                        </div>
                    </li>
                </ul>
                <h2 class="form-side-heading"><?php echo Mage::helper('contacts')->__('Feedback') ?></h2>

                <p class="advise"><?php echo Mage::helper('contacts')->__('To help us deal with your enquiry as efficiently as possible, please select from one of the options below:') ?></p>
                <ul class="form-list">
                    <li class="field">
                        <label for="subject"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Subject') ?></label>
                        <div class="input-box">
                            <select id="subject" name="subject"
                                    title="<?php echo Mage::helper('contacts')->__('Subject') ?>"
                                    class="input-text required-entry">
                                <option value="">[ <?php echo $this->__("Please select") ?> ]</option>
                                <?php
                                $arr_subject = array(1 => "I am interested in buying one of your products", 2 => "I need some help or have an enquiry", 3 => "Query regarding Warranty / Guarantee");
                                foreach ($arr_subject as $key => $value): ?>
                                    <option value="<?php echo $key ?>"<?php if ($key == $this->getDefault('subject')) : ?> selected="selected"<?php endif; ?>>
                                     <?php echo $this->__($value)?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </li>
                    <li class="field"<?php if ($this->getDefault('subject') != 3): ?> style="display: none"<?php endif; ?> id="subject-file-upload">
                        <div id="pur_receipt_li" class="fields">
                            <div class="field control-group">
                                <label for="pur_receipt"
                                       class="control-label required"><em>*</em><?php echo $this->__('Upload Receipt') ?>
                                </label>

                                <div class="input-box">
                                    <?php /* specify location of fileuploader used in file.phtml */ ?>
                                    <div id="fileuploader"><?php echo $this->__('Upload')?></div>
                                    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('contacts/file.phtml')->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="field">
                        <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>
                        <div class="input-box">
                            <textarea name="comment" id="comment"
                                      title="<?php echo Mage::helper('contacts')->__('Comment') ?>"
                                      class="required-entry input-text" cols="5" rows="3"><?php echo $this->getDefault('comment') ?></textarea>
                        </div>
                    </li>
                </ul>

                <div class="captcha">
                    <ul class="captcha">
                        <?php echo $this->getChildHtml('captcha') ?>
                    </ul>
                </div>

                <h2 class="form-side-heading"><?php echo Mage::helper('contacts')->__('Existing customers') ?></h2>
                <div class="checkboxes">
                    <input type="checkbox" name="existing_customer" id="existing_customer" value="1" class="checkbox"
                           onclick="showMe('existing-customer-wrap', this)"/>
                    <p><?php echo Mage::helper('contacts')->__('Is your query is regarding a Dirt Devil product that you already own?') ?></p>
                </div>
                <div id="existing-customer-wrap" style="display: none">
                    <ul class="form-list">
                        <li class="field">
                            <label for="model_no"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Model Number') ?>
                            </label>
                            <div class="input-box">
                                <input name="model_no" id="model_no"
                                       title="<?php echo Mage::helper('contacts')->__('Model Number') ?>" value="<?php echo ($this->getProduct()) ? $this->getProduct()->getData('uk_product_no') : '' ?>"
                                       class="input-text" type="text" placeholder="<?php echo $this->__('e.g. %s', 'DDU03-E01') ?>"/>
                                <p>
                                    <a class="terms-link" href="#"
                                       onclick="popWin('/registration-sku','terms','top:0,left:0,width=350,height=400,resizable=yes,scrollbars=yes')"><?php echo $this->__("How to find the model number") ?></a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <h2 class="form-side-heading"><?php echo Mage::helper('contacts')->__('Keep in touch') ?></h2>
                <div class="checkboxes">
                    <input type="checkbox" name="keep_in_touch" id="keep_in_touch" value="1" class="checkbox"/>
                    <p><?php echo Mage::helper('contacts')->__('Do you wish to remain informed of current promotions, news and Dirt Devil products via email?') ?></p>
                </div>
                <div class="checkboxes">
                    <p class="terms"><?php echo Mage::helper('contacts')->__("By submitting this form you agree to the terms of our %sprivacy policy%s.", '<a href="' . Mage::getBaseUrl().'privacy-policy' . '" target="_blank">', '</a>') ?>
                    </p>
                </div>
            </div>
            <div class="buttons-set form-buttons btn-only">
                <input type="text" name="hideit" id="hideit" value="" style="display:none !important;"/>
                <button type="button" class="button" onclick="contactForm.submit()"
                        title="<?php echo Mage::helper('contacts')->__('Send') ?>"><?php echo Mage::helper('contacts')->__('Send') ?></button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    contactForm.submit = function() {
        if (contactForm.validator.validate()) {
            var selectmenu=document.getElementById("subject");
            var filename=document.getElementById("filename");

            if(selectmenu !== null) {
                var option = selectmenu.options[selectmenu.selectedIndex];
                if (option.value == 3 && filename !== null && filename.value === '' ) {
                    alert("<?php echo $this->__('Please upload a copy of your receipt.')?>");
                    return false;
                }
            }
            contactForm.form.submit();
        }
    }.bind(contactForm);
    //]]>
    function showMe(it, box) {
        var vis = (box.checked) ? "block" : "none";
        document.getElementById(it).style.display = vis;
        if (vis == "block") {
            $j('#existing_customer').attr("value", "yes");
        }
        else {
            $j('#existing_customer').attr("value", "no");
        }
    }
    $j('#subject').change(function() {
        if ($j(this).val() == 3) {
            $j('#subject-file-upload').show();
        } else {
            $j('#subject-file-upload').hide();
        }
    })
</script>