<div id="contact-wrap">
    <form action="<?php echo $this->getFormAction(); ?>" id="contactFormMenu" method="post" enctype="multipart/form-data">
        <div class="fieldset">
            <h2 class="first"><?php echo Mage::helper('contacts')->__('Contact details') ?></h2>
            <ul class="form-list">
                <li class="field">
                    <label for="first_name"
                           class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?>
                    </label>
                    <div class="input-box">
                        <input name="first_name" id="first_name"
                               title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->getDefault('first_name') ?>"
                               class="input-text required-entry" type="text"/>
                    </div>
                </li>
                <li class="field">
                    <label for="email"
                           class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="email" id="email"
                               title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->getDefault('email') ?>"
                               class="input-text required-entry validate-email" type="text"/>
                    </div>
                </li>
                <li class="field">
                    <label for="telephone"
                           class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Telephone') ?>
                    </label>
                    <div class="input-box">
                        <input name="telephone" id="telephone"
                               title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="<?php echo $this->getDefault('telephone') ?>"
                               class="input-text required-entry" type="text"/>
                    </div>
                </li>
            </ul>
            <ul class="form-list">
                <li class="field">
                    <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>
                    <div class="input-box">
                        <textarea name="comment" id="comment"
                                  title="<?php echo Mage::helper('contacts')->__('Comment') ?>"
                                  class="required-entry input-text" cols="5" rows="3"><?php echo $this->getDefault('comment') ?></textarea>
                    </div>
                </li>
            </ul>

            <div class="captcha">
                <ul class="captcha">
                    <?php echo $this->getChildHtml('captcha') ?>
                </ul>
            </div>

        </div>
        <div class="buttons-set form-buttons btn-only">
            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;"/>
            <button type="button" class="button" onclick="contactForm.submit()"
                    title="<?php echo Mage::helper('contacts')->__('Send') ?>"><?php echo Mage::helper('contacts')->__('Send') ?></button>
        </div>
    </form>
</div>

<script type="text/javascript">
    //<![CDATA[
    var contactFormMenu = new VarienForm('contactFormMenu', true);
    contactFormMenu.submit = function() {
        if (this.validator.validate()) {
            this.form.submit();
        }
    }.bind(contactFormMenu);
    //]]>
    function showMe(it, box) {
        var vis = (box.checked) ? "block" : "none";
        document.getElementById(it).style.display = vis;
        if (vis == "block") {
            $j('#existing_customer').attr("value", "yes");
        }
        else {
            $j('#existing_customer').attr("value", "no");
        }
    }

</script>