<?php
$_item = $this->getItem();
$_addSpan = false;
if($this->getButtonAddSpan()) {
    $_addSpan = $this->getButtonAddSpan();
}

$_addForm = false;
if($this->getAddForm()) {
    $_addForm = $this->getAddForm();
}
?>
<?php if ($_item && $_item->getTypeId() == 'bundle'): ?>
    <?php $_product = Mage::getModel('catalog/product')->load($_item->getId()); ?>

    <?php if($_addForm): ?>
        <form action="<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>" class="action" method="post" id="product_addtocart_form_<?php echo $_product->getId() ?>">
    <?php endif; ?>
    <?php
    // Output options as a hidden form field
    $selectionCollection = $_product->getTypeInstance(true)->getSelectionsCollection(
        $_product->getTypeInstance(true)->getOptionsIds($_product), $_product
    );

    foreach ($selectionCollection as $option) {

        $_minSaleQty = $option->getSelectionQty();

        if (!$_minSaleQty)
            $_minSaleQty = $option->getStockItem()->getMinSaleQty();
        if (!$_minSaleQty)
            $_minSaleQty = 1;

        echo '<input type="hidden" name="bundle_option[' . $option->option_id . ']" value="' . $option->selection_id . '" />';
        echo '<input type="hidden" name="bundle_option_qty[' . $option->option_id . ']" value="' . $_minSaleQty . '" />';
    }
    ?>
    <button type="button" class="btn button btn-cart" onclick="productAddToCartForm.submit(this)">
        <?php if ($this->getData('display_icon')): ?>
            <i class="icon icon-white icon-white-basket"></i>
        <?php endif; ?>
        <?php if($_addSpan):?>
            <span><?php echo $this->__('Add to') ?></span>
            <?php echo $this->__('Basket') ?>
        <?php elseif (Mage::registry('current_product') || Mage::registry('current_category')) : ?>
            <?php echo $this->__('Add to Cart') ?>
        <?php else: ?>
            <?php echo $this->__('Add Product') ?>
        <?php endif; ?>
    </button>
    <?php if($_addForm): ?>
        </form>
    <?php endif; ?>
<?php endif; ?>
