<?php if($this->getItems()->getSize()): ?>
    <div class="crosssell replacement-block">
        <h2><?php echo $this->__('Replacement Product') ?></h2>
        <ul id="replacement-products-list">
            <?php foreach ($this->getItems() as $_item):
                $quote = Mage::getSingleton('checkout/session')->getQuote();
                if (! $quote->hasProductId($_item->getId())):
                    /** $_item is @see DirtDevil_Catalog_Model_Product */
                    $_item = Mage::getModel('catalog/product')->load($_item->getId()); ?>
                    <li class="item">
                        <div class="image">
                            <a href="<?php echo $_item->getProductUrl() ?>"
                               title="<?php echo $this->htmlEscape($this->getProductName()) ?>"
                               class="product-image">
                                <img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(190); ?>"
                                     alt="<?php echo $this->htmlEscape($this->getProductName()) ?>"/>
                            </a>
                        </div>
                        <div class="name">
                            <a href="<?php echo $_item->getProductUrl() ?>">
                                <?php echo $this->escapeHtml($_item->getName()) ?>
                            </a>
                        </div>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateList('replacement-products-list', 'none-recursive')</script>
    </div>
<?php endif; ?>