<?php if ($this->isActive()) : ?>
    <div class="clearfix"></div>
    <div class="delivery-date">
        <label for="delivery_date"><?php echo $this->__('Please select a delivery date') ?></label>
        <select name="address_delivery_shipping_date" id="address_delivery_shipping_date">
            <?php foreach ($this->getDateOptions() as $option) : ?>
                <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $this->getCurrentDeliveryDate()) echo ' selected="selected"'; ?>><?php echo $option['label'] ?></option>
            <?php endforeach; ?>
        </select>
    </div>
<?php endif; ?>
