<?php
/**
 * @see DirtDevil_Catalog_Block_Layer_Filter_Price
 */
?>
<?php
/**
 * use DE Catalog helper
 * @see DirtDevilDe_Catalog_Helper_Category
 * */
//hide the price filter on DE archive pages
if (  Mage::helper('core')->isModuleEnabled('DirtDevilDe_Catalog') &&
    ! Mage::helper('de_catalog/category')->isPriceFilterDisplayable()):
    ?>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            //hide price filter td and dd sections
            if(jQuery('.price_filter').length) {
                jQuery('.price_filter').hide();
            }
        });
    </script>
<?php else: ?>
    <div class="price-slider-container">
        <div id="price-slider"></div>
        <div class="price-textbox">
            <div id="min_amount" class="min-price"><?php echo $this->getCurrencySymbol() . $this->getCurrMinPrice() ?></div>
            <div id="max_amount" class="max-price"><?php echo $this->getCurrencySymbol() . $this->getCurrMaxPrice() ?></div>
        </div>
    </div>
<?php endif;?>

<script type="text/javascript">
    jQuery(function($) {
        var newMinPrice, newMaxPrice;
        var categoryMinPrice = <?php echo $this->getMinPrice() ?>;
        var categoryMaxPrice = <?php echo $this->getMaxPrice() ?>;
        var step = <?php echo Mage::getStoreConfig('catalog/ajax_category/price_slider_increment'); ?>;

        jQuery("#price-slider").slider({
            range: true,
            min: parseFloat(categoryMinPrice),
            max: parseFloat(categoryMaxPrice),
            step: step,
            values: [<?php echo $this->getCurrMinPrice() ?>,<?php echo $this->getCurrMaxPrice() ?>],
            slide: function(event, ui) {
                newMinPrice = ui.values[0];
                newMaxPrice = ui.values[1];

                jQuery("#min_amount").html("<?php echo $this->getCurrencySymbol() ?>" + newMinPrice);
                jQuery("#max_amount").html("<?php echo $this->getCurrencySymbol() ?>" + newMaxPrice);
            }, stop: function(event, ui) {

                // Current Min and Max Price
                var newMinPrice = ui.values[0];
                var newMaxPrice = ui.values[1];

                if(newMinPrice === newMaxPrice) {
                    if (newMaxPrice <= categoryMinPrice ){
                        newMaxPrice = categoryMinPrice + step;
                    }
                    if(newMinPrice >= categoryMaxPrice){
                        newMinPrice = categoryMaxPrice - step;
                    }
                }

                // Update Text Price
                jQuery("#min_amount").html("<?php echo $this->getCurrencySymbol() ?>" + newMinPrice);
                jQuery("#max_amount").html("<?php echo $this->getCurrencySymbol() ?>" + newMaxPrice);
                url = getUrl(newMinPrice, newMaxPrice);
                if (newMinPrice != <?php echo $this->getCurrMinPrice() ?> && newMaxPrice != <?php echo $this->getCurrMaxPrice() ?>) {
                    clearTimeout(timer);
                } else {
                    timer = setTimeout(function() {
                        updateCategory(url); }, 1000);
                }
            }
        }).draggable();

        function getUrl(newMinPrice, newMaxPrice) {
            return "<?php echo $this->getCurrentUrlWithoutParams() ?>"
                   + "?min=" + newMinPrice
                   + "&max=" + newMaxPrice
                   + "&isAjax=1" + "<?php echo $this->prepareParams() ?>";
        }
    });
</script>
