<?php
/**
 * Vax UK checkout cart item template (used to loop through cart items)
 *
 * @category design
 * @package vax_uk
 * @copyright Copyright (c) 2014 Vax Ltd
 *
 * $this @var Vax_Checkout_Block_Cart_Item_Renderer
 */
?>
<?php
$_item = $this->getItem();
$_product = $_item->getProduct();
$_discountLabel = $this->getCustomAttributeValue($_product, 'basket_discount_label');
?>
<div class="row <?php echo $_product->getTypeId(); ?>">
    <div class="image">
        <?php if ($this->hasProductUrl()): ?>
        <a href="<?php echo $this->getProductUrl() ?>"
           title="<?php echo $this->htmlEscape($this->getProductName()) ?>"
           class="product-image">
            <?php endif; ?>
            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(190); ?>"
                alt="<?php echo $this->htmlEscape($this->getProductName()) ?>"/>
            <?php if ($this->hasProductUrl()): ?>
        </a>
    <?php endif; ?>
    </div>

    <?php if ($_discountLabel) : ?>
        <p class="basket-rules">
            <span class="discount-label"><?php echo $_discountLabel ?></span>
        </p>
    <?php endif; ?>

    <div class="name">
        <h2>
            <?php if ($this->hasProductUrl()): ?>
                <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->htmlEscape($this->getProductName()) ?></a>
            <?php else: ?>
                <?php echo $this->htmlEscape($this->getProductName()) ?>
            <?php endif; ?>
            <span class="sku"><?php echo $this->__('SKU: ') ?><?php echo $_item->getSku() ?></span>
        </h2>

        <?php if ($messages = $this->getMessages()): ?>
            <?php foreach ($messages as $message): ?>
                <p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="pricing unit-price">
    <?php //display excluding tax
    if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?> <span class="cart-price"> <?php endif; ?>

                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?>
                <?php else: ?>
                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                <?php endif; ?>
                </span>
    <?php endif;
    //display including tax
    if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
            <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item);
            if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
            <?php else: ?>
                <span class="cart-price">
            <?php endif; ?>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl + $_item->getWeeeTaxAppliedAmount()); ?>
            <?php else: ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl - $_item->getWeeeTaxDisposition()) ?>
            <?php endif; ?>
                </span>
    <?php endif; ?>

    <?php if ($_product->getPrice() > $_product->getFinalPrice()) : ?>
          <p class="old-price"><?php echo $this->helper('checkout')->formatPrice($_product->getPrice()) ?></p>
    <?php endif; ?>
    </div>

    <div class="quantity">
        <?php $_qty = ('bundle' == $_product->getTypeId()) ? 3 : Mage::getModel('cataloginventory/stock_item')->loadByProduct($this->getProduct())->getQty();?>
        <?php $i = 1; ?>
        <select name="cart[<?php echo $_item->getItemNumber() ?>][qty]"
                class="qty"
                onfocus="this.oldvalue = this.value"
                onchange="javascript:this.oldvalue = this.value; $j(this).closest('form').submit(); return false;">
            <?php while ($i <= $_qty && $i < 21): ?>
                <option value="<?php echo $i; ?>" <?php echo ($_item->getQty() === $i) ? "selected" : ""; ?>><?php echo $i++; ?></option>
            <?php endwhile; ?>
        </select>

        <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove') ?>"
           class="item-remove"><?php echo $this->__('Remove') ?></a>
    </div>
</div>
<?php
// creating the crosssell block here in order to have it show per product and not under all of them
// also because the cart item uses a renderer and not a normal block
if(count($_product->getCrossSellProducts())): ?>
<?php echo $this->getLayout()
    ->createBlock('checkout/cart_crosssell')
    ->setTemplate('checkout/cart/crosssell.phtml')
    ->setData('items', $_product->getCrossSellProducts())
    ->toHtml(); ?>
<?php endif;?>
