/****************************************
* Homepage banners
*****************************************/

.cms-home, .cms-index-index {
    .desktop-content {
        display: none;
    }

    .main-container.col1-layout {
        padding: 0;
    }
    .col-main {
        margin-bottom: 0;
    }
}

.cms-home, .cms-index-index {
    .banner-container {
        position: relative;
        overflow: hidden;
        .banner {
            /*this is really important, otherwise the slider is 97% or 99% */
            width: 100% !important;
            // min-height: 310px;

            ul {
                //fixes last banner image going inderneath
                li:last-child {
                    margin-left: -0.07%;
                }
            }
        }
        * {
            font-family: $f-stack-special
        }
        .banner-controls {
            height: 1px;
            position: absolute;
            bottom: 40%;
            width: 100%;
            padding: 0 10px;
            .unslider-arrow {
                position: relative;
                z-index: 10;
                display: inline-block;
                cursor: pointer;
            }
            .unslider-arrow.prev {
                background: sprite($mobile-icons, slider-arrow-left) no-repeat;
                @include sprite-dimensions($mobile-icons, slider-arrow-left);
            }
            .unslider-arrow.next {
                float: right;
                background: sprite($mobile-icons, slider-arrow-right) no-repeat;
                @include sprite-dimensions($mobile-icons, slider-arrow-right);
            }
        }

        .banner-image.desktop {
            display: none;
        }
        img.banner-image {
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .banner-content {
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            min-height: 150px;
            padding-bottom: 20px;
            background-color: $c-blue;
            max-height: 230px;
            .description {
                width: 240px;
                margin: 20px auto 0;
                .promo-heading {
                    font-size: 25px;
                    line-height: 25px;
                    font-weight: bolder;
                    margin: 0;
                    br {
                        display: none;
                    }
                }
                .promo-heading.desktop {
                    display: none;
                }
                .promo-heading.mobile {
                    display: inline-block;
                }
                .promo-desc {
                    display: none;
                    font-size: 16px;
                    line-height: 18px;
                    br {
                        display: none;
                    }
                    h2 {
                        text-transform: none;
                    }
                }
                .banner-button {
                    margin-top: 20px;
                    display: inline-block;
                    font-size: 15px;
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 3px 10px;
                    color: white;
                    background-color: $c-red;
                    &:hover, &:active {
                        text-decoration: none;
                        background-color: darken($c-red, 10);
                    }
                }
            }

            /*this text is used to tell what the dots contain. if you want to view it, enable the dots*/
            .slider-link-text {
                display: none;
            }
        }
        .dots {
            display: none;
        }
    }
}

/*****************************************************
* Homepage banners - Large Mobile phone screens
******************************************************/
@include bp(min-width, 360px) {
    .cms-home, .cms-index-index {
        .banner-container .banner {
            min-height: 370px;
        }
    }
}

@include bp(min-width, $bp-xsmall + 1) {
    .cms-home, .cms-index-index {
        .banner-container {
            .banner-content {
                .description {
                    width: 320px;
                    margin: 0 auto;
                    padding-top: 20px;
                }
            }
            .banner {
                min-height: 420px;
            }
        }
    }
}

/*****************************************************
* Homepage banners - Medium screens
******************************************************/
@include bp(min-width, $bp-medium + 1) {
    .cms-home, .cms-index-index {
        .banner-container {
            padding-bottom: 0;
            .banner-controls {
                bottom: auto;
                top: 50%;
                margin-top: -25px;
                z-index: 9;
            }
            .homepage-banner {
                position: relative;
            }

            .banner-image.desktop {
                display: block;
            }
            .banner-image.mobile {
                display: none;
            }
            .banner-content {
                padding-bottom: 0px;
                position: absolute;
                background-color: transparent;
                min-height: 0px;
                max-height: none;
                .description {
                    width: 100%;
                    padding: 0 50px;
                    position: relative;

                    .promo-heading {
                        text-shadow: 1px 1px 3px rgba(0,0,0,1);
                        float: left;
                        br {
                            display: inline-block;
                        }
                    }

                    .promo-heading.desktop {
                        display: inline-block;
                    }
                    .promo-heading.mobile {
                        display: none;
                    }
                    .promo-desc {
                        margin-top: 20px;
                        text-shadow: 1px 1px 3px rgba(0,0,0,1);
                        display: inline-block;
                        float: left;
                        br {
                            display: inline-block;
                        }
                    }

                    .banner-button {
                        width: auto;
                        font-size: 18px;
                        clear: both;
                        float: left;
                    }
                }
            }
            .banner {
                background-color: transparent;
                min-height: 250px;
            }
        }
    }
}

/*****************************************************
* Homepage banners - Large screens
******************************************************/
@include bp(min-width, $bp-medium + 1) {
    .cms-home, .cms-index-index {
        .banner-container {
            padding-bottom: 50px;
            .banner {
                margin-bottom: 0px;
                background-color: transparent;
                //otherwise the quicklinks are not shown
                overflow: visible !important;
                //replaced by the following
                ul {
                    overflow: hidden;
                }
            }
            .banner-content .description {
                .promo-heading {
                    font-size: 40px;
                    line-height: 40px;
                }
                .promo-desc {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            .dots {
                display: inline-block;
                background-color: white;
                width: 100%;
                height: 50px;
                li {
                    display: inline-block;
                    /*
                    setup in homepage.js, depending on the number of banners:
                    width: 20%;
                    */
                    height: 100%;
                    margin-top: -1px;
                    background-color: $c-gray-4;
                    font-size: 12px;
                    text-align: center;
                    line-height: 50px;
                    font-weight: bold;
                    cursor: pointer;
                    box-shadow: 0 -1px 0px 1px #fff inset;
                    &.active {
                        background-color: $c-red;
                        color: #fff;
                    }
                    &:hover, &:active {
                        background-color: darken($c-gray-4, 5);
                    }
                }
            }
        }
    }
}

/*****************************************************
* Homepage banners - xLarge screens
******************************************************/
@include bp(min-width, $bp-large + 1) {
    .cms-home, .cms-index-index {
        .banner-container {
            .banner-content .description {
                width: 840px;
                padding: 0;
                .promo-heading {
                    font-size: 60px;
                    line-height: 60px;
                }
                .promo-desc, .promo-desc h2 {
                    font-size: 32px;
                    line-height: 36px;
                }
                .banner-button {
                    position: relative;
                    z-index: 99;
                    margin-top: 30px;
                    font-size: 21px;
                    padding: 5px 20px;
                }
            }

            .banner-controls {
                z-index: 2;
                margin-top: -75px;
                a, a:hover, a:active {
                    text-decoration: none;
                }
                .unslider-arrow.prev {
                    background: sprite($desktop-icons, slider-arrow-left) no-repeat;
                    @include sprite-dimensions($desktop-icons, slider-arrow-left);
                }
                .unslider-arrow.next {
                    background: sprite($desktop-icons, slider-arrow-right) no-repeat;
                    @include sprite-dimensions($desktop-icons, slider-arrow-right);
                }
            }

        }
    }
}

/*****************************************************
* Homepage banners - xLarge screens
******************************************************/
@include bp(min-width, $bp-xlarge + 1) {
    .cms-home, .cms-index-index {
        .banner-container {
            padding-bottom: 50px;
            .banner-content {
                .description {
                    width: 960px;
                    margin: 10px 0 0 90px;
                    .promo-heading {
                        font-size: 65px;
                        line-height: 65px;
                    }
                }
            }
            .dots {
                li {
                    font-size: 18px;
                }
            }
        }
    }
}
@include bp(min-width, 1500px) {
    .cms-home, .cms-index-index {
        .banner-container {
            .banner-content {
                .description {
                    margin: 50px auto 0 auto;
                    width: 1240px;
                }
            }
        }
    }
}


