<?php
/* $this DirtDevil_Spares_Block_Category */
    $categories = $this->getCategories();
?>
<?php if($categories): ?>
<div id="product-selector-container" class="main-product-selector">
    <ul class="product-types">
        <?php foreach ($categories as $category): ?>
        <?php $category->load($category->getId()) ?>
        <?php if (!$category->getIncludeInMenu()): continue; endif; ?>
        <li>
            <a class="product-types-item" data-category="<?php echo $category->getId(); ?>"<?php if($category->getCategoryProductId()): ?> data-associated-product-id="<?php echo $category->getCategoryProductId() ?>"<?php endif; ?> href="<?php echo $category->getUrl() ?>">
                <?php if($this->getThumbnailImage($category)): ?>
                    <div class="inner-box">
                        <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->getThumbnailImage($category)); ?>" alt="<?php $category->getName(); ?>" />
                    </div>
                <?php endif; ?>
                <h2 class="title"><?php echo $category->getName(); ?></h2>
            </a>
        </li>
        <?php endforeach; ?>
    </ul>
    <ul id="model-codes" class="model-number"></ul>
    <ul class="model-range"></ul>
    <ul id="model-number" class="model-number"></ul>
    <div class="ajax-loading" id="ajax-loading-search-reg"><span><?php echo __("Loading") . '&hellip;' ?></span><div class="loading-image"></div></div>
</div>
<?php endif; ?>
<?php echo $this->getChildHtml(''); ?>
