<?php $_creditmemo = $this->getCreditmemo() ?>
<?php $_order      = $this->getOrder() ?>

<?php if ($_creditmemo && $_order): ?>

    <?php $_items      = $_order->getAllItems() ?>
    <?php $_itemCount  = count($_items) ?>
    <table class="items" cellpadding="0" cellspacing="0" border="0" width="578">
        <thead>
            <tr>
                <th class="cell-name align-left" align="left" style="background-color: #E6E6E6; color: #000; border-bottom: 1px solid #fff; padding: 5px;">
                    <?php if($_itemCount > 1): echo $this->__('Items'); else: echo $this->__('Item'); endif; ?>
                </th>
                <th class="cell-name align-left" align="left" style="background-color: #E6E6E6; color: #000; border-bottom: 1px solid #fff; padding: 5px;">
                    <?php echo $this->__('Sku'); ?>
                </th>
                <th class="cell-name align-center" align="center" style="background-color: #E6E6E6; color: #000; border-bottom: 1px solid #fff; padding: 5px;">
                    <?php echo $this->__(' Qty '); ?>
                </th>
                <th class="cell-name align-right" align="right" style="background-color: #E6E6E6; color: #000; border-bottom: 1px solid #fff; padding: 5px;">
                    <?php echo $this->__('Price'); ?>
                </th>
            </tr>
        </thead>

        <?php $i=0; foreach ($_creditmemo->getAllItems() as $_item): ?>
        <?php if($_item->getOrderItem()->getParentItem()) continue; else $i++; ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach; ?>

        <tfoot>
            <?php echo $this->getChildHtml('creditmemo_totals');?>
        </tfoot>
    </table>
<?php endif; ?>
