//---------------------------
// Product Page - Features
//---------------------------
.catalog-product-view {
	.nav-menu {
		.nav-features {
			padding-bottom: 20px;
			li:first-child {
				margin-top: 20px;
			}
			li {
				margin-top: 30px;
				margin-bottom: 20px;
				.youtube {
					/*  keep aspect ratio */
					position: relative;
					padding-bottom: 60%;
					height: 0;

					margin-bottom: 15px;
					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					//overlay
					img {
						width: 100%;
					}
					.play {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -31px;
						margin-top: -31px;
						display: block;
						background: sprite($mobile-icons, play-feat) no-repeat;
						@include sprite-dimensions($mobile-icons, play-feat);
						&:hover, &:active {
							opacity: 0.5;
						}
					}
				}
			}
			img.desktop {
				display: none;
			}
			img {
				width: 100%;
				margin-bottom: 15px;
			}
			h3 {
				text-transform: none;
				font-weight: bold;
				font-size: 20px;
				color: black;
			}
			p {
				font-size: 14px;
				color: $c-gray;
			}
		}
	}
}

@include bp(min-width, $bp-xsmall) {
	.catalog-product-view {
		.nav-menu {
			.nav-features {
				img.mobile {
					display: none;
				}
				img.desktop {
					display: block;
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		/*panel content*/
		.nav-menu {
			.nav-features {
				padding-bottom: 0;
				.content-wrapper {
					padding: 110px 0 30px 0;
					ul {
						padding-bottom: 50px;
						margin-right: -2%;
					}
					&:after{
						clear: both;
						overflow: hidden;
						display: block;
						content: "";
					}
				}

				li {
					float: left;
					overflow: hidden;
					margin-bottom: 10px;
					margin-top: 20px;
					margin-right: 2%;
					width: (100% - 6%)/3;

					.youtube {
						width: 57.44%;
						max-width: 540px;
						float: left;
						padding-bottom: 33.5%;
						margin-right: 20px;
						margin-bottom: 0px;
						.play {
							margin-left: -60px;
							margin-top: -60px;
							background: sprite($desktop-icons, play-feat) no-repeat;
							@include sprite-dimensions($desktop-icons, play-feat);
							&:hover {
								opacity: 0.5;
							}
						}
					}
				}
				img {
					margin-bottom: 20px;
				}
				h3 {
					font-size: 25px;
					/* align to top of image  */
					line-height: 20px;
					height: 35px;
				}
				p {
					font-size: 16px;
				}

			}
		}
	}
}
