//--------------------------------------------------
// Product Page - main info, gallery and actions
//--------------------------------------------------

.catalog-product-view {
	.breadcrumbs {
		display: block;
	}
	.main-container {
		padding: 15px 0 20px;
		position: static;
	}
	.product-view {
		width: 100%;
		* {
			font-family: $f-stack-special;
		}
		.product-name * {
			color: #000;
			font-weight: bold;
			font-size: 28px;
			border: none;
			padding: 0;
			margin: 0;
			text-transform: none;
		}
		.product-number {
			font-size: 14px;
			color: $c-gray;
			margin-bottom: 12px;
		}
		.product-header {
			padding: 0 20px;
		}
		.product-shop {
			margin: 0 0 10px 0;
			padding: 0;
			float: left;
			.price-info {
				margin: 0;
				padding: 0 0 0 20px;
				float: left;
				text-align: left;
				width: 56%;
				max-width: 460px;

				//max-width: none;
				display: inline-block;
				* {
					padding: 0;
					margin: 0;
				}
				.price {
					color: #000;
					font-size: 25px;
					font-weight: bold;
					text-align: left;
					width: auto;
					min-width: inherit;
					background: none;
				}
				.old-price {
					float: left;
					.price {
						color: $c-gray;
						font-size: 11px;
						line-height: 24px;
						font-weight: normal;
						text-decoration: none;
						margin-left: 0;
						margin-right: 5px;
						&::before {
							content: "was ";
						}
					}
				}

				.save-amount {
					color: $c-red;
					font-size: 11px;
					font-weight: bold;
					line-height: 24px;
				}
			}
			.extra-info {
				display: inline-block;
				width: 42%;
				max-width: 460px;
				float: right;
				clear: none;
				padding: 0 20px 0 0;
				margin: 0;
				* {
					padding: 0;
					margin: 0;
				}
				.no-rating {
					text-align: right;
					a {
						color: $c-red;
					}
				}
				.ratings {
					display: block;
					float: right;
					.rating-box {
						float: right;
						display: block;
						margin: 4px 0px 2px 0px;
					}
					.rating-links {
						float: right;
						clear: right;
						text-align: right;
						a {
							color: $c-gray;
							text-decoration: underline;
							font-size: 12px;
						}
					}
				}
				#BVRRSummaryContainer{
					margin-right: -12px;
				}
			}
		}
		.energy-rating {
			clear: both;
			background-color: $c-gray-4;
			float: left;
			line-height: 30px;
			margin: 0;
			width: 100%;
			.rating-label {
				width: 130px;
				margin-right: -80px;
				font-size: 9px;
				display: inline;
				float: left;
				position: relative;
				.energy-rating-label {
					color: transparent;
					position: absolute;
					width: 135px;
					top: 5px;
				}
			}
			a {
				color: $c-gray;
				font-size: 9px;
				text-decoration: underline;
				display: inline;
				float: right;
			}
		}
		.energy-rating.mobile {
			padding: 0 20px;
			margin-bottom: 10px;
			margin-top: 10px;
			.energy-rating-label-a {
				background-position: 10px 0;
			}
			.energy-rating-label-b {
				background-position: 15px -20px;
			}
			.energy-rating-label-c {
				background-position: 15px -40px;
			}
			.energy-rating-label-d {
				background-position: 15px -60px;
			}
			.energy-rating-label-e {
				background-position: 15px -80px;
			}
			.energy-rating-label-f {
				background-position: 15px -100px;
			}
		}
		.energy-rating.desktop {
			display: none;
		}
		.product-essential::after {
			clear: both;
			margin-bottom: 30px;
		}
		.product-img-box {
			margin-bottom: 0;
			padding: 0 20px;
			&:after{
				clear: both;
				overflow: hidden;
				display: block;
				content: "";
			}
			.product-image, .product-image:hover {
				border: none;
				float: left;
			}
			.product-image-gallery {
				min-height: 240px;
				position: relative;
				float: left;
				width: 100%;
				.gallery-image.visible {
					position: static;
					float: left;
					max-height: 100%;
					width: 100%;
					height: auto;
				}
			}
			.video {
				max-height: 240px;
				width: 100%;
				/*  keep aspect ratio */
				position: relative;
				padding-bottom: 60%;
				height: 0;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					max-height: 400px;
				}
			}
		}
		.more-views {
			height: 60px;
			max-width: 350px;
			padding: 10px 25px;
			overflow: hidden;
			position: relative;
			float: left;
			.outer-box {
				overflow: hidden;
			}
			.arrow {
				display: inline-block;
				position: absolute;
				top: 20px;
				&.prev {
					left: 0;
					background: sprite($mobile-icons, gallery_arrow_left_hover) no-repeat;
					@include sprite-dimensions($mobile-icons, gallery_arrow_left_hover);
					&.nomore {
						background: sprite($mobile-icons, gallery_arrow_left) no-repeat;
					}
				}
				&.next {
					right: 0;

					background: sprite($mobile-icons, gallery_arrow_right_hover) no-repeat;
					@include sprite-dimensions($mobile-icons, gallery_arrow_right_hover);
					&.nomore {
						background: sprite($mobile-icons, gallery_arrow_right) no-repeat;
					}
				}
			}

			ul.product-image-thumbs {
				width: 1000%;
				* {
					border: none;
				}
				li {
					height: 40px;
					a {
						display: inline-block;
						height: 100%;
						box-shadow: inset 0 0 0 5px $c-gray-4;
						&:hover {
							box-shadow: inset 0 0 0 5px $c-red;
						}
						img {
							display: inline-block;
							height: 100%;
							width: auto;
							min-width: 40px;
							padding: 5px;
							background-color: $c-gray-4;
							&:hover {
								background-color: $c-red;
							}
						}
						&.video-link {
							position: relative;
							.icon {
								position: absolute;
								top: 8px;
								left: 18px;
								background: sprite($mobile-icons, play) no-repeat;
								@include sprite-dimensions($mobile-icons, play);
								&:hover {
									background: sprite($mobile-icons, play) no-repeat;
								}
							}
						}
					}
				}
			}
		}
		.text-wrapper {
			padding: 0 20px;
		}
		.short-description {
			color: $c-gray;
			font-size: 14px;
			.std {
				clear: both;
				br {
					display: none;
				}
				ul {
					margin: 10px 0 20px;
					li {
						margin: 0 0 4px 15px;
					}
				}
			}
			.more{
				display: none;
				color: $c-red;
				cursor: pointer;
				text-decoration: underline;
			}
		}
		.key-features ul {
			list-style: inside disc;
		}
		.add-to-cart-wrapper {
			.inner-wrapper {
				background-color: $c-gray-4;
				padding: 18px;
				margin: 25px 0 5px;
			}
			* {
				padding: 0;
				margin: 0;
			}
			.add-to-cart {
				border: none;
			}
			.qty-wrapper {
				width: 100%;
				margin-bottom: 10px;
				text-align: center;
				.qty {
					text-align: left;
					margin: 0 auto;
					background-color: #f9f7f7;
					width: 100px;
					float: none;
					display: inline-block;
					border: 1px solid #c2c4c4;
					border-radius: 5px;
					option {
						text-align: center;
						height: 40px;
						padding: 10px 0;
					}
				}
				> span {
					/*position: absolute;
					left: 30px;*/
					line-height: 40px;
					font-size: 14px;
					font-weight: 700;
				}
			}
			.add-to-cart-buttons {
				width: 100%;
				min-height: 32px;
				.button {
					background-color: $c-green;
					min-width: 0;
					min-height: 32px;
					line-height: 32px;
					&:hover, &:active {
						background-color: darken($c-green, 5);
					}
				}
			}
		}
		/* delivery icons */
		.product-secondary.desktop {
			display: none;
		}
		.product-secondary {
			font-size: 10px;
			margin-bottom: 20px;
			background-color: white;
			padding: 0 20px;
			.delivery {
				width: auto;
				margin-bottom: 10px;
				margin-right: 30px;
				padding-top: 10px;
				float: left;
				.icon {
					margin: 0 auto;
				}
				.label {
					font-size: 9px;
					line-height: 11px;
					margin-top: 3px;
					color: $c-red;
					text-transform: uppercase;
					font-weight: bold;
					text-align: center;
					width: 60px;
				}
				&.return{
					margin-right: 0;
				}
			}
			> p{
				clear: both;
			}
		}
		.available-at {
			position: static;
			float: right;
			margin-bottom: 20px;
			margin-top: 0px;
			p {
				font-weight: bold;
				float: left;
				font-size: 12px;
			}
			.argos {
				background: url('../images/template/catalog/affiliates/argos_logo.png') no-repeat top left;
				width: 93px;
				height: 81px;
				margin-left: 93px;
				color: transparent;
			}
		}
	}

}
.product-view {
	.product-options{
		margin-top: 20px;
		float: left;
		@include bp(max-width, $bp-medium) {
			padding-left: 20px;
			padding-right: 20px;
		}
		p.required{
			display: none;
		}
		dd .price-notice{
			display: none;
		}
		&:before{
			clear: both;
			overflow: hidden;
			display: block;
			content: "";
		}
	}
	.product-options-bottom{
		clear: both;
		text-align: center;
		background: $c-gray-4;
		
		button.btn-cart{
			background-color: #4c9d2f;
			font-size: 16px;
			width: auto;
			padding: 0 20px;
			@include bp(max-width, $bp-medium) {
				width: 100%;
				line-height: 40px;
			}
		}
	}

	.product-shop{
		width: 100%;
		float: none;
		padding-left: 0;
		.price-info{
			float: left;
			padding-left: 0;
			text-align: left;
		}
		&:after{
			clear: both;
			overflow: hidden;
			display: block;
			content: "";
		}
		.bv-cleanslate .bv-shared {
			.bv-details-bar,
			.bv-action-bar{
				display: none !important;
			}
			.bv-summary-bar .bv-rating{
				border-right: none !important;
			}
		}
	}
}

.prod-description{
	clear: both;
	font-size: 16px;
	margin: 0 0 20px;
	padding: 20px;
	h3{
		text-transform: none;
		font-size: 16px;
	}
	@include bp(max-width, $bp-medium - 1) {
		display: none;
	}
}

@include bp(min-width, $bp-xsmall) {
	.catalog-product-view .product-view {
		.product-img-box {
			.product-image-gallery {
				min-height: 320px;
			}
			.video {
				max-height: 320px;
			}
		}
		.more-views {
			height: 90px;
			padding: 10px 35px;
			max-width: 100%;
			.arrow {
				top: 25px;
				&.prev {
					background: sprite($desktop-icons, gallery_arrow_left_hover) no-repeat;
					@include sprite-dimensions($desktop-icons, gallery_arrow_left_hover);
					&.nomore {
						background: sprite($desktop-icons, gallery_arrow_left) no-repeat;
					}
				}
				&.next {
					background: sprite($desktop-icons, gallery_arrow_right_hover) no-repeat;
					@include sprite-dimensions($desktop-icons, gallery_arrow_right_hover);
					&.nomore {
						background: sprite($desktop-icons, gallery_arrow_right) no-repeat;
					}
				}
			}
			ul.product-image-thumbs {
				position: relative;
				li {
					height: 60px;
					a img {
						min-width: 60px;
					}
					a.video-link {
						.icon {
							top: 18px;
							left: 36px;
						}
					}
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		.main-container {
			position: static;
			max-width: 980px;
			padding: 15px 30px 20px;
		}
		.product-view {
			position: relative;
			float: left;
			margin-bottom: 30px;
			.product-img-box {
				margin: 20px 0 0 0;
				padding: 0;
				position: relative;
				width: 57.4%;

				.product-image {
					margin-bottom: 0;
				}
				.product-image-gallery {
					min-height: 450px;
					.gallery-image.visible {
						width: 100%;
					}
				}
				.video {
					margin-top: 15%;
					/*  keep aspect ratio */
					position: relative;
					padding-bottom: 60%;
					height: 0;
					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: auto;
						min-height: 60%;
						max-height: 360px;
					}
				}

				.zoom {
					cursor: pointer;
					background: sprite($desktop-icons, zoom) no-repeat;
					@include sprite-dimensions($desktop-icons, zoom);
					position: absolute;
					bottom: 10px;
					left: 10px;
					z-index: 9;
					&:hover {
						cursor: pointer;
					}
				}

			}
			.product-name * {
				font-size: 30px;
			}

			.product-number {
				font-size: 20px;
				margin-bottom: 0;
			}
			.product-header {
				padding: 0;
			}
			.product-header .product-shop {
				float: right;
				padding-left: 20px;
				margin: 0;
				width: 48%;
				max-width: 460px;

			}
			.product-shop {
				.price-info {
					padding-left: 0;
					.old-price{
						float: left;
						.price {
							line-height: 30px;
							font-size: 12px;
							margin-left: 10px;
						}
					}
					.save-amount {
						font-size: 14px;
						clear: left;
					}
					.special-price{
						float: left;
					}
				}
				.extra-info{
					padding-right: 0;
				}
			}
			/* delivery and availability icons */
			.available-at {
				margin-top: 0px;
			}

			.product-secondary.mobile {
				display: none;
			}
			.product-secondary.desktop {
				display: block;
			}
			.product-secondary {
				/* width: 48%; */
				width: 100%;
				max-width: 460px;
				margin: 0;
				float: left;
				padding: 0;
				.delivery {
					padding-top: 0;
					margin-right: 50px;
					.caveat {
						margin-bottom: 10px;
					}
					.label{
						font-size: 12px;
					}
				}
				&:after{
					clear: both;
					overflow: hidden;
					display: block;
					content: "";
				}
			}
			.energy-rating.mobile {
				display: none;
			}
			.energy-rating.desktop {
				/* width: 50%; */
				width: 100%;
				max-width: 460px;
				clear: none;
				display: block;
				float: right;
				line-height: 60px;
				padding: 0;
				background-color: transparent;
				.energy-rating-label-a{
					background-position: 75px 0;
				}
				.rating-label {
					float: none;
					width: auto;
					position: relative;
					font-weight: bold;
					margin-right: 0;
					vertical-align: top;
					.energy-rating-label {
						top: -2px;
						left: 0;
					}
				}
			}
			.product-essential::after {
				margin-bottom: 0px;
			}
			.product-essential{
				width: 42.6%;
				float: right;
				padding-left: 2%;
				margin-top: 20px;
			}
			//push the actions, eco fiche and extra icons to the bottom
			.text-wrapper {
				padding: 0;
			}
			.short-description {
				/* width: 50%; */
				width: 42.6%;
				max-width: 460px;

				float: right;
				padding: 20px 0 0 2%;
				font-size: 16px;
				ul {
					font-size: 16px;
					line-height: 24px;
				}
				.std {
					line-height: 21px;
				}
				&.out-of-stock {
					padding: 20px 0 0 20px;
				}
			}

			.add-to-cart-wrapper {
				position: static;
				width: 100%;
				max-width: 460px;
				padding: 0;
				background-color: #FFF;
				margin: 0;
				.coming-soon {
					background-color: $c-gray-4;
					padding: 20px;
				}
				.add-to-box {
					background-color: $c-gray-4;
					padding: 0;
					.qty-wrapper {
						width: 50%;
						background-color: transparent;
						min-height: 30px;
						height: 30px;
						margin-bottom: 0;
						margin-top: 2px;
						span.qty {
							display: none;
						}
						.qty {
							margin-bottom: 0;
							margin-left: 10px;
							padding-left: 0;
							text-indent: 0;
							width: 60px;
							float: left;
							height: 28px;
							option {
								padding-left: 0;
								text-indent: 0;
							}
						}
						> span {
							float: left;
							display: inline-block;
							position: static;
							color: $c-gray;
							line-height: 28px;
						}
					}
					.add-to-cart-buttons {
						width: 50%;
						height: 32px;
						.button {
							font-size: 17px;
						}
					}
				}
				.inner-wrapper{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	.prod-description{
		padding: 0;
	}
}

@include bp(min-width, $bp-large + 1) {
	.catalog-product-view {
		.product-view{
			.product-secondary {
				clear: none;
			}
			.add-to-cart-wrapper {
				.inner-wrapper{
					padding-left: 18px;
					padding-right: 18px;
				}
				.add-to-box {
					.qty-wrapper {
						width: 45%;
					}
					.add-to-cart-buttons {
						width: 55%;
					}
				}
			}
			.energy-rating.desktop {
				* {
					font-size: 12px;
					background-color: transparent;
				}
				.energy-rating-label-a{
					background-position: 90px 0;
				}
			}
		}
	}
}

@include bp(min-width, 1000px) {
	.catalog-product-view {
		.main-container {
			padding: 15px 20px 20px;
		}
	}
}

@include bp(min-width, 1000px) {
	.catalog-product-view .main-container {
		padding: 15px 20px 20px;
	}
}

//*******************************************************
// Touchscreen support
/********************************************************/
.touch {
	.catalog-product-view .product-view .product-img-box .product-image-gallery .gallery-image-visible {
		top: 0;
		left: 0;
		transform: none;
	}
}

@include bp(max-width, $bp-medium) {
	.product-view .short-description {
		.text-wrapper{
			.std{
			//	max-height: 86px;
				overflow: hidden;
				transition: all .5s ease-in-out;
				margin-bottom: 5px;
			}
			&.open{
				.std{
					height: auto;
				}
				.more{
					display: none !important;
				}
			}
			&:after{
				overflow: hidden;
				display: block;
				content: "";
				clear: both;
			}
		}
	}
	.catalog-product-view .product-view {
		.add-to-cart-wrapper .qty-wrapper{
			position: relative;
			background: #f9f7f7;
			border-radius: 8px;
			min-height: inherit;
			.qty{
				width: 100%;
				padding-left: 72px;
				border-radius: 7px;
				height: 32px;
				font-weight: 700;
				position: relative;
				z-index: 2;
				background: transparent;
				option{
					text-align: left;
					padding: 10px;
					height: auto;
				}
			}
			> span{
				position: absolute;
				left: 10px;
				line-height: 32px;
				z-index: 0;
			}
		}
	}
}

