//---------------------------------------------------------------------
// Product Page - Magento default results styling
//---------------------------------------------------------------------
.catalog-product-view {
	.nav-menu {
		.nav-reviews {
			/* override default text values */
			*,
			#customer-reviews dl dd,
			#customer-reviews h2,
			#customer-reviews h3,
			#customer-reviews h4,
			#customer-reviews .review-heading {
				font-family: $f-stack-special;
				text-transform: none;
				color: $c-gray;
				border: none;
				font-size: 12px;
			}
			#customer-reviews {
				.review-heading {
					padding: 7px 0px 5px;
				}
				.review-heading span.title-review-header {
					font-weight: bold;
					font-size: 14px;
					display: block;
					float: left;
					margin-bottom: 0.5em;
				}
				.review {
					display: block;
					clear: both;
					padding-bottom: 30px;
					float: left;
					.review-meta {
						position: relative;
						.reviewer {
							font-weight: bold;
							width: 70%;
							display: inline-block;
							float: left;
						}
						.date {
							text-align: right;
							width: 30%;
							display: inline-block;
							font-weight: bold;
						}
					}
					.review-title, .review-title a {
						clear: both;
						font-weight: bold;
						color: $c-red;
						padding: 10px 0;
					}
					.review-container {
						position: relative;
						/* Overall rating value */
						.ratings.rate-1 {
							float: left;
							position: absolute;
							.rating-box {
								clear: both;
							}
						}
						.ratings {
							float: right;
							clear: right;
							margin: 0px;
							.review-label {
								width: 100px;
								float: left;
								clear: both;
								line-height: 25px;
							}
							.rating-box {
								float: left;
								margin-right: 0;
							}
						}
						.text {
							display: block;
							float: left;
						}
					}
				}

				.form-add {
					clear: both;
					padding-top: 40px;
					h3 span {
						color: $c-red;
					}
					.fieldset .form-list label, .fieldset h4 {
						font-weight: bold;
					}

					h2 {
						font-weight: bold;
						font-size: 14px;
					}
					.validation-advice {
						color: $c-red;
					}
					.buttons-set .button {
						background-color: $c-red;
						color: white;
						font-weight: bold;
						font-size: 16px;
						text-transform: uppercase;
						&:hover, &:active {
							background-color: darken($c-red, 5);
						}
					}
				}
				.review-summary-table .rating-box .rating-number::after {
					background: sprite($mobile-icons, review_stars_full) no-repeat;
					height: 11px;
				}
			}
		}
	}
}
.nav-reviews {
	.bv-action-bar-header{
		display: none !important;
	}
	.bv-cleanslate .bv-shared .bv-content-title{
		font-size: 14px !important;
	}
	.bv-cleanslate .bv-shared .bv-section-summary .bv-content-title{
		background: transparent !important;
	}
	.bv-cleanslate .bv-shared .bv-control-bar,
	.bv-cleanslate .bv-shared .bv-content-pagination{
		background: transparent !important;
	}
	.bv-cleanslate .bv-shared .bv-control-bar-count{
		font-weight: 700 !important;
	}
	.bv-cleanslate .bv-shared .bv-action-bar,
	.bv-cleanslate .bv-shared .bv-action-bar button{
	}
}
@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		.nav-menu {
			.nav-reviews {
				min-height: 150px;
				#customer-reviews {

					.all-reviews {
						margin-top: -30px;
						.review-heading span.title-review-header {
							font-size: 16px;
						}
						.review .review-meta {
							.reviewer, .date {
								width: 180px;
							}
							.date {
								float: right;
							}
						}

						.review-container {
							.ratings.rate-1 {
								top: 24px;
							}
							.ratings:first-child {
								margin-top: 10px;
							}
							.review-title {
								clear: none;
								width: 60%;
								margin-left: 200px;
								padding: 0;
							}
							.text {
								width: 47%;
								margin-left: 200px;
								font-size: 14px;
							}

						}
					}
					.form-add {
						h2 {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}


/* BV overwrite */
/*Product inline rating section*/
.bv-cleanslate .bv-submission-button.bv-text-link.bv-write-review-label:hover,
.bv-cleanslate .bv-submission-button.bv-text-link.bv-write-review-label:visited,
.bv-cleanslate .bv-submission-button.bv-text-link.bv-write-review-label {
    color: $c-red !important;
}

.bv-cleanslate .bv-write-review-container button.bv-submission-button.bv-write-review:hover,
.bv-cleanslate .bv-write-review-container button.bv-submission-button.bv-write-review {
    background-color: $c-red !important;
}

.bv-cleanslate .bv-primarySummary-rating-container .bv-rating-stars-container .bv-rating-stars.bv-rating-stars-on,
.bv-cleanslate .bv-inline-rating-container .bv-stars-container .bv-rating-stars-container .bv-rating-stars.bv-rating-stars-on {
    color: $c-red !important;
}

.bv-cleanslate .bv-primarySummary-rating-container .bv-summary-bar span .bv-rating-label.bv-text-link,
.bv-cleanslate .bv-primarySummary-rating-container .bv-summary-bar span .bv-rating-label.bv-text-link:visited,
.bv-cleanslate .bv-primarySummary-rating-container .bv-summary-bar .bv-rating.bv-text-link span,
.bv-cleanslate .bv-primarySummary-rating-container .bv-summary-bar .bv-rating.bv-text-link:visited span {
    color: $c-gray !important;
}

.bv-cleanslate .bv-popup-histogram-ratings .bv-histogram-action button.bv-read-review,
.bv-cleanslate .bv-popup-histogram-ratings .bv-histogram-action button.bv-read-review:hover,
.bv-cleanslate .bv-popup-histogram-ratings .bv-content-secondary-ratings-container .bv-content-secondary-ratings-value,
.bv-cleanslate .bv-popup-histogram-ratings .bv-content-secondary-ratings-container .bv-secondary-rating-summary-value,
.bv-cleanslate .bv-popup-histogram-ratings .bv-content-secondary-ratings-container .bv-secondary-slider-summary-value,
.bv-cleanslate .bv-popup-histogram-ratings .bv-content-secondary-ratings-container .bv-content-slider-value {
    background-color: $c-red !important;
}

/*Product Review sub section*/
.bv-cleanslate .bv-inline-histogram-ratings .bv-content-secondary-ratings-container .bv-content-secondary-ratings-value {
    background-color: $c-red !important;
}

.bv-cleanslate .bv-content-container .bv-content-header .bv-rating-stars-on,
.bv-cleanslate .bv-secondary-rating-summary-list .bv-rating-stars-container .bv-rating-stars-on {
    color: $c-red !important
}

.bv-cleanslate .bv-content-container .bv-content-header .bv-author .bv-avatar-popup-target {
    color: $c-red !important;
}