//---------------------------------------------------------------------
// Product Page - Spares
//---------------------------------------------------------------------
.catalog-product-view {
	.nav-menu {
		.nav-spares-and-accessories {
			* {
				margin: 0;
			}
			.content-wrapper {
				padding-bottom: 20px;
			}
			.block-related {
				overflow: hidden;
				width: 100%;
				margin: 0 auto;
				position: relative;
				.outer-box {
					overflow: hidden;
					padding-bottom: 65px;
					width: 260px;
					margin: 0 auto;
				}
			}
			ul {
				margin-top: -40px;
				width: 1000%;
				float: left;
				margin-bottom: 20px;
			}
			li.product {
				clear: none;
				width: 120px;
				margin: 60px 0 0 0;
				float: left;
				display: inline-block;
				text-align: center;
				&:nth-child(odd) {
					margin-right: 20px;
				}

				a.product-image {
					border: none;
					width: 100%;
					padding: 10px;
					background-color: $c-gray-4;
					&:after {
						background-color: white;
						content: '';
						display: block;
						position: absolute;
						top: 10px;
						left: 10px;
						right: 10px;
						bottom: 10px;
						z-index: 0;
					}
					img {
						margin: 0 auto;
						width: 100%;
						position: relative;
						z-index: 1;
					}
					&:hover, &:active {
						background-color: darken($c-gray-4, 5);
					}
				}
				.product-details {
					text-align: center;
					width: 100%;
					clear: both;
					.product-name, .product-name a {
						text-transform: none;
						color: black;
						font-weight: bold;
						font-size: 13px;
					}
					.price-box {
						> span {
							width: 100%;
						}
						.price {
							color: black;
							font-weight: bold;
						}
						.special-price {
							margin: 0;
							padding: 0;
							float: none;
							.price {
								font-size: 16px;
								width: 100%;
								text-align: center;
							}
						}
						.price-label {
							display: none;
						}
						.old-price {
							float: none;
							padding: 0;
							margin: 0;
							.price {
								float: right;
								color: $c-gray;
								font-size: 12px;
								line-height: 16px;
								vertical-align: baseline;
								margin-top: 3px;
								font-weight: normal;
								text-decoration: none;
								width: 100%;
								text-align: center;
								&::before {
									content: "Regular Price  ";
									margin-right: 5px;
								}
							}
						}
						.regular-price {
							width: 100%;
							text-align: center;
							float: none;
							padding: 0;
							margin: 0;
							display: inline;
							color: black;
							font-weight: bold;
							.price {
								width: 100%;
								text-align: center;
							}
							* {
								width: 100%;
							}
						}
					}
				}
				.product-actions {
					* {
						text-align: center;
					}
					.button, .out-of-stock {
						width: 100%;
						font-weight: bold;
						font-size: 12px;
						text-transform: uppercase;
						height: 25px;
						line-height: 25px;
						padding: 0;
						min-width: 0;
					}
					.out-of-stock {
						background-color: $c-gray-4;
						color: $c-gray;
					}
				}
			}
			.arrow {
				display: inline-block;
				position: absolute;
				top: 55px;
				bottom: 0;
				&:hover {
					cursor: pointer;
				}
				&.prev {
					left: 0;

					background: sprite($desktop-icons, spares_arrow_left_hover) no-repeat;
					@include sprite-dimensions($desktop-icons, spares_arrow_left_hover);
					&.nomore {
						background: sprite($desktop-icons, spares_arrow_left) no-repeat;
					}
				}
				&.next {
					right: 0;

					background: sprite($desktop-icons, spares_arrow_right_hover) no-repeat;
					@include sprite-dimensions($desktop-icons, spares_arrow_right_hover);
					&.nomore {
						background: sprite($desktop-icons, spares_arrow_right) no-repeat;
					}
				}
			}
			.view-all-link {
				text-align: center;
				margin: -44px 0 0;
				a {
					position: relative;
					z-index: 3;
					font-size: 16px;
					padding: 5px 10px;
					background-color: $c-gray-4;
					color: $c-gray;
					display: inline-block;
					text-align: center;
					text-transform: uppercase;
					width: 160px;

					&:hover, &:active {
						text-decoration: none;
						background-color: darken($c-gray-4, 5);
					}
				}
			}
		}
	}
}

@include bp(min-width, $bp-xsmall) {
	.catalog-product-view {
		.nav-menu {
			.nav-spares-and-accessories {
				.block-related {
					width: auto;
					margin: 0;
					.outer-box {
						width: 430px;
					}
				}
				ul.mini-products-list {
					li.product {
						position: relative;
						width: 100px;
						margin-right: 10px;
						&:nth-child(even) {
							margin: 60px 10px 0 0;
						}
						&:nth-child(odd) {
							margin-right: 10px;
						}
						&:nth-child(4n) {
							margin-right: 0px;
						}
						.product-actions {
							.button, .out-of-stock {
								font-size: 10px;
							}
						}
						.price-box {
							bottom: 30px;
							width: 100%;
							.special-price {
								vertical-align: baseline;
								line-height: 11px;
							}
						}
					}
				}
				.arrow {
					top: 30%;
				}
				.view-all-link {
					margin-top: -64px;
					a {
						font-size: 18px;
						margin: 0;
						padding: 5px 15px 5px 20px;
						width: auto;
					}
				}
			}
		}
	}
}

@include bp(min-width, $bp-small) {
	.catalog-product-view .nav-menu {
		.nav-spares-and-accessories {
			li.product {
				width: 21.5%;
				&:nth-child(odd) {
					margin-right: 20px;
				}
			}
			.arrow {
				top: 45%;
			}
			.block-related .outer-box {
				// padding-bottom: 0;
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		.nav-menu {
			.nav-spares-and-accessories {
				.content-wrapper {
					padding: 110px 0 0 0;
				}
				.block-related {
					.outer-box {
						width: 640px;
						padding-bottom: 0;
					}
					ul {
						li.product {
							min-height: 340px;
							width: 200px;
							padding: 0;
							/* revert to normal, from mobile version */
							&:nth-child(odd) {
								margin-right: 20px;
							}
							&:nth-child(even) {
								float: left;
								margin-right: 20px;
							}
							&:nth-child(3n) {
								margin-right: 0px;
							}
							.product-details {
								.product-name, .product-name a {
									font-size: 18px;
								}
								.product-name {
									margin-bottom: 10px;
								}
								.price-box {
									position: static;
									.special-price {
										width: 50%;
										float: left;
										line-height: 25px;
										vertical-align: auto;
									}
									.old-price {
										width: 50%;
										float: left;
										.price {
											text-align: left;
											line-height: 20px;
										}
									}
								}
								.price {
									font-size: 16px;
								}
								.old-price .price {
									font-size: 12px;
								}
							}
							.product-actions {
								width: 100%;
								left: auto;
								padding: 0 10px;
								.button, .out-of-stock {
									min-width: 130px;
									font-size: 14px;
									text-transform: uppercase;
									height: 35px;
									line-height: 35px;
									position: static;
									margin-top: 10px;
								}
							}
						}
					}
					.arrow {
						top: 100px;
					}
				}
				.view-all-link {
					margin: 0px 0 50px 0px;
				}
			}
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	.catalog-product-view {
		.nav-menu {
			.nav-spares-and-accessories {
				.block-related {
					.outer-box {
						width: 860px;
					}
					ul {
						li.product {
							min-height: 340px;
							width: 200px;
							&:nth-child(3n) {
								margin-right: 20px;
							}
							&:nth-child(4n) {
								margin-right: 0px;
							}
						}
					}
				}
			}
			.nav-reviews #customer-reviews .review-container .text {
				width: 55%;
				margin-top: -50px;
			}
		}
	}
}

