//---------------------------------------------------------------------
// Product Page - Specification
//---------------------------------------------------------------------
.catalog-product-view {
	.nav-menu {
		.nav-specifications {
			* {
				font-family: $f-stack-special;
			}
			.label {
				color: $c-gray;
				width: 180px;
			}
			.data {
				color: #000;
			}
			.spec-left {
				font-weight: bold;
				table {
					position: relative;
					padding: 0 20px;
					//for browsers that don't support calc
					width: 100%;
				}
				tr {
					background-color: $c-gray-4;
					height: 70px;
					line-height: 70px;
					&.manual{
						background-color: transparent;
						height: 45px;
						line-height: 45px;
						.label{
							> a{
								color: #CF102D;
								font-size: 16px;
								text-decoration: underline;
								line-height: 30px;
								text-transform: none;
								font-weight: normal;
								&:hover, &:active{
									color: #59595B;
								}
							}
						}
					}
				}
				td {
					border-color: white;
				}
				tr, td {
					padding: 0;
					margin: 0;
				}
				.label {
					text-transform: uppercase;
					font-size: 14px;
					padding-left: 30px;
				}
				.data {
					text-align: center;
					line-height: 18px;
					padding: 25px 0px;
					max-width: 60%;
				}
			}
			.spec-left{
				margin-top: 10px;
			}
			.spec-mid {
				margin-top: 5px;
				margin-bottom: 10px;
				.label {
					padding-left: 0;
					width: 50%;
				}
				.data-table td {
					line-height: 17px;
					padding: 10px 4px;
				}
			}
			.spec-right {
				position: relative;
				padding-bottom: 20px;
				img.dimensions-image {
					width: 100%;
					height: auto;
				}
				img.dimensions-image.with-dimensions {
					width: 80%;
				}
				.height {
					position: absolute;
					right: 0px;
					width: 20%;
					height: 70%;
					top: 20px;
					padding: 30% 0px 30% 10px;
					border-left: 1px solid $c-gray-4;
				}
				.width, .depth {
					float: left;
					text-align: center;
					border-top: 1px solid $c-gray-4;
					width: 35%;
				}
				.width {
					margin-right: 4.9%;
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		/*panel content*/
		.nav-menu {
			.nav-specifications {
				padding-bottom: 45px;
				.content-wrapper {
					padding: 130px 0 0 0;
					overflow: hidden;
				}
				.label {
					width: 200px;
				}
				.spec-left, .spec-mid, .spec-right {
					width: 32%;
					display: inline-block;
					float: left;
				}
				table {
					width: 100%;
				}

				.spec-left {
					font-size: 16px;
					float: left;
					table {
						width: 100%;
						position: static;
						margin: 0;
						padding: 0;
					}

					.label {
						text-transform: uppercase;
						padding: 0 0 0 20px;
						font-size: 14px;
						width: auto;
						max-height: 70px;
						line-height: 20px;
						vertical-align: middle;
					}
					.data {
						text-align: center;
						padding: 0px 20px 0 0;
						max-height: 70px;
						line-height: 20px;
						vertical-align: middle;
					}
				}
				.spec-mid {
					margin: 0 2%;
					tr, td {
						padding: 0;
						margin: 0;
						border-color: $c-gray-4;
					}
					tr {
						height: 30px;
						line-height: 30px;
					}
				}

				.spec-right {
					width: 31%;
					padding-bottom: 0;
					.width, .depth {
						position: absolute;
					}
					.depth {
						right: 25%;;
					}
				}
			}
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	.catalog-product-view {
		.nav-menu {
			.nav-specifications {
				.spec-left, .spec-mid {
					width: 286px;
				}
				.spec-right {
					width: 295px;
					margin-left: -5px;
				}
				.spec-left .label {
					font-size: 16px;
					width: 200px;
				}
				.spec-mid {
					margin: 0 20px;
				}
			}
		}
	}
}

