//---------------------------------------------------------------------
// Product Page - What's in the box?
//---------------------------------------------------------------------
.catalog-product-view {
	.nav-whats-in-the-box {
			.content-wrapper {
				overflow: hidden;
				font-size: 12px;
				margin-bottom: 20px;
				padding-left: 10px;
				padding-right: 10px;
				img{
					display: inline-block;
					max-width: 100%;
				}
				.whats-in-the-box {
					list-style-type: none;
					margin: 20px 0 10px 0;
					overflow: hidden;
					> p, > img{
						display: none;
					}
					li {
						border-left: 1px solid #cccccc;
						border-top: 1px solid #cccccc;
						box-sizing: border-box;
						padding: 5px 10px;
						text-align: center;
						width: 50%;
						float: left;
						&:first-child{
							border-top-color: transparent;
							border-left-color: transparent;
							img{
								height: 83%;
								width: auto;
								max-width: 100%;
							}
						}
						&:nth-child(2){
							border-top: none;
						}
						&:nth-child(4), &:nth-child(6){
							border-left-color: transparent;
						}
						p{
							margin: 0 auto;
							max-width: 200px;
							font-size: 16px;
						}
					}
				}
				.manual {
					margin: 10px 0;
					clear: both;
					a {
						color: $c-red;
						font-size: 14px;
						text-decoration: underline;
						line-height: 30px;

						&:hover, &:active {
							color: $c-gray;
						}
					}
				}
			}
		}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
			.nav-whats-in-the-box {
				.content-wrapper {
					font-size: 14px;
					margin-bottom: 40px;
					/*.box-image {
						width: 33%;
						img{
							max-height: 380px;
						}
					}*/

					.whats-in-the-box {
						margin: 0;
						li{
							float: left;
							padding-top: 15px;
							width: (100% / 3);
							&:nth-child(-n+3){
								border-top: none;
							}
							&:nth-child(4), &:nth-child(6){
								border-left-color: #ccc;
							}

						}
					}

				}
			}

	}
}
@include bp(min-width, $bp-medium + 1) {
	@include bp(max-width, $bp-large - 1) {
		.catalog-product-view {
			.nav-whats-in-the-box {
				.content-wrapper {
					.whats-in-the-box {
						li{
							width: 29%;
							&:first-child{
								width: 36%;
							}
							&:nth-child(6){
								margin-left: 42%;
								margin-top: -1px;
							}
							&:nth-child(7){
								margin-top: -1px;
							}
						}
					}
				}
			}
		}
	}
}

@include bp(min-width, $bp-large) {
	.catalog-product-view {
		.nav-whats-in-the-box {
			.content-wrapper {
				.whats-in-the-box {
					font-size: 16px;
					float: left;
					ul, ol{
						padding: 0;
						margin: 0;
						/*float: left;
						width: 48%;*/
						counter-reset: item;
					}
					li {
						float: left;
						width: 31%;
						padding: 15px 40px;
						display: block;
						text-align: center;
						margin: 0;
						p{
							margin: 0;
							padding: 15px 25px 0;
							display: inline-block;
						}
						&:first-child{
							border-bottom-color: transparent;
							width: 38%;
							height: auto !important;
							img{
								max-height:100%;
							}
						}
					}
					> p, > img{
						display: block;
						float: left;
						width: 49%;
						margin: 0 3% 0 0;
					}
				}
				.box-image{
					p{
						padding: 25px 25px 0;
					}
				}
				.manual {
					float: left;
					clear: left;
					margin-left: 51%;
					margin-top: -40px;
					padding-left: 10px;
					a {
						font-size: 16px;
					}
				}
			}
		}
	}
}
