//---------------------------------------------------------------------
// Product Page - Features sticky nav and common block styles
//---------------------------------------------------------------------
.catalog-product-view {
	//hide sticky nav
	.product-feature-nav {
		display: none;
	}
	.nav-menu {
		clear: both;
		.anchor-nav {
			display: block;
			height: 0;
		}
		.panel {
			min-height: 60px;
		}
		.header-wrapper {
			height: 60px;
			background-color: $c-gray-4;
			border-bottom: 1px solid white;
			position: absolute;
			z-index: 9;
			width: 100%;
			left: 0;
			h2 {
				color: $c-gray;
				font-weight: bold;
				text-transform: none;
				font-size: 20px;
				padding-left: 20px;
				line-height: 60px;
			}
		}
		.header-wrapper.color h2 {
			color: white;
		}
		.nav-features .header-wrapper.color {
			background-color: $c-red;
		}
		.nav-whats-in-the-box .header-wrapper.color {
			background-color: $c-blue;
		}
		.nav-specifications .header-wrapper.color {
			background-color: $c-green;
		}
		.nav-spares-and-accessories .header-wrapper.color {
			background-color: $c-yellow;
		}
		.nav-reviews .header-wrapper.color {
			background-color: $c-orange;
		}
		.content-wrapper {
			padding: 60px 20px 0;
			position: relative;
			z-index: 0;
			display: none;
		}
		.header-wrapper {
			&::after {
				background: sprite($support-mobile-icons, faq_grey_arrow) no-repeat;
				@include sprite-dimensions($support-mobile-icons, faq_grey_arrow);
				content: "";
				position: absolute;
				top: 22px;
				right: 20px;
				display: inline-block;
			}
		}

		.header-wrapper.color {
			&::after {
				background: sprite($support-mobile-icons, faq_white_drop_down_arrow) no-repeat;
				@include sprite-dimensions($support-mobile-icons, faq_white_drop_down_arrow);
				content: "";
				position: absolute;
				top: 26px;
				right: 20px;
				display: inline-block;
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		#nav-wrap {
			height: 40px;
			clear: both;
		}
		/* links to panels - sticky nav */
		.product-feature-nav {
			display: block;
			ul li {
				display: inline-block;

				a {
					display: inline-block;
					font-weight: bold;
					height: 40px;
					line-height: 40px;
					font-size: 13px;
					padding: 0 10px 0 9px;
					color: $c-gray;
					background-color: white;
					&.top::after {
						content: "";
						display: inline-block;
						background: sprite($desktop-icons, back_to_top) no-repeat;
						@include sprite-dimensions($desktop-icons, back_to_top);
						margin-left: 10px;
					}
					&.active {
						color: #fff;
						&.nav {
							background-color: $c-red;
						}
						&.box {
							background-color: $c-blue;
						}
						&.spec {
							background-color: $c-green;
						}
						&.spares {
							background-color: $c-yellow;
						}
						&.reviews {
							background-color: $c-orange;
						}
					}
					&.top:hover {
						cursor: pointer;
					}
					&:hover, &:active {
						background-color: $c-gray-4;
						text-decoration: none;
					}
				}
			}
			&.fixed {
				position: fixed;
				top: 0;
				z-index: 999;
				width: 100%;
				left: 0;
				padding: 0 30px;
				background-color: white;
			}
		}

		/*panel content*/
		.nav-menu {
			.header-wrapper {
				height: 80px;
				h2 {
					line-height: 80px;
					font-size: 40px;
					width: 100%;
					display: block;
					margin: 0 auto;
					padding-left: 30px;
				}
				&.color h2 {
					color: white;
				}
			}
			.header-wrapper, .header-wrapper.color {
				&::after {
					display: none;
				}
			}

			.anchor-nav {
				position: relative;
				display: block;
				margin-top: -38px;
				padding-bottom: 38px;
				z-index: -1;
			}
			.content-wrapper {
				display: block;
				/* to allow for the position: absolute of the header */
				padding: 120px 0px 0 0;
			}
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	.catalog-product-view {
		/* links to panels */
		.product-feature-nav {
			ul li a {
				padding: 0 20px;
				font-size: 14px;
			}
			&.fixed ul {
				width: 940px;
				display: block;
				margin: 0 auto;
			}
		}
		.nav-menu {
			.header-wrapper {
				h2 {
					width: 940px;
					padding: 0;
				}
			}
		}
	}
}

