<?php
/**
 * Cart cross sell items template
 *
 * $this @see MageWorx_InstantCart_Block_Checkout_Cart_Crosssell
 */
?>
<?php
$_wrapperDisplayed = false;

if($this != null && $this->getItemCount()): ?>
    <?php foreach ($this->getItems() as $_item):
        $quote = Mage::getSingleton('checkout/session')->getQuote();
        if (! $quote->hasProductId($_item->getId())):
        /** $_item is @see DirtDevil_Catalog_Model_Product */
        ?>
        <?php $stockItem = $_item->getStockItem(); ?>
        <?php if($stockItem->getIsInStock()): ?>
        <?php $_item = Mage::getModel('catalog/product')->load($_item->getId()); ?>
            <?php if (!$_wrapperDisplayed): ?>
                <div class="crosssell">
                <h2><?php echo $this->__('You may also need...') ?></h2>
                <ul id="crosssell-products-list">
                <?php $_wrapperDisplayed = true; ?>
            <?php endif; ?>

        <li class="item">
            <div class="image">
                <a href="<?php echo $_item->getProductUrl() ?>"
                   title="<?php echo $this->htmlEscape($this->getProductName()) ?>"
                   class="product-image">
                    <img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(190); ?>"
                         alt="<?php echo $this->htmlEscape($this->getProductName()) ?>"/>
                </a>
            </div>
            <div class="name">
                <a href="<?php echo $_item->getProductUrl() ?>">
                    <?php echo $this->escapeHtml($_item->getName()) ?>
                </a>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <div class="shipping-cost-info">
                    <?php echo $this->__('Inc. 19% Tax, ') ?><a href="<?php echo Mage::helper('cms/page')->getPageUrl('liefer-und-zahlungsbedingungen') ?>"><?php echo $this->__('Shipping costs excluded') ?></a>
                </div>
            </div>
            <div class="product-details">
                <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
            </div>
        </li>
        <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php if ($_wrapperDisplayed): ?>
        </ul>
        <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script>
        </div>
    <?php endif; ?>

<?php endif; ?>
