<?php /**
 * $this: @see Vax_Checkout_Block_Cart_Totals
 * */ ?>
<div class="subtotal">
    <?php
    $currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
    $subtotal = $this->getTotal('subtotal') ? $this->getTotal('subtotal')->getValue() : Mage::getSingleton('checkout/session')->getQuote()->getSubtotalWithDiscount();
    ?>
    <div class="label">
        <?php echo $this->__('Sub-total') ?>
    </div>
    <div class="cart-price">
        <?php echo Mage::helper('core')->currency($subtotal, true, false); ?>
    </div>
</div>
