<?php /**
 * $this: @see Vax_Checkout_Block_Cart_Totals
 * */ ?>
<?php
if ($this->getTotal('tax') && $this->getTotal('tax')->getValue()): ?>
<div class="subtotal tax">
    <div class="label">
        <?php echo Mage::helper('checkout')->__('Inc. %d%% Tax', 19) ?>
    </div>
    <div class="cart-price">
        <?php echo Mage::helper('core')->currency($this->getTotal('tax')->getValue(), true, false); ?>
    </div>
</div>
<?php endif; ?>
