/*****************************************************
* Homepage Spares - General
******************************************************/
#home-spares {
    background-color: $c-yellow;
    * {
        line-height: 1;
        font-family: $f-stack-special;
        color: $c-gray;
    }

}
/*****************************************************
* Homepage Spares - Mobile Screens
******************************************************/
#home-spares {
    .inner-container {
        padding: 20px $trim-small;
    }
    .spares-header {
        font-size: 20px;
        font-weight: bold;
        width: 50%;
    }
    .spares-menu {
        font-size: 14px;
        margin-top: 20px;
        li {
            display: block;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
            &::before {
                content: ">";
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .spares-img {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

/*****************************************************
* Homepage Spares - Large screens
******************************************************/
@include bp(min-width, $bp-medium + 1) {
    #home-spares {
        .inner-container {
            position: relative;
            display: block;
            width: 100%;
            margin: 25px auto 0;
            padding: 50px $trim;
        }
        .spares-header {
            width: 100%;
        }
        .spares-menu {
            margin-top: 30px;
            li {
                display: inline-block;
                margin-bottom: 0;;
                margin-right: 5px;
                &::before {
                   display: none;
                }
                &::after {
                    content: ">";
                    padding-left: 10px;
                }
                &:last-child::after {
                    content: "";
                }
            }
        }
        .spares-img {
            top: 15px;
            right: 20px;
        }
    }
}

/*****************************************************
* Homepage Spares - Large screens
******************************************************/
@include bp(min-width, $bp-large + 1) {
    #home-spares {
        .inner-container {
            width: $max-container-width;
            padding: 50px $trim;
        }
        .spares-header {
            font-size: 30px;
        }
        .spares-menu {
            font-size: 18px;
        }
        .spares-img {
            top: 25px;
            right: 30px;
        }
    }
}
