<div class="left">
    <button type="button" class="shopping checkout-button" onclick="javascript: window.history.back()">
        <span><span><?php echo $this->__('Continue Shopping') ?> <span class="icon">&gt;</span></span></span>
    </button>
</div>
<div class="right">
    <?php if ($this->isPossibleOnepageCheckout()):?>
        <button type="button" class="checkout checkout-button" onclick="javascript: document.location.href='<?php echo Mage::getUrl('checkout/onepage') ?>'">
            <span><span><?php echo $this->__('Continue<br /> to Checkout') ?> <span class="icon">&gt;</span></span></span>
        </button>
    <?php endif; ?>
</div>
<div class="clearfix"></div>
