/* ================================================= *
 * Registration - Generic
 * ================================================= */
.vax-registration-index-index,
.vax-registration-form-index,
.vax-registration-form-success {
	.before-main-container {
		background-color: $c-green;
	}
}

.vax-registration-index-index,
.vax-registration-form-index,
.vax-registration-form-success,
.dirtdevil-support-index-index,
.contacts-index-index,
.support,
.support-product {
	.page-title {
		height: 110px;
        position: relative;
		h1 {
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 0px;
			border-bottom: none;
			padding: 23px 20px 0;
			display: inline-block;
			color: #fff;
			text-transform: none;
            &::after {
                content: "";
                position: absolute;
                float: right;
                display: inline-block;
                right: 20px;
                background: sprite($mobile-icons, registration-icon) no-repeat;
                @include sprite-dimensions($mobile-icons, registration-icon);
            }
		}
        .subtitle, h2 {
	        font-weight: bold;
            border: none;
            padding: 10px 20px;
            text-transform: none;
            color: white;
            font-size: 16px;
        }
	}
}

/* ================================================= *
 * Registration - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.vax-registration-index-index,
    .vax-registration-form-index,
    .vax-registration-form-success,
    .dirtdevil-support-index-index,
    .contacts-index-index,
    .support,
	.support-product {
		.page-title {
			height: 185px;
			h1 {
				font-size: 51px;
				padding: 53px 30px 0px;
                &::after {
                    top: 40px;
                    right: 30px;
                    background: sprite($desktop-icons, registration-icon) no-repeat;
                    @include sprite-dimensions($desktop-icons, registration-icon);
                }
			}
			.subtitle, h2 {
                margin: 0px;
                padding: 20px 30px 0px;
                font-size: 24px;
            }
		}
	}
}

/* ================================================= *
 * Registration - xLarge View Port
 * ================================================= */
@include bp(min-width, $bp-large+1) {
    .vax-registration-index-index,
    .vax-registration-form-index,
    .vax-registration-form-success,
    .dirtdevil-support-index-index,
    .contacts-index-index,
    .support, .support-product  {

        .page-title {
            h1 {
                padding: 53px 30px 0px;
                &::after {
                    right: 30px;
                }
            }
	        .subtitle, h2 {
                padding: 20px 30px 20px;
            }
        }
    }
}
