/* Registration Cross Sells */
#reg-crosssells {
  /*float: left;*/

  .crosssell {
    width: 100%;
    padding-left: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 18px;
      font-weight: bold;
      color: #F58426;
    }
  }

  .box-title {
    margin: 0 0 5px 0;
  }

  .products-grid {
    margin-bottom: 0;
    padding: 0;

      li {
      border: 1px solid #dcdee0;
      width: 24%;
      padding: 10px;
      margin: 0 0 10px 0.75%;
      height: auto;
    }

    li.first {
      margin-left: 0px;
    }

    .product-details {
      position: relative;
      min-height: 185px;
    }

    .product-image {
      margin: 10px auto;
      width: 100px;
      height: 100px;
      z-index: 1;
      clear: both;
      margin-bottom: 0px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .product-name {
      z-index: 999;
      position: relative;
      height: 36px;
      min-height: 40px;

      a {
        width: 100%;
        display: block;
        text-align: center;
        color: #5A6870;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .price-box {
      font-size: 14px;
      width: 100%;
      position: relative;

      .regular-price {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 14px;
      }
    }

    p.old-price {
      float: left;
      width: 90px;
    }

    p.special-price {
      float: right;
      width: 90px;
    }

    .product-links {
      clear: both;
      overflow: hidden;
      background: #eee;
      padding: 10px;
      max-width: 180px;
      margin-left: auto;
      margin-right: auto;
    }

    .link-learn, .btn-cart {
      padding: 5px 10px;
      width: 50px;
      vertical-align: middle;
      color: #fff;
      display: block;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      font-size: 12px;
      height: 25px;
      line-height: 1.1;
      box-sizing: content-box;
      border: none;
      border-radius: 0;
      text-transform: capitalize;
      white-space: inherit;
    }

    a.link-learn {
      background: #5A6870;
      float: left;
    }

    a.link-learn:hover {
      background-color: #747f85;
    }

    .btn-cart {
      background: #A4C33C;
      float: right;
    }

    .btn-cart:hover {
      background-color: darken(#A4C33C, 5%);
    }

    p.out-of-stock {
      float: left;
      font-weight: normal;
      color: #5A6870;
      width: 47px;
      padding: 3px 3px 3px 25px;
      height: 33px;
      background: url("/skin/frontend/vax/uk/images/icons/out_of_stock_icon.png") no-repeat 9% white;
      text-align: center;
      font-size: 12px;
    }
  }

  .products-grid > li:nth-child(3n+1) {
    clear: none;
  }
}

@include bp(max-width, $bp-large) {
  #reg-crosssells {
    .products-grid {
      li {
        width: 32%;
        padding: 10px;
        margin: 0 0.75% 10px 0;
        clear: none;
      }
    }
  }
}

@include bp(max-width, $bp-medium) {
  #reg-crosssells {
    .products-grid {
      li {
        width: 49%;
        padding: 10px;
        margin: 0 1% 10px 0;
        clear: none;
        max-width: 250px;
      }
    }
  }
}

@include bp(max-width, $bp-small) {
  #reg-crosssells {
    .products-grid {
      li {
        width: 99%;
        padding: 10px;
        margin: 0 1% 10px 0;
        clear: none;
        max-width: 250px;
      }
    }
  }
}

@include bp(max-width, $bp-xsmall) {
  #reg-crosssells {
    .crosssell {
      text-align: center;
    }
  }
}
