//--------------------------------------------
// Registration Form - Mobile
//

.vax-registration-form-index {
    .main-container {
        padding: 0;
    }
    .col-main {
        a, a:hover, a:active {
            color: $c-red;
        }
    }
    .main form {
        h2 {
            color: black;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            height: 35px;
            line-height: 14px;
            padding: 0 20px;
        }
        fieldset {
            border-top: 1px solid $c-gray-4;
            border-bottom: 1px solid $c-gray-4;
            padding: 20px;
            margin-bottom: 20px;
            &#fieldset-newsletter {
                border-bottom: none;
                margin-bottom: 0;
                .checkbox {
                    line-height: 0px;
                    vertical-align: middle;
                    display: inline;
                    padding-left: 10px;
                    margin-left: -5px;
                    margin-right: 5px;
                }
            }
        }
        .control-group {
            display: block;
            margin-bottom: 10px;
            float: left;
            width: 100%;
	        &.error {
		        margin-bottom: 0;
	        }
            &:last-child {
                margin-bottom: 0px;
            }
            .control-label, .controls {
                display: inline-block;
                font-size: 14px;
	            line-height: 20px;
            }
            .control-label {
                text-align: left;
                color: #000000;
                font-weight: bold;
            }
            .controls {
	            position: relative;
                width: 100%;
                display: block;
                input, select, textarea {
	                padding: 4px 6px;
                    width: 55%;
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid $c-input-border;
	                font-size: 12px;
                }
	            textarea {
		            height: 60px;
	            }
	            select option {
		            height: 36px;
		            padding: 10px 0 10px 10px;
	            }
	            .control-label-2 {
		            display: none;
	            }
	            #postcode, #address_id {
		            border-radius: 4px 0 0 4px;
	            }
	            span.comment {
		            font-size: 11px;
		            line-height: 1.1;
		            display: inline-block;
		            width: 45%;
		            vertical-align: middle;
		            padding-left: 5px;
		            position: absolute;
		            top: 0;
		            right: 0;
	            }
	            select {
		            width: auto;
		            height: 35px;
	            }
                input.help-inline,
                select.help-inline {
	                font-weight: bold;
	                border-color: $c-red;
	                color: #E63C2C;
                }
                span.help-inline {
	                display: block;
	                font-weight: bold;
	                font-size: 12px;
                }
	            .help-inline+.comment {
		            top: -10px;
	            }
	            #postcode, .address-selector {
                    width: 55%;
                }
	            input:focus:invalid:focus,
	            textarea:focus:invalid:focus,
	            select:focus:invalid:focus {
		            border-color: #E9322D;
		            box-shadow: 0px 0px 6px #F8B9B7;
	            }
	            input:focus:invalid,
	            textarea:focus:invalid,
	            select:focus:invalid {
		            color: #E63C2C;
		            border-color: #EE5F5B;
	            }
            }
        }
        .btn {
            color: white;
            text-transform: uppercase;
            background-color: $c-red;
            border: none;
            padding: 0px 11px;
            font-size: 18px;
            &:hover, &:active {
                background-color: darken($c-red, 10);
            }
        }
        .btn-search-address,
        .btn-select-address {
	        height: 35px;
	        padding: 0 11px 1px;
	        margin-left: 5px;
            font-size: 12px;
            width: 39%;
        }
        .submit-button .controls {
            max-width: none;
            #btn-submit-registration {
                width: 100%;
                margin-top: 20px;
	            height: 35px;
            }
        }
    }
    .terms {
        padding: 0 20px;
    }
}


//--------------------------------------------
// Registration Form - Small Tablet
//

@include bp(min-width, $bp-xsmall+1) {
	.vax-registration-form-index {
		.main form {
			.submit-button .controls #btn-submit-registration {
				width: 87px;
			}
		}
	}
}

//--------------------------------------------
// Registration Form - Tablet and Desktop
//

@include bp(min-width, $bp-small+1) {
	.vax-registration-form-index form {
		fieldset {
			&#fieldset-newsletter #mail_opt {
				margin-left: -30px;
				margin-right: 7px;
			}
		}
		#btn-submit-registration {
			margin-left: -30px;
			margin-top: 25px;
		}
	}
	.vax-registration-form-index #fieldset-newsletter {
		padding: 20px 50px;
	}
}
//--------------------------------------------
// Registration Form - Tablet
//

@include bp(min-width, $bp-medium+1) {
    .vax-registration-form-index {
        .main-container {
            padding: 0;
        }
        .main form {
	        padding: 10px 0;

	        fieldset {
                padding: 30px 0;
                margin-bottom: 30px;
            }
            h2 {
                height: 45px;
                padding: 0;
            }
            .control-group {
	            max-width: none;
	            width: auto;
                float: none;
                padding-bottom: 10px;
                .control-label {
                    width: 165px;
                    padding-right: 20px;
                    text-align: right;
                    line-height: 36px;
	                vertical-align: top;
                }
                .controls {
	                max-width: none;
	                width: 50%;
                    display: inline-block;
	                line-height: 36px;
	              
	                .control-label-2 {
		                display: inline-block;
	                }
                    #postcode, .address-selector {
                        width: 35%;
                    }
                    span.help-inline {
                        display: block;
                    }
	                .help-inline+.comment {
		                top: 0px;
	                }
                }
            }
            .btn-search-address,
            .btn-select-address {
	            width: 18%;
	            margin-left: 1%;
            }
        }
        .terms {
            padding: 0;
        }
	    #fieldset-newsletter {
		    padding: 30px;
	    }
    }
}

@include bp(min-width, $bp-large+1) {
    .vax-registration-form-index {
        .main-container {
            padding: 0 30px;
        }
    }
}