/* ================================================= *
 * Registration - Selector - Generic
 * ================================================= */
.vax-registration-index-index,
.dirtdevil-support-index-index {
    .model-number, .model-range {
        display: none;
    }
}

.product-types {
	padding: 30px 20px;

	li {
		max-width: 313px;
		a:hover, a:active {
			text-decoration: none;
		}
		&:nth-child(odd) {
			clear: both;
		}
	}

	a.model-range-item {
		&:hover, &:active {
			text-decoration: none;
		}
	}
}

.product-types, .model-range {
	list-style-type: none;

	li:nth-child(odd) {
		clear: both;
	}
	li {
		width: 50%;
		float: left;
		text-align: center;
		/*max-width: 149px;
		max-height: 181px;*/
		max-width: 313px;
		max-height: 344px;
		margin-bottom: 20px;

		a {
			color: $c-gray;
			font-weight: bold;
			padding: 15px 15px;
			display: block;
		}

		a:hover {
			background-color: #E9E9E9;
			color: $c-red;
			text-decoration: none;

			.title {
				color: $c-red;
			}
		}

		img {
			margin: 0 auto;
			max-width: 100%;
		}

		.title {
			font-weight: bold;
			padding-top: 14px;
			text-transform: none;
			font-size: 18px;
		}
	}

	&:after {
		@include clearfix;
	}
}

@include bp(min-width, $bp-medium+1) {
	.product-types
	{
		padding: 20px 30px;

		li {
			&:nth-child(odd) {
				clear: none;
			}
		}
	}

	.product-types, .model-range {

		li:nth-child(odd) {
			clear: none;
		}
		li {
			width: 33.33%;

			a, a .title {
				font-size: 20px;
			}
		}
	}
}
