.vax-registration-form-success {
    .main-container {
        padding: 20px 0;
    }
    .text-info {
        h2 {
            color: black;
            font-size: 20px;
            font-weight: bold;
            height: 35px;
            line-height: 14px;
            padding: 20px 20px 35px;
            margin: 20px 0;
            border-top: 1px solid $c-gray-4;
            border-bottom: 1px solid $c-gray-4;
            &.first {
                margin: 0 0 20px 0;
                border-top: none;
                padding: 0px 20px;
            }
        }
        p {
            padding: 0 20px;
        }
        table {
            margin: 20px;
            width: 100%;
            color: #000000;
            tr td {
                padding: 5px 0;
            }
        }
    }
}
@include bp(min-width, $bp-xsmall+1) {
    .vax-registration-form-success {
        .main-container {
            padding: 20px;
        }
        .text-info {
            h2 {
                padding: 20px 0 35px;
                &.first {
                    padding: 0;
                }
            }
            p {
                padding: 0;
            }
            table {
                margin: 20px 0;
            }
        }
    }
}
@include bp(min-width, $bp-medium+1) {
    .vax-registration-form-success {
        .main-container {
            padding: 30px 20px;
        }
        .text-info {
            h2 {
                padding: 30px 0 45px;
                &.first {
                    height: 45px;
                }
            }
            p, table * {
                font-size: 14px;
            }
            table {
                width: 50%;
            }
        }
    }
}
@include bp(min-width, $bp-large+1) {
    .vax-registration-form-success {
        .main-container {
            padding: 30px;
        }
    }
}


