// Padding
$pad: 10px;
$progress_bar_horizontal_width: 20%;
$progress_bar_horizontal_height: 76px;
$progress_bar_vertical_width: 50px;
$progress_bar_vertical_height: 110px;
$qty_total_width: 60px;

// CDN
$checkout_cdn: 'https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com';
$cdn: 'https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com'