/* ============================================ *
 * Base Styles
 * ============================================ */
@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

// Prevent 300ms delay in IE on touch devices
a, button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body,
button,
input,
select,
table,
textarea {
    font-family: $f-stack-sans;
    color: $c-text;
    font-size: $f-size;
    line-height: $b-line-height;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
}

/* our buttons.. */
.btn {
    box-sizing: content-box;
    text-decoration: none;
    position: relative;
}

.btn p {
  vertical-align: middle;
  text-align: center;
}

.btn-large {
    height: 48px;
    width: 105px;
    margin-left: 10px;
    float: left;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px;
    margin-top: -1px;
}

.btn-next {
    color: #fff;
    padding-left: 15px;
    padding-right: 55px;
    width: 65px;
    font-size: 15px;
}

.btn-prev {
    background-color: #dcdee0;
    color: $c-gray;
    padding-left: 55px;
    padding-right: 15px;
    width: 65px;
    font-size: 15px;
}

.btn-prev:hover,
.btn-prev:focus {
    color: $c-gray;
}

.btn-next:hover,
.btn-next:focus {
    color: #fff;
}

.btn .icon {
    position: absolute;
    display: block;
    top: 19px;
    height: 30px;
    width: 30px;
}

.btn-next .icon {
    right: 10px;
    background: none no-repeat 0 0;
    background-image: none;
}

.btn-prev .icon {
    left: 10px;
    background: none no-repeat 0 0;
    background-image: none;
}

/* Warning Bar */
.warning-bar {
    height: 26px;
    line-height: 26px;
    background-image: url('#{$checkout_cdn}/checkout/checkout-bg-shaded.png');
	background-repeat: repeat-x;
    padding-left: 10px;
    font-size: 16px;
    color: $c-gray;
    margin-bottom: 15px;
}

@include bp(max-width, $bp-small) {
	.warning-bar {
		height: 52px;
		background-repeat: no-repeat;
	}
}

/* Error */
.checkout-failure,
.checkout-failure #checkout-steps-title h2,
.checkout-failure #checkout-steps-title h3 {
    color: #e63c2c;
}

.checkout-failure .btn-edit {
  display: none;
}

.order-failure {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;

  .btn-try-again {
    width: 20%;
    height: 14px;
    line-height: 14px;
    border-radius: 5px;
    background: #e63c2c;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.078);
    padding: 10px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    margin-bottom: 10px;
  }
}

div.progress-bg {
  opacity: .8;
  background-color: #000;
  width: 100%;
  height: 4000px;
  display: none;
  position: absolute;
  left: -99999px;
  z-index:5;
}

.hide-for-small, .hide-for-large {
  display: none;
}

@include bp(max-width, $bp-medium) {
  .hide-for-large {
    display: block;
  }
}

@include bp(min-width, $bp-medium+1) {
  .hide-for-small {
    display: block;
  }
}

.checkout-cart-index .already-own-container,
.checkout-onepage-index .already-own-container,
.checkout-onepage-failure .already-own-container,
.checkout-onepage-success .already-own-container {
  display: none;
  height: 0;
}
