#checkout-wrapper {
    background-color: #fff;
    position: relative;
    font-family: $f-stack-vax-sans;
    max-width: 580px;

    &:after {
        @include clearfix;
    }

  .btn-manual-entry-main {
    margin-left: 24%;
    clear: both;
    display: block;
    text-decoration: underline;
    font-size: 12px;
  }

  .btn-show-search-address {
    text-decoration: underline;
    font-size: 12px;
    display: inline-block;
  }

  div.warning-bar {
    background: none;
    background-image: none;
    padding-left: 0;
    height: auto;
    line-height: auto;
    margin-bottom: 10px;

    input[type=checkbox] {
      width: auto;
      display: inline-block;
      margin-top: 0;
    }
  }

  #billing-details-summary {
    display: block;
    margin-bottom: 10px;
    margin-left: 24%;
    font-size: 13px;
    font-weight: bold;

    div {
      margin-left: -20px;
    }
  }

  #billing-payment-details-form {
    .payment-type {
      float: left;
      color: black;
    }

    .payment-method {
      .control-label {
        color: #5a6870;
        float: none;
        display: inline-block;
        width: 100%;
        font-weight: normal;
      }

      .control-label.label-realex, .control-label.label-realexdirect {
        width: 90%;
        margin-top: -5px;
      }

      .pay-method {
        margin: 0 7px 0 0;
        float: none;
        display: inline-block;
      }

      span.info {
        display: inline-block;
        margin-top: 5px;
      }
    }

    .payment-form {
      #realex_cc_cid {
        width: 23%;
        margin-right: 10px;
        margin-top: -8px;
      }

      div.cvv-help {
        display: inline-block;
        width: 25%;
        font-size: 11px;
        margin-top: 3px;
      }
    }

    .warning-bar {
      margin-left: 24%;

      label {
        margin-left: -20px;
      }
    }

    .label-paypal_standard, .label-paypal_express {
      background: url("../images/checkout/paypal.png") no-repeat;
      height: 12px;
      width: 46px;
      font-size: 0;
      margin-top: 6px;
      position: absolute;
    }
  }

  #checkout-steps {
    overflow: hidden;
    border: none;

    .step:last-of-type {
      border-bottom: 1px solid #e0dfdf;
    }
    .step-inactive {
      .steps-index, .form-horizontal, #checkout-steps-actions {
        display: none;
      }
    }

    a.link-step {
      font-size: 11px;
      cursor: pointer;
      color: $c-gray;
      text-decoration: underline;
    }

    .control-label {
      color: #000;
    }

    div.outlier {
        font-size: 13px;
        color: red;
        margin-bottom: 20px;
        width: 55%;
        margin-left: 24%;
    }
  }

  table {
    tr.cart-line td {
      border-top: none;
    }

    tr.discount td.desc {
      font-size: 13px;
    }

    th {
      border-bottom: 1px solid #dcdee0;
    }

    td {
      color: $c-gray;
      font-size: 11px;
      padding: 20px;
      min-width: 6em;
      text-align: right;
      vertical-align: top;
    }

    td.desc {
      text-align: left;
    }

    tr.totals td {
      border-top: 1px solid #fff;
      margin-top: -1px;
    }

    tr.totals ~ tr.totals td {
      border-top: none;
      margin-top: 0;
    }

    tr.savings-subtotal td {
      border-bottom: 1px solid #fff;
    }

    tr.delivery, tr.discount {
      td.desc {
        text-align: right;
      }
    }

    tfoot td {
      font-weight: bold;
    }
  }
}

body.checkout-onepage-success {
  #checkout-wrapper {
    max-width: none;

    .checkout-success-wrapper#leader {
      border: none;
      border-top: 1px solid $c-gray-4;
      text-align: left;
    }

    h2 {
      text-transform: none;
      font-size: 20px;
      text-align: left;
      font-weight: bold;
    }

    a.link-print {
      color: $c-gray;
      text-decoration: underline;
      font-size: 12px;
      font-weight: normal;
    }
  }

  #checkout-wrapper table td.savings-block {
    padding-top: 0;
  }

  .checkout-success td.savings-block .savings {
    background-color: $c-blue;
    color: white;
    float: left;
    font-weight: normal;
    min-height: 20px;
    height: auto;
    margin-top: 5px;
    padding: 5px 0px 5px 10px;
    position: relative;
    line-height: 20px;
    font-size: $f-size-xl;
    box-sizing: content-box;
    z-index: 1;
    text-transform: uppercase;
    width: auto;
    padding-right: 1em;

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      width: 100%;
      height: 100%;
      top: 0px;
      background-color: $c-blue;
      -webkit-transform: skew(-25deg);
      -moz-transform: skew(-25deg);
      -o-transform: skew(-25deg);
      -ms-transform: skew(-25deg);
      transform: skew(-25deg);
      z-index: -1;
    }

    &:after {
      background-color: $c-blue;
      -webkit-transform: skew(25deg);
      -moz-transform: skew(25deg);
      -o-transform: skew(25deg);
      -ms-transform: skew(25deg);
      transform: skew(25deg);
      width: 100%;
      content: "";
      position: absolute;
      left: 10px;
      height: 100%;
      top: 0px;
      z-index: -1;
    }
  }
}

.checkout-failure {
  color: #e63c2c;

  .form-horizontal, div.checkout-steps-actions {
    display: none !important;
  }

  #checkout-steps {
    div.step-visited {
      div.step-summary {
        display: none;
      }
    }

    div.step-inactive {
      div.step-summary {
        display: none;
      }
    }
  }

  .checkout-steps-title {
    h2, h3 {
      color: #e63c2c;
    }
  }
}

/* Table */
table.order-info th,
table.order-info td {
    padding: 3px;
}

table.order-info th {
    color: #f58426;
    border-bottom: 1px solid #a2adb3;
    font-size: 14px;
}

table.order-info td {
    color: $c-gray;
    border-top: 1px solid #dcdee0;
    font-size: 12px;
}

table.order-info tfoot td {
    border-top: 1px solid #f58426;
    border-bottom: 0px;
    font-weight: bold;
}

/* Progress Container */
.progress-container-wrapper {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-color: #FFF;
    background-image: url('#{$checkout_cdn}/checkout/spinner.gif');
    background-position: center 80%;
    background-repeat: no-repeat;
    z-index: 200;
    border: 3px solid $c-red;
    border-radius : 8px;
    margin-left: -100px;
    opacity : 1;
}

.progress-container .msg {
    text-align: center;
    color: $c-red;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    padding: 0px 20px;
}

/* Messages */

#cart-message,
#shipping-message {
    max-width: 888px;
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Delivery Dates */

.form-horizontal .controls-methods {
  label, label.radio {
    max-width: 340px;
    float: none;
    display: block;
  }
}

.delivery-date {
    display: block;
    float: none;
    margin-top: 2px;

    label {
      font-size: 11px;
      line-height: 1;
    }
}

div.method {
   overflow: hidden;
   height: 30px;
}

/* Order Summary */
#cart-summary .qty {
    text-align: right;
    width: 60px;
}

#cart-summary .price {
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

#order-contact-details {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 280px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: $c-gray;
}

.order-info {
    width: 135px;
    float: left;
    border: none;
}

/* Checkout Steps */
#checkout-steps-wrapper {
    clear: both;
}

#checkout-steps {
  div.step-summary {
    display: none;
    font-size: 14px;
    padding: 5px 20px;
  }

  .controls {
    input[type=radio], input[type=checkbox] {
      width: auto;
      margin-left: 1px;
    }

    .input-append input {
      width: 100%;
    }
  }

  span.comment {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    padding-left: 5px;
    position: absolute;
    top: 4%;
    right: 0;
  }

  .step-wrapper.step-visited {
    margin-bottom: 10px;
    padding-bottom: 10px;

    div.step-summary {
      display: block;
    }

    .step-info, .step-content {
      display: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .step-info {
      font-size: 14px;
      text-transform: uppercase;
      color: $c-gray;
    }
  }

  .btn-search-address, .btn-search-address:hover, .btn-select-address {
    background: $c-button-checkout-red;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    height: 14px;
    line-height: 14px;
    margin-left: 0.5em;
    position: absolute;
    left: 58%;
    width: 95px;
    top: 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
  }

  .btn-select-address {
    left: 200px;
  }

  input#address_delivery_postcode, input#address_billing_postcode {
    width: 55%;
    margin-top: 0;
  }

  .step-wrapper {
    position: relative;

    &.step-active {
      padding-top: 0;

      div.checkout-steps-header {
        padding-top: 15px;
      }
    }
  }

  .step-info {
    font-size: 14px;
    text-transform: uppercase;
    color: $c-gray;
    font-weight: bold;
  }
}

#checkout-steps .checkout-steps-header {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#checkout-steps .step-active .checkout-steps-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e0dfdf;
}

.small-discount, .totals-small {
  display: none;
}


@include bp(max-width, $bp-medium) {
  body.checkout-onepage-success #checkout-wrapper.checkout-success {
    .totals-small {
      display: table-row-group;
    }

    .totals-large {
      display: none;
    }

    .small-discount {
      display: table-row;

      .savings-block {
        padding-bottom: 20px;

        .savings {
          margin-top: -10px;
          float: right;
          margin-right: 20px;

          &:after, &:before {
            left: 13px;
          }
        }
      }
    }
  }

	#checkout-steps-header {
		&:after {
			@include clearfix;
		}
	}

  div.main {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  #top body.checkout-onepage-success {
    .main-container {
      margin-top: 0;
    }

    #checkout-header {
      height: auto;
      padding: 0 30px;
      vertical-align: middle;

      h1 {
        font-size: 30px;
        width: 96%;
        margin: 0 auto;
        line-height: 1em;
        padding: 25px 0;
      }
    }

    .basket-icon {
      background-image: url('../images/checkout/icons/basket-icon.png');
      background-repeat: no-repeat;
      width: 22px;
      height: 18px;
      display: inline-block;
    }


    #leader.checkout-success-wrapper {
      border: none;
      border-top: none;
      padding: 0;
      border-width: 0 !important;
    }


    div.checkout-success-wrapper {
      a.link-print {
        display: none;
      }

      h2 {
        font-size: 18px;
        width: 100%;
      }

      #delivery-date {
        h3 {
          font-size: 18px;
          padding-bottom: 15px;
          line-height: 1.1;

          div.icon-free-del {
            display: block;
            margin: auto;
            margin-bottom: 10px;
          }
        }
      }

      h3.what-happens-next {
        padding-top: 10px;
        margin-bottom: 10px;
      }

      .share {
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

     &#newsletter {
       h4 {
         width: 100%;
         text-align: left;
         font-size: 18px;
         float: none;
         margin-left: 0;
       }

       form.form-signup {
         width: 100%;

         input {
           width: 100%;
           margin-left: 0;
         }

         button {
           width: 100%;
           margin-left: 0;
           margin-top: 10px;
         }

         .v-fix.box .validation-advice {
           width: 100%;
           margin-left: 5px;
         }
       }
     }
    }
  }

  div#checkout-wrapper {
    div.checkout-success-wrapper {
      margin-top: 10px;

      .share {
        div.social-icons {
          width: 100%;
        }

        h4 {
          float: none;
          line-height: 20px;
          width: 100%;
          text-align: center;
        }

        ul li {
          display: inline-block;
        }
      }

      #cart-summary {
        td.grand-total {
          font-size: 16px;
          display: inline-block;
          width: 100%;
        }

        td.qty, td.price {
          padding-left: 0 !important;
        }

        .price, td.subtotal {
          .price {
            padding-right: 0;
          }
        }
      }
    }

    table {
      td, td.desc, td.qty {
        min-width: 0;
        width: auto;
      }

      td.price, td.subtotal {
        display: inline-block;
        width: 100%;
      }
    }
  }

  .checkbox .checkbox-label {
    font-size: 13px;
  }
}

@include bp(max-width, $bp-small) {
  body.checkout-onepage-success {
    .main-container {
      padding: 20px;
    }

    #checkout-header {
     padding: 0 20px;
    }
  }
}

#checkout-steps .step-wrapper {
    margin: 20px;
    margin-top: 0;
    padding-top: 30px;
    border-top: 1px solid #e0dfdf;
    margin-bottom: 22px;

    p.opted-out {
      background: url('../images/times-red.png') no-repeat 0 4px;
      padding-left: 15px;
      margin-top: 10px;
    }

    p.opted-in {
      background: url('../images/tick.png') no-repeat 0 4px;
      padding-left: 15px;
      margin-top: 10px;
    }
}

.checkout-steps-title h2 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  display: inline;
  width: auto;
  font-family: $f-stack-vax-sans;
}

.checkout-steps-title h3 {
    font-weight: normal;
    font-style: italic;
    color: $c-gray;
    font-size: 16px;
}

.checkout-steps-title .step-link {
  float: right;
  display: none;
}

#checkout-steps .step-active .step-content {
    display: block;
}

#checkout-steps .step-inactive .checkout-steps-actions,
#checkout-steps .step-inactive .checkout-steps-title .step-info,
#checkout-steps .step-inactive .step-content {
    display: none;
}

#checkout-steps .step-visited .step-link {
  display: inline;
}

#order-confirmation .success-lorry {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 100%;
}

.help-inline {
    font-size: 11px;
}

input {

}

.delivery-clearfix {
  clear: both;
}

/* form */
@include bp(max-width, $bp-small) {
	input.postcode {
		width: 185px;
	}
	#address_billing_postcode {
		width: 185px;
	}
	div.address-search {
		&:after {
			@include clearfix;
		}
	}
	.address-search .input-append {
		width: 300px;
	}
	select.address-selector {
  		width: 300px;
		float: right;
  	}
	.btn-select-address {
		display: block;
		float: right;
		margin-top: $pad;
	}
	.form-inline .control-label-cc-year {
		display: none;
	}
}

@include bp(min-width, $bp-small + 1) {
    .control-group {
        width: auto;
        margin: 0 auto 10px auto;
    }
}

.payment-method .control-label {
	float: left;
	padding-top: 5px;
	text-align: left;
	width: 22%;
    color: #000;
}

.medium-small {
  display: block;
}

.secure-checkout-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

@include bp(min-width, $bp-medium + 1) {
    #checkout-steps-actions {
        margin: 0px 0px 0px 0px;
    }

    .control-group {
        width: 100%;
    }
    .control-label {
		float: left;
        padding-top: 5px;
        text-align: right;
        width: 22%;
        color: #000;
    }
    .controls {
        margin-left: 24%;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }

  .checkbox div.checkbox-label {
    width: 92%;
  }

  .medium-small {
    display: none;
  }
}

@include bp(min-width, $bp-large + 1) {
  .checkbox div.checkbox-label {
    width: 93%;
  }
}

/* Warehouse Shipping */

#warehouse-collect {
    clear: both;
    display: block;
}

div.method {
    height: auto;
}

.checkout-onepage-success {
  .col-main {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #checkout-content-wrapper {
    width: 100%;
  }

  .checkout-success-wrapper#newsletter {
    border-top: 1px solid $c-gray-4;
    padding-top: 20px;
    padding-bottom: 10px;

    h4 {
      float: left;
      text-align: right;
      width: 40%;
    }

    .form-signup {
      float: right;
      width: 55%;
      clear: none;
      margin: 0;
      margin-top: 5px;

      .v-fix, .buttonwrap {
        float: left;
      }

      .v-fix {
        width: 60%;
      }

      .buttonwrap {
        width: 40%;
      }

      input {
        border: 1px solid #c2c4c4;
        border-radius: 5px;
        background: #fcfafa;
        width: 88%;
      }

      button {
        border-radius: 0px;
        background: $c-button-checkout-red;
        margin-left: 10px;
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        padding: 8px;
        width: auto;
        color: #fff;
        border: 0;
        margin: 0;

        &:hover {
          background-color: darken($c-button-checkout-red, 5%);
        }
      }

    }
  }
}

.checkout-success-wrapper#order-summary {
  width: 100%;
  float: none;
  margin-top: 20px;
  padding-bottom: 0;

  h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    padding-bottom: 28px;
    font-weight: bold;
    text-align: left;
    text-transform: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 0 20px 20px;
  }
}

.checkout-success-wrapper {
  width: 100%;
  overflow: hidden;
  margin-right: 7%;
  box-sizing: border-box;
  padding: 30px 0;
  margin-bottom: 20px;
  margin: 0 auto;

  h2 {
    font-size: 22px;
    color: black;
    float: left;
    width: 65%;
    margin-top: 0;
  }

  #delivery-date {
    width: 100%;
    clear: both;
    margin-top: 30px;
    color: #fff;
    vertical-align: middle;
    background-color: $c-button-checkout-red;

    h3 {
      color: #fff;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 20px;
      text-transform: none;

      div.icon-free-del {
        background: url('../images/checkout/free-delivery-white.png') no-repeat;
        width: 69px;
        height: 32px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
      }
    }
  }

  h3.what-happens-next {
    font-size: 18px;
    color: #000;
    clear: both;
    margin-bottom: 20px;
    padding-top: 24px;
    font-weight: bold;
    text-transform: none;
  }

  h4 {
    font-size: 14px;
    font-weight: normal;
    color: black;
    text-transform: none;
  }

  .share {
    border-top: 1px solid #e0dfdf;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    margin-left: auto;

    h4 {
      font-family: $f-stack-special;
      text-align: center;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: bold;
    }

    div.social-icons {
      margin: 0 auto;

      ul {
        line-height: 1em;
        margin-top: 10px;
      }

      ul li {
        background: url('../images/checkout/sprite.jpg') no-repeat;
        display: inline-block;
        margin-right: 20px;
        padding: 0;
        overflow: hidden;
        width: 53px;
        height: 53px;
      }

      ul li a {
        width: 53px;
        height: 53px;
        display: inline-block;
      }

      ul li.google {
        background-position: 0 -106px;
      }

      ul li.twitter {
        background-position: 0 -53px;
      }

      ul li.facebook {
        background-position: 0 0px;
      }

    }

  }

  .link-print {
    float: right;
    width: 30%;
    text-align: right;
    margin-top: 0;
  }

  #cart-summary {
    width: 100%;

    td {
      padding-left: 20px;
      font-size: 14px;
      color: #000;
      font-weight: bold;
    }

    td.qty {
      padding-left: 18px;

    }

    td.subtotal {
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      color: black;
    }

    td.grand-total-label {
      font-size: 20px;
    }

    td.grand-total {
      span.price {
        font-size: 20px;
      }
    }

    td.savings-block {
      text-align: left;
      vertical-align: middle;
      padding-bottom: 0;
    }
  }
}

.gradient-wrapper {
  position: relative;
}

.gradient-vertical {
  position: absolute;
  width: 100%;
  height: 4em;
  left: 0;
  top: -4.1em;

  background: -moz-linear-gradient(top,  rgba(250,250,250,0) 0%, rgba(250,250,250,0.01) 1%, rgba(250,250,250,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0)), color-stop(1%,rgba(250,250,250,0.01)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.01) 1%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.01) 1%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.01) 1%,rgba(250,250,250,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.01) 1%,rgba(250,250,250,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

tr.savings-subtotal td {
  vertical-align: bottom;
}

@media print {
  .checkout-onepage-success {
    .header-minicart, #header-search, .skip-links {
      display: none;
    }

    #checkout-header {
      h1 {
        font-size: 40px;
      }
    }
  }

  .checkout-success {
    div.social-icons, #newsletter {
      display: none;
    }
    .checkout-success-wrapper h2 {
      font-size: 16px;
      margin-top: 0 !important;
    }

    div.share h4 {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }

    td.desc {
      min-width: 50% !important;
    }

    td.savings-block .savings {
      width: 100% !important;
    }
  }
}
