.checkout-onepage-index #checkout-header {
	height: 80px;
	h1 {
		font-size: 30px;
		line-height: 80px;
	}
}
.checkout-onepage-index #checkout-sidebar {
	#order-summary table {
		th, td {
			padding: 20px;
			* {
				margin: 0;
				padding: 0;
			}
			.savings {
				padding: 10px 0 10px 10px;
			}
		}
		th.edit-action {
			padding: 20px 20px 20px 0;
			a {
				margin-right: 0;
			}
		}
	}
}
.checkout-onepage-index #checkout-wrapper {
	background-color: transparent;
	#checkout-content-wrapper {
		option {
			padding: 10px;
		}
		input, option, select {
			width: 100%;
			height: 35px;
			line-height: 35px;
		}
		input.ignore,
		input#address_delivery_shipping_method,
		input#address_delivery_postcode,
		input#address_billing_postcode,
		input#address_delivery_shipping_date,
		input.pay-method {
			width: auto;
		}
		.delivery-date {
			margin-left: 0;
		}
		span.comment {
			display: block;
			width: 100%;
			position: static;
			padding-left: 0;
			padding-bottom: 10px;
		}
		select#address_id {
			width: 55%;
			height: 35px;
		}
		#address_billing_useDeliveryAddress {
			height: 10px;
		}
		.shipping-methods span.title,
		.payment-method-label {
			line-height: 35px;
			vertical-align: top;
		}
		#billing-payment-details-form .payment-form div.cvv-help {
			width: 100%;
			font-size: 11px;
			margin: 0 0 10px;
		}
		.order-failure {
			.btn-try-again {
				background-color: $c-red;
				border-radius: 0;
				text-transform: uppercase;
				padding: 5px 10px;
				&:hover {
					text-decoration: none;
					background-color: darken($c-red, 5%);
				}
			}
			.title {
				margin: 15px 0px 20px;
			}
		}
		#checkout-steps-wrapper {
			clear: none;
			#checkout-steps {
				.btn-next .icon {
					display: none;
				}
			}
			.checkout-steps-actions {
				.btn {
					width: 100%;
					margin: 0;
					padding: 10px 0;
				}
				.btn-success {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.opc-block-progress-step-login {
	display: none;
}

//amend the footer newsletter being styled by checkout.css
.checkout-onepage-index .form-signup {
	input {
		margin-bottom: 0;
	}
	button {
		color: white;
	}
}

/* ====================================================== *
 * Checkout onepage success newsletter form - General
 * ====================================================== */
#top {
	.logo, .logo .small {
		width: 33px;
	}
	.checkout-onepage-success #newsletter.checkout-success-wrapper {
		h4 {
			float: left;
			text-align: right;
			width: 35%;
			margin-left: 5%;
			font-size: 18px;
			font-weight: bold;
			line-height: 1;
			margin-top: 5px;
		}
		.form-signup {
			width: 59%;
			float: right;

			input {
				width: 85%;
				margin-left: 5%;
				display: inline-block;
				float: left;
				height: 2.75em;
				line-height: 2em;
				margin-bottom: 0;
			}

			.v-fix {
				width: 100%;
				/*email box validation advice*/
				&.box .validation-advice {
					position: relative;
					width: 75%;
					text-align: left;
					margin-left: 7%;
					margin-top: 2.75em;
				}
			}
			.v-fix.box {
				&.l-name, &.f-name {
					.validation-advice {
						bottom: 0px;
						right: 10px;
						left: auto;
						text-align: right;

					}
				}
			}
			.buttonwrap {
				width: 100%;
				text-align: left;
			}
			button {
				width: auto;
			}
		}
	}
}

@include bp(min-width, $bp-xsmall + 1) {
	.checkout-onepage-index #checkout-wrapper {
		#checkout-content-wrapper {
			option, select {
				width: auto;
			}
			input, span.comment,
			input,
			input#address_delivery_postcode,
			input#address_billing_postcode {
				width: 55%;
			}
			#checkout-steps-wrapper {
				.checkout-steps-actions .btn {
					width: 250px;
				}
			}
		}
	}
}

@include bp(min-width, $bp-small + 1) {
	.checkout-onepage-index #checkout-header {
		h1 {
			padding-left: 20px;
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.checkout-onepage-index #checkout-header {
		height: 140px;
		h1 {
			font-size: 60px;
			line-height: 140px;
			padding-left: 50px;
		}
	}
	#top {
		.logo {
			width: 115px;
		}
		.checkout-onepage-success #newsletter.checkout-success-wrapper {
			.form-signup {
				padding-bottom: 20px;
				input {
					width: 90%;
				}
				.v-fix {
					width: 37%;
					/*email box validation advice*/
					&.box .validation-advice {
						width: 100%;
						top: 5px;
					}
				}
				/*name box validation*/
				.v-fix.box {
					&.l-name, &.f-name {
						.validation-advice {
							bottom: 10px;
						}
					}
				}
				.buttonwrap {
					width: 50%;
				}
				button {
					width: auto;
				}
			}
		}
	}
}
