/* ============================================ *
 * Cart - General
 * ============================================ */
.cart .page-title {
	border-bottom: 0px;
	margin-bottom: 10px;

	h1 {
		color: #1D2B33;
		font-weight: bold;
		text-transform: none;
		margin-bottom: 0px;
	}
}

.checkout-cart-index {
	.cart-message .messages {
		* {
			font-size: 17px;
		}
		//remove little arrow in the left before the error/success message
		li.success-msg, li.error-msg {
			border-color: transparent;
			margin-bottom: 20px;
			li::before {
				display: none;
			}
		}
		ul {
			margin: 0;
			li {
				padding: 10px 20px;
				span {
					padding: 0;
				}
			}
			li li {
				height: 50px;
				padding: 15px 0 15px 20px;
				margin: 0;
			}
		}
	}
	.top-header {
		width: 100%;
		background: $c-purple;
		height: 140px;
		line-height: 140px;
		vertical-align: middle;

		h1 {
			max-width: 940px;
			font-weight: bold;
		}
	}
	.main-container .main .col-main {
		margin-top: 20px;
	}
	.col-main {
		//empty basket
		.page-title {
			h1 {
				font-size: 20px;
				color: black;
				padding: 0px 20px 15px;
			}
		}
		.cart-empty {
			padding: 0 20px 10px;
		}
		//full basket
		button.checkout-button {
			line-height: 18px;
		}
		.cart-table {
			float: none;
			width: 100%;

			.cart-links > li {
				> a {
					display: inline-block;
				}
			}
			a {
				color: $c-gray;
			}
			tr {
				border-bottom: 1px solid #e0dfdf;
				margin-bottom: 0px;
			}
			thead th {
				color: $c-gray;
				font-weight: bold;
			}
			tbody td {
				padding: 20px 15px 20px 0;
				&.image {
					width: 150px;
					a.product-image {
						border: 10px solid $c-gray-4;
						img {
							border: none;
							box-shadow: none;
						}
					}
				}
			}
			.left {
				width: 25%;
			}
			.right {
				width: 74%;
			}
			.product-name {
				margin-top: 15px;
				a {
					color: #000;
					font-weight: bold;
					font-size: 20px;
					text-transform: none;

				}
			}

			.free-gift-msg {
				display: block;
				margin-top: 15px;
				margin-right: 2px;
				font-size: 16px;
				font-weight: bold;
				text-align: right;
				color: #000;
			}

			.product-cart-image {
				padding-right: 5px;
			}

			.product-cart-info {
				position: relative;
			}

			tr.title, tr.last-crosssell {
				border-bottom: 0;
			}

			tr.simple:last-of-type {
				border-bottom: 1px solid #e0dfdf;
			}
		}

		.cart-table .discount-label, #discount-total {
			background-color: $c-blue;
			color: white;
			float: left;
			font-weight: normal;
			height: auto;
			margin-top: 5px;
			padding: 5px 0px 5px 10px;
			position: relative;
			line-height: 20px;
			font-size: $f-size-xl;
			box-sizing: content-box;
			z-index: 1;

			&:before {
				content: "";
				position: absolute;
				left: 18px;
				width: 100%;
				height: 100%;
				top: 0px;
				background-color: $c-blue;
				-webkit-transform: skew(-25deg);
				-moz-transform: skew(-25deg);
				-o-transform: skew(-25deg);
				-ms-transform: skew(-25deg);
				transform: skew(-25deg);
				z-index: -1;
			}

			&:after {
				background-color: $c-blue;
				-webkit-transform: skew(25deg);
				-moz-transform: skew(25deg);
				-o-transform: skew(25deg);
				-ms-transform: skew(25deg);
				transform: skew(25deg);
				width: 100%;
				content: "";
				position: absolute;
				left: 18px;
				height: 100%;
				top: 0px;
				z-index: -1;
			}
		}

		#discount-total {
			width: 330px;
			text-transform: uppercase;
			text-align: center;
		}
	}

	// response error and success messages
	.messages {
		//remove little arrow in the left before the error/success message
		ul {
			margin: 0;
			padding: 0;
			li.success-msg,
			li.error-msg {
				padding: 10px;
				border-color: transparent;
				margin: 0px 0px 20px;
				span {
					padding-left: 0;
				}
				li {
					height: 50px;
					padding: 15px 0 15px 20px;
					margin: 0;
				}
				li::before {
					display: none;
				}
				> li {
					border: none;
				}
			}
		}
	}

	/* Coupon code */
	#coupon-code {
		margin-bottom: 10px;
		.header {
			background-color: $c-gray-4;
			border-radius: 0px;
			padding: 13px;
			font-size: $f-size;
			color: #58595b;
			font-weight: bold;
			a {
				text-decoration: underline;
				color: #1D2B33;
			}
		}
		.button:hover {
			background-color: $c-red;
		}
		.validation-advice {
			display: block;
			float: left;
			clear: both;
		}
		.desc {
			padding: 10px 0px 10px 10px;
		}
	}

	.cart-forms .discount {
		border: none;
	}

	#discount-coupon-form label {
		text-transform: none;
	}

	.coupon-msg{
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		color: #fff;
		padding: 7px 10px;
		margin-bottom: 10px;
		background: gray;
		&.error-msg{
			background: #cf102d ;
		}
		&.success-msg{
			background: #4c9d2f;
			+ .discount-total{
				border-top: 2px solid #e3e5e5;
			}
		}
	}
	.discount-total{
		margin-top: 10px;
		padding: 10px 0;

		.label {
			float: left;
			font-size: 14px;
			width: 40%;
			line-height: 28px;
		}
		.cart-price {
			float: right;
			font-weight: bold;
			width: 60%;
			font-size: 20px;
			text-align: right;
			color: $c-text;
		}
		&:after {
			clear: both;
			content: "";
			display: table;
		}
	}

}

/* ============================================ *
 * Cart - Medium View Port
 * ============================================ */
@include bp(min-width, $bp-small + 1) {
	.delivery-method-price {
		width: 130px;
	}
}

/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {

	.cart .page-title {
		h1 {
			font-size: 30px;
		}
	}
	.checkout-cart-index .main-container .main .col-main {
		margin-top: 0;
	}
	.cart-table {
		.product-cart-image {
			width: 86px;
			height: 86px;
			padding-right: 15px;
			.product-image img {
				height: 74px;
				width: 74px;
			}
		}
		.product-cart-info,
		.product-cart-actions,
		.product-cart-total,
		.product-cart-price {
			padding-top: 30px;
		}
		.product-name a {
			font-size: 22px;
		}
		.product-cart-info {
			padding-left: 0px;
		}
		.product-cart-actions select {
			margin-top: 7px;
		}
		.cart-price {
			font-size: 30px;
		}
	}
}

/* ============================================ *
 * Basket - Top Header
 * ============================================ */
@include bp(max-width, $bp-large) {
	.top-header {
		padding-left: 30px;
	}
}

@include bp(max-width, $bp-small) {
	.top-header {
		padding-left: 0px;
	}
}

/* ============================================ *
 * Checkout Messages - General
 * ============================================ */
.promo-area {
	float: left;
	width: 60%;
}

@include bp(max-width, $bp-large) {
	div.promo-area {
		width: 50%;
	}
}

@include bp(max-width, $bp-small) {
	div.promo-area {
		width: 100%;
	}
}

/* ============================================ *
 * Cart Messages - General
 * ============================================ */
.cart-message {
	/*border: 1px solid #E3E5E5;*/
	p {
		padding: 5px 15px 5px 32px;
		color: $c-red;
		position: relative;
	}

	&:after {
		@include clearfix;
	}
}

li.notice-msg {
	span {
		color: $c-red;
	}
}

.messages li.notice-msg li:before {
	border-style: none;
	content: " ";
	height: 18px;
	width: 18px;
	background-position: -131px -250px;
	position: absolute;
	top: 40%;
	left: 10px;
}

.messages li.notice-msg li {
	border-left: none;
	border: 1px solid #CCCCCC;
	background: none;
	padding-left: 32px;
}

.item-msg.notice {
	margin-top: 10px;
	color: $c-red;
}

/* ============================================ *
 * Cart Sub total - General
 * ============================================ */
.cart-totals-wrapper .subtotal {
	&:after {
		@include clearfix;
	}

	padding: 15px 5px 15px 5px;
	margin: 0px 10px;
	border-bottom: 1px solid #e3e5e5;

	.label {
		font-size: $f-size;
		float: left;
		min-width: 120px;
		color: #000;
	}

	.cart-price {
		float: right;
		color: #000;
		font-weight: bold;
		text-align: right;
	}
}

.cart-totals-wrapper .shipping {
    .outlier {
        color: #E63C2C;
        margin-top: 10px;
    }
}

@include bp(min-width, $bp-small + 1) {
	.cart-totals-wrapper .subtotal {
		.cart-price {
			width: 130px;
		}
	}
}

/* ============================================ *
 * Cart Sub total - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.cart-totals-wrapper .subtotal {
		.cart-price {
			font-size: 25px;
		}
	}
}

/* ============================================ *
 * Cart Totals - General
 * ============================================ */
.cart-totals {
	border: none;
}

.cart .cart-totals table {
	text-transform: none;
	font-size: $f-size;
}

.cart .cart-totals table .cart-value,
.cart .cart-price {
	color: #000;
	font-weight: bold;
}

.cart .cart-totals table .cart-value span.price {
	width: 130px;
	display: inline-block;
}

.cart-table .product-cart-price .old-price {
	color: #717D83;
	font-size: $f-size-xs;
}

.cart .cross-sell-product .cart-price {
	font-weight: normal;
}

.cart .cart-totals table td,
.cart .cart-totals table tfoot td,
.cart .cart-totals table td:first-child {
	padding: 15px 5px 15px 0px;
}

.cart .cart-totals table .subtotal {
	border-bottom: 1px solid #e3e5e5;
}

.cart .cart-totals table tfoot {
	border-bottom-width: 4px;
	border-top: none;
}

.cart .cart-totals table tfoot td {
	font-size: $f-size;
}

.cart .cart-totals td.a-left {
	text-align: left;
}

.cart .with {
	float: left;
	text-align: left;
	color: #717D83;
	margin-bottom: 30px;

	p {
		font-weight: bold;
		font-size: $f-size;
	}
}

.cart img.cart-info-icons {
	margin-top: 15px;
	margin-bottom: 40px;
}

/* ============================================ *
 * Icons
 * ============================================ */
.icon-secure-shopping {
	background: url('../images/checkout/delivery-icons.png') no-repeat;
	width: 68px;
	height: 68px;
	display: inline-block;
}

.icon-free-delivery {
	background: url('../images/checkout/delivery-icons.png') no-repeat;
	width: 68px;
	height: 68px;
	display: inline-block;
	background-position: -142px 0;
}

.icon-free-returns {
	background: url('../images/checkout/delivery-icons.png') no-repeat;
	width: 68px;
	height: 68px;
	display: inline-block;
	background-position: -285px 0;
}

.cart-payment-options .icons {
	margin-top: 15px;
	margin-bottom: 40px;
	cursor: default;

	.icon-left, .icon-middle, .icon-right {
		width: 33%;
		margin: 0;
		padding: 0;
		float: left;
	}

	.icon-left {
		text-align: left;
	}

	.icon-middle {
		text-align: center;
	}

	.icon-right {
		text-align: right;
		float: right;
	}
}

@include bp(max-width, $bp-small) {
	.cart-payment-options .icons {
		margin: 0 0 30px 0;
		padding: 0 20px;
	}

}

/* ============================================ *
 * Cart Totals - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.cart {
		.cart-totals table {
			.cart-value {
				font-size: $f-size-xxl;
			}

			tfoot strong {
				font-size: $f-size-xxl;
				line-height: 30px;
				vertical-align: bottom;
			}

			tfoot .cart-value strong {
				font-size: 30px;
				color: #1D2B33;
				font-weight: bold;
			}
		}
	}
}

/* ============================================ *
 * Shipping - General
 * ============================================ */
.cart-totals-wrapper .shipping {
	margin: 0 10px;
	padding: 15px 5px;

	.methods {
		li div {
			display: inline-block;
			vertical-align: top;
		}
	}

	.delivery-method-label {
		label {
			font-size: $f-size;
		}
	}

	.deliverydate {
		margin-left: 25px;
		margin-top: -20px;

		label {
			font-size: $f-size-xxs;
		}

		&:before {
			@include clearfix;
		}

		&:after {
			@include clearfix;
		}

	}

	div.clearfix {
		clear: both;
		height: 1px;
		width: 100%;
	}

	#shipping-methods .delivery-method-input {
		width: 30px;
	}

	#shipping-methods .delivery-method-label {
		max-width: 210px;

		label {
			font-size: $f-size;
		}
	}

	#shipping-methods ul li .method-description {
		min-height: 20px;
		max-width: 210px;
		font-size: 11px;
	}

	#shipping-methods .delivery-method-price {
		color: #1d2b33;
		font-weight: bold;
	}

	&:after {
		@include clearfix;
	}

	.sp-methods {
		padding: 10px 0 0;
		text-align: left;

		dd {
			margin-bottom: 10px;
		}

		label {
			font-family: inherit;
			font-size: inherit;
			min-width: 100px;

			span {
				font-family: inherit;
				font-weight: bold;
				font-style: normal;
			}
		}
	}

	#co-shipping-method-form ul li div {
		display: inline-block;
	}

	div.delivery-method-label {
		max-width: 210px;
		margin-left: 10px;
	}

	div.delivery-method-price {
		float: right;
		font-size: $f-size-xxl;
		color: #000;
		font-weight: bold;
	}

	#co-shipping-method-form .buttons-set .button {
		float: left;
		margin-left: 0;
	}
	#co-shipping-method-form .sp-methods dd label {
		border: none;
		background-color: transparent;
		min-width: 0px;
		font-style: normal;

		&:hover {
			background-color: inherit;
		}
	}
}

/* ============================================ *
 * Shipping - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.cart-totals-wrapper .shipping {
		#shipping-methods .delivery-method-price {
			font-size: 18px;
		}
	}
}

/* ============================================ *
 * Checkout Buttons - General
 * ============================================ */
.cart-totals .checkout-types {
	float: left;
}

.cart-totals .checkout-types .btn-checkout {
	background: $c-green;
	min-width: 240px;
	position: relative;
	text-align: left;
	height: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-transform: none;
}

.cart-totals .checkout-types .btn-checkout:hover {
	background: darken($c-green, 5%)
}

.cart-totals .checkout-types .btn-checkout:before {
	background-position: -200px -500px;
	width: 22px;
	height: 22px;
	position: absolute;
	content: " ";
	right: 20px;
	top: 14px;
}

.btn-empty,
.btn-update {
	background: $c-gray;
}

.btn-empty:hover,
.btn-update:hover {
	background: darken($c-gray, 5%);
}

/* remove buttons */
@include bp(max-width, $bp-small) {

	.col-main .cart-table .product-cart-actions .cart-links {
		display: block;
		float: none;
		padding-top: 0px;
		padding-right: 0;
		text-align: right;

		li {
			width: auto;
			min-width: 0;
			text-align: right;

			a {
				min-width: 0;
				padding-right: 0;
				font-size: $f-size-xs;
				text-decoration: underline;
			}
		}
	}
}

@include bp(min-width, $bp-small + 1) {
	.cart-links {
		margin-top: 10px;
	}
}

@include bp(max-width, $bp-large) {
	.checkout-cart-index .col-main .cart-top .left {
		width: 30%;
	}
	.display-single-price .cart-forms {
		float: right;
	}
}
@include bp(max-width, $bp-small) {
	.checkout-cart-index .col-main .cart-top .left {
		width: 100%;
	}
}
/* ============================================ *
 * Cross Sells
 * ============================================ */
.checkout-cart-index .col-main .cart-table tbody {
	tr.crosssels-top {
		td {
			padding: 0;
			height: 9px;
			background: url('../images/checkout/crosssell-arrow.png') no-repeat 60px 0;
			border-top: 1px solid #fff;
			border-bottom: 1px solid $c-gray-4;
		}
	}
}

.checkout-cart-index .col-main .cart-table tbody .cross-sell-product {
	background-color: $c-gray-4;

	h3 {
		text-transform: none;
		font-weight: normal;
		margin: 0;
		font-size: $f-size;
	}

	td {
		padding: 20px;
		height: auto;

		&.title {
			padding-bottom: 0;
		}
	}

	.product-cart-image {
		width: auto;
		padding-top: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.product-cart-info {
		padding-top: 10px;
	}

	.product-cart-image .product-crosssell-image {
		max-width: 60px;
		max-height: 60px;
		box-sizing: content-box;
		display: inline-block;
	}

	.product-cart-image .product-crosssell-image img {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		border: 5px solid $c-input-border;
	}

	.product-cart-image .product-info {
		display: inline-block;
		margin-left: 20px;
		vertical-align: top;

		h2 {
			text-transform: none;
			color: #000;
			font-size: $f-size-xxl;
			margin-top: 0;
		}

		.discount-label-crosssell {
			text-transform: uppercase;
			font-size: $f-size;
			color: $c-blue;
			font-weight: bold;
		}
	}

	.product-cart-info {
		p {
			font-size: $f-size-xs;
		}

		b {
			color: #00abd2;
		}
	}

	.product-cart-price {
		padding-top: 4px;
		padding-left: 0;
		text-align: left;

		.cart-price {
			font-size: 25px;
			font-weight: bold;
		}
	}

	.product-cart-actions {
		padding-left: 0;
		padding-top: 10px;
		text-align: left;

		.btn-cart-crosssell {
			background: $c-green;
			span {
				span {
					color: #fff;
					font-size: $f-size;
					text-decoration: none;
				}
			}
		}
	}
}

.checkout-cart-index .cross-sell-arrow {
	border-bottom: 0;
	td {
		padding: 8px 0px 0px 28px;
		span {
			background-position: -300px -500px;
			width: 25px;
			height: 14px;
			display: block;
		}
	}
}

.checkout-cart-index .cross-sell-end {
	border-bottom: 1px solid #e5e5e5;
}

.checkout-cart-index .cart-product {
	border-bottom: 0;
}

.btn-cart-crosssell {
	min-width: 118px;
}
@include bp(min-width, $bp-small) {
	.checkout-cart-index .col-main {
		//empty basket
		.page-title {
			margin-top: -30px;
			h1 {
				font-size: 25px;
				padding: 0px 0 15px;
			}
		}
		.cart-empty {
			padding: 0;
		}
	}
}
@include bp(min-width, $bp-medium) {
	.checkout-cart-index .col-main {
		//empty basket
		.page-title {
			margin-top: -10px;
			h1 {
				padding: 0px 0 15px;
			}
		}
	}
}

/* ============================================ *
 *  Cross Sells - Small screen
 * ============================================ */
@include bp(max-width, $bp-medium) {
	.checkout-cart-index .cross-sell-product {
		background-color: #EEEFF0;
		margin-bottom: 0;
		padding-bottom: 0;

		h3 {
			text-transform: none;
			font-weight: bold;
			margin: 0;
			font-size: 16px;
		}

		.product-cart-image {
			padding: 10px 0px 10px 15px;
		}

		.product-cart-total {
			display: inherit;
		}
	}

	.checkout-cart-index .cross-sell-arrow td {
		background-position: -68px -222px;
		width: 100%;
	}

	.checkout-cart-index .cross-sell-arrow {
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.cart-table {
		padding: 15px 20px 0px;
		float: left;
	}

	.last-crosssell .product-cart-actions {
		padding-bottom: 10px;
	}

	.cart-table .product-cart-image .product-image img {
		margin: 0 auto;
	}

	.checkout-cart-index .cross-sell-product td.title {
		padding: 5px;
	}

	.cart-table .cart-footer-actions #empty_cart_button {
		float: left;
	}

	.cart-table .cart-footer-actions .btn-continue {
		float: right;
	}

	.cart-totals-wrapper .shipping {
		#shipping-methods ul li .method-description {
			max-width: 180px;
		}
	}
}

@include bp(max-width, $bp-small) {
	.checkout-cart-index {
		div.crosssels-top {
			padding: 0;
			height: 9px;
			background: url('../images/checkout/crosssell-arrow.png') no-repeat 60px 0;
		}

		.crosssells-list {
			background-color: $c-gray-4;
			padding: 20px 20px 5px;

			h3 {
				text-transform: none;
				font-size: $f-size;
				color: $c-gray;
				font-weight: bold;
			}

			.cross-sell-product {
				background: transparent;
			}

			.left {
				width: 50%;
			}

			.product-cart-image {
				padding: 0;
				display: inline-block;
				vertical-align: top;

				img {
					width: 36px;
					height: 36px;
					border: 5px solid $c-gray-2;
				}
			}

			.product-info {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px;

				h2.product-name {
					font-family: $f-stack-default;
					text-transform: none;
					word-wrap: break-word;
					font-size: $f-size;
					font-weight: bold;
					color: #000;
					width: 80px;
					line-height: 1;
				}
			}

			.discount-label-crosssell {
				text-transform: uppercase;
				font-size: $f-size-xs;
				color: $c-blue;
				font-weight: bold;
			}

			.product-cart-price {
				text-align: right;

				span.cart-price {
					font-size: $f-size-xxl;
					font-weight: bold;
				}
			}

			.product-cart-actions {
				padding-left: 0;
				padding-top: 10px;
				text-align: left;

				.btn-cart-crosssell {
					background: $c-green;
					span {
						span {
							color: #fff;
							font-size: $f-size;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

@include bp(max-width, 599px) {
	.cart-table td[data-rwd-label]:before {
		text-transform: none;
	}
}

/* ============================================ *
 *   Cross Sells - Large screen
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.checkout-cart-index .cross-sell-product {
		.product-name {
			font-size: 18px;
		}
	}
}

@include bp(max-width, 400px) {
	.cart-table .cart-footer-actions #empty_cart_button {
		min-width: 110px;
	}

	.cart-table .cart-footer-actions .btn-continue {
		min-width: 130px;
	}
}

.cart .cart-totals table tfoot td.discount {
	padding: 0px 0px;
}
