/* ============================================ *
 * Cart - General - IE9
 * ============================================ */
.ie9 .checkout-cart-index #coupon-code input {
    height: 30px;
    padding-bottom: 0px;
    padding-top: 3px;
}