.header-minicart {
	p.empty { padding: $gap $gap; }

	.product-image {
		border: 1px solid #DCDEE0;
	}

	.product-details {
		.product-name a:hover {
			text-decoration: underline;
		}
	}
    .mini-products-list {
        padding: 10px 10px 10px;
        li {
            padding: 0px 5px 0px 0px;
        }
        li.last {
            padding-bottom: 0;
            margin-bottom: -10px;
        }
    }
	.info-wrapper {
		float: left;

		th {
			text-transform: none;
			font-size: $f-size-xs;
			line-height: $f-size-xs;
		}

		td {
			font-size: $f-size-xs;
			line-height: $f-size-xs;
		}
	}

	a.remove {
		font-size: $f-size-xs;
		position: relative;
		padding-left: 25px;
		float: right;
		margin-top: 20px;
	}

	a.remove:before {
		@extend .icon-sprite;
		position: absolute;
		top: 0px;
		left: 0px;
		content: " ";
		background-position: -250px -500px;
		width: 20px;
		height: 20px;
	}

	.subtotal {
        font-size: 14px;
		.label {
			color: $c-gray;
		}
	}
  /*overriding inline cart image positions*/
    .minicart-wrapper  a.product-image {
        margin-left: 0 !important;
        left: 0px !important;
        margin-top: 4px;
    }
	.minicart-actions {
        .checkout-types li {
            margin-bottom: 0;
        }
        .cart-link {
            background-color: $c-orange;
            color: #FFF;
            text-align: center;
            line-height: 16px;
            padding: 7px 15px;
            font-size: 13px;
            display: inline-block;
            float: left;
            width: 135px;
            height: 30px;
            text-transform: uppercase;
            font-weight: bolder;
            bottom: 15px;
        }
		.cart-link:hover {
			text-decoration: none;
			background-color: darken($c-orange, 5%);
		}
		.checkout-button {
			position: relative;
            height: 30px;
            font-weight: bolder;
            float: right;
            line-height: 16px;
            width: 145px;
		}
        .checkout-button:hover {
            background-color: $c-orange;
        }
		.checkout-button:before {
			@extend .icon-sprite;
			background-position: -124px -171px;
			width: 15px;
			height: 15px;
			position: absolute;
			content: " ";
			right: 17px;
			top: 9px;
		}
	}
}

@include bp(max-width, $bp-medium) {
	.header-minicart {
        .minicart-wrapper a.product-image {

        }
        .product-details .product-name {
            text-align: left;
        }
		.minicart-actions {
            padding-bottom: 10px;
			.cart-link {
				top: 10px;
				left: 10px;
				right: auto;
			}
		}
	}
}
@include bp(max-width, $bp-small) {
    .header-minicart .minicart-actions .checkout-button {
        width: 135px;
    }
    .header-minicart .minicart-actions .cart-link {
        width: 135px;

    }
}

@include bp(max-width, 1002px) {
    @include bp(min-width, $bp-medium + 1) {
        .header-minicart .minicart-actions {
            .cart-link {
                min-width: 115px;
                width: 115px;
            }
        }
        .header-minicart .minicart-actions .checkout-button {
            min-width: 135px;
            width: 135px
        }
    }
}

