.footer-container {
  max-width: 100%;
  margin: 1em 1em 0 1em;
  border-top: 1px solid #e3e5e6;
  background: #fff;
  padding: 0px 0px;

  .footer {
    padding: 10px 30px;
    text-align: center;
    clear: both;
    width: 100%;
    font-family: $f-stack-sans;

      ul {
        width: 100%;

        li {
          float: left;
          border-right: 1px solid #000;

          a {
            color: #000;
            font-weight: bold;
            margin: 0 0.4em;
          }
        }

        li:last-of-type {
          border-right: none;
        }
      }

    .right {
      text-align: right;
    }

    .footer-col {
      float: left;
      width: 12%;
      margin-right: 4%;
      text-align: left;

      h4 {
        margin: 6px 0 8px 0;
        padding: 0px 0px 3px 0px;
        border-bottom: 1px solid #f58426;
        color: #fff;
        text-transform: none;
        font-size: 0.9em;

        a, a:hover {
          color: #fff;
          text-decoration: none;
          font-size: 0.9em;
        }
      }

      a {
        color: #fff;
        font-size: 0.8em;
        text-decoration: none;
      }
    }
  }

  @include bp(max-width, $bp-medium) {
    .left, .right {
      float: none;
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .footer .right {
      width: 60%;
      text-align: center;
      margin-top: 1em;

    }

    .left {
      ul {
        width: 100%;

        li {
          float: none;
          border-right: none;
        }
      }
    }

  }
}

