select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: $f-stack-vax-sans;
  color: $c-gray;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c4c4;
  width: 75%;
  line-height: 35px;
  height: 35px;
  border-radius: 4px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"] {
  width: 72%;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

select, input[type="file"] {
  height: 30px;
  line-height: 30px;
}

select#address_delivery_shipping_date {
  width: auto;
}

#checkout-steps .step-1 .controls {
  input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], select {
    width: 55%;
  }
}

#checkout-steps .controls .address-search {
  input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], select {
    width: 55%;
  }
}

#checkout-steps .step-content .error-block {
  color: $c-red;
  font-size: 14px;
  background: #fbf5c5;
  padding: 0 15px;
  border: 1px solid #e63c2c;
  padding-left: 45px;
  margin-bottom: 20px;
  display: none;
  padding-bottom: 10px;
  padding-top: 10px;

  h6 {
    font-size: 18px;
  }

  .exclamation {
    color: $c-red;
    padding: 5px;
    border: 2px solid #e63c2c;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    display: block;
    font-size: 16px;
    float: left;
    margin-right: 10px;
    line-height: 9px;
    margin-bottom: -8px;
    vertical-align: middle;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;

    li {
      padding-left: 32px;
    }
  }
}

#checkout-steps {
  #billing-payment-details-form {
    label.radio {
      padding-top: 0;
      min-height: 0;
      line-height: 1;
      display: block;
      margin-bottom: 0.6em;

      input {
        padding-top: 0;
        min-height: 0;
        line-height: 1;
        margin-left: 0;
        position: relative;
      }
    }

    #address_billing_useDeliveryAddress {
      margin-top: 0px;
      float: left;
      margin-right: 10px;
      line-height: 1;
    }
  }

  a.btn-manual-entry, a.btn-show-search-address {
    color: $c-gray;
  }
}

button.btn-search-address:hover, button.btn-select-address:hover {
  background-color: darken($c-button-checkout-red, 5%) !important;
}

select#address_id {
  width: 58%;
}

.checkout-form .controls select#contactDetails_prefix {
  width: auto;
}

label, input, button, select, textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.checkout-form .form-horizontal .control-label {
  width: 100px;
}

em.required {
  display: none;
}

div.checkout-steps-actions {
  text-align: left;
  margin-top: 20px;
}

div.checkout-steps-actions .btn-next {
  width: 230px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  background: $c-button-checkout-red;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
  float: none;
  border-color: transparent;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-transform: uppercase;
  text-decoration: none;
}

div.checkout-steps-actions .btn-next:focus,
div.checkout-steps-actions .btn-next:hover,
div.checkout-steps-actions .btn-next:active {
  background: darken(#cf102d, 5%);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.step-3 div.checkout-steps-actions {
  text-align: right;

  .btn-next {
    background-color: $c-button-checkout-green;
    margin-bottom: 30px;

    &:focus,
    &:hover,
    &:active {
      background-color: darken($c-button-checkout-green, 5%);
    }
  }
}

div.step-visited div.checkout-steps-actions, div.step-inactive div.checkout-steps-actions {
  display: none;
}

.checkbox input[type=checkbox], .radio input[type=checkbox] {
  display: inline-block;
  vertical-align: top;
  margin-left: 1px;
}

.checkbox .checkbox-label, .radio .checkbox-label {
  display: inline-block;
  width: 90%;
  line-height: 1.2;
}

#contactDetails_optIn {
  margin-right: 5px;
}

#billing-payment-details-form .radio .checkbox-label {
  margin-top: 0;
  margin-bottom: 5px;
}

.controls {
  position: relative;

  span.comment {
    display: inline-block;
    width: 45%;
    padding-left: 5px;
    position: absolute;
    top: 4%;
    right: -16px;
    font-size: 11px;
    line-height: 1.1;
  }

  label.checkbox.inline {
    width: 100%;
  }

  span.country-single {
    display: inline-block;
    font-size: 14px;
    padding-top: 8px;
    line-height: 20px;
  }
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #e63c2c;
  font-weight: bold;
  clear: right;
  display: block;
}

.control-group.error .controls-title .help-inline {
  clear: none;
  float: none;
  display: block;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #e63c2c;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #e63c2c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #e63c2c;
  background-color: #f2dede;
  border-color: #e63c2c;
}
.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #e63c2c;
  border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-actions:after {
  clear: both;
}
.help-block,
.help-inline {
  color: #595959;
  font-size: 12px;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
}
input:not(#address_delivery_postcode):not(#address_billing_postcode)~span.help-inline,
select~span.help-inline {
  margin-top: -10px;
}
.input-append,
.input-prepend {
  display: block;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 14px;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}

@include bp(max-width, $bp-medium) {
  .delivery-date {
    display: block;
    margin-left: 18px;
  }

  #checkout-steps {
    .btn-search-address, .btn-search-address:hover, .btn-select-address {
      right: 9em;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
      font-size: 12px;
    }

    .address-search .btn-select-address {
      display: block;
      margin-top: 0;
      width: 80px;
    }

    .step-wrapper .btn-manual-entry-main {
      margin-left: 0;
    }

    select#address_id {
      float: none;
      width: 58%;
    }

    label {
      float: none;
      display: block;
      font-weight: bold;
      margin-bottom: 0;
    }

    #billing-payment-details-form label.payment-type {
      float: none;
      display: block;
    }

    div#billing-details-summary {
      margin-left: 0;
    }

    div.billing-form h3 {
      font-size: 14px;
      font-weight: bold;
      color: #000;
      margin-bottom: 1.2em;
    }

    #billing-payment-details-form .warning-bar {
      margin-left: 0;
    }

    span.info {
      width: 100%;
    }

    #billing-payment-details-form .payment-method .control-label {
      float: right;
      width: 95%;
    }

    div.step-content .error-block {
      padding-left: 10px;

      h6 {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  #checkout-steps #delivery-details-form label.radio .price {
    display: block;
    float: right;
    font-size: 18px;
    color: #000;
  }
}

@include bp(max-width, $bp-medium) {
  #checkout-steps {
    button.btn-search-address, button.btn-search-address:hover, button.btn-select-address {
      font-size: 12px;
      position: absolute;
      left: 58%;
      display: inline-block;
      float: none;
    }

    button.btn-select-address {
      left: 58%;
    }

    .input-append {
      display: block;
      width: auto;
    }

    input#address_delivery_postcode, input#address_billing_postcode {
      width: 55%;
    }

    div.payment-method {
      div.controls {
        margin-top: 1em;
      }
    }

    #billing-payment-details-form {
      .payment-method {
        .control-label {
          float: none;
          display: inline;
          width: 100%;
        }
      }

      label.radio {
        margin-left: 0;

        .checkbox-label {
          margin-top: 0em;
          width: 90%;
          float: left;

          input#address_billing_useDeliveryAddress {
            float: left;
            display: inline;
          }
        }
      }
    }

    div.payment-form {
      margin-top: 1em;
    }

    form.form-horizontal .control-group {
      margin-bottom: 0;

      label.control-label {
        text-align: left;
      }
    }
  }

  #checkout-wrapper #checkout-content-wrapper #checkout-steps-wrapper #checkout-steps .step-3{
    span.icon {
      display: none;
    }

    a.btn-success p {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }

  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 14px;
  }

  .input-append input,
  .input-prepend input,
  .input-append select,
  .input-prepend select,
  .input-append .uneditable-input,
  .input-prepend .uneditable-input,
  .input-append .dropdown-menu,
  .input-prepend .dropdown-menu,
  .input-append .popover,
  .input-prepend .popover {
    font-size: 16px;
  }
}

#checkout-steps .btn-select-address {
  display: none !important;
}

div.billing-form {
  margin-bottom: 1em;

  h3 {
    font-size: 14px;
    color: #000;
  }

  input[type=radio] {
    float: left;
    margin-right: 10px;
  }
}

#checkout-steps .control-label-cc-month {
    clear: both;
}

#checkout-steps .collapse {
    display: inline-block;
    text-indent: -9999px;
    background-image: url(/skin/frontend/dirtdevil_rwd/uk/images/icon_sprite.png);
    background-position: -300px -580px;
    width: 14px;
    height: 13px;
    margin-bottom: 0px;
    cursor: pointer;

}

#checkout-steps .hide-cvv-help {
    display: none;
    width: 85%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@include bp(min-width, $bp-medium + 1) {
   #checkout-steps .hide-cvv-help {
        width: 55%;
        margin-left: 24%;
        margin-top: 0px;
    }
}

/** Realex tweaks **/
select#realex_cc_exp_month {
  width: 70px;
}

select#realex_cc_exp_year {
  width: 70px;
  margin-left: 80px;
  margin-top: -83px;
}