html,
body {
    height: 100%;
}

abbr {
    border-bottom: 1px dotted #999999;
    cursor: help;
    -moz-box-sizing: border-box;
}

a {
   outline: 0 !important;
}

button:active, button:focus,
a:active, a:focus, input, input:focus, input:active, select, select:focus, select:active {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0 !important;
}

a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0;
    border: none !important;
}

object, embed {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0 !important;
}

a:hover, a:active, a:focus {
    outline: 0 !important;
    outline-style:none !important;
    outline-width:0 !important;
}