/* Checkout Header */
#checkout-header {
  width: 100%;
  background: #510c76;
  height: 140px;
  line-height: 140px;
  vertical-align: middle;

  h1 {
    color: #fff;
    font-weight: bold;
    text-transform: none;
    font-size: 60px;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 140px;
    padding-left: 50px;
  }
}

@include bp(max-width, $bp-small) {
  #checkout-header {
    h1 {
      padding-left: 20px;
    }
  }
}