body.checkout-onepage-index,
body.checkout-onepage-failure,
body.checkout-onepage-success {
	.pre-footer-container {
		display: none;
	}
}

@include bp(max-width, $bp-medium) {
	.skip-links {
		min-height: 50px;
	}
	.skip-link, .account-cart-wrapper {
		display: none;
	}
}

body.checkout-onepage-index,
body.checkout-onepage-failure {
  color: $c-gray;

  button, input, select, table, textarea {
    color: $c-gray;
  }

  .col-main {
    width: 63%;
  }

  .col-right {
    width: 37%;
  }
}

body.checkout-onepage-success {
  color: $c-gray;

  .col-main {
    width: 100%;
  }
}

.required {
  color: #b94a48;
}

.wrapper {
    min-height: 100%;
    min-width: 320px;
}

.wrapper:after {
    @include clearfix;
}

.page-header,
.main-container {
    margin: 0 auto;

    &:after {
        @include clearfix;
    }
}

.main-container {
    position: relative;
    margin-top: 30px;

  .button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    text-transform: capitalize;
  }
}

.col-main {
    padding-top: 0px;
    position: relative;
    float: left;
    width: 100%;
}

.main {
    &:after {
        @include clearfix;
    }
}

.skippable-content, .sidebar {
    display: none;
}

@include bp(min-width, $bp-medium + 1) {
    .main {
        border: 1px solid $c-gray;
        min-height: 620px;
    }

    .col-main {
        width: auto;
    }

    .page {
        padding: 0;
    }

    .skippable-content {
        display: block;
    }
}

#checkout-wrapper {
    position: relative;
}

#checkout-content-wrapper {
  min-width: 320px - $pad - $pad - $progress_bar_vertical_width;
}

@include bp(min-width, $bp-medium + 1) {
    #checkout-content-wrapper {
        width: 97%;
    }
}

#cart-summary {
    width: 100%;
}

#cart-summary,
#cart-summary .desc {
    min-width: 200px;
}

@include bp(min-width, $bp-medium + 1) {
    #order-summary {
        position: relative;

        &:after {
            @include clearfix;
        }
    }
    .skippable-content {
        position: absolute;
        right: -10px;
        width: 290px;
    }
    #cart-summary {
        padding-right: 290px;
        padding-left: 0px;
    }
    #cart-summary .desc {
        max-width: 530px;
    }
    .order-info {
        padding-left: 10px;
    }
}

@include bp(max-width, $bp-medium) {
  body.checkout-onepage-index,
  body.checkout-onepage-success,
  body.checkout-onepage-failure {
    .main-container {
      margin-top: 0;
      padding: 0;

      div.main {
        width: 100%;
      }
    }

    div.page {
      .col-main {
        width: 100%;
      }

      .col-right {
        width: 100%;
      }
    }
  }
}
