.checkout-onepage-index .sidebar {
  display: block;
}

/** Standard screen **/
.col-main {
  width: 66%;
  float: left;
}

.col-right {
  width: 33%;
  float: right;
}

div.main {
  border: none;
  min-width: 60%;
}

@media only screen and (max-width: $bp-medium) {
  .col-main {
    width: 100%;
    float: right;
  }

  .col-right {
    width: 100%;
    float: left;
  }
}