#checkout-sidebar-wrapper {
    width: 100%;
}

#checkout-sidebar {
  .step {
    width: $progress_bar_horizontal_width;
    height: $progress_bar_horizontal_height;
    background-color: #a2adb3;
    position: relative;
    float: left;

    a {
        width: auto;
        height: auto;
        display: block;
        color: #fff;
        text-align: center;
        font-size: 9px;
        font-weight: bold;
        text-decoration: none;
    }

    p {
      display: block;
      margin: 5px auto 0px auto;
      width: 50px;
      height: auto;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
    }

    span.subtitle {
      display: block;
    }

    .icon-numeral {
      display: block;
      height: 26px;
      width: 26px;
      margin: 10px auto 0px auto;
      background-color: none;
      background-image: url('#{$checkout_cdn}/checkout/icon_sprite_checkout.png');
      background-position: 0px -102px;
      background-repeat: no-repeat;
    }
  }
}

#checkout-sidebar .step-2 .icon-numeral {
    background-position: -26px -102px;
}

#checkout-sidebar .step-3 .icon-numeral {
    background-position: -52px -102px;
}

#checkout-sidebar .step-4 .icon-numeral {
    background-position: -78px -102px;
}

#checkout-sidebar .step-5 .icon-numeral {
    background-position: -104px -102px;
}

#checkout-sidebar .step-error .icon-numeral {
    background-position: -130px -102px;
}

#checkout-sidebar .step-active {
    background-color: #f58426;
}

#checkout-sidebar .step-active.step-last {
    background-color: #A4C33C;
}

#checkout-sidebar .step-visited {
    background-color: #dcdee0;
}

#checkout-sidebar .step-active.step-error,
#checkout-sidebar .step-error {
    background-color: #e63c2c;
}

#checkout-sidebar .step .icon-arrow {
    position: absolute;
    bottom: 0px;
    right: -18px;
    height: $progress_bar_horizontal_height;
    width: 18px;
    background-image: url('#{$checkout_cdn}/checkout/icon_sprite_checkout.png');
    background-position: 18px -190px;
    background-repeat: no-repeat;
    z-index: 4;
}

@include bp(max-width, $bp-small) {
	#checkout-sidebar .step .icon-arrow {
		display: none;
	}
}

#checkout-sidebar .step-visited.step .icon-arrow {
    background-image: none;
    background-color: none;
    background-position: 0px -51px;
}

#checkout-sidebar .step-prev .icon-arrow {
    background-color: #dcdee0;
}

#checkout-sidebar .step-active .icon-arrow {
    background-position: 0px -190px;
}

#checkout-sidebar .step-last .icon-arrow {
    display: none;
    top: -30px;
    background-color: #a4c33c;
    background-position: 0px -71px;
    height: 30px;
}

#checkout-sidebar .step-error .icon-arrow {
    background-color: #e63c2c;
}

#checkout-sidebar .step-last.step-active .icon-arrow {
    display: none;
}

#checkout-sidebar table th.summary {
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
  vertical-align: baseline;

  .basket-icon {
    background-image: url('../images/checkout/icons/basket-icon.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    display: inline-block;
  }
}

#cart-summary .edit-action a {
  color: $c-gray;
  text-decoration: underline;
}

#checkout-sidebar #order-summary table th.summary {
  font-size: 20px;
  font-family: $f-stack-vax-sans;
  font-weight: bold;
  width: 72%;

  a.expand-summary {
    font-size: 12px;
    font-weight: normal;
  }
}

#checkout-sidebar table th {
  font-size: 18px;
  color: #000;
  padding: 20px 20px 25px 20px;
}

#checkout-sidebar #order-summary table th.edit-action {
  padding: 20px 20px 25px 0px;
}

#checkout-sidebar table th.edit-action {
  text-align: right;
  font-size: 12px;
  vertical-align: middle;
  line-height: 30px;
}

#order-summary {
  overflow: hidden;
  background: $c-gray-4;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
}

.checkout-success #order-summary {
  max-width: 100%;
}

#order-summary .secure-checkout {
  background: white;
  padding-top: 30px;
  text-align: left;
  font-size: 14px;
  display: block;
}

#order-summary .secure-checkout p {
  margin-bottom: 0;
}

#order-summary .secure-checkout img {
  display: inline;
}

#checkout-sidebar {
  display: inline-block;
}

#checkout-sidebar table {
  th {
    border-bottom: 1px solid #fff;
  }

  td {
    color: #000;
    font-size: 14px;
    padding: 20px;
    vertical-align: top;
  }

  tr.sidebar-total td, tr#grand-total td {
    border-top: 1px solid #fff;
  }

  tr.sidebar-total ~ tr.sidebar-total td {
    border-top: none;
  }
}

#checkout-sidebar table tr.cart-line:not(:first-of-type) td {
  border-top: none;
}

#checkout-sidebar #order-summary table tfoot.totals tr.savings-discounts span.savings {
  margin-top: -15px;
}

#cart-summary,
#cart-summary .desc {
  min-width: 0;
}

#cart-summary .desc,
#cart-summary tr.subtotal td.subtotal-label {
  font-size: 14px;
  color: #000;
  font-weight: bold;

  .qty {
    font-size: 12px;
    display: block;
    text-align: left;
  }
}

#cart-summary .price {
  text-align: right;
  color: #000;
  font-weight: bold;
}

#cart-summary td.grand-total-label {
  font-size: 20px;
  font-weight: bold;
}

#checkout-sidebar #order-summary tr.savings-discounts td {
  padding-top: 10px;
}

#checkout-sidebar #order-summary table .savings {
  background-color: $c-blue;
  color: white;
  float: left;
  font-weight: normal;
  min-height: 20px;
  height: auto;
  margin-top: 5px;
  padding: 5px 0px 5px 10px;
  position: relative;
  line-height: 20px;
  font-size: $f-size-xl;
  box-sizing: content-box;
  z-index: 1;
  text-transform: uppercase;
  width: 92%;

  &:before {
    content: "";
    position: absolute;
    left: 10px;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: $c-blue;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    transform: skew(-25deg);
    z-index: -1;
  }

  &:after {
    background-color: $c-blue;
    -webkit-transform: skew(25deg);
    -moz-transform: skew(25deg);
    -o-transform: skew(25deg);
    -ms-transform: skew(25deg);
    transform: skew(25deg);
    width: 100%;
    content: "";
    position: absolute;
    left: 10px;
    height: 100%;
    top: 0px;
    z-index: -1;
  }
}

#checkout-sidebar table tfoot td.grand-total {
  font-size: 20px;
}


#summary-switcher {
  display: none;

  .label, .total {
    text-align: right;
    display: block;
  }

  .label {
    color: $c-gray;
    text-transform: uppercase;
    font-size: 1em;
    padding-right: 0;
    font-weight: normal;
  }

  .total {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
  }

  .switcher-link {
    padding-left: 2.5em;
    font-size: 1.2em;
    background: url('../images/arrows-ud.png') no-repeat;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    background-position: 0 3px;
  }

  .switcher-link:hover {
    color: #000;
  }

  a.switcher-link.expanded {
    background-position: 0 -14px;
  }
}

#grand-total {
  display: table-row;
}

div.resizable-content {
  height: auto;
  overflow: visible;
}

@include bp(max-width, $bp-large) {
  #order-summary {
    right: 0;
    max-width: 320px;
  }

  body.checkout-onepage-index .col-main, body.checkout-onepage-failure .col-main {
    width: 63%;
  }
}

@include bp(max-width, $bp-medium) {
	#checkout-sidebar-wrapper {
		&:after {
			@include clearfix;
		}
	}

    #order-summary {
      width: 100%;
      margin-bottom: 1em;
      max-width: 100%;

      div.secure-checkout {
        display: none;
      }
    }

  #summary-switcher {
    display: table-row;
  }

  div.resizable-content {
    overflow: hidden;
  }

  #checkout-sidebar #order-summary table th.edit-action {
    padding: 20px 10px 25px 0px;

    a {
      margin-right: 30px;
    }
  }

  #cart-summary .desc,
  #cart-summary tr.subtotal td.subtotal-label {
    font-size: 13px;

    .qty {
      font-size: 11px;
    }
  }

  #cart-summary td.grand-total-label {
    font-size: 18px;
  }
}

@include bp(min-width, $bp-medium + 1) {
    #checkout-sidebar-wrapper {
        position: absolute;
        left: 0;
        width: $progress_bar_vertical_width;
    }

    #checkout-sidebar .step {
        float: none;
    }

    #checkout-sidebar .step,
    #checkout-sidebar .step a
    {
        width: $progress_bar_vertical_width;
        height: $progress_bar_vertical_height;
    }

    #checkout-sidebar .step p {
        width: $progress_bar_vertical_width;
        height: 50px;
        font-size: 9px;
        position: absolute;
        top: 45px;
        margin: 0px 0px 0px 0px;
		z-index: 5;
    }

    #checkout-sidebar .step-last {
        background-image: url('#{$checkout_cdn}/checkout/icon_sprite_checkout.png');
        background-position: -100px 60px;
        background-repeat: no-repeat;
        background-color: none;
    }

    #checkout-sidebar .step-last.step-active {
        background-repeat: no-repeat;
        background-color: #a4c33c;
        background-image: url('#{$checkout_cdn}/checkout/icon_sprite_checkout.png');
        background-position: -150px 60px;
    }

    #checkout-sidebar .step-active.step-error,
    #checkout-sidebar .step-error {
        background-color: #e63c2c;
        background-image: none;
    }

    #checkout-sidebar .step-last.step-error .icon-arrow {
        background-color: #e63c2c;
        background-position: 0 -20px;
    }

    #checkout-sidebar .step-visited.step .icon-arrow {
        background-color: #DCDEE0;
    }

    #checkout-sidebar .step-visited.step.step-error .icon-arrow {
        background-color: #e63c2c;
    }

    #checkout-sidebar .step .icon-numeral {
        margin: 0px 0px 0px 0px;
        position: absolute;
        top: 15px;
        right: 12px;
    }

    #checkout-sidebar .step .icon-arrow {
        height: 50px;
        width:  $progress_bar_vertical_width;
        background-color: #a2adb3;
        background-image: url('#{$checkout_cdn}/checkout/icon_sprite_checkout.png');
        background-position: -100px -51px;
        right: 0px;
    }

    #checkout-sidebar .step-active .icon-arrow {
        background-position: -50px -51px;
    }

    #checkout-sidebar .step-last .icon-arrow {
        background-color: #A4C33C;
        background-position: 0 -71px;
        height: 30px;
    }

    #checkout-sidebar .step-last.step-active .icon-arrow {
        display: block;
    }
}