// Font Stacks
$f-stack-special: "Akzidenz-Grotesk Pro","Helvetica Neue",Verdana,Arial,sans-serif;
$f-stack-vax-sans: "Akzidenz-Grotesk Pro","Helvetica Neue",Verdana,Arial,sans-serif;
$f-stack-sans: "Akzidenz-Grotesk Pro","Helvetica Neue",Verdana,Arial,sans-serif;
$f-stack-serif: "Akzidenz-Grotesk Pro","Helvetica Neue",Verdana,Arial,sans-serif;
$f-stack-special: "Akzidenz-Grotesk Pro","Helvetica Neue",Verdana,Arial,sans-serif;

// Padding
$pad: 10px;
$progress_bar_horizontal_width: 20%;
$progress_bar_horizontal_height: 76px;
$progress_bar_vertical_width: 50px;
$progress_bar_vertical_height: 110px;
$qty_total_width: 60px;

// Colours
$c-link: #1d2b33;
$b-orange: #f58426;
$c-text: #000;

// =============================================
// Brand Colors
// =============================================
$c-light-blue: #00A8E2;
$c-blue: #0075C9;
$c-green: #4C9D2F;
$c-orange: #FF9F19;
$c-purple: #510C76;
$c-red: #CF102D;
$c-yellow: #F6CF3F;
$c-gray: #59595B; /* DD Grey 1 */
$c-gray-2: #C0C0C0; /* DD Grey 2 */
$c-gray-3: #878787; /* DD Grey 3 */
$c-gray-4: #E6E6E6; /* DD Grey 4 */
$c-gray-5: #EEEEEE; /* DD Grey 5 */

$c-button-checkout-red: #cf102d;
$c-button-checkout-green: #4c9d2f;

// CDN
$checkout_cdn: 'https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com';