<?php /* $this is DirtDevil_Spares_Block_Selector */ ?>
<div class="spares-finder-container">
    <div class="spares-finder">
        <div class="how-to-find">
            <div class="how_to_find_model block-row">
                <h2><?php echo __("How to find the model number"); ?></h2>
                <div class="model-image"></div>
            </div>
        </div>

        <div class="spares-search-controls">
            <form id="spares-model-number-search">
                <label for="model_name" class="control-label"><?php echo $this->__('Search by Category') ?></label>
                <div class="controls">
                    <select id="model-dropdown" name="model-dropdown">
                        <option value="-"><?php echo $this->__("Select a product"); ?></option>
                        <?php echo $this->getProductsInCategoryBlockHTML(); ?>
                    </select>
                </div>
                <div class="or"><?php echo $this->__("OR") ?></div>

                <div id="search-box">
                    <label class="search-label" for="search-reg"><?php echo __("Search by Model Number"); ?></label>
                    <input type="hidden" id="search-location" name="search-location" value="spares" />
                    <input type="hidden" id="category" name="category" value="<?php echo Mage::registry('current_category')->getId() ?>" />

                    <div class="box">
                        <input type="text" name="search" id="search-reg" class="input-text" value="<?php echo $this->__("e.g. DD2225-1") ?>"
                                   onblur="this.value==''?this.value='<?php echo $this->__("e.g. DD2225-1") ?>':''"
                                   onclick="this.value=='<?php echo $this->__("e.g. DD2225-1") ?>'?this.value='':''" />
                        <button type="submit" class="button" id="search-reg-go"><?php echo $this->__('Go') ?></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="buy-more-save-more">
            <?php echo $this->getChildHtml('static-promo-right'); ?>
        </div>
    </div>
</div>
