<?php /* $this is DirtDevil_Spares_Block_Selector_Autoselect */ ?>
<?php if ($this->getSearchPhrase() && $this->getRequest()->getParam('top-menu')): ?>
<script type="text/javascript">
    var controller = "/spares/index/sku/";

    function loadRelatedProducts(sku, errorHandler)
    {
        $j('#product-selector-container').show();
        $j('.category-products').empty();

        var url = controller + "?sku=" + sku + "&category=" + $j('#category').val();

        $j.ajax({
            url: url,
            context: document.body,
            success: function(data, status) {
                var response = $j.parseJSON(data);
                if (response.productlist !== null) {
                    $j('.category-products').html(response.productlist);
                    $j('.category-products img').unveil();
                    categoryLayout();
                }
                else {
                    $j('.category-products').html('<p class="note-msg error">' + response.error  + '</p>');
                }
                try {
                    attachAjaxCategoryListener();
                } catch(e) {

                }
            }
        });
    }

jQuery(window).load(function() {
    <?php if ($this->getSearchModel()): ?>
    jQuery('form#spares-model-number-search #model-dropdown').val('<?php echo $this->getSearchModel() ?>');
    <?php endif; ?>
    jQuery('form#spares-model-number-search #search-reg').val('<?php echo $this->getSearchPhrase() ?>');
});
setTimeout(function() {
    loadRelatedProducts('<?php echo $this->getSearchPhrase() ?>', '.search-box-error');
}, 500);


</script>
<?php endif ?>

