<label class="control-label">
    <?php echo __('Address'); ?>
</label>

<div class="controls">
    <div class="input-append">
        <?php echo $this->getSelectElement()->setClass('address-selector span4 required')->toHtml(); ?>
        <button class="btn btn-select-address btn-selector">Select</button>
    </div>
</div>