<?php
/**
 * Service page product Mini view - updated by AJAX when the user selects a product
 *
 * see skin/frontend/dirtdevil_rwd/de/js/service-product-finder.js
 * and @see DirtDevil_Support_ServiceController
 */
?>
<div class="product-mini-view">
    <img class="product-image" src="/media/wysiwyg/service/service-placeholder-image.jpg" />
    <div class="action">
        <a class="product-url" href="">
            <span class="product-sku"></span><span class="view"><?php echo $this->__('view')?></span> >
        </a>
    </div>
</div>
