<?php
/**
 * Mage_Core_Block_Template
 *
 * .product-links content is controlled by:
 *    AJAX in service-product-finder.js
 *     &
 *    data from Support/ServiceController.php
 *
 *  quicklinks is a cms block
 */
?>
<div class="search-box-error"></div>
<div class="product-links">
    <div class="header">
        <?php echo $this->__('Search results for ') ?><span class="product-name"></span>
    </div>
    <ul class="links-list">
        <li class="spares-li"><a class="spares-link" href="#"><?php       echo $this->__('Spares & Accessories') ?></a></li>
        <li class="features-li"><a class="features-link" href="#"><?php   echo $this->__('Features') ?></a></li>
        <li class="whats-box-li"><a class="whats-box-link" href="#"><?php echo $this->__("What's in the box?") ?></a></li>
        <li><a class="specs-link" href="#"><?php                          echo $this->__('Specifications') ?></a></li>
        <li class="downloads-li"><a class="downloads-link" href="#"><?php echo $this->__('Downloads') ?></a></li>
        <li class="reviews-li"><a class="reviews-link" href="#"><?php     echo $this->__('Reviews') ?></a></li>
        <li><a class="questions-link" href="#"><?php                      echo $this->__('Questions') ?></a></li>
        <li><a href="/registration/form/"><?php                           echo $this->__('Registration') ?></a></li>
    </ul>
</div>
<?php echo $this->getChildHtml('quicklinks'); ?>
