<?php if (!$this->getRemoveForm()): ?>
<form id="billing-details-form" class="checkout-form form-horizontal" novalidate="novalidate" action="post">
<?php endif ?>
<div class="billing-form">
    <div class="warning-bar">
        <label class="radio">
            <input id="address_billing_useDeliveryAddress" type="checkbox" name="address[delivery][same_as_billing]" class="ignore checkbox btn-use-delivery" value="1">
            <div class="checkbox-label"><?php echo __('Use delivery address as billing address'); ?></div>
        </label>
    </div>

    <div class="clearfix"></div>

    <div class="step-summary" id="billing-details-summary"  style="display: none;">
        <div>
            Apartment 3
            <br>50 George Street
            <br>Birmingham
            <br>West Midlands
            <br>B3 1PP<br>
        </div>
    </div>

    <div class="control-group control-group-search">
        <label class="control-label" for="address_billing_postcode">
            <?php echo __('Postcode'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">

            <div class="input-append">
                <input id="address_billing_postcode" class="postcode span4" title="<?php echo __('Please enter a valid post code'); ?>" type="text" name="address[billing][postcode]" value="<?php echo $this->escapeHtml($this->getPostcode()); ?>" placeholder="Postcode" maxlength="9" class="postcode" required>
                <button class="btn btn-search-address btn-search-billing-address btn-selector">Search</button>
            </div>
        </div>

        <a href="" class="btn-manual-entry btn-manual-entry-main">Enter address manually</a>
    </div>

    <fieldset class="address-data" style="display: none;">
        <div class="control-group address-line address-line-1">
            <label class="control-label" for="address_billing_street_1">
                <?php echo __('Address line 1'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_billing_street_1" class="span4" type="text" title="<?php echo __('Please enter a street address'); ?>" name="address[billing][street_1]" value="<?php echo $this->escapeHtml($this->getLine1()); ?>" placeholder="Line 1" required>
            </div>
        </div>

        <div class="control-group address-line address-line-2">
            <label class="control-label" for="address_billing_street_2">
                <?php echo __('Address line 2'); ?>
            </label>

            <div class="controls">
                <input id="address_billing_street_2" class="span4" type="text" name="address[billing][street_2]" value="<?php echo $this->escapeHtml($this->getLine2()); ?>" placeholder="Line 2">
            </div>
        </div>

        <div class="control-group address-search" style="display: none;">

        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_billing_city">
                <?php echo __('Town / City'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_billing_city" class="span4" type="text" title="<?php echo __('Please enter a town or city'); ?>" name="address[billing][city]" value="<?php echo $this->escapeHtml($this->getCity()); ?>" placeholder="Town / City" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_billing_region">
                <?php echo __('County'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_billing_region" class="span4" type="text" title="<?php echo __('Please enter a county'); ?>" name="address[billing][region]" value="<?php echo $this->escapeHtml($this->getRegion()); ?>" placeholder="County" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_billing_country_id">
                <?php echo __('Country'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <select id="address_billing_country_id" class="span4" name="address[billing][country_id]" required>
                    <?php foreach ($this->getCountryOptions() as $option) { ?>
                        <option value="<?php echo $option->getCountryId(); ?>" selected>
                            <?php echo __($option->getName()); ?>
                        </option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label">
            </label>


            <div class="controls">
                <a href="javascript:;" class="btn-show-search-address"><?php echo $this->__('Search for address again?') ;?></a>
            </div>
        </div>
    </fieldset>
</div>
<?php if (!$this->getRemoveForm()): ?>
</form>
<?php endif ?>