<?php
/**
 * Category layered navigation
 *
 * $this  @see DirtDevil_Catalog_Block_Layer_View
 */
?>
<?php if($this->canShowBlock()): ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
        <div class="block-layered-nav-container">
    <?php endif; ?>
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php else: ?> block-layered-nav--filters<?php endif; ?>">
        <div class="block-title">
            <span><?php echo $this->__('Filters') ?></span>

            <?php if ($this->getRequest()->isAjax() || $this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
        </div>
        <div class="block-content toggle-content">
            <?php echo $this->getStateHtml() ?>
            <?php if($this->canShowOptions()): ?>
                <p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Show all filters') ?></p>
                <dl id="narrow-by-list">
                    <?php $_filters = $this->getFilters(); ?>
                    <?php foreach ($_filters as $_filter): ?>

                        <?php if (!$_filter->getItemsCount()) : ?>
                            <?php continue; ?>
                        <?php endif; ?>

                        <?php if($_filter->getItemsCount() > 0 &&
                            !($this->getRemoveCategoryFilter() &&
                                $_filter instanceof Mage_Catalog_Block_Layer_Filter_Category)): ?>
                            <dt class="<?php echo $_filter->getBlockAlias() ?>"><?php echo $this->__($_filter->getName()) ?></dt>
                            <dd class="<?php echo $_filter->getBlockAlias() ?>"><?php echo $_filter->getHtml() ?></dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
        <div class="block block-layered-nav-bottom-bg"></div>
        </div>
    <?php endif; ?>
<?php endif; ?>
