/* DD Grey 1 */
/* DD Grey 2 */
/* DD Grey 3 */
/* DD Grey 4 */
/* DD Grey 5 */
/* ============================================ *
 * Reset
 * ============================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: black(0);
  /* Prevent tap highlight on iOS/Android */
  -webkit-text-size-adjust: 100%;
  /* Prevent automatic scaling on iOS */
}

body {
  background: #FFFFFF;
  color: #000000;
  line-height: 1;
}

html,
body,
img,
fieldset,
abbr,
acronym {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

th,
code,
cite,
caption {
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

address {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
}

q:before,
q:after {
  content: '';
}

input:focus,
input[type="search"]:focus {
  outline-offset: -2px;
}

input[type="search"] {
  -webkit-appearance: none;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/* DD Grey 1 */
/* DD Grey 2 */
/* DD Grey 3 */
/* DD Grey 4 */
/* DD Grey 5 */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

body.checkout-cart-index {
  font: 11px/1.35 "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}
body.checkout-cart-index button, body.checkout-cart-index input, body.checkout-cart-index select, body.checkout-cart-index table, body.checkout-cart-index textarea {
  font: 11px/1.35 "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.checkout-cart-index {
  /* Global Messages */
  /* Error Message */
  /* Success Message */
  /* Notification Message */
}
.checkout-cart-index .top-header h1 {
  color: #fff;
  font-weight: normal;
  text-transform: none;
  font-size: 60px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 140px;
}
.checkout-cart-index .col-main .cart-top {
  margin-bottom: 30px;
}
.checkout-cart-index .col-main .cart-top h2 {
  text-transform: none;
  color: #000;
  font-size: 20px;
}
.checkout-cart-index .col-main .cart-top:after {
  clear: both;
}
.checkout-cart-index .col-main .left {
  width: auto;
  float: left;
}
.checkout-cart-index .col-main .right {
  float: right;
}
.checkout-cart-index .col-main button.checkout-button {
  max-width: 170px;
  width: auto;
  min-height: 55px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  text-align: left;
  padding: 6px 10px;
  line-height: 1.15;
  margin-left: 0;
}
.checkout-cart-index .col-main button.checkout-button.shopping {
  background: #cf102d;
}
.checkout-cart-index .col-main button.checkout-button.shopping:hover {
  background: #b70e28;
}
.checkout-cart-index .col-main button.checkout-button.checkout {
  background: #4c9d2f;
  margin-left: 2px;
}
.checkout-cart-index .col-main button.checkout-button.checkout:hover {
  background: #428929;
}
.checkout-cart-index .col-main button.checkout-button span.icon {
  font-size: 20px;
}
.checkout-cart-index .col-main .checkout-types .left, .checkout-cart-index .col-main .checkout-types .right {
  width: 50%;
}
.checkout-cart-index #cross-sells {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.012);
  margin-bottom: 2em;
  font: 11px/1.35 Arial, Helvetica, sans-serif;
}
.checkout-cart-index #cross-sells .title {
  position: relative;
  background: #F0F1F2;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  padding: 20px;
}
.checkout-cart-index #cross-sells .title:after {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(240, 241, 242, 0);
  border-bottom-color: #f0f1f2;
  border-width: 10px;
  margin-left: -10px;
}
.checkout-cart-index #cross-sells .cross-sell {
  background: #F0F1F2;
  width: 100%;
  border: none;
  position: relative;
  padding: 0px 40px 10px 0;
  padding-top: 1em;
}
.checkout-cart-index #cross-sells .cross-sell .product-image img {
  border: 3px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.118), inset 0px 0px 18px 0px rgba(0, 0, 0, 0.078);
}
.checkout-cart-index #cross-sells .cross-sell .image, .checkout-cart-index #cross-sells .cross-sell .info, .checkout-cart-index #cross-sells .cross-sell .action, .checkout-cart-index #cross-sells .cross-sell .price-container {
  background: #F0F1F2;
}
.checkout-cart-index #cross-sells .cross-sell .image {
  width: 80px;
  display: block;
  float: left;
  border: 1px solid #CCC;
  padding: 5px 0 5px 5px;
  margin-left: 10px;
  margin-right: 1.5em;
  line-height: 1;
}
.checkout-cart-index #cross-sells .cross-sell .image a {
  width: 68px;
}
.checkout-cart-index #cross-sells .cross-sell .price-box {
  font: 11px/1.35 Arial, Helvetica, sans-serif;
}
.checkout-cart-index #cross-sells .cross-sell .price-container {
  width: 10%;
  float: left;
  text-align: left;
  margin-left: 8.5%;
}
.checkout-cart-index #cross-sells .cross-sell .info a, .checkout-cart-index #cross-sells .cross-sell .regular-price .price, .checkout-cart-index #cross-sells .cross-sell .special-price .price, .checkout-cart-index #cross-sells .cross-sell .price, .checkout-cart-index #cross-sells .cross-sell .regular-price {
  font-size: 18px;
  color: #000;
  font-weight: normal;
}
.checkout-cart-index #cross-sells .cross-sell .old-price .price, .checkout-cart-index #cross-sells .cross-sell .old-price .price-label {
  text-decoration: none;
  white-space: nowrap;
  color: #989696;
  font-size: 12px;
  display: inline-block;
}
.checkout-cart-index #cross-sells .cross-sell p.old-price {
  margin-bottom: 8px;
}
.checkout-cart-index #cross-sells .cross-sell .info {
  width: 47%;
  display: block;
  float: left;
  padding: 0 20px 10px 5px;
}
.checkout-cart-index #cross-sells .cross-sell .info .cross-sell-discount-label {
  color: #00abd2;
  font-weight: bold;
}
.checkout-cart-index #cross-sells .cross-sell .info p {
  font-size: 12px;
  margin: 1em 0;
}
.checkout-cart-index #cross-sells .cross-sell .info b {
  color: #00abd2;
}
.checkout-cart-index #cross-sells .cross-sell .action {
  width: 17%;
  margin-left: 7px;
  padding-right: 0;
  float: left;
}
.checkout-cart-index #cross-sells .cross-sell .action .btn {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background: #F58426;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.078);
  color: #fff;
  border: 0;
  overflow: visible;
  font-size: 120%;
  font-weight: bold;
}
.checkout-cart-index #cross-sells .cross-sell:after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #D7D8D9;
  bottom: 0;
}
.checkout-cart-index #discount-total {
  font-size: 16px;
}
.checkout-cart-index #coupon-code .header {
  font-size: 14px;
}
.checkout-cart-index #shipping-methods ul li label {
  font-size: 14px;
  font-weight: normal;
}
.checkout-cart-index #shipping-methods ul li .delivery-date {
  margin-left: 30px;
}
.checkout-cart-index .checkout-types {
  float: none;
  text-align: left;
}
.checkout-cart-index .cross-sell:last-child:after {
  border-bottom: none !important;
}
.checkout-cart-index .cart-table {
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  width: 100%;
}
.checkout-cart-index .cart-table thead {
  font-size: 14px;
}
.checkout-cart-index .cart-table tr.simple:last-of-type {
  border-bottom: 1px solid #E3E5E5;
}
.checkout-cart-index .cart-table td {
  display: table-cell;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  height: 95px;
}
.checkout-cart-index .cart-table td.image {
  position: relative;
  width: 80px;
  padding-top: 20px;
}
.checkout-cart-index .cart-table td.image a.product-image {
  cursor: pointer;
}
.checkout-cart-index .cart-table td.image img {
  border: 3px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.118), inset 0 0 18px 0 rgba(0, 0, 0, 0.078);
}
.checkout-cart-index .cart-table td.name .product-name a {
  color: #000;
  font-size: 20px;
  line-height: 1;
}
.checkout-cart-index .cart-table .discount-label {
  z-index: 20;
  padding: 6px 10px 6px 10px;
  height: 25px;
  font-size: 12px;
  float: none;
}
.checkout-cart-index .cart-table span.discount-label.two-lines, .checkout-cart-index .cart-table span.discount-label.three-lines {
  display: inline-block;
  max-width: 75%;
}
.checkout-cart-index .cart-table span.discount-label:before, .checkout-cart-index .cart-table span.discount-label:after {
  left: 15px;
}
.checkout-cart-index .cart-table p.basket-rules {
  padding-top: 10px;
}
.checkout-cart-index .cart-table .discount-label:before, .checkout-cart-index .cart-table .discount-label:after {
  z-index: -1;
}
.checkout-cart-index .cart-table .discount-label:after {
  top: auto;
  bottom: 0 !important;
}
.checkout-cart-index .cart-table .product-cart-total {
  padding-top: 20px;
  text-align: left;
}
.checkout-cart-index .cart .cart-price {
  color: #000;
}
.checkout-cart-index .cart .cart-price span.price {
  line-height: 0.75;
}
.checkout-cart-index .cart .cart-totals {
  background: #fff;
  margin-bottom: 0;
  border: none;
}
.checkout-cart-index .cart .cart-totals #discount-total {
  margin-bottom: 10px;
}
.checkout-cart-index .cart .cart-totals table {
  text-transform: none;
}
.checkout-cart-index .cart .cart-totals table tfoot td {
  margin-top: 10px;
  padding: 0;
  line-height: 30px;
  vertical-align: bottom;
}
.checkout-cart-index .cart .cart-totals table tfoot td.a-left {
  padding: 20px 0;
}
.checkout-cart-index div.cart-totals {
  padding: 0;
}
.checkout-cart-index .cart-totals-wrapper div.shipping {
  margin: 0;
  padding: 20px 0;
}
.checkout-cart-index .cart-totals-wrapper div.subtotal {
  margin: 0;
  /*padding: 0 0 20px;*/
}
.checkout-cart-index .cart-totals-wrapper .subtotal .cart-price {
  padding-right: 0;
}
.checkout-cart-index div.cart-payment-options {
  text-align: left;
  padding: 0;
  cursor: pointer;
}
.checkout-cart-index div.cart-payment-options button.btn-checkout {
  background: #a4c33c;
  min-width: 240px;
  position: relative;
  text-align: left;
  height: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
}
.checkout-cart-index div.cart-payment-options button.btn-checkout:hover {
  background: #94b036;
}
.checkout-cart-index div.cart-payment-options button.btn-checkout:before {
  width: 18px;
  height: 18px;
  position: absolute;
  content: " ";
  right: 20px;
  top: 15px;
  background: url("../images/icon_sprite@2x.png") no-repeat -101px -800px;
  background-size: 150px 1000px;
}
.checkout-cart-index div.cart-payment-options h2 {
  text-transform: none;
  font-size: 9pt;
  font-weight: bold;
  text-decoration: underline;
  color: #00abd2;
  padding-right: 70px;
  background: url("../images/easyPay-logo.png") no-repeat top right;
  background-size: 55px;
  line-height: 1.75;
  display: inline-block;
}
.checkout-cart-index div.cart-payment-options h2:hover {
  color: #00abd2;
}
.checkout-cart-index div.cart-payment-options div.payments-alternative .title strong {
  font-weight: normal;
  font-size: 11pt;
}
.checkout-cart-index div.cart-payment-options div.payments-alternative .subscription-payment {
  display: none;
  background-color: #f4f4f4;
  padding: 1em;
  margin-bottom: 0.75em;
}
.checkout-cart-index div.cart-payment-options div.payments-alternative .subscription-payment ul.easy-pay-features {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 1em;
  border-bottom: 1px solid #d7d8d9;
}
.checkout-cart-index div.cart-payment-options div.payments-alternative .subscription-payment div.dates h4 {
  font-weight: normal;
  font-size: 8pt;
  margin-top: 1em;
}
.checkout-cart-index div.cart-payment-options div.payments-alternative .subscription-payment div.dates table.period-dates {
  margin-bottom: 1.5em;
}
.checkout-cart-index div.cart-payment-options div.payments-alternative .subscription-payment div.dates table.period-dates td.price {
  padding-left: 2.5em;
}
.checkout-cart-index .cart-totals-wrapper .subtotal {
  padding: 10px 0;
  line-height: 18px;
  margin: 0;
  vertical-align: bottom;
}
.checkout-cart-index #threshold-advert a.button {
  height: auto;
  text-decoration: none;
  width: 150px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.checkout-cart-index #threshold-advert a.button[title="Continue Shopping"] {
  width: 220px;
}
.checkout-cart-index #threshold-advert .button:hover, .checkout-cart-index #threshold-advert .button:focus, .checkout-cart-index #threshold-advert .button:active {
  background: #94b036;
}
.checkout-cart-index #threshold-advert .header {
  padding: 15px 10px;
  height: auto;
  line-height: 1;
}
.checkout-cart-index #shipping-methods .delivery-method-price {
  width: auto;
  float: right;
  text-align: right;
}
.checkout-cart-index #shipping-methods .delivery-date {
  display: block;
}
.checkout-cart-index .cart .cart-totals table {
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.checkout-cart-index .cart .cart-totals table tfoot {
  border-top: none;
}
.checkout-cart-index #coupon-code .header {
  padding: 13px;
  background-color: #F0F1F2;
  border-radius: 6px;
  font-size: 14px;
}
.checkout-cart-index #coupon-code .desc {
  padding: 10px;
  font-size: 12px;
  line-height: 1.583333333;
  overflow: hidden;
}
.checkout-cart-index #coupon-code label {
  display: block;
  margin-bottom: 5px;
  font: 11px/1.35 Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #5a6870;
}
.checkout-cart-index #coupon-code input {
  line-height: 18px;
  float: left;
  padding: 5px;
}
.checkout-cart-index #coupon-code .button {
  padding: 7px 21px;
  font-size: 12px;
  margin-left: 10px;
}
.checkout-cart-index #coupon-code .btn-cancel {
  background-color: #5A6870;
}
.checkout-cart-index #coupon-code .button:hover {
  background-color: #F58426;
}
.checkout-cart-index #coupon-code .btn-cancel:hover {
  background-color: #747f85;
}
.checkout-cart-index ul#coupon_messages li {
  padding: 5px;
}
.checkout-cart-index .ajax-placeholder {
  position: relative;
}
.checkout-cart-index .ajax-loader {
  background: #eeeeee url(../images/ajax-loader.gif) no-repeat 50% 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 200;
}
.checkout-cart-index .messages {
  width: 100%;
  overflow: hidden;
  text-align: left;
  margin: 0;
}
.checkout-cart-index .messages li {
  margin: 0 0 10px;
  padding: 0;
}
.checkout-cart-index .messages ul {
  padding: 10px;
  margin: 0;
  background-position: 35px 100%;
  background-repeat: no-repeat;
  position: relative;
}
.checkout-cart-index .messages ul li {
  margin: 0;
  padding: 0 0 3px;
}
.checkout-cart-index .messages ul li span {
  padding-left: 15px;
}
.checkout-cart-index .messages a {
  text-decoration: underline;
}
.checkout-cart-index .messages a:hover {
  text-decoration: none;
}
.checkout-cart-index .messages li.error-msg,
.checkout-cart-index .messages li.success-msg,
.checkout-cart-index .messages li.note-msg,
.checkout-cart-index .messages li.notice-msg {
  border-style: solid !important;
  border-width: 1px !important;
  font-size: 12px !important;
}
.checkout-cart-index p.error-msg {
  border-style: solid !important;
  padding: 10px;
  border-width: 1px !important;
  font-size: 12px !important;
  margin: 10px 0;
}
.checkout-cart-index .messages li.error-msg {
  border-color: #e9581f;
  background-color: #fff5f3;
  color: #d91a00;
}
.checkout-cart-index .messages li.error-msg a {
  color: #d91a00;
}
.checkout-cart-index p.error-msg {
  border-color: #e9581f;
  background-color: #fff5f3;
  color: #d91a00;
}
.checkout-cart-index .messages li.success-msg {
  border-color: #446423;
  background-color: #eff5ea;
  color: #3d6611;
}
.checkout-cart-index .messages li.success-msg a {
  color: #3d6611;
}
.checkout-cart-index .messages li.note-msg,
.checkout-cart-index .messages li.notice-msg {
  border-color: #fcd344;
  background-color: #fafaec;
  color: #3d6611;
}
.checkout-cart-index .messages li.note-msg a,
.checkout-cart-index .messages li.notice-msg a {
  color: #3d6611;
}
.checkout-cart-index li.method-checkout-cart-methods-onepage-bottom {
  padding-top: 10px;
}

.cart .page-title h1 {
  letter-spacing: -0.05em;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.cart td.old-price {
  font-size: 12px;
}
.cart .with {
  font-size: 14px;
}
.cart .with img {
  margin-top: 1em;
}

table#shopping-cart-table-small td.product-cart-guarantee .guarantee {
  display: none;
}

table.cart-table td.quantity a.item-remove {
  display: block;
  margin-top: 5px;
  color: #000;
  text-decoration: underline;
  font-size: 11px;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}
table.cart-table td.quantity select {
  margin-top: 15px;
}
table.cart-table thead th {
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  padding: 0;
  font-size: 14px;
  text-transform: none;
  color: #59595b;
  font-weight: bold;
}
table.cart-table tbody td {
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}
table.cart-table tbody td.last {
  width: 130px;
}
table.cart-table tbody td.quantity {
  width: 215px;
}
table.cart-table tbody p.old-price {
  font-size: 12px;
}
table.cart-table tbody td.last span.cart-price {
  display: inline-block;
  margin-top: 7px;
}
table.cart-table .guarantee {
  min-height: 90px;
  background-position: 50% 50%;
}
table.cart-table .product-cart-actions {
  float: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px;
}
table.cart-table .product-cart-actions ul.cart-links {
  float: none;
}
table.cart-table .product-cart-actions ul.cart-links a.btn-remove {
  background-image: none;
  text-indent: 0;
  text-align: left;
  float: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 12px;
  text-decoration: underline;
  margin-top: 5px;
}

.main-container .button, .main-container .cart-table .product-cart-actions .button, .main-container #co-shipping-method-form .buttons-set .button, .main-container .footer .button,
.main-container #threshold-advert .button {
  text-transform: capitalize;
}

.checkout-cart-index .already-own-container,
.checkout-onepage-index .already-own-container,
.checkout-onepage-failure .already-own-container,
.checkout-onepage-success .already-own-container {
  display: none;
  height: 0;
}

.cart .cart-price {
  font-size: 16px;
}

.cart-totals-wrapper .shipping #shipping-methods .delivery-method-price {
  font-size: 14px;
}

@media only screen and (min-width: 980px) {
  .checkout-cart-index table.cart-table thead th.cart-price-head {
    padding: 0;
    padding-bottom: 10px;
  }
  .checkout-cart-index table.cart-table thead th.cart-total-quantity {
    width: 215px;
    padding: 0;
    padding-bottom: 10px;
  }
  .checkout-cart-index table.cart-table thead th.cart-total-subtotal {
    padding: 0 0 10px;
  }
  .checkout-cart-index table.cart-table td.unit-price {
    width: 188px;
    height: 126px;
    padding: 30px 0 0;
    padding-left: 70px;
    vertical-align: top;
    padding-top: 20px;
  }
  .checkout-cart-index table.cart-table td.quantity {
    padding-left: 36px;
  }
  .checkout-cart-index table.cart-table td.guarantee {
    width: 86px;
  }
  .checkout-cart-index table.cart-table td.last {
    width: 130px;
  }
}
@media only screen and (min-width: 771px) {
  .checkout-cart-index #cross-sells .cross-sell div.action {
    float: right;
    text-align: right;
  }

  .checkout-cart-index div#cross-sells div.cross-sell div.price-container {
    margin-left: 8.5%;
  }

  .checkout-cart-index .cart-table thead th.cart-price-head {
    padding-left: 25px;
    padding-bottom: 10px;
  }
  .checkout-cart-index .cart-table thead th.cart-total-quantity {
    width: 90px;
    padding: 0 0 10px;
    padding-left: 1px;
  }
  .checkout-cart-index .cart-table thead th.cart-total-subtotal {
    padding: 0 0 10px;
  }
  .checkout-cart-index .cart-table td.unit-price {
    width: 143px;
    padding: 15px 0 0;
    padding-left: 25px;
    vertical-align: top;
    padding-top: 20px;
  }
  .checkout-cart-index .cart-table td.quantity {
    padding-left: 1px;
  }
  .checkout-cart-index .cart-table td.guarantee {
    width: 51px;
  }
}
@media only screen and (min-width: 600px) {
  .show-for-large {
    display: block;
  }

  .hide-for-large {
    display: none;
  }

  .checkout-cart-index #cross-sells div.cross-sell div.price-container {
    display: block;
    margin-left: 2.5%;
    width: 10%;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.action {
    float: right;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.inline-price {
    display: none;
  }
}
@media only screen and (max-width: 770px) {
  .checkout-cart-index #coupon-code .button {
    padding: 7px 3px;
    margin-left: 3px;
  }
}
@media only screen and (max-width: 599px) {
  .show-for-small {
    display: block;
  }

  .hide-for-small {
    display: none;
  }

  table.cart-table {
    display: table;
  }
  table.cart-table .discount-label::before {
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    left: 12px;
    height: 15px;
  }
  table.cart-table .discount-label::after {
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    left: 12px;
    height: 15px;
  }
  table.cart-table tr {
    display: table-row;
  }
  table.cart-table td {
    display: table-cell;
    float: none;
  }
  table.cart-table td p.basket-rules {
    width: 95%;
  }
  table.cart-table td.product-cart-image {
    float: none;
  }
  table.cart-table td[data-rwd-label] {
    float: none;
  }
  table.cart-table td[data-rwd-label]:before {
    content: "";
  }
  table.cart-table td.product-cart-guarantee .guarantee {
    display: none;
    background-position: 5px 0;
    width: auto;
    min-width: 55px;
    min-height: 50px;
    position: relative;
    top: 0;
  }
  table.cart-table td.product-cart-info {
    float: none;
    width: 50%;
  }
  table.cart-table td.product-cart-info .product-name a {
    font-weight: bold;
  }
  table.cart-table td.product-cart-price {
    padding-top: 20px;
    width: 100%;
    text-align: right;
  }
  table.cart-table td.product-cart-price span.cart-price {
    font-size: 15px;
  }
  table.cart-table td.product-cart-price p.old-price {
    min-width: 74px;
  }
  table.cart-table td.product-cart-actions {
    padding-left: 5px;
  }
  table.cart-table td.product-cart-actions select {
    font-size: 12px;
  }
  table.cart-table td.product-cart-actions ul.cart-links {
    display: inline-block;
    float: none;
  }
  table.cart-table td.product-cart-actions ul.cart-links li {
    display: inline-block;
  }
  table.cart-table td.product-cart-actions ul.cart-links li a {
    text-indent: 0;
    font-size: 9pt;
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 1.3;
    color: #000;
    margin-left: -1em;
  }
  table.cart-table tfoot td {
    display: none;
  }
  table.cart-table tr {
    border-top: 1px solid #E3E5E5;
  }
  table.cart-table tr.even {
    border-bottom: none;
  }

  .checkout-cart-index div.top-header {
    height: 80px;
    line-height: 80px;
  }
  .checkout-cart-index div.top-header h1 {
    font-size: 30px;
    padding-left: 20px;
    line-height: 80px;
  }
  .checkout-cart-index .main-container {
    padding: 0;
  }
  .checkout-cart-index .main-container .main .col-main {
    margin-top: 0;
  }
  .checkout-cart-index .main-container .main .col-main .cart-top {
    margin-bottom: 15px;
    padding: 0 20px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-top h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table {
    border-top: 1px solid #e0dfdf;
    padding: 15px 20px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-image {
    position: relative;
    width: auto;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-image .product-image {
    box-shadow: none;
    border: none;
    padding: 0;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-image .product-image img {
    width: 60px;
    max-height: 60px;
    border: 5px solid #e6e6e6;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .additional-info {
    width: 100%;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .additional-info span.discount-label {
    width: auto;
    font-size: 12px;
    font-weight: bold;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .additional-info span.discount-label:before, .checkout-cart-index .main-container .main .col-main .cart-table .additional-info span.discount-label:after {
    height: 25px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .right .product-cart-price, .checkout-cart-index .main-container .main .col-main .cart-table .right .product-cart-actions {
    float: none;
    text-align: right;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .right h2.product-name {
    margin-top: 0;
    line-height: 1;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-info {
    text-align: right;
    width: auto;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-price span.price {
    font-size: 20px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-price p.old-price {
    font-size: 12px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table .product-cart-price p.old-price span.price {
    font-size: 12px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label {
    font-size: 9px;
    padding: 5px 0 5px 5px;
    line-height: 15px;
    height: 15px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.two-lines {
    height: 30px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.two-lines:before, .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.two-lines:after {
    height: 25px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.three-lines {
    height: 45px;
  }
  .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.three-lines:before, .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.three-lines:after,
  .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.four-lines-small:before, .checkout-cart-index .main-container .main .col-main .cart-table span.discount-label.four-lines-small:after {
    height: 35px;
    left: 18px;
  }
  .checkout-cart-index .main-container .main .col-main .clearfix {
    margin-bottom: 5px;
  }
  .checkout-cart-index .main-container .main .col-main .checkout-types .left, .checkout-cart-index .main-container .main .col-main .checkout-types .right {
    width: 100%;
  }
  .checkout-cart-index .main-container .main .col-main .checkout-types .left button, .checkout-cart-index .main-container .main .col-main .checkout-types .right button {
    max-width: 100%;
  }
  .checkout-cart-index .main-container .small-update-form {
    border-bottom: 1px solid #e0dfdf;
  }
  .checkout-cart-index .main-container .cart-totals-wrapper .subtotal {
    padding: 10px 20px 15px 20px;
  }
  .checkout-cart-index .main-container .cart-totals-wrapper .subtotal .cart-price {
    font-size: 20px;
  }
  .checkout-cart-index .main-container .shipping form {
    padding: 0 20px;
  }
  .checkout-cart-index .main-container .shipping .delivery-method-price {
    text-align: right;
  }
  .checkout-cart-index .main-container .shipping .deliverydate {
    width: 100%;
    padding-right: 20px;
  }
  .checkout-cart-index .main-container .shipping .deliverydate select {
    width: 100%;
  }
  .checkout-cart-index .main-container #coupon-code {
    padding: 0 20px;
  }
  .checkout-cart-index .main-container #coupon-code .header a {
    color: #58595b;
  }
  .checkout-cart-index .main-container div.cart-totals {
    padding: 0 20px;
  }
  .checkout-cart-index .main-container div.cart-totals #discount-total {
    width: 275px;
  }
  .checkout-cart-index .main-container .cart .cart-totals table tfoot td span.price {
    font-size: 30px;
    font-weight: bold;
  }
  .checkout-cart-index .main-container .cart .cart-totals table tfoot td.a-left {
    padding: 10px 0px;
  }
  .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom {
    padding: 0 20px;
  }
  .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.left, .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.right {
    width: 100%;
    float: none;
  }
  .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.left button, .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.right button {
    width: 100%;
    height: 35px;
    line-height: 35px;
  }
  .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.left button.checkout-button, .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.right button.checkout-button {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.left button.checkout, .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.right button.checkout {
    margin-left: 0;
  }
  .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.left button.checkout br, .checkout-cart-index .main-container li.method-checkout-cart-methods-onepage-bottom div.right button.checkout br {
    display: none;
  }
  .checkout-cart-index #coupon-code .button {
    padding: 7px 4px;
    margin-left: 3px;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.info {
    width: 44%;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.info a {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    width: 100%;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.shortdesc p:not(:first-child) {
    display: none;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.image {
    border: 0;
    width: 54px;
    margin-left: 5px;
    margin-right: 10px;
    width: auto;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.image a {
    width: auto;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.image img {
    width: 54px;
    border: 0;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.inline-price {
    display: block;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.price-container {
    display: none;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.action {
    width: 10%;
    float: right;
    margin-left: 0;
    margin-right: 20px;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.action button.btn-cart {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }
  .checkout-cart-index #cross-sells div.cross-sell div.price-box span.regular-price {
    font-size: 12px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 320px) {
  .checkout-cart-index .cart-table span.discount-label.four-lines-small {
    height: 55px;
  }
}
