<form id="delivery-details-form" class="checkout-form form-inline form-horizontal" novalidate="novalidate" action="post" name="checkout-delivery-details">

    <?php echo $this->getChildHtml('shipping_methods'); ?>

    <div class="control-group">
        <label class="control-label" for="address_delivery_postcode">
            <?php echo $this->__('Postcode'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <div class="input-append">
                <input id="address_delivery_postcode" title="<?php echo $this->__('Please enter a valid post code'); ?>" class="postcode span4" type="text" name="address[delivery][postcode]" value="<?php echo $this->escapeHtml($this->getPostcode()); ?>" maxlength="9" required>
                <button class="btn btn-search-address btn-search-delivery-address btn-selector"><?php echo $this->__('Search') ?></button>
            </div>
        </div>

        <a href="" class="btn-manual-entry btn-manual-entry-main"><?php echo $this->__('Enter address manually'); ?></a>
    </div>

    <fieldset class="address-data" style="display: none;">

        <div class="control-group address-line address-line-1">
            <label class="control-label" for="address_delivery_street_1">
                <?php echo $this->__('Street / House Number'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_delivery_street_1" title="<?php echo $this->__('Please enter a street address'); ?>" class="span4" type="text" name="address[delivery][street_1]" value="<?php echo $this->escapeHtml($this->getLine1()); ?>" required>
                <input id="address_delivery_street_2" class="span4" type="text" name="address[delivery][street_2]" value="<?php echo $this->escapeHtml($this->getLine2()); ?>">
            </div>
        </div>

        <div class="control-group address-line address-line-2">
            <label class="control-label" for="address_delivery_street_3">
                <?php echo $this->__('Address supplement'); ?>
            </label>

            <div class="controls">
                <input id="address_delivery_street_3" class="span4" type="text" name="address[delivery][street_3]" value="<?php echo $this->escapeHtml($this->getLine3()); ?>">
            </div>
        </div>

        <div class="control-group address-search" style="display: none;">

        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_delivery_city">
                <?php echo $this->__('Town / City'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_delivery_city" class="span4" title="<?php echo $this->__('Please enter a town or city'); ?>" type="text" name="address[delivery][city]" value="<?php echo $this->escapeHtml($this->getCity()); ?>" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_delivery_region">
                <?php echo $this->__('County'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_delivery_region" class="span4" type="text" title="<?php echo $this->__('Please enter a county'); ?>" name="address[delivery][region]" value="<?php echo $this->escapeHtml($this->getRegion()); ?>" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_delivery_country_id">
                <?php echo $this->__('Country'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <?php if ($this->getCountryOptions()->count() == 1) : ?>
                    <?php $_country = $this->getCountryOptions()->getFirstItem() ?>
                    <input id="address_delivery_country_id" type="text" style="display: none" class="span4" name="address[delivery][country_id]" value="<?php echo $_country->getCountryId() ?>" />
                    <span class="country-single"><?php echo $_country->getName() ?></span>
                <?php else: ?>
                    <select id="address_delivery_country_id" class="span4" name="address[delivery][country_id]" required>
                        <?php foreach ($this->getCountryOptions() as $option) { ?>
                            <option value="<?php echo $option->getCountryId(); ?>" selected>
                                <?php echo $this->__($option->getName()); ?>
                            </option>
                        <?php } ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label">
            </label>

            <div class="controls">
                <a href="javascript:;" class="btn-show-search-address"><?php echo $this->__('Search for address again?') ;?></a>
            </div>
        </div>

    </fieldset>
</form>