<?php if ($this->getIsEnabled()):
    $doShowContentJs = Mage::getStoreConfig('bazaarvoice/rr/do_show_content_js');
    $seoContent = $this->getSEOContent();

    $product = Mage::registry('current_product');
    $productId = '';
    if(strlen($product->getId()) > 0):
        $productId = Mage::helper('bazaarvoice')->getProductId($product);
    endif;
?>
    
    <div id="BVRRContainer">
        <?php echo $seoContent ?>
    </div>
    <script type="text/javascript">
        function showBazaarVoiceReviews() {
            $BV.ui( 'rr', 'show_reviews', {
                doShowContent : function () {
                    <?php echo $doShowContentJs ?>
                }
            });
            $BV.ui("rr", "show_reviews", {productId: "<?php echo $productId?>"});
        }
        bvExecute(showBazaarVoiceReviews);
    </script>
<?php endif; ?>
