<?php
/**
 * Shopping cart template
 *
 * @var $this Mage_Checkout_Block_Cart
 */
?>
<?php $_priceDisplay = ($this->helper('tax')->displayCartBothPrices()) ? 'display-both-prices' : 'display-single-price'; ?>
<div class="cart <?php echo $_priceDisplay; ?>">
    <div class="cart-message">
           <?php echo $this->getCartMessage();?>
           <?php echo $this->getLayout()->getBlock('messages')->toHtml() ?>
    </div>

    <div class="cart-top">
        <div class="left">
            <h2><?php echo $this->__('You have %d item%s in your basket.', $this->getItemsSummaryQty(), $this->getItemsSummaryQty() > 1 ? 's' : '') ?></h2>
        </div>
        <div class="right hide-for-small">
            <button type="button" class="shopping checkout-button" onclick="javascript: window.history.back()">
                <span><span><?php echo $this->__('Continue Shopping') ?> <span class="icon">&gt;</span></span></span>
            </button>
            <button type="button" class="checkout checkout-button" onclick="javascript: document.location.href='<?php echo Mage::getUrl('checkout/onepage') ?>'">
                <span><span><?php echo $this->__('Continue<br />to Checkout') ?> <span class="icon">&gt;</span></span></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

    <?php echo $this->getChildHtml('form_before') ?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" class="hide-for-small show-for-large">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <table id="shopping-cart-table" class="cart-table data-table">
            <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
            <thead>
            <tr>
                <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>

                <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>


                <th rowspan="<?php echo $mergedCells; ?>" class="cart-total-quantity">
                    <?php echo $this->__('Quantity') ?>
                </th>

                <th class="cart-price-head" colspan="<?php echo $mergedCells; ?>">
                    <span class="nobr"><?php echo $this->__('Price') ?></span>
                </th>
            </tr>
            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                <tr>
                    <th class="cart-price-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th class="cart-price-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    <th class="cart-total-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th class="cart-total-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                </tr>
            <?php endif; ?>
            </thead>
            <tbody>
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach ?>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('shopping-cart-table')</script>
    </form>

    <?php /** SMALL SCREEN VERSION  **/ ?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" class="show-for-small hide-for-large small-update-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemSmallHtml($_item) ?>
            <?php endforeach ?>
        <script type="text/javascript">decorateTable('shopping-cart-table-small')</script>
    </form>
    <?php /** SMALL SCREEN END  **/ ?>

    <?php echo $this->getChildHtml('crosssell') ?>
    <div class="clearfix">
    </div>

    <?php echo $this->getShippingMessage(); ?>
    <?php echo $this->getCartMessage(); ?>

    <?php echo $this->getChildHtml('shopping.cart.table.after'); ?>
    <div class="cart-forms">
        <?php /* Extensions placeholder */ ?>
        <?php echo $this->getChildHtml('checkout_cart_widget') ?>
        <?php echo $this->getChildHtml('checkout.cart.extra') ?>
    </div>

    <div class="cart-totals-wrapper">

        <?php
        echo $this->getChildHtml('coupon.messages');
        $block = $this->getLayout()->getBlock('coupon.messages');
        if($block) {
            echo $block->getHtml();
        }
        ?>

        <?php echo $this->getChildHtml('discount'); ?>
        <?php echo $this->getChildHtml('customsubtotal'); ?>
        <div class="shipping">
            <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
        </div>
        <?php echo $this->getChildHtml('coupon'); ?>

        <div class="cart-totals">
            <?php echo $this->getChildHtml('totals'); ?>
        </div>

        <div class="cart-payment-options">
            <?php if (!$this->hasError()) : ?>
                <ul class="checkout-types bottom">
                    <?php foreach ($this->getMethods('methods') as $method): ?>
                        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                            <li class="method-<?php echo preg_replace("/[^_a-zA-Z0-9-]/", '-', $method); ?>"><?php echo $methodHtml; ?></li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <div class="icons">
                <div class="icon-left"><div class="icon-secure-shopping"></div></div>
                <div class="icon-middle"><div class="icon-free-delivery"></div></div>
                <div class="icon-right"><div class="icon-free-returns"></div></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cart-totals">
            <div class="with">
                <p><?php echo $this->__("Secure checkout with:") ?></p>
                <img alt="Comodo Secure, PayPal, VISA" src="<?php echo $this->getSkinUrl('images/template/secure_btns.jpg') ?>" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    resizeDiscountLabels = function() {
        $j('.discount-label span').each(function() {
            if ($j(this).height() > 19) {
                $j(this).parent().addClass('two-lines');
            } else {
                $j(this).parent().removeClass('two-lines');
            }
        });
    };
    $j(document).ready(resizeDiscountLabels);
    $j(window).on('delayed-resize', function (e, resizeEvent) { resizeDiscountLabels(); });
</script>
