<form id="contact-details-form" class="checkout-form form-inline form-horizontal" novalidate="novalidate" action="post">

    <div class="control-group">
        <label class="control-label" for="contactDetails_prefix">
            <?php echo __('Your title'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls controls-title">
            <select id="contactDetails_prefix" title="<?php echo __('Please select a title'); ?>" name="contact_details[prefix]" required>
                <?php foreach ($this->getTitleOptions() as $index => $title) { ?>
                    <option value="<?php echo $index ?>" <?php if($this->getTitle() === $title):?>selected="true"<?php endif;?>>
                        <?php echo __($title); ?>
                    </option>
                <?php } ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="contactDetails_firstname">
            <?php echo __('First Name'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input id="contactDetails_firstname" class="span4" type="text" title="<?php echo __('Please enter a first name'); ?>" name="contact_details[first_name]" value="<?php echo $this->escapeHtml($this->getFirstName()); ?>" placeholder="First Name" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="contactDetails_lastname">
            <?php echo __('Surname'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input id="contactDetails_lastname" class="span4" type="text" title="<?php echo __('Please enter a last name'); ?>" name="contact_details[last_name]" value="<?php echo $this->escapeHtml($this->getLastName()); ?>" placeholder="Last Name" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="contactDetails_telephone">
            <?php echo __('Telephone'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input id="contactDetails_telephone" class="span4" type="tel" title="<?php echo __('Please enter a valid phone number'); ?>" name="contact_details[telephone]" value="<?php echo $this->escapeHtml($this->getPhone()); ?>" placeholder="Telephone" required ukphone="true">
            <span class="comment"><?php echo $this->__('We need this number to call you if there is a problem with your order') ?></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="contactDetails_email">
            <?php echo __('Email Address'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input id="contactDetails_email" class="span4" type="email" title="<?php echo __('Please enter an email address'); ?>" name="contact_details[email]" value="<?php echo $this->escapeHtml($this->getEmail()); ?>" placeholder="Email Address" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox inline">
                <input id="contactDetails_optIn" type="checkbox" class="ignore" name="contact_details[opt_in]" <?php if($this->isNewsletterRequired()):?>checked="checked"<?php endif;?>>
                <div class="checkbox-label"><?php echo __('Yes, please send me tips on how to get the most from my DirtDevil, as well as exclusive offers and discounts'); ?></div>
            </label>
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery.validator.addMethod('ukphone', function(value, element) {
        var phoneNumber = jQuery.trim($j('#contactDetails_telephone').val());
        return _.isObject(phoneNumber.match(/^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$/g));
    }, 'Please enter a telephone number');
</script>