<div id="contact-summary" class="step-summary">
    <p class="title"></p>
    <p class="customer-info"><span class="title"></span> <span class="name"></span></p>
    <p class="telephone"></p>
    <p class="email"></p>
    <div class="control-group">
        <label class="control-label" for="contactDetails_optIn">
            <?php echo __('Keep in Touch'); ?>
        </label>

        <div class="controls">
            <label class="checkbox inline">
                <input id="contactDetails_optIn" type="checkbox" class="ignore" name="contact_details[opt_in]" <?php if($this->isNewsletterRequired()):?>checked="checked"<?php endif;?>>
                <?php echo __('Do you wish to remain informed of current promotions, news and Vax products via email?'); ?>
            </label>
        </div>
    </div>
</div>