<?php
$templateCode = Mage::helper('pdfinvoiceplus/pdf')->getTemplateCode();
$invoice = $this->getInvoice();
$payment_method = $invoice->getOrder()->getPayment()->getMethodInstance();
$shipping_method = $invoice->getOrder()->getShippingDescription();
$template = Mage::helper('pdfinvoiceplus/pdf')->getUsingTemplate();
$logo = $template->getCompanyLogo();
$address = $template->getCompanyAddress();
$name = $template->getCompanyName();
$email = $template->getCompanyEmail();
$phone = $template->getCompanyTelephone();
$fax = $template->getCompanyFax();
$note = $template->getNote();
$footer = $template->getFooter();
$color = $template->getColor();
$color = $color ? $color : 'e00000';
$vatnumber = $template->getVatNumber();
$barcode = $template->getBarcode();
$barcode_type = $template->getBarcodeType();
$barcode_value = Mage::helper('pdfinvoiceplus/pdf')->getBarcodeValue();
$bussinessId = $template->getBusinessId();
$pageFormat = $template->getFormat();
$display_images = $template->getDisplayImages();
$vatoffice = $template->getVatOffice();
$term = $template->getTermsConditions();
if($pageFormat=='A5'){
    $title_width = '74%';
}else{
    $title_width = '80%';
}
$status = $invoice->getState();
if($status == 1){
    $status = 'Pending';
}elseif($status ==2){
    $status = 'Paid';
}else{
    $status = 'Canceled';
}
?>
<html>
    <head>
        <style>
            *{margin: 0; padding: 0;}
            @font-face
            {
                font-family: "Ubuntu";
                src: url('fonts/Ubuntu-Bold.ttf')		 
            } 
            @font-face
            {
                font-family: "Ubuntu Light";
                src: url('fonts/Ubuntu-Light.ttf')		 
            } 
            @font-face
            {
                font-family: "Ubuntu Medium";
                src: url('fonts/Ubuntu-Medium.ttf')		 
            } 
            @font-face
            {
                font-family: "Ubuntu Regular";
                src: url('fonts/Ubuntu-Regular.ttf')		 
            } 
            @font-face
            {
                font-family: "Ubuntu Italic";
                src: url('fonts/Ubuntu-Italic.ttf')		 
            } 


            body {
                font-size: 14px;
                max-width:100%;
                margin: 0 auto;
                font-family: "Ubuntu Regular", "Ubuntu Light", arial;		
                font-size-adjust: none;
                width: 100%;
            }
            td { vertical-align: top; }

            .items td.blanktotal {
                background-color: #FFFFFF;
                border: 0mm none #fff;
                border-top: 0.1mm solid #fff;
                border-right: 0.1mm solid #fff;
            }

            .top-title span {
                display: block;
                font-size: 15px;
                color: #000;
            }
            .table-data tbody td.label{
                color: #2f2f2f;
                font-family: 'Ubuntu';
                font-weight: bold;
                font-size: 16px;
            }
             /* New Style for invoice 05 */
            /* Header style*/
            .myheader-iv{
                width: 95%;
                margin-right: 5%;		
                position: relative;		
                float: left;	

                clear: both;
            }
            .top-header-iv{
                clear: both;
                width: 100%;
                float: left;
                height: 90px;
            }
            .bottom-header-iv{
                clear: both;
                width: 100%;
                float: left;
            }

            .title-page-iv{
                
                float: left;
                width: 40%;
                padding: 25px 3.6% 25px 4%;
                background: <?php echo '#' . $color; ?>;
            }

            .logo-iv{
                width:30%;							
                text-align: right; 
                float: right;
            }

            .id-invoice-iv{
                text-align: left;
                width:45%;
                float:left;
                margin-left: 4%;
                margin-top: 60px;
            }
            .info-iv{
                width:50%; 
                color:#000;
                font-size: 15px;
                text-align: right; 
                float: right;
            }

            /*  Main style */
            .main-content{				
                clear: both;
                margin: 0 3.6% 0 3.6%;
                max-width: 92.8%;
            }


            .info-cus{
                float: left;
                width: 100%;
            }
            .payment-box,
            .billing-box{
                width: 49%;
                float: left;				
            }

            .shipping-box,
            .shipping-add-box{
                float: right;
                width: 49%;				
            }
            .title-color{
                color: <?php echo '#' . $color; ?>;
                font-family: 'Ubuntu';
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 0 20px;
            }
            .shipping-box .content,
            .shipping-add-box .content,
            .payment-box .content,
            .billing-box .content{
                border-top: 6px solid <?php echo '#' . $color; ?>;
                border-left: 1px solid #a9a9a9;
                border-right: 1px solid #a9a9a9;
                border-bottom: 1px solid #a9a9a9;
                padding: 10px 20px;
                margin-top: 5px;
            }
            .top-main-if{
                float: left;
                width: 100%;
                clear: both;
            }
            .bottom-main-info{
                float: left;
                width: 100%;
                clear: both;
            }
            .grandtotal{background: #ffe8e8;}
            .grandtotal tfoot td{border-top: 7px solid #fff!important;text-align:right;padding:5px 20px;}
            .grandtotal tfoot td.label strong{line-height: 40px;}
            .grandtotal tbody td{border: 0 none; text-align: right;}
            table thead td{
                font-size: 18px;
                color: <?php echo '#' . $color; ?>;
                text-align: center;				 
                font-weight: bold;
                padding: 12px 20px;
                text-transform: uppercase;
                vertical-align: middle;
            }
            .items td {                
                /*border-bottom: 1px solid #d6d6d6;*/

            }
            .tbody-2{
                border-bottom: 1px solid #d6d6d6;
            }
            .tbody-2 td{
                background: #e9e9e9;				
            }
            .table-data tbody {
                text-align: left;
            }
            .table-data tbody td{                
                padding: 12px 20px;
                color: #2f2f2f;
            }
            .table-data tbody td.a-right{                
                text-align: right;
            }
            .table-data tbody td.last{                
                text-align: right;
            }
            .items td.totals {                
                border: 0 none;
                text-align: right;
                padding: 5px 20px;
            }
            .footer-invoice {
                background:  <?php echo '#' . $color; ?>;
                color: #FFFFFF;
                font-size: 14px;				
                margin-top: 10px;
                padding: 10px 5%;
                text-align: center;
                width: 90%;
                float: left;
                position: absolute;
                bottom: 0;
            }
            div.title{
                width:<?php echo $title_width ?>
            }
            .totals{
                float:left;
                width:100%;
                background: #ffe8e8;
            }
            .totals-li{
                list-style: none;
                float:left;
                width: 100%;
                padding: 5px 10px;
                
            }
            .totals-label{
                width: 40%;
                text-align: right;
                font-weight: bold;
                float:left;
            }
            
            .totals-value{
                width: 45%;
                float:right;
                text-align: right;
            }
            .body-total{width:100%}
            .footer-total{width:100%}
            .grand_total{color: #e00000;
                font-size: 20px;
                font-family: 'Ubuntu';}
            .row-grandtotal{
                border-top: 0.1mm solid #fff;
            }
        </style>
    </head>
    <body>
        <div class="myheader-iv" style="padding-top: 40px;">
            <div class="top-header-iv">
                <div class="title-page-iv">
                    <div style="color: #fff; font-family: 'Ubuntu Regular';text-align:left; font-size: 50px;line-height: 60px;font-weight: normal; text-transform: uppercase;"><?php echo $this->__('Invoice'); ?> </div>
                </div>
                <div class="logo-iv"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'magestore/pdfinvoiceplus/' . $logo ?>" /></div>
            </div>
            <div class="bottom-header-iv">
                <div class="id-invoice-iv">
                    <span style="font-family: 'Ubuntu Medium';font-size: 26px;">#<?php echo $invoice->getIncrementId() ?></span><br/>
                    <span style="color: #010101;font-size: 18px;"><?php echo $this->formatDate($invoice->getCreatedAt(), 'medium', true); ?></span><br/>
                    <span style="color: #010101;font-size: 18px;"><?php echo $this->__('Status: ') ?><?php echo $status ; ?></span>
                </div>
                <div class="info-iv">
                    <?php if ($name): ?><span style="font-weight: bold; font-size: 18px; color: <?php echo '#' . $color; ?>; display: block;width:100%; float: left;font-family: 'Ubuntu';text-transform: uppercase;"><?php echo $name ?></span><br/><?php endif; ?>
                    <?php if ($address): ?><span style="font-family: 'Ubuntu Light';display: block; font-size: 15px;width:100%;float: left;"><strong><?php echo $this->helper('pdfinvoiceplus')->__('Add:') ?> </strong><?php echo $address ?></span><br/><?php endif; ?>				 
                    <?php if ($phone): ?><span style="display: block;width:100%;float: left; "><strong><?php echo $this->__('Tel:') ?> </strong> <?php echo $phone;?><?php endif; ?>                    
                    <?php if ($fax): ?> | <span style="display: block;width:100%;float: left; "><strong><?php echo $this->__('Fax:') ?> </strong> <?php echo $fax;?><?php endif; ?><br/>
                    <?php if ($email): ?><strong> <?php echo $this->__('Email:') ?> </strong> <?php echo $email ?></span><br/><?php endif; ?>
                    <?php if ($vatnumber): ?><span style="display: block;width:100%;float: left; "><strong>  <?php echo $this->helper('pdfinvoiceplus')->__('VAT Number:') ?> </strong><?php echo $vatnumber ?></span><br/><?php endif; ?>
                    <?php if ($vatoffice): ?><span style="display: block;width:100%;float: left; "><strong>  <?php echo $this->__('VAT Office:') ?> </strong><?php echo $vatoffice ?></span><br/><?php endif; ?>
                    <?php if ($bussinessId): ?><span style="display: block;width:100%;float: left; "><strong> <?php echo $this->helper('pdfinvoiceplus')->__('Business Id:') ?> </strong> <?php echo $bussinessId ?></span><br/><?php endif; ?>
                    
                </div>
            </div>												
        </div>


        <div class="main-content">
            <div class="top-main-if">
                <div class="info-cus">				
                    <div class="billing-box">
                        <div class="title">
                            <span class="title-color"><?php echo $this->__('Billing Address') ?></span>
                        </div>
                        <div class="content">
                            <address><?php echo $invoice->getBillingAddress()->getFormated(true) ?></address>
                        </div>
                    </div>

                    <div class="shipping-add-box">
                        <div class="title">
                            <span class="title-color"><?php echo $this->__('Shipping Address') ?></span>
                        </div>
                        <div class="content">
                            <?php if($invoice->getShippingAddress()):?>
                            <address><?php echo $invoice->getShippingAddress()->getFormated(true) ?></address>
                            <?php else: ?>
                            <address><?php echo $this->__('No Shipping Address') ?></address>
                            <?php endif; ?>
                        </div>
                    </div>		
                </div>

                <div class="info-cus" style="margin-top: 25px; margin-bottom: 25px;">		
                    <div class="payment-box">
                        <div class="title">
                            <span class="title-color"><?php echo $this->__('Payment Method') ?></span>
                        </div>				
                        <div class="content">
                            <?php echo $payment_method->getTitle(); ?>
                        </div>
                    </div>

                    <div class="shipping-box">
                        <div class="title">
                            <span class="title-color"><?php echo $this->__('Shipping Method') ?></span>
                        </div>
                        <div class="content">
                            <?php if($shipping_method): ?>
                            <?php echo $shipping_method; ?>
                            <?php else: ?>
                            <?php  echo $this->__('No Shipping Method'); ?>
                            <?php endif; ?>
                        </div>
                    </div>		
                </div>
            </div>
            <!--<h3 style="font-size: 12pt; color: rgb(47, 79, 78);  text-transform: uppercase;font-weight:bold">Ordered Items</h3>-->
            <div class="bottom-main-info">
                <table class="items table-data" width="100%" style="font-size: 14px; border-collapse: collapse;" cellpadding="0">
                    <thead>
                        <tr>
                            <td width="28%" style="text-align: left; border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('PRODUCT') ?></td>
                            <?php if($display_images==1): ?>
                            <td width="13%" style="border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('IMAGE') ?></td>
                            <?php endif; ?>
                            <td width="10%" style="border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('PRICE') ?></td>
                            <td width="7%" style="border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('QTY') ?></td>
                            <td width="10%" style="border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('SUBTOTAL') ?></td>
                            <td width="auto" style="border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('TAX') ?></td>
                            <td width="7%" style="text-align: right; border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('DISCOUNT') ?></td>
                            <td width="10%" style="text-align: right; border-bottom: 6px solid  <?php echo '#' . $color; ?>;	font-family:'Ubuntu';"><?php echo $this->__('ROW TOTAL') ?></td>
                        </tr>
                    </thead>

                    <!-- ITEMS HERE -->
                    <?php $_items = $invoice->getAllItems(); ?>
                    <?php $countbd = 0;
                    foreach ($_items as $item): ?>
                            <?php if ($item->getOrderItem()->getParentItem()) continue; ?>
                        <tbody class="<?php if ($countbd % 2 == 0) echo 'tbody-2'; ?>">								
                            <?php echo $this->getItemHtml($item) ?>
                        <?php echo $this->getItemExtraInfoHtml($item->getOrderItem()) ?>
                        </tbody>
    <?php $countbd++;
endforeach; ?>

                </table>
                <?php
                $totalBlock = $this->getLayout()->createBlock('pdfinvoiceplus/adminhtml_totals_invoice')
                        ->setTemplate('pdfinvoiceplus/sales/order/totals.phtml');
                ?>
                <div class="invoice-totals" style="width:100%; float: left;margin-top: 20px;">
                    <div class="invoice-note" style="width:35%; float: left;padding: 20px 5%;border: 1px solid #D6D6D6;">
                        <?php if ($note): ?>
    <?php echo $note; ?>
<?php endif; ?>
                    </div>
                    <div  style="width:50%;  float: right;"><?php echo $totalBlock->toHtml(); ?></div>
                </div>
            </div>
            <?php if($barcode == 1): ?>
                <p style="text-align: center;"><barcode code='<?php echo $barcode_value; ?>' type='<?php echo $barcode_type; ?>' /></p>
            <?php endif;?>
            <div class="term-conditions" style="padding-bottom:50px">
                <p><?php echo $term;?></p>
            </div>
        </div>
        <footer class="footer-invoice" name="myfooter">
            <div class="footer-text" style="padding-top: 10px;width: 90%; margin: 0 5%;">
<?php if ($footer) echo $footer; ?>
            </div>
        </footer>
    </body>
</html>