<a name="whats-in-the-box" class="anchor-nav nav-box"></a>
<?php $boxFeatures = $this->helper('catalog/output')->productAttribute($this->getProduct(),$this->getProduct()->getData("whats_in_the_box_numbered"),'whats_in_the_box_numbered'); ?>
<?php $whatsInTheBoxImage = $this->getProduct()->getData( 'whats_in_the_box_image' );?>

<?php if( ($boxFeatures && strlen(trim($boxFeatures)) > 0)):?>
<div class="nav-whats-in-the-box panel">
	<div class="header-wrapper">
		<h2 class="collapsed">
			<?php echo $this->__( "What's in the box?" ); ?>
		</h2>
	</div>
	<div class="content-wrapper">
		<?php if ( ! empty( $whatsInTheBoxImage ) && $whatsInTheBoxImage !== 'no_selection' ): ?>
            <ol class="whats-in-the-box">
                <li class="box-image">
                    <noscript>
                        <img itemprop="image" class="box-image"
                             src="<?php echo Mage::helper( 'catalog/image' )->init($this->getProduct(), 'whats_in_the_box_image' ); ?>"
                             alt="box image" title="box image"/>
                    </noscript>
                    <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage(Mage::helper( 'catalog/image' )->init( $this->getProduct(), 'whats_in_the_box_image' )); ?>"
                         alt="box image" title="box image"/>
                    <p><?php echo $this->getProduct()->getName(); ?></p>
                </li>
                <?php echo $boxFeatures; ?>
            </ol>
		<?php endif; ?>
	</div>
</div>
<?php endif;?>