<?php
$_products = $this->getSparesProductionCollection();
$_registeredUsers = $this->getRegisteredProducts();
$productCollection = Mage::getModel('catalog/product');
?>
<div class="myproducts-block">
    <div class="section-title">
        <?php echo $this->__('My Products') ?>
        <a href="#" class="myproduct-control right"><?php echo $this->__('Next') ?></a>
    </div>
    <div class="myproducts-list">
        <?php foreach ($_registeredUsers as $_user): ?>
        <?php $_item = $productCollection->loadByAttribute('sku', $_user->getModel()); ?>
        <div class="product-list-item">
            <div class="product-image">
                <a href="<?php echo $_item->getProductUrl() ?>"
                   title="<?php echo $this->escapeHtml($_item->getName()) ?>"
                   class="product-image">
                    <img
                        src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_item, 'small_image')->resize(300, 500)) ?>"
                        alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/>
                </a>
            </div>
            <div class="product-list-item-data">
                <p><?php echo $this->__('Purchase Date: ') ?><?php echo $_user->getPurDate(); ?></p>
                <p><?php echo $this->__('Guarantee: ') ?>
                    <?php echo $_user->getWarranty(); ?>
                    <?php echo $this->__(' Years') ?>
                </p>
                <p><?php echo $this->__('Downloads: ') ?></p>
                <p>
                    <a href=""><?php echo $this->__('Manual'); ?></a>
                </p>
                <p><a href="<?php echo $_item->getProductUrl() ?>#review-form"><?php echo $this->__('Review this product') ?></a></p>
                <p><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->__('Go to item page') ?></a></p>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <div class="section-title spares-title">
        <?php echo $this->__('Spares and Accessories') ?>
    </div>
    <div class="bestsellers spares-and-accessories-block">
        <div class="outer-box">
            <div class="prev arrow"></div>
            <?php $_image_size = 480; ?>
            <ul class="mini-products-list">
                <?php foreach ($_products as $_item): ?>
                    <li class="product">
                        <a href="<?php echo $_item->getProductUrl() ?>"
                           title="<?php echo $this->escapeHtml($_item->getName()) ?>"
                           class="product-image"><img
                                src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_item, 'small_image')->resize($_image_size, $_image_size)) ?>"
                                alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/></a>

                        <div class="product-details">
                            <p class="product-name"><a
                                    href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a>
                            </p>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
            <div class="next arrow"></div>
        </div>
        <a href="<?php echo Mage::getUrl('spares-and-accessories');?>" class="view-all button"><?php echo $this->__('View all >') ?></a>
    </div>
</div>

