<?php
/**
 * $this: @see Mage_Customer_Block_Address_Book
 *
 */
?>

<?php $_customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
<div class="section-title"><?php echo $this->__('Address Book') ?></div>

<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="col2-set address-book addresses-list">
        <ol>
        <?php
        //check for default billing address
        if($_address = $_customer->getAddressById($_customer->getDefaultBilling())): ?>
            <li class="item">
                <div class="address-title"><?php echo $this->__('Default Billing Address') ?></div>
                <address>
                    <?php echo $_address->format('html') ?>
                </address>
                <p><a href="<?php echo $this->getAddressEditUrl($_address) ?>"><?php echo $this->__('Edit Address') ?></a></p>
           </li>
        <?php else: ?>
            <li class="item">
                <div class="address-title"><?php echo $this->__('Default Billing Address') ?></div>
                <?php echo $this->__('You have no default billing address in your address book.') ?>
            </li>
        <?php endif ?>

        <?php
        //check for default shipping address
        if($_address = $_customer->getAddressById($_customer->getDefaultShipping())): ?>
            <li class="item">
                <div class="address-title"><?php echo $this->__('Default Shipping Address') ?></div>
                <address>
                    <?php echo $_address->format('html')?>
                </address>
                <p><a href="<?php echo $this->getAddressEditUrl($_address) ?>"><?php echo $this->__('Edit Address') ?></a></p>
            </li>
        <?php else: ?>
            <li class="item empty">
                <div class="address-title"><?php echo $this->__('Default Shipping Address') ?></div>
                <p><?php echo $this->__('You have no default shipping address in your address book.') ?></p>
            </li>
        <?php endif ?>

        <?php if($_addresses = $this->getAdditionalAddresses()): ?>
            <?php foreach($_addresses as $_address): ?>
            <li class="item">
                <address>
                    <?php echo $_address->format('html') ?>
                </address>
                <p><a href="<?php echo $this->getUrl('customer/address/edit', array('id'=>$_address->getId())) ?>">
                        <?php echo $this->__('Edit Address') ?></a>
                    <span class="separator">|</span>
                    <a href="#" class="link-remove" onclick="return deleteAddress('<?php echo $_address->getId() ?>');">
                        <?php echo $this->__('Delete Address') ?></a>
                </p>
            </li>
            <?php endforeach; ?>
        <?php endif; ?>
        </ol>
    <div class="buttons-set">
        <a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">< <?php echo $this->__('Back') ?></a>
        <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add New Address')) ?>" class="button" onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';"><span><?php echo $this->__('Add New Address') ?></span></button>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
    function deleteAddress(addressId) {
        if(confirm('<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Are you sure you want to delete this address?')) ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+addressId;
        }
        return false;
    }
//]]>
</script>
