<?php
/**
 * Edit customer address template
 *
 * @see Mage_Customer_Block_Address_Edit
 */
?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="section address-edit">
    <div class="section-title"><?php echo $this->__('Add Your Address') ?></div>
    <form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" class="scaffold-form"
          enctype="multipart/form-data">
        <div class="fieldset">
            <?php echo $this->getBlockHtml('formkey') ?>
            <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
            <ul class="form-list">
                <li class="fields">
                    <?php echo $this->getNameBlockHtml() ?>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>

                        <div class="input-box">
                            <input type="tel" name="telephone"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>"
                                   title="<?php echo Mage::helper('core')->quoteEscape($this->__('Telephone')) ?>"
                                   class="input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>"
                                   id="telephone"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fieldset">
            <ul class="form-list">
                <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                <li class="wide">
                    <div class="field">
                        <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street / House Number') ?>
                        </label>

                        <div class="input-box">
                            <input type="text" name="street[]"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>"
                                   title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street / House Number')) ?>"
                                   id="street_1" class="input-text <?php echo $_streetValidationClass ?>"/>

                            <input type="text" name="street[]"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(2)) ?>"
                                   title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street / House Number')) ?>"
                                   id="street_2" class="input-text <?php echo $_streetValidationClass ?>"/>
                        </div>
                    </div>
                </li>
                    <li class="wide">
                        <div class="field">
                            <label for="street_3"><?php echo $this->__('Address supplement') ?></label>

                            <div class="input-box">
                                <input type="text" name="street[]"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(3)) ?>"
                                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('Address supplement')) ?>"
                                       id="street_3" class="input-text <?php echo $_streetValidationClass ?>"/>
                            </div>
                        </div>
                    </li>
                <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                    <li class="wide">
                        <div class="field">
                            <label for="vat_id"><?php echo $this->__('VAT Number') ?></label>

                            <div class="input-box">
                                <input type="text" name="vat_id"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>"
                                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('VAT Number')) ?>"
                                       id="vat_id"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>"/>
                            </div>
                        </div>
                    </li>
                <?php endif; ?>
                <li class="fields">
                    <div class="field">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>

                        <div class="input-box">
                            <input type="text" name="postcode"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                   title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zip/Postal Code')) ?>"
                                   id="zip"
                                   class="input-text validate-postcode-german <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" name="city"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                   title="<?php echo Mage::helper('core')->quoteEscape($this->__('City')) ?>"
                                   class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
                                   id="city"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>

                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                </li>
                <li<?php if ($this->canSetAsDefaultBilling()) echo ' class="control"' ?>>
                    <div class="field">
                        <?php if ($this->isDefaultBilling()): ?>
                            <strong><?php echo $this->__('Default Billing Address') ?></strong>
                        <?php elseif ($this->canSetAsDefaultBilling()): ?>
                                <input type="checkbox" id="primary_billing" name="default_billing" value="1"
                                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use as My Default Billing Address')) ?>"
                                       class="checkbox"/><label
                                    for="primary_billing"><?php echo $this->__('Use as my default billing address') ?></label>

                        <?php else: ?>
                            <input type="hidden" name="default_billing" value="1"/>
                        <?php endif; ?>
                    </div>
                </li>
                <li<?php if ($this->canSetAsDefaultShipping()) echo ' class="control"' ?>>
                    <div class="field">
                        <?php if ($this->isDefaultShipping()): ?>
                            <strong><?php echo $this->__('Default Shipping Address') ?></strong>
                        <?php elseif ($this->canSetAsDefaultShipping()): ?>

                                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1"
                                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use as My Default Shipping Address')) ?>"
                                       class="checkbox"/><label
                                    for="primary_shipping"><?php echo $this->__('Use as my default shipping address') ?></label>

                        <?php else: ?>
                            <input type="hidden" name="default_shipping" value="1"/>
                        <?php endif; ?>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <a class="back" href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">
                    < <?php echo $this->__('Back') ?></a>
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save Address')) ?>"
                    class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    //]]>
</script>
