<?php /* Vax_Catalog_Block_Layer_Filter_Attribute */ ?>
<?php if($this->getItems()): ?>
    <div class="filter-divider-<?php echo $this->getCssClass() ?>"></div>
    <ol id="filter-content-<?php echo $this->getCssClass() ?>">
        <?php foreach ($this->getItems() as $_item): ?><?php /* Vax_Catalog_Model_Layer_Filter_Item */ ?>
            <?php if ($_item->getCount() > 0  || $_item->getOrigCount() > 0 ): ?>
                <li>
                    <label>
                        <input  type="checkbox"
                                <?php if ($_item->isSelected()): ?>
                                    checked="checked"
                                <?php endif; ?>
                                id="filter-<?php echo Mage::helper('catalog/category')->stringToHtmlId($this->getCssClass() . '-' . $_item->getValue()) ?>"
                                <?php if ($_item->getCount() == 0): ?>
                                    disabled="disabled"
                                <?php else: ?>
                                    <?php /*if(Mage::helper('googletagmanager')->isGoogleTagManagerAvailable()): ?>
                                onchange="datalayerPushEvent('filter-<?php echo Mage::helper('catalog/category')->stringToHtmlId($this->getCssClass() . '-' . $_item->getValue()) ?>');
                                            <?php if(Mage::helper('catalog/category')->useAjaxCheckboxes()): ?>updateCategory<?php else: ?>setLocation<?php endif; ?>('<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>');"
                            <?php //else: */ ?>
                                        onchange="<?php if(Mage::helper('catalog/category')->useAjaxCheckboxes()): ?>updateCategory<?php else: ?>setLocation<?php endif; ?>('<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>');"
                                    <?php //endif; ?>
                                <?php endif; ?>
                            />
                        <div class="label<?php if ($_item->getCount() == 0): ?> disabled<?php endif; ?>">
                            <?php echo $_item->getLabel() ?>
                            <?php if ($this->shouldDisplayProductCount()): ?>
                                (<?php echo $_item->getCount() ?>)
                            <?php endif; ?>
                        </div>
                    </label>
                </li>
            <?php endif; ?>
        <?php endforeach ?>
    </ol>
    <script type="text/javascript">
        jQuery('#filter-content-<?php echo $this->getCssClass() ?> input[type=checkbox]').each(function(key, elt) {jQuery(elt).checkbox({className:'filter-checkbox',checkedClass:'filter-checkbox-on'})});
    </script>
<?php endif; ?>
