<div class="checkout-steps-actions">
    <a href="/" class="btn btn-large btn-next <?php if ($this->hasOrderFailed()): ?>btn-danger<?php else: ?>btn-success <?php endif; ?>" title="Next" data-submit="<?php echo $this->getHTMLClass(); ?>">
       <p>
           <?php echo $this->getNextBtnTitle(); ?>
       </p>
        <span class="icon">&nbsp;</span>
    </a>
</div>