<div class="checkout-steps-header">
    <div class="checkout-steps-title">
        <div class="step-info"><?php echo $this->__('Step %d of %d', $this->getStepIndex(), count($this->getSteps())) ?></div>
        <h2 class="title">
            <?php echo $this->getStepIndex() ?>. <?php echo $this->getHeader(); ?>
        </h2>
        <div class="step-link">
            <a class="link-step btn-edit" data-step="<?php echo $this->getStepIndex() ?>" title="<?php echo $this->getHeader() ?>"><?php echo $this->__('Edit details') ?></a>
        </div>
    </div>
</div>