/* ============================================ *
 * Global styles
 * ============================================ */
.back-to-top {
	background: sprite($mobile-icons, sticky-arrow) no-repeat;
	@include sprite-dimensions($mobile-icons, sticky-arrow);
	margin: 15px 0;
	float: right;
	&:hover, &:active {
		opacity: 0.8;
		cursor: pointer;
	}
}
@include bp(min-width, $bp-medium) {
	#admin_messages {
		top: 0;
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
		left: auto;
		padding: 20px 90px;
	}
	.back-to-top {
		display: none;
	}
}
@include bp(min-width, 1030px) {
    body > .wrapper {
        max-width: $max-container-width;
        padding: 0 $trim;

        .page {
            max-width: $max-content-width;

            header, .breadcrumbs {
                .sticky-container {
                    max-width: $max-content-width;
                    left: auto;
                }
            }
        }
    }
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../media/fonts/AkzidenzGroteskPro-Bold.eot');
  src: url('../media/fonts/AkzidenzGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../media/fonts/AkzidenzGroteskPro-Bold.woff') format('woff'),
  url('../media/fonts/AkzidenzGroteskPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../media/fonts/AkzidenzGroteskPro-Bold_1.eot');
  src: url('../media/fonts/AkzidenzGroteskPro-Bold_1.eot?#iefix') format('embedded-opentype'),
  url('../media/fonts/AkzidenzGroteskPro-Bold_1.woff') format('woff'),
  url('../media/fonts/AkzidenzGroteskPro-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}