<?php if ($this->isVisible()) { ?>
    <div class="control-group shipping-methods">
        <div class="delivery-clearfix"></div>
        <label class="control-label delivery-options large">
            <?php echo $this->__('Delivery option:'); ?>
        </label>
        <div class="controls controls-methods">
            <?php foreach ($this->getMethods() as $methods) { ?>
                <?php foreach ($methods as $method) { ?>
                    <div class="method">
                        <label class="radio">
                            <input id="contactDetails_shipping_method" data-price="<?php echo $method->getPrice(); ?>" <?php if($method->getCode() == $this->getShippingCode()) { ?>checked="checked" <?php } ?> value="<?php echo $method->getCode() ?>" type="radio" name="address[delivery][shipping_method]">
                            <span class="title"><?php echo $method->getCarrierTitle() . ' ' . $method->getMethodTitle(); ?></span>
                            <?php if ($method->getPrice() > 0): ?>
                                <span class="price"><?php echo $this->formatShippingPrice($method->getPrice()); ?></span>
                            <?php endif; ?>
                        </label>
                        <?php echo $this->getChildHtml('deliverydate') ?>
                        <?php if (Mage::helper('core')->isModuleEnabled('Vax_Delivery') && Mage::helper('vax_delivery/cart')->canDisplayDeliveryDates($method)): ?>
                            <div class="delivery-date" <?php if($method->getCode() != $this->getShippingCode()) { ?>style="display: none;" <?php } ?>>
                                <select name="address_delivery_shipping_date" id="address_delivery_shipping_date">
                                    <?php foreach (Mage::helper('vax_delivery/cart')->getAvailableDeliveryDates() as $time): ?>
                                        <option <?php if(date('l jS F', $time) == Mage::helper('vax_delivery/cart')->getCurrentDeliveryDate()): ?>selected<?php endif; ?> value="<?php echo $time ?>"><?php echo date('l jS F', $time) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php } ?>
            <?php } ?>
        </div>
    </div>
<?php } ?>