<?php
$_helper = $this->helper('googleanalytics');
$_accountId = $_helper->getAccountId();
?>
<?php if ($this->getOrder()->getId() && $_accountId) : ?>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<?php echo $_accountId ?>']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_addTrans', '<?php echo $this->getOrder()->getIncrementId() ?>', '<?php echo $this->jsQuoteEscape(Mage::app()->getStore()->getFrontendName()) ?>', '<?php echo $this->getOrder()->getBaseGrandTotal() ?>', '<?php echo $this->getOrder()->getBaseTaxAmount() ?>', '<?php echo $this->getOrder()->getBaseShippingAmount() ?>', '', '', 'UK']);
        <?php foreach ($this->getOrder()->getAllVisibleItems() as $item): ?>
        _gaq.push(['_addItem', '<?php echo $this->getOrder()->getIncrementId() ?>', '<?php echo $this->jsQuoteEscape($item->getSku()) ?>', '<?php echo $this->jsQuoteEscape($item->getName()) ?>', '', '<?php echo $item->getBasePrice() ?>', '<?php echo $item->getQtyOrdered() ?>']);
        <?php endforeach; ?>
        _gaq.push(['_trackTrans']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
<?php endif; ?>
<?php if ($this->getTagManagerId()): ?>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=<?php echo $this->getTagManagerId(); ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<?php echo $this->getTagManagerId(); ?>');</script>
<?php endif; ?>