<?php if (!$this->getRemoveForm()): ?>
<form id="billing-details-form" class="checkout-form form-horizontal" novalidate="novalidate" action="post" name="checkout-contact-billing">
<?php endif; ?>
<div class="billing-form">
    <h2>
        <?php echo $this->__('Billing Address') ?>
    </h2>
    <?php if ($this->customerHasAddresses()): ?>
        <div class="control-group">
            <div class="controls">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </div>
    <?php endif ?>
    <div class="new-address-form billing-address" <?php if ($this->customerHasAddresses()): ?> style="display:none"<?php endif; ?>>
        <fieldset class="address-data">
            <div class="control-group">
                <label class="control-label" for="address_billing_firstname">
                    <?php echo $this->__('First Name'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <input id="address_billing_firstname" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" type="text" title="<?php echo $this->__('Please enter a first name'); ?>" name="address[billing][first_name]" value="<?php echo $this->escapeHtml($this->getFirstName()); ?>" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="address_billing_lastname">
                    <?php echo $this->__('Surname'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <input id="address_billing_lastname" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" type="text" title="<?php echo $this->__('Please enter a last name'); ?>" name="address[billing][last_name]" value="<?php echo $this->escapeHtml($this->getLastName()); ?>" required>
                </div>
            </div>

            <div class="control-group address-line address-line-1">
                <label class="control-label" for="address_billing_street_1">
                    <?php echo $this->__('Street / House Number'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <input id="address_billing_street_1" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" type="text" title="<?php echo $this->__('Please enter a street address'); ?>" name="address[billing][street_1]" value="<?php echo $this->escapeHtml($this->getLine1()); ?>" required>
                    <input id="address_billing_street_2" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" type="text" name="address[billing][street_2]" value="<?php echo $this->escapeHtml($this->getLine2()); ?>" >
                </div>
            </div>

            <div class="control-group address-line address-line-2">
                <label class="control-label" for="address_billing_street_3">
                    <?php echo $this->__('Address supplement'); ?>
                </label>

                <div class="controls">
                    <input id="address_billing_street_3" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" type="text" name="address[billing][street_3]" value="<?php echo $this->escapeHtml($this->getLine3()); ?>" >
                </div>
            </div>

            <div class="control-group address-search" style="display: none;">

            </div>

            <div class="control-group">
                <label class="control-label" for="address_billing_postcode">
                    <?php echo $this->__('Postcode'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">

                    <div class="span4 postcode">
                        <input id="address_billing_postcode" class="postcode postcode-german span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" title="<?php echo $this->__('Please enter a valid post code'); ?>" type="text" name="address[billing][postcode]" value="<?php echo $this->escapeHtml($this->getPostcode()); ?>" maxlength="9" required>
                    </div>
                </div>
            </div>

            <div class="control-group address-line">
                <label class="control-label" for="address_billing_city">
                    <?php echo $this->__('Town / City'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <input id="address_billing_city" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" type="text" title="<?php echo $this->__('Please enter a town or city'); ?>" name="address[billing][city]" value="<?php echo $this->escapeHtml($this->getCity()); ?>" required>
                </div>
            </div>

            <div class="control-group address-line">
                <label class="control-label" for="address_billing_country_id">
                    <?php echo $this->__('Country'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <select id="address_billing_country_id" class="span4<?php if ($this->customerHasAddresses()): ?> ignore<?php endif; ?>" name="address[billing][country_id]" required>
                        <?php foreach ($this->getCountryOptions() as $option) { ?>
                            <option value="<?php echo $option->getCountryId(); ?>" selected>
                                <?php echo $this->__($option->getName()); ?>
                            </option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <?php if ($this->isCustomerLoggedIn()):?>
                <div class="control-group">
                    <label class="checkbox inline fullsize" for="address_billing_save_in_address_book">
                        <input id="address_billing_save_in_address_book" type="checkbox" class="ignore" name="address_billing_save_in_address_book" checked="checked">
                        <span class="checkbox-label"><?php echo $this->__('Save Address?'); ?></span>
                    </label>
                </div>
            <?php endif; ?>

        </fieldset>
    </div>
</div>
<?php if (!$this->getRemoveForm()): ?>
</form>
<?php endif ?>
