<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<h2>
    <?php echo $this->__('Shipping Address') ?>
    <span class="tooltips">
        <?php echo $this->__('Delivery of our products will be made in within Germany (no Packstations) only. For enquiries from other countries:') ?>
        <a href="<?php echo Mage::getBaseUrl(); ?>international-service/" target="_blank"><?php echo $this->__('International Service'); ?></a>
    </span>
</h2>
<form id="contact-shipping-form" class="checkout-form form-inline form-horizontal" novalidate="novalidate" action="post" name="checkout-contact-shipping">
    <?php if ($this->showAddressBook()): ?>
    <div class="control-group shipping-select">
        <div class="controls">
            <?php echo $this->getAddressesHtmlSelect('shipping') ?>
        </div>
    </div>
    <?php endif ?>
    <div class="new-address-form shipping-address" <?php if ($this->showAddressBook()): ?> style="display:none"<?php endif; ?>>
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_name') ?>
        <?php if ($_gender->showPrefix()): ?>
            <div class="control-group">
                <label class="control-label" for="contactDetails_gender">
                    <?php echo $this->__('Prefix'); ?>
                    <em class="required">*</em>
                </label>
                <div class="controls">
                    <select id="contactDetails_gender" name="contact_details[gender]" title="<?php echo $this->__('Please enter Title'); ?>" class="validate-select" required>
                        <option value=""></option>
                        <option value="1"<?php if ($this->getGender() == 1): ?> selected="selected"<?php endif ?>><?php echo $this->__('Mr') ?></option>
                        <option value="2"<?php if ($this->getGender() == 2): ?> selected="selected"<?php endif ?>><?php echo $this->__('Mrs') ?></option>
                    </select>
                </div>
            </div>
        <?php endif ?>
        <div class="control-group">
            <label class="control-label" for="contactDetails_firstname">
                <?php echo $this->__('First Name'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="contactDetails_firstname" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="text" title="<?php echo $this->__('Please enter a first name'); ?>" name="contact_details[first_name]" value="<?php echo $this->escapeHtml($this->getFirstName()); ?>" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="contactDetails_lastname">
                <?php echo $this->__('Surname'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="contactDetails_lastname" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="text" title="<?php echo $this->__('Please enter a last name'); ?>" name="contact_details[last_name]" value="<?php echo $this->escapeHtml($this->getLastName()); ?>"  required>
            </div>
        </div>

        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <div class="control-group form-list">
                <label class="control-label" for="contactDetails_dob">
                    <?php echo $this->__('Date of Birth'); ?>
                    <em class="required">*</em>
                </label>
                <div class="input-box customer-dob">
                    <div class="dob-day">
                        <input type="text" id="contactDetails_day" name="contact_details[day]" value="<?php echo $this->escapeHtml($this->getDay()) ?>" title="<?php echo $this->__('Please enter Day') ?>" class="input-text validate-custom" required digits minlength="1" maxlength="2" min="1" max="31">
                        <label for="day"><?php echo $this->__('DD') ?></label>
                    </div><div class="dob-month">
                        <input type="text" id="contactDetails_month" name="contact_details[month]" value="<?php echo $this->escapeHtml($this->getMonth()) ?>" title="<?php echo $this->__('Please enter Month') ?>" class="input-text validate-custom" required digits minlength="1" maxlength="2" min="1" max="12">
                        <label for="month"><?php echo $this->__('MM') ?></label>
                    </div><div class="dob-year">
                        <input type="text" id="contactDetails_year" name="contact_details[year]" value="<?php echo $this->escapeHtml($this->getYear()) ?>" title="<?php echo $this->__('Please enter Year') ?>" class="input-text validate-custom" autocomplete="off" required digits minlength="4" maxlength="4" max="<?php echo date('Y') ?>">
                        <label for="year"><?php echo $this->__('YYYY') ?></label>
                    </div>    <div class="dob-full" style="display:none;">
                        <input type="hidden" id="contactDetails_dob" name="contact_details[dob]">
                    </div>

                    <div class="validation-advice" style="display:none;"></div>
                </div>
            </div>
        <?php endif ?>
        <fieldset class="address-data">
            <div class="control-group address-line address-line-1">
                <label class="control-label" for="contactDetails_street_1">
                    <?php echo $this->__('Street / House Number'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <input id="contactDetails_street_1" title="<?php echo $this->__('Please enter a street address'); ?>" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="text" name="address[delivery][street_1]" value="<?php echo $this->escapeHtml($this->getLine1()); ?>" required>
                    <input id="contactDetails_street_2" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="text" name="address[delivery][street_2]" value="<?php echo $this->escapeHtml($this->getLine2()); ?>" >
                </div>
            </div>

            <div class="control-group address-line address-line-2">
                <label class="control-label" for="contactDetails_street_3">
                    <?php echo $this->__('Address supplement'); ?>
                </label>

                <div class="controls">
                    <input id="contactDetails_street_3" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="text" name="address[delivery][street_3]" value="<?php echo $this->escapeHtml($this->getLine3()); ?>" >
                </div>
            </div>

            <div class="control-group address-search" style="display: none;">

            </div>

            <div class="control-group">
                <label class="control-label" for="contactDetails_postcode">
                    <?php echo $this->__('Postcode'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <div class="span4 postcode">
                        <input id="contactDetails_postcode" title="<?php echo $this->__('Please enter a valid post code'); ?>" class="postcode-german postcode span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="text" name="address[delivery][postcode]" value="<?php echo $this->escapeHtml($this->getPostcode()); ?>" maxlength="9" required>
                    </div>
                </div>
            </div>


            <div class="control-group address-line">
                <label class="control-label" for="contactDetails_city">
                    <?php echo $this->__('Town / City'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <input id="contactDetails_city" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" title="<?php echo $this->__('Please enter a town or city'); ?>" type="text" name="address[delivery][city]" value="<?php echo $this->escapeHtml($this->getCity()); ?>" required>
                </div>
            </div>

            <div class="control-group address-line">
                <label class="control-label" for="contactDetails_country_id">
                    <?php echo $this->__('Country'); ?>
                    <em class="required">*</em>
                </label>

                <div class="controls">
                    <select id="contactDetails_country_id" class="span4 delivery<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" name="address[delivery][country_id]" required>
                        <?php foreach ($this->getCountryOptions() as $option): ?>
                            <option value="<?php echo $option->getCountryId(); ?>" selected>
                                <?php echo $this->__($option->getName()); ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

        </fieldset>

        <div class="control-group">
            <label class="control-label" for="contactDetails_telephone">
                <?php echo $this->__('Telephone'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="contactDetails_telephone" class="span4<?php if ($this->showAddressBook()): ?> ignore<?php endif; ?>" type="tel" title="<?php echo $this->__('Please enter a valid phone number'); ?>" name="contact_details[telephone]" value="<?php echo $this->escapeHtml($this->getPhone()); ?>" required>
                <span class="comment"><?php echo $this->__('We need this number to call you if there is a problem with your order') ?></span>
            </div>
        </div>

        <?php if ($this->isCustomerLoggedIn()):?>
            <div class="control-group">
                <label class="checkbox inline fullsize" for="contactDetails_save_in_address_book">
                    <input id="contactDetails_save_in_address_book" type="checkbox" class="ignore" name="contact_details[save_in_address_book]" checked="checked">
                    <span class="checkbox-label"><?php echo $this->__('Save Address?'); ?></span>
                </label>
            </div>
        <?php endif; ?>
    </div>


    <div class="control-group">
            <label class="checkbox inline fullsize" for="contactDetails_same_as_shipping">
                <input id="contactDetails_same_as_shipping" type="checkbox" class="ignore" name="contact_details[same_as_shipping]" checked="checked">
                <div class="checkbox-label"><?php echo $this->__('Use delivery address as billing address'); ?></div>
            </label>
    </div>

    <div class="billing-address" id="billing-address-form" style="display: none">
        <?php echo $this->getChild('billing_details')->setRemoveForm(true)->toHtml() ?>
    </div>
    <hr />

    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div class="control-group create-account">
        <label class="checkbox inline fullsize" for="contactDetails_save_in_address_book">
            <input id="contactDetails_createAccount" class="span4" type="checkbox" title="<?php echo $this->__('Create Account'); ?>" name="contact_details[createAccount]" />
            <div class="checkbox-label"><?php echo $this->__('Create Account?'); ?></div>
        </label>
    </div>

    <div class="clearfix"></div>

    <div class="control-group create-account-form" style="display: none">
        <label class="control-label" for="contactDetails_password">
            <?php echo $this->__('Password'); ?>
        </label>

        <div class="controls">
            <input id="contactDetails_password" class="span4 ignore" required type="password" validpass="true" name="contact_details[password]" />
        </div>
    </div>

    <div class="control-group create-account-form" style="display: none">
        <label class="control-label" for="contactDetails_password_confirm">
            <?php echo $this->__('Confirm Password'); ?>
        </label>

        <div class="controls">
            <input id="contactDetails_password_confirm" class="span4 ignore" required validpass="true" type="password" name="contact_details[password_confirm]" matchPassword="true" />
        </div>
    </div>
    <div class="clearfix show-for-small hide-for-large"></div>
    <?php endif; ?>

    <div class="control-group">
        <label class="control-label" for="contactDetails_email">
            <?php echo $this->__('Email Address'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input id="contactDetails_email" class="span4" type="email" title="<?php echo $this->__('Please enter an email address'); ?>" name="contact_details[email]" value="<?php echo $this->escapeHtml($this->getEmail()); ?>" required>
        </div>
    </div>

    <hr />

    <div class="shipping-method">
    <?php echo $this->getChildHtml('shipping_methods'); ?>
    </div>
    <div class="checkout-promo">
        <?php echo $this->getChildHtml('checkout.promo') ?>
    </div>
    <div class="clearfix"></div>
</form>

<script type="text/javascript">
    jQuery.validator.addMethod('postcode-german', function(value, element) {
        var phoneNumber = jQuery.trim($j('#contactDetails_postcode').val());
        return _.isObject(phoneNumber.match(/^([0123456789][0-9]{4})$/g));
    }, '<?php echo $this->__('Please enter a valid zip code.')?>');
    jQuery.validator.addMethod('ukphone', function(value, element) {
        var phoneNumber = jQuery.trim($j('#contactDetails_telephone').val());
        return _.isObject(phoneNumber.match(/^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$/g));
    }, '<?php echo $this->__('Please enter a telephone number') ?>') ;

    jQuery.validator.addMethod('matchPassword', function(value, element) {
       var password = jQuery('#contactDetails_password').val();
       return password == value;
    }, '<?php echo $this->__('Please enter the same value again') ?>');

    jQuery.validator.addMethod('validpass', function(value, element) {
        return value.length >= 6;
    }, '<?php echo $this->__('Password must be at least %d characters long', 6) ?>');
</script>