<?php
/* $this = DirtDevil_Support_Block_Faqs */
$limit = 5;
$topics = $this->getTopics();
$top5_faq = $this->getTopFaq($limit);
?>
<span class="tabs tabs-mobile">
    <span class="faqs"><a class="active" href="#"><?php echo $this->__("FAQs") ?></a></span>
</span>

<div class="faqs">
    <?php if($topics): ?>
    <div class="search">
        <form id="prodfaqs-search" method="get" action="/prodfaqs/index/search">
            <div class="input-box">
                <input id="term" name="term" class="input-text required-entry" type="text" placeholder="<?php echo $this->__("Search...") ?>" />
                <input id="product_id" name="product_id" type="hidden" value="<?php echo $this->getProductId() ?>" />
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Go')) ?>" class="button"><?php echo $this->__('Go') ?></button>
            </div>
        </form>
    </div>

    <div id="search-results-container">
        <div class="loading"></div>
        <div class="results"></div>
    </div>

    <?php if($top5_faq): ?>
        <?php $y = 1; ?>
        <div class="top5">
            <h3 class="active"><a href="#"><?php echo $this->__("Top " . $limit . " FAQs") ?></a></h3>
            <ul class="top5 active">
                <?php $isLastTop5 = false; ?>
                <?php $top5Count = count($top5_faq); ?>
                <?php foreach ($top5_faq as $i => $top5_faq): ?>
                    <?php if($y == $top5Count): $isLastTop5 = true; endif; ?>
                    <li><?php echo $this->getFaqHtml($top5_faq, $isLastTop5, $y, 'prodfaqs/singlefaq-top5.phtml') ?></li>
                    <?php $y+=1; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>

    <ul class="topics">
        <?php foreach ($topics as $i => $topic): ?>
            <?php $faqInTopicCount = $this->getFaqInTopicCount($topic['product_id'], $topic['topic_id']); ?>
            <li class="topic"><a href="#" title="<?php echo $this->getTopicTitle($topic) ?>"><?php echo $this->getTopicTitle($topic) ?>&nbsp;<span>(<?php echo $faqInTopicCount ?>)</span></a>
                <?php $faqsInTopic = $this->getFaqsInTopic($topic['product_id'], $topic['topic_id']); ?>
                <?php $faqCount = count($faqsInTopic); ?>
                <?php if($faqsInTopic): ?>
                    <?php $x = 1; ?>
                    <?php foreach ($faqsInTopic as $y => $faq): ?>
                        <?php $isLast = false; ?>
                        <?php if($x == $faqCount): $isLast = true; endif; ?>
                        <?php echo $this->getFaqHtml($faq, $isLast) ?>
                        <?php $x+=1; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
     </ul>
<?php else: ?>
    <?php echo $this->__("There are no FAQs yet") ?>
<?php endif; ?>
</div>
