<?php
/* $this = DirtDevil_Support_Block_Manual */
$documents = $this->getDocuments();
?>
<span class="tabs tabs-mobile">
    <span class="manuals"><a href="#"><?php echo $this->__("Product Manual") ?></a></span>
</span>

<div class="manuals" style="display: none;">
    <?php if($documents): ?>
        <h3><?php echo $this->__("Manuals &amp; Documentation") ?></h3>

        <ul class="manuals">
            <?php foreach($documents as $document): ?>
                <li>
                    <a href="<?php echo $this->getDocumentLink($document); ?>" title="<?php echo __($this->getDocumentTitle($document)); ?>">
                        <?php echo __($this->getDocumentType($document)); ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php else: ?>
        <?php echo $this->__("There are no manuals yet") ?>
    <?php endif; ?>
</div>
