<div class="tabs">
    <div class="faqs"><a class="active" href="#"><?php echo $this->__("FAQs") ?></a></div>
    <div class="manuals"><a href="#"><?php echo $this->__("Product Manual") ?></a></div>
    <div class="main"><a href="#"><?php echo $this->__("Spares &amp; Accessories") ?></a></div>
</div>
