<div class="footer-mobile show-for-small hide-for-large">
    <address><?php echo $this->getLayout()->getBlock('footer')->getCopyright() ?></address>
    <div class="left">
        <a href="<?php echo Mage::getUrl('') ?>">www.dirtdevil.de</a>
    </div>
    <div class="right">
        <a href="<?php echo Mage::getUrl('impressum') ?>"><?php echo $this->__('Impressum') ?></a>
    </div>
</div>
