<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<div class="header-container">
    <div class="header">
        <?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="show-for-large hide-for-small" /><img src="<?php echo $this->getSkinUrl('images/oreck/320/dd_logo.jpg') ?>" alt="<?php echo $this->getLogoAlt() ?>" class="show-for-small hide-for-large" /></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="show-for-large hide-for-small" /><img src="<?php echo $this->getSkinUrl('images/oreck/320/dd_logo.jpg') ?>" alt="<?php echo $this->getLogoAlt() ?>" class="show-for-small hide-for-large" /></a>
        <?php endif?>
        <div class="quick-access">
            <?php echo $this->getChildHtml('store_switcher') ?>
            <a class="top-cart" href="/checkout/cart/"><?php echo $this->__("Cart") ?></a>
            <div class="top-login">
                <?php if(!$this->helper('customer')->isLoggedIn()): ?>
                    <a class="top-login" href="/customer/account/login/"><?php echo $this->__("Log In") ?></a>
                    <?php else: ?>
                    <a class="top-login" href="/customer/account/"><?php echo $this->__("Account") ?></a>
                    |
                    <a class="top-logout" href="/customer/account/logout/"><?php echo $this->__("Log Out") ?></a>
            <?php endif; ?>
            </div>
            <?php echo $this->getChildHtml('topSearch') ?>
            <?php echo $this->getChildHtml('topLinks') ?>
        </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
        <div class="add-to-cart hide-for-large show-for-small" onclick="document.location.href='<?php echo Mage::helper('vax_oreck')->getFeaturedProductAddToCartUrl() ?>'">
            <?php // TODO: insert add to cart button ?>
        </div>
        <div class="menu-icon hide-for-large show-for-small">

        </div>
        <?php echo $this->getChildHtml('topMenu') ?>
    </div>
</div>
