<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<div class="oreck-main">
    <h2 class="main-header hide-for-small"><?php echo $this->__('Oreck luftreiniger dualmax') ?><sup>&reg;</sup></h2>
    <div class="hero">
        <div class="menu-left">
            <?php echo $this->getChildHtml('oreck.menu.left'); ?>
        </div>
        <div class="add-to-cart hide-for-small" onclick="document.location.href='<?php echo Mage::helper('vax_oreck')->getFeaturedProductAddToCartUrl() ?>'">
            <?php // TODO: insert add to cart button ?>
        </div>
        <div class="hero-mini hide-for-large show-for-small">
            <h2><?php echo $this->__('Oreck luftreiniger dualmax') ?><sup>&reg;</sup></h2>
            <div class="image"></div>
        </div>
        <div class="social-share">
            <span class='st_sharethis_hcount' displayText='ShareThis'></span>
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_googleplus_hcount' displayText='Google +'></span>
            <script type="text/javascript">var switchTo5x=true;</script>
            <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "<?php echo Mage::getStoreConfig('vax_oreck/general/sharethis_account') ?>", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
        </div>
    </div>
    <div class="partials">
        <?php echo $this->getChildHtml('oreck.luftreinigung') ?>
        <?php echo $this->getChildHtml('oreck.features') ?>
        <?php echo $this->getChildHtml('oreck.technologie') ?>
        <?php echo $this->getChildHtml('oreck.reinigung') ?>
        <?php echo $this->getChildHtml('oreck.faqs') ?>
    </div>
    <div id="arrow-up">
    </div>
</div>
<?php echo $this->getChildHtml('oreck.footer.mobile') ?>
