@font-face {
    font-family: 'akzidenzGroteskSuper';
    src: url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskprosup-webfont.eot');
    src: url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskprosup-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskprosup-webfont.woff') format('woff'),
         url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskprosup-webfont.ttf') format('truetype'),
         url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskprosup-webfont.svg#akzidenz-grotesk_prosuper') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenzGroteskMedium';
    src: url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskpromed-webfont.eot');
    src: url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskpromed-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskpromed-webfont.woff') format('woff'),
         url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskpromed-webfont.ttf') format('truetype'),
         url('http://8cad4b46fd454aa339e1-dde2451a9d687113c6d407a3acfbca54.r44.cf3.rackcdn.com/skin/frontend/dirtdevil_rwd/uk_holding/fonts/akzidgrtskpromed-webfont.svg#akzidenz-grotesk_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #0075C9;
}

.header {
    width: 100%;
    margin: auto;
}

.content,
.footer {
    width: 780px;
    margin: auto;
    padding: 0 100px;
}

.b-lazy {
    width: 100%;
}

.header .image-wrapper {
    height: 54px;
    width: 66px;
    padding: 23px 17px;
    background-color: #D0112B;
}

.content .sub-header h1 {
    font-family: akzidenzGroteskSuper;
    font-size: 90px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin: 40px 0 60px 0;
    padding: 0;
}

.content p {
    font-family: akzidenzGroteskMedium;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.content .contact-advice {
     margin: 0 0 20px 0;
}

.content p span {
    font-family: akzidenzGroteskSuper;
    font-size: 20px;
    color: #F6CF3F;
}

.content p span a {
    font-family: akzidenzGroteskSuper;
    font-size: 20px;
    color: #F6CF3F;
    text-decoration: none;
}

.footer {
    margin-top: 40px;
    background: url('http://8a6a57c89f5a4a570c10-e8869b9dd7a2948da9f14af8c5e81da4.r48.cf3.rackcdn.com/swerve-980.png') no-repeat 70px 0;
    height:227px;
    position: relative;
}

.footer p {
    font-family: akzidenzGroteskSuper;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
}

/* Tablet */

@media screen and (min-width: 481px) and (max-width: 770px) {
    .content,
    .footer {
        width: 500px;
        padding: 0 75px;
    }

    .header .image-wrapper {
        height: 41px;
        width: 49px;
        padding: 17px 13px;
    }

    .content .sub-header h1 {
        font-size: 59px;
    }

    .content p,
    .content p span {
        font-size: 15px;
    }

    .content .contact-advice {
         margin: 0 0 15px 0;
    }

    .footer {
        background: url('http://8a6a57c89f5a4a570c10-e8869b9dd7a2948da9f14af8c5e81da4.r48.cf3.rackcdn.com/swerve-770.png') no-repeat 65px 0 ;
        height: 152px;
    }

    .footer p {
        font-size: 40px;
    }
}

/* Mobile */

@media screen and (max-width: 480px) {
    .header {
        width: 320px;
        margin: 0;
        padding: 0;
    }

    .content,
    .footer {
        width: 260px;
        margin-left: 30px;
        padding: 0 10px;
    }

    .header .image-wrapper {
        height: 36px;
        width: 43px;
        padding: 14.5px 11px;
    }

    .content .sub-header h1 {
        font-size: 50px;
        margin: 30px 0 30px 0;
    }

    .content p,
    .content p span,
    .content p span a {
        font-size: 14px;
        margin: 0 0 25px 0;
    }

    .content .contact-advice {
         margin: 0 0 25px 0;
    }

    .content br {
        display: block !important;
    }

    .footer {
        margin-top: -15px;
        background: url('http://8a6a57c89f5a4a570c10-e8869b9dd7a2948da9f14af8c5e81da4.r48.cf3.rackcdn.com/swerve-320.png') no-repeat;
        height: 98px;
    }

    .footer p {
        font-size: 25px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .content,
    .footer {
        width: 280px;
        padding: 0 65px;
    }

    .footer {
        background: url('http://8a6a57c89f5a4a570c10-e8869b9dd7a2948da9f14af8c5e81da4.r48.cf3.rackcdn.com/swerve-320.png') no-repeat 55px 0;
    }
}
