/* Add to Cart modal box */
#MB_caption {
    text-indent: -9999px;
    background-color: #ffffff;
}

#MB_content {
    border-top: none;
    margin-top: 10px;
}

#MB_header {
    border-bottom: none;
}

#MB_close span {
    font-size: 30px;
    line-height: 25px;
    padding: 0px 10px;
    right: 0px;
    background-color: #cf102d;
    color: #ffffff;
}

.icart-product-detail {
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF; /*padding: 26px 0px;*/
    margin: 10px 0px;
    padding-bottom: 45px;
}

.icart-product-detail .image {
    float: left;
    padding-top: 15px;
}

.icart-product-detail .name {
    float: left;
    padding: 15px 0px 0px 15px;
    width: 64%
}

.icart-product-detail .icart-price,
.icart-product-detail .icart-itemno {
    padding: 10px 0px;
    margin-right: 68px;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    float: right;
}

.icart-product-detail .title {
    padding-bottom: 24px;
    display: inline;
}

.icart-product-detail .icart-price .price-container {
    display: inline;
}

.icart-product-detail .product-image {
    display: block;
    width: 100%;
    height: 100%;
}

.icart-product-detail .product-name {
    padding-bottom: 24px;
    text-transform: none;
}

.icart-product-detail .product-name a {
    color: #CF112B;
    font-size: 17px;
    line-height: 17px;
}

.icart-product-detail .product-description {
    clear: both;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.icart-product-detail .product-description p, .icart-product-detail .product-description div {
    font-size: 14px;
}
.icart-product-detail .model-no {
    display: inline;
    padding-bottom: 24px;
}

.icart-messages .messages .success-msg li {
    border-left: 0px;
    background-color: #ffffff;
    position: relative;
    padding-left: 30px;
}

.icart-messages .messages .success-msg li::before {
    border: none;
    background: url('../images/template/mobile-sprite-s8e0a509adb.png') 0 -1017px no-repeat;
    height: 18px;
    width: 23px;
    position: absolute;
    top: 16px;
    left: 0px;
    content: " ";
}

.icart-shopping-actions{
  clear: both;
  overflow: hidden;
}

#MB_content .button.MB_focusable {
    background-color: #4c9d2f;
}

#MB_content .button.btn-close-icart {
    background-color: #cf102d;
}

@include bp(max-width, $bp-medium) {
    #MB_content .button.MB_focusable {
        width: 100%;
        margin-left: 0px;
    }

    .icart-product-detail .icart-price,
    .icart-product-detail .icart-itemno {
        float: none;
    }

    .icart-product-detail {
        padding-bottom: 0px;
    }
}

@include bp(max-width, $bp-small) {
  .icart-shopping-actions{
    text-align: center;
    button {
      display: block;
      clear: both;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      &.button + .button {
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        margin-bottom: 5px;
      }
    }
  }
}