.contacts-index-index {
	.page-title {
		height: 70px;
		h1 {
			width: 250px;
			padding: 20px 20px 0px;
		}
		// mobile icon in the title
		h1::after {
			background: url('../images/template/contacts-icon.png') no-repeat;
            background-size: contain;
            width: 50px;
            height: 50px;
            right: 20px;
            top: 10px;
            margin-top: 0;
            position: absolute;
		}
	}
	.contacts-intro {
		.visit-support a {
			font-size: 18px;
		}
		p {
			line-height: 16px;
		}
	}
	.accordion {
		margin-bottom: 20px;
		.accordion-step {
			.icon.callback_step {
				margin: 7px 20px 0;
				background: sprite($mobile-icons, chat-grey) no-repeat;
				@include sprite-dimensions($mobile-icons, chat-grey);
			}
			&.active {
				background-color: $c-orange;
				border: none;
				.accordion-title {
					color: white;
				}
				.icon.callback_step {
					background: sprite($mobile-icons, chat-white) no-repeat;
					@include sprite-dimensions($mobile-icons, chat-white);
				}
			}
		}
		.accordion-content {
			* {
				color: black;
			}
			p {
				line-height: 16px;
			}
			.phone {
				font-size: 20px;
			}

		}
	}
	.dd-service-link {
		.panel-color {
			.header {
				padding-top: 0;
			}
		}
	}
	.accordion .accordion-content .terms a {
		&:hover, &:active {
			text-decoration: underline;
			color: $c-red;
		}
	}

  #contactForm {
    .field {
      .captcha-image {
        margin-top: 20px;
      }

      .input-box {
        p {
          margin: 10px 0;
        }
      }
    }
  }
}
@include bp(min-width, $bp-xsmall+1) {
	.contacts-index-index #contactForm .form-buttons .button {
		float: left;
		width: auto;
		margin: 0;
	}
}
/* ================================================= *
 * Contact Us - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.contacts-index-index {
		.main-container {
			padding: 30px;
		}
		.page-title {
			height: 70px;
			h1 {
				width: auto;
				padding: 20px 30px 0px;
				font-size: 35px;
			}
		}
		.contacts-intro p {
			line-height: 20px;
		}
		.accordion {
			.accordion-step .icon.callback_step {
				margin: 7px 10px 0px;
			}
			.accordion-content {
				padding: 30px;
				p, li, div, #contactForm .field label {
					font-size: 16px;
					line-height: 18px;
				}
				p {
					margin: 0;
				}
				#contactForm {
					.checkboxes {
						padding: 0;
						margin-bottom: 10px;
						.checkbox {
							margin: 5px 10px 0px 0px;
						}
					}
					.form-buttons .button {
						width: auto;
					}

                  .field {
                    .captcha-image {
                      margin-left: 149px;
                      border-radius: 4px;
                      margin-bottom: 20px;
                      margin-top: 0;
                    }
                  }
				}
			}
		}
		.dd-service-link {
			width: 49%;
			margin-left: 0;
			.panel-color {
				margin-bottom: 0;
			}
		}
		.international-link {
			width: 49%;
			margin-right: 0;
			.panel-color {
				margin-bottom: 0;
			}
		}
	}
}
@include bp(min-width, 1040px) {
	.contacts-index-index {
		.main-container {
			padding: 30px 0 0;
		}
		.dd-service-link, .international-link {
			.panel-color {
				margin-bottom: 20px;
			}
		}
	}
}
.contacts-index-index .accordion .accordion-step {
  .icon.email_us_step {
    background: url('../images/template/email-grey.png') no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: 0;
  }

  &.active {
    .icon.email_us_step {
      background: url('../images/template/email-white.png') no-repeat;
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
      margin-top: 0;
    }
  }

  .icon.call_us_step {
    background: url('../images/template/call-grey.png') no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: 0;
  }

  &.active {
    .icon.call_us_step {
      background: url('../images/template/call-white.png') no-repeat;
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
      margin-top: 0;
    }
  }

  .icon.write_us_step {
    background: url('../images/template/write-grey.png') no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: 0;
  }

  &.active {
    .icon.write_us_step {
      background: url('../images/template/write-white.png') no-repeat;
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
      margin-top: 0;
    }
  }
}
