/* ================================================= *
 * Blog pages
 * ================================================= */
.blog-post-view,
.blog-post-index,
.blog-index-index,
.blog-index-list,
.blog-cat-view  {
	.page-title {
		height: 70px;
		background-color: $c-blue;
		position: relative;
		h1 {
			margin: 0;
			text-transform: none;
			color: white;
			width: 100%;
			font-weight: bold;
			font-size: 25px;
			line-height: 25px;
			padding: 20px 20px 0;
			border: none;
		}
		// mobile icon in the title
		h1::after {
			content: '';
			position: absolute;
			right: 20px;
			top: 10px;
			background: sprite($mobile-icons, news-icon) no-repeat;
			@include sprite-dimensions($mobile-icons, news-icon);
		}
	}
	.col-main {
		.postWrapper {
			padding: 0;
		}
		h2 {
			margin-top: 20px;
			text-transform: none;
			color: black;
			padding: 0 20px 10px 0;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			a {
				color: $c-gray;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: $c-gray;
				}
			}
		}
		p {
			font-size: 14px ;
			line-height: 16px;
			color: $c-gray;
			margin-bottom: 15px;
		}
		img {
			margin-top: 30px;
			max-width: 100%;
			height: auto;
		}
		h4 {
			text-transform: none;
		}
		a {
			color: $c-red;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color: darken($c-red, 10%);
			}
		}
		//read more - button
		a.aw-blog-read-more {
			color: white;
			background-color: $c-red;
			display: inline-block;
			line-height: 15px;
			font-size: 16px;
			padding: 7px 20px;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: white;
				background-color: darken($c-red, 10%);
			}
		}
		.tags {
			padding: 0;
		}
	}
	.postTitle {
		border: none;
		a {
			color: $c-gray;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				color: $c-gray;
			}
		}
		h3 {
			border: none;
		}
	}

}
.blog-post-view {
	.col-main .postTitle {
		h2 {
			margin-top: 0;
		}
	}
}

//article list pages
.blog-index-list,
.blog-cat-view {
	.toolbar {
		display: none;
	}
	.main-container {
		padding: 0;
	}
	.col-main {
		.postWrapper {
			padding: 0 20px 20px;
		}
	}
	.sorter {
		display: none;
	}
}

/* turns off blog news counter*/
.blog-index-list .pager {
    border-top: 0px;
}

.blog-index-list .toolbar .count-container {
    display: none;
}

@include bp(min-width, $bp-xsmall+1) {
	.blog-post-view,
	.blog-post-index,
	.blog-index-index,
	.blog-index-list,
	.blog-cat-view  {
		.main-container {
			padding: 20px;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.blog-post-view,
	.blog-post-index,
	.blog-index-index,
	.blog-index-list,
	.blog-cat-view  {
		.main-container {
			padding: 30px;
		}
		.page-title {
			h1 {
				line-height: 30px;
				font-size: 35px;
				padding: 20px 30px 0;
			}
		}
		.col-main {
			h2 {
				font-size: 20px;
				line-height: 22px;
				padding: 0 30px 10px 0;
				margin-top: 30px;
			}
			.postDetails {
				float: right;
				margin-top: -35px;
			}
		}
	}

	//article list pages
	.blog-index-list,
	.blog-cat-view {
		.main-container {
			padding: 0 0 30px;
		}
		.col-main .postWrapper {
			padding: 0px 30px 20px;
		}

		.toolbar {
			padding: 0;
			.toolbar-sorter-container {
				padding: 11px 30px
			}
		}
	}

}
