/* ================================================= *
 * Press pages
 * ================================================= */
.press-index-index, .press-view-index {
	.main-container {
		padding: 0;
	}
	.col-main {
		p {
			font-size: 14px;
			line-height: 16px;
			color: $c-gray;
			margin-bottom: 15px;
		}
		a {
			color: $c-red;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color: darken($c-red, 10%);
			}
		}
	}

//---------------------
// Press lister page

	.topheadline {
		height: 70px;
		background-color: $c-blue;
		position: relative;
		h1 {
			text-transform: none;
			color: white;
			width: 100%;
			font-weight: bold;
			font-size: 25px;
			line-height: 25px;
			padding: 20px 20px 0;
			border: none;
			margin: 0;
		}
	}
	.press_dvd1 {
		display: none;
	}
	#press_main_outer {
		padding: 20px;
		//no-posts message
		.press_text_1 {
			margin-top: 20px;
		}
	}
	.press_release_container {
		float: left;
		clear: both;
		margin-top: 30px;
		min-height: 200px;

		//article title on list page
		.press_ALinks {
			font-size: 20px;
			line-height: 21px;
			text-decoration: none;
			font-weight: bold;
			color: $c-gray;
			&:hover {
				text-decoration: underline;
			}
		}

		//article excerpt
		.press_detail {
			float: left;
			display: inline-block;
			clear: none;
		}
		.press_text_2 p {
			margin-top: 20px;
			color: $c-gray;
		}

		//read more - button
		.press_BLinks {
			color: white;
			background-color: $c-red;
			display: inline-block;
			line-height: 15px;
			font-size: 16px;
			padding: 7px 20px;
			text-transform: uppercase;
			text-decoration: none;
			float: right;
			&:hover {
				color: white;
				background-color: darken($c-red, 10%);
			}
		}

		//thumbnail
		.press_image {
			display: inline-block;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
			width: 100px;
			text-align: center;
			height: 100px;
			a {
				display: inline-block;
				text-align: center;
				width: 100%;
				border: 10px solid $c-gray-4;
				height: 100px;
				img {
					display: inline;
					text-align: center;
					width: auto;
					margin-top: 0px;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
				&:hover {
					border: 10px solid darken($c-gray-4, 5%);
				}
			}
		}
	}
	//links to archive
	.press_right_side {
		//title
		.press_heading_div .press_text_3 {
			padding: 10px 0;
			margin-top: 20px;
			border-top: 1px solid $c-gray-4;
			border-bottom: 1px solid $c-gray-4;
			width: 100%;
			display: inline-block;
			font-size: 16px;
		}
	}
	//years
	.archivelist {
		display: inline-block;
		width: 100%;
		float: right;
		margin: -33px 0 40px;
		position: relative;
		z-index: 3;
		li {
			float: right;
			margin-right: 20px;
		}
	}

	//---------------------
	// Press single post page
	.press_calendar {
		display: inline-block;
		margin: 20px 0;
		float: left;
		border-bottom: 1px solid $c-gray-4;
		> * {
			display: inline-block;
			float: left;
			margin-right: 5px;
		}
	}
	.press_author_detail, .press_download {
		float: right;
	}
	.press_author_detail {
		img {
			display: none;
		}
	}
	.press_download {
		margin-right: 10px;
	}
	.press_detail_right_div {
		clear: left;
	}
	#press_main_outer_detail {
		padding: 0 20px;
	}
}

@include bp(min-width, $bp-medium+1) {
	.press-index-index, .press-view-index {
		.main-container {
			padding: 0;
		}

		//---------------------
		// Press lister page and

		.topheadline {
			h1 {
				line-height: 30px;
				font-size: 35px;
				padding: 20px 30px 0;
			}
		}
		#press_main_outer {
			padding: 0 30px;
		}
		.press_release_container {
			.press_image {
				width: 200px;
				height: 180px;
				a {
					width: 100%;
					height: 200px;
					img {
						height: inherit;
					}
				}
			}
			.press_detail {
				max-width: 70%;
			}
		}


		//---------------------
		// Press single post page

		#press_main_outer_detail {
			padding: 0 30px;
		}
	}


}
