/*****************************************************
* Category Page in German - Small screens
******************************************************/
.products-list, .products-grid {
	h3.subtitle {
		font-size: 12px;
		text-transform: none;
		margin-bottom: 5px;
	}
	.shipping-cost-info {
		clear: both;
		line-height: 16px;
		a {
			color: $c-gray;
		}
	}
	.also-available-for {
		clear: both;
		padding-top: 10px;
		div, a {
			color: black;
		}
		p {
			color: $c-gray;
		}
	}

  .save-amount {
    clear: left;
    color: $c-red;
    font-size: 14px;
    font-weight: bold;
  }
}

.products-list {
	a.product-image {
		height: 110px;
		width: 110px;
		position: relative;
		border: none;
		background-color: white;
		text-align: center;
		max-width: 100%;
		max-height: 100%;
		&:after {
			background-color: white;
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			z-index: 0;
			text-align: center;
		}
		/* center the image vertically */
		&:before {
			/* create a full-height inline block pseudo=element */
			content: '';
			vertical-align: middle; /* vertical alignment of the inline element */
			text-align: center;
			line-height: 100px;
		}
		img {
			display: inline-block;
			vertical-align: middle; /* vertical alignment of the inline element */
			margin: 0 auto;
			width: auto;
			height: auto;
			position: relative;
			z-index: 1;
			text-align: center;
			max-width: 95%;
			max-height: 95%;
		}
		&:hover, &:active {
			background-color: $c-gray-4;
		}
	}
	//price info
	.product-shop2,
    .product-shop2-alt{
		width: 50%;
		padding-bottom: 30px;
        .short-description{
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid $c-gray-4;
          text-align: left;
          p{
            margin: 0;
            line-height: 1.5em;
          }
        }
      .features{
        text-align: left;
        li{
          margin-left: 1em;
        }
      }
	}
	//description
	.product-shop {
        padding-left: 0;
        width: 100%;
        float: none;
		.desc {
			text-align: left;
			padding-bottom: 20px;
			p {
				margin: 0;
			}
		}
        .short-description{
          position: relative;
          top: -25px;
        }
        .features{
          position: relative;
          top: -15px;
        }
        .product-secondary{
          .action,
          .link-learn{
            margin: 0;
            float: right;
            width:48%;
            .btn-cart{
              width: 100%;
            }
          }
          .link-learn{
            margin-right: 4%;
          }
        }
      .product-secondary{
        margin-top: -25px;
        padding-bottom: 40px;
      }
	}
	.availability.out-of-stock {
		margin-bottom: 10px;
	}
    .product-image-container{
      width: 50%;
    }
    .energy-rating-container{
        width: auto;
        margin-top: 50px;
        .text{
          font-size: 11px;
          color: #111;
          font-weight: bold;
        }
        span.energy-rating-label{
            width: 70px;
            float: right;
//            background-position-x: 0;
        }
    }

}

.products-grid {
	h3.subtitle {
		display: none;
	}
	.availability.out-of-stock {
		float: none;
		margin: 0 auto;
	}
	.energy-rating-container {
		float: none;
		span.energy-rating-label {
			margin: 10px auto 0;
		}
	}
	.not-saleable {
		.link-learn {
			margin-top: 0;
		}
	}

    .product-name {
        a {
            word-wrap: break-word;
        }
    }
}
.catalogsearch-result-index {
	.products-grid {
		h3.subtitle {
			display: inline-block;
		}
	}
}

html:lang(de) {
	.products-list {
		.btn-cart,
		.link-learn,
		.out-of-stock span,
		.coming-soon span {
			max-width: none;
			width: 140px;
			font-size: 12px;
			line-height: 12px;
			padding: 10px 0;
		}
		.energy-rating-container {
			.text {
				font-size: 12px;
			}
			span.energy-rating-label {
				width: 50px;
				height: 20px;
				background-image: url('/skin/frontend/dirtdevil_rwd/uk/images/ratings_sprite.png');
				background-repeat: no-repeat;
				display: block;
				float: left;
				line-height: 20px;
				margin-right: -5px;
			}
			.energy-rating-label-a {
				background-position: 0 0px;
			}
			.energy-rating-label-b {
				background-position: 0 -20px;
			}
			.energy-rating-label-c {
				background-position: 0 -40px;
			}
			.energy-rating-label-d {
				background-position: 0 -60px;
			}
			.energy-rating-label-e {
				background-position: 0 -80px;
			}
			.energy-rating-label-f {
				background-position: 0 -100px;
			}
		}

      .product-shop {
        .desc {
          p {
            strong {
              font-size: 10px;
            }
          }
        }
      }
	}
	.products-grid{
		.btn-cart,
		.link-learn,
		.availability.out-of-stock span,
		.availability.coming-soon span {
			max-width: none;
			width: 140px;
			font-size: 12px;
		}
		.availability.out-of-stock span {
			clear: right;
		}
		.energy-rating-container {
			float: none;
			.text {
				font-size: 12px;
			}
			span.energy-rating-label {
				width: 50px;
				padding-left: 0;
                //background-image: none;

                height: 20px;
                background-image: url('/skin/frontend/dirtdevil_rwd/uk/images/ratings_sprite.png');
				background-repeat: no-repeat;
                display: block;
                text-align: left;
                line-height: 20px;

			}
			.energy-rating-label-a {
				background-position: 0 0;
			}
			.energy-rating-label-b {
				background-position: 0 -20px;
			}
			.energy-rating-label-c {
				background-position: 0 -40px;
			}
			.energy-rating-label-d  {
				background-position: 0 -60px;
			}
			.energy-rating-label-e {
				background-position: 0 -80px;
			}
			.energy-rating-label-f {
				background-position: 0 -100px;
			}
		}
	}
}

html:lang(en){
  .products-list{
      .energy-rating-label-a {
        background-position: 25px 0;
      }
      .energy-rating-label-b {
        background-position: 25px -20px;
      }
      .energy-rating-label-c {
        background-position: 25px -40px;
      }
      .energy-rating-label-d  {
        background-position: 25px -60px;
      }
      .energy-rating-label-e {
        background-position: 25px -80px;
      }
      .energy-rating-label-f {
        background-position: 25px -100px;
      }
  }
}
html:lang(fr) {
	.toolbar-price {
		display: none;
	}
	.catalog-category-view .block-layered-nav .block-content dl#narrow-by-list {
		.price_filter {
			display: none;
		}
	}
}

@include bp(min-width, $bp-xsmall) {
	.products-list {
		a.product-image {
			padding: 10px;
			height: 150px;
			width: 150px;
			&:before {
				line-height: 150px;
			}

            img {
              margin-top: -20px;
            }
		}
	}

  html:lang(de) {
    .products-list {
      .product-shop {
        .desc {
          p {
            strong {
              font-size: 12px;
            }
          }
        }
      }
      .energy-rating-container{
        span.energy-rating-label{
          margin-left: 5px;
          float: right;
        }
      }
    }
  }
}

@include bp(min-width, $bp-small) {
	.products-list {
        .product-image-container{
          width: 33%;
        }
		.product-shop {
			width: 66%;
            float: right;
			.desc {
				text-align: left;
			}
            .product-secondary{
              margin: 0;
              padding: 0;
              .link-learn,
              .action{
                float: none;
                margin: 7px 0;
                width: 100%;
              }
            }
          .shipping-cost-info{
            display: inline;
          }
          .short-description{
            clear: both;
            float: none;
            width: auto;
            top: 0;
          }
          .features{
            top: 0;
          }
		}
        .product-shop2,
        .product-shop2-alt{
          padding: 0;
          float: none;
          width: auto;
          clear: both;
        }
		a.product-image {
			height: 200px;
			width: 200px;
			&:before {
				line-height: 200px;
			}
		}
      .energy-rating-container{
        span.energy-rating-label{
//          background-position-x: 25px;
        }
      }
	}
}

@include bp(min-width, $bp-medium) {
	.pages .next, .pages .previous {
		width: auto;
		// remove little arrow
		&:hover::before {
			display: none;
		}
	}
	.products-list, .products-grid {
		.also-available-for {
			padding-top: 0;
		}
	}
	.products-list {
		a.product-image {
			height: 280px;
			width: 280px;
			&:before {
				line-height: 280px;
			}
		}

      .product-shop{
        .short-description{
          float: left;
          width: auto;
          padding-top: 20px;
        }
        .desc {

        }
        .product-secondary.actions{
          float: right;
          padding-top: 20px;
        }
        .action{
          margin: 3px 0;
        }
        .price-box{
          .price{
            font-size: 22px;
          }
          .old-price{
            .price{
              font-size: 12px;
            }
          }
        }
      }



	}
	.col2-left-layout .products-list {
		a.product-image {
			height: 160px;
			width: 160px;
			&:before {
				line-height: 160px;
			}
		}
	}

	.products-grid {
		.product-info {
			text-align: center;
		}
		.price-box {
			float: none;
		}
		.actions {
			padding-top: 10px;
		}
		.actions.not-saleable {
			.link-learn {
				float: none;
			}
		}
		.actions.saleable {
			.link-learn, .btn-cart {
				float: none;
			}
		}
		.availability.out-of-stock,
		.availability.coming-soon {
			width: 150px;
		}
	}
}

@include bp(min-width, $bp-large) {
	.products-list {
		a.product-image {
			height: 280px;
			width: 280px;
			&:before {
				line-height: 280px;
			}
		}
        .product-shop {
          .product-secondary{
            width:100%;
            &.actions{
              width: 30%;
            }
            .action{
              margin: 7px 0 0 0;
              .btn-cart{
                width: 131px;
              }
            }
            .link-learn{
              width: 131px;
            }
          }
        }
	}
	.col2-left-layout .products-list {
		a.product-image {
			height: 200px;
			width: 200px;
			&:before {
				line-height: 200px;
			}
		}

	}
}

/*****************************************************
* Category Page in German - Desktop screens
******************************************************/
@include bp(min-width, 1040px) {
	html:lang(de) {
		.catalog-category-view .col2-left-layout .products-list {
			.btn-cart,
			.link-learn,
			.out-of-stock span,
			.coming-soon span {
				font-size: 13px;
			}
		}
		.products-grid {
			.btn-cart,
			.link-learn,
			.availability.out-of-stock span,
			.availability.coming-soon span {
				max-width: none;
				width: 150px;
				font-size: 13px;
			}
			.availability.out-of-stock span {
				clear: none;
			}
		}
	}
}

/*****************************************************
* Category Page Headers
******************************************************/
.catalog-category-view {
	&.category-handheld-vacuums,
	&.category-steam-cleaners {
		.page-title {
			background-color: $c-blue;
		}
	}
	.category-image img {
		max-width: 70px;
		max-height: 70px;
	}
	.page-title {
		h1 {
			font-size: 20px;
		}
	}
    .category-extra{
      clear: both;
      padding-top: 15px;
    }
}

@include bp(min-width, $bp-xsmall + 1) {
	.catalog-category-view .page-title h1 {
		padding: 20px 0px;
		font-size: 25px;
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-category-view {
		.page-title h1 {
			font-size: 35px;
			line-height: 35px;
			padding: 18px 10px;
			max-width: 90%;
		}
		.category-image img {
			max-width: 100px;
			max-height: 100px;
		}
	}
}

@include bp(min-width, 1040px) {
	.catalog-category-view, .catalogsearch-result-index {
		.main-container.col1-layout {
			margin: 0;
			padding: 0;
		}
		.main-container.col2-left-layout {
			padding: 30px 0;
			margin: 0;
		}
	}
}

.search-box-error, .search-dropdown-error {
	color: $c-red;
}

/* spares & accessories category page */
.category-ersatzteile-und-zubehor {
	.view-mode {
		display: none;
	}
}

.toolbar-bottom {
  .recently-viewed-block {
    display: none;
  }
}

.product {
  .price-box {
    .minimal-price-link {
      display: none;
    }
  }
}
