/*
spares_buy_more_save_more cms block
<div class="block-container">
<strong>bold text</strong>
<p>Text text</p>
<p>Text text</p>
<img src="img.png" alt="" />
</div>
*/

.categorypath-ersatzteile-und-zubehor, .categorypath-spares-and-accessories {
	.category-title-container {
		float: left;
		width: 100%;
		height: 70px;
		.category-extra {
			display: none;
		}
	}
	.page-title {
		background-color: $c-yellow;
		margin-bottom: 10px;
		h1 {
			color: $c-gray;
			font-size: 20px;
			max-width: 100%;
			width: 100%;
			&:after {
				display: none;
			}
		}
		.category-image {
			display: none;
		}
	}
	.spares-finder-container {
		float: left;
	}

	.note-msg {
		color: $c-red;
	}
}
@include bp(min-width, $bp-xsmall+1) {
	.categorypath-ersatzteile-und-zubehor, .categorypath-spares-and-accessories {
		.page-title {
			h1 {
				font-size: 20px;
			}
		}
	}
}

.spares-finder-container {
	width: 100%;
	.how-to-find {
		background: url('../images/template/spares/mobile-model-number.jpg') no-repeat bottom left;
		background-size: auto auto;
		width: 100%;
		min-height: 265px;
		background-color: #237BC2;
		.how_to_find_model {
			padding: 20px 45px 0px;
		}
		h2 {
			color: #fff;
			max-width: 300px;
		}
	}
	.spares-search-controls {
		padding: 30px 20px;
		background-color: $c-gray-4;
		.or {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			background-color: #FFF;
			border-radius: 100%;
			margin: 20px auto -20px;
			z-index: 3;
		}
		.or:lang(de) {
			width: 60px;
			font-size: 14px;
		}
		select, option {
			width: 100%;
		}
		optgroup {
			text-transform: uppercase;
		}
		option {
			max-width: 320px;
			padding-left: 20px;
			text-transform: none;
		}
		.control-label {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 10px;
		}
		.controls {
			width: 100%;
		}
		.search-label {
			font-size: 20px;
			line-height: 20px;
			color: $c-red;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 20px;
		}
	}
	#search-box {
        border-top: 1px solid white;
        padding-top: 20px;
		.box {
			position: relative;
			border: 1px solid $c-gray;
			#search-reg {
				width: 100%;
			}
			.button {
				position: absolute;
				right: 0;
				top: 0;
				background-color: $c-gray;
				padding: 0;
				height: 100%;
				width: 60px;
				&::after {
					content: " >";
					color: white;
				}
				&:hover,&:active {
					background-color: darken($c-gray, 10%);
				}
			}
		}
	}
	.buy-more-save-more {
		display: none;
	}
}

@include bp(min-width, $bp-medium) {
	.categorypath-ersatzteile-und-zubehor, .categorypath-spares-and-accessories {
		.page-title {
			margin-bottom: 10px;
			h1 {
				font-size: 35px;
			}
		}
		.main-container.col1-layout {
			padding: 20px;
		}
		.category-title-container {
			float: none;
		}
	}
	.spares-finder-container {
		.how-to-find {
			background-size: 100% auto;
			width: 33.3%;
			height: 328px;
			float: left;
			background: #0078BF url('../images/template/spares/desktop-model-number.png') no-repeat top left;
			.how_to_find_model {
				padding: 30px 40px;
			}
			h2 {
				max-width: 220px;
			}
		}
		.spares-search-controls {
			width: 33.3%;
			height: 328px;
			margin: 0px;
			float: left;
			padding: 30px 20px;
			position: relative;

			.control-label {
				font-size: 22px;
				line-height: 22px;
			}
			.or {
				position: absolute;
				bottom: 50%;
				left: 50%;
				margin: 0 0 -10px -20px;
			}
			.or:lang(de) {
				left: 47%;
			}
			.search-label {
				font-size: 22px;
				line-height: 22px;
				margin-top: 30px;
			}
            #search-box {
                position: absolute;
                height: 53%;
                width: 100%;
                bottom: 0px;
                left: 0px;
                padding: 20px;
            }
		}
		.buy-more-save-more {
			display: block;
			width: 33.3%;
			float: left;
			background-color: $c-yellow;
			height: 328px;
			position: relative;
			.block-container {
				padding: 30px 20px;
				strong {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 10px;
					float: left;
				}
				p {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 10px;
					float: left;
				}
				img {
					position: absolute;
					width: 40%;
					right: 30px;
					bottom: 30px;
				}
			}
		}
	}
}

@include bp(min-width, 1040px) {
	.categorypath-ersatzteile-und-zubehor, .categorypath-spares-and-accessories {
		.main-container.col1-layout {
			padding: 20px 0;
		}
	}
}

@include bp(max-width, $bp-medium) {
    .categorypath-ersatzteile-und-zubehor, .categorypath-spares-and-accessories {
        .pager {
            .limiter {
                .show-all {
                    display: block;
                }
                .show-less {
                    display: block;
                }
            }
            .pages {
                clear: both;
            }
        }
    }
}