/*****************************************************
* Homepage bestsellers - Mobile screens
******************************************************/
.bestsellers {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  clear: both;
  * {
    margin: 0;
  }
  .section-title {
    text-transform: none;
    color: black;
    padding: 15px 20px;
    font-size: 20px;
  }
  .outer-box {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  ul.mini-products-list {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  li.product {
    clear: none;
    width: 47.5%;
    float: left;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    &:nth-child(odd) {
      margin-right: 5%;
      clear: both;
    }
    a.product-image {
      min-height: 120px;
      border: none;
      width: 100%;
      padding: 10px;
      background-color: white;
      text-align: center;
      &:after {
        background-color: white;
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 0;
        text-align: center;
      }
      /* center the image vertically */
      &:before {
        /* create a full-height inline block pseudo=element */
        content: ' ';
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        height: 100%;
        text-align: center;
      }
      img {
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        margin: 0 auto;
        width: 100%;
        position: relative;
        z-index: 1;
        text-align: center;
      }
      &:hover, &:active {
        background-color: #F0F0F0;
      }
    }
    .product-details {
      text-align: center;
      width: 100%;
      clear: both;
      margin: 0;
      min-height: 230px;
      .product-name, .product-name a {
        text-transform: none;
        color: $c-gray;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
      }
      .price-box {
        padding: 10px 0;
        > span {
          width: 100%;
        }
        .price {
          color: black;
          font-weight: bold;
          font-size: 16px;
        }
        .special-price {
          margin: 0;
          padding: 0;
          float: none;
          .price {
            font-size: 16px;
            width: 100%;
            text-align: center;
          }
        }
        .price-label {
          display: none;
        }
        .old-price {
          float: none;
          padding: 0;
          margin: 0;
          .price {
            float: right;
            color: $c-gray;
            font-size: 12px;
            line-height: 16px;
            vertical-align: baseline;
            margin-top: 3px;
            font-weight: normal;
            width: 100%;
            text-align: center;
            text-decoration: line-through;
            &::before {
              display: inline-block;
              content: "Regular Price ";
              text-decoration: none;
            }
          }
        }
        .regular-price {
          width: 100%;
          text-align: center;
          float: none;
          padding: 0;
          margin: 0;
          display: inline;
          color: black;
          font-weight: bold;
          .price {
            width: 100%;
            text-align: center;
          }
          * {
            width: 100%;
          }
        }
      }
    }
    .product-actions {
      * {
        text-align: center;
      }
      span {
        display: inline-block;
      }
      .button, .out-of-stock {
        width: 100%;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        height: 25px;
        line-height: 25px;
        padding: 0;
        min-width: 0;
      }
      .out-of-stock {
        background-color: $c-gray-4;
        color: $c-gray;
      }
      .link-learn{
      }
    }

    .shipping-cost-info {
      line-height: 15px;
      margin-bottom: 3px;
      clear: both;
      a {
        color: $c-gray;
        text-decoration: underline;
      }
    }
  }
  .link-learn{
    width: 100%;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    padding: 0;
    min-width: 0;
    position: relative;
    top: 3px;
  }
}
html:lang(de) {
  .bestsellers {
    li.product {
      .product-details {
        .price-box {
          .old-price {
            .price {
              &::before {
                content: "Regulärer Preis: ";
              }
            }
          }
        }
      }
    }
  }
}

/*****************************************************
* Homepage bestsellers - Small Tablet screens
******************************************************/
@include bp(min-width, $bp-xsmall) {
  .bestsellers {
    width: auto;
    margin: 0;
    .outer-box {
      width: 410px;
      padding: 0;
    }
    ul.mini-products-list {
      width: 1000%;
    }
    li.product {
      position: relative;
      width: 130px;
      margin-right: 10px;
      margin-bottom: 0;
      a.product-image {
        height: 130px;
        min-height: 0;
        img {
          width: auto;
          max-width: 110px;
          max-height: 110px;
        }
      }
      &:nth-child(odd) {
        margin-right: 10px;
        clear: none;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-child(3n+1) {
        clear: right;
      }
      &:nth-child(4n+1) {
        clear: none;
      }
      .product-actions {
        .button, .out-of-stock {
          font-size: 10px;
        }
      }
      .price-box {
        bottom: 30px;
        width: 100%;
        .special-price {
          vertical-align: baseline;
          line-height: 11px;
        }
      }
    }
    .arrow {
      display: inline-block;
      position: absolute;
      top: 110px;
      bottom: 0;
      &:hover {
        cursor: pointer;
      }
      &.prev {
        left: 10px;
        background: sprite($desktop-icons, gallery_arrow_left_hover) no-repeat;
        @include sprite-dimensions($desktop-icons, gallery_arrow_left_hover);
        &.nomore {
          background: sprite($desktop-icons, gallery_arrow_left) no-repeat;
        }
      }
      &.next {
        right: 10px;
        background: sprite($desktop-icons, gallery_arrow_right_hover) no-repeat;
        @include sprite-dimensions($desktop-icons, gallery_arrow_right_hover);
        &.nomore {
          background: sprite($desktop-icons, gallery_arrow_right) no-repeat;
        }
      }
    }
  }
}

@include bp(min-width, 540px) {
  .bestsellers {
    .outer-box {
      width: 480px;
    }

    li.product {
      width: 110px;

      a.product-image {
        height: 110px;
        img {
          max-width: 80px;
          max-height: 80px;
        }
      }

      &:nth-child(3n) {
        margin-right: 10px;
      }
      &:nth-child(3n+1) {
        clear: right;
      }
    }

    .arrow {
      top: 100px;
    }
  }
}
/*****************************************************
* Homepage bestsellers - Large Tablet screens
******************************************************/
@include bp(min-width, $bp-small) {
  .bestsellers {
    .outer-box {
      width: 545px;
    }
    li.product {
      width: 130px;
      &:nth-child(3n) {
        margin-right: 10px;
      }
      &:nth-child(4n) {
        margin-right: 0px;
      }
      &:nth-child(3n+1) {
        clear: none;
      }
      &:nth-child(4n+1) {
        clear: right;
      }
      a.product-image {
        height: 130px;
        img {
          width: auto;
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
    .arrow {
      top: 100px;
      z-index: 1;
      &.prev {
        left: 5px;
      }
      &.next {
        right: 5px;
      }
    }

  }
}

@include bp(min-width, 700px) {
  .bestsellers {
    .outer-box {
      width: 655px;
    }

    li.product {
      width: 160px;

      a.product-image {
        height: 160px;

        img {
          max-width: 140px;
          max-height: 140px;
        }
      }
    }

    .arrow {
      top: 120px;
    }
  }
}

/*****************************************************
* Homepage bestsellers - Desktop
******************************************************/
@include bp(min-width, $bp-medium) {
  .bestsellers {
    .outer-box {
      width: 710px;
    }

    li.product {
      width: 170px;

      a.product-image {
        height: 170px;
        padding: 10px;
        &:after {
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
        }
        img {
          width: auto;
          max-width: 120px;
          max-height: 120px;
        }
      }
    }

    .arrow {
      top: 120px;
    }
  }
}


@include bp(min-width, 881px) {
  .bestsellers {
    .section-title {
      font-size: 25px;
      text-align: center;
    }
    .outer-box {
      width: 800px;
      padding-bottom: 0;
    }

    li.product {
      width: 190px;
      padding: 0;
      /* revert to normal, from mobile version */
      &:nth-child(odd) {
        margin-right: 20px;
      }
      &:nth-child(even) {
        float: left;
        margin-right: 20px;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-child(3n+1) {
        clear: right;
      }
      &:nth-child(4n+1) {
        clear: none;
      }
      a.product-image {
        height: 200px;
        padding: 10px;
        &:after {
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
        }
        img {
          width: auto;
          max-width: 170px;
          max-height: 170px;
        }
      }
      .product-details {
        margin-left: 0;
        min-height: 0;
        .product-name, .product-name a {
          font-size: 15px;
          line-height: 17px;
          margin-bottom: 0;
        }
        .price-box {
          position: static;
          padding-bottom: 0;
          .special-price {
            width: 50%;
            float: left;
            line-height: 25px;
            vertical-align: auto;
          }
          .old-price {
            width: 50%;
            float: left;
            .price {
              text-align: left;
              line-height: 20px;
            }
          }
        }
        .price, .regular-price .price {
          font-size: 18px;
        }
        .old-price .price {
          font-size: 12px;
        }
      }
      .product-actions {
        width: 100%;
        left: auto;
        padding: 0 10px;
        .button, .out-of-stock, .link-learn{
          width: 161px;
          min-width: 161px;
          font-size: 12px;
          text-transform: uppercase;
          height: 32px;
          line-height: 32px;
          position: static;
          margin-top: 10px;
        }
        .link-learn{
          position: relative;
          top: 3px;
        }

      }
    }
    .arrow {
      top: 130px;
      &.prev {
        background: sprite($desktop-icons, spares_arrow_left_hover) no-repeat;
        @include sprite-dimensions($desktop-icons, spares_arrow_left_hover);
        &.nomore {
          background: sprite($desktop-icons, spares_arrow_left) no-repeat;
        }
      }
      &.next {
        background: sprite($desktop-icons, spares_arrow_right_hover) no-repeat;
        @include sprite-dimensions($desktop-icons, spares_arrow_right_hover);
        &.nomore {
          background: sprite($desktop-icons, spares_arrow_right) no-repeat;
        }
      }
    }
  }
}
/*****************************************************
* Homepage bestsellers - Large desktop screens
******************************************************/
@include bp(min-width, 940px) {
  .bestsellers {

    .outer-box {
      width: 860px;
    }

    .section-title {
      text-transform: none;
      color: black;
      padding: 15px 20px;
      font-size: 23px;
    }

    .arrow {
      &.prev {
        left: 20px;
      }
      &.next {
        right: 20px;
      }
    }
    ul.mini-products-list {
      margin-bottom: 0;
      li.product {
        width: 200px;
        padding-bottom: 50px;
        &:nth-child(3n) {
          margin-right: 20px;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(3n+1) {
          clear: none;
        }
        &:nth-child(4n+1) {
          clear: right;
        }
        .product-actions{
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -100px;
        }
      }
    }
  }
}

/*****************************************************
* Homepage bestsellers - Large desktop screens
******************************************************/
@include bp(min-width, 1031px) {
  .bestsellers {
    .section-title {
      padding: 15px 0;
    }
    .arrow {
      &.prev {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }
  }
}

/*****************************************************
* Recently Viewed
******************************************************/

.recently-viewed-block{
  margin: 0 auto;
  .section-title{
    margin-top: 0;
    padding-top: 0;
  }
}




