<h3 class="show-for-large hide-for-small"><?php echo $this->__('Your completed order summary') ?></h3>
<h3 class="show-for-small hide-for-large"><div class="basket-icon"></div> <?php echo $this->__('Order Summary') ?></h3>
<table id="cart-summary">
    <tbody>
        <?php foreach ($this->getQuote()->getAllVisibleItems() as $item): ?>
            <tr class="cart-line">
                <td class="desc">
                    <span class="product-name"><?php echo $item->getName(); ?></span>
                </td>
                <td class="qty">
                    <span class="qty"><?php echo $this->__('QTY') ?> <?php echo $item->getQty();?></span>
                </td>
                <td class="price" data-price="<?php echo $this->helper('checkout')->getSubtotalInclTax($item); ?>">
                    <?php $price = $this->helper('checkout')->getSubtotalInclTax($item) - $item->getItemDiscount(); ?>
                    <?php echo ($price) ? Mage::helper('vax_checkout/checkout')->formatPrice($price) : $this->__('Free'); ?>
                </td>
            </tr>
        <?php endforeach; ?>
        <?php if ($this->getShippingDescription()) { ?>
            <tr class="delivery totals">
                <td class="desc" colspan="2">
                    <?php echo Mage::helper('checkout')->__('Shipping %s Handling', '&amp;'); ?>
                </td>
                <td class="price" data-price="<?php echo $this->getShippingAmount(); ?>">
                    <?php echo Mage::helper('vax_checkout/checkout')->formatPrice($this->getShippingAmount()); ?>
                </td>
            </tr>
        <?php } ?>
        <?php $discount = $this->getQuote()->getOrderDiscount(false) ?>
        <?php if ($discount > 0): ?>
            <tr class="discount totals">
                <td class="desc" colspan="2">
                    <?php echo $this->__('Additional Basket Discount(s)'); ?>
                </td>
                <td class="price" data-price="<?php echo -$discount; ?>">
                    <?php echo Mage::helper('vax_checkout/checkout')->formatPrice(-$discount); ?>
                </td>
            </tr>
        <?php endif; ?>
            <tr class="savings-subtotal totals">
                <td colspan="2" class="subtotal-label"><?php echo $this->__('Sub-total') ?></td>
                <td class="subtotal"><?php echo Mage::helper('core')->currency($this->getOrder()->getSubtotalInclTax() + $this->getOrder()->getDiscountAmount()); ?></td>
            </tr>
    </tbody>
    <tfoot class="totals-large">
        <tr>
            <td class="savings-block">
                <?php $totalDiscount = $this->getQuote()->getTotalDiscount(true); ?>
                <?php if($totalDiscount > 0) : ?>
                    <span class="savings">
                            <?php echo $this->__('Today you have saved %s', Mage::helper('core')->currency($totalDiscount, true, false)); ?>
                        </span>
                <?php else: ?>
                    &nbsp;
                <?php endif; ?>
            </td>
            <td class="grand-total-label">
                <?php echo $this->__('Total') ?>
            </td>
            <td class="price grand-total" data-price="<?php echo $this->getGrandTotal(); ?>">
                <?php echo $this->helper('vax_checkout/checkout')->formatPrice($this->getGrandTotal()); ?>
            </td>
        </tr>
    </tfoot>
    <tfoot class="totals-small">
    <tr>
        <td class="grand-total-label" colspan="2">
            <?php echo $this->__('Total') ?>
        </td>
        <td class="price grand-total" data-price="<?php echo $this->getGrandTotal(); ?>">
            <?php echo $this->helper('vax_checkout/checkout')->formatPrice($this->getGrandTotal()); ?>
        </td>
    </tr>
    <?php if($totalDiscount > 0) : ?>
        <tr class="small-discount">
            <td colspan="3" class="savings-block">
                        <span class="savings show-for-small hide-for-large">
                            <?php echo $this->__('Today you have saved %s', Mage::helper('core')->currency($totalDiscount, true, false)); ?>
                        </span>
            </td>
        </tr>
    <?php endif; ?>
    </tfoot>
</table>
<input type="hidden" value="<?php echo $this->getQuote()->getSubtotal(); ?>" id="ve_totalbasketnovat">
