<?php
/* @var $this Mage_Catalog_Block_Product_Compare_List */
?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<?php $_total=$this->getItems()->count() ?>
<?php if($_total): ?>
    <table class="data-table compare-table" id="product_comparison">
        <?php $_i=0 ?>
        <?php foreach($this->getItems() as $_item): ?>
            <?php if($_i++%10==0): ?>
                <col width="1" />
            <?php endif; ?>
            <col width="<?php echo floor(100/$_total); ?>%" />
        <?php endforeach; ?>
        <?php if ($_total>2): ?>
            <thead>
            <tr>
                <?php $_i=0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php if($_i++%10==0): ?>
                    <?php endif; ?>
                    <td class="a-right"><a href="#" class="btn-remove" onclick="removeItem('<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>');" title="<?php echo $this->quoteEscape($this->__('Remove This Item')) ?>"><?php echo $this->__('Remove This Item') ?></a></td>
                <?php endforeach; ?>
            </tr>
            </thead>
        <?php endif ?>
        <tbody>
        <tr class="product-shop-row top">
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                <?php endif; ?>
                <td>
                    <div class="product-name">
                        <h1 itemprop="name"><?php echo Mage::helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></h1>
                    </div>
                    <?php if($_item->getSubtitle()): ?>
                        <h3 class="subtitle"><?php echo $_item->getSubtitle(); ?></h3>
                    <?php endif; ?>
                    <div class="product-number" itemprop="model">
                        <?php echo $_item->getSku(); ?>
                    </div>                    
                    <a class="product-image" href="#" onclick="setPLocation('<?php echo $this->getProductUrl($_item) ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($_item->getName(), null, true) ?>" /></a>
                </td>
            <?php endforeach; ?>
        </tr>
        </tbody>
        <tbody class="attributes">
        <?php foreach ($this->getAttributes() as $_attribute): ?>
            <tr>
                <?php $_i=0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php if($_i++%10==0): ?>
                    <?php endif; ?>
                    <td>
                        <?php switch ($_attribute->getAttributeCode()) {
                            case "price": ?>
                                <?php echo $this->getPriceHtml($_item, true, '-compare-list-' . $_attribute->getCode()) ?>
                                <?php break;
                            case "small_image": ?>
                                <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" />
                                <?php break;
                            case "date":
                                echo substr($this->getProductAttributeValue($_item, $_attribute),0,10);
                                break;
                            default: ?>
                                <div class="std">
                                    <p class="attribute-label"><?php echo $_attribute->getStoreLabel() ?></p>
                                    <div class="attribute-value"><?php echo $this->helper('catalog/output')->productAttribute($_item, $this->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?></div>
                                </div>
                            <?php break;
                        } ?>
                    </td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
        <tr>
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <td>
                    <?php echo $this->getPriceHtml($_item, true, '-compare-list-top') ?>
                    <?php if($_item->isSaleable()): ?>
                        <p><button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setPLocation('<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>', true)"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php endif; ?>
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <ul class="add-to-links">
                            <li><a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        </ul>
                    <?php endif; ?>
                </td>
            <?php endforeach; ?>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        decorateTable('product_comparison');

        /**
         * Send remove item request, after that reload windows
         */
        function removeItem(url)
        {
            new Ajax.Request(url, {
                parameters: {isAjax: 1, method: 'POST'},
                onSuccess: function(transport) {
                    window.location.reload();
                    window.opener.location.reload();
                }
            });
        }
    </script>
<?php else: ?>
    <script type="text/javascript">window.close();</script>
<?php endif; ?>
