<?php $_items = $this->getReviewsCollection()->getItems(); ?>
<div class="box-collateral box-reviews" id="customer-reviews">
	<?php if ( count( $_items ) ): ?>
		<div class="review-heading">
			<span class="title-review-header">
				<?php if(count( $_items ) == 1): ?>
					<?php echo $this->__('1 Review') ?>
				<?php else: ?>
					<?php echo $this->__('%d Reviews', count( $_items )) ?>
				<?php endif; ?>
			</span>
		</div>
		<div class="all-reviews">
			<?php foreach ( $_items as $_review ): ?>

				<?php $_votes = $_review->getRatingVotes(); ?>
				<div class="review">

					<div class="review-meta">
						<div class="reviewer">
							<?php echo $this->__( 'Review by %s', $this->escapeHtml( $_review->getNickname() ) ) ?>
						</div>
						<div class="date">
							<?php echo $this->__( '%s', $this->formatDate( $_review->getCreatedAt() ), 'long' ) ?>
						</div>
					</div>

					<div class="review-container">
						<?php if ( count( $_votes ) ): ?>
							<div class="ratings-box">
								<?php foreach ( $_votes as $_vote ): ?>
									<?php if($_vote->getRatingCode() === "Overall"):?>
										<div class="ratings rate-1">
									<?php else: ?>
										<div class="ratings ">
									<?php endif; ?>
										<div
											class="review-label"><?php echo $this->escapeHtml( $_vote->getRatingCode() ) ?></div>
										<div class="rating-box">
											<div class="rating"
											     style="width:<?php echo $_vote->getPercent() ?>%;"></div>
										</div>
									</div>
								<?php
								endforeach; ?>
							</div>
						<?php endif; ?>
						<div class="review-title">
							<?php echo $this->escapeHtml( $_review->getTitle() ) ?>
						</div>
						<div class="text"><?php echo nl2br( $this->escapeHtml( $_review->getDetail() ) ) ?></div>
					</div>

				</div>
			<?php endforeach; ?>
		</div>
	<?php elseif ( $this->getParentBlock() ):
       echo $this->getParentBlock()->getReviewsSummaryHtml( $this->getProduct(), false, true );
    endif; ?>
	<?php echo $this->getChildHtml( 'review_form' ) ?>
</div>
