table#product_comparison, div.compare-links {
  display: none;
}

.catalog-product-compare-index .main-container {
  overflow: auto;
}

@include bp(min-width, $bp-medium) {
  div.compare-links {
    display: block;
  }

  table#product_comparison {
    display: table;
    border-collapse: collapse;
    font-family: $f-stack-sans;

    .btn-cart {
      width: auto;
    }

    .product-name {
      h1 {
        font-size: 14px;
        max-height: 3.5em;
        overflow: hidden;
        margin-bottom: 5px;
        border-bottom: none;
      }
    }

    h3.subtitle {
      font-size: $f-size-s;
      text-transform: none;
    }

    .btn-remove {
      background: $c-red;
      border-color: $c-gray-2;

      &:after {
        color: #fff;
      }

      &:hover {
        text-decoration: none;
        background: darken($c-red, 5%);
      }
    }

    .product-image {
      margin-top: 10px;
      margin-bottom: 15px;

      img {
        margin-left: 5px;
        max-width: 100%;
      }
    }

    p.attribute-label {
      font-size: $f-size-xs;
      margin-bottom: 0.5em;
    }

    div.attribute-value {
      font-size: $f-size-xxl;
      font-weight: normal;
    }

    tbody.attributes td, tfoot td, tbody td {
      font-family: $f-stack-sans;
      max-width: 25%;
    }

    thead th, tbody.attributes td {
      border: 1px solid $c-gray;
      background-color: $c-gray-4;
      text-align: center;
    }
  }
}
