.product-options {
	p.required {
		display: none;
	}

}

.catalog-product-view {
	.product-options-bottom {
		display: none;
	}
	#MB_window {
		position: fixed;
		bottom: 0;
		#MB_content {
			/* really important, otherwise ajax add to cart box is empty */
			display: block !important;
		}
	}
}

@include bp(min-width, $bp-medium) {
	.catalog-product-view {
		.product-options {
			border: medium none;
			padding: 20px 20px 10px;
			width: 100%;
			float: left;
			clear: left;
			margin: 0;
			background-color: $c-gray-4;
			border-bottom: 1px solid white;
			dd {
				border-bottom: 1px solid white;
			}
		}
	}
}
