//-----------------------------------
// Reviews section on Product page
//
.catalog-product-view .nav-menu .nav-reviews #customer-reviews {
	.review {
		width: 100%;
	}
	.form-add .buttons-set .button
	{
		font-weight: normal;
	}
}