/* ================================================= *
 * Spare product page - Large View Port
 * ================================================= */
.catalog-product-view  {
	.product-feature-nav.spare{
		display: none;
		opacity: 0;
	}
	.nav-menu.spare {
		color: black;
		.nav-spares-and-accessories {
			.header-wrapper.color {
				background-color: transparent;
				h2 {
					background-color: white;
					color: black;
					font-size: 20px;

					line-height: 20px;
					height: 20px;
				}
			}
			.header-wrapper {
				border: none;
			}
			.content-wrapper {
				padding: 20px 0 0 0;
			}
		}
	}
	.mini-products-list {
		.shipping-cost-info {
			line-height: 15px;
			margin-bottom: 3px;
			a {
				color: $c-gray;
				text-decoration: underline;
			}
		}
	}
}
@include bp(min-width, 1030px) {
	.catalog-product-view  {
		.nav-menu.spare {
			.nav-spares-and-accessories {
				.header-wrapper.color {
					h2 {
						padding: 0;
					}
				}
			}
		}
	}
}