/*-------------------------------------------------------------------
/* Produkte/Produkte Archive Category Page
/*/
.cms-produkte, .category-produktarchiv {
	.product-types {
		padding: 0px 0px;

        li {
            max-width: none;
        }
	}
}

.category-produktarchiv, .category-product-archive  {
  .page-title {
    h1 {
      position: relative;
      max-width: 100%;

      &:after {
        content: "";
        position: absolute;
        right: 0px;
        top: 10px;
        background: url('../images/template/product-archive.png') no-repeat;
        height: 52px;
        width: 52px;
        background-size: contain;
      }
    }
  }
}

@include bp(min-width, $bp-medium+1) {
	.cms-produkte, .category-produktarchiv, .category-product-archive  {
		.product-types {
			margin-top: 20px;

			li {
				width: 25%;

				/* on DE the images are transparent so need a white background for the hover over affect */
				.inner-box {
					background-color: #fff;
					/*min-height: 283px;
					display: table;*/

					img {
						vertical-align:middle;
						display: table-cell;
					}
				}
			}

			:nth-child(5n) {
				clear: left;
			}
		}
	}
}

@include bp(max-width, $bp-xsmall) {
  html[lang=de] {
    .cms-produkte {
      .product-types li .title {
        font-size: 14px;
      }
    }
  }
}
