.catalog-product-view {
	.product-view {
		.subtitle {
			text-transform: none;
			margin: 10px 0px;
		}
		.product-shop .price-info {
			.tax-info, .shipping-cost-info {
				font-size: 11px;
				line-height: 12px;
				color: $c-gray;
				a {
					color: $c-gray;
				}
			}
            .tier-prices{
              border: none;
              background: #E6E6E6;
              color: #000;
              margin: 5px 0 0;
              width: 100%;
              li{
                padding: 5px 2px;
                font-weight: bold;
                .price{
                  font-size: 12px;
                }
                strong{
                  font-style: normal;
                  font-size: 12;
                }
              }
            }
			.shipping-cost-info {
				text-decoration: underline;
			}
			.tax-info {
				margin-top: 5px;
			}
			.old-price .price {
				text-decoration: line-through;
				&::before {
					content: "Regular Price ";
					text-decoration: none;
				}
			}
		}
      .add-to-cart-wrapper {
        .inner-wrapper {
          &.stock-wrapper {
            button {
              span{
                background: none;
              }
            }
          }
        }
      }
        .paypal-logo {
          clear: both;
          margin-top: 10px;
        }
		.std p span {
			width: 100%;
		}
		.product-image {
			max-width: 100%;
		}
		.ask-question {
			display: none;
		}
		.product-img-box {
			margin: 0;
			.product-image-gallery .gallery-image.visible {
				float: none;
				max-height: 360px;
				max-width: 100%;
				height: auto;
				width: auto;
			}
		}
		.energy-rating  a.btn-product-fiche {
			display: none;
		}
		.also-available-for {
			margin-bottom: 20px;
			a {
				color: black;
				&.toggle {
					text-decoration: underline;
					&:hover, &:active {
						text-decoration: underline;
					}
				}
			}
		}
		.share-container {
			width: 100%;
			padding-left: 20px;
			margin-bottom: 10px;
			float: left;

			.share-button {
				display: inline-block;
				float: left;
				min-height: 30px;
				margin-right: 5px;
			}
			.fblike-button {
				padding-top: 1px;
			}
			.gglike-button {
				padding-top: 4px;
			}
			.stButton .stFb,
			.stButton .stTwbutton,
			.stButton .stMainServices {
				height: 30px;
			}
			.stButton {
				margin-right: 0;
				.stArrow {
					line-height: 20px;
					height: 20px;
				}
			}
			.stButton .stButton_gradient {
				height: 27px;
			}
		}
        .add-to-cart-wrapper {
            .qty-wrapper {
                background: none;
                .qty{
                    width: 100%;
                    text-align: left;
                    option {
                        text-align: left;
                    }
                }
            }
          .inner-wrapper{
            &.stock-wrapper{
              background: none;
              overflow: hidden;
              .out-of-stock{
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: bold;
                span{
                  background: none;
                }
              }
              input{
                width: 100%;
                height: 40px;
                border-radius: 4px;
                padding:4px 6px;
              }
              button{
                background-color: $c-red;
                min-height: 40px;
                line-height: 40px;
                font-size: 16px;
                padding: 0;
                margin: 10px 0;
                float: left;
                min-width: 160px;
                width: 100%;
                white-space: normal;
                span{
                  span{
                    &:after{
                      content: " >";
                    }
                  }
                }
              }
            }
          }
        }

      .product-icons {
        .energy-rating {
          background-color: transparent;
        }
      }
      .add-to-box{
        .link-wishlist{
          width: 100%;
          color: #111111;
          font-size: 14px;
          text-decoration: underline;
        }
      }

      form#survey-form {
        input.icon-yes, input.icon-no {
          display: none;
        }

        label.icon-yes-label, label.icon-no-label {
          width: 25px;
          height: 25px;
          display: inline-block;
          background: url('../images/template/mobile-sprite/round-rating-buttons.png') no-repeat;
          background-size: 195%;
          color: transparent;
          padding-top: 5px;
          opacity: 0.75;
          filter: alpha(opacity=75);

          &:hover {
            cursor: pointer;
            opacity: 1.0;
            filter: alpha(opacity=100);
          }
        }

        label.icon-no-label {
          background-position: 105% 0;
        }

        div.actions {
          display: none;
        }
      }

      div.survey-popup {
        position: absolute;
        top: 0;
        background: white;
        padding: 10px 20px;
        border: 4px solid black;
        border-radius: 10px;

        .close-icon {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 25px;
          height: 25px;
          background: url('../images/template/mobile-sprite/close-icon.png') no-repeat;
          background-size: contain;

          &:hover {
            cursor: pointer;
            width: 28px;
            height: 28px;
            right: -12px;
            top: -12px;
          }
        }
      }
      .short-description{
        .std{
          br{
            display: block;
          }
        }
      }
      .product-free-text{
        clear: both;
        background: rgb(247,207,60);
        font-size: 13px;
        margin: 10px 0 0 0;
        padding: 5px;
        color: #000;
      }
	}

  .title-review{
    text-align: center;
    display: block;
  }



	.icons.desktop {
		display: none;
	}
	.icons {
		clear: both;
		padding: 20px;
		.product-icon {
			width: 90px;
			display: inline-block;
			float: left;
			&.energy-rating {
				background-color: transparent;
			}
		}
		.image {
			max-width: 60px;
			max-height: 60px;
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		.title {
			width: 60px;
			font-size: 13px;
			line-height: 15px;
			margin: 5px 0 20px;
			font-weight: bold;
			&.energy-rating {
				width: auto;
				margin: 5px 0px 0px;
			}
		}
	}

    div.product-crosssells + * {
      margin-top: 20px;
    }

    .crosssell-wrapper {
      background-color: $c-gray-4;
      padding: 20px;
      margin-bottom: 1px;
      float: left;
      width: 70%;
      position: relative;

      .shipping-cost-info {
        font-size: $f-size-s;

        a {
          color: $c-gray;
          text-decoration: underline;
        }
      }

      h4 {
        text-transform: none;
        font-weight: normal;
      }

      div.crosssell-item {
        div.image {
          float: left;
          width: 135px;
          margin-right: 20px;
        }

        h2 a {
          color: $c-black;
          font-size: $f-size-xl;
          text-transform: none;
        }

        p {
          max-width: 450px;
          overflow: hidden;
        }

        div.price-box {
          margin-right: 20px;
          float: left;

          .save-amount, .save-amount .price {
            color: $c-red;
            font-weight: bold;
            font-size: 1;
          }
        }

        div.product-actions {
          float: right;
          margin-right: 20px;
          margin-top: 20px;

          button {
            min-width: 130px;
            width: auto;
          }
        }

        div.item-desc {
          margin-left: 155px;
        }
      }
    }

  div.crosssell-promo-box {
    background: $c-purple url('../images/promo-box.jpg') no-repeat right 20px top 20px;
    min-height: 175px;
    width: 270px;
    max-width: 30%;
    float: right;
    padding: 20px;
    color: #fff;

    h4, p {
      width: 145px;
      color: #fff;
    }

    h4 {
      text-transform: none;
      width: 70px;
      font-size: $f-size-xl;
    }

    button.view-stores {
      color: #fff;
      background: $c-red;
      margin-top: 12px;
      line-height: 32px;
      padding: 0 15px;
    }
  }

    div.stock-level {
      margin-left: 20px;
      
      .icon-green, .icon-yellow, .icon-red {
        border: 1px solid #000;
        display: block;
        padding: 1px;
        width: 14px;
        height: 14px;
        margin-bottom: 10px;
        float: left;

        span {
          width: 10px;
          height: 10px;
          display: block;
        }
      }

      .icon-green span {
        background-color: $c-green;
      }

      .icon-yellow span {
        background-color: $c-yellow;
      }

      .icon-red span {
        background-color: $c-red;
      }

      div.label {
        float: left;
        margin-left: 10px;
        margin-top: -4px;
      }
    }
}
html:lang(de) {
	.catalog-product-view {
		.product-view{
          .add-to-box {
            .button {
              min-width: 160px;
            }
          }
          .short-description{
            .std{
              br{
                display: block;
              }
            }
          }
		}
	}
}
@include bp(min-width, $bp-small + 1) {
  .catalog-product-view {
    .product-view {
      .product-free-text {
        max-width: 50%;
      }
    }
  }
}
@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		.product-view {
			margin-bottom: 0;
			.product-number {
				width: 50%;
				float: left;
				margin-bottom: 5px;
			}
			.product-shop .price-info {
				.tax-info, .shipping-cost-info {
					font-size: 13px;
					line-height: 15px;
				}
				.shipping-cost-info {
					text-decoration: underline;
				}
				.tax-info {
					margin-top: 10px;
				}
                .tier-pricing{
                  width: auto;
                }
			}
			.product-img-box {
				margin: 0;
				.product-image-gallery .gallery-image.visible {
					max-height: 500px;
				}
			}
			.product-header .product-shop {
				margin: 35px 0 -35px;
			}

            div.stock-level {
              margin-left: 0;
            }

			.short-description {
				margin-top: 35px;
			}
			.share-container {
				padding-left: 0;
				margin-bottom: 5px;
				.share-button {
					margin-right: 10px;
				}
			}
			.add-to-cart-wrapper .add-to-box .qty-wrapper .qty {
				margin-left: 0;
				width: 150px;
			}
            .add-to-cart-wrapper {
              .inner-wrapper {
                &.stock-wrapper {
                  padding: 0;
                  input {
                    width: 60%;
                    float: left;
                    height: 40px
                  }
                  button {
                    width: auto;
                    float: left;
                    min-width: 0;
                    margin: 0 0 0 10px;
                    span{
                      background: none;
                    }
                  }
                }
              }
            }
            .add-to-box {
              .link-wishlist {
                width: auto;
              }
            }
          .product-free-text{
            max-width: 100%;
          }
		}
		.icons.mobile {
			display: none;
		}
		.icons.desktop {
			display: block;
		}
		.icons {
			padding: 20px 0;
			width: 50%;
			.product-icon {
				width: auto;
				min-width: 160px;
				margin-bottom: 20px;
			}
			.image {
				float: left;
			}
			.title {
				float: left;
				margin: 0 0 0 5px;
			}
		}
	}
	html:lang(de) .catalog-product-view {
		.product-view .add-to-cart-wrapper .add-to-box .add-to-cart-buttons .button {
			font-size: 14px;
		}
		/* Product ECO label */
		.product-feature-nav ul li a {
			font-size: 11px;
			padding: 0px 5px 0px 5px;
		}
		.product-view .energy-rating.desktop .rating-label .energy-rating-label {
			width: 180px;
		}
		.energy-rating-label-a {
			background-position: 135px 0;
		}
		.energy-rating-label-b{
			background-position: 135px -20px;
		}
		.energy-rating-label-c {
			background-position: 135px -40px;
		}
		.energy-rating-label-d {
			background-position: 135px -60px;
		}
		.energy-rating-label-e {
			background-position: 135px -80px;
		}
		.energy-rating-label-f {
			background-position: 135px -100px;
		}
		/* Product ECO Fiche */
		.product-view #product-fiche {
			#fiche-rating {
				h2.energy-header {
					line-height: 32px;
					position: relative;
					top: 12px;
				}
			}
			h3 {
				display: block;
			}
			#fiche-year {
				bottom: 252px;
				h2 {
					line-height: 20px;
					top: 15px;
					position: relative;
				}
			}
			#fiche-noise {
				bottom: 184px;
				h2 {
					top: 13px;
					position: relative;
				}
			}
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	html:lang(de) .catalog-product-view {
		.product-feature-nav ul li a {
			font-size: 13px;
			padding: 0px 15px 0px 15px;
		}
	}
}

@include bp(min-width, 1030px) {
	.catalog-product-view .main-container {
		padding: 15px 0px 20px;
	}
}

/*Overrides English html added via CSS*/
@include bp(min-width, $bp-medium + 1) {
    html:lang(de) {
        .catalog-product-view {
            .product-view {
                .product-header {
                    .product-shop {
                        .price-info {
                            .old-price {
                                .price {
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-large + 1) {
  .catalog-product-view {
    .product-view {
      .text-wrapper{
        min-height: 0;
        padding: 20px 0; 
      }
    }
  }
}

@include bp(min-width, $bp-large + 1) {
    html:lang(de) {
        .catalog-product-view {
            .product-view {
                .product-header {
                    .product-shop {
                        .price-info {
                            .old-price {
                                .price {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
              .text-wrapper{
                min-height: 0;
                padding: 20px 0;
              }
            }
        }
    }
}

@include bp(min-width, $bp-large + 1) {
    .catalog-product-view {
      .product-view {
        .product-header {
          .product-shop {
            .price-info {
                width: 60%;
              .old-price {
                .price {
                  margin-left: 5px;
                }
              }
            }
            .extra-info{
              width: 38%;
            }
          }
        }
      }
    }
}

html:lang(de) {
    .catalog-product-view {
        .product-view {
            .product-header {
                .product-shop {
                    .price-info {
                        .old-price {
                            .price::before {
                                content: "Regulärer Preis: ";
								text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.catalog-product-view {
    .product-view {
        .product-header {
            .product-shop {
                .price-info {
                    .old-price {
                        .price {
							text-decoration: line-through;
                        }
                        .price::before {
							content: "Regular Price: ";
							display: inline-block;
							text-decoration: none;
							margin: 0;
						}
                    }
                }
            }
        }
    }
}

html:lang(en) {
    .catalog-product-view {
        .product-view {
            .product-header {
                .product-shop {
                    .price-info {
                        .save-amount {
                            .now-hidden {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
  .catalog-product-view {
    div.crosssell-wrapper {
      float: none;
      width: 100%;
    }

    div.crosssell-promo-box {
      float: none;
      width: 100%;
      max-width: none;
    }
  }
}