//---------------------------------------------------------------------
// Product Page - Spares
//---------------------------------------------------------------------
.catalog-product-view .nav-menu .nav-spares-and-accessories {
	.block-related .outer-box {
		overflow: hidden;
		width: 260px;
		margin: 0 auto;
	}
	ul.mini-products-list {
		width: 1000%;
		float: left;
		margin-bottom: 20px;
	}
	li.product {
		clear: none;
		width: 120px;
		float: left;
		display: inline-block;
		text-align: center;
		margin-bottom: 20px;
		&:nth-child(odd) {
			margin-right: 20px;
		}
		&:nth-child(even) {
			margin-right: 0px;
		}
		a.product-image {
			height: 120px;
			border: none;
			width: 100%;
			padding: 10px;
			background-color: $c-gray-4;
			text-align: center;
			&:after {
				background-color: white;
				content: '';
				display: block;
				position: absolute;
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 10px;
				z-index: 0;
				text-align: center;
			}
			/* center the image vertically */
			&:before {
				/* create a full-height inline block pseudo=element */
				content: ' ';
				display: inline-block;
				vertical-align: middle; /* vertical alignment of the inline element */
				height: 100%;
				text-align: center;
			}
			img {
				display: inline-block;
				vertical-align: middle; /* vertical alignment of the inline element */
				margin: 0 auto;
				width: auto;
				position: relative;
				z-index: 1;
				text-align: center;
				max-width: 100px;
				max-height: 100px;
			}
			&:hover, &:active {
				background-color: darken($c-gray-4, 5);
			}
		}
		.product-details {
			text-align: center;
			width: 100%;
			clear: both;
			margin: 0;
			.product-name, .product-name a {
				text-transform: none;
				color: $c-gray;
				font-weight: bold;
				font-size: 13px;
				line-height: 15px;
			}
			.price-box {
				padding: 10px 0;
				> span {
					width: 100%;
				}
				.price {
					color: black;
					font-weight: bold;
					font-size: 16px;
				}
				.special-price {
					margin: 0;
					padding: 0;
					float: none;
					.price {
						font-size: 16px;
						width: 100%;
						text-align: center;
					}
				}
				.price-label {
					display: none;
				}
				.old-price {
					float: none;
					padding: 0;
					margin: 0;
					.price {
						float: right;
						color: $c-gray;
						font-size: 12px;
						line-height: 16px;
						vertical-align: baseline;
						margin-top: 3px;
						font-weight: normal;
						text-decoration: line-through;
						width: 100%;
						text-align: center;
						&::before {
							display: inline-block;
							content: "Regular Price ";
							text-decoration: none;
						}
					}
				}
				.regular-price {
					width: 100%;
					text-align: center;
					float: none;
					padding: 0;
					margin: 0;
					display: inline;
					color: black;
					font-weight: bold;
					.price {
						width: 100%;
						text-align: center;
					}
					* {
						width: 100%;
					}
				}
			}
		}
		.product-actions {
			* {
				text-align: center;
			}
			span {
				display: inline-block;
			}
			.button, .out-of-stock {
				width: 100%;
				font-weight: bold;
				font-size: 10px;
				text-transform: uppercase;
				height: 25px;
				line-height: 25px;
				padding: 0;
				min-width: 0;
			}
			.out-of-stock {
				background-color: $c-gray-4;
				color: $c-gray;
			}
		}
	}
}

html:lang(de) {
	.catalog-product-view .nav-menu .nav-spares-and-accessories {
		li.product {
			.product-details {
				.price-box {
					.old-price {
						.price {
							text-decoration: line-through;
							&::before {
								content: "Regulärer Preis: ";
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}

/*****************************************************
* Homepage bestsellers - Small Tablet screens
******************************************************/
@include bp(min-width, $bp-xsmall) {
	.catalog-product-view .nav-menu .nav-spares-and-accessories {
		.block-related .outer-box {
			width: 410px;
			padding-bottom: 0;
		}
		ul.mini-products-list li.product {
			position: relative;
			width: 130px;
			margin-right: 10px;
			a.product-image {
				height: 130px;
				img {
					width: auto;
					max-width: 110px;
					max-height: 110px;
				}
			}
			&:nth-child(odd), &:nth-child(even) {
				margin-right: 10px;
				clear: none;
			}
			&:nth-child(3n) {
				margin-right: 0px;
			}
			&:nth-child(4n) {
				margin-right: 10px;
			}
			&:nth-child(3n+1) {
				clear: right;
			}
			&:nth-child(4n+1) {
				clear: none;
			}
			.product-actions {
				.button, .out-of-stock {
					font-size: 10px;
				}
			}
			.price-box {
				bottom: 30px;
				width: 100%;
				.special-price {
					vertical-align: baseline;
					line-height: 11px;
				}
			}
		}
		.arrow {
			display: inline-block;
			position: absolute;
			top: 70px;
			bottom: 0;
			&:hover {
				cursor: pointer;
			}
			&.prev {
				left: 10px;
				background: sprite($desktop-icons, gallery_arrow_left_hover) no-repeat;
				@include sprite-dimensions($desktop-icons, gallery_arrow_left_hover);
				&.nomore {
					background: sprite($desktop-icons, gallery_arrow_left) no-repeat;
				}
			}
			&.next {
				right: 10px;
				background: sprite($desktop-icons, gallery_arrow_right_hover) no-repeat;
				@include sprite-dimensions($desktop-icons, gallery_arrow_right_hover);
				&.nomore {
					background: sprite($desktop-icons, gallery_arrow_right) no-repeat;
				}
			}
		}
	}
}

/*****************************************************
* Homepage bestsellers - Large Tablet screens
******************************************************/
@include bp(min-width, $bp-small) {
	.catalog-product-view .nav-menu .nav-spares-and-accessories {
		.block-related .outer-box {
			width: 510px;
		}
		ul.mini-products-list li.product {
			width: 120px;
			&:nth-child(3n) {
				margin-right: 10px;
			}
			&:nth-child(4n) {
				margin-right: 0px;
			}
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(4n+1) {
				clear: right;
			}
			a.product-image {
				height: 120px;
				img {
					max-width: 100px;
					max-height: 100px;
				}
			}
		}
		.arrow {
			top: 100px;
			&.prev {
				left: 0px;
			}
			&.next {
				right: 0px;
			}
		}

	}
}

/*****************************************************
* Homepage bestsellers - Desktop
******************************************************/
@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view .nav-menu .nav-spares-and-accessories {
		.block-related .outer-box {
			width: 640px;
			padding-bottom: 0;
		}

		ul.mini-products-list {
			margin-bottom: 0;
			li.product {
				width: 200px;
				padding: 0;
				/* revert to normal, from mobile version */
				&:nth-child(odd) {
					margin-right: 20px;
				}
				&:nth-child(even) {
					float: left;
					margin-right: 20px;
				}
				&:nth-child(3n) {
					margin-right: 0px;
				}
				&:nth-child(3n+1) {
					clear: right;
				}
				&:nth-child(4n+1) {
					clear: none;
				}
				a.product-image {
					height: 200px;
					padding: 10px;
					&:after {
						top: 10px;
						left: 10px;
						right: 10px;
						bottom: 10px;
					}
					img {
						max-width: 180px;
						max-height: 180px;
					}
				}
				.product-details {
					margin-left: 0;
					.product-name, .product-name a {
						font-size: 16px;
						line-height: 19px;
					}
					.price-box {
						position: static;
						padding-bottom: 0;
						.special-price {
							width: 50%;
							float: left;
							line-height: 25px;
							vertical-align: auto;
						}
						.old-price {
							width: 50%;
							float: left;
							.price {
								text-align: left;
								line-height: 20px;
							}
						}
					}
					.price, .regular-price .price {
						font-size: 18px;
					}
					.old-price .price {
						font-size: 12px;
					}
				}
				.product-actions {
					width: 100%;
					left: auto;
					padding: 0 10px;
					.button, .out-of-stock {
						min-width: 130px;
						font-size: 14px;
						text-transform: uppercase;
						height: 35px;
						line-height: 35px;
						position: static;
						margin-top: 10px;
					}
				}
			}
		}
		.arrow {
			top: 130px;
			&.prev {
				left: 0;
				background: sprite($desktop-icons, spares_arrow_left_hover) no-repeat;
				@include sprite-dimensions($desktop-icons, spares_arrow_left_hover);
				&.nomore {
					background: sprite($desktop-icons, spares_arrow_left) no-repeat;
				}
			}
			&.next {
				right: 0;
				background: sprite($desktop-icons, spares_arrow_right_hover) no-repeat;
				@include sprite-dimensions($desktop-icons, spares_arrow_right_hover);
				&.nomore {
					background: sprite($desktop-icons, spares_arrow_right) no-repeat;
				}
			}
		}
	}
}

/*****************************************************
* Homepage bestsellers - Large desktop screens
******************************************************/
@include bp(min-width, $bp-large + 1) {
	.catalog-product-view .nav-menu .nav-spares-and-accessories {
		.block-related {
			padding-bottom: 0;
			.outer-box {
				width: 860px;
			}
		}
		.arrow {
			&.prev {
				left: 0px;
			}
			&.next {
				right: 0px;
			}
		}
		ul.mini-products-list {
			margin-bottom: 0;
			li.product {
				&:nth-child(3n) {
					margin-right: 20px;
				}
				&:nth-child(4n) {
					margin-right: 0px;
				}
				&:nth-child(3n+1) {
					clear: none;
				}
				&:nth-child(4n+1) {
					clear: right;
				}
			}
		}
	}
}


