/* ================================================= *
 * Questions (FAQs) section - Mobile View Port
 * ================================================= */
.catalog-product-view .nav-faqs {
	// override default prodfqs style
	#product-wrapper {
		padding: 0;
		.btn-slide {
			//overriding js that changes the bg
			background-image: none !important;
			background-color: $c-red !important;

			font: $f-stack-special;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 16px;
			width: auto;
			padding: 10px 15px;
			height: auto;
			margin: 0;
			&:hover {
				//overriding js that changes the bg
				background-image: none !important;
				background-color: darken($c-red, 10%) !important;
			}
		}
	}
	.theme5 {
		* {
			font-family: $f-stack-special;
		}
		ul li {
			line-height: normal;
			margin: 0;
			border-bottom: none;
			padding-bottom: 0;
			.accordion-toggle {
				background: none;

			}
			h6 {
				margin: 0;
				font-weight: bold;
				font-style: normal;
				line-height: normal;
			}
			.answer p {
				line-height: normal;
				margin: 0;
				padding: 0;
			}
		}
	}

	//our style
	#accordion-container > h2 {
		display: none;
	}
	.theme5 ul li {
		background-color: white;
		.accordion-toggle {
			border-bottom: 1px solid $c-gray-4;
			font-weight: bold;
			color: black;
			font-size: 14px;
			line-height: 16px;
			display: inline-block;
			width: 100%;
			padding: 20px 0 20px 30px;
			position: relative;
			&.accordion-toggle-active {
				border-bottom: none;
			}
			&::before {
				content: "";
				position: absolute;
				left: 0;
				display: inline-block;
				top: 50%;
				margin-top: -7px;
				background: sprite($mobile-icons, faq-arrow-red-right) no-repeat;
				@include sprite-dimensions($mobile-icons, faq-arrow-red-right);
			}
			&.accordion-toggle-active::before {
				margin-top: -4px;
				background: sprite($mobile-icons, faq-arrow-red-down) no-repeat;
				@include sprite-dimensions($mobile-icons, faq-arrow-red-down);
			}
			&:hover, &:active {
				cursor: pointer;
				text-decoration: underline;
			}
		}
		.accordion-content {
			background-color: white;
			padding: 10px 20px;
			border-bottom: 1px solid $c-gray-4;
			.help-entry {
				border-left: 6px solid $c-gray-4;
				padding-left: 20px;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				h6 {
					color: black;
					font-size: 12px;
				}
				p {
					font-size: 13px;
					margin-top: 15px;
				}
			}
			* {
				text-transform: none;
			}
		}
		.rating_dv {
			width: auto;
			height: auto;
			padding: 0;
			margin: 0;
			.helpful {
				width: auto;
				.helpful-text {
					float: left;
					color: $c-red;
					font-weight: bold;
					padding-top: 0;
					line-height: 25px;
				}
				.rating_container {
					clear: left;
					float: left;
					margin-left: -5px;
				}
			}
		}
	}
	#s_rating_message {
		background-color: rgba(0,0,0,0.7);
		height: 50px;
		color: white;
		font-size: 16px;
		width: 100%;
		display: inline-block;
		line-height: 50px;
		padding-left: 20px;
		z-index: 99;
	}
}

/* ================================================= *
 * Questions (FAQs) section - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium) {
	.catalog-product-view .nav-faqs {
		.content-wrapper {
			padding: 75px 0px 0px;
		}
		.theme5 ul li {
			.accordion-content {
				background-color: white;
				padding: 10px 20px;
				border-bottom: 1px solid $c-gray-4;
				.help-entry {
					border-left: 6px solid $c-gray-4;
					padding-left: 20px;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}


