/* ================================================= *
 * Downloads - Mobile View Port
 * ================================================= */
.catalog-product-view {
	ul.manuals-list {
		padding: 20px 0;
		li {
			position: relative;
			padding-left: 54px;
			min-height: 49px;
			margin: 0 0 15px 0;
			&:last-child {
				margin: 0;
			}

			&::after {
				background: sprite($support-mobile-icons, pdf_icon_grey) no-repeat;
				@include sprite-dimensions($support-mobile-icons, pdf_icon_grey);
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
			}

			&:hover, &:active {
				a {
					color: $c-purple;
				}
				&::after {
					background: sprite($support-mobile-icons, pdf_icon) no-repeat;
					@include sprite-dimensions($support-mobile-icons, pdf_icon);
				}
			}
          &.dealer-login{
            clear: both;
             &:after{
               background: url(../images/template/dealer-login.png) no-repeat;
               background-position: 0 -47px;
             }
            &:hover, &:active {
              &:after {
                background-position: 0 1px;
              }
            }
          }
		}
		.attach-img {
			display: none;
		}
		a {
			word-wrap: break-word;
			color: $c-gray;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
		}
	}
}

/* ================================================= *
 * Downloads - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium) {
	.catalog-product-view {
		.nav-downloads .content-wrapper {
			padding: 80px 0px 0px;
		}
		ul.manuals-list {
			overflow: hidden;
			padding: 40px 20px;
			li {
				width: 50%;
				float: left;
				margin: 0 0 30px 0;
				padding-right: 50px;
				&:nth-last-child(2),
				&:last-child {
					margin: 0;
				}
              &.dealer-login{
                margin-top: 20px;
              }
			}
			a {
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
}

