.product-gift-card{
  .product-view{
    .text-wrapper{
      min-height: 0;
    }
    .add-to-cart-wrapper{
      .availability{
        display: none;
      }
    }
    .field{
      .input-box{
        select,
        input{
          max-width: 320px;
          width: 100%;
          height: 36px;
          border-radius: 4px;
          border: 1px solid #c2c4c4;
          padding: 0 8px;
        }
      }
    }
  }
}

.aw-gc-form{
  .availability{
    display: none;
  }
  .field{
    .input-box{
      select,
      input{
        max-width: 320px;
        width: 100%;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #c2c4c4;
        padding: 0 8px;
      }
    }
  }
}