//---------------------------------------------------------------------
// Product Page - Features sticky nav and common block styles
//---------------------------------------------------------------------

.catalog-product-view {

	//hide sticky nav
	.product-feature-nav {
		display: none;
	}

	.nav-menu {
		.nav-features .header-wrapper.color h2 {
			background-color: $c-red;
		}
		.nav-whats-in-the-box .header-wrapper.color h2 {
			background-color: $c-blue;
		}
		.nav-specifications .header-wrapper.color h2 {
			background-color: $c-green;
		}
		.nav-downloads .header-wrapper.color {
			background-color: $c-purple;
			h2 {
				background-color: $c-purple;
			}
		}
		.nav-spares-and-accessories .header-wrapper.color h2 {
			background-color: $c-yellow;
			color: $c-gray;
		}
		.nav-reviews .header-wrapper {
			border-bottom: 1px solid white;
			&.color h2 {
				background-color: $c-orange;
			}
		}
		.nav-faqs .header-wrapper.color {
			background-color: $c-gray-4;
			h2 {
				background-color: $c-gray-4;
				color: $c-gray;
			}
		}

        .panel:first-of-type {
            top: 0;
            position: relative;
        }
	}
}
@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		/* links to panels - sticky nav */
		.product-feature-nav {
			display: block;
			ul li {
				a {
					&.active.nav {
						&.downloads {
							background-color: $c-purple;
						}
						&.faqs {
							background-color: $c-gray-4;
						}
					}
					&.active.spares {
						color: $c-gray;
					}
					&.active.faqs {
						color: $c-gray;
					}
				}
			}
		}
		//allow fot the larger sticky menu
		#nav-wrap {
			position: relative;
			z-index: 10;
		}
		.nav-menu {
			position: relative;
			.anchor-nav {
				margin-top: 0;
				padding-bottom: 0;
				position: relative;
				top: -236px;
			}
		}
	}
}

@include bp(min-width, 1030px) {
	.catalog-product-view {

		.product-feature-nav {
			ul {
				background-color: white;
				li a {
					font-size: 12px;
				}
			}
			&.fixed {
				background-color: transparent;
			}
		}
		.nav-menu {
			.header-wrapper {
				background-color: transparent;
				h2 {
					width: 960px;
					padding: 0 20px;
					background-color: $c-gray-4;
				}
			}
			.nav-spares-and-accessories .header-wrapper.color,
			.nav-features .header-wrapper.color,
			.nav-whats-in-the-box .header-wrapper.color,
			.nav-specifications .header-wrapper.color,
			.nav-downloads .header-wrapper.color,
			.nav-spares-and-accessories .header-wrapper.color,
			.nav-reviews .header-wrapper.color,
			.nav-faqs .header-wrapper.color {
				background-color: transparent;
			}
		}
	}
}
