<div class="file-upload">
<input id="filename" name="filename" type="hidden" value="" class="required" />
<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        jQuery("#fileuploader").uploadFile({
            url:"/upload/index/upload/",
            allowedTypes:"<?php echo Mage::getStoreConfig('vax_upload/frontend_options/allowed_file_types') ?>",
            autoSubmit:true,
            showDelete:true,
            dragDrop:false,
            showDone: false,
            abortStr: "<?php echo $this->__('Abort') ?>",
            cancelStr: "<?php echo $this->__('Cancel') ?>",
            doneStr: "<?php echo $this->__('Done') ?>",
            deletelStr: "<?php echo $this->__('Delete') ?>",
            extErrorStr: "<?php echo $this->__('is not allowed. Allowed extensions: ') ?>",
            sizeErrorStr: "<?php echo $this->__('is not allowed. Allowed Max size: ') ?>",
            onSuccess:function(files, data, xhr)
            {
                if(data !== null) {
                    var json_obj = jQuery.parseJSON(data);
                    
                    if(json_obj !== null && json_obj.thumbnail_url !== null && typeof json_obj.thumbnail_url !== 'undefined') {
                        jQuery('.ajax-file-upload-statusbar').append('<div class="thumbnail"><img src="' + json_obj.thumbnail_url + '"/></div>');
                    }
                }
                jQuery('input[name=filename]').val(files);
            },
            afterUploadAll:function()
            {
                jQuery(".ajax-file-upload").hide();
            },
            onError: function(files, status, errMsg)
            {
                resetUpload();
            },
            deleteCallback: function(data, pd)
            {
                $.post("/upload/index/delete/",{ op:"delete", name:data },
                function(resp, textStatus, jqXHR)
                {
                });
                pd.statusbar.hide();
                resetUpload();
                jQuery(".ajax-file-upload").show();
            }
        });
    });
    
    function resetUpload() {
        jQuery('input[name=filename]').val('');
  }
</script>
</div>