<?php
/**
 * Vax Registration form template
 *
 * @category    design
 * @package     vax_uk
 * @copyright   Copyright (c) 2013 Vax Ltd.
 * @author      M Stephens/C Carnell
 */
?>
<?php $product = Mage::getModel('catalog/product')->load(825); // we are only accepting registrations on rebel products for now, if not we need to add a AJAX call ?>
<?php $showStoreSelect = Mage::helper('vax_registration/form')->shouldShowStoreSelect($product); ?>
<?php $showFileUploader = Mage::helper('vax_registration/form')->shouldShowFileUploader($product); ?>
<?php $showTermsAgreed = Mage::helper('vax_registration/form')->shouldShowTermsCheckBox($product); ?>
<?php $postCodeValidation = 'validate-postcode-german'; ?>
<?php
if(Mage::helper('vax_registration/form')->getPostCodeValidationClass()):
    $postCodeValidation = Mage::helper('vax_registration/form')->getPostCodeValidationClass();
endif;
//redirect if product registration is disabled
if(! Mage::helper('vax_registration/form')->isRegistrationEnabled()):
    Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('no_route'));
endif;
?>
<div id="messages-form"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="form-wrap">
    <form id="registration-form" enctype="multipart/form-data" action="/registration/form/" method="post">
        <h2 class="first"><?php echo $this->__('Contact details') ?></h2>
        <fieldset id="fieldset-contact-details" class="contacts ">

            <div class="field control-group">
                <label for="first_name" class="control-label required"><?php echo $this->__('First name') ?></label>
                <div class="controls"><input type="text" name="first_name" value="" title="<?php echo $this->__('First name') ?>"
                                             class="input-text required-entry" id="first_name"/>
                </div>
            </div>

            <div class="field control-group">
                <label for="surname" class="control-label required"><?php echo $this->__('Surname') ?></label>
                <div class="controls"><input type="text" name="surname" value="" title="<?php echo $this->__('Surname') ?>"
                                             class="input-text required-entry" id="surname"/>
                </div>
            </div>

            <div class="field control-group">
                <label for="address" class="control-label required"><?php echo $this->__('Street / House Number') ?></label>

                <div class="controls">
                    <?php if (Mage::getStoreConfig('customer/address/house_number_enabled')): ?>
                        <?php if (Mage::getStoreConfig('customer/address/house_number_order' == Vax_HouseNumber_Model_Source_PrefixSuffix::SOURCE_PREFIX)): ?>
                    <input type="text" class="required-entry house-number input-text prefix" name="house_number" value=""
                           onchange="updateFirstAddressLine()"/>
                    <input type="text" class="required-entry house-number-street input-text" name="house_street" value=""
                           onchange="updateFirstAddressLine()"/>
                    <?php else: ?>
                    <input type="text" class="required-entry house-number-street input-text prefix" name="house_street"
                           value="" onchange="updateFirstAddressLine()"/>
                    <input type="text" class="required-entry house-number input-text" name="house_number" value=""
                           onchange="updateFirstAddressLine()"/>
                    <?php endif; ?>
                    <input type="hidden" name="address" value="" title="<?php echo $this->__('Address') ?>"
                           class="input-text" id="address"/>
                        <script type="text/javascript">
                            function updateFirstAddressLine() {
                                <?php if (Mage::getStoreConfig('customer/address/house_number_order' == Vax_HouseNumber_Model_Source_PrefixSuffix::SOURCE_PREFIX)): ?>
                                $('address').setValue($$('.house-number')[0].getValue() + ' ' + $$('.house-number-street')[0].getValue());
                                <?php else: ?>
                                $('address').setValue($$('.house-number-street')[0].getValue() + ' ' + $$('.house-number')[0].getValue());
                                <?php endif; ?>
                            }
                        </script>
                    <?php else: ?>
                    <input type="text" name="address" value="" title="<?php echo $this->__('Street / Street Number') ?>"
                           class="input-text required-entry" id="address"/>
                    <?php endif; ?>
                </div>
                <div class="field control-group address">
                    <label class="control-label" for="address2"><?php echo $this->__('Address supplement')?></label>
                    <div class="controls">
                        <input type="text" name="address2" value="" class="input-text" id="address2" />
                    </div>
                </div>

                <div class="field control-group">
                    <label for="postcode" class="control-label required"><?php echo $this->__('Postcode') ?></label>
                    <div class=" controls">
                        <input type="text" name="postcode" value="" title="<?php echo $this->__('Postcode') ?>"
                               class="input-text <?php echo $postCodeValidation ?> required-entry" id="postcode"/>
                    </div>
                </div>

                <div class="field control-group">
                    <label for="town" class="control-label required"><?php echo $this->__('Town') ?></label>
                    <div class="controls">
                        <input type="text" name="town" value="" title="<?php echo $this->__('Town') ?>"
                               class="input-text required-entry" id="town"/>
                    </div>
                </div>

                <?php if (Mage::helper('vax_registration/form')->isRegistrationCountyEnabled()): ?>

                    <div class="field control-group">
                        <label for="county" class="control-label required"><?php echo $this->__('County') ?></label>
                        <div class="controls">
                            <input type="text" name="county" value="" title="<?php echo $this->__('County') ?>"
                                   class="input-text required-entry" id="county"/>
                        </div>
                    </div>

                <?php endif; ?>

                <div class="field control-group">
                    <label for="country" class="control-label required"><?php echo $this->__('Country') ?></label>
                    <div class=" controls">
                        <select id="country" name="country" class="input-text required-entry">
                            <option value="DE"><?php echo $this->__('Germany') ?></option>
                            <option value="AT"><?php echo $this->__('Austria') ?></option>
                            <option value="CH"><?php echo $this->__('Switzerland') ?></option>
                        </select>
                    </div>
                </div>

                <div class="field control-group">
                    <label for="email" class="control-label required"><?php echo $this->__('Email Address') ?></label>
                    <div class="controls">
                        <input type="text" name="email" value="" title="<?php echo $this->__('Email Address') ?>"
                               class="input-text validate-email required-entry" id="email"/>
                    </div>
                </div>

                <div class="field control-group">
                    <label for="telephone" class="control-label required"><?php echo $this->__('Telephone') ?></label>
                    <div class="controls">
                        <input type="text" name="telephone" value="" title="<?php echo $this->__('Telephone') ?>"
                               class="input-text required-entry" id="telephone"/>
                    </div>
                </div>
        </fieldset>

        <h2><?php echo $this->__('Product details') ?></h2>
        <fieldset id="fieldset-purchase-details" class="product">
            <?php echo $this->getChildHtml('registration.form.product_select') ?>

            <?php if ($showStoreSelect): ?>
                <div class="field control-group">
                    <label for="pur_from" class="control-label required"><?php echo $this->__('Purchased at') ?></label>
                    <div class="controls">
                        <select id="pur_from" name="pur_from" class="input-text required-entry">
                            <option value=""><?php echo $this->__('[ Please select ]') ?></option>
                            <?php
                            $shops = Mage::helper('vax_registration/form')->getRetailersForStore();
                            foreach ($shops as $shop):
                                echo "<option value='" . $shop->getTitle() . "'>" . $shop->getTitle() . "</option>";
                            endforeach;
                            ?>
                            <option value="0"><?php echo $this->__('Other shop') ?></option>
                        </select>
                    </div>
                </div>
            <?php endif; ?>
            <div id="pur_location_li" class="fields"<?php if ($showStoreSelect): ?> style="display: none;"<?php endif; ?>>
                <div class="field control-group">
                    <label for="pur_location"
                           class="control-label required"><?php echo $this->__('Purchase Location') ?></label>

                    <div class="controls">
                        <input type="text" name="pur_location" value="" title="<?php echo $this->__('Purchase Location') ?>"
                               class="input-text required-entry" id="pur_location"/>
                    </div>
                </div>
            </div>
            <?php if ($showFileUploader): ?>
                <div id="pur_receipt_li" class="fields" style="display: none;">
                    <div class="field control-group">
                        <label for="pur_receipt"
                               class="control-label required"><?php echo $this->__('Upload Receipt') ?>
                        </label>

                        <div class="controls">
                            <div id="fileuploader"><?php echo $this->__('Upload')?></div>
                        </div>
                    </div>
                    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('registration/file.phtml')->toHtml() ?>
                </div>
            <?php endif; ?>
            <div class="field control-group">
                <label for="pur_date" class="control-label required"><?php echo $this->__('Purchase Date') ?></label>
                <div class="controls">
                    <input id="pur_date" name="pur_date" value="" class="input-text required-entry" type="text"
                           title="<?php echo $this->__('Purchase Date') ?>" readonly/>
                    <div class="calendar-input" id="pur_date_trigger"></div>
                    <img title="<?php echo $this->__('Select date') ?>" id="pur_date_trigger"
                         src="<?php echo $this->getSkinUrl('images/calendar.gif'); ?>" class="v-middle">
                </div>
            </div>

            <div class="field control-group">
                <label for="pur_price" class="control-label"><?php echo $this->__('Price') ?></label>
                <div class="controls">
                    <input type="text" id="pur_price" name="pur_price" title="<?php echo $this->__('Price') ?>" class="input-text">
                    <select id="pur_currency" name="pur_currency" class="validate-select currency-select">
                        <option value="ALL"><?php echo $this->__('ALL'); ?></option>
                        <option value="AMD"><?php echo $this->__('AMD'); ?></option>
                        <option value="AZN"><?php echo $this->__('AZN'); ?></option>
                        <option value="BAM"><?php echo $this->__('BAM'); ?></option>
                        <option value="BGN"><?php echo $this->__('BGN'); ?></option>
                        <option value="DKK"><?php echo $this->__('DKK'); ?></option>
                        <option value="EUR" selected><?php echo $this->__('EUR'); ?></option>
                        <option value="GEL"><?php echo $this->__('GEL'); ?></option>
                        <option value="GBP"><?php echo $this->__('GBP'); ?></option>
                        <option value="ISK"><?php echo $this->__('ISK'); ?></option>
                        <option value="HRK"><?php echo $this->__('HRK'); ?></option>
                        <option value="LTL"><?php echo $this->__('LTL'); ?></option>
                        <option value="MKD"><?php echo $this->__('MKD'); ?></option>
                        <option value="MDL"><?php echo $this->__('MDL'); ?></option>
                        <option value="NOK"><?php echo $this->__('NOK'); ?></option>
                        <option value="PLN"><?php echo $this->__('PLN'); ?></option>
                        <option value="RON"><?php echo $this->__('RON'); ?></option>
                        <option value="RUB"><?php echo $this->__('RUB'); ?></option>
                        <option value="SEK"><?php echo $this->__('SEK'); ?></option>
                        <option value="CHF"><?php echo $this->__('CHF'); ?></option>
                        <option value="RSD"><?php echo $this->__('RSD'); ?></option>
                        <option value="CZK"><?php echo $this->__('CZK'); ?></option>
                        <option value="TRY"><?php echo $this->__('TRY'); ?></option>
                        <option value="UAH"><?php echo $this->__('UAH'); ?></option>
                        <option value="HUF"><?php echo $this->__('HUF'); ?></option>
                        <option value="BYR"><?php echo $this->__('BYR'); ?></option>
                    </select>
                </div>
            </div>
        </fieldset>

        <h2><?php echo $this->__('Keep in Touch'); ?></h2>
        <fieldset id="fieldset-newsletter">
            <label class="checkbox">
                <input type="checkbox" name="mail_opt" class="checkbox" id="mail_opt" />
                <?php echo $this->__('Yes, please send me tips on how to get the most from my DirtDevil, as well as exclusive offers and discounts'); ?>
            </label>

            <div class="control-group submit-button">
                <div class="controls">
                    <button type="submit" id="btn-submit-registration" class="btn btn-success" onclick="registrationForm.submit(this)">
                        <?php echo $this->__('Submit'); ?>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="panel-links-container">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('my_dirtdevil_link')->toHtml() ?>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('guarantee_conditions_link')->toHtml() ?>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var registrationForm = new VarienForm('registration-form');

    registrationForm.submit = function() {
        if (this.validator.validate()) {

            <?php
            // check for uploaded receipt
            if($showFileUploader): ?>
            var selectmenu=document.getElementById("pur_from");
            var filename=document.getElementById("filename");

            if(selectmenu !== null) {
                var option = selectmenu.options[selectmenu.selectedIndex];
                if (option.value !== "nothing" && option.value !== '0' && filename !== null && filename.value === '' ) {
                    alert("<?php echo $this->__('Please select a retailer and upload a copy of your receipt.')?>");
                    return false;
                }
            }
            <?php endif; ?>

            this.form.submit();
        }
    }.bind(registrationForm);

    var selectcountry=document.getElementById("country");
    selectcountry.onchange=function() {

        var country=this.options[this.selectedIndex];

        switch(country.value) {
            case 'AT':
                jQuery("#postcode").removeClass("validate-postcode-german").addClass("validate-postcode-austria");
                break;
            case 'DE':
            case 'CH':
                jQuery("#postcode").removeClass("validate-postcode-german").addClass("validate-postcode-austria");
                break;
            default:
                jQuery("#postcode").removeClass("validate-postcode-austria").addClass("validate-postcode-german");
                break;
        }
    };

    var selectmenu=document.getElementById("pur_from");
    if(selectmenu !== null) {

        selectmenu.onchange=function() {

            var chosenoption=this.options[this.selectedIndex];
            if (chosenoption.value!=="nothing") {
                var pur_location=document.getElementById("pur_location");
                var pur_location_li=document.getElementById("pur_location_li");
                var pur_receipt_li=document.getElementById("pur_receipt_li");
                var terms_checkbox_li=document.getElementById("terms_agreed_li");
                var terms_page_li=document.getElementById("terms_page_li");
                var filename=document.getElementById("filename");

                if(chosenoption.value === '0') {
                    // commented out prevent selecting Other products to stop the check for empty file upload
                    // if(pur_receipt_li !== null) pur_receipt_li.style.display = 'block';
                    // if(filename !== null) filename.className = "";

                    if(pur_receipt_li !== null) pur_receipt_li.style.display = 'block';
                    if(terms_checkbox_li !== null) terms_checkbox_li.style.display = 'block';
                    if(terms_page_li !== null) terms_page_li.style.display = 'block';

                    pur_location.value = '';
                    pur_location_li.style.display = 'block';

                } else {

                    if(pur_receipt_li !== null) pur_receipt_li.style.display = 'block';
                    if(terms_checkbox_li !== null) terms_checkbox_li.style.display = 'block';
                    if(terms_page_li !== null) terms_page_li.style.display = 'block';
                    if(filename !== null) filename.className = "input-text required-entry";
                    pur_location_li.style.display = 'none';
                    pur_location.value = chosenoption.value;
                }
            }

        }
    }

    var theLanguage = jQuery('html').attr('lang');
    if(theLanguage == 'de') {
        Calendar.setup({
            max: new Date(),
            inputField: 'pur_date',
            ifFormat: '%d-%m-%Y',
            button: 'pur_date_trigger',
            align: 'Bl',
            singleClick: true,
            disableFunc: function (date) {
            }
        });
    } else {
        Calendar.setup({
            max: new Date(),
            inputField: 'pur_date',
            ifFormat: '%Y-%m-%d',
            button: 'pur_date_trigger',
            align: 'Bl',
            singleClick: true,
            disableFunc: function (date) {
            }
        });
    }

    //]]>
</script>
