<?php
/**
 * Vax Registration form template
 *
 * @category    design
 * @package     vax_uk
 * @copyright   Copyright (c) 2013 Vax Ltd.
 * @author      M Stephens/C Carnell
 */
?>
<?php $product = Mage::getModel('catalog/product')->load(825); // we are only accepting registrations on rebel products for now, if not we need to add a AJAX call ?>
<?php $showStoreSelect = Mage::helper('vax_registration/form')->shouldShowStoreSelect($product); ?>
<?php $showFileUploader = Mage::helper('vax_registration/form')->shouldShowFileUploader($product); ?>
<div id="messages-form"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="form-wrap">
    <form id="menu-registration-form">
        <h2 class="first"><?php echo $this->__('Contact details') ?></h2>
        <fieldset id="fieldset-contact-details" class="contacts ">
            <div class="field control-group">
                <label for="first_name" class="control-label required"><?php echo $this->__('Name') ?></label>
                <div class="controls">
                    <input type="text" name="first_name" value="" title="<?php echo $this->__('Name') ?>"class="input-text required-entry" id="first_name"/>
                </div>
            </div>
            <div class="field control-group">
                <label for="email" class="control-label required"><?php echo $this->__('Email Address') ?></label>
                <div class="controls">
                    <input type="text" name="email" value="" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" id="email"/>
                </div>
            </div>
        </fieldset>
        <h2><?php echo $this->__('Product details') ?></h2>
        <fieldset id="fieldset-purchase-details" class="product">
            <?php echo $this->getChildHtml('registration.form.product_select') ?>
            <?php if ($showStoreSelect): ?>
                <div class="field control-group">
                    <label for="pur_from" class="control-label required"><?php echo $this->__('Purchased at') ?></label>
                    <div class="controls">
                        <select id="pur_from" name="pur_from" class="input-text required-entry">
                            <option value=""><?php echo $this->__('[ Please select ]') ?></option>
                            <?php
                            $shops = Mage::helper('vax_registration/form')->getRetailersForStore();
                            foreach ($shops as $shop):
                                echo "<option value='" . $shop->getTitle() . "'>" . $shop->getTitle() . "</option>";
                            endforeach;
                            ?>
                            <option value="0"><?php echo $this->__('Other shop') ?></option>
                        </select>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field control-group">
                <label class="search-label control-label" for="search-reg"><?php echo $this->__('Model Number'); ?></label>

                <div id="search-box" class="controls">
                    <input type="hidden" name="search-location" id="search-location" value="spares">

                    <div class="box">
                        <input type="text" name="sku" id="search-reg" class="input-text">
                    </div>
                </div>
                <a class="terms-link" href="#" onclick="popWin('/registration-sku','terms','top:0,left:0,width=350,height=400,resizable=yes,scrollbars=yes')"><?php echo $this->__('How to find the model number'); ?></a>
            </div>
        </fieldset>
        <fieldset id="fieldset-newsletter">
            <div class="control-group submit-button">
                <div class="controls">
                    <button type="button" id="btn-submit-registration" class="btn btn-success">
                        <?php echo $this->__('Continue'); ?>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var registrationForm = new VarienForm('menu-registration-form');
    //]]>

    // Store values on submit
    $j('#btn-submit-registration').on('click', function (event) {

        event.preventDefault();
        var name = $j('[name="first_name"]').val();
        var email = $j('[name="email"]').val();
        var from = $j('[name="pur_from"]').find(":selected").text();
        var sku = $j('[name="sku"]').val();

        Cookies.set('regName', name);
        Cookies.set("regEmail", email);
        Cookies.set("regFrom", from);
        Cookies.set("regSku", sku);

        window.location.href = "/registration/form";
    });
</script>
