<?php
/**
 * Vax Registration form success template
 *
 * @category    design
 * @package     vax_uk
 * @copyright   Copyright (c) 2012 Vax Ltd.
 * @author      M Stephens
 */
?>
<div class="text-info">
    <h2 class="first"><?php echo $this->__('Thank you for your product registration') ?></h2>

    <h3><?php echo $this->__('Registration information') ?></h3>
    <p><?php echo $this->__('Please print a copy and keep it in a safe place with your proof of purchase, as you will need these should you need to contact us.') ?></p>
    <br />
    
    <table id="registration-summary" border="0">
        <tr>
            <td class="label"><?php echo $this->__('Registration code') ?>:</td>
            <td>&nbsp;<?php echo $this->getRegistrationDetails()->getId() ?></td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Model Number') ?>:</td>
            <td><?php echo $this->getRegistrationProduct()->getSku() ?></td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Date of Purchase') ?>:</td>
            <td><?php echo date('d/m/Y', strtotime($this->getRegistrationDetails()->getPurDate())) ?></td>
        </tr>
    </table>
    
    <br />
    <p><?php echo $this->__('Confirmation of registration has also been sent to your email address') ?>.</p>
</div>