.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

body.checkout-cart-index {
	font: 11px/1.35 $f-stack-vax-sans;

	button, input, select, table, textarea {
		font: 11px/1.35 $f-stack-vax-sans;
	}
}

.checkout-cart-index {
	.top-header {

		h1 {
			color: #fff;
			font-weight: normal;
			text-transform: none;
			font-size: 60px;
			max-width: 1000px;
			margin: 0 auto;
			line-height: 140px;
		}
	}

	.col-main {
		.cart-top {
			margin-bottom: 30px;
			h2 {
				text-transform: none;
				color: #000;
				font-size: 20px;
			}

			&:after {
				clear: both;
			}
		}

		.left {
			width: auto;
			float: left;
		}

		.right {
			float: right;
		}

		button.checkout-button {
			max-width: 170px;
			width: auto;
			min-height: 55px;
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			border: none;
			text-align: left;
			padding: 6px 10px;
			line-height: 1.15;
			margin-left: 0;

			&.shopping {
				background: $c-button-checkout-red;

				&:hover {
					background: darken($c-button-checkout-red, 5%);
				}
			}

			&.checkout {
				background: $c-button-checkout-green;
				margin-left: 2px;

				&:hover {
					background: darken($c-button-checkout-green, 5%);
				}
			}

			span.icon {
				font-size: 20px;
			}
		}

		.checkout-types {
			.left, .right {
				width: 50%;
			}
		}
	}

	#cross-sells {
		box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.012);
		margin-bottom: 2em;
		font: 11px/1.35 Arial, Helvetica, sans-serif;

		.title {
			position: relative;
			background: #F0F1F2;
			font-size: 14px;
			font-weight: normal;
			width: 100%;
			padding: 20px;
		}

		.title:after {
			bottom: 100%;
			left: 40px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(240, 241, 242, 0);
			border-bottom-color: #f0f1f2;
			border-width: 10px;
			margin-left: -10px;
		}

		.cross-sell {
			background: #F0F1F2;
			width: 100%;
			border: none;
			position: relative;
			padding: 0px 40px 10px 0;
			padding-top: 1em;

			.product-image img {
				border: 3px solid #fff;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.118), inset 0px 0px 18px 0px rgba(0, 0, 0, 0.078);
			}

			.image, .info, .action, .price-container {
				background: #F0F1F2;
			}

			.image {
				width: 80px;
				display: block;
				float: left;
				border: 1px solid #CCC;
				padding: 5px 0 5px 5px;
				margin-left: 10px;
				margin-right: 1.5em;
				line-height: 1;

				a {
					width: 68px;
				}
			}

			.price-box {
				font: 11px/1.35 Arial, Helvetica, sans-serif;
			}

			.price-container {
				width: 10%;
				float: left;
				text-align: left;
				margin-left: 8.5%;
			}

			.info a, .regular-price .price, .special-price .price, .price, .regular-price {
				font-size: 18px;
				color: #000;
				font-weight: normal;
			}

			.old-price .price, .old-price .price-label {
				text-decoration: none;
				white-space: nowrap;
				color: #989696;
				font-size: 12px;
				display: inline-block;
			}

			p.old-price {
				margin-bottom: 8px;
			}

			.info {
				width: 47%;
				display: block;
				float: left;
				padding: 0 20px 10px 5px;

				.cross-sell-discount-label {
					color: #00abd2;
					font-weight: bold;
				}

				p {
					font-size: 12px;
					margin: 1em 0;
				}

				b {
					color: #00abd2;
				}
			}

			.action {
				width: 17%;
				margin-left: 7px;
				padding-right: 0;
				float: left;

				.btn {
					width: 120px;
					height: 35px;
					border-radius: 5px;
					background: #F58426;
					box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.078);
					color: #fff;
					border: 0;
					overflow: visible;
					font-size: 120%;
					font-weight: bold;
				}
			}
		}

		.cross-sell:after {
			content: '';
			position: absolute;
			width: 100%;
			border-bottom: 1px solid #D7D8D9;
			bottom: 0;
		}
	}

	#discount-total {
		font-size: 16px;
	}

	#coupon-code .header {
		font-size: 14px;
	}

	#shipping-methods ul li {
		label {
			font-size: 14px;
			font-weight: normal;
		}

		.delivery-date {
			margin-left: 30px;
		}
	}

	.checkout-types {
		float: none;
		text-align: left;
	}

	.cross-sell:last-child:after {
		border-bottom: none !important;
	}

	.cart-table {
		font-family: $f-stack-vax-sans;
		width: 100%;

		thead {
			font-size: 14px;
		}

		tr.simple:last-of-type {
			border-bottom: 1px solid #E3E5E5;
		}

		td {
			display: table-cell;
			font-family: $f-stack-vax-sans;
			height: 95px;
		}

		td.image {
			position: relative;
			width: 80px;
			padding-top: 20px;

			a.product-image {
				cursor: pointer;
			}

			img {
				border: 3px solid #fff;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.118), inset 0 0 18px 0 rgba(0, 0, 0, 0.078);
			}
		}

		td.name {
			.product-name a {
				color: #000;
				font-size: 20px;
				line-height: 1;
			}
		}

		.discount-label {
			z-index: 20;
			padding: 6px 10px 6px 10px;
			height: 25px;
			font-size: 12px;
			float: none;
		}

		span.discount-label.two-lines, span.discount-label.three-lines {
			display: inline-block;
			max-width: 75%;
		}

		span.discount-label:before, span.discount-label:after {
			left: 15px;
		}

		p.basket-rules {
			padding-top: 10px;
		}

		.discount-label:before, .discount-label:after {
			z-index: -1;
		}

		.discount-label:after {
			top: auto;
			bottom: 0 !important;
		}

		.product-cart-total {
			padding-top: 20px;
			text-align: left;
		}
	}

	.cart {
		.cart-price {
			color: #000;

			span.price {
				line-height: 0.75;
			}
		}

		.cart-totals {
			background: #fff;
			margin-bottom: 0;
			border: none;

			#discount-total {
				margin-bottom: 10px;
			}

			table {
				text-transform: none;

				tfoot td {
					margin-top: 10px;
					padding: 0;
					line-height: 30px;
					vertical-align: bottom;

					&.a-left {
						padding: 20px 0;
					}
				}
			}
		}
	}

	div.cart-totals {
		padding: 0;
	}

	.cart-totals-wrapper {
		div.shipping {
			margin: 0;
			padding: 20px 0;
		}

		div.subtotal {
			margin: 0;
			padding: 0 0 20px;
		}

		.subtotal .cart-price {
			padding-right: 0;
		}
	}

	div.cart-payment-options {
		text-align: left;
		padding: 0;
		cursor: pointer;

		button.btn-checkout {
			background: #a4c33c;
			min-width: 240px;
			position: relative;
			text-align: left;
			height: 50px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			-khtml-border-radius: 10px;
			border-radius: 10px;
			font-size: 18px;
		}

		button.btn-checkout:hover {
			background: darken(#a4c33c, 5%);
		}

		button.btn-checkout:before {
			width: 18px;
			height: 18px;
			position: absolute;
			content: " ";
			right: 20px;
			top: 15px;
			background: url('../images/icon_sprite@2x.png') no-repeat -101px -800px;
			background-size: 150px 1000px;
		}

		h2 {
			text-transform: none;
			font-size: 9pt;
			font-weight: bold;
			text-decoration: underline;
			color: #00abd2;
			padding-right: 70px;
			background: url('../images/easyPay-logo.png') no-repeat top right;
			background-size: 55px;
			line-height: 1.75;
			display: inline-block;
		}

		h2:hover {
			color: #00abd2;
		}

		div.payments-alternative {
			.title strong {
				font-weight: normal;
				font-size: 11pt;
			}

			.subscription-payment {
				display: none;
				background-color: #f4f4f4;
				padding: 1em;
				margin-bottom: 0.75em;

				ul.easy-pay-features {
					list-style-type: disc;
					list-style-position: inside;
					padding-bottom: 1em;
					border-bottom: 1px solid #d7d8d9;
				}

				div.dates {
					h4 {
						font-weight: normal;
						font-size: 8pt;
						margin-top: 1em;
					}

					table.period-dates {
						margin-bottom: 1.5em;

						td.price {
							padding-left: 2.5em;
						}
					}
				}
			}
		}
	}

	.cart-totals-wrapper .subtotal {
		padding: 10px 0;
		line-height: 18px;
		margin: 0;
		vertical-align: bottom;
	}

	#threshold-advert {
		a.button {
			height: auto;
			text-decoration: none;
			width: 150px;
			border-radius: 10px;
			margin-left: auto;
			margin-right: auto;
		}

		a.button[title="Continue Shopping"] {
			width: 220px;
		}

		.button:hover, .button:focus, .button:active {
			background: darken(#a4c33c, 5%);
		}

		.header {
			padding: 15px 10px;
			height: auto;
			line-height: 1;
		}
	}

	#shipping-methods {
		.delivery-method-price {
			width: auto;
			float: right;
			text-align: right;
		}

		.delivery-date {
			display: block;
		}
	}

	.cart .cart-totals table {
		font-family: $f-stack-vax-sans;

		tfoot {
			border-top: none;
		}
	}

	#coupon-code .header {
		padding: 13px;
		background-color: #F0F1F2;
		border-radius: 6px;
		font-size: 14px;
	}

	#coupon-code .desc {
		padding: 10px;
		font-size: 12px;
		line-height: 1.583333333;
		overflow: hidden;
	}

	#coupon-code label {
		display: block;
		margin-bottom: 5px;
		font: 11px/1.35 Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: normal;
		color: #5a6870;
	}

	#coupon-code input {
		line-height: 18px;
		float: left;
		padding: 5px;
	}

	#coupon-code .button {
		padding: 7px 21px;
		font-size: 12px;
		margin-left: 10px;
	}

	#coupon-code .btn-cancel {
		background-color: #5A6870;
	}

	#coupon-code .button:hover {
		background-color: #F58426;
	}

	#coupon-code .btn-cancel:hover {
		background-color: #747f85;
	}

	ul#coupon_messages {
	}

	ul#coupon_messages li {
		padding: 5px;
	}

	.ajax-placeholder {
		position: relative;
	}

	.ajax-loader {
		background: #EEE url(../images/ajax-loader.gif) no-repeat 50% 50%;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
		filter: alpha(opacity=75);
		-moz-opacity: 0.75;
		-khtml-opacity: 0.75;
		opacity: 0.75;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 200;
	}

	/* Global Messages */
	.messages {
		width: 100%;
		overflow: hidden;
		text-align: left;
		margin: 0;
	}

	.messages li {
		margin: 0 0 10px;
		padding: 0;
	}

	.messages ul {
		padding: 10px;
		margin: 0;
		background-position: 35px 100%;
		background-repeat: no-repeat;
		position: relative;
	}

	.messages ul li {
		margin: 0;
		padding: 0 0 3px;

		span {
			padding-left: 15px;
		}
	}

	.messages a {
		text-decoration: underline;
	}

	.messages a:hover {
		text-decoration: none;
	}

	.messages li.error-msg,
	.messages li.success-msg,
	.messages li.note-msg,
	.messages li.notice-msg {
		border-style: solid !important;
		border-width: 1px !important;
		font-size: 12px !important;
	}

	p.error-msg {
		border-style: solid !important;
		padding: 10px;
		border-width: 1px !important;
		font-size: 12px !important;
		margin: 10px 0;
	}

	/* Error Message */
	.messages li.error-msg {
		border-color: #e9581f;
		background-color: #fff5f3;
		color: #d91a00;
	}

	.messages li.error-msg a {
		color: #d91a00;
	}

	p.error-msg {
		border-color: #e9581f;
		background-color: #fff5f3;
		color: #d91a00;
	}

	/* Success Message */
	.messages li.success-msg {
		border-color: #446423;
		background-color: #eff5ea;
		color: #3d6611;
	}

	.messages li.success-msg a {
		color: #3d6611;
	}

	/* Notification Message */
	.messages li.note-msg,
	.messages li.notice-msg {
		border-color: #fcd344;
		background-color: #fafaec;
		color: #3d6611;
	}

	.messages li.note-msg a,
	.messages li.notice-msg a {
		color: #3d6611;
	}

	li.method-checkout-cart-methods-onepage-bottom {
		padding-top: 10px;
	}
}

.cart {
	.page-title {
		h1 {
			letter-spacing: -0.05em;
			font-family: $f-stack-vax-sans;
		}
	}

	td.old-price {
		font-size: 12px;
	}

	.with {
		font-size: 14px;

		img {
			margin-top: 1em;
		}
	}
}

table#shopping-cart-table-small {
	td.product-cart-guarantee {
		.guarantee {
			display: none;
		}
	}
}

table.cart-table {
	td.quantity {
		a.item-remove {
			display: block;
			margin-top: 5px;
			color: #000;
			text-decoration: underline;
			font-size: 11px;
			font-family: $f-stack-vax-sans;
		}

		select {
			margin-top: 15px;
		}
	}

	thead th {
		font-family: $f-stack-vax-sans;
		padding: 0;
		font-size: 14px;
		text-transform: none;
		color: $c-gray;
		font-weight: bold;
	}

	tbody {
		td {
			font-family: $f-stack-vax-sans;
		}

		td.last {
			width: 130px;
		}

		td.quantity {
			width: 215px;
		}

		p.old-price {
			font-size: 12px;
		}

		td.last span.cart-price {
			display: inline-block;
			margin-top: 7px;
		}
	}

	.guarantee {
		min-height: 90px;
		background-position: 50% 50%;
	}

	.product-cart-actions {
		float: none;
		margin-left: 0;
		padding-left: 0;
		margin-top: 10px;

		ul.cart-links {
			float: none;
			a.btn-remove {
				background-image: none;
				text-indent: 0;
				text-align: left;
				float: none;
				display: block;
				margin: 0;
				padding: 0;
				font-size: 11px;
				font-family: $f-stack-vax-sans;
				line-height: 12px;
				text-decoration: underline;
				margin-top: 5px;
			}
		}
	}
}

.main-container {
	.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button,
	#threshold-advert .button {
		text-transform: capitalize;
	}
}

.checkout-cart-index .already-own-container,
.checkout-onepage-index .already-own-container,
.checkout-onepage-failure .already-own-container,
.checkout-onepage-success .already-own-container {
	display: none;
	height: 0;
}

.cart {
	.cart-price {
		font-size: 16px;
	}
}

.cart-totals-wrapper .shipping #shipping-methods .delivery-method-price {
	font-size: 14px;
}

@include bp(min-width, $bp-large+1) {
	.checkout-cart-index {
		table.cart-table {
			thead {
				th.cart-price-head {
					padding: 0;
					padding-bottom: 10px;
				}

				th.cart-total-quantity {
					width: 215px;
					padding: 0;
					padding-bottom: 10px;
				}

				th.cart-total-subtotal {
					padding: 0 0 10px;
				}
			}

			td.unit-price {
				width: 188px;
				height: 126px;
				padding: 30px 0 0;
				padding-left: 70px;
				vertical-align: top;
				padding-top: 20px;
			}

			td.quantity {
				padding-left: 36px;
			}

			td.guarantee {
				width: 86px;
			}

			td.last {
				width: 130px;
			}
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.checkout-cart-index #cross-sells .cross-sell div.action {
		float: right;
		text-align: right;
	}

	.checkout-cart-index {
		div#cross-sells {
			div.cross-sell {
				div.price-container {
					margin-left: 8.5%;
				}
			}
		}
	}

	.checkout-cart-index {
		.cart-table {
			thead {
				th.cart-price-head {
					padding-left: 25px;
					padding-bottom: 10px;
				}

				th.cart-total-quantity {
					width: 90px;
					padding: 0 0 10px;
					padding-left: 1px;
				}

				th.cart-total-subtotal {
					padding: 0 0 10px;
				}
			}

			td.unit-price {
				width: 143px;
				padding: 15px 0 0;
				padding-left: 25px;
				vertical-align: top;
				padding-top: 20px;
			}

			td.quantity {
				padding-left: 1px;
			}

			td.guarantee {
				width: 51px;
			}
		}
	}
}

@include bp(min-width, $bp-small+1) {
	.show-for-large {
		display: block;
	}

	.hide-for-large {
		display: none;
	}

	.checkout-cart-index {
		#cross-sells {
			div.cross-sell {
				div.price-container {
					display: block;
					margin-left: 2.5%;
					width: 10%;
				}

				div.action {
					float: right;
				}

				div.inline-price {
					display: none;
				}
			}
		}
	}
}

@include bp(max-width, $bp-medium) {
	.checkout-cart-index {
		#coupon-code .button {
			padding: 7px 3px;
			margin-left: 3px;
		}
	}
}

@include bp(max-width, $bp-small) {
	.show-for-small {
		display: block;
	}

	.hide-for-small {
		display: none;
	}

	table.cart-table {
		display: table;

		.discount-label::before {
			-webkit-transform: skew(-45deg);
			-ms-transform: skew(-45deg);
			left: 12px;
			height: 15px;
		}

		.discount-label::after {
			-webkit-transform: skew(45deg);
			-ms-transform: skew(45deg);
			left: 12px;
			height: 15px;
		}

		tr {
			display: table-row;
		}

		td {
			display: table-cell;
			float: none;

			p.basket-rules {
				width: 95%;
			}
		}

		td.product-cart-image {
			float: none;
		}

		td[data-rwd-label] {
			float: none;
		}

		td[data-rwd-label]:before {
			content: "";
		}

		td.product-cart-guarantee {
			.guarantee {
				display: none;
				background-position: 5px 0;
				width: auto;
				min-width: 55px;
				min-height: 50px;
				position: relative;
				top: 0;
			}
		}

		td.product-cart-info {
			float: none;
			width: 50%;

			.product-name a {
				font-weight: bold;
			}
		}

		td.product-cart-price {
			padding-top: 20px;
			width: 100%;
			text-align: right;

			span.cart-price {
				font-size: 15px;
			}

			p.old-price {
				min-width: 74px;
			}
		}

		td.product-cart-actions {
			padding-left: 5px;

			select {
				font-size: 12px;
			}

			ul.cart-links {
				display: inline-block;
				float: none;

				li {
					display: inline-block;

					a {
						text-indent: 0;
						font-size: 9pt;
						background-image: none;
						width: auto;
						height: auto;
						display: inline-block;
						font-family: $f-stack-vax-sans;
						line-height: 1.3;
						color: #000;
						margin-left: -1em;
					}
				}
			}
		}

		tfoot td {
			display: none;
		}

		tr {
			border-top: 1px solid #E3E5E5;
		}

		tr.even {
			border-bottom: none;
		}
	}
	.checkout-cart-index {
		div.top-header {
			height: 80px;
			line-height: 80px;

			h1 {
				font-size: 30px;
				padding-left: 20px;
				line-height: 80px;
			}
		}

		.main-container {
			padding: 0;

			.main {
				.col-main {
					margin-top: 0;

					.cart-top {
						margin-bottom: 15px;
						padding: 0 20px;

						h2 {
							font-size: 16px;
							font-weight: bold;
						}
					}

					.cart-table {
						border-top: 1px solid #e0dfdf;
						padding: 15px 20px;

						.product-cart-image {
							position: relative;
							width: auto;

							.product-image {
								box-shadow: none;
								border: none;
								padding: 0;

								img {
									width: 60px;
									max-height: 60px;
									border: 5px solid #e6e6e6;
								}
							}
						}

						.additional-info {
							width: 100%;

							span.discount-label {
								width: auto;
								font-size: 12px;
								font-weight: bold;

								&:before, &:after {
									height: 25px;
								}
							}
						}

						.right {
							.product-cart-price, .product-cart-actions {
								float: none;
								text-align: right;
							}

							h2.product-name {
								margin-top: 0;
								line-height: 1;
								font-size: 18px;
								margin-bottom: 15px;
							}
						}

						.product-cart-info {
							text-align: right;
							width: auto;
						}

						.product-cart-price {
							span.price {
								font-size: 20px;
							}

							p.old-price {
								font-size: 12px;

								span.price {
									font-size: 12px;
								}
							}
						}

						span.discount-label {
							font-size: 9px;
							padding: 5px 0 5px 5px;
							line-height: 15px;
							height: 15px;
						}

						span.discount-label.two-lines {
							height: 30px;
						}

						span.discount-label.two-lines:before, span.discount-label.two-lines:after {
							height: 25px;
						}

						span.discount-label.three-lines {
							height: 45px;
						}

						span.discount-label.three-lines:before, span.discount-label.three-lines:after,
						span.discount-label.four-lines-small:before, span.discount-label.four-lines-small:after {
							height: 35px;
							left: 18px;
						}
					}

					.clearfix {
						margin-bottom: 5px;
					}

					.checkout-types {
						.left, .right {
							width: 100%;

							button {
								max-width: 100%;
							}
						}
					}
				}
			}

			.small-update-form {
				border-bottom: 1px solid #e0dfdf;
			}

			.cart-totals-wrapper {
				.subtotal {
					padding: 10px 20px 15px 20px;

					.cart-price {
						font-size: 20px;
					}
				}
			}

			.shipping {
				form {
					padding: 0 20px;
				}

				.delivery-method-price {
					text-align: right;
				}

				.deliverydate {
					width: 100%;
					padding-right: 20px;

					select {
						width: 100%;
					}
				}
			}

			#coupon-code {
				padding: 0 20px;

				.header a {
					color: #58595b;
				}
			}

			div.cart-totals {
				padding: 0 20px;

				#discount-total {
					width: 275px;
				}
			}

			.cart .cart-totals table tfoot td {
				span.price {
					font-size: 30px;
					font-weight: bold;
				}

				&.a-left {
					padding: 10px 0px;
				}
			}

			li.method-checkout-cart-methods-onepage-bottom {
				padding: 0 20px;

				div.left, div.right {
					width: 100%;
					float: none;

					button {
						width: 100%;
						height: 35px;
						line-height: 35px;

						&.checkout-button {
							margin-left: 0;
							margin-bottom: 10px;
						}

						&.checkout {
							margin-left: 0;
							br {
								display: none;
							}
						}
					}
				}
			}
		}

		#coupon-code .button {
			padding: 7px 4px;
			margin-left: 3px;
		}

		#cross-sells {
			div.cross-sell {
				div.info {
					width: 44%;

					a {
						font-size: 12px;
						font-weight: bold;
						line-height: 1;
						width: 100%;
					}
				}

				div.shortdesc p:not(:first-child) {
					display: none;
				}

				div.image {
					border: 0;
					width: 54px;
					margin-left: 5px;
					margin-right: 10px;
					width: auto;

					a {
						width: auto;
					}

					img {
						width: 54px;
						border: 0;
					}
				}

				div.inline-price {
					display: block;
				}

				div.price-container {
					display: none;
				}

				div.action {
					width: 10%;
					float: right;
					margin-left: 0;
					margin-right: 20px;

					button.btn-cart {
						width: 80px;
						height: 30px;
						font-size: 12px;
					}
				}

				div.price-box {
					span.regular-price {
						font-size: 12px;
						font-weight: bold;
					}
				}
			}
		}
	}
}

@include bp(max-width, 320px) {
	.checkout-cart-index {
		.cart-table {
			span.discount-label.four-lines-small {
				height: 55px;
			}
		}
	}
}