<form id="delivery-details-form" class="checkout-form form-inline form-horizontal" novalidate="novalidate" action="post">

    <?php echo $this->getChildHtml('shipping_methods'); ?>
    <?php if(Mage::helper('vax_checkout/checkout')->isStocktakeMessageEnabled()): ?>
        <div class="outlier"><?php echo Mage::helper('vax_checkout/checkout')->getStocktakeMessage() ?></div>
    <?php endif; ?>
    <div class="control-group">
        <label class="control-label" for="address_delivery_postcode">
            <?php echo __('Postcode'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <div class="input-append">
                <input id="address_delivery_postcode" title="<?php echo __('Please enter a valid post code'); ?>" class="postcode span4" type="text" name="address[delivery][postcode]" value="<?php echo $this->escapeHtml($this->getPostcode()); ?>" placeholder="Postcode" maxlength="9" required>
                <button class="btn btn-search-address btn-search-delivery-address btn-selector">Search</button>
            </div>
        </div>

        <a href="" class="btn-manual-entry btn-manual-entry-main">Enter address manually</a>
    </div>

    <fieldset class="address-data" style="display: none;">

        <div class="control-group address-line address-line-1">
            <label class="control-label" for="address_delivery_street_1">
                <?php echo __('Address line 1'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_delivery_street_1" title="<?php echo __('Please enter a street address'); ?>" class="span4" type="text" name="address[delivery][street_1]" value="<?php echo $this->escapeHtml($this->getLine1()); ?>" placeholder="Line 1" required>
            </div>
        </div>

        <div class="control-group address-line address-line-2">
            <label class="control-label" for="address_delivery_street_2">
                <?php echo __('Address line 2'); ?>
            </label>

            <div class="controls">
                <input id="address_delivery_street_2" class="span4" type="text" name="address[delivery][street_2]" value="<?php echo $this->escapeHtml($this->getLine2()); ?>" placeholder="Line 2">
            </div>
        </div>

        <div class="control-group address-search" style="display: none;">

        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_delivery_city">
                <?php echo __('Town / City'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_delivery_city" class="span4" title="<?php echo __('Please enter a town or city'); ?>" type="text" name="address[delivery][city]" value="<?php echo $this->escapeHtml($this->getCity()); ?>" placeholder="Town / City" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_delivery_region">
                <?php echo __('County'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_delivery_region" class="span4" type="text" title="<?php echo __('Please enter a county'); ?>" name="address[delivery][region]" value="<?php echo $this->escapeHtml($this->getRegion()); ?>" placeholder="County" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_delivery_country_id">
                <?php echo __('Country'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <?php if ($this->getCountryOptions()->count() == 1) : ?>
                    <?php $_country = $this->getCountryOptions()->getFirstItem() ?>
                    <input id="address_delivery_country_id" type="text" style="display: none" class="span4" name="address[delivery][country_id]" value="<?php echo $_country->getCountryId() ?>" />
                    <span class="country-single"><?php echo $_country->getName() ?></span>
                <?php else: ?>
                    <select id="address_delivery_country_id" class="span4" name="address[delivery][country_id]" required>
                        <?php foreach ($this->getCountryOptions() as $option) { ?>
                            <option value="<?php echo $option->getCountryId(); ?>" selected>
                                <?php echo __($option->getName()); ?>
                            </option>
                        <?php } ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label">
            </label>

            <div class="controls">
                <a href="javascript:;" class="btn-show-search-address"><?php echo $this->__('Search for address again?') ;?></a>
            </div>
        </div>

    </fieldset>
</form>