<?php
/**
 * $this is @see MageWorx_InstantCart_Block_Wrapper
 */

$product = $this->getProduct();
$requestUrl=$this->getRequest()->getRequestString();
$error = $this->getRequest()->getParam('error');
?>
<div class="icart-messages"><?php echo $this->getMessagesBlock()->getGroupedHtml(); ?></div>

<?php if($product): ?>
<div class="icart-product-detail">
    <div class="image">
        <?php if ($product->getProductUrl()):?><a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($product->getProductName()) ?>" class="product-image"><?php endif;?><img src="<?php echo Mage::helper('catalog/image')->init(Mage::getModel('catalog/product')->load($product->getId()), 'image')->resize(111); ?>" width="111" height="111" alt="<?php echo $this->htmlEscape($product->getProductName()) ?>" /><?php if ($product->getProductUrl()):?></a><?php endif;?>
    </div>
    <div class="name">
        <h2 class="product-name">
        <?php if ($product->getProductUrl()):?>
            <a href="<?php echo $product->getProductUrl() ?>"><?php echo $this->htmlEscape($product->getName()) ?></a>
        <?php else: ?>
            <?php echo $this->htmlEscape($product->getName()) ?>
        <?php endif; ?>
        </h2>
    </div>
    <div class="product-description">
        <?php echo $product->getShortDescription() ?>
    </div>
    <div class="icart-price">
        <div class="title">
            <?php echo Mage::helper('catalog')->__('Price:') ?>
        </div>
        <div class="price-container">
            <?php echo Mage::helper('core')->formatCurrency($product->getFinalPrice()); ?>
        </div>
        <div class="shipping-cost-info">
            <?php echo $this->__('Inc. 19% Tax, ') ?><a href="/liefer-und-zahlungsbedingungen"><?php echo $this->__('Shipping costs excluded') ?></a>
        </div>
    </div>
    <?php if ($product->getTypeId() != "bundle"):?>
        <div class="icart-itemno" style="clear: both;">
            <div class="title"><?php echo $this->__('Artikelnummer:') ?></div>
            <div class="model-no"><?php echo Mage::getModel('catalog/product')->load($this->getProduct()->getId())->getSku(); ?></div>
        </div>
    <?php endif; ?>
</div>
<?php endif; ?>

<div style="text-align: right;" class="icart-shopping-actions">
    <button onclick="iCart.close()" class="button btn-close-icart" title="<?php echo $this->escapeHtml($this->__('Continue Shopping')) ?>" type="button"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
    &nbsp;&nbsp;
    <?php if (strpos($requestUrl, '/addToWishlist/')) { ?>
        <button onclick="location.href='<?php echo $this->getUrl('wishlist/')?>'" class="button" title="<?php echo $this->escapeHtml($this->__('Go to Wishlist')) ?>" type="button"><span><span><?php echo $this->__('Go to Wishlist') ?></span></span></button>
    <?php } elseif (strpos($requestUrl, '/addToCompare/')) {?>
        <?php if ($this->helper('catalog/product_compare')->getItemCount() > 1) { ?>
            <button type="button" title="<?php echo $this->escapeHtml($this->__('Compare')) ?>" class="button" onclick="window.open('<?php echo $this->helper('catalog/product_compare')->getListUrl() ?>','_self')"><span><span><?php echo $this->__('Compare') ?></span></span></button>
        <?php } ?>
    <?php } elseif (strpos($requestUrl, '/add/')) {?>
        <button onclick="location.href='<?php echo $this->getUrl('checkout/cart')?>'" class="button" title="<?php echo $this->escapeHtml($this->__('Go to Shopping Cart')) ?>" type="button"><span><span><?php echo $this->__('Go to Shopping Cart') ?></span></span></button>
    <?php } ?>
</div>

<?php if (!strpos($requestUrl, '/edit/') && $this->helper('icart')->getShowProductsBlock()):?>
    <div class="icart-collaterals">
    <?php echo $this->getChildHtml('crosssell') ?>
    </div>
<?php endif ?>
<script type="text/javascript">
//<![CDATA[
iCart.autoClose(<?php echo (int) Mage::getStoreConfig('mageworx_customers/icart/auto_hide') ?>);
<?php if (!$error): ?>
    <?php if (strpos($requestUrl, '/addToWishlist/')): ?>
        // wishlist
        iCart.updateBlock($$('a.top-link-wishlist'), <?php echo Zend_Json::encode($this->getTopLinkWishlist())?>);
        <?php Mage::unregister('wishlist'); Mage::unregister('shared_wishlist'); ?>
        iCart.placeBlock($$('div.block-wishlist', 'div.mini-wishlist'), <?php echo Zend_Json::encode($this->getChildHtml('wishlist_sidebar'))?>, $$('div.block-cart', 'div.mini-cart'));
    <?php elseif (strpos($requestUrl, '/addToCompare/')): ?>
        // compare
        iCart.replaceBlock($$('div.block-compare', 'div.mini-compare'), <?php echo Zend_Json::encode($this->getChildHtml('catalog.compare.sidebar'))?>);
    <?php else: ?>
    // cart
        //update Cart(Count) link
        iCart.updateBlock($$('a.skip-cart'), <?php echo Zend_Json::encode($this->getTopLinkCart())?>);

        <?php if (preg_match('~/checkout/cart/~', $this->getRequest()->getServer('HTTP_REFERER'))): ?>
            iCart.updateBlock($$('div.cart', 'div.layout-1column'), <?php echo Zend_Json::encode($this->getChildHtml('checkout.cart'))?>);
        <?php else: ?>
            //update cart contents
            iCart.replaceBlock($$('div.block-cart .minicart-wrapper'), <?php echo Zend_Json::encode($this->getChildHtml('cart_sidebar'))?>);
        <?php endif ?>
    <?php endif; ?>

    iCart.updateLinks();
    <?php if (strpos($requestUrl, '/edit/')): ?>iCart.close();<?php endif;
endif;
?>
//]]>
</script>
