.checkout-cart-index,
.catalog-product-view
{
	.crosssell {
        width: 100%;
		clear: both;
		padding: 10px 20px 20px;
		background-color: $c-gray-4;
		float: left;
		margin: 0;
		h2 {
			text-transform: none;
			font-size: 13px;
			line-height: 14px;
			margin-bottom: 20px;
			font-weight: normal;
			color: $c-gray;
            //arrow above crosssells
            &::before {
                content: "";
                display: block;
                position: relative;
                top: -23px;
                left: 20px;
                background: sprite($desktop-icons, dropdown-arrow) no-repeat;
                @include sprite-dimensions($desktop-icons, dropdown-arrow);
            }
		}
        //override default
        ul .item {
            padding-bottom: 0;
        }
		.item {
			clear: both;
			float: left;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid white;
			width: 100%;
			&:first-child {
				margin-top: 0;
				padding-top: 0;
				border-top: none;
			}
			.image {
				float: left;
				a.product-image {
					border: 5px solid darken($c-gray-4, 10%);
					width: 50px;
					height: 50px;
					img {
						border: none;
						box-shadow: none;
						width: 40px;
						height: 40px;
					}
					&:hover, &:active {
						border: 5px solid darken($c-gray-4, 20%);
					}
				}
			}
			.name {
				float: left;
				margin-left: 10px;
                width: 50%;

				a {
					color: black;
					text-transform: none;
					font-size: 14px;
					line-height: 16px;
					font-weight: bold;

					&:hover, &:active {
						text-decoration: underline;
					}
				}

                .shipping-cost-info {
                  a {
                    font-size: $f-size-s;
                    font-weight: normal;
                    text-decoration: underline;
                    color: $c-gray;
                  }
                }

              .price-box {
                .regular-price, .old-price, .special-price {
                  .price {
                    font-size: 14px;
                  }
                }
              }
			}
			.product-details {
				max-width: 35%;
				float: right;
				display: inline-block;

				.price-box {
					float: right;
					width: 49%;
					text-align: right;
					.regular-price, .old-price {
						span {
							float: right;
						}
						.price {
							font-size: 14px;
						}
					}
				}
				.button {
					min-width: 0;
					float: right;
                    clear: right;
					font-size: 10px;
					text-transform: uppercase;
					padding: 5px;
					background-color: $c-green;
					color: white;
					&:hover, &:active {
						background-color: darken($c-green, 10%);
					}
				}
			}
		}
	}
    .replacement-block{
      h2 {
        &:before{
          display: none;
        }
      }
    }
}

/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    .checkout-cart-index,
    .catalog-product-view {
        .crosssell {
            padding: 10px 0 0;
            margin: 0;
            h2 {
                padding: 0 20px;
                font-size: 15px;
                &::before {
                    left: 40px;
                }
            }
            ul .item {
                margin: 0;
                padding: 20px;
            }
            .item {
                .image {
                    a.product-image {
                        width: 70px;
                        height: 70px;
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .name {
                  width: 70%;

                  .price-box {
                    .regular-price, .old-price, .special-price {
                      .price {
                        font-size: 16px;
                      }
                    }
                  }
                }
                .product-details {
                    max-width: none;
                    width: auto;

                    float: right;
                    .price-box {
                        width: 50%;
                        .regular-price, .old-price {
                            span {
                                float: left;
                                padding-left: 22%;
                            }
                        }
                        .regular-price .price {
                            font-size: 16px;
                            line-height: 29px;
                        }
                    }
                    .button {
                        margin: 0;
                        clear: none;
                        float: left;
                        font-size: 12px; 
                    }
                }
            }
        }
        .replacement-block{
          width: 50%;
        }
    }
}