.checkout-cart-index {
    .main-container .main .col-main .cart-table {
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 1px solid $c-gray-4;
    }
    td.discount {
        display: none;
    }
    .cart-table {
        float: none;
        width: 100%;
        display: inline-block;
        a {
            color: $c-gray;
        }
        .row {
            border-top: 1px solid $c-gray-4;
            margin-bottom: 0;
        }
        .headers {
            display: none;
        }
        .body .row {
            width: 100%;
            display: block;
            float: left;
            padding: 20px 20px 10px;
            > div {
                display: inline-block;
                float: right;
                clear: right;
                text-align: right;
            }
            .image {
                float: left;
                a.product-image {
                    border: 5px solid $c-gray-4;
                    width: 70px;
                    height: 70px;
                    img {
                        border: none;
                        box-shadow: none;
                        width: 60px;
                        height: 60px;
                    }
                    &:hover, &:active {
                        border-color: darken($c-gray-4, 10%);
                    }
                }
            }
            .name {
                max-width: 70%;
                margin-bottom: 10px;
                a {
                    color: black;
                    text-transform: none;
                    font-size: 14px;
                    line-height: 16px;
                    &:hover, &:active {
                        text-decoration: underline;
                    }
                }
            }
            .quantity {
                .qty {
                    display: inline-block;
                    clear: both;
                    float: right;
                    margin: 5px 0;
                }
                .item-remove {
                    display: inline-block;
                    clear: both;
                    float: right;
                    color: black;
                    text-decoration: underline;
                    &:hover, &:active {
                        text-decoration: none;
                        color: $c-red;
                    }
                }
            }
            .pricing {
                //normal price
                .cart-price span.price {
                    font-weight: bold;
                    font-size: 18px;
                }
                //old price
                .old-price {
                    color: $c-gray;
                    span.price {
                        text-decoration: line-through;
                        font-size: 12px;
                        &::before {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .product-cart-price .price {
            font-weight: bold;
        }
    }

}

@include bp(min-width, $bp-small) {
    .checkout-cart-index {

        .main-container .main .col-main .cart-table {
            margin: 0 0 20px;
        }
        .cart-table {
            .body .row {
                padding: 20px 0 10px;
            }
        }
    }
}

/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    .checkout-cart-index {
        .cart .cart-table {
            .headers {
                display: inline-block;
                width: 100%;
                border: none;
                .header {
                    width: 25%;
                    color: $c-gray;
                    font-weight: bold;
                    border-color: $c-gray-4;
                    display: inline-block;
                    float: right;
                    font-size: 15px;
                    &.cart-price-head {
                        padding-left: 5%;
                    }
                }
            }

            .body .row {
                padding: 20px 0;

                .image {
                    a.product-image {
                        border: 10px solid $c-gray-4;
                        width: 150px;
                        height: 150px;
                        img {
                            width: 130px;
                            height: 130px;
                        }
                        &:hover, &:active {
                            border-color: darken($c-gray-4, 10%);
                        }
                    }
                }
                .name {
                    width: 25%;
                    float: left;
                    text-align: left;
                    padding: 10px 0px 0px 20px;
                    a {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
                .quantity {
                    width: 30%;
                    clear: none;
                    padding-top: 10px;
                    .qty, .item-remove {
                        float: left;
                        margin: 0;
                    }
                }
                .pricing {
                    width: 20%;
                    text-align: left;
                    float: right;
                    padding: 10px 0 0 0;
                    .cart-price span.price {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}


/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, 1031px) {
    .checkout-cart-index {
        .cart .cart-table {
            .headers {
                .header {
                    width: 20%;
                }
            }
            .body .row {
                .name {
                    width: 35%;
                }
                .quantity {
                    width: 20%;
                }
                .pricing {
                    width: 20%;
                    padding: 10px 0 0 5%;
                }
            }
        }
    }
}

html:lang(de) {
  .checkout-cart-index {
    .product-name .sku,
    .name .sku{
      text-transform: none;
    }
  }
}


