//bestsellers block on cart page
.checkout-cart-index {
	.bestsellers {
        border-top: 1px solid $c-gray-4;
        h3 {
            padding: 10px 20px;
        }
		.section-title {
            text-align: left;
            font-size: 16px;
        }
        .arrow {
            z-index: 9;
        }
	}
}

@include bp(min-width, $bp-xsmall) {
	.checkout-cart-index {
        .bestsellers {
            padding: 0 30px;
        }
	}
}
@include bp(min-width, $bp-small) {
    .checkout-cart-index {
        .bestsellers {
            padding: 0 30px;
            margin-left: -20px;
            width: 107%;
        }
    }
}
@include bp(min-width, $bp-medium) {
    .checkout-cart-index {
        .bestsellers {
            background-color: $c-gray-4;
            border-top: none;
            margin-left: 0;
            width: auto;
            .section-title {
                padding: 20px;
                text-align: center;
            }
            .arrow {
                &.prev {
                    left: 20px;
                    background: sprite($desktop-icons, slider-arrow-left) no-repeat;
                    @include sprite-dimensions($desktop-icons, slider-arrow-left);
                    &.nomore {
                        background: sprite($desktop-icons, slider-arrow-left) no-repeat;
                    }
                }
                &.next {
                    right: 20px;
                    background: sprite($desktop-icons, slider-arrow-right) no-repeat;
                    @include sprite-dimensions($desktop-icons, slider-arrow-right);
                    &.nomore {
                        background: sprite($desktop-icons, slider-arrow-right) no-repeat;
                    }
                }
            }
            .outer-box {
                width: 610px;
                ul.mini-products-list {

                    li.product {
                        width: 190px;
                        a.product-image {
                            height: 190px;
                        }
                        /* revert to normal, from mobile version */
                        &:nth-child(odd) {
                            margin-right: 20px;
                        }
                        &:nth-child(even) {
                            float: left;
                            margin-right: 20px;
                        }
                        &:nth-child(3n) {
                            margin-right: 0px;
                        }
                        &:nth-child(3n+1) {
                            clear: right;
                        }
                        &:nth-child(4n+1) {
                            clear: none;
                        }
                    }
                }
            }
        }
    }
}

/* ============================================ *
 * Cart - Medium View Port
 * ============================================ */
@include bp(min-width, 1031px) {
	.checkout-cart-index {
        .bestsellers {
            width: 55%;
            clear: none;
            float: left;
            padding-bottom: 30px;
            .section-title {
                padding: 20px 0 20px 50px;
                text-align: left;
            }
            .outer-box {
                width: 361px;
                ul.mini-products-list {
                    li.product {
                        width: 170px;
                        &:nth-child(even) {
                            margin-right: 0;
                        }

                        a.product-image {
                            height: 170px;
                        }
                        /* revert to normal, from mobile version */
                        &:nth-child(odd) {
                            margin-right: 20px;
                        }
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        &:nth-child(3n) {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
	}
}
