/* ====================================================== *
 * Checkout onepage success newsletter form - General
 * ====================================================== */
//steps progress bar in the header
#top .checkout-onepage-success {
	.main-container {
		padding: 20px 0px;
	}
	.page #checkout-header {
		padding: 0;
		line-height: 20px;
		h1 {
			line-height: 20px;
			font-size: 20px;
			padding: 25px 20px;
			width: 100%;
            position: relative;

          &:after {
            content: "";
            position: absolute;
            right: 20px;
            top: 5px;
            background: url('../images/template/success-icon.png') no-repeat;
            height: 52px;
            width: 52px;
            background-size: contain;
          }
		}
	}
	#checkout-wrapper #leader.checkout-success-wrapper {
		border: none;
		padding: 0;
		margin: 0;
		h2 {
			margin: 0;
			padding: 20px;
		}
		#delivery-date {
			h3 {
				padding: 19px 20px;
				line-height: 20px;
				border: none;
				margin: 0;
			}
		}
		h3.what-happens-next {
			padding: 20px;
			margin: 0;
		}
		h4 {
			padding: 0 20px;
		}
	}
	#checkout-steps #progress-bar {
		margin: 0;
		.checkout-steps-header {
			&:nth-child(1) .checkout-steps-title h2 {
				padding-left: 20px
			}
			&:nth-child(2) .checkout-steps-title {
				background-color: $c-blue;
			}
		}
	}

	#newsletter {
		margin: 0;
		padding: 20px 20px 10px;
		h4 {
			font-size: 18px;
			font-weight: bold;
			line-height: 21px;
			margin: 0;
			text-align: left;
		}

		.form-signup {
			margin: 10px 0 0 20px;
			input {
				width: 100%;
				display: inline-block;
				float: left;
				height: 35px;
				line-height: 35px;
				margin: 0;
				border-radius: 0;
			}

			.v-fix {
				width: 100%;
				/*email box validation advice*/
				&.box {
					.validation-advice {
						position: relative;
						width: 75%;
						text-align: left;
						margin-left: 7%;
						margin-top: 2.75em;
					}
				}
			}

			.buttonwrap {
				width: 100%;
				text-align: left;
			}

			button {
				width: auto;
			}
		}
	}

	.side-space {
		padding: 0px 20px;
		max-width: 100%;
		display: block;
	}
	#checkout-wrapper a.link-print {
		width: 100%;
		display: inline-block;
		padding: 0px 10px;
		color: white;
		background-color: $c-green;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		line-height: 33px;
		&:hover, &:active {
			background-color: darken($c-green, 10%);
		}
	}
}

@include bp(min-width, $bp-medium + 1) {

	#top .checkout-onepage-success {
		.main-container {
			padding: 0;
		}
		.page #checkout-header {
			padding: 0;
			line-height: 30px;
			h1 {
				line-height: 30px;
				font-size: 30px;
				padding: 20px 30px;
			}
		}

		#checkout-wrapper {
			#checkout-steps {
				#progress-bar {
					.checkout-steps-header {
						&:nth-child(1) .checkout-steps-title h2 {
							padding-left: 30px
						}
					}
				}
			}
			 #leader.checkout-success-wrapper {
				h2 {
					margin: 0;
					padding: 20px 30px;
				}
				h3.what-happens-next {
					padding: 20px 30px;
				}
				h4 {
					padding: 0 30px;
					margin: 0 0 20px;
				}
			}
		}
		#newsletter {
			margin: 0;
			padding: 20px 30px;
			width: 100%;
			h4 {
				padding: 0 0 20px;
			}
			.form-signup {
				margin: 0;
				padding: 0;
				width: 100%;
				input {
					width: 100%;
				}
				.v-fix {
					width: 40%;
					/*email box validation advice*/
					&.box.validation-advice {
							width: 100%;
							top: 5px;
					}
				}
				.buttonwrap {
					width: 50%;
					button {
						width: auto;
					}
				}
			}
		}

		#checkout-wrapper a.link-print {
			width: auto;
			position: absolute;
			right: 0px;
			margin-top: -53px;
		}

		#order-summary {
			margin: 0;
			#cart-summary {
				td.qty {
					width: 70px;
					padding: 15px 0;
				}
				td {
					padding: 15px 0 15px 20px;
				}
			}
		}
	}
}
@include bp(min-width, 1031px) {
	#top .checkout-onepage-success {
		#checkout-wrapper {

			#leader.checkout-success-wrapper {
				h2 {
					padding: 20px 0;
				}
				h3.what-happens-next {
					padding: 20px 0;
				}
				h4 {
					padding: 0;
				}
			}
		}
		#newsletter {
			padding: 20px 0;
		}
	}
}
