#checkout-header {
    width: 100%;
    background: $c-purple;
    height: 70px;
    line-height: 70px;

    h1 {
        line-height: 70px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-transform: none;
        padding-left: 20px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            right: 40px;
            top: 10px;
            background: url('../images/template/checkout-icon.png') no-repeat;
            height: 52px;
            width: 52px;
            background-size: contain;
        }
    }
}


//header, footer and column layout
.checkout-onepage-index,
.checkout-onepage-failure,
.checkout-onepage-success {
    color: $c-gray;

    // Checkout Header
    .pre-footer-container {
        display: none;
    }

    .page {
        position: relative;

        .col-main {
            width: 100%;
            padding-top: 0;
            position: relative;
            float: left;
        }

        .col-right {
            width: 100%;
	        margin-bottom: 10px;
        }
    }

    .main-container {
        padding: 0;
        position: relative;
        margin: 20px auto 0;

        .main {
            width: 100%;
        }
    }
}

.checkout-onepage-success {
    .col-main {
        width: 100%;
    }
}

@include bp(min-width, $bp-small+1) {
    #checkout-header h1 {
        font-size: 30px;
    }
}

@include bp(min-width, $bp-medium + 1) {
    .col-main {
        width: 100%;
    }
    #checkout-header h1 {
        padding-left: 30px;
    }

    #nav {
        top: 155px;
    }
    .checkout-onepage-index,
    .checkout-onepage-failure {
        .page {
            .col-main {
                width: 63%;
            }

            .col-right {
                width: 37%;
	            #order-summary {
		            max-width: 355px;
	            }
            }
        }
    }
}
