//checkout steps - across all checkout sub-pages
#checkout-wrapper #checkout-steps {
	.step, .step:last-of-type {
		border: none;
	}
	#progress-bar {
		margin-bottom: 20px;
		margin-left: 20px;
		overflow: hidden;

		.checkout-steps-header {
			margin: 0;
			padding: 0;
			display: inline-block;
			float: left;
			&:first-child .checkout-steps-title .icon {
				border-color: transparent transparent transparent $c-gray-4;
			}
			&:nth-child(2) .checkout-steps-title .icon {
				border-color: transparent transparent transparent $c-gray-4;
			}
			&:last-child .checkout-steps-title {
				background-color: transparent;
			}
			.checkout-steps-title {
				position: relative;
				overflow: hidden;
				background-color: $c-gray-4;
				padding-right: 3px;
				&.step-3 {
					background-color: white;
				}
				.title {
					font-size: 11px;
					text-transform: none;
					color: $c-gray;
					background-color: $c-gray-4;
					line-height: 10px;
					padding: 10px 8px;
					margin: 0;
					display: inline-block;
					float: left;
				}
				&.step-active .title {
					background-color: $c-blue;
					color: white;
				}
				//arrow
				.icon {
					margin-left: -2px;
					float: left;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 15px 0 15px 15px;
					position: relative;
					z-index: 2;
				}
				&.step-active .icon {
					border-color: transparent transparent transparent $c-blue;
				}
				&.step-inactive .icon {
					border-color: transparent transparent transparent $c-gray-4;
				}
				&.step-prev {
					background-color: $c-blue;
					.icon {
						border-color: transparent transparent transparent $c-gray-4;
					}
				}
				&.step-1.step-visited:not(.step-prev) {
					background-color: $c-gray-4;
					.icon {
						border-color: transparent transparent transparent $c-gray-4;
					}
				}
				.icon-back {
					content: '';
					position: absolute;
					z-index: 1;
					top: -3px;
					right: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 18px 0 18px 18px;
					border-color: transparent transparent transparent white;
				}
			}
		}
	}
}

// end of progress bar in the header

//checkout onepage - payment steps
.checkout-onepage-index {
	.step-content h2 {
		font-size: 18px;
		font-weight: bold;
		text-transform: none;
		color: black;
		margin-bottom: 20px;
      .tooltips {
        margin: 5px 0 0 0;
        position: relative;
        color: #111;
        background: #ffff00;
        padding: 5px 10px;
        font-size: 12px;
        display: inline-block;
        a{
          text-decoration: none;
        }
      }
	}

	hr {
		display: none;
	}

	//form
	#checkout-wrapper {
		background-color: transparent;
		#checkout-content-wrapper {
			select option {
				padding: 10px;
			}

			input,
			option,
			select {
				width: 100%;
				line-height: 35px;
				height: 35px;
				margin: 0;
				padding: 0 10px;
			}
			.control-group {
				clear: both;
				margin: 0 auto 20px;
				float: left;
				width: 100%;
				label {
					color: black;
				}
				input, select {
					width: 100%;
				}
				input#contactDetails_street_1, input#address_billing_street_1 {
					width: 80%;
					float: left;
				}
				span#contactDetails_street_1-error, span#address_billing_street_1-error {
					position: absolute;
					top: 35px;
				}
				input#contactDetails_street_2, input#address_billing_street_2 {
					width: 17%;
					float: left;
                    margin-left: 3%;
				}
			}
			fieldset {
				clear: both;
			}
			.controls {
				clear: both;
				#agree-toc, .agree-toc {
					float: left;
				}
			}
			em.required {
				display: inline;
				margin-left: -3px;
			}

			input[type="radio"] {
				height: auto;
				margin-right: 10px;
			}

			input[type="checkbox"] {
				height: auto;
				width: auto;
				margin-right: 10px;
			}
			.form-signup {
				input {
					margin-bottom: 0;
				}
				button {
					color: white;
				}
			}

			input#agree-toc {
				height: 20px;
				margin-right: 10px;
			}
			.delivery-options {
				margin-bottom: 15px;
			}
			input.ignore,
			input#contactDetails_createAccount,
			input#address_delivery_shipping_method,
			input#contactDetails_shipping_method,
			input#address_delivery_postcode,
			input#address_delivery_shipping_date,
			input.pay-method {
				width: 20px;
				height: 20px;
				float: left;
				line-height: 35px;
				display: inline-block;
				margin-right: 10px;
			}

			.delivery-date {
				margin-left: 0;
			}

			span.comment {
				display: block;
				width: 100%;
				position: static;
				padding: 10px 0;
			}

			select#address_id {
				width: 55%;
				height: 35px;
			}

			#address_billing_useDeliveryAddress {
				height: 10px;
			}
			.checkout-promo {
				display: none;
			}
			.fullsize {
				width: 100%;
			}
			#billing-payment-details-form .payment-form div.cvv-help {
				width: 100%;
				font-size: 11px;
				margin: 0 0 10px;
			}
			#contact-shipping-form {
				.control-group.shipping-select {
					.controls {
						margin: 0;
						#shipping-address-select {
							width: 100%;
						}
					}
				}
			}

			.order-failure {
				.btn-try-again {
					background-color: $c-red;
					border-radius: 0;
					text-transform: uppercase;
					padding: 5px 10px;

					&:hover {
						text-decoration: none;
						background-color: darken($c-red, 5%);
					}
				}

				.title {
					margin: 15px 0 20px;
				}
			}

			#checkout-steps-wrapper {
				clear: none;

				#checkout-steps {
					.btn-next .icon {
						display: none;
					}
				}

				.checkout-steps-actions {
					.btn {
						width: 100%;
						margin: 0;
						padding: 10px 0;
					}

					.btn-success {
						margin-bottom: 20px;
					}
				}

				.shipping-method {
					float: left;
					width: 100%;
					.method {
						padding-top: 5px;
                        input{
                          display: none;
                        }
					}
					.price {
						color: $c-red;
					}
				}

				div.checkout-promo {
					float: right;
				}
			}
		}

		#checkout-steps {
			.step-wrapper {
				margin-bottom: 0;
				&.step-visited, &.step-inactive {
					display: none;
				}
			}
			//payment methods
			#payment-methods-wrapper {
				.control-group.payment-method {
					margin: 0;
					border-top: 1px solid $c-gray-4;
					padding: 20px 0;
				}

				.control-group {
					.controls {
						margin: 0;
						position: static;
						input {
							margin: 0;
							padding: 0;
							width: 20px;
						}
						label {
							width: 90%;
							padding: 0;
							margin: 0;
							line-height: 20px;
							color: $c-gray;
							font-weight: normal;
						}
						.label-commerzbank_posh::before {
							content: "";
							display: inline-block;
							float: left;
							margin-right: 15px;
							width: 158px;
							height: 23px;
							background-image: url('/skin/frontend/dirtdevil_rwd/de/images/checkout/icons/kreditkarte.png');
						}
						.label-paypal_express::before, .label-paypal_standard::before {
							content: "";
							display: inline-block;
							float: left;
							margin-right: 15px;
							width: 112px;
							height: 27px;
							background-image: url('/skin/frontend/dirtdevil_rwd/de/images/checkout/icons/paypal-logo.jpg');
						}
						span.help-inline {
							position: absolute;
							top: -20px;
							text-align: left;
							display: block;
							width: 100%;
							font-size: 13px;
						}
					}
					&.error {
						.controls {
							label {
								width: auto;
								clear: none;
							}
						}
					}
				}
				.controls-tac {
					padding: 20px 0;
					height: 15px;
					display: inline-block;
					width: 100%;
					float: left;
					border-top: 1px solid $c-gray-4;
					margin: 0 0 30px;
					a {
						color: $c-red;
					}
					input#agree-toc {
						width: 20px;
						height: 20px;
					}
					label {
						font-weight: bold;
						width: 45%;
						clear: none;
						text-align: left;
						padding: 0 0 0 5px;
					}
					span.help-inline {
						clear: none;
						float: right;
						width: 40%;
						text-align: right;
						line-height: 13px;
						color: $c-red;
					}
				}
			}

          div.form-list {
            div.dob-day {
              margin-left: 10px;
            }

            label[for="day"], label[for="month"], label[for="year"] {
              text-align: center;
            }
          }
		}


	}

	//validation advice
	input:not(#address_delivery_postcode):not(#address_billing_postcode) ~ span.help-inline, select ~ span.help-inline {
		margin-top: 0;
	}

	//summary
	#checkout-sidebar {
		#order-summary table {
			border-bottom: 1px solid white;
			th,
			td {
				padding: 20px;

				* {
					margin: 0;
					padding: 0;
				}

				.savings {
					padding: 10px 0 10px 10px;
				}
			}
			th.summary {
				padding: 20px 0px 20px 20px;
			}

			td.price {
				width: 50%;
			}

			tr td.grand-total {
				.price {
					font-size: 22px;
				}
			}
			tr td.grand-total-label {
				width: 100%;
			}
			tr.sidebar-total {
				td {
					padding: 5px 20px;
				}
				&.subtotal td {
					padding-top: 20px;
				}
				& ~ tr.sidebar-total:last-child td {
					padding-bottom: 20px;
				}
			}

			th.edit-action {
				padding: 0;
				padding-right: 20px;
				line-height: 1.25;
				color: $c-black;
				a {
					margin-right: 0;
					color: $c-black;
				}
			}
		}
		#summary-switcher {
			color: $c-black;
			padding: 10px 20px;
			display: inline-block;
			text-decoration: underline;
			&:hover, &:active {
				text-decoration: none;
			}
		}
	}

	//login link
	.sidebar {
		.block {
			&:last-of-type {
				border: none;
			}
			//override Magento's styling
			&:not(.block-layered-nav) {
				.block-title > strong {
					text-transform: none;
					color: black;
					text-decoration: underline;
					background-color: white;
					border: none;
					padding: 0px 20px;
					&:hover, &:active {
						background-color: white;
						text-decoration: none;
					}
					&::after {
						display: none;
					}
				}
				.block-content {
					padding: 20px;
					background-color: $c-gray-4;
					margin: 10px 0;
					input {
						width: 100%;
						border-radius: 0;
					}
					a {
						color: black;
						text-decoration: underline;
						margin-bottom: 10px;
						&:hover, &:active {
							text-decoration: none;
						}
					}
					button {
						padding: 1px 15px 0;
						background-color: $c-gray;
						line-height: 30px;
						width: auto;
						color: white;
						&:hover {
							background-color: darken($c-gray, 5%);
						}
					}
				}
			}
		}
		.block-login {
			.block-title {
				text-transform: none;
				color: black;
				text-decoration: underline;
				&:hover, &:active {
					text-decoration: none;
				}
			}
		}
	}
}

.opc-block-progress-step-login {
	display: none;
}


@include bp(max-width, 320px) {
    html:lang(de) {
        .checkout-onepage-index {
            #checkout-wrapper {
                #checkout-content-wrapper {
                    #checkout-steps-wrapper {
                        .checkout-steps-actions {
                            .btn-success[data-submit="payment-details"] {
                                padding: 10px 0 18px 0px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-xsmall + 1) {
	.checkout-onepage-index #checkout-wrapper #checkout-content-wrapper {
		option,
		select {
			width: auto;
		}

		span.comment,
		input,
		input#address_delivery_postcode,
		input#address_billing_postcode {
			width: 100%;
		}

		input, select {
			width: 55%;
		}
		.control-group {
			input#contactDetails_street_1, input#address_billing_street_1 {
				width: 45%;
			}
			span#contactDetails_street_1-error, span#address_billing_street_1-error {
				position: static;
				float: right;
				width: 40%;
			}
			input#contactDetails_street_2, input#address_billing_street_2 {
				width: 9%;
				float: left;
                margin-left: 1%;
			}
		}
		#checkout-steps-wrapper
		.checkout-steps-actions .btn {
			width: auto;
			padding: 10px;
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	//header steps arrows across all checkout pages
	#checkout-wrapper #checkout-steps {
      .tooltips {
        max-width: 66%;
        display: block;
      }
		#progress-bar {
			margin: 0;
			.checkout-steps-header .checkout-steps-title {
				position: relative;
				padding-right: 5px;
				.title {
					font-size: 16px;
					padding: 20px 10px;
				}
				&.step-1 .title {
					padding-left: 30px;
				}

				//arrow
				.icon {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 25px 0 25px 25px;
				}
				.icon-back {
					width: 0;
					height: 0;
					top: -5px;
					right: 0px;
					border-style: solid;
					border-width: 30px 0 30px 30px;
					border-color: transparent transparent transparent white;

				}
              .checkout-steps-title {
                .title {
                  font-size: 12px;
                  text-transform: none;
                  color: $c-gray;
                  background-color: $c-gray-4;
                  line-height: 10px;
                  padding: 10px;
                  margin: 0;
                  display: inline-block;
                  float: left;
                }
              }
			}


		}

		//step content
		.step-wrapper {
			margin: 0 30px;
			.error-block {
				margin-top: 20px;
			}
		}
	}

	//step content
	.checkout-onepage-index {
		.step-content h2 {
			margin: 20px 0;
		}
		#checkout-wrapper {
			#checkout-content-wrapper {
				.controls {
					clear: none;
					input, select {
						width: 55%;
					}
					input#address_billing_postcode {
						width: 55%;
					}
				}
			}

			//payment methods step
			#checkout-steps #payment-methods-wrapper {
				margin-top: 40px;
				.control-group .controls {
					label {
						margin: 0px 0px 0px 15px;
					}
					span.help-inline {
						top: -25px;
						font-size: 14px;
						left: 10px;
					}
				}
				.controls-tac {
					label {
						font-weight: bold;
						margin-left: 7px;
					}
				}
			}
		}
	}

	#checkout-sidebar {
		//customer login in sidebar
		.block:not(.block-layered-nav) .block-content {
			padding: 0;
			margin: 0;
		}
		.checkout-login {
			padding: 20px;
			margin: 0;
			border-bottom: 20px solid white;
			.block-title {
				font-size: 20px;
				color: $c-gray;
				text-decoration: none;
				margin-bottom: 15px;
				strong {
					color: $c-gray;
					text-transform: none;
					line-height: 1em;
					font-size: 20px;
				}
			}
			input {
				width: 100%;
				background-color: white;
				border-radius: 0;
				border: 1px solid $c-gray-4;
				color: $c-gray;
				font-size: 12px;
				height: 30px;
				line-height: 30px;
			}
			.actions {
				margin: 10px 0 0;
				> a {
					margin: 0;
					line-height: 30px;
				}
			}
		}
		//cart summary in sidebar
		#cart-summary {
			padding: 0;
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	.checkout-onepage-index #checkout-wrapper #checkout-steps .checkout-steps-header .checkout-steps-title .title {
		font-size: 22px;
		padding: 20px;

	}
}

@include bp(min-width, 1031px) {
	.checkout-onepage-index #checkout-wrapper #checkout-steps .step-wrapper {
		margin: 0;
	}
}
