/* ============================================ *
 * Cart - General
 * ============================================ */

#header .skip-links .skip-link .label {
	display: none;
}
.promo-area {
	float: left;
	width: 60%;
}

.cart-message p {
	padding: 5px 15px 5px 32px;
	color: $c-red;
	position: relative;
}

.item-msg.notice {
	margin-top: 10px;
	color: $c-red;
}

.cart-notice{
  display: block;
  width: 100%;
  background: #4c9d2f;
  padding: 10px 20px 10px 30px;
  clear: both;
  font-size: 16px;
  font-family: $f-stack-special;
  font-weight: bold;
  border-bottom: 20px solid #fff;
  h3{
    color: #fff;
    margin: 0;
  }
  h4{
    color: #fff;
    font-size: 8px;
    padding-top: 10px;
  }
}

.product-name,
.name{
  .sku{
    display: block;
    clear: both;
    font-size: 13px;
  }
}


@include bp(max-width, $bp-medium) {
  #header .skip-link{
    min-height: 50px;
    display: block;
  }
}

/* ============================================ *
 * Icons
 * ============================================ */
.icon-secure-shopping {
	background: url("../images/checkout/delivery-icons.png") no-repeat;
	width: 68px;
	height: 68px;
	display: inline-block;
}

.icon-free-delivery {
	background: url("../images/checkout/delivery-icons.png") no-repeat;
	width: 68px;
	height: 68px;
	display: inline-block;
	background-position: -142px 0;
}

.icon-free-returns {
	background: url("../images/checkout/delivery-icons.png") no-repeat;
	width: 68px;
	height: 68px;
	display: inline-block;
	background-position: -285px 0;
}

.cart-payment-options .icons {
	display: none;
}

.checkout-cart-index {
	// response error and success messages
	.messages {
		* {
			font-size: 17px;
		}

		//remove little arrow in the left before the error/success message
		ul {
			margin: 0;
			padding: 0;
			li.success-msg,
			li.error-msg {
				padding: 10px;
				border-color: transparent;
				margin: 0 0 20px;

				span {
					padding-left: 0;
				}
				li {
					height: 50px;
					padding: 10px 20px;
					margin: 0;

					span {
						padding: 0;
					}
				}
				li::before {
					display: none;
				}
				> li {
					border: none;
				}
			}

			li.notice-msg li {
				border: 1px solid $c-gray-4;
				background: none;
				padding-left: 32px;

				&:before {
					border-style: none;
					content: " ";
					height: 18px;
					width: 18px;
					background-position: -131px -250px;
					position: absolute;
					top: 40%;
					left: 10px;
				}

				span {
					color: $c-red;
				}
			}

			li li {
				height: 50px;
				padding: 15px 0 15px 20px;
				margin: 0;
			}
		}
	}
	//page
	.wrapper {
		min-width: 0;
	}
	//empty basket header
	.page-title h1 {
		text-transform: none;
		color: black;
		padding: 0 20px 20px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          right: 40px;
          top: 10px;
          background: url('../images/template/cart-icon.png') no-repeat;
          height: 52px;
          width: 52px;
          background-size: contain;
        }
	}
	.top-header {
		width: 100%;
		background: $c-purple;
		height: 70px;
		line-height: 70px;
		max-width: none;
		min-width: 0;
		h1 {
			line-height: 70px;
			font-size: 20px;
			color: white;
			font-weight: bold;
			text-transform: none;
            position: relative;

          &:after {
            content: "";
            position: absolute;
            right: 40px;
            top: 13px;
            background: url('../images/template/cart-icon.png') no-repeat;
            height: 45px;
            width: 45px;
            background-size: contain;
          }
		}
	}
	.main-container {
		padding: 20px 0;

		.main .col-main {
			//number of items
			.cart-top h2 {
				font-size: 14px;
				margin: 0;
			}
			.cart-empty {
				padding: 0 20px 10px;
			}

			//full basket
			.checkout-types .left,
			.checkout-types .right {
				width: 100%;
				padding: 0 20px 10px;
				button {
					width: 100%;
					margin: 0;
				}
			}
			.method-checkout-cart-methods-onepage-bottom {
				padding: 0;
			}
			.checkout-button {
				line-height: 18px;
				padding: 0 0 0 15px;
				min-height: 40px;
				font-size: 16px;
				max-width: none;
			}
			.clearfix {
				margin-bottom: 15px;
			}

			.savings-row {
				width: 100%;
				display: block;
				float: left;
				padding: 0 20px;
				span.discount-label {
					font-size: 18px;
					line-height: 18px;
					height: auto;
					text-transform: uppercase;
					text-align: center;
					padding: 10px 0;
				}

				.savings-block {
					margin: 0;
				}
				.discount-label,
				span.discount-label.two-lines,
				#discount-total {
					background-color: $c-blue;
					color: white;
					float: left;
					font-weight: normal;
					height: auto;
					margin-top: 5px;
					padding: 5px 0 5px 10px;
					position: relative;
					line-height: 20px;
					font-size: 18px;
					box-sizing: content-box;
					z-index: 1;
					width: 93%;
					//add ribbon form
					&::before {
						content: "";
						position: absolute;
						left: 18px;
						width: 100%;
						height: 100%;
						top: 0px;
						background-color: $c-blue;
						transform: skew(-25deg);
						z-index: -1;
					}
					&::after {
						background-color: $c-blue;
						transform: skew(25deg);
						width: 100%;
						content: "";
						position: absolute;
						left: 18px;
						height: 100%;
						top: 0px;
						z-index: -1;
					}
				}
			}
		}
	}

	/* Coupon code */

	#coupon-code {
		.header {
			background-color: $c-gray-4;
			border-radius: 0;
			padding: 7px 13px;
			font-size: $f-size;
			color: $c-gray;
			font-weight: bold;

			a {
				text-decoration: underline;
				color: $c-gray;
				&:hover, &:active {
					text-decoration: none;
				}
			}
		}
		input {
			width: 46%;
            border-radius: 4px;
		}
		.button {
			width: 49%;
			text-transform: uppercase;
			background-color: $c-red;

			&:hover {
				background-color: darken($c-red, 10%);
			}
		}

		.validation-advice {
			display: block;
			float: left;
			clear: both;
		}
		.desc {
			padding: 10px 0 10px 10px;
		}
	}

    .aw_giftcard{
      margin: 10px 0 0 0;
      h2{
        background-color: #E3E5E6;
        border-radius: 0;
        padding: 7px 13px;
        font-size: 14px;
        color: #59595B;
        font-weight: bold;
        text-decoration: underline;
        text-transform: none;
      }
      form {
        padding: 10px 0 10px 10px;
        label {
          display: block;
          margin-bottom: 5px;
          font: 11px/1.35 Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: normal;
          color: #5a6870;
        }
        input {
          width: 46%;
          line-height: 18px;
          float: left;
          padding: 5px;
        }
        button{
          width: 49%;
          margin: 0;
          text-transform: uppercase;
        }
        button:first-of-type{
          background-color: #CF102D;
          margin-left: 2%;
          color: #fff;
          &:hover{
            background-color: #a00c23;
          }
        }
      }
      #gift-code-toggle{
        cursor: pointer;
      }
      .desc{
        display: none;
      }
    }

	//totals and > checkout buttons
	.cart {
		.cart-totals-wrapper {
			.cart-totals {
				border: none;
				&.clearfix {
					margin: 0;
				}
				table {
					text-transform: none;
					font-size: $f-size;

					td,
					tfoot td,
					td:first-child {
						padding: 15px 5px 15px 0;
					}

					tfoot {
						border-bottom-width: 4px;
						border-top: none;
						strong {
							font-weight: bold;
						}
						td.a-left {
							text-align: left;
							padding: 0px 0px 15px;
						}
					}


				}
				.cart-value.a-left {
					color: black;
					font-weight: bold;
					padding: 15px 0 10px;
				}
				.checkout-types {
					float: left;

					.btn-checkout {
						background: $c-green;
						min-width: 240px;
						position: relative;
						text-align: left;
						height: 50px;
						border-radius: 5px;
						text-transform: none;

						&:hover {
							background: darken($c-green, 5%);
						}
					}
				}
			}
			.subtotal {
				clear: both;
				margin: 0;
				padding: 10px 20px;
				overflow: hidden;
				&.tax {
					overflow: hidden;
					padding: 10px 20px;
					width: 100%;
					.cart-price {
						font-size: 14px;
					}
				}

				.label {
					font-size: $f-size;
					float: left;
					min-width: 120px;
                    &:first-letter{
                      text-transform: uppercase;
                    }
				}

				.cart-price {
					float: right;
					color: #000;
					font-weight: bold;
				}
			}
			.shipping {
				margin: 0;
				padding: 0;
				width: 100%;
				display: inline-block;
				form {
					padding: 0 20px;
				}
				.methods li div {
					display: inline-block;
					vertical-align: top;
				}

				.delivery-method-price {
					color: black;
					font-weight: bold;
					float: right;
					text-align: right;
					font-size: 14px;
					width: 50%;
				}

				.delivery-method-label {
					float: left;
					width: 50%;
					label {
						font-size: $f-size;
						font-weight: normal;
					}
				}

				.deliverydate {
					margin-left: 25px;
					margin-top: -20px;
					label {
						font-size: $f-size-xxs;
					}
				}

				.sp-methods {
					padding: 10px 0 0;
					text-align: left;

					dd {
						margin-bottom: 10px;
					}

					label {
						font-family: inherit;
						font-size: inherit;
						min-width: 100px;

						span {
							font-family: inherit;
							font-weight: bold;
							font-style: normal;
						}
					}
				}

				#co-shipping-method-form {
					ul li div {
						display: inline-block;
						margin-left: -1px;
					}
					ul li .delivery-method-input {
						display: none;
					}

					.buttons-set .button {
						float: left;
						margin-left: 0;
					}

					.sp-methods dd label {
						border: none;
						background-color: transparent;
						min-width: 0;
						font-style: normal;

						&:hover {
							background-color: inherit;
						}
					}
				}
			}
		}
		.with {
			float: left;
			text-align: left;
			color: $c-gray;
			margin-bottom: 30px;
			p {
				font-weight: bold;
			}
		}
		img.cart-info-icons {
			margin-top: 15px;
			margin-bottom: 40px;
		}
	}
}

/* ============================================ *
 * Cart - Medium View Port
 * ============================================ */
@include bp(min-width, $bp-small + 1) {
	#header .skip-links .skip-link .label {
		display: inline-block;
	}
	.checkout-cart-index {
		.top-header h1 {
			font-size: 25px;
			padding: 0 0 20px 20px;
		}
		.main-container {
			padding: 20px;
            overflow-x: hidden;
			.main .col-main {

				.cart-empty {
					padding: 0;
				}
				//product product count
				.cart-top {
					margin-bottom: 20px;
					h2 {
						line-height: 55px;
					}
					//top checkout buttons
					.right {
						width: 53%;
						.checkout-button {
							width: 50%;
							display: inline-block;
							max-width: none;
							position: relative;
							&:first-child {
								margin-right: -2%;
								border-right: 5px solid white;
							}
							&:last-child {
								border-left: 5px solid white;
								right: -2px;
							}
						}
					}
				}

				.checkout-button {
					min-height: 55px;
					font-size: 15px;
					padding: 0 0 0 10px;
				}
				//bottom checkout buttons
				.checkout-types .left,
				.checkout-types .right {
					width: 50%;
					padding: 0;
					button {
						margin: 0 0 0 2px;
					}
				}
				.bottom {
					.checkout-button {
						width: 100%;
						margin: 0;
					}
					.left .checkout-button {
						border-right: 5px solid white;
					}
					.right .checkout-button {
						border-left: 5px solid white;
						margin: 0 0 0 2px;
					}
				}

				.savings-row {
					padding: 0;
					margin-top: 15px;
					.cart-table.savings-block {
						padding: 0;
					}
				}
				//total prices wrapper
				.cart-totals-wrapper {
					width: 100%;
					.subtotal {
						padding: 10px 0;
						&.tax {
							padding: 10px 0;
						}
						&.cart-price {
							width: 130px;
						}
					}
					.shipping form {
						padding: 0;
					}
					.cart-totals table tfoot td.a-left {
						padding: 10px 0;
					}
				}
			}
		}
	}
}

.secure-checkout-small{
  span{
    font-size: 12px;
    display: inline;
    padding: 0 5px;
    position: relative;
    top: -9px;
    font-weight: bold;
  }
  img{
    display: inline-block;
  }
}

/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.checkout-cart-index {
		.top-header h1 {
			font-size: 30px;
			padding: 0 0 20px 30px;
		}
		.main-container {
			padding: 20px 30px;
			.before-main, .pre-footer {
				max-width: none;
			}

			.main .col-main {

				.cart-top {
					h2 {
						line-height: 18px;
						font-size: 18px;
					}
                    // top checkout buttons
					.right {
						width: 50%;
						padding: 0;
						margin: 0;
					}
				}
				.method-checkout-cart-methods-onepage-bottom {
					padding-top: 0;
				}
				.checkout-button {
					padding: 0 15px;
				}
				.cart .cart-totals-wrapper {
						width: 50%;
						padding: 0;
						.subtotal {
							.cart-price {
								font-size: 20px;
								width: 37.5%;
							}
							&.tax .cart-price {
								font-size: 15px;
							}
						}
						.shipping {
							.delivery-method-price {
								font-size: 15px;
								width: 37.5%;
								text-align: left;
							}
						}
						#coupon-code {
							padding-top: 20px;
							border-top: 1px solid $c-gray-4;
							margin: 10px 0 0;
						}
						.cart-totals table tfoot {
							td.a-left {
								padding: 20px 0;
							}
							//"total"
							strong {
								font-size: 22px;
								line-height: 30px;
								vertical-align: bottom;
								font-weight: bold;
							}
							//"price"
							.cart-value {
								width: 37.5%;
								strong {
									font-size: 22px;
									color: black;
									font-weight: bold;
								}
							}
						}
				}
			}
		}
	}

  .secure-checkout{
    span{
      font-size: 12px;
      font-weight: bold;
    }
  }
}

/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, $bp-large + 1) {
	.checkout-cart-index .main-container {
		.main .col-main {
			.checkout-button {
				font-size: 18px;
			}
		}
	}
}

/* ============================================ *
 * Cart - Large View Port
 * ============================================ */
@include bp(min-width, 1031px) {
	.checkout-cart-index .main-container {
		padding: 20px 0;
        .main .col-main {
            .cart-top {
                // top checkout buttons
                .right {
                    width: 40%;
                }
            }
            .cart .cart-totals-wrapper {
                width: 40%;
            }
        }
	}
}
