<?php
/**
 * $this is @var DirtDevil_Widget_Block_HeaderInfoBanner
 */
?>

<div class="header-info-banner<?php if (!$this->getEnabledForMobile()): ?> hide-on-mobile<?php endif; ?>">
    <div class="info-banner-inner">
        <div class="banner-text">
            <?php echo $this->getBannerText() ?>
        </div>
    </div>
</div>
<style type="text/css">
    .banner-text {
        color: <?php echo $this->getBannerTextColor() ?>;
        font-size: <?php echo $this->getBannerTextFontSize() ?>;
    }
    .info-banner-inner{
        background-color: <?php echo $this->getBannerBackgroundColor() ?>;
    }
</style>

