<ul id="checkout-sidebar">
    <?php foreach ($this->getSteps() as $config) { ?>
        <li class="<?php echo $this->getStepClasses($config['index']); ?>" data-step="<?php echo $config['index']; ?>">
            <span class="icon-arrow">
                &nbsp;
            </span>
            <a href="#" title="<?php echo __($config['title']); ?>">
                <span class="icon-numeral">
                    &nbsp;
                </span>
				<?php $pieces = explode(" ", $config['title']); ?>
				<?php if(is_array($pieces) && count($pieces) > 1): ?>
                   	<p><?php echo __($pieces[0]); ?><span class="subtitle"><?php echo $this->__($pieces[1]) ?></span></p>
				<?php else: ?>
					<p><?php echo __($config['title']); ?></p>
				<?php endif; ?>
            </a>
        </li>
    <?php } ?>
</ul>