
<div id="home-panels">
	<h1 class="sub-header"><?php echo $this->__("Steam mops to vacuum cleaners, we've got it covered!") ?></h1>
	<div class="panel-container">
		<?php $panels = array('home_panel_1', 'home_panel_2', 'home_panel_3');
		foreach($panels as $panel):
			if(Mage::getModel('cms/block')->load($panel)->getIsActive()): ?>
				<div class="home-panel-element panel-1">
					<?php echo $this->getChildHtml($panel);?>
				</div>
			<?php endif;
		endforeach;
		?>
	</div>
</div>
