<?php if($this->getBanners()): ?>
	<div class="banner-container">
		<div class="banner-controls">
			<a class="unslider-arrow prev">&nbsp;</a>
			<a class="unslider-arrow next">&nbsp;</a>
		</div>
		<div class="banner">
			<ul>
				<?php foreach ($this->getBanners() as $banner): ?>
					<li><?php echo $banner->toHtml() ?></li>
				<?php endforeach; ?>
			</ul>
		</div>
	</div>
<?php endif; ?>
