<?php if ($this->getFaq() && $this->getFaq() instanceof Varien_Object): ?>
<div class="faq-single<?php if($this->getIsLastFaq()):?> last<?php endif; ?>">
    <h4 class="question"><?php if($this->getLineNumber()): echo $this->getLineNumber() . ". "; endif; ?><a href="#"><?php echo $this->getFaq()->getTitle() ?></a></h4>
    <div class="answer">
        <div class="a">A</div><div class="description"><?php echo $this->getFaq()->getFaqAnswar() ?></div>
    </div>
</div>
<?php endif; ?>
