<?php if ($this->getFaq() && $this->getFaq() instanceof Varien_Object): ?>
<div class="faq-single<?php if($this->getIsLastFaq()):?> last<?php endif; ?>">
    <h4 class="question"><?php echo $this->getFaq()->getTopic()->getTitle() ?></h4>
    <div class="answer">
        <h4><div class="q">Q</div><span><?php echo $this->getFaq()->getTitle() ?></span></h4>
        <div class="a">A</div><div class="description"><?php echo $this->getFaq()->getFaqAnswar() ?></div>
    </div>
</div>
<?php endif; ?>
