<?php
    $_topics = $this->getTopics($this->getPublicOnly(), $this->getQuestionTypes());
?>
<div class="troubleshooting-columns">
    <div id="ajax-loader"></div>
    <div class="column issues">
        <?php if (count($_topics)): ?>
            <ul class="topics">
                <?php foreach ($_topics as $i => $_topic): ?>
                    <li class="topic colour-<?php echo $i%7 ?><?php if ($_topic['topic_id'] == $this->getCurrentTopicId()): ?> active<?php endif; ?>"><span>&nbsp;</span><a href="javascript: getContent('<?php echo $this->getUrl('vaxfaqs/faq/troubleshooting', array('_query' => array('issue' => $_topic['topic_id'], 'check' => 0, 'product' => $this->getProduct()->getId())))?>')"<?php // echo $this->getUrl('*/*/*', array('_current' => true, '_use_rewrite' => true, '_query' => array('issue' => $_topic['topic_id'], 'check' => 0)))?>" title="<?php echo $_topic['topic_title']?>"><?php echo $_topic['topic_title']?></a>
                    </li>

                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <p><?php echo $this->__('Coming soon – please refer to the user guide.') ?></p>
        <?php endif; ?>
    </div>
    <?php if ($this->getCurrentTopicId()): ?>
        <?php $_checks = $this->getQuestions($this->getPublicOnly(), $this->getQuestionTypes()); ?>
        <div class="column checks">
            <?php if ($_checks->count()): ?>
                <ul class="checks">
                <?php foreach ($_checks as $_check): ?>
                    <li class="check<?php if ($_check->getId() == $this->getCurrentQuestionId()):?> active<?php endif; ?>"><a href="javascript: getContent('<?php echo $this->getUrl('vaxfaqs/faq/troubleshooting', array('_query' => array('check' => $_check->getId(), 'product' => $this->getProduct()->getId()))) ?>')" title="<?php echo $this->htmlEscape($_check->getTitle()) ?>"><?php echo $this->htmlEscape($_check->getTitle()) ?></a></li>
                <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
    <?php endif; ?>
    <?php if ($this->getCurrentQuestionId()): ?>
        <div class="column actions">
            <?php $_faq = $this->getFaqAnswer($this->getPublicOnly(), $this->getQuestionTypes()); ?>
            <?php if($_faq && $_faq->hasFaqAnswar()): ?>
                <?php echo $_faq->getFaqAnswar(); ?>
            <?php endif; ?>

            <div class="action-links">
                <p>
                    <?php echo $this->__('Was this helpful to you?') ?>
                    <a href="javascript:void(0)" onclick="new Ajax.Request('<?php echo $this->getUrl('prodfaqs/index/rating') ?>', {'method': 'post','parameters': {'value': 1, 'faq_id': <?php echo $_faq->getFaqsId() ?>},'onComplete': function(transport) {alert(transport.responseText);}});" class="faq-action-helpful" title="<?php echo $this->__('Yes') ?>"><?php echo $this->__('Yes') ?></a>
                    <a href="javascript:void(0)" onclick="new Ajax.Request('<?php echo $this->getUrl('prodfaqs/index/rating') ?>', {'method': 'post','parameters': {'value': -1, 'faq_id': <?php echo $_faq->getFaqsId() ?>},'onComplete': function(transport) {alert(transport.responseText);}});" class="faq-action-not-helpful" title="" id="contact-form"><?php echo $this->__('No') ?></a>
                </p>
            </div>
        </div>
    <?php endif; ?>
    <div id="test_content"></div>
    <div class="clearer"></div>
</div>

<script type="text/javascript">
    function getContent(url) {
        new Ajax.Request(url, {
            onSuccess: function(transport) {
                document.getElementById('tabs-troubleshooting').innerHTML = transport.responseText;
                document.getElementById('ajax-loader').setStyle({left: '-1000px'});
                if (jQuery('.troubleshooting-columns .action-links').length > 0) {
                    jQuery('#live-chat-container').insertBefore('.troubleshooting-columns .action-links');
                    jQuery('#btn-livechat').css("color", "#878787");
                }
            },
            onLoading: function() {
                document.getElementById('ajax-loader').setStyle({left: '50%'});
            },
            evalScripts: true
        });
    }
</script>
