<?php /** Contact Form within the accordion*/ ?>
<div class="accordion-stepcontacts_accordion accordion-step section email_us_step" id="email_us_step">
    <div class="icon email_us_step"></div>
    <h5 class="accordion-title">
        <?php echo Mage::helper('contacts')->__('Email Us') ?>
    </h5>
</div>
<div class="accordion-contentcontacts_accordion accordion-content a-item" style="display: none">
    <div id="contact-wrap">
        <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
            <div class="fieldset">
                <h2 class="first"><?php echo Mage::helper('contacts')->__('Contact details') ?></h2>
                <ul class="form-list">
                    <li class="field">
                        <label for="first_name"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('First Name') ?>
                        </label>
                        <div class="input-box">
                            <input name="first_name" id="first_name"
                                   title="<?php echo Mage::helper('contacts')->__('First Name') ?>" value=""
                                   class="input-text required-entry" type="text"/>
                        </div>
                    </li>
                    <li class="field">
                        <label for="surname"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Surname') ?></label>
                        <div class="input-box">
                            <input name="surname" id="surname"
                                   title="<?php echo Mage::helper('contacts')->__('Surname') ?>" value=""
                                   class="input-text required-entry" type="text"/>
                        </div>
                    </li>
                    <li class="field">
                        <label for="email"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email"
                                   title="<?php echo Mage::helper('contacts')->__('Email') ?>" value=""
                                   class="input-text required-entry validate-email" placeholder="e.g. johndoe@gmail.com" type="text"/>
                        </div>
                    </li>
                    <li class="field">
                        <label for="telephone"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Telephone') ?>
                        </label>
                        <div class="input-box">
                            <input name="telephone" id="telephone"
                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value=""
                                   class="input-text required-entry" type="text"/>
                        </div>
                    </li>
                </ul>
                <h2 class="form-side-heading"><?php echo Mage::helper('contacts')->__('Feedback') ?></h2>

                <p class="advise"><?php echo Mage::helper('contacts')->__('To help us deal with your enquiry as efficiently as possible, please select from one of the options below:') ?></p>
                <ul class="form-list">
                    <li class="field">
                        <label for="subject"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Subject') ?></label>
                        <div class="input-box">
                            <select id="subject" name="subject"
                                    title="<?php echo Mage::helper('contacts')->__('Subject') ?>"
                                    class="input-text required-entry">
                                <option value="">[ <?php echo $this->__("Please select") ?> ]</option>
                                <?php
                                $arr_subject = array(1 => "I am interested in buying one of your products", 2 => "I need some help or have an enquiry");
                                foreach ($arr_subject as $key => $value) {
                                    echo "<option value=\"" . $key . "\">" . $value . "</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </li>
                    <li class="field">
                        <label for="comment"
                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>
                        <div class="input-box">
                            <textarea name="comment" id="comment"
                                      title="<?php echo Mage::helper('contacts')->__('Comment') ?>"
                                      class="required-entry input-text" cols="5" rows="3"></textarea>
                        </div>
                    </li>
                </ul>
                <h2 class="form-side-heading"><?php echo Mage::helper('contacts')->__('Existing customers') ?></h2>
                <div class="checkboxes">
                    <input type="checkbox" name="existing_customer" id="existing_customer" value="1" class="checkbox"
                           onclick="showMe('existing-customer-wrap', this)"/>
                    <p><?php echo Mage::helper('contacts')->__('Is your query is regarding a DirtDevil product that you already own?') ?></p>
                </div>
                <div id="existing-customer-wrap" style="display: none;">
                    <ul class="form-list">
                        <li class="field">
                            <label for="notf"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Subject / Nature of the enquiry') ?></label>
                            <div class="input-box">
                                <input name="notf" id="notf"
                                       title="<?php echo Mage::helper('contacts')->__('Subject / Nature of the fault') ?>" value=""
                                       class="input-text" type="text"/>
                            </div>
                        </li>
                        <li class="field">
                            <label for="model_no"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Model No') ?>
                            </label>
                            <div class="input-box">
                                <input name="model_no" id="model_no"
                                       title="<?php echo Mage::helper('contacts')->__('Model No') ?>" value="<?php echo ($this->getProduct()) ? $this->getProduct()->getData('uk_product_no') : '' ?>"
                                       class="input-text" type="text" placeholder="e.g. DDU03-E01 "/>
                            </div>
                        </li>
                        <li class="field">
                            <label for="serial_no"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Serial No') ?></label>
                            <div class="input-box">
                                <input name="serial_no" id="serial_no"
                                       title="<?php echo Mage::helper('contacts')->__('Serial No') ?>" value=""
                                       class="input-text" type="text" placeholder="e.g. 111316513212012345" />
                            </div>
                        </li>
                        <li class="field">
                            <label for="date_purchased"><?php echo Mage::helper('contacts')->__('Date Purchased') ?>
                            </label>
                            <div class="input-box">
                                <input name="date_purchased" id="date_purchased"
                                       title="<?php echo Mage::helper('contacts')->__('Date Purchased') ?>" value=""
                                       class="input-text" type="text" placeholder="e.g. 25.06.2015"/>
                            </div>
                        </li>
                        <li class="field">
                            <label for="receipt_no"><?php echo Mage::helper('contacts')->__('Receipt No') ?></label>
                            <div class="input-box">
                                <input name="receipt_no" id="reciept_no"
                                       title="<?php echo Mage::helper('contacts')->__('Receipt No') ?>" value=""
                                       class="input-text" type="text"/>
                            </div>
                        </li>
                        <li class="field">
                            <label for="warranty_no"><?php echo Mage::helper('contacts')->__('Warranty No') ?></label>
                            <div class="input-box">
                                <input name="warranty_no" id="warranty_no"
                                       title="<?php echo Mage::helper('contacts')->__('Warranty No') ?>" value=""
                                       class="input-text" type="text"/>
                            </div>
                        </li>
                    </ul>
                </div>

                <h2 class="form-side-heading"><?php echo Mage::helper('contacts')->__('Keep in touch') ?></h2>
                <div class="checkboxes">
                    <input type="checkbox" name="keep_in_touch" id="keep_in_touch" value="1" checked="checked"
                               class="checkbox"/>
                    <p><?php echo Mage::helper('contacts')->__('Do you wish to remain informed of current promotions, news and Dirt Devil products via email?') ?></p>
                </div>

            </div>
            <div class="buttons-set form-buttons btn-only">
                <input type="text" name="hideit" id="hideit" value="" style="display:none !important;"/>
                <button type="submit" class="button"
                        title="<?php echo Mage::helper('contacts')->__('Submit') ?>"><?php echo Mage::helper('contacts')->__('Submit') ?></button>
            </div>
            <p class="terms"><?php echo $this->__('By submitting this form you agree to the terms of our') ?> <a
                    href="<?php echo Mage::getBaseUrl().'privacy-policy' ?>"
                    title"<?php echo $this->__('Privacy policy') ?>"><?php echo $this->__('privacy policy') ?></a>.</p>
        </form>
    </div>
</div>


<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
    function showMe(it, box) {
        var vis = (box.checked) ? "block" : "none";
        document.getElementById(it).style.display = vis;
        if (vis == "block") {
            $j('#existing_customer').attr("value", "yes");
        }
        else {
            $j('#existing_customer').attr("value", "no");
        }
    }
</script>