<div id="checkout-wrapper" <?php if ($this->hasOrderProcessed()) {?>class="checkout-success"<?php } ?><?php if ($this->hasOrderFailed()) {?>class="checkout-failure" data-status="failed"<?php } ?>>
    <?php echo $this->getShippingMessage(); ?>

    <div id="checkout-content-wrapper">
        <div class="checkout-success-wrapper" id="leader">
            <h2><?php echo $this->__('Your order number is %s', $this->getOrderNumber()) ?></h2>
            <a href="#" onclick="window.print(); return false;" class="link-print"><?php echo $this->__('Print summary'); ?></a>
            <?php if ($deliveryDate = $this->getOrder()->getDeliveryDate()): ?>
            <div id="delivery-date">
                <h3><div class="icon-free-del"></div><?php echo $this->__('Your order will be delivered on %s', $deliveryDate); ?></h3>
            </div>
            <?php endif; ?>
            <h3 class="what-happens-next"><?php echo $this->__('What happens next') ?></h3>
            <h4><?php echo $this->__('You will receive a confirmation email shortly which will include your order summary and tracking code.') ?></h4>
            <div class="share">
                <h4><?php echo $this->__('Tell your friends and family about your new Dirt Devil') ?></h4>
                <div class="social-icons">
                    <ul class="level0">
                        <li class="level0 nav2 facebook">
                            <a class="level0" id="link-facebook" href="http://www.facebook.com/sharer.php?u=<?php echo $this->getSocialUrl() ?>&t=<?php echo rawurlencode($this->getSocialMessage()) ?>" title="<?php echo $this->__('Share on Facebook!') ?>" target="_blank"></a>
                        </li>

                        <li class="level0 nav1 twitter">
                            <a class="level0" id="link-twitter" href="http://twitter.com/share?text=<?php echo rawurlencode($this->getSocialMessage()) ?>&url=<?php echo $this->getSocialUrl() ?>" title="<?php echo $this->__('Share on Twitter!') ?>" target="_blank"></a>
                        </li>

                        <li class="level0 nav3 google">
                            <a class="level0" id="link-google" href="https://plus.google.com/share?url=<?php echo $this->getSocialUrl() ?>" title="<?php echo $this->__('Share on Google+!') ?>" target="_blank"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="checkout-success-wrapper" id="newsletter">
            <h4><?php echo $this->__('Sign up for exclusive offers, discounts, tips, and advice') ?></h4>
            <?php
            $newsletter = $this->getLayout()->getBlock('success.newsletter');
            $newsletter->setRefererUrl(Mage::getBaseUrl());
            $newsletter->setFormId('successNewsletterForm');
            $newsletter->setFname($this->getQuote()->getBillingAddress()->getFirstname());
	        $newsletter->setLname($this->getQuote()->getBillingAddress()->getLastname());
            ?>

	        <?php echo $this->getChildHtml('success.newsletter') ?>
        </div>

        <div class="checkout-success-wrapper" id="order-summary">
            <?php echo $this->getChildHtml('success-summary'); ?>
        </div>
    </div>
    <script type="text/javascript">
        function getCheckoutSteps() {
            return <?php echo json_encode($this->getSteps()); ?>;
        }
        function getCurrentStepIndex() {
            return <?php echo $this->getStepIndex(); ?>;
        }
    </script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/checkout/opc.js') ?>"></script>
</div>