<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.5.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="awrma-account">
    <div class="section-title"><?php echo $this->__('Returns') ?></div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php if ($this->getRmaEntitiesCollection()->getSize()) : ?>
        <?php echo $this->getChildHtml('pager'); ?>
        <table class="data-table" id="my-rmas-table">
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col />
            <col width ="1"/>
            <thead>
                <tr>
                    <th><?php echo $this->__('Date') ?></th>
                    <th><?php echo $this->__('ID') ?></th>
                    <th><?php echo $this->__('Order #') ?></th>
                    <th><?php echo $this->__('Status') ?></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->getRmaEntitiesCollection() as $item) : ?>
                    <tr>
                        <td><?php echo $this->formatDate($item->getCreatedAt()) ?></td>
                        <td><?php echo $item->getTextId() ?></td>
                        <td>#<?php echo $item->getOrderId() ?></td>
                        <td><?php echo $item->getStatusName() ?></td>
                        <td>
                            <span class="nobr">
                                <a href="<?php echo $this->getUrl('awrma/customer_rma/view', array('id' => $item->getId())) ?>" class="link-awrma-bold"><?php echo $this->__('View Request') ?></a>
                                <?php if ($item->getIsActive()) : ?>
                                    <span class="separator">|</span>
                                    <a class="link-awrma" href="<?php echo $this->getUrl('awrma/customer_rma/cancel', array('id' => $item->getId())) ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to cancel this RMA?') ?>')" class="link-awrma-cancel"><?php echo $this->__('Cancel') ?></a>
                                <?php endif; ?>
                            </span>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('my-rmas-table')</script>
    <?php else : ?>
        <?php
        /*
        <p><?php echo $this->__('You have no RMA requests'); ?></p>
        */
        ?>
    <?php endif; ?>
    <p><a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'pdfs/'.$this->__('Return-Form').'.pdf';?>"><?php echo $this->__('Return Form');?></a></p>
    <p><?php echo $this->__('To return your order please fill out the return form and put it into the parcel. To generate a return label '); ?><a href="https://gls-group.eu/return/your/package/bbe222c053832d13c57f77f220a2f441dcf1b673e97564b74a2b41da7e8de52cb246486bc046c38b6a8310bc2a3902e538b6f71650bf9b16ad396f17b0e9a7a870c9f3998c8c8e69"><?php echo $this->__('please click here'); ?></a></p>
    <?php
    /*
    <a class="link-awrma-newrma" href="<?php echo $this->getUrl('awrma/customer_rma/new') ?>"><?php echo $this->__('Request New RMA') ?></a>
    */
    ?>
</div>