// =============================================
// Base Values
// =============================================

// Spacing
$trim-small: 20px; /* 15px */
$trim: 30px;

// Dimensions
$max-content-width: 940px;
$max-container-width: $trim + $max-content-width + $trim;

// =============================================
// Element Colors
// =============================================

// Buttons
$c-button: #BFBFBF;
$c-button-hover: darken(#BFBFBF, 5%);
$c-button-active: darken(#BFBFBF, 10%);

// Interaction
$c-action: #58585B;

// =============================================
// Brand Colors
// =============================================
$c-light-blue: #00A8E2;
$c-blue: #0075C9;
$c-green: #4C9D2F;
$c-orange: #FF9F19;
$c-purple: #510C76;
$c-purple-2: #5B0981;
$c-red: #CF102D;
$c-yellow: #F6CF3F;
$c-gray: #59595B; /* DD Grey 1 */
$c-gray-2: #C0C0C0; /* DD Grey 2 */
$c-gray-3: #878787; /* DD Grey 3 */
$c-gray-4: #E6E6E6; /* DD Grey 4 */
$c-gray-5: #EEEEEE; /* DD Grey 5 */

$c-eco-green: #AEC451;
$light-eco-green: rgba( 204, 222, 146, 0.70);

// Module (generic)
$c-module-border: #e0dfdf;

//Module (specific)
$c-quickliks-grey: #636366;

// Font Stacks
$f-stack-special: 'Akzidenz-Grotesk Pro', 'Helvetica Neue', Verdana, Arial, sans-serif;
$f-stack-sans: 'Akzidenz-Grotesk Pro', 'Helvetica Neue', Verdana, Arial, sans-serif;
$f-stack-header: Verdana, Arial, sans-serif;

// =============================================
// Include Compass-generated sprite
// =============================================

$desktop-icons: sprite-map("template/desktop-sprite/*.png");
$mobile-icons: sprite-map("template/mobile-sprite/*.png");
// use it by calling
// background: sprite($icons, icon-name) no-repeat;
// @include sprite-dimensions($icons, mobile-slider-arrow-left); use to make the div's dimensions like the sprite
$support-desktop-icons: sprite-map("template/support-desktop-sprite/*.png");
$support-mobile-icons: sprite-map("template/support-mobile-sprite/*.png");
