<?php
    $_guarantee  = $this->getRegistration();
    $_product    = $this->getRegistrationProduct();
    $_attachment = Mage::getModel('vax_registration/attachment')->loadByRegistrationId($_guarantee->getId());
?>

<div class="content-header">
    <h3><?php echo $this->getHeaderText() ?></h3>
    <p class="form-buttons">
        <button type="button" class="scalable back" onclick="javascript: history.go(-1);"><span>Back</span></button>
    </p>
</div>
<div class="box-left">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head"><?php echo $this->__('Customer details') ?></h4>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
            <tr>
                <td class="label"><label><?php echo __('Registration Code') ?></label></td>
                <td class="value"><strong><?php echo $_guarantee->getId() ?></strong></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Name') ?></label></td>
                <td class="value"><?php echo $_guarantee->getFirstName() ?> <?php echo $_guarantee->getSurname() ?></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Address') ?></label></td>
                <td class="value">
                    <?php echo $_guarantee->getAddress() ?><br/>
                    <?php echo $_guarantee->getAddress2() ?><br/>
                    <?php echo $_guarantee->getTown() ?><br/>
                    <?php echo $_guarantee->getCounty() ?>
                </td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Postcode') ?></label></td>
                <td class="value"><?php echo $_guarantee->getPostcode() ?></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Email') ?></label></td>
                <td class="value"><a href="mailto:<?php echo $_guarantee->getEmail() ?>" title="Email <?php echo $_guarantee->getFirstName() ?> <?php echo $_guarantee->getSurname() ?>"><?php echo $_guarantee->getEmail() ?></a></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Telephone') ?></label></td>
                <td class="value"><?php echo $_guarantee->getTelephone() ?></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Mail Opt-in') ?></label></td>
                <td class="value"><?php echo ($_guarantee->getMailOpt())? __('Yes') : __('No') ?></td>
            </tr>
            </table>
        </div>
    </div>

    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head"><?php echo $this->__('Website') ?></h4>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
            <tr>
                <td class="label"><label><?php echo __('Registered On') ?></label></td>
                <td class="value"><?php echo $this->formatDate($_guarantee->getCreatedAt(), 'long', true) ?></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Website Store') ?></label></td>
                <td class="value"><?php echo Mage::getModel('core/store')->load($_guarantee->getStoreID())->getName() ?></td>
            </tr>
            </table>
        </div>
    </div>

    <?php if($_attachment && $_attachment->getId()): ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head"><?php echo $this->__('Extended Warranty') ?></h4>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
            <tr>
                <td class="label"><label><?php echo __('Attachment') ?></label></td>
                <td class="value"><?php echo Mage::helper('vax_registration/form')->getImageHtml($_attachment); ?></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo __('Terms Agreed') ?></label></td>
                <td class="value"><input type="checkbox"<?php if($_guarantee->getTermsAgreed()):?> checked="checked"<?php endif; ?> disabled/></td>
            </tr>
            </table>
        </div>
    </div>
    <?php endif; ?>
</div>
<div class="box-right">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head"><?php echo $this->__('Product information') ?></h4>
        </div>
        <div class="fieldset">
            <?php if ( ! $_product) { ?>
                <p style="margin-bottom: 0px;">Invalid product SKU</p>
            <?php } else { ?>
                <table cellspacing="0" class="form-list">
                    <tr>
                        <td class="label"><label><?php echo __('Model') ?></label></td>
                        <td class="value"><?php echo $_product->getName()." ".$_product->getUkProductNo(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Part Number') ?></label></td>
                        <td class="value"><?php echo $_product->getSku() ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Warranty Duration') ?></label></td>
                        <td class="value"><?php echo $this->__('%d years', $_guarantee->getWarranty()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Serial Number') ?></label></td>
                        <td class="value"><?php echo $_guarantee->getSerialNumber() ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Purchase Date') ?></label></td>
                        <td class="value"><?php echo $this->formatDate($_guarantee->getPurDate(), 'long', false) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Purchase Price') ?></label></td>
                        <td class="value"><?php echo $_guarantee->getPurPrice() ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Purchase Location') ?></label></td>
                        <td class="value"><?php echo $_guarantee->getPurLocation() ?></td>
                    </tr>
                    <?php
                            try
                            {
                                if($_product->getImage()):
                                    $img = $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize(null, 220);
                            ?>
                            <tr>
                                <td class="label">&nbsp;</td>
                                <td class="value"><img src="<?php echo $img ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" /></td>
                            </tr>
                            <?php endif;
                            }
                            catch (Exception $e) {
                                Mage::logException($e);
                            }
                        ?>
                </table>
            <?php } ?>
        </div>
    </div>
</div>