<li>
    <a href="#">
        <div class="title"></div>
        <div class="model-no"></div>
        <img alt="" />
        <div class="select">
            <div class="select-button">
                <span class="select-arrow"></span>
                <span class="select-text"><?php echo __("Select") ?></span>
            </div>
        </div>
    </a>
</li>