<?php
/* @var $this Vax_Checkout_Block_Cart_Item_Inline_Crosssell */
?>
<?php
$_crosssells = $this->getItems();
$_productsDisplayed = 0;
?>
<?php if (count($_crosssells) > 0): ?>
    <?php foreach($_crosssells as $_crosssell): ?>
        <?php if ($_crosssell->isSaleable()): ?>
            <?php if ($_productsDisplayed == 0): ?>
                <tr class="crosssels-top">
                    <td class="arrow" colspan="4">
                    </td>
                </tr>
                <tr class="cross-sell-product title first">
                    <td class="title" colspan="4">
                        <h3><?php echo $this->__('You may also need...'); ?></h3>
                    </td>
                </tr>
            <?php endif; ?>

            <?php if ($_productsDisplayed === $this->getMaxItemCount()): ?>
                <?php break; ?>
            <?php endif; ?>

            <?php $_productsDisplayed++; ?>
            <tr class="cross-sell-product<?php if ($_productsDisplayed >= $this->getMaxItemCount()): ?> last-crosssell<?php endif; ?>">
                <td class="product-cart-image" colspan="2">
                    <a class="product-crosssell-image" href="<?php echo $_crosssell->getProductUrl() ?>">
                        <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_crosssell, 'thumbnail')->resize(50)); ?>" alt="<?php echo $this->escapeHtml($_crosssell->getName()) ?>" title="<?php echo $this->escapeHtml($_crosssell->getName()) ?>" />
                    </a>
                    <div class="product-info">
                        <h2 class="product-name">
                            <?php echo $this->escapeHtml($_crosssell->getName()); ?>
                        </h2>
                        <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_crosssell)): ?>
                            <?php $discountLabel = $this->getCustomAttributeValue($_crosssell, 'basket_discount_label'); ?>
                            <?php if ($discountLabel): ?>
                                <div class="discount-label-crosssell"><?php echo $discountLabel ?></div>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </td>

                <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_crosssell)): ?>
                    <td class="product-cart-actions">
                        <button class="button2 btn-cart-crosssell" onclick="setLocation('<?php echo $this->getAddToCartUrl($_crosssell) ?>')" type="button"><span><span><?php echo $this->__('Add product') ?></span></span></button>
                    </td>

                    <td class="product-cart-price last" data-rwd-tax-label="Incl. VAT" data-rwd-label="Price">
                        <span class="cart-price"><?php echo Mage::helper('core')->currency($_crosssell->getFinalPrice(), true, false); ?></span>

                        <?php if ($_crosssell->getPrice() > $_crosssell->getFinalPrice()) :?>
                            <p class="old-price">
                                <?php echo $this->__('was ') . $this->helper('checkout')->formatPrice($_crosssell->getPrice()) ?>
                            </p>
                        <?php endif; ?>
                    </td>
                <?php else: ?>
                    <td colspan="2"></td>
                <?php endif; ?>
            </tr>
        <?php endif; ?>
    <?php endforeach; ?>
    <tr class="cross-sell-end">
        <td colspan="6">
        </td>
    </tr>
<?php endif; ?>
