<?php
/* @var $this Vax_Checkout_Block_Cart_Item_Inline_Crosssell */
?>
<?php
$_crosssells = $this->getItems();
$_productsDisplayed = 0;
?>
<?php if (count($_crosssells) > 0): ?>
    <div class="crosssels-top"></div>
    <div class="crosssells-list">
    <?php foreach($_crosssells as $_crosssell): ?>
        <?php if ($_crosssell->getIsSalable() == true && $_crosssell->getStatus() == true): ?>
            <?php if ($_productsDisplayed == 0): ?>

                <h3><?php echo $this->__('You may also need...'); ?></h3>
            <?php endif; ?>

            <?php if ($_productsDisplayed === $this->getMaxItemCount()): ?>
                <?php break; ?>
            <?php endif; ?>

            <?php $_productsDisplayed++; ?>
            <div class="cross-sell-product<?php if ($_productsDisplayed >= $this->getMaxItemCount()): ?> last-crosssell<?php endif; ?>">
                <div class="left">
                    <div class="product-cart-image">
                        <a class="product-crosssell-image" href="<?php echo $_crosssell->getProductUrl() ?>">
                            <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_crosssell, 'thumbnail')->resize(36)); ?>" alt="<?php echo $this->escapeHtml($_crosssell->getName()) ?>" title="<?php echo $this->escapeHtml($_crosssell->getName()) ?>" />
                        </a>
                    </div>
                    <div class="product-info">
                        <h2 class="product-name">
                            <?php echo $this->escapeHtml($_crosssell->getName()); ?>
                        </h2>
                        <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_crosssell)): ?>
                            <?php $discountLabel = $this->getCustomAttributeValue($_crosssell, 'basket_discount_label'); ?>
                            <?php if ($discountLabel): ?>
                                <div class="discount-label-crosssell"><?php echo $discountLabel ?></div>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </div>

                <div class="right">
                    <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_crosssell)): ?>
                        <div class="product-cart-price last" data-rwd-tax-label="Incl. VAT" data-rwd-label="Price">
                            <span class="cart-price"><?php echo Mage::helper('core')->currency($_crosssell->getFinalPrice(), true, false); ?></span>

                            <?php if ($_crosssell->getPrice() > $_crosssell->getFinalPrice()) :?>
                                <p class="old-price">
                                    <?php echo $this->__('was ') . $this->helper('checkout')->formatPrice($_crosssell->getPrice()) ?>
                                </p>
                            <?php endif; ?>
                        </div>
                        <div class="product-cart-actions">
                            <button class="button2 btn-cart-crosssell" onclick="setLocation('<?php echo $this->getAddToCartUrl($_crosssell) ?>')" type="button"><span><span><?php echo $this->__('Add product') ?></span></span></button>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="clearfix"></div>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
    </div>
<?php endif; ?>
