<?php
/**
 * Vax UK checkout cart item template (used to loop through cart items)
 *
 * @category design
 * @package vax_uk
 * @copyright Copyright (c) 2014 Vax Ltd
 */
?>
<?php
$_item = $this->getItem();
$product = $_item->getProduct();
$discountLabel = $this->getCustomAttributeValue($product, 'basket_discount_label');

$discountLabelLength = strlen($discountLabel);
$discountClass = '';
if ($discountLabelLength > 44) {
    $discountClass = ' three-lines';
} elseif ($discountLabelLength > 28) {
    $discountClass = ' two-lines';
}

$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
$appliedBasketRules = $_item->getAppliedRuleIds();
//$_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice(), $_simplePricesTax);

if ($appliedBasketRules) {
    $appliedBasketRules = explode(',', $appliedBasketRules);
}
$_itemDiscount = max(0, $_item->getItemDiscount());
$_isGiftItem = $_item->getOptionByCode('is_gift_product') && $_item->getOptionByCode('is_gift_product')->getValue();
?>
<tr class="<?php echo $_item->getProduct()->getTypeId(); ?>">
    <td class="image">
        <?php if ($this->hasProductUrl()): ?><a href="<?php echo $this->getProductUrl() ?>"
                                                title="<?php echo $this->htmlEscape($this->getProductName()) ?>"
                                                class="product-image"><?php endif; ?><img
                src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init(Mage::getModel('catalog/product')->load($_item->getProductId()), 'image')->resize(120)); ?>"
                width="120" height="120"
                alt="<?php echo $this->htmlEscape($this->getProductName()) ?>"/><?php if ($this->hasProductUrl()): ?>
        </a><?php endif; ?>
    </td>
    <td class="name">
        <h2 class="product-name">
            <?php if ($this->hasProductUrl()): ?>
                <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->htmlEscape($this->getProductName()) ?></a>
            <?php else: ?>
                <?php echo $this->htmlEscape($this->getProductName()) ?>
            <?php endif; ?>
        </h2>
        <?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()): ?>
            <?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <p class="basket-rules">
            <?php if ($discountLabel) : ?>
                <span
                    class="discount-label<?php echo $discountClass ?>"><span><?php echo $discountLabel ?></span></span>
            <?php endif; ?>
        </p>
        <?php if ($messages = $this->getMessages()): ?>
            <?php foreach ($messages as $message): ?>
                <p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
            <?php endforeach; ?>
        <?php endif; ?>
    </td>
    <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
        <td>
            <?php if ($isVisibleProduct): ?>
                <input type="checkbox" value="1" name="cart[<?php echo $_item->getId() ?>][wishlist]"
                       title="<?php echo $this->__('Move to Wishlist') ?>" class="checkbox"/>
            <?php endif ?>
        </td>
    <?php endif ?>

    <td class="quantity">
        <?php
        $_qty = ('bundle' == $product->getTypeId()) ? 3 : Mage::getModel('cataloginventory/stock_item')->loadByProduct($this->getProduct())->getQty();
        ?>
        <?php if ($_qty > 0): ?>
            <?php $i = 0; ?>
            <select name="cart[<?php echo $_item->getId() ?>][qty]" id="qty" onfocus="this.oldvalue = this.value"
                    onchange="javascript:$j(this).closest('form').submit(); this.oldvalue = this.value; return false;">
                <?php while ($i <= $_qty && $i < 21): ?>
                    <option
                        value="<?php echo $i; ?>" <?php echo ($_item->getQty() === $i) ? "selected" : ""; ?>><?php echo $i++; ?></option>
                <?php endwhile; ?>
            </select>
        <?php else: ?>
            <?php echo $this->__('Out of stock.'); ?>
        <?php endif; ?>
        <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove') ?>"
           class="item-remove"><?php echo $this->__('Remove') ?></a>
    </td>
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <td>
            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total"
                  onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
<?php else: ?>
                <span class="cart-price">
<?php endif; ?>
<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?>
<?php else: ?>
    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
<?php endif; ?>
</span>
                <?php if ($product->getPrice() > $product->getFinalPrice()) : ?>
                    <p class="old-price">
                        <?php echo $this->__('was ') . $this->helper('checkout')->formatPrice($product->getPrice()) ?>
                    </p>
                <?php endif; ?>
        </td>
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <td class="pricing unit-price">
            <?php if (!$_isGiftItem): // normal item ?>
            <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total"
                  onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
    <?php else: ?>
                <span class="cart-price">
    <?php endif; ?>
    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
        <?php echo $this->helper('checkout')->formatPrice($_incl + $_item->getWeeeTaxAppliedAmount()); ?>
    <?php else: ?>
        <?php echo $this->helper('checkout')->formatPrice($_incl - $_item->getWeeeTaxDisposition()) ?>
    <?php endif; ?>
            </span>
                <?php if ($product->getPrice() > $product->getFinalPrice()) : ?>
                    <p class="old-price">
                        <?php echo $this->__('was ') . $this->helper('checkout')->formatPrice($product->getPrice()) ?>
                    </p>
                <?php endif; ?>
            <?php else: // is gift item, don't display price ?>
                <span class="free-gift-msg"><?php echo $this->__('Free Gift') ?></span>
            <?php endif; ?>
        </td>
    <?php endif; ?>
</tr>
<?php
echo $this->getLayout()->createBlock('vax_checkout/cart_item_inline_crosssell')
     ->setProduct($_item->getProduct())->toHtml();
?>
