<?php /* Mage_Checkout_Block_Cart_Item_Renderer */ ?>
<?php
$_item = $this->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);

$guaranteeLabel = $this->getCustomAttributeValue($product, 'uk_layered_guarantee');
$discountLabel = $this->getCustomAttributeValue($product, 'basket_discount_label');
$discountLabelLength = strlen($discountLabel);
$discountClass = '';
if ($discountLabelLength > 50) {
    $discountClass = ' four-lines-small three-lines';
} elseif ($discountLabelLength > 44) {
    $discountClass = ' three-lines';
} elseif ($discountLabelLength > 28) {
    $discountClass = ' two-lines';
}

// not ideal - refactor
$_qty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($this->getProduct())->getQty();

$appliedBasketRules = $_item->getAppliedRuleIds();
if ($appliedBasketRules) {
    $appliedBasketRules = explode(',', $appliedBasketRules);
}
$_itemDiscount = max(0, $_item->getItemDiscount());
$_isGiftItem = $_item->getOptionByCode('is_gift_product') && $_item->getOptionByCode('is_gift_product')->getValue();
?>
<div class="cart-product cart-table">
    <div class="left">
        <div class="product-cart-image">
            <?php if ($this->hasProductUrl()):?>
            <a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image">
                <?php endif;?>
                <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->getProductThumbnail()->resize(180)); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" />
                <?php if ($this->hasProductUrl()):?>
            </a>
        <?php endif; ?>
        </div>
    </div>

    <div class="right">
        <div class="product-cart-info">
            <h2 class="product-name">
                <?php if ($this->hasProductUrl()): ?>
                    <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->escapeHtml($this->getProductName()) ?></a>
                <?php else: ?>
                    <?php echo $this->escapeHtml($this->getProductName()) ?>
                <?php endif; ?>
            </h2>

            <div class="product-cart-price">
                <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                <span class="cart-price">
                    <?php if (!$_isGiftItem): ?>
                    <?php echo ($_incl-$_item->getWeeeTaxDisposition() - $_itemDiscount > 0) ? $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition() - $_itemDiscount) : $this->__('Free') ?>
                    <?php else: ?>
                        <?php echo $this->__('Free Gift') ?>
                    <?php endif; ?>
                </span>
                <?php if ($product->getPrice() > $_incl) :?>
                    <p class="old-price">
                        <?php echo $this->__('was ') . $this->helper('checkout')->formatPrice($product->getPrice()) ?>
                    </p>
                <?php endif; ?>
            </div>


            <div class="product-cart-actions">
                <?php if($_qty > 0): ?>
                    <?php $i = 0; ?>
                    <select name="cart[<?php echo $_item->getId() ?>][qty]" id="qty" onchange="javascript:$j(this).closest('form').submit(); return false;">
                        <?php while($i <= $_qty && $i < 21): ?>
                            <option value="<?php echo $i; ?>" <?php echo ($_item->getQty() === $i) ? "selected" : ""; ?>><?php echo $i++; ?></option>
                        <?php endwhile; ?>
                    </select>
                <?php else: ?>
                    <input type="text" pattern="\d*" name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
                <?php endif; ?>

                <button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update'); ?>" class="button btn-update"><span><span><?php echo $this->__('Update'); ?></span></span>
                </button>

                <ul class="cart-links">
                    <?php if ($isVisibleProduct): ?>
                        <li>
                            <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove') ?>" class=""><?php echo $this->__('Remove') ?></a>
                        </li>
                    <?php endif ?>
                </ul>
            </div>
        </div>
    </div>

    <div class="additional-info">
        <?php if ($discountLabel): ?>
            <p class="basket-rules">
                <?php if ($discountLabel) :?>
                    <span class="discount-label<?php echo $discountClass?>"><span><?php echo $discountLabel ?></span></span>
                <?php endif ;?>
            </p>
        <?php endif; ?>

        <?php if ($messages = $this->getMessages()): ?>
            <?php foreach ($messages as $message): ?>
                <p class="item-msg <?php echo $message['type'] ?>">
                    * <?php echo $this->escapeHtml($message['text']) ?>
                </p>
            <?php endforeach; ?>
        <?php endif; ?>

        <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock): ?>
            <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
    </div>
</div>
<div class="clearfix"></div>
<?php
echo $this->getLayout()->createBlock('vax_checkout/cart_item_inline_crosssell', 'crossell.small', array('break_point' => 'small'))
    ->setProduct($_item->getProduct())->toHtml();
?>