<?php
    $customer = $this->getCustomer();
    $coupons = $this->getActiveRules();
    $usedCoupons = $this->getUsedRules();
    $today = Mage::getModel('core/date')->date('Y-m-d');
?>

<div class="coupon-block">
    <div class="section-title">
        <?php echo $this->__('Used Coupons') ?>
    </div>
    <div class="coupons-collection used-coupons">
        <ul>
        <?php if (!empty($usedCoupons)) : ?>
            <?php foreach ($usedCoupons as $coupon): ?>
                <li>
                    <h2><?php if(!empty($coupon['to_date'])): ?><span><?php echo $coupon['to_date']; ?></span><?php endif; ?><span><?php echo $coupon['name']; ?></span><span><?php echo $coupon['description']; ?></span></h2>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
        </ul>
    </div>



    <div class="section-title">
        <?php echo $this->__('Available Coupons') ?>
    </div>
    <div class="coupons-collection available-coupons">
        <ul>
        <?php if (!empty($coupons)) : ?>
            <?php foreach ($coupons as $coupon): ?>
                <li class="<?php if($coupon['to_date'] == $today): ?>expires-today<?php endif; ?>">
                    <h2><?php if(!empty($coupon['to_date'])): ?><span><?php echo $coupon['to_date']; ?></span><?php endif; ?><span><?php echo $coupon['name']; ?></span><span><?php echo $coupon['description']; ?></span></h2>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
        </ul>
    </div>
</div>

