<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<header id="header" class="page-header">
    <div class="sticky-container">
        <div class="page-header-container">
            <a class="logo" href="<?php echo $this->getUrl('') ?>">
                <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large"/>
                <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>"
                     class="small"/>
            </a>
            <div class="skip-links">
                <a href="#header-nav" class="skip-link skip-nav">
                    <div class="icon-block"><span class="icon"></span></div>
                    <span class="label"><?php echo $this->__('Menu'); ?></span>
                </a>
                <a href="#header-search" class="skip-link skip-search">
                    <span class="icon"></span>
                    <span class="label"><?php echo $this->__('Search'); ?></span>
                </a>
                <div class="account-cart-wrapper">
                    <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled()): ?>
                        <div class="header-minicart">
                            <?php echo $this->getChildHtml('minicart_head'); ?>
                        </div>
                    <?php endif; ?>
                    <?php if (Mage::helper('dirtdevil_registrationallowed')->isRegistrationAllowed()): ?>
                        <a href="<?php echo $this->helper('customer')->getAccountUrl(); ?>"
                           data-target-element="#header-account" class="skip-link skip-account">
                            <span class="icon"></span>
                            <span class="label"><?php echo $this->__('Log In'); ?></span>
                        </a>
                    <?php endif; ?>
                </div>
            </div>
            <div id="header-nav" class="skip-content">
                <?php echo $this->getChildHtml('topMenu') ?>
            </div>
            <div id="header-search" class="skip-content">
                <?php echo $this->getChildHtml('topSearch') ?>
            </div>
            <div id="header-account" class="skip-content">
                <?php echo $this->getChildHtml('topLinks') ?>
            </div>
        </div>
        <?php echo $this->getChildHtml('header_info_banner'); ?>
    </div>
</header>
<?php echo $this->getChildHtml('topContainer'); ?>
