<div class="block block-social">
    <div class="block-title"><strong><?php echo $this->__("Share this page") ?></strong></div>
    <ul>
        <li class="fb">
            <a href="https://www.facebook.com/DirtDevilUK/" target="_blank"><?php echo $this->__("Facebook") ?></a>
        </li>
        <li class="tw">
            <a href="https://twitter.com/DirtDevilUK" target="_blank"><?php echo $this->__("Twitter") ?></a>
        </li>
        <li class="gp">
            <a href="https://plus.google.com/111863766207547009396/" target="_blank"><?php echo $this->__("Google+") ?></a>
        </li>
    </ul>
</div>
