<?php

/* This is a  DirtDevil_Catalog_Block_Product_View */

$relatedCollection = $this->getProduct()->getRelatedProductIds();

$whatsInTheBoxList = $this->getProduct()->getData('whats_in_the_box_numbered');
?>
<div id="nav-wrap">
    <div class="product-feature-nav">
        <ul>
            <?php if( $this->getProduct()->getData('product_features')): ?>
                <li><a class="nav-first nav features active" href="#features"><?php echo $this->__('Features') ?></a></li>
            <?php endif ?>
            <?php if( $whatsInTheBoxList && strlen(trim($whatsInTheBoxList)) > 0 ): ?>
                <li><a class="nav-middle nav box" href="#whats-in-the-box"><?php echo $this->__("What's in the box?") ?></a></li>
            <?php endif ?>
	        <?php if( !$this->isSpare()): ?>
	            <li><a class="nav-middle nav spec" href="#specifications"><?php echo $this->__('Specification') ?></a></li>
	        <?php endif; ?>
            <?php if( count($relatedCollection) > 0 ): ?>
                <li><a class="nav-middle nav spares" href="#spares-and-accessories"><?php echo $this->__('Spares & Accessories') ?></a></li>
            <?php endif; ?>

            <li><a class="nav reviews" href="#reviews"><?php echo $this->__('Reviews') ?> <span class="total-reviews"></span></a></li>
            <li><a class="nav-last top"><?php echo $this->__('Back to top') ?></a></li>
        </ul>
    </div>
</div>
<div class="nav-menu">
    <?php echo $this->getChildHtml('feature') ?>
    <?php echo $this->getChildHtml('box') ?>
    <?php if( !$this->isSpare()) echo $this->getChildHtml('specifications') ?>
    <?php echo $this->getChildHtml('spares') ?>
    <?php  echo $this->getChildHtml('reviews') ?>
</div>