<?php if ( $this->getProduct()->getAttributeText( 'eco_overall_rating' ) ): ?>

	<div id="product-fiche">
		<a href="#" class="btn-close btn-close-fiche" title="Close Fiche">&nbsp;</a>
		<h2 class="energy-header"><?php echo $this->__( 'Energy Label');?><span><?php echo $this->__( 'explained'); ?></span></h2>

		<?php if ( $this->getProduct()->hasData( 'product_fiche' ) && 'no_selection' !== $this->getProduct()->getData( 'product_fiche' ) ): ?>
			<?php try { ?>
				<img class="image"
				     src="<?php echo Mage::helper( 'catalog/image' )->init( $this->getProduct(), 'product_fiche' ) ?>"
				     alt="Product Fiche"/>
			<?php
			} catch ( Exception $ex ) {
			};?>
		<?php endif; ?>

		<div id="fiche-emissions" class="fiche-section gradient">
			<h2><?php echo $this->__( 'Emissions emitted');?></h2>
			<h3><?php echo $this->__( 'Amount of dust emitted from the vacuum exhaust.'); ?></h3>
			<img class="scale" src="/skin/frontend/dirtdevil_rwd/uk/images/eco/scales/scale-emissions.png"
			     alt="<?php echo $this->__( 'Emissions Scale');?>" height="30" width="260"/>
		</div>

		<div id="fiche-carpet-pickup" class="fiche-section gradient">
			<h2><?php echo $this->__( 'Pick up on carpet');?></h2>
			<h3><?php echo $this->__( 'Dirt pick up based on Wilton carpet.'); ?></h3>
			<img class="scale" src="/skin/frontend/dirtdevil_rwd/uk/images/eco/scales/scale-pickup-carpet.png"
			     alt="<?php echo $this->__( 'Carpet Pickup Scale');?>" height="30" width="260"/>
		</div>

		<div id="fiche-rating" class="fiche-section gradient">
			<h2><?php echo $this->__( 'Overall Energy Rating'); ?></h2>
		</div>

		<div id="fiche-year" class="fiche-section gradient">
			<h2><?php echo $this->__( 'Energy per year');?></h2>
		</div>

		<div id="fiche-noise" class="fiche-section gradient">
			<h2><?php echo $this->__( 'Noise Level');?></h2>
		</div>

		<div id="fiche-hard-pickup" class="fiche-section gradient">
			<h2><?php echo $this->__( 'Pick up on hard floor');?></h2>
			<h3><?php echo $this->__( 'Dirt pick up based on hard surface with crevice.'); ?></h3>
			<img class="scale" src="/skin/frontend/dirtdevil_rwd/uk/images/eco/scales/scale-pickup-hard.png"
			     alt="<?php echo $this->__( 'Hard Floor Pickup Scale');?>" height="47" width="260"/>
		</div>

		<div id="fiche-power-rating">
			<?php echo $this->__( 'Power rated input:');?> <?php echo $this->getProduct()->getData( 'suction' ); ?>
		</div>
	</div>

<?php endif; ?>