<?php
/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */

/* @var $this Mage_Catalog_Block_Product_View_Media */
?>
<?php
$_product = $this->getProduct();
$_helper  = $this->helper( 'catalog/output' );
?>
<div class="product-image product-image-zoom">
	<div class="product-image-gallery">
		<img itemprop="image" id="image-main"
		     class="gallery-image visible"
		     src="<?php echo Mage::helper('catalog/image')->getSquareTransparentPlaceholderImage($this->helper( 'catalog/image' )->init( $_product, 'image' )) ?>"
		     alt="<?php echo $this->escapeHtml( $this->getImageLabel() ) ?>"
		     title="<?php echo $this->escapeHtml( $this->getImageLabel() ); ?>"/>

		<?php
		/* large images in the gallery */
		$i = 0;
		foreach ( $this->getGalleryImages() as $_image ): ?>
			<?php if ( $this->isGalleryImageVisible( $_image ) ): ?>
				<img id="image-<?php echo $i?>"
				     class="gallery-image"
				     src="<?php echo Mage::helper('catalog/image')->getSquareTransparentPlaceholderImage($this->getGalleryImageUrl( $_image )); ?>"
				     />
			<?php endif; ?>
			<?php $i++; endforeach; ?>
		<div class="zoom"></div>
		<?php
		/* YouTube videos in the gallery */
		for($videoId = 0; $videoId < 3; ++$videoId ):
			if ($_product->getData( 'youtube_video_'.$videoId )): ?>
				<div id="image-<?php echo $i++; ?>" class="gallery-image video">
					<?php

					echo $_product->getData( 'youtube_video_'.$videoId.'' ) ?>
				</div>
			<?php endif; ?>
		<?php endfor; ?>
	</div>

	<?php if ( count( $this->getGalleryImages() ) > 0 ): ?>
		<div class="more-views">
			<div class="outer-box">
				<div class="prev arrow"></div>
				<ul class="product-image-thumbs">
					<?php $j = 0;
					foreach ( $this->getGalleryImages() as $_image ): ?>
						<?php if ( $this->isGalleryImageVisible( $_image ) ): ?>
							<li>
								<a class="thumb-link" href=""
								   title="<?php echo $this->escapeHtml( $_image->getLabel() ) ?>"
								   data-image-index="<?php echo $j; ?>">
									<img
										src="<?php echo Mage::helper('catalog/image')->getSquareTransparentPlaceholderImage($this->helper( 'catalog/image' )->init( $_product, 'thumbnail', $_image->getFile() )->resize( 75 )); ?>"
										width="75" height="75"
										alt="<?php echo $this->escapeHtml( $_image->getLabel() ) ?>"/>
								</a>
							</li>
						<?php
							$j++;
						endif;
					endforeach;
					/* YouTube videos in the gallery */
					for($thumbId = 0; $thumbId < 3; ++$thumbId ):
                        if($_product->getData('youtube_thumb_'.$thumbId) && $_product->getData('youtube_video_'.$thumbId) ):?>
                            <li>
                                <a class="thumb-link video-link" href=""
                                   data-image-index="<?php echo $j++; ?>">
                                    <img
                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'youtube_thumb_'.$thumbId )?>"
                                        width="75" height="75" />
                                    <div class="icon"></div>
                                </a>
                            </li>
                        <?php endif;?>
                    <?php endfor;  ?>
				</ul>
				<div class="next arrow"></div>
			</div>
		</div>
	<?php endif; ?>
</div>
<?php echo $this->getChildHtml( 'after' ); ?>