<div class="checkout-steps-actions">
    <a href="/" class="btn btn-large btn-next <?php if ($this->hasOrderFailed()): ?>btn-danger<?php else: ?>btn-success <?php endif; ?>" title="Next" data-submit="<?php echo $this->getHTMLClass(); ?>">
       <p>
           <?php echo $this->getNextBtnTitle(); ?>
       </p>
        <span class="icon">&nbsp;</span>
    </a>
</div>
<?php /*
<div class="show-for-small hide-for-large order-summary first-step">
    <div class="button">
        <button class="button save-for-later"><span><span><?php echo $this->__('Save cart for 1 week and pay later') ?></span></span></button>
    </div>
</div>
*/ ?>