<div id="checkout-steps">
    <div class="progress-bar" id="progress-bar">
    <?php foreach ($this->getSteps() as $step) : ?>
        <?php
            echo $this->getChild('steps_header')
            ->setStepIndex($step['index'])
            ->setStepClasses($this->getStepClasses($step['index']))
            ->toHtml()
        ?>
    <?php endforeach; ?>
    </div>
    <div class="clearfix"></div>
    <?php foreach ($this->getSteps() as $step) { ?>
        <div class="step-wrapper step <?php echo $this->getStepClasses($step['index']); ?>">
            <div class="step-content">
                <div class="error-block">
                    <h6><span class="exclamation">!</span><?php echo $this->__('Please check the following:') ?></h6>
                    <ul class="error-list"></ul>
                </div>
                <?php echo $this->getChildHtml($step['blockClass']); ?>
            </div>
            <?php echo $this->getChild('actions')->setStepIndex($step['index'])->toHtml() ?>
            <div class="progress-container-wrapper">
                <div class="progress-container">
                    <div class="msg">
                        <?php echo $this->__('Submitting Order'); ?>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
</div>
