<div class="checkout-steps-header <?php echo $this->getStepClasses(); ?>" data-step="<?php echo $this->getStepIndex() ?>">
    <div class="checkout-steps-title <?php echo $this->getStepClasses(); ?>">
        <h2 class="title">
            <?php echo str_replace(' ', '<br />', $this->getHeader()); ?>
        </h2>
        <div class="icon"></div>
        <div class="icon-back"></div>
    </div>
</div>
