<?php
/**
 * Product grid template
 *
 * @see Mage_Catalog_Block_Product_List
 */
/* @var $this Mage_Catalog_Block_Product_List */
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php $_collectionSize = $_productCollection->count() ?>
<?php $_columnCount = $this->getColumnCount(); ?>
<ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <li itemscope itemtype="http://schema.org/Product" class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <?php $_imgSize = 210; ?>
                <?php if($_helper->isNewProduct($_product)): ?>
                    <div class="new-product"></div>
                <?php endif; ?>
                <!-- allows google schema to pick up the correct image -->
                <noscript
                    <img itemprop="image" id="product-collection-image-<?php echo $_product->getId(); ?>"
                         src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </noscript>
                <img itemprop="image" id="product-collection-image-<?php echo $_product->getId(); ?>"
                     src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize)); ?>"
                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
            </a>
            <div class="product-info">
                <div class="height-box">
                    <h2 itemprop="name" class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <?php
                    // Provides extra blocks on which to hang some features for products in the list
                    // Features providing UI elements targeting this block will display directly below the product name
                    if ($this->getChild('name.after')) {
                        $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                        foreach ($_nameAfterChildren as $_nameAfterChildName) {
                            $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                            $_nameAfterChild->setProduct($_product);
                            echo $_nameAfterChild->toHtml();
                        }
                    }
                    ?>
                    <div itemprop="model" class="sku"><?php echo $_product->getUkProductNo() ?></div>

                    <?php if(Mage::helper('core')->isModuleEnabled('Bazaarvoice_Connector')): ?>
                        <?php $_bvHelper = $this->helper('bazaarvoice'); ?>
                        <div id="BVRRInlineRating-<?php echo $_bvHelper->getProductId($_product) ?>">
                        </div>
                     <?php else: ?>
                        <?php if($_product->getRatingSummary()): ?>
                        <?php   echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                    <?php endif; ?>

                    <div class="price-rating-container">
                        <?php if ($_product->isComingSoon() || !Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                            <?php echo $this->getPriceHtml($_product, true) ?>
                        <?php endif; ?>
                    </div>
                </div>
                <?php if ($_product->getAttributeText('eco_overall_rating')): ?>
                    <div class="energy-rating-container">
                        <span class="energy-rating-label energy-rating-label-<?php echo strtolower($_product->getAttributeText('eco_overall_rating')); ?>"><span><?php echo $this->__("Energy Rating") ?></span></span>
                    </div>
                <?php endif; ?>
                <div class="actions">
                    <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                    <?php
                        if ($_product->getTypeId() == 'bundle'): ?>
                            <?php echo $this->getLayout()->createBlock(
                                'core/template', 'catalog_category_bundle')
                                ->setTemplate('bundle/addtocart.phtml')
                                ->setData('add_form', true)
                                ->setData('item', $_product)->toHtml() ?>
                        <?php elseif(!$_product->canConfigure() && $_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of Stock') ?></span></p>
                        <?php endif; ?>
                    <?php endif; ?>

                    <?php if($_product->isComingSoon()): ?>
                        <p class="action availability coming-soon"><span><?php echo $this->__('Coming Soon') ?></span></p>
                    <?php endif; ?>

                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName() ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>

                    <?php if (! $_product->isComingSoon() || !Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                        <?php if($_helper->hasFreeDelivery($_product)): ?>
                            <div class="delivery">
                                <div class="free-delivery icon"></div>
                                <div class="label">Free Delivery*</div>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($_product->getData("available_at") && $_product->getData("available_at") == 121): ?>
                        <div class="available-at">
                            <p><?php echo $this->__('Available at:') ?></p>
                            <div class="argos"><?php echo $this->__('Argos') ?></div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </li>
    <?php endforeach ?>
</ul>
<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
