<?php
/**
 * Product list toolbar
 *
 * @see Vax_Catalog_Block_Product_List_Toolbar
 */
$currentCategory = Mage::registry("current_category");
?>
<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <div class="toolbar-sorter-container">
        <div class="count-container">
            <p class="amount <?php if($this->getLastPageNum()>1): ?>amount--has-pages<?php else: ?>amount--no-pages<?php endif; ?>">
                <?php if($currentCategory && $currentCategory->getName()): ?>
                    <span class="desktop"><?php echo $this->__('%s product%s', $this->getTotalNum(), ($this->getTotalNum() >1)?"s":"") ?></span>
                    <span class="mobile"><?php echo $this->__('%s product%s', $this->getTotalNum(), ($this->getTotalNum() >1)?"s":"") ?></span>
                <?php else: ?>
                    <?php echo $this->__('<strong>%s</strong> Result%s found', $this->getTotalNum(), ($this->getTotalNum() >1)?"s":"") ?>
                <?php endif; ?>
            </p>
        </div>

        <?php if( $this->isExpanded() ): ?>
            <div class="sorter">
                <div class="sort-by">
                    <label><?php echo $this->__('Sort by') ?></label>
                    <?php $availableOrders = $this->getAvailableOrders() ?>
                    <select onchange="setLocation(this.value)" title="<?php echo $this->__('Sort by') ?>">
                        <?php if (isset($availableOrders['relevance'])): ?>
                            <option value="<?php echo $this->getOrderUrl('relevance', 'desc') ?>"<?php if($this->isOrderCurrent('relevance') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Relevance'); ?>
                            </option>
                        <?php endif ?>

                        <?php if (isset($availableOrders['position'])): ?>
                            <option value="<?php echo $this->getOrderUrl('position', 'asc') ?>"<?php if($this->isOrderCurrent('position') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Featured'); ?>
                            </option>
                        <?php endif ?>

                        <?php if (isset($availableOrders['price'])): ?>
                            <option value="<?php echo $this->getOrderUrl('price', 'asc') ?>"<?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Lowest Price'); ?>
                            </option>
                            <option value="<?php echo $this->getOrderUrl('price', 'desc') ?>"<?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Highest Price'); ?>
                            </option>
                        <?php endif; ?>

                        <?php if (isset($availableOrders['price'])): ?>
                            <option value="<?php echo $this->getOrderUrl('name', 'asc') ?>"<?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Name A-Z'); ?>
                            </option>
                            <option value="<?php echo $this->getOrderUrl('name', 'desc') ?>"<?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Name Z-A'); ?>
                            </option>
                        <?php endif ?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
    </div>

    <div class="pager">
        <?php /*<div class="limiter">
            <?php //if ($this->canShowAllLink()): ?>
                <div class="show-all"><a href="<?php echo $this->getLimitUrl('all') ?>" title="<?php echo $this->__('Show all ' . $this->getTotalNum() . ' products') ?>"><?php echo $this->__('Show all ' . $this->getTotalNum() . ' products') ?></a></div>
            <?php //endif; ?>
            <?php //if ($this->canShowViewLessLink()): ?>
                <div class="show-less"><a href="<?php echo $this->whichViewLess(); ?>?p=1" title="<?php echo $this->__('Show Less') ?>"><?php echo $this->__('Show Less') ?></a></div>
            <?php //endif; ?>
        </div>*/ ?>

        <?php echo $this->getPagerHtml() ?>

        <?php if( $this->isEnabledViewSwitcher() ): ?>
            <div class="sorter">
                <p class="view-mode">
                    <?php $_modes = $this->getModes(); ?>
                    <?php if($_modes && count($_modes)>1): ?>
                        <?php foreach ($this->getModes() as $_code=>$_label): ?>
                            <?php if($this->isModeActive($_code)): ?>
                                <strong title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong>
                            <?php else: ?>
                                <a href="<?php echo $this->getModeUrl($_code) ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </p>
            </div>
        <?php endif; ?>
    </div>
</div>
<?php endif ?>
