<?php
/**
 * Product view template
 *
 * @see DirtDevil_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_locale = Mage::app()->getLocale()->getLocaleCode();?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_productHelper = Mage::helper('catalog/product'); ?>
<?php $_isActive = Mage::getStoreConfig('stocknotification/mail/active');?>
<?php $_showCompare = (boolean)Mage::getStoreConfig('wishlist/general/active'); ?>
<?php if(!$_product->isSaleable() && $_isActive): ?>
    <?php $_url = $this->getUrl('stocknotification'); ?>
<?php else: ?>
    <?php $_url = $this->getSubmitUrl($_product); ?>
<?php endif; ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div itemscope itemtype="http://schema.org/Product" class="product-view">
    <?php echo $this->getChildHtml('fiche'); ?>
    <div class="product-essential">
            <div class="product-header">
                <div class="product-name">
                    <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div>
                <?php if($_product->getSubtitle()): ?>
                    <h3 class="subtitle"><?php echo $_product->getSubtitle(); ?></h3>
                <?php endif; ?>
                <div class="product-number" itemprop="model">
                    <?php echo $_product->getUkProductNo(); ?>
                </div>
                <div class="product-shop">
                    <?php if ($_product->isComingSoon() || !Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                        <div class="price-info">
                            <?php echo $this->getPriceHtml($_product); ?>
                            <?php // echo $this->getChildHtml('bundle_prices') ?>

                            <?php if ($_product && $_product->getFinalPrice() < $_product->getPrice()): ?>
                                <p class="save-amount">
                                    <?php echo $this->getFormattedPrice() ?>
                                </p>
                            <?php endif ?>

                            <?php echo $this->getTierPriceHtml() ?>

                            <?php if($this->getTaxPercentage()): ?>
                                <div class="tax-info">
                                    <?php echo $this->__('Inc %d%% Tax, Shipping costs excluded', $this->getTaxPercentage()); ?>
                                </div>
                            <?php endif; ?>

                            <div class="shipping-cost-info">
                                <a href="/liefer-und-zahlungsbedingungen"><?php echo $this->__('Shipping costs excluded') ?></a>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="extra-info">
                        <?php if(Mage::helper('core')->isModuleEnabled('Bazaarvoice_Connector')): ?>
                            <?php echo $this->getChildHtml('bv_reviewsummary'); ?>
                        <?php elseif($_productHelper->hasReviews()): ?>
                            <?php echo $this->getReviewsSummaryHtml( $_product, false, true ) ?>
                       <?php endif; ?>
                    </div>

                    <div class="clear"></div>
                    <?php if($_product->getProductFreeText()): ?>
                    <div class="product-free-text">
                        <?php echo $_product->getProductFreeText(); ?>
                    </div>
                    <?php endif; ?>
                    <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product) && $_product->isSaleable()): ?>
                        <?php echo $this->getLayout()->getBlock('paypal.express.wrapper')->toHtml() ?>
                    <?php endif; ?>
                </div>
                <?php if ($_product->getData('weight')): ?>
                    <span itemprop="weight"
                          style="display: none"><?php echo round($_product->getData('weight'), 1) . $this->__('kg'); ?></span>
                <?php endif; ?>
            </div>
            <?php if ($_product->getAttributeText('eco_overall_rating')): ?>
                <div class="energy-rating mobile">
					<span class="rating-label">
						<span class="text"><?php echo $this->__('Energy Rating') ?></span>
                        <span class="energy-rating-label energy-rating-label-<?php echo strtolower($this->getProduct()->getAttributeText('eco_overall_rating')); ?>">
					        <?php echo $_product->getAttributeText('eco_overall_rating') ?>
				        </span>
					</span>
                    <a href="#" title="View Product Fiche"
                       class="btn-product-fiche btn-open-fiche"><?php echo $this->__('See Product Fiche/Energy Rating Chart'); ?> </a>
                </div>
            <?php endif; ?>
    </div>
    <div class="product-img-box">
        <?php echo $this->getChildHtml('media') ?>
    </div>
    <div class="icons mobile">
        <?php echo $this->getChildHtml('icons')?>
    </div>

    <div itemprop="description" class="short-description<?php if (!$_product->isSaleable())//  echo ' out-of-stock' ?>">
        <?php echo $this->getChildHtml('alert_urls') ?>
        <div class="text-wrapper">
            <?php
                $processor = Mage::helper('cms')->getPageTemplateProcessor();
            ?>
            <?php if ($_product->getShortDescription()): ?>
                <div class="std"><?php echo $processor->filter($_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description')) ?></div>
            <?php endif; ?>
            <?php if ($_product->getDescription() && strlen($_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description')) > 3 ): ?>
                <div class="std"><?php echo $processor->filter($_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description')) ?></div>
            <?php endif; ?>
            <?php if ($_product->getData('product_page_key_features')): ?>
                <div class="key-features">
                    <?php echo $_helper->productAttribute( $_product, nl2br( $_product->getProductPageKeyFeatures() ), 'product_page_key_features' ) ?>
                </div>
            <?php endif ?>
            <?php if($_product->getAlsoAvailableFor()): ?>
                <div class="also-available-for">
                    <a href="javascript: void(0)"><?php echo $this->__("Suitable for") ?>:</a>
                    <a href="javascript: void(0)" class="toggle">(<?php echo $this->__("click to show") ?>)</a>
                    <span class="skus" style="display: none;"><?php echo $_product->getAlsoAvailableFor(); ?></span>
                </div>
            <?php endif; ?>
        </div>
        <?php if ($this->getProduct()->getAttributeText('eco_overall_rating')): ?>
            <div class="energy-rating desktop">
                        <span class="rating-label">
                            <span class="text"><?php echo $this->__('Energy Rating') ?></span>
                            <span
                                class="energy-rating-label energy-rating-label-<?php echo strtolower($this->getProduct()->getAttributeText('eco_overall_rating')); ?>">
                                <?php echo $this->getProduct()->getAttributeText('eco_overall_rating') ?>
                            </span>
                        </span>
                <a href="#" title="View Product Fiche" class="btn-product-fiche btn-open-fiche"><?php echo $this->__('See Product Fiche/Energy Rating Chart') ?> </a>
            </div>
        <?php endif; ?>
        <?php echo $this->getChildHtml('stocklevel') ?>
        <div class="product-secondary desktop">
            <?php if ($_product->getData("available_at") && $_product->getData("available_at") == 121): ?>
                <div class="available-at">
                    <p><?php echo $this->__('Available at:') ?></p>
                    <div class="argos"><?php echo $this->__('Argos') ?></div>
                </div>
            <?php endif; ?>
            <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                <?php if ($_helper->hasFreeDelivery($_product)): ?>
                    <div class="delivery">
                        <div class="free-delivery icon"></div>
                        <div class="label"><?php echo $this->__('Free Delivery') ?>*</div>
                    </div>
                    <div class="caveat">*<?php echo $this->__('Free next day delivery on orders over £25') ?></div>
                <?php endif; ?>
            <?php endif; ?>
        </div>
        <?php //Share buttons ?>
        <?php if($_showCompare): ?>
        <?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
            <div class="add-to-box text-wrapper">
                <a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><?php echo $this->__('Add to My Wishlist') ?></a>
                <?php
                $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
                ?>
                <?php if($_compareUrl) : ?>
                    <div class="compare-links">
                        <a href="<?php echo $_compareUrl ?>" class="link-compare-items link-wishlist"><?php echo $this->__('Add to My Comparison List') ?></a>
                        <span class="separator">|</span>
                        <a href="<?php echo Mage::getUrl('catalog/product_compare') ?>" class="link-compare-items link-wishlist"><?php echo $this->__('Compare') ?></a>
                    </div>
                <?php endif; ?>
            </div>
        <?php endif; ?>

        <div class="share-container">
            <div id="share_this_button_<?php echo $_product->getId(); ?>" class="share-button sharethis-button"></div>
            <div id="fb_like_button_<?php echo $_product->getId(); ?>" class="share-button fblike-button"></div>
            <div id="gg_like_button_<?php echo $_product->getId(); ?>" class="share-button gglike-button"></div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                addShareButtons(<?php echo $_product->getId(); ?>, '<?php echo $_product->getProductUrl() ?>');
            });
        </script>
        <?php //End of Share buttons ?>
        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif; ?>
        <div class="add-to-cart-wrapper<?php if (!$_product->isSaleable()) echo ' out-of-stock'; elseif ($_product->isComingSoon()) echo ' coming-soon' ?>">
            <?php echo $this->getChildHtml('product_type_data') ?>
            <?php echo $this->getChildHtml('extrahint') ?>

            <form action="<?php echo $_url; ?>" method="post"
                  id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <?php echo $this->getBlockHtml('formkey') ?>
                <div class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                    <input type="hidden" name="related_product" id="related-products-field" value=""/>
                </div>
                <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                        <?php $stock = $_product->getStockItem(); ?>
                        <?php if ($_product->isSaleable()): ?>
                        <div class="inner-wrapper">
                            <div class="add-to-box">
                                <?php echo $this->getChildHtml('addtocart') ?>
                                <?php if ($this->helper('wishlist')->isAllow() || $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                    <span class="or"><?php echo $this->__('OR') ?></span>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php elseif(!$stock->getIsInStock()): ?>
                            <div class="inner-wrapper stock-wrapper">
                                <div class="out-of-stock"><?php echo $this->__('Email me when the product becomes available'); ?></div>
                                <div class="subscription-notification">
                                    <input type="text" id="subscription_email" name="subscription_email" value=""class="input-text required-entry validate-email" />
                                    <button onclick="productAddToCartForm.submit();" class="button btn-cart btn-red" type="button"><span><span><?php echo $this->__('Go') ?></span></span></button>
                                </div>
                            </div>
                        <?php endif; ?>
                <?php else: ?>
                    <div class="inner-wrapper stock-wrapper">
                        <div class="out-of-stock"><?php echo $this->__('Email me when the product becomes available'); ?></div>
                        <div class="subscription-notification">
                            <input type="text" id="subscription_email" name="subscription_email" value=""class="input-text required-entry validate-email" />
                            <button onclick="productAddToCartForm.submit();" class="button btn-cart btn-red" type="button"><span><span><?php echo $this->__('Go') ?></span></span></button>
                        </div>
                    </div>
                <?php endif; ?>
                </form>

            <?php if ($_product->isComingSoon()): ?>
                <div class="inner-wrapper">
                    <p class="action availability coming-soon"><span><?php echo $this->__('Coming Soon') ?></span></p>
                <div class="inner-wrapper">
            <?php endif; ?>

            <?php echo $this->getChildHtml('extra_buttons') ?>
        </div>


        <div class="product-secondary mobile">
            <?php if ($_product->getData("available_at") && $_product->getData("available_at") == 121): ?>
                <div class="available-at">
                    <p><?php echo $this->__('Available at:') ?></p>

                    <div class="argos"><?php echo $this->__('Argos') ?></div>
                </div>
            <?php endif; ?>

            <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                <?php if ($_helper->hasFreeDelivery($_product)): ?>
                    <div class="delivery">
                        <div class="free-delivery icon"></div>
                        <div class="label"><?php echo $this->__('Free Delivery') ?>*</div>
                    </div>
                    <div class="caveat">*<?php echo $this->__('Free next day delivery on orders over £25') ?></div>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
    <?php echo $this->getChildHtml('replacementProducts'); ?>

    <div class="clearer"></div>
    <div class="icons desktop">
        <?php echo $this->getChildHtml('icons')?>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = productAddToCartForm.submitExtra = function (button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                    form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function (button, url) {
            if (this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
        //]]>
    </script>
</div>
<?php echo $this->getChildHtml('crossell') ?>
<?php echo $this->getChildHtml('features') ?>
