/* ================================================= *
 * Support - FAQs - Generic
 * ================================================= */
.support-product {
	div.faqs {
		div.search {
			margin-bottom: 20px;

			.input-box {
				position: relative;
				padding-top: 0px;

				&::after {
					background: sprite($support-mobile-icons, faq_search_icon) no-repeat;
					@include sprite-dimensions($support-mobile-icons, faq_search_icon);
					left: 9px;
					top: 9px;
					content: " ";
					position: absolute;
				}
				.button {
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					background-color: $c-green;
					font-weight: bold;
					&:hover, &:active {
						background-color: darken($c-green, 5%);
					}
				}
			}

			.input-text {
				border: 2px solid $c-green;
				width: 100%;
				padding-left: 35px;
				height: 35px;
				background: none;
			}
		}

		div.top5 {
			margin-bottom: 14px;
			//accordion header
			h3 {
				position: relative;

				a {
					color: $c-gray;
					line-height: 50px;
					width: 100%;
					height: 100%;
					display: block;
					font-weight: bold;
					padding: 0px 0px 0px 20px;
					background-color: $c-gray-4;
				}

				a:hover {
					text-decoration: none;
					background-color: darken($c-gray-4, 5%);
				}

				&::after {
					background: sprite($support-mobile-icons, faq_grey_arrow) no-repeat;
					@include sprite-dimensions($support-mobile-icons, faq_grey_arrow);
					content: "";
					position: absolute;
					right: 20px;
					top: 18px;
					display: inline-block;
				}
			}

			.faq-single {
				//question header
				h4 {
					text-transform: none;
					padding-left: 20px;
					margin: 0 0 20px;
					a {
						color: $c-gray;
					}
				}
				.answer {
					display: none;
					padding-left: 20px;

				}
				.answer.active {
					display: block;
					margin: 0px 0px 15px;
					padding: 0px 0px 15px;
					.a {
						margin-top: -8px;
					}
					.description {
						margin-top: 18px;
					}
				}
			}

			h3.active {
				margin: 0 0 20px;
				a {
					background-color: $c-green;
					color: #fff;
				}
				a:hover {
					text-decoration: none;
					background-color: darken($c-green, 5%);
				}
				&::after {
					background: sprite($support-mobile-icons, faq_white_drop_down_arrow) no-repeat;
					@include sprite-dimensions($support-mobile-icons, faq_white_drop_down_arrow);
					top: 23px;
					right: 20px;
				}

			}

			> ul {
				display: none;
			}

			> ul.active {
				display: block;
			}
		}

		ul.topics {
			li.topic {
				margin-bottom: 1px;

				> a {
					background-color: $c-gray-4;
					color: $c-gray;
					width: 100%;
					display: block;
					line-height: 50px;
					padding: 0 0 0 20px;
					font-weight: bold;
					position: relative;

					span {
						font-weight: normal;
					}

					&::after {
						background: sprite($support-mobile-icons, faq_grey_arrow) no-repeat;
						@include sprite-dimensions($support-mobile-icons, faq_grey_arrow);
						content: "";
						position: absolute;
						right: 20px;
						top: 18px;
						display: inline-block;
					}
				}

				> a:hover {
					text-decoration: none;
					background-color: darken($c-gray-4, 5%);
				}

				.question {
					display: none;
				}

				.faq-single {
					display: none;
				}
			}

			li.topic.active {
				> a {
					background-color: $c-green;
					color: #fff;
					&:hover {
						background-color: darken($c-green, 5%);
					}
					&::after {
						background: sprite($support-mobile-icons, faq_white_drop_down_arrow) no-repeat;
						@include sprite-dimensions($support-mobile-icons, faq_white_drop_down_arrow);
						top: 23px;
						right: 20px;

					}
				}
				.faq-single {
					display: block;
					> a:hover {
						text-decoration: none;
						background-color: darken($c-green, 5%);
					}
					.answer {
						display: block;
						h4 {
							margin: 0;
							span {
								vertical-align: middle;
								padding: 0px 50px;
								&:hover, &:active {
									cursor: pointer;
									text-decoration: underline;
								}
								&::after {
									background: sprite($support-mobile-icons, faq_grey_arrow) no-repeat;
									@include sprite-dimensions($support-mobile-icons, faq_grey_arrow);
									content: "";
									position: absolute;
									right: 20px;
									top: 10px;
									display: inline-block;
								}
							}
						}
						.q {
							position: static;
							display: inline-block;
							float: left;
						}
						.a, .description {
							display: none;
						}
						&.active {
							h4 span::after {
								background: sprite($support-mobile-icons, faq_grey_drop_down_arrow) no-repeat;
								@include sprite-dimensions($support-mobile-icons, faq_grey_drop_down_arrow);
								right: 18px;
								top: 15px;
							}
							.description,
							.a {
								display: block;
							}
						}
					}

				}
			}
		}

		.answer {
			margin: 8px 0px;
			padding: 0px 0px 8px;
			border-bottom: 1px solid #DFDFDF;

			h3, h4 {
				text-transform: none;
			}

			h4 {
				position: relative;
				min-height: 35px;

				span {
					height: auto;
					padding: 0 50px;
					display: block;
				}
			}

			.q, .a {
				width: 35px;
				height: 35px;
				line-height: 35px;
				text-transform: uppercase;
				display: inline-block;
				text-align: center;
				color: #fff;
				margin-right: 11px;
				font-weight: normal;
			}

			.q {
				background-color: $c-gray;
				position: absolute;
				top: 0;
				left: 0;
			}

			.a {
				background-color: $c-red;
				float: left;
				margin-top: 20px;
				.column {
					float: left;
				}
			}

			.description {
				margin-left: 50px;
				margin-top: 28px;
				* {
					font-size: 14px;
				}
			}

			//button:
			a {
				background-color: $c-red;
				color: #fff;
				height: 30px;
				line-height: 30px;
				padding: 0px 10px;
				text-transform: uppercase;
				display: inline-block;
				margin-top: 10px;
				&:hover {
					background-color: darken($c-red, 5%);
					text-decoration: none;
				}
			}
			&:after {
				@include clearfix;
			}
		}

		.faq-single.last {
			.answer {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
}

@include bp(min-width, $bp-xsmall+1) {
	.support-product {
		div.faqs {
			ul.topics {
				li.topic.active {
					.faq-single {
						.answer h4 span {
							padding: 8px 0;
						}
					}
				}
			}
		}
	}
}

/* ================================================= *
 * Support - FAQs - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.support-product {
		div.faqs {
			div.search {
				.input-box {
					position: relative;

					&::after {
						background: sprite($support-desktop-icons, faq_search_icon) no-repeat;
						@include sprite-dimensions($support-desktop-icons, faq_search_icon);
						left: 12px;
						top: 12px;
					}
				}

				.input-text {
					height: 48px;
					padding-left: 45px;
				}
			}

			div.top5 {
				margin-bottom: 20px;
				h3 {
					height: 50px;

					> a {
						line-height: 50px;
						padding: 0 0 0 18px;
						font-size: 18px;
					}

					&::after {
						right: 31px;
						top: 16px;
					}
					&.active::after {
						top: 20px;
					}
				}

			}

			ul.topics {
				li.topic {
					> a {
						line-height: 50px;
						height: 50px;

						&::after {
							right: 29px;
							top: 16px;
						}
					}
				}

				li.topic.active {
					> a {
						&::after {
							top: 20px;
							right: 25px;
						}
					}
					.faq-single {
						.answer h4 span {
							height: 35px;
							&::after {
								right: 29px;
							}
						}
					}
				}
			}
		}
	}
}
