/* ================================================= *
 * Support - Generic
 * ================================================= */
.support {
	.before-main {
		max-width: $max-container-width;
		margin: 0 auto;
	}

	.page-title {
		width: 100%;
		margin-bottom: 0;
		h1 {
			width: 100%;
			max-width: none;
			&::after {
				background: sprite($support-mobile-icons, support_icon) no-repeat;
				@include sprite-dimensions($support-mobile-icons, support_icon);
			}
		}
	}

	.before-main-container {
		background-color: $c-blue;
	}
	.footer-before-container {
		background-color: #636366;
	}
}

//--------------------------------------------
// Quicklinks menu in the bottom of the pages
//--------------------------------------------
.quicklinks {
	//quicklinks in the footer shouldn't be there
	> .quicklinks-container {
		display: none;
	}
}
.quicklinks-container {
	h2 {
		color: #fff;
		text-transform: none;
		font-weight: bold;
	}
	ul {
		li {
			a {
				color: #fff;
			}
		}
	}
}

.footer-before-container .quicklinks-container {
	max-width: $max-container-width;
	margin: 0 auto;
	width: 100%;
	h2 {
		margin: 0;
		padding: 20px;
		font-size: 30px;
	}

	ul {
		width: 100%;
		li {
			position: relative;
			padding: 0 20px;
			&:hover, &:active {
				background-color: lighten($c-gray, 15%);
			}
			a {
				font-size: 20px;
				line-height: 17px;
				padding: 15px 0;
				color: #fff;
				display: block;
				width: 100%;
				height: 100%;
				&:hover {
					text-decoration: none;
				}
				&::after {
					background: sprite($support-desktop-icons, quicklinks_arrow) no-repeat;
					@include sprite-dimensions($support-desktop-icons, quicklinks_arrow);
					content: "";
					display: inline-block;
					float: right;
				}
			}
		}
	}

}

/* ================================================= *
 * Support - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.support {
		.page-title {
			h1 {
				&::after {
					background: sprite($support-desktop-icons, support_icon) no-repeat;
					@include sprite-dimensions($support-desktop-icons, support_icon);
				}
			}
		}
	}

	.catalog-category-view .col2-left-layout .products-list {
		.btn-cart, .link-learn, .out-of-stock span {
			min-width: 129px;
			width: 129px;
		}
	}

	//--------------------------------------------
	// Quicklinks menu in the bottom of the pages
	//--------------------------------------------
	.footer-before-container .quicklinks-container {
		padding: 20px 30px;
		h2 {
			padding: 0;
			margin-bottom: 20px;
			font-size: 40px;
		}
		ul.links {
			width: 50%;
			float: left;
			li {
				padding: 0px 10px 0px 3px;
				margin-right: 10px;
				a {
					font-size: 20px;
				}
				&::after {
					top: 7px;
				}
			}
			&.links2 li {
				margin-right: 0;
			}
		}
	}
}
