/* ================================================= *
 * Support - Manuals - Generic
 * ================================================= */
.support-product {
	div.manuals {
		h3 {
			font-size: 30px;
			color: $c-purple;
			text-transform: none;
			font-weight: bold;
			margin-bottom: 19px;
			line-height: 32px;
		}

		ul.manuals {
			padding: 0;
			li {
				position: relative;
				padding-left: 54px;
				min-height: 49px;
				margin: 15px 0;

				&::after {
					background: sprite($support-mobile-icons, pdf_icon_grey) no-repeat;
					@include sprite-dimensions($support-mobile-icons, pdf_icon_grey);
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: inline-block;
				}

				&:hover, &:active {
					a {
						color: $c-purple;
					}
					&::after {
						background: sprite($support-mobile-icons, pdf_icon) no-repeat;
						@include sprite-dimensions($support-mobile-icons, pdf_icon);
					}
				}
			}

			a {
				color: $c-gray;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}

/* ================================================= *
 * Support - Manuals - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium) {
	.support-product {
		div.manuals {
			h3 {
				font-size: 40px;
				line-height: 43px;
			}

			ul.manuals {
				li {
					margin: 0 0 30px 0;
				}
				a {
					font-size: 18px;
				}
			}
		}
	}
}
