/* ================================================= *
 * Support - Product - Generic
 * ================================================= */
.support-product {
	.page-title {
		background-color: $c-blue;

		h1 {
			width: 100%;
			max-width: none;
			&::after {
				position: absolute;
				right: 20px;
				background: sprite($support-mobile-icons, support_icon) no-repeat;
				@include sprite-dimensions($support-mobile-icons, support_icon);
			}
		}
	}

	.tabs {
		margin: 0 auto;
		max-width: $max-container-width;

		&:after {
			@include clearfix;
		}

		div, span {
			background-color: #E8E8E8;
			width: 100%;
			position: relative;

			a {
				color: #58585B;
				font-weight: bold;
				font-size: 18px;
				width: 100%;
				height: 100%;
				min-height: 55px;
				line-height: 55px;
				display: block;
				text-align: center;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.faqs {
			a:hover, a.active {
				background-color: $c-green;
				color: #fff;
			}
		}

		.manuals {
			a:hover, a.active {
				background-color: $c-purple;
				color: #fff;
			}
		}

		.main {
			a:hover, a.active {
				background-color: $c-yellow;
				color: $c-gray;
			}
		}
	}

	.before-main {
		.tabs {
			display: none;
		}
	}

	.main-container {
		.faqs, .manuals {
			padding: $trim-small $trim-small;
		}
		.main {
			display: none;
		}
		.tabs-mobile {
			span a {
				border-bottom: 1px solid white;
			}
			.faqs, .manuals, .main {
				padding: 0px 0px;
			}
			.main {
				display: block;
			}
		}
	}

	.footer-before-container {
		background-color: #636366;
	}
}

.catalog-category-view.support-product {
	.category-title {
		height: auto;
		margin-bottom: 30px;
		.title-header-space {
			padding: 0px 0px;
			h2 {
				max-width: 50%;
			}
		}
	}
	.category-image {
		padding: 0;
		right: 90px;
	}
}

/* ================================================= *
 * Support - Product - Large View Port
 * ================================================= */
@include bp(min-width, $bp-xsmall+1) {
	.support-product {
		.page-title {
			h1, h2 {
				padding-left: 20px;
			}
		}
		.category-extra {
			padding: 0 20px 30px;
		}
	}
}

/* ================================================= *
 * Support - Product - Max Medium View Port
 * ================================================= */
@include bp(max-width, $bp-medium) {
	.support-product {
		.tabs {
			span {
				display: block;
				position: relative;
			}
			span a {
				&::after {
					background: sprite($support-mobile-icons, faq_grey_drop_down_arrow) no-repeat;
					@include sprite-dimensions($support-mobile-icons, faq_grey_drop_down_arrow);
					content: "";
					position: absolute;
					top: 22px;
					right: 20px;
					display: inline-block;
				}
			}

			span a.active, span a:hover {
				&::after {
					background: sprite($support-mobile-icons, faq_white_drop_down_arrow) no-repeat;
					@include sprite-dimensions($support-mobile-icons, faq_white_drop_down_arrow);
					content: "";
					position: absolute;
					top: 22px;
					right: 20px;
					display: inline-block;
				}
			}
		}
	}
}

/* ================================================= *
 * Support - Product - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.support-product {
		.page-title {
			h1, h2 {
				padding-left: 30px;
			}
			h1 {
				&::after {
					right: 30px;
					background: sprite($support-desktop-icons, support_icon) no-repeat;
					@include sprite-dimensions($support-desktop-icons, support_icon);
				}
			}
		}

		.category-extra {
			padding: 0 30px 30px;
			margin-bottom: 50px;
		}

		.tabs {
			padding: 0px $trim;

			div {
				width: 33.33%;
				float: left;
				background: none;

				a {
					min-height: 38px;
					line-height: 38px;
					background-color: #e8e8e8;
				}
			}
			div.manuals {
				padding: 0px 4px;
			}
		}

		.main-container {
			.faqs, .manuals {
				padding: 0px 0px;
			}
		}

		.before-main {
			.tabs {
				display: block;
			}
		}

		.tabs-mobile {
			display: none;
		}
	}

	.catalog-category-view.support-product {
		.category-title {
			height: 185px;
			.title-header-space {
				h2 {
					max-width: 70%;
				}
			}
		}
		.category-image {
			right: 140px;
			display: block;
			img {
				max-width: 220px;
				max-height: 200px;
			}
		}
	}
}