<?php
$_code = $this->getMethodCode();
$tokenCards  = $this->getTokenCards();
$cTokens  = ($tokenCards->getSize()>0 && $this->canUseToken());
$realexStyle   = ($cTokens ? ' style=""' : '');
$realexValidation   = ($cTokens ? ' realex-required-entry ' : ' realex-required-entry ');
?>
<div class="realexdirect realex payment-form" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <input type="hidden" name="realex_currency" id="realex_currency" value="<?php echo Mage::app()->getStore()->getCurrentCurrency()->getCode(); ?>" />


    <div class="control-group">
        <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_type">
            <?php echo __('Card Type'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="span4" required>
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <?php $_ccType = $this->getInfoData('cc_type') ?>
                        <option
                            value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="<?php echo $_code ?>_cc_owner">
            <?php echo __("Name on card"); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input placeholder="Card Holder's Name" type="text" title="<?php echo $this->__('Please enter a valid name') ?>" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" class="span4" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>" required/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_number">
            <?php echo __('Card number'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input placeholder="Card Number" type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" class="span4 ignore" title="<?php echo $this->__('Please enter a valid credit card number') ?>" value="" creditcard="true" cardtype="true" required maxlength="16" />
        </div>
    </div>

    <?php if($this->hasVerification()) { ?>
        <div class="control-group control-group-verification">

            <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_cid">
                <?php echo __('Security code'); ?>
                <em class="required">*</em>
            </label>
            <div class="controls">
                <input placeholder="Security Code" type="text" title="<?php echo $this->__('Please enter a valid 3 digit security number') ?>" id="<?php echo $this->getMethodCode() ?>_cc_cid" maxlength="3" minlength="3" digits="true" name="payment[cc_cid]" class="span2" value="" required />
                <div class="cvv-help comment"><?php echo $this->__('Last 3 digits on the back of your card') ?></div>
            </div>
        </div>
    <?php } ?>


    <div class="control-group">
        <label class="control-label control-label-cc-month" for="<?php echo $this->getMethodCode() ?>_cc_exp_month">
            <?php echo __('Expiry date'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <select id="<?php echo $this->getMethodCode() ?>_cc_exp_month" class="span4" name="payment[cc_exp_month]" title="Please enter a valid expiry date" expiry="true" required>
                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label control-label-cc-year" for="<?php echo $this->getMethodCode() ?>_cc_exp_month">
        </label>

        <div class="controls">
            <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
            <select id="<?php echo $this->getMethodCode() ?>_cc_exp_year" class="span4" name="payment[cc_exp_year]" title="Please enter a valid expiry date" expiry="true" required>
                <?php foreach ($this->getCcYears() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>
    <?php if($this->canUseToken() && $this->canAddToken($tokenCards)): ?>

        <?php if($this->alwaysSave()): ?>
            <div<?php echo $realexStyle; ?> class="control-group">
                <label for="<?php echo $_code ?>_remembertoken-<?php echo $_code; ?>"><?php echo mage::helper('realex')->getConfigData('realvault','auto_store_label'); ?></label>
                <div class="controls">
                    <input type="hidden" name="payment[remembertoken]" value="1" id="<?php echo $_code ?>_remembertoken" />
                </div>
            </div>
        <?php else: ?>
            <div<?php echo $realexStyle; ?> class="control-group">
                <label for="<?php echo $_code ?>_remembertoken-<?php echo $_code; ?>"><?php echo mage::helper('realex')->getConfigData('realvault','store_label'); ?></label>&nbsp;
                <div class="controls">
                    <input checked="checked" type="checkbox" name="payment[remembertoken]" value="1" id="<?php echo $_code ?>_remembertoken" />
                </div>
            </div>
        <?php endif; ?>

    <?php endif; ?>
    <?php if ($this->hasSsCardType()): ?>
        <div id="<?php echo $_code ?>_cc_type_ss_div"<?php echo $realexStyle; ?>>
            <ul class="inner-form">
                <li class="form-alt"><label for="<?php echo $_code ?>_cc_issue"
                                            class="required"><em>*</em><?php echo $this->__('Switch/Solo/Maestro Only') ?>
                    </label></li>
                <li>
                    <label for="<?php echo $_code ?>_cc_issue"><?php echo $this->__('Issue Number') ?>:</label>
                <span class="input-box">
                    <input type="text" title="<?php echo $this->__('Issue Number') ?>"
                           class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue"
                           name="payment[cc_ss_issue]" value=""/>
                </span>
                </li>

                <li>
                    <label for="<?php echo $_code ?>_start_month"><?php echo $this->__('Start Date') ?>:</label>

                    <div class="input-box">
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]"
                                    class="validate-cc-ukss month">
                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                    <option
                                        value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_month')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]"
                                    class="validate-cc-ukss year">
                                <?php foreach ($this->getSsStartYears() as $k => $v): ?>
                                    <option
                                        value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_year')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="adv-container">&nbsp;</li>
            </ul>
            <script type="text/javascript">
                //<![CDATA[
                var SSChecked<?php echo $_code ?> = function () {
                    var elm = $('<?php echo $_code ?>_cc_type');
                    if (['SS', 'SM', 'SO'].indexOf(elm.value) != -1) {
                        $('<?php echo $_code ?>_cc_type_ss_div').show();
                    } else {
                        $('<?php echo $_code ?>_cc_type_ss_div').hide();
                    }
                };

                Event.observe($('<?php echo $_code ?>_cc_type'), 'change', SSChecked<?php echo $_code ?>);
                SSChecked<?php echo $_code ?>();
                //]]>
            </script>
        </div>
    <?php endif; ?>
</div>

<script type="text/javascript">

    jQuery.validator.addMethod('cardtype', function(value, element) {
        var cardType = jQuery.trim($j('#realexdirect_cc_type').val());
        var cardNum  = jQuery.trim($j('#realexdirect_cc_number').val());

        switch(cardType)
        {
            case 'VI':
                return _.isObject(cardNum.match(/^4[0-9]{12}([0-9]{3})?$/g));
                break;
            case 'MC':
                return _.isObject(cardNum.match(/^5[1-5][0-9]{14}$/g));
                break;
            default:
                return false;
                break;
        }

        if (cardNum.length != 16) {
            return false;
        }

        return true;
    }, 'Please enter a valid card number');

    jQuery.validator.addMethod('expiry', function(value, element) {
        var d = new Date();

        if ((jQuery('#realexdirect_cc_exp_year').val() && (jQuery('#realexdirect_cc_exp_year').val() <= d.getFullYear()) && (jQuery('#realexdirect_cc_exp_month').val() < (d.getMonth() + 1)))) {
            return false;
        }

        return true;
    }, 'Please enter a valid expiry date');
    jQuery.validator.onfocusout = true;

    jQuery(".control-group-verification .collapse").click(function() {
        if (jQuery(this).hasClass("collapsed")) {
            jQuery(this).removeClass("collapsed");
            jQuery(this).addClass("open");
        } else {
            jQuery(this).removeClass("open");
            jQuery(this).addClass("collapsed");
        };

        jQuery('.hide-cvv-help').slideToggle();
    });
</script>