<?php
/**
 * Copied from Dirt Devil DE non-responsive site to keep the old invoice formatting
 */
?>
<?php $_order = $this->getOrder() ?>
<?php if ($_order): ?>

<table cellspacing="0" cellpadding="0" border="0" width="578" style="border:1px solid #EAEAEA;font-family:Verdana, Arial, Helvetica, sans-serif;">
    <thead>
        <tr>
            <th align="left" bgcolor="#E6E6E6" style="font-size:13px; padding:3px 9px;font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; border-bottom: 1px solid #fff;"><?php echo $this->__('Item') ?></th>
            <th align="left" bgcolor="#E6E6E6" style="font-size:13px; padding:3px 9px;font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; border-bottom: 1px solid #fff;"><?php echo $this->__('SKU') ?></th>

            <th align="center" bgcolor="#E6E6E6" style="font-size:13px; padding:3px 9px;font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; border-bottom: 1px solid #fff;"><?php echo $this->__('Quantity') ?></th>

            <th align="right" bgcolor="#E6E6E6" style="font-size:13px; padding:3px 9px;font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; border-bottom: 1px solid #fff;"><?php echo $this->__('Total') ?></th>
        </tr>
    </thead>

    <?php $i=0; foreach ($_order->getAllItems() as $_item): ?>
    <?php if($_item->getParentItem()) continue; else $i++; ?>
    <tbody<?php echo $i%2 ? ' bgcolor="#E6E6E6"' : '' ?>>
        <?php echo $this->getItemHtml($_item) ?>
    </tbody>
    <?php endforeach; ?>

    <tbody>
        <?php echo $this->getChildHtml('order_totals') ?>
    </tbody>
</table>
<?php if ($this->helper('giftmessage/message')->isMessagesAvailable('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
    <?php $_giftMessage = $this->helper('giftmessage/message')->getGiftMessage($_order->getGiftMessageId()); ?>
    <?php if ($_giftMessage): ?>
<br />
<table cellspacing="0" cellpadding="0" border="0" width="578" style="border:1px solid #EAEAEA;font-family:Verdana, Arial, Helvetica, sans-serif;">
    <thead>
        <tr>
            <th align="left" bgcolor="#E6E6E6" style="font-size:13px; padding:3px 9px;font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; border-bottom: 1px solid #fff;"><strong><?php echo $this->__('Gift Message for this Order') ?></strong></th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td colspan="4" align="left" style="padding:3px 9px;font-family:Verdana, Arial, Helvetica, sans-serif;">
            <strong><?php echo $this->__('From:'); ?></strong> <?php echo $this->escapeHtml($_giftMessage->getSender()) ?>
            <br /><strong><?php echo $this->__('To:'); ?></strong> <?php echo $this->escapeHtml($_giftMessage->getRecipient()) ?>
            <br /><strong><?php echo $this->__('Message:'); ?></strong><br /> <?php echo $this->escapeHtml($_giftMessage->getMessage()) ?>
            </td>
        </tr>
    </tbody>
</table>
    <?php endif; ?>
<?php endif; ?>
<?php endif; ?>
