<div class="pre-footer-container">
    <div class="pre-footer">
        <?php echo $this->getChildHtml("social") ?>
        <?php echo $this->getChildHtml("newsletter") ?>
    </div>
</div>
<div class="footer-container">
    <div class="footer">
        <div class="footer-logo"><a href="<?php echo $this->getUrl('') ?>">&nbsp;</a></div>
        <div class="footer-links">
            <?php echo $this->getChildHtml("cms_footer_links") ?>
        </div>
        <div class="footer-links-2">
            <ul class="links">
                <li><address class="copyright"><?php echo $this->getCopyright() ?></address></li>
                <?php echo $this->getChildHtml("cms_footer_links_2") ?>
            </ul>
        </div>
    </div>
</div>
<?php
if(Mage::getStoreConfig('vax_minify/frontend/lazy_load')): ?>
    <script type="text/javascript">
        jQuery(document).ready(function($j) {
            $j("img").unveil(<?php echo Mage::getStoreConfig('vax_minify/frontend/lazy_load_threshold'); ?>);
        });
    </script>
<?php endif; ?>
