<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<?php if(Mage::getStoreConfig('design/social_share/enable_og_tags')): ?>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<?php echo Mage::getStoreConfig('design/social_share/facebook_title'); ?>" />
    <meta property="og:url" content="<?php echo Mage::getUrl(); ?>" />
    <meta property="og:image" content="<?php echo Mage::getStoreConfig('design/social_share/facebook_image_url'); ?>" />
    <meta property="og:site_name" content="<?php echo Mage::getStoreConfig('design/social_share/facebook_site_name'); ?>" />
    <meta property="og:description" content="<?php echo Mage::getStoreConfig('design/social_share/facebook_description'); ?>" />
<?php endif; ?>
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
    var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
