<div class="block block-social">
    <div class="block-title"><strong><?php echo $this->__("Share this page") ?></strong></div>
    <ul>
        <li class="fb">
            <a href="#" onclick="share('.fb a', 'http://www.facebook.com/sharer.php?u=')" target="_blank"><?php echo $this->__("Facebook") ?></a>
        </li>
        <li class="tw">
            <a href="#" onclick="share('.tw a', 'https://twitter.com/share?url=')" target="_blank"><?php echo $this->__("Twitter") ?></a>
        </li>
        <li class="gp">
            <a href="#" onclick="share('.gp a', 'https://plus.google.com/share?url=')"><?php echo $this->__("Google+") ?></a>
        </li>
    </ul>
</div>
