<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php $_menu = $this->getHtml('level-top') ?>
<?php $_helper = Mage::helper('catalog/category') ?>
<?php $partsRootCategory = $_helper->getPartsSubCategories(); ?>
<?php $machinesRootCategory = $_helper->getMachinesSubCategories(); ?>

<?php if($_menu): ?>
    <ul class="nav-top">
        <li class="products"><a href="/all-products.html" class="products"><?php echo $this->__("Products") ?></a></li>
        <li class="spares"><a href="/spares-and-accessories.html"><?php echo $this->__("Spares &amp; Accessories") ?></a></li>
        <li class="support"><a href="/support.html"><?php echo $this->__("Support") ?></a></li>
        <li class="registration"><a href="/registration"><?php echo $this->__('Registration'); ?></a></li>
    </ul>

    <nav id="nav">
        <ol class="nav-primary">
	        <div class="nav-cat nav-products">
		        <div class="nav-label"><?php echo $this->__("Products") ?></div>
		        <?php echo $_menu ?>
	        </div>
	        <div class="nav-cat nav-spares">
		        <div class="nav-label"><?php echo $this->__("Spares & Accessories") ?></div>
		        <?php if($machinesRootCategory && count($machinesRootCategory) > 0): ?>
			        <ul class="machines">
				        <li class="first"><a href="/spares-and-accessories/machine-type.html"><?php echo $this->__("Search by Machine Type") ?></a></li>
				        <?php foreach($machinesRootCategory as $_category): ?>
					        <li>
						        <a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php echo $_category->getName() ?></a>
					        </li>
				        <?php endforeach; ?>
			        </ul>
		        <?php endif; ?>
                <?php if($partsRootCategory && count($partsRootCategory) > 0): ?>
                <ul class="parts">
                    <?php foreach($partsRootCategory as $_category): ?>
                        <li>
                            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php echo $_category->getName() ?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
                <?php endif; ?>
	        </div>
	        <div class="nav-support">
		        <div class="nav-label"><a href="/support">Support</a></div>
                <?php echo $this->getChildHtml("top_support_links") ?>
	        </div>
        </ol>
    </nav>
<?php endif ?>
