.service {
	.main-container {
		padding: 0;
	}
    .category-title-container {
        float: left;
        width: 100%;
        height: 70px;
    }
    .page-title {
        background-color: $c-blue;
        margin-bottom: 10px;
	    position: relative;
        h1 {
            color: white;
            font-size: 25px;
            max-width: 100%;
            height: 70px;
            line-height: 70px;
            text-transform: none;
            margin: 0;
            padding: 0 0 0 20px;
	        &:after {
		        content: "";
		        display: block;
		        position: absolute;
		        right: 20px;
		        top: 10px;
		        background: url('../images/template/service-icon.png') no-repeat;
                background-size: contain;
		        width: 50px;
                height: 50px;
	        }
        }
    }

	.product-mini-view {
		width: 100%;
		border: 1px solid $c-gray-4;
		position: relative;
		img {
			min-width: 0;
			max-width: 100%;
			height: auto;
			margin: 13px auto;
		}
		.action {
			width: 100%;
			position: absolute;
			bottom: 10px;
			a {
				line-height: 32px;
				font-size: 16px;
				text-transform: uppercase;
				color: white;
				background-color: $c-red;
				text-align: center;
				padding: 0 20px;
				width: 220px;
				display: block;
				margin: 0 auto;
				&:hover, &:active {
					text-decoration: none;
					background-color: darken($c-red, 10%);
					cursor: pointer;
				}
			}
		}
	}
	.header {
		display: inline-block;
		color: $c-gray;
		padding: 20px;
		font-size: 19px;
		line-height: 20px;
		border-bottom: 1px solid $c-gray-4;
		width: 100%;

	}
	//product links
	.links-list {
		padding: 20px;
		overflow: hidden;
		li {
			display: inline-block;
			clear: both;
			float: left;
			height: 50px;
			width: 100%;
			position: relative;
			a {
				width: 100%;
				height: 100%;
				display: inline-block;
				color: black;
				font-size: 16px;
				line-height: 50px;
				font-weight: bold;
				&::after {
					display: block;
					content: "";
					position: absolute;
					right: 0px;
					top: 20px;
					//black-arrow
					background: sprite($mobile-icons, black-arrow) no-repeat;
					@include sprite-dimensions($mobile-icons, black-arrow);
				}
			}
		}
	}
	.quicklinks {
		background-color: $c-gray;
		padding: 30px 20px;
		color: white;
		font-weight: bold;
		margin: 10px 0 0;
		float: left;
		width: 100%;
		.quicklinks-title {
			color: white;
			line-height: 25px;
			font-size: 25px;
			text-transform: none;
		}
		.quicklinks-list {
			float: left;
			width: 100%;
			li {
				position: relative;
				display: inline-block;
				float: left;
				height: 40px;
				width: 100%;
				a {
					color: white;
					font-size: 16px;
					line-height: 40px;
					font-weight: bold;
					width: 100%;
					height: 100%;
					display: inline-block;
					&::after {
						display: block;
						content: "";
						position: absolute;
						right: 0px;
						top: 12px;
						//white-arrow
						background: sprite($mobile-icons, white-arrow) no-repeat;
						@include sprite-dimensions($mobile-icons, white-arrow);
					}
				}
			}
		}
	}
	.error {
		padding: 10px 20px 0;
	}
}
html:lang(en) {
	.product-mini-view .view {
		float: left;
		margin-left: 30px;
	}
}
@include bp(min-width, $bp-medium) {
    .service {
        .page-title {
            h1 {
                font-size: 35px;
                padding: 0 0 0 30px;
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: 20px;
                  top: 10px;
                  background: url('../images/template/service-icon.png') no-repeat;
                  background-size: contain;
                  width: 50px;
                  height: 50px;
                }
            }
        }
        .category-title-container {
            float: none;
        }
	    .product-mini-view {
		    width: 33.3%;
		    height: 328px;
		    float: left;
	    }
	    // product links
	    .links-list {
		    li {
			    clear: none;
			    width: 50%;
			    a {
				    font-size: 16px;
				    &::after {
					    right: 90px;
				    }
			    }
		    }
	    }
	    .quicklinks {
		    margin: 20px 0 0;
	        .quicklinks-title {
			    font-size: 35px;
			    line-height: 35px;
		    }
		    .quicklinks-list {
				li {
					width: 50%;
					a {
						font-size: 16px;
						line-height: 40px;
						&::after {
							right: 50px;
						}
					}
				}
			}
	    }
	    .error {
		    padding: 20px 20px 0;
	    }
    }
}
@include bp(min-width, 1040px) {
	.service {
		.main-container {
			padding: 0;
		}
		.header {
			padding: 20px 0;
		}
		.links-list {

		}
		.error {
			padding: 20px 0 0;
		}
	}
}


