<?php
/**
 * $this: @see DirtDevil_Spares_Block_Selector
 *
 * Dirt Devil Product Registration form - product selector
 */
?>

<div class="field control-group">
    <label for="model_name" class="control-label"><?php echo $this->__('Search by Dropdown') ?></label>
    <div class="controls">
        <select id="model-dropdown" name="model-dropdown">
            <option value="-"><?php echo $this->__("Select a product"); ?></option>
            <?php echo $this->getProductsInCategoryBlockHTML(); ?>
        </select>
    </div>
</div>

<div class="field control-group">
    <label class="search-label control-label" for="search-reg"><?php echo __("Model Number"); ?></label>

    <div id="search-box" class="controls">
        <input type="hidden" name="search-location" id="search-location" value="spares"/>

        <div class="box">
            <input type="text" name="sku" id="search-reg" class="input-text" />
        </div>
    </div>

    <a class="terms-link" href="#"
       onclick="popWin('/registration-sku','terms','top:0,left:0,width=350,height=400,resizable=yes,scrollbars=yes')"><?php echo $this->__("How to find the model number") ?></a>

</div>
<input type="hidden" id="sku" name="model_number" title="<?php echo $this->__('Model Number') ?>" class="input-text">

<script type="text/javascript">
    $j('#model-dropdown').change(function () {

        if($j('#model-dropdown option:selected').val() === '-') {
            return false;
        }

        $j('#search-reg').val($j('#model-dropdown option:selected').val());

    });

</script>
