<?php
/**
 * @var $this Mage_Paypal_Block_Express_Shortcut
 */
?>
<p class="paypal-logo<?php if (!$this->getIsBmlEnabled()): ?> no-bml<?php endif; ?>">

    <?php $shortcutHtmlId = $this->getShortcutHtmlId() ?>
    <?php $bmlShortcutHtmlId = $this->getBmlShortcutHtmlId() ?>
    <a class="paypal-button" data-action="checkout-form-submit" id="<?php echo $shortcutHtmlId ?>" href="<?php echo $this->getCheckoutUrl()?>"><img src="<?php echo $this->getImageUrl()?>" alt="<?php echo $this->quoteEscape(Mage::helper('paypal')->__('Checkout with PayPal')); ?>" title="<?php echo $this->quoteEscape(Mage::helper('paypal')->__('Checkout with PayPal')); ?>" /></a>
</p>
<?php if ($this->getIsBmlEnabled()): ?>
<p class="paypal-logo">
    <span class="bml_button">
        <a id="<?php echo $bmlShortcutHtmlId ?>" href="<?php echo $this->getBmlCheckoutUrl()?>"><img src="<?php echo $this->getBmlImageUrl()?>" alt="<?php echo $this->quoteEscape(Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit')); ?>" title="<?php echo $this->quoteEscape(Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit')); ?>" /></a>
        <a href="<?php echo $this->getMarketMessageUrl()?>"><img src="<?php echo $this->getMarketMessage()?>" /></a>
    </span>
</p>
<?php endif;?>

<?php if ($this->getConfirmationUrl() || $this->getIsInCatalogProduct()): ?>
    <?php if ($this->getIsInCatalogProduct()): ?>
        <script type="text/javascript">
            document.observe("dom:loaded", function() {
                $('product_addtocart_form').insert('<input type="hidden" id="pp_checkout_url" name="return_url" value="" />');
            });
        </script>
    <?php endif; ?>
    <script type="text/javascript">
        //<![CDATA[
        $$('#<?php echo $shortcutHtmlId ?>','#<?php echo $bmlShortcutHtmlId ?>').invoke('observe', 'click', function(event) {
            <?php if ($this->getConfirmationUrl()): ?>
            if (confirm('<?php echo Mage::helper('core')->jsQuoteEscape($this->getConfirmationMessage())?>')) {
                this.href = '<?php echo $this->getConfirmationUrl() ?>';
            }
            <?php endif; ?>
            <?php if ($this->getIsInCatalogProduct()): ?>
            $('pp_checkout_url').value = this.href;
            productAddToCartForm.submitExtra(this);
            event.stop();
            <?php endif; ?>
        });
        //]]>
    </script>
<?php endif; ?>
