<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>

<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="progress-bg"></div>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <?php
            // workaround for bradcrumbs
            // TODO: check why breadcrumbs added in layout are cleared
            $block = $this->getLayout()->getBlock('breadcrumbs');
            $block->addCrumb('Home', array('label' => 'Home', 'title' => 'Home', 'link' => '/home'));
            $block->addCrumb('Checkout', array('label' => 'Checkout', 'title' => 'Checkout'));
            echo $block->toHtml();
        ?>
        <div id="checkout-header">
            <h1><?php echo $this->getTopHeader() ? $this->getTopHeader() : __('Checkout'); ?></h1>
        </div>
        <div class="before-main-container">
            <div class="before-main">
                <?php echo $this->getChildHtml('before_main') ?>
            </div>
        </div>
        <div class="main-container col2-right-layout">
            <div class="main">
                <div class="col-right sidebar" id="checkout-sidebar"><?php echo $this->getChildHtml('right') ?></div>
                <div class="col-main">
                    <?php echo $this->getLayout()->getBlock('global_messages')->toHtml() ?>
                    <?php echo $this->getChildHtml('content') ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer_before') ?>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
