<table id="order-billing-address" class="order-info">
    <thead>
        <tr>
            <th class="desc">
                Billing Address
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <?php echo $this->quoteEscape($this->getLine1()); ?><br>
                <?php if ($this->getLine2()): ?>
                    <?php echo $this->quoteEscape($this->getLine2()); ?><br>
                <?php endif; ?>
                <?php echo $this->quoteEscape($this->getCity()); ?><br>
                <?php echo $this->quoteEscape($this->getRegion()); ?><br>
                <?php echo $this->quoteEscape($this->getPostcode()); ?><br>
            </td>
        </tr>
    </tbody>
</table>