<?php if (Mage::app()->getFrontController()->getRequest()->getParam('form') == 'general'): ?>
    <div id="messages_wrap"><?php echo $this->getMessagesBlock()->toHtml(); ?></div>
<?php endif; ?>

<div id="contact-wrap">
    <form action="<?php echo $this->getFormAction(); ?>" id="contactFormGeneral" method="post">
        <div class="fieldset">
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="first_name" class="required"><?php echo Mage::helper('contacts')->__('First Name') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="first_name" id="first_name" title="<?php echo Mage::helper('contacts')->__('First Name') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="surname" class="required"><?php echo Mage::helper('contacts')->__('Surname') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="surname" id="surname" title="<?php echo Mage::helper('contacts')->__('Surname') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><?php echo Mage::helper('contacts')->__('Email') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirm_email" class="required"><?php echo Mage::helper('contacts')->__('Confirm Email') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="confirm_email" id="confirm_email" title="<?php echo Mage::helper('contacts')->__('Confirm Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="telephone" class="required"><?php echo Mage::helper('contacts')->__('Telephone') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <label for="comment" class="required"><?php echo Mage::helper('contacts')->__('Message') ?><em>*</em></label>
                    <div class="input-box">
                        <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Message') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set form-buttons btn-only">
            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
            <button type="submit" class="button" title="<?php echo Mage::helper('contacts')->__('Send') ?>">RARARSSS<?php echo Mage::helper('contacts')->__('Send') ?></button>
            <div class="comment"><span class="required"><em>*</em></span> <?php echo $this->__('Mandatory fields') ?></div>
        </div>
        <input type="hidden" name="from_url" value="<?php echo $this->getFromUrl() ?>" />
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactFormGeneral', true);
    //]]>
</script>
