<?php if (Mage::app()->getFrontController()->getRequest()->getParam('form') == 'owner'): ?>
    <div id="messages_wrap"><?php echo $this->getMessagesBlock()->toHtml(); ?></div>
<?php endif; ?>
<div id="contact-wrap">
    <div id="contact-call-us">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact_us_panel_owner')->toHtml() ?>
    </div>
    <form action="<?php echo $this->getFormAction(); ?>" id="contactFormOwner" method="post">
        <div class="fieldset">
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="model_no" class="required"><?php echo Mage::helper('contacts')->__('Model Number') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="model_no" id="model_no" title="<?php echo Mage::helper('contacts')->__('Model Number') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="date_purchased"><?php echo Mage::helper('contacts')->__('Date Purchased') ?></label>
                        <div class="input-box">
                            <input name="date_purchased" id="date_purchased" title="<?php echo Mage::helper('contacts')->__('Date Purchased') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="serial_no" class="required"><?php echo Mage::helper('contacts')->__('Serial Number') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="serial_no" id="serial_no" title="<?php echo Mage::helper('contacts')->__('Serial Number') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="help serial-number"><a href="javascript:openSnHelp()"><?php echo $this->__('Where can I find the serial number on my machine?') ?></a><div class="icon"></div></div>
                    <div class="clearer">&nbsp;</div>
                    <div class="field">
                        <label for="warranty_no"><?php echo Mage::helper('contacts')->__('Warranty Number') ?></label>
                        <div class="input-box">
                            <input name="warranty_no" id="warranty_no" title="<?php echo Mage::helper('contacts')->__('Warranty Number') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>
                    <div class="help warranty-number"><?php echo $this->__('If you have not registered your product already you can register within 28 days of purchase at <a href="%s" target="_blank">%s</a>', 'http://www.vax.co.uk/registration', 'vax.co.uk/registration') ?></div>

                    <label for="notf" class="required"><?php echo Mage::helper('contacts')->__('Subject /<br /> Nature of the fault') ?><em>*</em></label>
                    <div class="input-box">
                        <textarea name="notf" id="notf" title="<?php echo Mage::helper('contacts')->__('Subject / Nature of the fault') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div>

                    <label for="name" class="required"><?php echo Mage::helper('contacts')->__('Name') ?><em>*</em></label>
                    <div class="input-box">
                        <textarea name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" class="input-text required-entry" cols="5"rows="3"></textarea>
                    </div>

                    <div class="field">
                        <label for="telephone" class="required"><?php echo Mage::helper('contacts')->__('Telephone Number') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone Number') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><?php echo Mage::helper('contacts')->__('Email Address') ?><em>*</em></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email Address') ?>" value="" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                    <label for="comment"><?php echo Mage::helper('contacts')->__('Message') ?></label>
                    <div class="input-box">
                        <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Message') ?>" class="input-text" cols="5" rows="3"></textarea>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set form-buttons btn-only">

            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
            <button type="submit" class="button" title="<?php echo Mage::helper('contacts')->__('Send') ?>"><?php echo Mage::helper('contacts')->__('Send') ?></button>
            <div class="comment"><span class="required"><em>*</em></span> <?php echo $this->__('Mandatory fields') ?></div>
        </div>
        <input type="hidden" name="from_url" value="<?php echo $this->getFromUrl() ?>" />
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactFormOwner', true);
    Event.observe(window, 'load', function() {
        Shadowbox.init({
            language: 'en',
            players:  ['img', 'html']
        });

    });

    function openSnHelp()
    {
        Shadowbox.open({
            'content':'<div style="background:#fff; margin:20px"><img src="<?php echo $this->getSkinUrl('images/registration/serial_number.png') ?>" /></div>',
            'player':'html',
            'width':'370px',
            'height':'170px'
        })
    }
    //]]>
</script>
<style type="text/css">
    #sb-body-inner {background:#FFF}
</style>
