.catalog-product-view {
	.product-view .product-img-box .product-image-gallery {
		.visible.zoomed {
			position: fixed;
			top: 130px;
			width: auto;
			height: auto;
			box-shadow: 10px 10px 20px;
			z-index: 999;
			max-height: 72%;
			margin: 0 auto;
			left: 50%;
		}
		.zoom:hover, .zoom:active {
			opacity: 0.5;
		}

		.close {
			position: fixed;
			z-index: 9999;
			top: 130px;
			right: 10px;
			display: block;
			width: 30px;
			height: 30px;
			background-color: $c-gray;
			color: #FFF;
			border-radius: 30px;
			box-shadow: 1px 1px 2px 1px rgba(135, 135, 135, 0.5);
			text-align: center;
			line-height: 30px;
			font-weight: bold;
			cursor: pointer;
			&:hover {
				box-shadow: none;
			}
		}
	}
}
@include bp(min-width, $bp-xlarge + 1) {
	.catalog-product-view .product-view .product-img-box .product-image-gallery .close {
		right: 100px;
	}
}

