/* ================================================= *
 * Contact Us - Small View Port
 * ================================================= */
.contacts-index-index {
	/* the style for the header is in:
	// skin/frontend/dirtdevil_rwd/uk/scss/module/registration/_common.scss
	//
	// this header is common for Registration, Contact Us and Support Pages
	// only the icons and the backgrounds color are different */
	.before-main-container {
		background-color: $c-orange;
	}
	//allow full width elements on mobile:
	.main-container {
		padding: 0;
	}
	//quicklinks style
	.col-main {
		margin-bottom: 0;
	}
	.footer-before-container {
		background-color: $c-quickliks-grey;
	}

	.page-title {
		height: 80px;
		h1 {
			width: 250px;
		}
		// mobile icon in the title
		h1::after {
			background: sprite($mobile-icons, contacts-icon) no-repeat;
			@include sprite-dimensions($mobile-icons, contacts-icon);
			margin-top: -13px;
		}
	}
	//form response error and success messages
	#messages_wrap .messages {
		* {
			font-size: 17px;
		}
		//remove little arrow in the left before the error/success message
		.success-msg, .error-msg {
			li::before {
				display: none;
			}
		}
		ul {
			margin: 0;
			li li {
				height: 50px;
				padding: 15px 0 15px 20px;
				margin: 0;
			}
		}
	}
	.contacts-intro {
		margin-bottom: 15px;
		padding: 20px;
		* {
			color: black;
			text-transform: none;
		}
		.title {
			font-size: 20px;
			line-height: 22px;
		}
		p {
			font-size: 14px;
		}
		.visit-support {
			width: 100%;
			background-color: $c-red;
			text-align: center;
			height: 35px;
			line-height: 35px;
			margin: 15px 0 25px 0;
			a {
				font-size: 14px;
				text-transform: uppercase;
				color: white;
				&:hover {
					text-decoration: none;
				}
				&::after {
					content: ">";
					margin-left: 5px;
					font-size: 20px;
				}
			}
			&:hover {
				text-decoration: none;
				background-color: darken($c-red, 5%);
			}
		}
	}
	.btn-livechat {
		h5 {
			padding-left: 20px;
		}
		.icon {
			left: 20px;
		}
	}
	.accordion {
		.accordion-step {
			background-color: $c-gray-4;
			height: 50px;
			border-bottom: 1px solid white;
			line-height: 50px;
			* {
				font-size: 14px;
			}
			&::after {
				content: "";
				display: inline-block;
				float: right;
				margin: 17px 20px 0 0;
				background: sprite($mobile-icons, contact-accordion-arrow-grey) no-repeat;
				@include sprite-dimensions($mobile-icons, contact-accordion-arrow-grey);
			}
			.icon {
				width: 50px;
				height: 50px;
				display: inline-block;
				float: left;
				margin: 9px 20px 0;
				&.email_us_step {
					margin: 14px 20px 0;
					background: sprite($mobile-icons, email-grey) no-repeat;
					@include sprite-dimensions($mobile-icons, email-grey);
				}
				&.call_us_step {
					background: sprite($mobile-icons, call-grey) no-repeat;
					@include sprite-dimensions($mobile-icons, call-grey);
				}
				&.write_us_step {
					background: sprite($mobile-icons, write-grey) no-repeat;
					@include sprite-dimensions($mobile-icons, write-grey);
				}
				&.tweet_us_step {
					background: sprite($mobile-icons, tweet-grey) no-repeat;
					@include sprite-dimensions($mobile-icons, tweet-grey);
				}
			}
			.accordion-title {
				font-size: 20px;
				line-height: 50px;
				text-transform: none;
				margin: 0;
				display: inline-block;
				float: left;
			}
			&:hover {
				background-color: darken($c-gray-4, 5);
				cursor: pointer;
			}
			&.active {
				background-color: $c-orange;
				border: none;
				.accordion-title {
					color: white;
				}
				.icon {
					&.email_us_step {
						background: sprite($mobile-icons, email-white) no-repeat;
						@include sprite-dimensions($mobile-icons, email-white);
					}
					&.call_us_step {
						background: sprite($mobile-icons, call-white) no-repeat;
						@include sprite-dimensions($mobile-icons, call-white);
					}
					&.write_us_step {
						background: sprite($mobile-icons, write-white) no-repeat;
						@include sprite-dimensions($mobile-icons, write-white);
					}
					&.tweet_us_step {
						background: sprite($mobile-icons, tweet-white) no-repeat;
						@include sprite-dimensions($mobile-icons, tweet-white);
					}
				}
				&::after {
					margin: 20px 16px 0 0;
					background: sprite($mobile-icons, contact-accordion-arrow-white) no-repeat;
					@include sprite-dimensions($mobile-icons, contact-accordion-arrow-white);
				}
				&:hover {
					background-color: darken($c-orange, 5);
				}
			}
		}

		.accordion-content {
			padding: 20px 20px 30px 20px;
			* {
				color: $c-gray;
				text-transform: none;
			}
			a {
				color: $c-red;
				text-decoration: underline;
			}
			ol {
				list-style: decimal;
				margin-left: 20px;
			}
			p, li, div {
				font-size: 14px;
			}
			.phone {
				font-size: 29px;
				color: $c-red;
				font-weight: bold;
			}
		}
	}

	//Contact form style
	#contactForm {
		.field {
			label {
				text-align: left;
				color: #000;
				font-weight: normal;
				line-height: 15px;
				padding-bottom: 10px;
				vertical-align: top;
				font-size: 14px;
			}
			.input-box {
				padding: 0;
				margin: 0;
				input, select {
					max-width: 320px;
					width: 100%;
					height: 36px;
					border-radius: 4px;
					border: 1px solid #c2c4c4;
				}
				select {
					padding-left: 7px;
				}
				option {
					height: 36px;
					padding: 8px 0 8px 10px;
				}

              p {
                margin: 10px 0;
              }
			}
		}
		.validation-advice {
			color: $c-red;
			font-size: 14px;
		}
		textarea#comment {
			max-width: 320px;
			width: 100%;
			border-radius: 4px;
			border: 1px solid #c2c4c4;
		}

		p.advise {
			margin: 20px 0;
		}
		.checkboxes {
			padding: 20px 0;
			.checkbox {
				float: left;
				margin: 8px 10px 0 0;
			}
		}
		.form-buttons {
			width: 100%;
			display: block;
			max-width: none;
			border: none;
			margin: 0;
			.button {
				line-height: 1.5;
				width: 100%;
				margin-top: 20px;
				color: white;
				text-transform: uppercase;
				background-color: $c-red;
				border: none;
				padding: 4px 11px;
				font-size: 18px;
				min-width: 0;
				&:hover, &:active {
					background-color: darken($c-red, 5%);
				}
			}
		}
	}
}

/* ================================================= *
 * Contact Us - Medium View Port
 * ================================================= */
@include bp(min-width, $bp-xsmall+1) {
	.contacts-index-index {
		.contacts-intro {
			.visit-support {
				width: 230px;
			}
		}
		#contactForm {
			textarea#comment {
				max-width: none;
			}
			.form-buttons .button {
				width: 87px;
				float: right;
				margin: 0 0 20px 0;
			}
		}
	}
  #contactForm {
    .field {
      .captcha-image {
        margin-top: 20px;
      }
    }
  }
}

/* ================================================= *
 * Contact Us - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.contacts-index-index {
		.main-container {
			padding: 30px;
		}
		.page-title {
			height: 140px;
			h1 {
				width: auto;
			}
			h1::after {
				background: sprite($desktop-icons, contacts-icon) no-repeat;
				@include sprite-dimensions($desktop-icons, contacts-icon);
				margin-top: -20px;
			}
		}
		//form response messages
		#messages_wrap .messages {
			* {
				font-size: 18px;
				line-height: 22px;
			}
		}
		.contacts-intro {
			padding: 0;
			.title {
				font-size: 30px;
				line-height: 35px;
				margin-bottom: 20px;
			}
			p {
				font-size: 18px;
				line-height: 22px;
			}
			.visit-support {
				margin: 25px 0 45px 0;
			}
		}
		#chat-header {
			background-color: transparent;
			box-shadow: none;
			color: transparent;
		}
		.btn-livechat {
			h5 {
				padding-left: 0px;
			}
			.icon {
				left: 10px;
			}
		}
		.accordion {
			.accordion-step {
				.icon {
					margin: 9px 10px 0;
					&.email_us_step {
						margin: 14px 10px 0;
					}
				}
			}
			.accordion-content {
				p, li, div {
					font-size: 18px;
					line-height: 22px;
				}
				.phone {
					font-size: 30px;
					line-height: 32px;
				}
			}
		}
		#contactForm {
			padding: 0;
			.field {
				min-height: 45px;
				label {
					width: 145px;
					padding-right: 20px;
					text-align: right;
					padding-bottom: 10px;
					font-size: 14px;
					padding-top: 10px;
					vertical-align: top;
				}

              .captcha-image {
                margin-left: 149px;
                border-radius: 4px;
                margin-bottom: 20px;
                margin-top: 0;
              }
            }
			.input-box, .input-box select {
				width: 100%;
				max-width: 320px;
				display: inline-block;
			}
		}
	}
}

/* ================================================= *
 * Contact Us - Large View Port
 * ================================================= */
@include bp(min-width, $bp-large+1) {
	.contacts-index-index {
		.main-container {
			padding: 30px;
		}
	}
}