.ratings, #customer-reviews .ratings-table {
    .rating-box {
        background-position: initial;
        background: sprite($mobile-icons, review_stars_empty) no-repeat;
        @include sprite-dimensions($mobile-icons, review_stars_empty);
        .rating {
            background-position: initial;
            background: sprite($mobile-icons, review_stars_full) no-repeat;
        }
    }
}
