/**************************************
* About Us - logo icon and Let's go text
**************************************/
.cms-about-us {
	.page-title {
		h1 {
			max-width: 55%;
		}
		h1::after {
			top: 25px;
			background: sprite($mobile-icons, mobile-tail) no-repeat;
			@include sprite-dimensions($mobile-icons, mobile-tail);
		}
	}
	.std .slogan {
		text-transform: uppercase;
		color: $c-gray;
		font-size: 36px;
		font-weight: bold;
		padding: 30px 0;
	}
    img.desktop {
        display: none;
    }
}

@include bp(min-width, $bp-xsmall+1) {
	.cms-about-us .page-title {
		h1::after {
			top: 10px;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.cms-about-us {
        .page-title {
            h1::after {
                top: 20px;
                right: 30px;
            }
        }
        img.mobile {
            display: none;
        }
        img.desktop {
            display: block;
        }
    }
}

@include bp(min-width, $bp-large+1) {
	.cms-about-us {
		.page-title {
			h1 {
				padding: 30px;
			}
			h1::after {
				top: 30px;
				background: sprite($desktop-icons, desktop-tail) no-repeat;
				@include sprite-dimensions($desktop-icons, desktop-tail);
			}
		}
		.std {
			p, * {
				font-size: 19px;
				line-height: 22px;
			}
			.slogan {
				font-size: 50px;
			}
		}
	}
}

