/* ================================================= *
 * Product Category - Top - Generic
 * ================================================= */
.catalog-category-view {
	.before-main {
		max-width: 100%;
	}
	.category-title-container {
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% auto;
	}
	.category-title .title-header-space {
		position: relative;
	}
	.category-title .title-header-space, .category-extra {
		max-width: $max-container-width;
		margin: 0 auto;
		width: 100%;
		padding: 0px $trim-small;
	}
	.page-title {
		width: 100%;
		height: auto;
		float: left;
		background-color: $c-blue;
		margin-bottom: 20px;
		h1 {
			max-width: 80%;
			font-weight: bold;
			font-size: 30px;
			line-height: 30px;
			color: #fff;
			text-transform: none;
			padding: 20px 0;
			position: relative;
			margin: 0;
		}
	}
	.category-image {
		padding: 0;
		border: none;
		position: absolute;
		top: 12px;
		right: 20px;
		margin-bottom: 0;
	}
	.category-image img {
		max-width: 150px;
		max-height: 137px;
        width: auto;
        height: auto;
	}
	.category-description {
		padding: 20px 0px;
		font-size: 17px;
		line-height: 19px;
		color: $c-gray;
		max-width: 65%;
	}
	a.buyers-guide, a.view-product {
		height: 35px;
		background-color: $c-red;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		line-height: 33px;
		display: inline-block;
		color: #fff;
		padding: 0px 7px;
		width: 100%;
	}
	a.buyers-guide:hover, a.view-product:hover {
		background-color: darken($c-red, 5%);
		text-decoration: none;
	}
	.category-title-container.has-image {
		.banner-small {
			height: 150px;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
		}

		.page-title {
			height: auto;
			background-color: transparent;
		}
		.page-title, .category-extra {
			background-color: $c-yellow;
		}
		.page-title h1 {
			color: $c-gray;
		}
		.page-title h1 span {
			text-transform: uppercase;
			max-width: 600px;
		}
		.category-description {
			max-width: 100%;
			color: $c-gray;
		}
	}
}

/* specific category colours */
.category-steam-cleaners {
	.page-title {
		background-color: $c-light-blue;
	}
}

.category-carpet-washing {
	.page-title {
		background-color: $c-green;
	}
}

.category-handheld-vacuums {
	.page-title {
		background-color: $c-orange;
	}
}

.category-pads {
	.page-title {
		background-color: $c-yellow;
	}
}

.category-belts,
.category-filters,
.category-pads,
.category-solutions,
.category-hoses,
.category-tools,
.category-brushes {
	.page-title {
		background-color: $c-yellow;
		h1 {
			color: $c-gray;
		}
	}
}

@include bp(min-width, $bp-xsmall+1) {
    .catalog-category-view {
	    .page-title {
		    h1 {
			    padding: 30px 0;
		    }
	    }
	    .category-extra {
		    padding: 0 0 0 20px;
	    }
	    a.buyers-guide, a.view-product {
		    width: auto;
		    padding: 0px 10px;
		    line-height: 35px;
	    }
    }
}

/* ================================================= *
 * Product Category - Top - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	/* accommodate the images on the category pages */
	.category-steam-mops-and-cleaners,
	.category-upright-vacuum-cleaners,
	.category-cylinder-vacuum-cleaners,
	.category-cordless-vacuum-cleaners,
	.category-carpet-washers-and-cleaners,
	.category-handheld-vacuum-cleaners {

			.category-extra {
				min-height: 280px;
			}
		
	}
	.catalog-category-view {

        .page-title h1 {
            padding: 40px 10px;
	        font-size: 50px;
	        line-height: 55px;
		}
		.category-extra {
			padding: 0 0 0 30px;
		}
		.category-image {
			padding: 0px 0px 0px 0px;
			right: 30px;
			img {
				max-width: 290px;
				max-height: 306px;
			}
		}

		.category-description {
			font-size: 19px;
			line-height: 20px;
			padding: 28px 0px;
			max-width: 65%;
		}

		.category-title-container.has-image {
			height: 411px;
			padding-top: 35px;
			background-size: cover;

			.banner-small {
				display: none;
			}
			.page-title, .category-extra {
				background-color: transparent;
			}
			.page-title h1 {
				line-height: 60px;
				color: #fff;
				max-width: 500px;
			}
			.category-description
			{
				color: #fff;
				max-width: 400px;
				line-height: 20px;
			}
		}
	}
}
/* ================================================= *
 * Product Category - Top - Large View Port
 * ================================================= */
@include bp(min-width, $bp-large+1) {
	.catalog-category-view {
		.page-title h1 {
			font-size: 55px;
			line-height: 60px;
		}
		.category-image {
			img {
				max-width: 290px;
				max-height: 306px;
			}
		}
		.category-description {
			max-width: 600px;
		}
	}
}


/* ================================================= *
 * Product Grid/List - General
 * ================================================= */
.products-grid,
.products-list {
	.product-name {
		margin-bottom: 4px;
		a {
			font-size: 20px;
			color: #000000;
			font-weight: bold;
			text-transform: none;
		}
	}
}

/*.pager .limiter .show-less {
	display: none;
}*/

.sku {
	font-size: 16px;
	color: #58585B;
}

.coming-soon span {
	color: #fff;
}

.btn-cart,
.link-learn,
.out-of-stock span,
.coming-soon span {
	min-width: 130px;
}

.btn-cart {
	background: $c-green;
	line-height: 26px;
	padding: 0px 5px;
}

.link-learn {
	line-height: 26px;
	display: inline-block;
	text-align: center;
	background-color: #5a6870;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: darken(#5a6870, 5%);
	}
}

.out-of-stock,
.coming-soon {
	span {
		line-height: 26px;
		display: inline-block;
		text-align: center;
	}
}

.out-of-stock span {
	background-color: #e7e7e7;
}

.coming-soon span {
	background-color: $c-purple;
}

.btn-cart:hover {
	background: darken($c-green, 5%);
}

.price-box {
	margin: 0px 0px;
	> .price {
		color: black;
		font-weight: bold;
		font-size: 22px;
	}
	.old-price {
		display: block;

		.price-label {
			display: inline-block;
		}

		.price {
			color: $c-gray;
			font-size: 12px;
		}
	}
	.special-price, .regular-price {
		display: block;
		padding-left: 0px;

		.price {
			color: #000;
			font-size: 22px;
			font-weight: bold;
		}
	}
}
.available-at {
	position: static;
	float: right;
	margin: 20px 0;
	p {
		font-weight:bold;
		float: right;
		font-size: 10px;
		margin-right: 70px;
	}
	.argos {
		background-image: url('../images/template/catalog/affiliates/argos_logo.png');
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
		background-size: contain;
		color: transparent;
		margin-left: 70px;
	}
}
.discount-label {
	font-size: 14px;
	color: $c-red;
	font-weight: bold;
}

.free-delivery {
	background: sprite($mobile-icons, free_delivery) no-repeat;
	@include sprite-dimensions($mobile-icons, free_delivery);
	width: 54px;
}
.delivery {
	margin-top: 20px;

	.label {
		font-size: 9px;
		color: $c-red;
		line-height: 11px;
		margin-top: 3px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		width: 44px;
	}
}

.free-return {
	background: sprite($mobile-icons, free_returns) no-repeat;
	@include sprite-dimensions($mobile-icons, free_returns);
	float: right;
}

.new-product {
	background: sprite($mobile-icons, new_product) no-repeat;
	@include sprite-dimensions($mobile-icons, new_product);
	position: absolute;
	top: 0px;
	left: 0px;
}

.product-image, .no-touch .product-img-box .product-image:hover:not(.zoom-available) {
	border: none;
}

.ratings {
	.rating-box {
		float: left;
		margin-right: 6px;
	}
	.rating-links, .amount {
		a {
			color: $c-gray;
			text-decoration: underline;
			font-size: 12px;
		}
	}
}

/* ================================================= *
 * Product Grid/List - General
 * ================================================= */
@include bp(min-width, $bp-medium+1) {

	.link-learn,
	.btn-cart,
	.out-of-stock span,
	.coming-soon span {
		width: 131px;
		line-height: 32px;
		font-size: 14px;
	}
	.new-product {
		background: sprite($desktop-icons, new_product) no-repeat;
		@include sprite-dimensions($desktop-icons, new_product);
	}
}

/* ================================================= *
 * Product Grid/List - Large View Port
 * ================================================= */
@include bp(min-width, $bp-large+1) {
	.free-delivery {
		background: sprite($desktop-icons, free_delivery) no-repeat;
		@include sprite-dimensions($desktop-icons, free_delivery);
	}

	.free-return {
		background: sprite($desktop-icons, free_returns) no-repeat;
		@include sprite-dimensions($desktop-icons, free_returns);
	}
}

/* ============================================ *
 * Product Grid - General
 * ============================================ */

.price-rating-container {
	&:after {
		@include clearfix;
	}
}

.products-grid {
	> li {
		text-align: left;

		a.product-image {
			padding: 15px 15px;
			border: none;

			&:hover {
				background-color: #F0F0F0;
			}
		}
	}
	.product-info {
		padding-bottom: 0;
	}

	.product-image {
		max-width: 271px;
		max-height: 271px;
	}

	.ratings .amount {
		display: block;
	}
	.ratings .rating-box {
		float: left;
		margin: 5px 6px 5px 0px;
	}
	.price-box {
		float: left;
	}

	.energy-rating-container {
		float: right;
		.energy-rating-label {
			width: 130px;
			padding-left: 10px;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	.btn-cart {
		padding: 0 10px;
		width: 100%;
	}
	.delivery {
		margin-top: 0;
		margin-left: 0px;
	}

	.available-at {
		margin: 0;
		p {
			font-weight:bold;
			float: right;
			font-size: 10px;
			margin-right: 0;
		}
		.argos {
			width: 50px;
			height: 50px;
			margin-top: 25px;
			margin-left: 10px;
		}
	}
	.link-learn {
		margin: 10px 0;
		width: 100%;
	}
	.actions {
		position: static;
	}
	.availability {
		&.out-of-stock,
		&.coming-soon {

			width: 100%;
			span {
				background-color: #E7E7E7;
				min-width: 0;
				width: 100%;
				padding: 0;
				margin: 0;
				text-align: center;
				float: none;
			}
		}
		&.coming-soon span {
			background-color: $c-purple;
		}
	}
}


/* ================================================= *
 * Product Grid - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.products-grid {
        .product-image {
            margin-bottom: 14px;
        }
		.actions {
			padding-top: 0;
		}
        .availability,
        .btn-cart {
            float: left;
	        width: 130px;
        }
		.availability {
			&.out-of-stock,
			&.coming-soon {
				width: 130px;
			}
		}
		.available-at {
			margin: 0px;
			p {
				font-weight: normal;
				font-size: 13px;
				margin-right: 60px;
				line-height: 38px;
			}
			.argos {
				margin-left: 80px;
				margin-top: 0px;
			}
		}

		.link-learn {
			width: 130px;
			clear: both;
			float: left;
		}
        .delivery {
            float: right;
	        margin-left: 10px;
            .label {
                float: right;
                clear: right;
                margin-right: 7px;
            }
        }
    }
}

/* ================================================= *
 * Product Grid - Large View Port
 * ================================================= */
@include bp(min-width, $bp-large+1) {
	.products-grid {
		.availability,
		.btn-cart,
		.availability.out-of-stock{
			width: 130px;
		}
		.delivery {
			float: right;
		}
	}
}

/* ================================================= *
 * Product List - Generic
 * ================================================= */
.product-primary {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}

.product-shop2 {
	float: right;
	text-align: right;
	width: 27%;
}

.products-list {
	> li .product-image {
		width: 100%;
		float: none;

		&:hover {
			background-color: #F0F0F0;
		}
	}
	.energy-rating-container {
		width: 130px;
		span.energy-rating-label {
			width: 130px;
		}
	}
	.available-at {
		float: left;
	}
	.product-shop {
		padding-left: 40px;
        .desc {
            color: $c-gray;
            font-size: 12px;
	        li {
		        line-height: 14px;
		        margin-bottom: 10px;
	        }
	        p {
		        line-height: 14px;
	        }
        }
		.product-secondary {
			float: right;
			text-align: right;
			&.energy-rating-container {
				margin: 20px 0 0;
			}
			&.actions {
				text-align: right;
			}
		}
	}
    .link-learn, .out-of-stock span, .coming-soon span {
        min-width: 131px;
        width: auto;
    }
}

.product-image-container {
	float: left;
	width: 33.3333%;
	clear: left;
}

.desktop {
	display: none;
}

.has-features ul:first-child {
	display: none;
}

/* ================================================= *
 * Product List - Large View Port
 * ================================================= */
@include bp(min-width, $bp-small+1) {
    .products-list {
        .free-delivery {
            float: right;
        }
	    .available-at {
		    float: right;
		    clear: both;
	    }
        .delivery .label {
            clear: right;
            float: right;
            margin-right: 9px;
        }
        .has-features ul {
            float: left;
            width: 50%;
        }
        .has-features ul:first-child {
            display: block;
        }
    }
    .mobile-container {
        display: none;
    }
    .product-image-container {
        .product-secondary {
            display: none;
        }
    }
    .desktop {
        display: block;
    }
}

/* ================================================= *
 * Product List - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.products-list {
		> li .product-image {
			padding: 15px 15px;
		}
		.product-shop {
			padding-left: 20px;
		}
		.product-shop .desc {
			font-size: 14px;
            padding-right: 20px;
			li {
				line-height: 17px;
				margin-bottom: 13px;
			}
			p {
				line-height: 19px;
			}
		}
//        .link-learn, .out-of-stock span, .coming-soon span {
//            min-width: 161px;
//            width: 161px;
//        }

	}
	.product-primary {
		width: 73%;
	}
}

