/***************************************************
/* General style for the CMS pages
/**************************************************/

.cms-terms-and-conditions-of-website,
.cms-terms-and-conditions-of-sale,
.cms-privacy-policy,
.cms-about-us,
.cms-no-route,
.cms-newsletter {
	* {
		font-family: $f-stack-sans;
	}
	.main-container {
		max-width: none;
		padding: 0;
		width: 100%;
	}
	.col-main {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.page-title {
		padding: 20px;
		background-color: $c-blue;

		h1 {
			font-family: $f-stack-special;
			text-transform: none;
			color: white;
			font-weight: bold;
			font-size: 32px;
			line-height: 30px;

			max-width: 60%;
			margin: 0;
			padding: 0;
			&::after {
				content: "";
				position: absolute;
				float: right;
				display: inline-block;
				right: 20px;
				top: 40px;
			}
		}
	}
	.std {
		padding: 20px;
		* {
			font-size: 14px;
			line-height: 18px;
			color: black;
			font-style: normal;
			font-family: $f-stack-sans;
		}
		h2 {
			color: $c-red;
			font-weight: bold;
			font-size: 18px;
		}
		p {
			margin: 0 0 22px;
		}
		p, strong, a, li, small, span, p span {
			color: black;
			font-style: normal;
			font-size: 17px;
			line-height: 19px;
			font-family: $f-stack-special;
		}
		a, li a {
			color: $c-red;
			text-decoration: underline;
			&:hover, &:active {
				color: darken($c-red, 10);
				text-decoration: none;
			}
		}
	}
}

@include bp(min-width, $bp-xsmall+1) {
	.cms-terms-and-conditions-of-website,
	.cms-terms-and-conditions-of-sale,
	.cms-privacy-policy,
	.cms-about-us,
	.cms-no-route,
	.cms-newsletter   {
		.page-title {
			h1::after {
				top: 20px;
			}
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.cms-terms-and-conditions-of-website,
	.cms-terms-and-conditions-of-sale,
	.cms-privacy-policy,
	.cms-about-us,
	.cms-no-route,
	.cms-newsletter   {
		.page-title h1, .std {
			padding: 30px;
		}
		.page-title {
			padding: 0px;
			h1::after {
				top: 20px;
			}
		}
	}
}

@include bp(min-width, $bp-large+1) {
	.cms-terms-and-conditions-of-website,
	.cms-terms-and-conditions-of-sale,
	.cms-privacy-policy,
	.cms-about-us,
	.cms-no-route,
	.cms-newsletter   {
		.col-main {
			.page-title h1, .std {
				max-width: 1000px;
				padding: 30px;
				margin: 0 auto;
			}
		}
		.page-title {
			padding: 10px 20px;
			h1 {
				position: relative;
				font-size: 59px;
				line-height: 71px;
			}
		}
		.std {
			p, strong, a, li {
				font-size: 19px;
				line-height: 22px;
			}
		}
	}
}


