/* ============================================ *
 * Cookies Notice
 * ============================================ */

/* -------------------------------------------- *
 * Global Site Notice
 */

.global-site-notice {
    .notice-inner {
        background-image: none;
    }
}

#notice-cookie-block {
    position: fixed;
    width: 100%;
    min-height: 90px;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    color: white;
    .notice-inner {
        overflow: hidden;
        max-width: 980px;
        position: relative;
        padding: 27px 20px;
        font-size: 13px;
        line-height: 17px;
        .notice-text {
            float: left;
            display: inline-block;
            width: 70%;
            padding: 0;
            margin: 0;
            p {
                padding: 0;
            }
        }
        .actions {
            right: 20px;
            max-width: 29%;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            padding: 0;
            margin: 0;
            .button {
                font-weight: bold;
                background-color: $c-red;
                &:hover {
                    background-color: darken($c-red, 7);
                }
            }
        }
    }
}
