/*############################################
# Bazaar Voice - Overriding module style
#############################################*/
//	Reset default style
.catalog-product-view,
.catalog-category-view {
	.bv-cleanslate {
		font-family: $f-stack-special !important;
		font-size: 14px !important;
		.bv-core-container-194 {
			color: #000 !important;
			font-family: $f-stack-special !important;
			line-height: 1 !important;
			font-size: 14px !important;
			.bv-primarySummary-rating-container {
				padding: 0px !important;
				margin: 0px !important;
				border-width: 0 !important;
				border-style: none !important;
				border-color: transparent !important;
				background: initial !important;
				border-radius: 0 !important;
			}
			.bv-primarySummary-rating-container .bv-rating-stars-on {
				color: $c-red !important;
			}
			.bv-text-link {
				color: #000 !important;
			}
		}
	}
}

// Product page - Review summary on the top of the page
.catalog-product-view {
	.extra-info {
		.bv-cleanslate {
			text-align: right !important;
			.bv-core-container-194 {
				// Remove button, average reviews and comment
				.bv-summary-bar .bv-rating-ratio-number {
					display: none !important;

				}
				.bv-details-bar,
				.bv-action-bar {
					display: none !important;
				}

				//stars and reviews count
				.bv-stars-container dd {
					display: block !important;
					padding-right: 0 !important;
					.bv-rating-stars {
						bottom: 0 !important;
					}

				}
				//bizarre similarly named classes but oh well
				.bv-rating-stars-container {
					margin-bottom: -3px !important;
				}
				.bv-summary-bar .bv-rating-label {
					float: right !important;
					padding: 0 !important;
					margin: 0 !important;

				}
			}
		}
	}
}

// Product page - Full Reviews
.catalog-product-view {
	.nav-reviews {
		.content-wrapper {
			padding-top: 100px;
		}
		.bv-cleanslate {
			.bv-core-container-194 {
				.bv-action-bar {
					border-color: transparent !important;
					padding: 0 0 20px 0 !important;
					.bv-action-bar-header {
						display: none !important;
					}
				}
			}
		}
	}
}

// Category Page
.catalog-category-view {
	.bv-cleanslate .bv-core-container-194 .bv-inline-rating-container {
		.bv-rating-stars-on {
			color: $c-red !important;
		}
		.bv-stars-container {
			margin: 10px 0 0 0 !important;
			dd {
				display: inline-block !important;
				.bv-rating-stars {
					bottom: 0 !important;
				}
				.bv-rating-label {
					vertical-align: middle !important;
					margin-top: -3px !important;
					position: relative !important;
					display: inline-block !important;
				}
			}
		}
	}
}
