/* -------------------------------------------- *
* Eco Ratings
*/
.energy-rating-container {
}
.energy-rating-label {
	height: 20px;
	background: url('/skin/frontend/dirtdevil_rwd/uk/images/ratings_sprite.png') top right no-repeat;
	display: block;
	text-align: left;
	color: #717D83;
	line-height: 20px;
	font-size: 10px;
}
.products-grid {
	.energy-rating-label {
		margin-top: 5px;
		width: 130px;
	}
}

.products-list {
	.energy-rating-container {
		margin: 24px 0 0;
        width: 110px;
	}
	.energy-rating-label {
		width: 110px;
	}
}

.products-list, .catalog-product-view, body {
    .energy-rating-label  {
        display: inline-block;
        width: 30px;
        height: 20px;
        background-image: url('/skin/frontend/dirtdevil_rwd/uk/images/ratings_sprite.png');
        background-repeat: no-repeat;
    }
    .energy-rating-label-a {
        background-position: 85px 0;
    }
    .energy-rating-label-b{
        background-position: 85px -20px;
    }
    .energy-rating-label-c {
        background-position: 85px -40px;
    }
    .energy-rating-label-d {
        background-position: 85px -60px;
    }
    .energy-rating-label-e {
        background-position: 85px -80px;
    }
    .energy-rating-label-f {
        background-position: 85px -100px;
    }
}

@include bp(min-width, $bp-medium+1) {
	.products-list {
		.energy-rating-label {
			float: right;
			width: 130px;
		}

		.energy-rating-container {
            width: 110px;
			margin: 20px 0 0;
		}
	}

	.energy-rating-label {
		font-size: 12px;
	}
}