.chatContainer {
	//chat window that opens is unusable on a phone => hidden for small mobile devices
	// display: none;

	width: 190px;
	height: 170px;
	background: #000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: -115px;
	right: 20px;
	cursor: pointer;
	z-index: 200;

	&:hover {
		bottom: 0;
	}
}

#chatHeader {
	background-color: $c-purple;
	color: #fff;
	height: 55px;
	width: 100%;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 10px 10px 15px;
	text-transform: uppercase;
	box-shadow: 0 10px 10px -13px #444;
	position: relative;

	&::after {
		content: "";
		display: inline-block;
		background: sprite($mobile-icons, chat-white) no-repeat;
		@include sprite-dimensions($mobile-icons, chat-white);
		position: absolute;
		top: 10px;
		right: 27px;
	}
	.icon {
		background: sprite($mobile-icons, chat-white) no-repeat;
		@include sprite-dimensions($mobile-icons, chat-white);
		position: absolute;
		top: 10px;
		right: 20px;
	}
}

div.chat-content {
	background: #000;
}

#chatCTA {
	color: #FFF;
	font-size: 18px;
	padding: 10px 15px 15px;
	text-align: left;
	width: 80%;
	line-height: 21px;
}

#rejectChat {
	cursor: pointer;
	padding: 5px;
	right: 5px;
	top: 5px;
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
}

#startChat {
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	width: 160px;
	background-color: $c-red;
	margin: 0px 15px;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	display: block;

	&:hover {
		text-decoration: none;
		background-color: darken($c-red, 5%);
	}
}

.btn-livechat {
	height: 50px;
	background: $c-gray-4;
	border-bottom: 1px solid #fff;
	position: relative;

	&::after {
		content: "";
		display: block;
		background: sprite($mobile-icons, contact-accordion-arrow-grey) no-repeat;
		@include sprite-dimensions($mobile-icons, contact-accordion-arrow-grey);
		position: absolute;
		top: 17px;
		right: 20px;
	}

	&:hover {
		background: darken($c-gray-4, 5%);
	}

	.icon {
		background: sprite($mobile-icons, chat-grey) no-repeat;
		@include sprite-dimensions($mobile-icons, chat-grey);
		top: 8px;
		left: 10px;
		position: absolute;
	}

	h5 {
		background-image: none;
		height: 50px;
		line-height: 50px;
		margin-bottom: 0;
		text-transform: none;
		text-indent: 50px;
		font-size: 20px;
	}

	.opener {
		display: block;
		position: absolute;
		right: 12px;
		top: 22px;
		background: url("../images/contactform/contact_icon_sprite.png") no-repeat;
		background-position: -33px -16px;
		width: 24px;
		height: 15px;
	}
}

@include bp(min-width, $bp-small) {
	.chatContainer {
		right: 50px;
		display: block;
	}
//	.chatContainer {
//		height: 0px;
//		width: 0px;
//		right: 100000px;
//	}
}