/*********************************************************/
/* Newsletter on Mobile screens
/*********************************************************/
.pre-footer-container {
	float: left;
	background-color: $c-gray-4;
	display: block;
	.pre-footer {
		float: left;
		position: relative;
		.form-signup {
			clear: both;
			padding-top: 25px;
			.newsletter-label {
				.header {
					font-size: 18px;
					font-weight: bold;
					text-transform: none;
					margin: 0;
				}
				.sublabel {
					font-size: 14px;
					font-weight: lighter;
					height: 28px;
				}
			}
			.inputs .box {
				float: left;
				width: 48.5%;
				&.firstname, &.email {
					margin-right: 3%;
				}
				&.firstname, &.lastname {
					margin-bottom: 15px;
					.validation-advice {
						top: 80px;
						bottom: auto;
					}
					#advice-required-entry-newsletterValidateDetail {
						top: auto;
						bottom: 10px;
					}
				}
				&.email {
					.validation-advice {
						top: auto;
						bottom: 5px;
					}
					#advice-required-entry-newsletterValidateDetail {
						top: 5px;
						bottom: auto;
					}
				}
				.input-text {
					display: inline-block;
					width: 100%;
					float: left;
					height: 35px;
					border-radius: 0;
					border: none;
					font-size: 12px;
				}
				.button {
					background-color: $c-gray-2;
					width: 100%;
					height: 100%;
					padding: 0;
					display: inline-block;
					line-height: 35px;
					font-size: 15px;
					text-transform: none;
					&:hover, &:active {
						background-color: darken($c-gray-2, 5);
					}
				}
				.validation-advice {
					position: absolute;
					width: 100%;
					bottom: 10px;
				}
				&.email .validation-failed {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.footer-container {
	float: left;
}

@include bp(min-width, $bp-medium+1) {
	.pre-footer-container {
		float: none;
		.pre-footer {
			float: none;
			overflow: hidden;
			.form-signup {
				clear: none;
				width: 550px;
				float: right;
				padding: 0;
				.newsletter-label {
					width: 170px;
					float: left;
					display: inline-block;
					.header {
						padding-top: 2px;
					}
				}
				.inputs {
					float: right;
					width: 380px;
					.box {
						width: 185px;
						&.firstname, &.lastname {
							margin-bottom: 10px;
							.validation-advice {
								top: -3px;
							}
						}
						&.firstname, &.email {
							margin-right: 10px;
						}
						.input-text, .button {
							width: 100%;
							float: right;
						}
						.input-text {
							font-size: 15px;
						}
						.validation-advice {
							max-width: 300px;
						}
					}
				}
			}
		}
	}
	.footer-container {
		float: none;
	}
}
