/*=========================================
 * Filters on Product list pages
 *=========================================*/

/* reset default: */
body:not(.customer-account) .block.block-layered-nav:first-child .block-title {
    display: inline-block;
    border: none;
    margin-bottom: -5px;
}
.catalog-category-view .sidebar .block.block-layered-nav,
.catalogsearch-result-index .sidebar .block.block-layered-nav  {
    border: none;
    margin: 0;
}

.block-layered-nav--no-filters .actions > a:first-child {
    display: none;
}

/* Custom styles */
.catalog-category-view, .catalogsearch-result-index {
    .block-layered-nav {
        background-color: $c-gray-4;
        * {
            border: none;
        }
        .block-content > dl > dd:last-child {
            border-width: 0px;
        }
        .block-title {
            width: 100%;
            padding: 0 20px;
            margin: 0;
            border-bottom: 1px solid white;
            * {
                font-weight: bold;
            }
            span {
                font-size: 16px;
                color: black;
                font-weight: bold;
                padding: 15px 0;
                display: inline-block;
                float: left;
            }
            .actions {
                margin: 0;
                a {
                    float: right;
                    line-height: 60px;
                    color: $c-red;
                }
            }
        }

        .block-content {
            margin: 0;

            .currently {
              padding: 0 10px;

              .block-subtitle {
                padding: 10px 8px;

                &::before {
                  display: none;
                }
              }
            }

            .block-subtitle {
                text-transform: none;
                background: none;
                color: black;
                line-height: 16px;
                padding: 17px 20px;
                font-weight: bold;
                &::after {
                    display: none;
                }
                &::before {
                    content: ">";
                    padding-right: 5px;
                    display: inline-block;
                    color: black;
                    font-weight: bold;
                }
                &.active::before {
                    content: "V";
                    font-size: 11px;
                    padding-right: 8px;
                    line-height: 16px;
                }
            }
            dl#narrow-by-list {
                border-width: 0;
                border-color: $c-gray-4;
                padding: 0;
                border-top: 1px solid white;
                dt {
                    text-transform: none;
                    color: black;
                    background-color: $c-gray-4;
                    padding: 17px 20px 17px 35px;
                    border: none;
                    border-top: 1px solid white;
                    font-weight: bold;

                    &:hover {
                        background-color: $c-gray-4;
                    }
                    &::after {
                        display: none;
                    }
                    &::before {
                        content: ">";
                        padding-right: 5px;
                        display: inline-block;
                        color: black;
                    }
                }
                dd {
                    color: black;
                    padding: 10px 20px 10px 35px;
                    * {
                        font-weight: normal;
                        color: $c-gray;
                    }
	                > ol li  {
		                position: relative;
		                padding-bottom: 15px;
	                }
                    .filter-checkbox-wrapper {
                        display: none;
                        &:first-child {
                            display: inline-block;
	                        float: left;
	                        margin-right: 10px;
                        }

                        width: 20px;
                        height: 20px;
                        background-color: white;
                        a.filter-checkbox {
                            display: block;
                            width: 100%;
                            height: 100%;
                            border: 1px solid white;
                            &:hover, &.active {
                                border: 1px solid $c-gray;
                            }
                        }
                    }
                    .filter-checkbox-on {
                        border: 1px solid $c-gray;
                        &::before {
                            display: block;
                            content: "✔";
                            color: $c-green;
                            font-size: 23px;
                            line-height: 18px;
                        }
                    }
                    label .label {
                        display: inline-block;
	                    float: left;
                        vertical-align: top;
                        line-height: 15px;
	                    padding-top: 4px;
	                    position: absolute;
                        &.disabled {
                            color: lighten($c-gray, 40);
                        }
                    }
                }
            }
            &.accordion-open dl#narrow-by-list dt.current::before {
                content: "V";
                font-size: 12px;
                padding-right: 8px;
                line-height: 16px;
            }
        }
    }
}
@include bp(min-width, $bp-xsmall + 1) {
    .catalog-category-view,  .catalogsearch-result-index {
        .block-layered-nav {
            .block-title {
                padding: 0 20px;
            }
            .block-content {
                .block-subtitle {
                    padding: 17px 30px;
                }
                dl#narrow-by-list {
                    dt {
                        padding: 15px 30px 15px 45px;
                    }
                    dd {
                        padding: 10px 30px 10px 45px;
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-medium + 1) {
    .catalog-category-view, .catalogsearch-result-index {
        .block-layered-nav {
            .block-title {
                padding: 0 20px;
                span {
                    font-size: 20px;
                }
            }
            .block-content {
                .block-subtitle {
                    padding: 17px 20px;
                }
                dl#narrow-by-list {
                    border-top: 0;
                    dt {
                        font-size: 14px;
                        padding: 15px 20px 0 20px;
                        &::before {
                            display: none;
                        }
                    }
                    dd {
                        padding: 10px 20px;
                        * {
                            font-size: 14px;
                        }
                    }
                }
            }
            .block-content > dl > dd {
                padding: 10px 20px;
            }
        }
    }
}


/* Price slider in the Filter
----------------------------------*/
$price-slider-handle-width: 17px;
.price-slider-container {
    &:after {
        @include clearfix;
    }
    .price-textbox {
        width: 100%;
    }
    input[type=text] {
        font-size: 18px;
        color: #fff;
        height: 28px;
        line-height: 28px;
        border: none;
        padding: 0px 25px;
    }
}

.ui-slider {
    position: relative;
    text-align: left;
    .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: default;
    }
    .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
    }

    /* For IE8 - See #6727 */
    &.ui-state-disabled {
        .ui-slider-handle,
        .ui-slider-range {
            filter: inherit;
        }
    }
}

.ui-slider-horizontal {
    height: .8em;
    .ui-slider-handle {
        top: -.3em;
    }
    .ui-slider-range {
        top: 0;
        height: 100%;
    }
    .ui-slider-range-min {
        left: 0;
    }
    .ui-slider-range-max {
        right: 0;
    }
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
    .ui-slider-handle {
        left: -.3em;
        margin-left: 0;
        margin-bottom: -.6em;
    }
    .ui-slider-range {
        left: 0;
        width: 100%;
    }
    .ui-slider-range-min {
        bottom: 0;
    }
    .ui-slider-range-max {
        top: 0;
    }
}

/* Component containers
----------------------------------*/
.price-slider-container {
    .ui-widget-content {
        color: $c-gray;
        margin-top: 7px;
    }
}
/* Interaction states
----------------------------------*/
.price-slider-container {
    .ui-slider-range.ui-widget-header {
        background-color: #b7b7b7;
        border: 1px solid #a7a7a7;
    }
    .ui-state-default {
        background: sprite($mobile-icons, slider-filter) no-repeat;
        @include sprite-dimensions($mobile-icons, slider-filter);
        a,
        a:link,
        a:visited {
            text-decoration: none;
        }
    }
    .ui-state-hover, .ui-state-focus, .ui-state-active {
        border: 1px solid $c-gray;
        a,
        a:link,
        a:hover,
        a:visited {
            text-decoration: none;
        }
    }
    .ui-widget-content, .ui-widget-header {
        .ui-state-hover,
        .ui-state-focus,
        .ui-state-active {
            border: 1px solid $c-gray;
        }
    }
}
.price-slider {
    clear: both;
}
.price-slider-container {
    padding-right: $price-slider-handle-width;
    .min-price, .max-price {
        font-size: 16px;
        color: $c-gray;
        height: 28px;
        line-height: 28px;
        border: none;
        padding: 0px 0px;
        width: auto;
        font-weight: normal;
    }
    .min-price {
        float: left;
    }
    .max-price {
        float: right;
        margin-right: -($price-slider-handle-width);
    }
}
