/* Product ECO Fiche */
.catalog-product-view {
	.product-view {
		#product-fiche {
			position: absolute;
			top: 90px;
			left: 50%;
			background-color: #FFF;
			width: 360px;
			z-index: 500;
			box-shadow: 1px 1px 23px 0px rgba(50, 50, 50, 0.75);
			border-radius: 5px;
			padding: 20px;
			display: none;
			margin-left: -180px;
			* {
				font-family: $f-stack-special;
			}

			h2, h3, .info,.gradient,
			#fiche-rating,
			#fiche-year,
			#fiche-noise,
			#fiche-hard-pickup,
			.scale,
			.fiche-section
			{
				display: none;
			}
			.image {
				margin: 0 auto;
			}
			.btn-close {
				right: 20px;
				background: sprite($desktop-icons, btn-close) no-repeat;
				@include sprite-dimensions($desktop-icons, btn-close);
				border: none;
				position: absolute;
				z-index: 1000;
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-product-view {
		.product-view {
			#product-fiche {
				h2, h3, .info,.gradient,
				#fiche-rating,
				#fiche-year,
				#fiche-noise,
				#fiche-hard-pickup,
				.scale,
				.fiche-section
				{
					display: initial;
				}
				margin-left: 0;
				top: 30px;
				left: 30px;
				height: 610px;
				width: 858px;
				padding: 20px 40px;
				.gradient {
					background: linear-gradient(to right, $light-eco-green, white);
				}
				#fiche-rating,
				#fiche-year,
				#fiche-noise,
				#fiche-hard-pickup {
					&.gradient {
						background: linear-gradient(to left, $light-eco-green, white);
					}
				}

				h2 {
					color: black;
					font-size: 18px;
					text-transform: none;
					padding: 10px;
					&.energy-header {
						padding: 0;
						font-weight: bold;
						color: $c-eco-green;
						border-bottom: 1px solid $c-eco-green;
						width: 200px;
						font-size: 22px;
						z-index: 99;
						position: relative;
						span {
							font-weight: normal;
							clear: both;
							display: block;
							margin-bottom: 5px;
						}
					}
				}
				h3 {
					color: black;
					font-size: 12px;
					font-weight: normal;
					text-transform: none;
					padding-left: 10px;
				}
				.info {
					position: absolute;
					font-size: 12px;
					width: 120px;
					top: 100px;
					a {
						text-decoration: none;
						width: 130px;
						height: 30px;
						display: block;
						margin-top: 5px;
					}
				}
				.image {
					position: static;
					display: block;
					height: 100%;
					margin: -60px auto 0 auto;
					max-height: 540px;
				}
				.scale {
					margin-top: 5px;
				}
				.fiche-section {
					width: 290px;
					position: absolute;
				}
				#fiche-emissions,
				#fiche-carpet-pickup {
					left: 0;
					text-align: right;
					bottom: 155px;
					padding: 0px 0 15px 0;
					h2, h3 {
						margin-bottom: 0;
						padding-bottom: 0;
						padding-right: 0;
						margin-right: 10px;
					}
					img {
						margin-left: 20px;
					}
				}
				#fiche-emissions {
					bottom: 155px;
				}
				#fiche-carpet-pickup {
					bottom: 40px;
				}

				#fiche-rating,
				#fiche-year,
				#fiche-noise {
					right: 0;
					height: 60px;
					h2 {
						line-height: 40px;
						margin-bottom: 0;
						padding: 10px 10px 10px 0
					}
				}

				#fiche-rating {
					bottom: 420px;
				}
				#fiche-year {
					bottom: 232px;
				}
				#fiche-noise {
					bottom: 164px;
				}
				#fiche-hard-pickup {
					right: 0;
					bottom: 40px;
					height: 110px;
					h2, h3 {
						margin-bottom: 0;
						padding-bottom: 0;
						padding-left: 0;
					}
					img {
						margin-right: 20px;
					}
				}
				.btn-close {
					right: -5px;
					top: -5px;
				}
			}
			#fiche-power-rating {
				position: absolute;
				bottom: 10px;
				padding: 3px 10px;
				width: 260px;
				margin-left: -130px;
				left: 50%;
				border-radius: 5px;
				color: #000;
				font-weight: bold;
			}
		}
	}
}
