.quicklinks {
	.before-main-container {
		background: $c-gray;

		.page-title {
			color: #fff;
			padding: 0 30px;

			h1 {
				color: #fff;
				border-bottom: none;
				line-height: 125px;
				text-transform: none;
				font-size: 51px;
				margin-bottom: 0;
			}
			.quicklinks-contaionr * {
				display: none;
			}
			.menu-mobile {
				display: none;
				.quicklinks-container {
					display: none;
				}
			}
		}
	}

	.sidebar {
		.quicklinks-container {
			padding: 0;
			h2 {
				display: none;
			}

			ul {
				width: 100%;
				float: none;

				li {
					display: block;
					margin-bottom: 10px;
					&.last {
						margin-bottom: 10px;
					}

					&.active {
						a {
							color: $c-red;
						}
					}

					a {
						color: $c-gray;
						font-size: $f-size-xl;
						font-weight: bold;
					}
				}
			}
		}
	}

	.small-label {
		display: none;
	}

	.support_centre {
		.support_top {
			h2 {
				color: #000;
				font-weight: bold;
				text-transform: none;
			}
		}

		form#tracking_form {
			label {
				display: block;
				width: 100%;
			}

			input#tracking_number {
				float: left;
				border-radius: 0;
				border: 1px solid $c-gray-3;
				margin-right: 0;
				height: 29px;
			}

			button#tracking_submit {
				border: none;

				span span {
					display: block;
					height: 29px;
					line-height: 30px;
					background: $c-red;
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					padding: 0 10px;
				}
				&:hover span span {
					background: darken($c-red, 5%);
				}
			}

			div#tracking_footer {
				p {
					display: inline-block;
				}

				div.delivery-icons {
					margin-top: 15px;
				}

				img {
					display: inline-block;
					margin-left: 15px;
				}
			}

			div#tracking_results {
				float: left;
			}
		}

		dl.q-and-a {
			float: left;
			clear: both;
			&:after {
				content: ' ';
				clear: both;
				width: 100%;
				height: 1;
			}

			dt {
				font-size: $f-size;
				margin-top: 30px;
				font-weight: bold;
				display: inline-block;
				margin-left: 35px;
				max-width: 100%;
				padding-right: 30px;
				float: left;
				clear: both;

				&:before {
					content: 'Q';
					font-size: 16px;
					color: #fff;
					background: $c-gray;
					display: block;
					float: left;
					width: 25px;
					height: 25px;
					text-align: center;
					line-height: 25px;
					vertical-align: middle;
					margin: 0px 0px 10px 0;
					margin-left: -35px;
				}
			}

			dd {
				font-size: $f-size;
				margin-top: 12px;
				display: inline-block;
				max-width: 100%;
				padding-bottom: 25px;
				margin-left: 35px;
				border-bottom: 1px solid $c-gray-2;
				padding-right: 30px;
				float: left;
				clear: both;

				&:before {
					content: 'A';
					font-size: 16px;
					color: #fff;
					background: $c-red;
					vertical-align: top;
					display: block;
					float: left;
					width: 25px;
					height: 25px;
					text-align: center;
					line-height: 25px;
					margin: 3px -35px 10px 0;
					margin-left: -35px;
				}

				&:after {
					content: ' ';
					clear: both;
					width: 100%;
					height: 1;
				}

				&.last {
					border-bottom: none;
					padding-bottom: 0;
				}
			}
		}

		div.clearfix {
			margin-top: 30px;
		}

		p.indented {
			width: 100%;
			color: #fff;
			background: $c-gray-3;
			padding: 5px 15px;

			&:first-of-type {
				margin-top: 30px;
				padding-top: 15px;
			}

			&:last-of-type {
				padding-bottom: 15px;
			}

			&:before {
				content: ' ';
				clear: both;
				width: 100%;
				height: 1px;
			}
		}
        .rhs {
            p.indented, dl {
                background-color: white;
                color: $c-gray;
            }
        }

		p.larger_text {
			font-size: 16px;
		}

		div.rhs > dl:first-of-type dt:first-of-type {
			margin-top: 0;
		}

		h3 {
			clear: left;
			margin-top: 10px;
			padding-top: 30px;
			margin-bottom: -15px;

			&:first-of-type {
				padding-top: 0;
				margin-top: 0;
				margin-bottom: 15px;
			}
		}

		.video {
			float: left;
			margin: 10px 15px 0 0;
		}

		div#categories_select {
			width: 66%;
			display: inline-block;
		}

		div#ql_fault {
			ul {
				width: 49%;
				display: inline-block;
				vertical-align: top;
				padding: 0 30px 0 0;
				margin: 5px 0;

				li {
					color: #fff;
					background: $c-gray;
					display: block;
					width: 100%;

					a {
						color: #fff;
						font-size: $f-size-l;
						font-weight: bold;
					}
				}

				&.fault_option_list {
					li {
						margin: 1px;
						display: inline-block;

						a {
							padding: 10px;
							line-height: 17px;
							color: #fff;
							display: inline-block;
							width: 100%;
							height: 100%;
							background: $c-gray;
							font-weight: normal;
							text-transform: uppercase;

							&:hover {
								background: darken($c-gray, 5%);
							}

							&.selected {
								background: $c-red;
								color: #fff;
							}
						}

						&.inactive {
							a {
								&.selected {
									background: $c-red;
									color: #fff;

									&:hover {
										color: #fff;
									}
								}

								&:hover {
									text-decoration: none;
								}
							}
						}
					}
				}
			}

			div.fault_breadcrumb {
				ul {
					width: 100%;

					li {
						width: 32%;
						display: inline-block;
						margin: 1px;
						background: transparent;
						color: $c-gray;
						font-weight: bold;
						text-transform: none;
						padding-left: 10px;

						&:first-of-type {
							padding-left: 0;
						}

						&:last-of-type {
							padding-left: 20px;
						}

						&.step-1, &.step-2, &.step-3 {
							display: none;

							&.menu-active, &.active {
								display: inline-block;
							}
						}
					}
				}
			}
		}

		div#product_select {
			width: 33%;
			display: inline-block;
		}

		div#product_select_inner {
			ul {
				width: 100%;

				li {
					display: block;
					width: auto;
					background: none;

					a {
						font-weight: normal;
						background: transparent;
						color: $c-gray;

						&.pdf_link {
							min-height: 49px;
							vertical-align: middle;
							padding-left: 46px;
							margin-bottom: 10px;
							display: block;
							font-weight: bold;

							&::before {
								content: '';
								width: 36px;
								height: 49px;
								background: url('../images/quicklinks/pdf-sprite.png') no-repeat 0 0;
								display: block;
								float: left;
								margin-left: -46px;
								margin-right: 10px;
								vertical-align: middle;
							}

							&:hover, &:visited, &:active {
								color: $c-red;

								&::before {
									background-position: 0 -49px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $bp-medium) {
	.quicklinks {
		.small-label {
			display: block;
			font-weight: bold;
			margin: 10px 0;

			&.step-1, &.step-2, &.step-3 {
				display: none;

				&.menu-active, &.active {
					display: block;
				}
			}
		}

		.support_centre {
			a, a:hover {
				color: $c-red;
				text-decoration: none;
			}
			form#tracking_form {
				input#tracking_number {
					width: 85%;
				}
			}

			div#product_select {
				width: 100%;
			}

			div.fault_breadcrumb {
				display: none;
			}

			div#categories_select {
				width: 100%;

				ul {
					width: 100%;
					display: block;

					li.inactive {
						display: none;
					}
				}
			}
		}

		.quicklinks-container {
			margin-top: 30px;
		}

		.col-left {
			display: none;
		}

		.before-main-container {
			.page-title {
				padding: 0 20px;
				h1 {
					background: url('../images/quicklinks/menu-dropdown-arrow.png') no-repeat 95% 51%;
					font-size: 40px;
					line-height: 90px;

					&:hover {
						cursor: pointer;
					}

					&.active {
						background: url('../images/quicklinks/menu-dropdown-onselect.png') no-repeat 95% 51%;
					}
				}

				.menu-mobile {
					margin-top: -65px;
					.quicklinks-container {
						display: block;
					}
					.quicklinks-container {
						font-size: $f-size-xl;
						font-weight: bold;
						padding-left: 0;
						margin-top: 30px;
						h2 {
							display: none;
						}
						ul {
							padding-top: 20px;
							li {
								a {
									width: 100%;
									height: 100%;
									line-height: 40px;
								}
								a::after {
									background: none;
								}
							}
							&.links2 {
								padding-top: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $bp-xsmall) {
	.quicklinks {
		.support_centre {
			form#tracking_form {
				input#tracking_number {
					width: 75%;
				}
			}
		}
	}
}

@include bp(min-width, $bp-xsmall+1) {
	.quicklinks {
		.main-container.col2-left-layout {
			padding: 20px;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.quicklinks {
		.main-container.col2-left-layout {
			padding: 30px;
		}
	}
}
