.catalogsearch-result-index{
	.main-container {
		padding: 1px 0;
	}
	.col-main {
		padding: 0 20px;
	}
	.page-title h1 {
		margin: 0;
		padding: 10px 0;
		color: black;
		font-size: 25px;
		font-weight: bold;
		text-transform: none;
	}

	.pager * {
		font-family: $f-stack-special;
	}
	.pages li {
		width: auto;
		min-width: 30px;
		a:hover {
			text-decoration: none;
			border: 1px solid $c-gray;
		}
		.next, .previous {
			width: 50px;
			padding: 0 5px;
		}
	}
	.btn-cart {
		padding: 0;
	}
}

@include bp(min-width, $bp-xsmall + 1) {
	.catalogsearch-result-index{
		.col-main {
			padding: 0 20px;
		}
		.pager .limiter .show-all {
			display: inline-block;
			width: 70px;
			height: 30px;
			overflow: hidden;
			margin-right: 10px;
		}
	}
}


@include bp(min-width, $bp-medium + 1) {
	.catalogsearch-result-index{
		.main-container {
			padding: 30px;
		}
		.col-main {
			padding: 0 0 0 10px;
		}
		.page-title h1 {
			font-size: 30px;
		}
		.pages li {
			.next, .previous {
				&::before {
					display: none;
				}
			}
		}
	}
}

