/* ============================================ *
 * Spares - Generic
 * ============================================ */

.category-spares-and-accessories,
.category-spare-type,
.category-machine-type,
.categorypath-spares-and-accessories-machine-type-upright-vacuum-cleaners-html,
.categorypath-spares-and-accessories-machine-type-cylinder-vacuum-cleaners-html,
.categorypath-spares-and-accessories-machine-type-cordless-vacuum-cleaners-html,
.categorypath-spares-and-accessories-machine-type-handheld-vacuum-cleaners-html,
.categorypath-spares-and-accessories-machine-type-carpet-washers-and-cleaners-html,
.categorypath-spares-and-accessories-machine-type-steam-mops-and-cleaners-html {
	.category-title-container {
		background-color: $c-yellow;
		.category-image {
			max-width: 30%;
			img {
				width: 100%;
			}
		}
		.category-extra {
			color: $c-gray;
		}
	}
	.page-title {
		background-color: $c-yellow;
		h1 {
			color: $c-gray;
			padding-bottom: 0;
			margin-bottom: 0;
			max-width: 65%;
		}
		.spares-header {
			padding-top: 0;
		}
	}
}

.category-machine-type {
	.before-main-container {
		content: normal;
	}
}

/* ============================================ *
 * Spares - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.category-spare-type,
	.category-spares-and-accessories,
	.category-machine-type,

	.categorypath-spares-and-accessories-machine-type-upright-vacuum-cleaners-html,
	.categorypath-spares-and-accessories-machine-type-cylinder-vacuum-cleaners-html,
	.categorypath-spares-and-accessories-machine-type-cordless-vacuum-cleaners-html,
	.categorypath-spares-and-accessories-machine-type-handheld-vacuum-cleaners-html,
	.categorypath-spares-and-accessories-machine-type-carpet-washers-and-cleaners-html,
	.categorypath-spares-and-accessories-machine-type-steam-mops-and-cleaners-html {
		.category-extra {
			margin-bottom: 30px;
		}
		.category-description {
			max-width: 450px;
			min-height: 250px;
		}
		.category-image {
			padding-top: 20px;
		}
		.page-title h1 {
			padding-top: 30px;
			max-width: 70%;
		}
		.spares-header {
			padding-top: 0;
			display: block;
		}
	}
}
