/* ================================================================================ *
 *  Product List - Spares
 *  Column padding settings to accommodate full width elements on mobile screens
 * ================================================================================ */
.catalog-category-view .main-container {
	&.col1-layout {
		padding: 20px;
	}
	&.col2-left-layout {
		padding: 0;
		.col-main {
			padding: 0 20px 20px 20px;
			.note-msg {
				margin-top: 30px;
				color: black;
				font-size: 16px;
			}
		}
		.col-left {
			margin-bottom: 0;
		}
	}
}

@include bp(min-width, $bp-xsmall + 1) {
	.catalog-category-view .main-container {
		&.col1-layout {
			padding: 30px 20px;
		}
		&.col2-left-layout {
			.col-main {
				padding: 0 20px 30px;
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-category-view .main-container {
		&.col1-layout {
			padding: 30px;
		}
		&.col2-left-layout {
			padding: 20px 30px 30px;
			.col-main {
				padding: 0 0 0 10px;
				.note-msg {
					margin-top: 40px;
				}
			}
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	.catalog-category-view .main-container {
		&.col2-left-layout .col-main {
			.note-msg {
				margin-top: 37px;
			}
		}
	}
}

/* ======================================================= *
 * Product List - Spares - General styling inside the page
 * ======================================================= */
.category-product {
	.page-title {
		background-color: $c-yellow;
		height: auto;
		h1 {
			font-size: 30px;
			line-height: 30px;
			color: $c-gray;
			margin: 0;
		}
		.spares-header {
			padding-top: 0;
			margin-top: -20px;
		}
	}
	.category-extra {
		padding-bottom: 30px;
		.category-description {
			padding: 23px 0 0 0;
		}
		a.view-product {
			margin-top: 23px;
			width: 100%;
			text-align: center;
			font-weight: bold;
			line-height: 35px;
		}
	}
	.toolbar {
		border-top: none;
		margin-top: 0;
		.toolbar-sorter-container {
			padding: 0px 0px 14px;
		}
	}
}

/* hide the bottom helpline number */
.col2-left-layout {
	.col-left {
		.help-block {
			display: none;
		}
	}
	.col-left-first .help-block {
		display: block;
	}
}

.help-block {
	padding: 20px;
	background-color: $c-yellow;
	color: $c-gray;
	font-weight: bold;
	text-align: center;
	.question {
		font-size: 15px;
		display: block;
	}
	.call {
		clear: both;
		font-size: 17px;
		display: inline-block;
	}
	.phone {
		display: inline;
		font-size: 20px;
		color: $c-gray;
	}
}

/* ================================================= *
 * Product List - Spares - Tablet
 * ================================================= */
@include bp(min-width, $bp-xsmall + 1) {
	.help-block {
		padding: 30px;
	}
	.category-product {
		.page-title h1 {
			padding: 30px 0;
		}
		.category-title .title-header-space {
			padding: 0 20px;
		}
		.category-extra {
			padding: 0 20px 30px;
			.category-description {
				padding: 25px 0 0 0;
			}
			a.view-product {
				margin-top: 30px;
				width: auto;
				padding: 0 50px;
				font-weight: normal;
			}
		}
	}
}

/* ================================================= *
 * Product List - Spares - Desktop
 * ================================================= */
@include bp(min-width, $bp-medium + 1) {
	/* show the bottom helpline number, hide the top one */
	.col2-left-layout {
		.col-left .help-block {
			display: block;
		}
		.col-left-first .help-block {
			display: none;
		}
		.col-main {
			.note-msg {
				margin-top: 18px;
			}
		}
	}
	.help-block {
		padding: 20px 10px;
		margin-top: 20px;
		.question {
			font-size: 16px;
		}
		.call {
			font-size: 18px;
			padding-top: 15px;
		}
		.phone {
			font-size: 22px;
			display: block;
		}
	}
	.category-product {
		.page-title {
			h1 {
				line-height: 50px;
				font-size: 50px;
			}
		}
		.category-title .title-header-space {
			padding: 0 30px;
		}
		.category-extra {
			padding: 0 30px 30px;
			.category-description {
				max-width: 70%;
			}
		}
		.toolbar {
			padding-top: 16px;
		}
	}
}

/* ================================================= *
 * Product List - Spares - Desktop
 * ================================================= */
@include bp(min-width, $bp-large + 1) {
	.help-block {
		padding: 20px 5px;
		.question {
			font-size: 17px;
			line-height: 18px;
		}
		.call {
			font-size: 21px;
			line-height: 20px;
		}
		.phone {
			font-size: 26px;
			line-height: 27px;
		}
	}
}

