/* ================================================= *
 * Support - Generic
 * ================================================= */
.dirtdevil-support-index-index {
	.before-main-container {
		background-color: $c-blue;
	}
	.footer-before-container {
		background-color: $c-quickliks-grey;
	}
}



/* ================================================= *
 * Registration - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.dirtdevil-support-index-index {
        .page-title {
            h1 {
                &::after {
                    background: sprite($support-desktop-icons, support_icon) no-repeat;
                    @include sprite-dimensions($support-desktop-icons, support_icon);
                }
            }
        }
	}
}

@import "support/list";
@import "support/product";
@import "support/faqs";
@import "support/manuals";

