<?php
/**
 * @category    Inchoo
 * @package     Inchoo Featured Products
 * @author      Domagoj Potkoc, Inchoo Team <web@inchoo.net>
 * @modified    Diana Licheva
 * this is Inchoo_FeaturedProducts_Block_Listing
 */
?>
<?php
$_products = $this->getProductCollection();
$_image_size = (int) Mage::getStoreConfig("featuredproducts/cmspage/max_image_dimension");
if ($_products->getSize()): ?>
    <div class="bestsellers">
        <h3 class="section-title"><?php echo $this->__($this->getBlockLabel()) ?>
            <div class="back-to-top"></div>
        </h3>
        <div class="outer-box">
            <div class="prev arrow"></div>
            <ul class="mini-products-list">
                <?php foreach ($_products->getItems() as $_item): ?>
                    <li class="product">
                        <a href="<?php echo $_item->getProductUrl() ?>"
                           title="<?php echo $this->escapeHtml($_item->getName()) ?>"
                           class="product-image"><img
                                src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_item, 'small_image')->resize($_image_size, $_image_size)) ?>"
                                alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/></a>

                        <div class="product-details">
                            <p class="product-name"><a
                                    href="<?php echo $_item->getProductUrl() ?>"><?php echo Mage::helper('core/string')->truncate($this->escapeHtml($_item->getName()),40); ?></a>
                            </p>
                            <?php if($_item->getRatingSummary()): ?>
                                <?php echo $this->getReviewsSummaryHtml($_item, 'short') ?>
                            <?php endif; ?>
                            <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_item)): ?>
                                <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                                <div class="shipping-cost-info">
                                    <?php echo $this->__('Inc. 19% Tax, ') ?><a href="/liefer-und-zahlungsbedingungen"><?php echo $this->__('Shipping costs excluded') ?></a>
                                </div>
                            <?php endif; ?>
                            <?php $product = Mage::getModel('catalog/product')->load($_item->getId()); ?>
                            <?php if($product->getData('dd_featured_product_text')): ?>
                                <div class="short-description">
                                    <?php echo $product->getData('dd_featured_product_text'); ?>
                                </div>
                            <?php endif; ?>
                        </div>



                        <div class="product-actions">
                            <?php echo $this->getLinksHTML($_item); ?>
                            <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_item)): ?>
                                <?php if (!$_item->canConfigure() && $_item->isSaleable()): ?>

                                    <button type="button action" title="<?php echo $this->__('Add to Cart') ?>"
                                            class="button btn-cart"
                                            onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')">
                                        <span><?php echo $this->__('Add to Cart') ?></span></button>

                                <?php elseif (!$_item->isSaleable()): ?>
                                    <p class="out-of-stock"><?php echo $this->__('Out of Stock')?></p>
                                <?php endif; ?>
                            <?php else: ?>



                                <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                            <?php endif; ?>

                            <?php if ($_item->isComingSoon()): ?>
                                <p class="action availability coming-soon">
                                    <span><?php echo $this->__('Coming Soon') ?></span></p>
                            <?php endif; ?>
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
            <div class="next arrow"></div>
        </div>
    </div>
<?php endif; ?>