<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<div class="partial-content faqs">
    <a name="faqs">
        <h2 class="orig-case"><?php echo $this->__('FAQs') ?></h2>
    </a>

    <dl>
        <dt><?php echo $this->__('Warum sollte man Luft reinigen?') ?></dt>
        <dd><?php echo $this->__('In der Raumluft befinden sich Staub, Allergene, Hautschuppen, Rauch, Bakterien und Viren die Allergien und Krankheiten ausl&ouml;sen k&ouml;nnen. Der Oreck Luftreiniger DualMax<sup>&reg;</sup> hilft diese unerw&uuml;nschten Verschmutzungen in der Luft zu beseitigen, sodass frische und gesunde Luft eingeatmet werden kann.') ?></dd>

        <dt><?php echo $this->__('Hilft der Oreck Luftreiniger DualMax<sup>&reg;</sup> auch bei unangenehmen Ger&uuml;chen?') ?></dt>
        <dd><?php echo $this->__('Auch unangenehme Ger&uuml;che, wie z.B. K&auml;se- oder Fischgeruch nach dem Kochen, wie sie in jedem Haushalt vorkommen, k&ouml;nnen durch die Helios Shield<sup>&reg;</sup> Technologie reduziert werden.') ?></dd>

        <dt><?php echo $this->__('F&uuml;r welche Raumgr&ouml;&szlig;e ist der Oreck Luftreiniger DualMax<sup>&reg;</sup> geeignet?') ?></dt>
        <dd><?php echo $this->__('Der Oreck Luftreiniger DualMax<sup>&reg;</sup> ist f&uuml;r R&auml;ume bis zu 23 m<sup>2</sup> bzw. f&uuml;r eine maximale Luftumw&auml;lzung von 221 m<sup>3</sup>/h geeignet.') ?></dd>

        <dt><?php echo $this->__('Was sind VOCs?') ?></dt>
        <dd><?php echo $this->__('VOC steht f&uuml;r Volatile Organic Compounds und bedeutet "fl&uuml;chtige organische Verbindungen". VOCs sind Gase, die von allt&auml;glichen Dingen abgegeben werden (Textilien, Farben oder Haushaltschemikalien) und somit in jedem Haushalt zu finden sind. Der Oreck Luftreiniger DualMax<sup>&reg;</sup> reinigt die Luft problemlos von diesen Gasen.') ?></dd>

        <dt><?php echo $this->__('Kann der Oreck Luftreiniger DualMax<sup>&reg;</sup> auch nachts laufen?') ?></dt>
        <dd><?php echo $this->__('Der Oreck Luftreiniger DualMax<sup>&reg;</sup> kann durch seinen extra leisen Betrieb problemlos nachts im Schlafzimmer betrieben werden, sodass Sie morgens frisch und vitalisiert aufstehen k&ouml;nnen. Die LED Leuchte am Ger&auml;t kann zudem gedimmt oder ganz ausgeschaltet werden.') ?></dd>

        <dt><?php echo $this->__('Wie funktioniert die Reinigung der Luft beim Oreck Luftreiniger DualMax<sup>&reg;</sup>?') ?></dt>
        <dd><?php echo $this->__('Die verschmutzte Luft wird durch zwei Ventilatoren in das Ger&auml;t gesaugt. Ein Vorfilter filtert zun&auml;chst alle groben Partikel, wie z.B. Pollen, aus der Luft. Die Truman Cell<sup>&reg;</sup> des Ger&auml;tes sendet positiv geladene Teilchen in die Raumluft, die sich an Schmutzpartikel heften. Diese Schmutzpartikel werden durch Doppelventilatoren in die Truman Cell<sup>&reg;</sup> gesaugt. Dort verbleiben Sie, bis die Truman Cell<sup>&reg;</sup> gereinigt wird. ') ?></dd>

        <dt><?php echo $this->__('Wie h&auml;ufig sollte der Oreck Luftreiniger DualMax<sup>&reg;</sup> gereinigt werden?') ?></dt>
        <dd><?php echo $this->__('Die H&auml;ufigkeit der Reinigung richtet sich nach dem Verschmutzungsgrad Ihrer Luft. Der Oreck Luftreiniger DualMax<sup>&reg;</sup> besitzt eine LED - Reinigungsanzeige. Diese signalisiert, wann die Truman Cell<sup>&reg;</sup> gereinigt werden sollte. Haben Sie z.B. Haustiere oder ist gerade Pollensaison, sollte die Truman Cell<sup>&reg;</sup> &ouml;fter gereinigt werden.') ?></dd>

        <dt><?php echo $this->__('Wie reinigt man den Vorfilter?') ?></dt>
        <dd><?php echo $this->__('Der Vorfilter kann entweder ganz bequem mit einem Staubsauger abgesaugt oder einfach unter flie&szlig;endem Wasser abgesp&uuml;lt werden. Anschlie&szlig;end den Vorfilter bei Raumtemperatur, mindestens 24h, trocknen lassen. ') ?></dd>

        <dt><?php echo $this->__('In welchen R&auml;umen kann der Oreck Luftreiniger DualMax<sup>&reg;</sup> eingesetzt werden?') ?></dt>
        <dd><?php echo $this->__('Der Oreck Luftreiniger DualMax<sup>&reg;</sup> kann vielseitig eingesetzt werden. Zuhause k&ouml;nnen Sie ihn in fast jedem Raum zur Reinigung in der Luft einsetzen. Es empfiehlt sich den Luftreiniger in den Raum zu stellen, in dem Sie sich vornehmlich aufhalten. Auch in Arbeitsräumen, wie z.B. im B&uuml;ro oder Praxisr&auml;umen bzw. Wartezimmern ist der Einsatz des Oreck Luftreinigers DualMax<sup>&reg;</sup> zu empfehlen. Der Einsatz des Luftreinigers in Badezimmern sollte aufgrund der hohen Feuchtigkeit vermieden werden. ') ?></dd>

        <dt><?php echo $this->__('Welche Ventilationsstufe sollte beim Oreck Luftreiniger DualMax<sup>&reg;</sup> ausgew&auml;hlt werden?') ?></dt>
        <dd><?php echo $this->__('Grunds&auml;tzlich gilt, dass bei grober Verschmutzung, wie z.B. starken Ger&uuml;chen oder Rauch, die h&ouml;chste Ventilationsstufe ausgew&auml;hlt werden sollte. Wenn der Oreck Luftreiniger DualMax® im Dauerbetrieb eingesetzt wird, sollte eine geringe Ventilationsstufe gew&auml;hlt werden.') ?></dd>
    </dl>
</div>