<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<div class="partial-content features">
    <a name="features">
        <h2><?php echo $this->__('PRODUKTEIGENSCHAFTEN') ?></h2>
    </a>
    <div class="image">

    </div>
    <div class="features-content">
        <ul>
            <li>
                <?php echo $this->__('99,5% aller Schmutzpartikel werden durch die Truman Cell&reg; Technologie entfernt') ?>
            </li>
            <li>
                <?php echo $this->__('Waschbare Dauerfilter') ?>
                <ul>
                    <li>
                        <span class="icon"></span><?php echo $this->__('keine Folgekosten') ?>
                    </li>
                    <li>
                        <span class="icon"></span><?php echo $this->__('kein Filterwechsel') ?>
                    </li>
                </ul>
            </li>
            <li>
                <?php echo $this->__('Filterreinigungsanzeige') ?>
            </li>
            <li>
                <?php echo $this->__('Fernbedienung') ?>
            </li>
            <li>
                <?php echo $this->__('Helios Shield<sup>&reg;</sup> - Geruchsneutralisierer') ?>
            </li>
        </ul>
    </div>
    <div class="clearer">
    </div>
    <div class="icons"> </div>
</div>