<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<div class="partial-content luftreinigung">
    <a name="warum-luftreinigung">
        <h2><?php echo $this->__('WARUM DIE LUFT REINIGEN?') ?></h2>
    </a>
    <?php
    /**
     * Temporarily disabled

    <div class="video">
        <video></video>
    </div>
     */
    ?>
    <div class="luftreinigung-content">
        <ul>
            <li>
                <?php echo $this->__('Filtert Pollen, Tierhaar etc. aus der Raumluft'); ?>
            </li>
            <li>
                <?php echo $this->__('Steigerung der Luftqualität in Wohn- und Arbeitsräumen') ?>
            </li>
            <li>
                <?php echo $this->__('Verbesserung des Schlafes durch reine Luft in Schlafräumen') ?>
            </li>
            <li>
                <?php echo $this->__('Entfernung von lästigen Gerüchen (Rauch, Käse, Fisch, etc.)') ?>
            </li>
            <li>
                <?php echo $this->__('Staubreduzierung in Wohnräumen') ?>
            </li>
        </ul>
    </div>
    <div class="image">
        <a href="https://dcf086ad0ae5e4180c87-136294dc2d63cffb3d7d670b2d913c30.ssl.cf3.rackcdn.com/Gesamtdeutscher-Pollenflugkalender.pdf" target="_blank"><img src="<?php echo $this->getSkinUrl('images/oreck/Gesamtdeutscher-Pollenflugkalender.jpg') ?>" width="100%" /></a>
        <div class="caption"><?php echo $this->__('Der Pollenflugkalender gibt Ihnen einen Überblick, welche Pollen sich gerade in der Luft befinden.') ?></div>
    </div>
</div>