<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<div class="partial-content reinigung">
    <a name="reinigung-pflege">
        <h2><?php echo $this->__('REINIGUNG DER TRUMAN CELL<sup>&reg;</sup>') ?></h2>
    </a>
    <div class="image">

    </div>
    <div class="reinigung-content">
        <ol>
            <li>
                <?php echo $this->__('Die Truman Cell aus dem Ger&auml;t entnehmen.') ?>
            </li>
            <li>
                <?php echo $this->__('Einfach in warmem Wasser mit etwas Sp&uuml;lmittel einweichen lassen.') ?>
            </li>
            <li>
                <?php echo $this->__('Danach mit klarem Wasser gründlich absp&uuml;len.') ?>
            </li>
            <li>
                <?php echo $this->__('Die Truman Cell<sup>®</sup> bei Raumtemperatur') ?>
	            <?php echo $this->__('vollst&auml;ndig trocknen lassen.') ?>
            </li>
        </ol>
    </div>
</div>
