<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<div class="partial-content technologie">
    <a name="technologie">
        <h2><?php echo $this->__('Technologie') ?></h2>
    </a>
    <div class="illustration">
        <dl>
            <dt><?php echo $this->__('VORFILTER') ?></dt>
            <dd>
                <?php echo $this->__('Filtert gro&szlig;e Partikel') ?> <?php echo $this->__('wie Staub oder Tierhaar*') ?>
            </dd>
            <dt><?php echo $this->__('TRUMAN CELL') ?><sup>&reg;</sup></dt>
            <dd>
                <?php echo $this->__('Die elektrostatische Barriere verleiht kleineren') ?>
                <?php echo $this->__('Partikeln eine positive Ladung. Negativ geladene') ?>
                <?php echo $this->__('Kollektoren ziehen die durchstr&ouml;menden Partikel') ?>
                <?php echo $this->__('an und binden sie, wie ein Magnet.') ?>
            </dd>
            <dt><?php echo $this->__('HELIOS SHIELD') ?><sup>&reg;</sup> <?php echo $this->__('GERUCHSNEUTRALISIERER') ?></dt>
            <dd>
                <?php echo $this->__('Neutralisiert Ger&uuml;che  und VOC - Emissionen') ?>
                <?php echo $this->__('(VOC: Volatile Organic Compound =') ?>
                <?php echo $this->__('Fl&uuml;chtige organische Verbindungen, wie z.B. Gase von Haushaltschemikalien)') ?>
            </dd>
        </dl>

        <div class="caveats">
            <?php echo $this->__('*Die Reduzierung von Partikeln in der Luft und die Luftzirkulation sind von verschiedenen Faktoren abhängig.') ?>
            <?php echo $this->__('Nicht die gesamte, in einem Raum befindliche Luft kann durch den Filter geführt werden.') ?>
        </div>
    </div>
    <h3><?php echo $this->__('Wie funktioniert die Truman Cell') ?><sup>&reg;</sup></h3>
    <div class="truman-cell-image">
        <img src="<?php echo $this->getSkinUrl('images/oreck/940/function_illustration.jpg') ?>" width="100%" />
    </div>
</div>
