<div class="faq-single">
    <h4 class="question"></h4>
    <div class="answer">
        <h4><div class="q">Q</div><span class="aq"></span></h4>
        <div class="a">A</div><div class="description"></div>
    </div>
</div>
