<div class="support_centre">
    <div class="support_top">
        <h2><?php echo $this->getTitle() ?></h2>
    </div>

    <div class="rhs">
        <?php echo $this->getContentHtml(); ?>
        <div class="clearfix"></div>
        <div class="binder_ring first"></div>
        <div class="binder_ring"></div>
    </div>
</div>

<script type="text/javascript" >
    $j(document).ready(function(){

        var count = 0;
        var current = 0;
        $j('.quicklinks-menu li').each(function() {
            if ($j(this).children('a').attr('href').indexOf(window.location.pathname) != -1) {
                $j(this).addClass('active');
                current = count;
            }
            count++;
        });
        $j('ul.title_tab').css('left', 32 * current);
        var other = $j('div.other_tabs');
        for (i=count-1;i>=0;i--) {
            var new_element = other.clone(false);

            new_element.css('left', 32 * i);
            $j('.support_tabset').append(new_element);
        }
    });

</script>
