<?php

// Load categories from the Support store
$_support_root_id = Mage::helper('vax_core')->getSupportStoreView()->getRootCategoryId();

if($this->getRootCategoryId()):
    $_support_root_id = $this->getRootCategoryId();
endif;

// this doesn't work on flat categories..
$_support_root_category = Mage::getModel('catalog/category')->load($_support_root_id);
$_categories = $_support_root_category->getChildrenCategories();
?>
<script type="text/javascript">

    function get_product_list_html(products) {
        var output = '';
        $j.each(products, function(index, product) {
            if (output == '') {
                output = '<ul>';
            }
            output += '<li href="#" data-id="' + product.id + '" data-image="' + product.image + '" data-name="' + product.name + '"  data-model-no="' + product.modelNo + '" >&gt; ' + product.name + '</li>' ;
        });

        if(output != '') {
            output += '</ul><script type="text\/javascript">  $j("#product_select li").hover(function(){    $j("#product_select_image > img").attr("src", $j(this).attr("data-image"));$j("#product_select_image").show()},function(){$j("#product_select_image").hide();});<\/script>';
        }
        return output;
    }

</script>

<div id="ql_fault">
    <div id="categories_select">
        <div id="ajax-loading" style="display:none;"></div>
        <div class="fault_breadcrumb">
            <ul>
                <li><?php echo $this->__('Select:')?></li>
                <li class="active"><?php echo $this->__('MACHINE TYPE') ?></li>
                <li class="separator"></li>
                <li><?php echo $this->__('RANGE') ?></li>
                <li class="separator"></li>
                <li><?php echo $this->__('MODEL') ?></li>
            </ul>
        </div>
        <ul class="fault_option_list" id="fault_category_option">
            <?php foreach ($_categories as $_category) {
                echo '<li class="active"><a class="select_category_link" href="javascript:void(0);" data-category="'.$_category->getId().'" ><div class="category_name">'. $_category->getName().'</div></a></li>';
            } ?>
        </ul>

        <ul class="fault_option_list" id="fault_subcategory_option" style="display:none;">
            <li><a class="select_model_link" href="javascript:void(0);" data-category="" ><div class="category_name"></div></a></li>
        </ul>

    </div>
    <div id="product_select" style="display:none;">
        <div class="fault_breadcrumb">
            <ul>
                <li><?php echo $this->__('Select:') ?></li>
                <li><?php echo $this->__('MACHINE TYPE') ?></li>
                <li class="separator"></li>
                <li><?php echo $this->__('RANGE') ?></li>
                <li class="separator"></li>
                <li class="active"><?php echo $this->__('MODEL') ?></li>
            </ul>
        </div>
        <div id="product_select_inner"></div>
        <div id="product_select_image" style="display:none;"><img src="" alt="" /></div>
    </div>
    <div id="fault_entry" style="display:none;">
        <form id="fault_form">
            <h2><?php echo $this->__('Product Details') ?></h2>
            <div>
                <label for="fault_product_name" ><?php echo $this->__('Product Name') ?></label>
                <input type="text" disabled="disabled" id="fault_product_name" />
            </div>
            <div>
                <label for="fault_product_code"><?php echo $this->__('Product Code') ?></label>
                <input type="text" disabled="disabled" id="fault_product_code" />
            </div>
            <div>
                <label for="fault_product_serial"><?php echo $this->__('Serial Number') ?></label>
                <input type="text" id="fault_product_serial" />
            </div>
            <div>
                <label for="more_info"><?php echo $this->__('More Information') ?></label>
                <textarea id="fault_more_info" /></textarea>
            </div>
            <input type="submit" id="fault_submit"  value="Send"/>
        </form>
        <div id="form_message" style="display:none">
            <p><?php echo $this->__('Thankyou for bringing this to our attention, your query has been sent to our customer support team and will be recorded.') ?></p>
            <p><?php echo $this->__('If you are in need of urgent assistance please call our careline:') ?></p>
            <p class="larger_text orange_text">(UK) <?php echo Mage::getStoreConfig('general/store_information/phone'); ?></p>
            <p class="larger_text orange_text">(ROI) 1-800 928 308</p>
            <p class="orange_text"><?php echo $this->__('Monday - Friday') ?></p>
            <p>8.30am - 6.30pm</p>
            <p class="orange_text"><?php echo $this->__('Saturday') ?></p>
            <p>9.00am - 5.00pm</p>
            <p class="orange_text"><?php echo $this->__('Sunday &amp; Bank Holidays') ?></p>
            <p><?php echo $this->__('Closed') ?></p>
        </div>
    </div>
</div>