<?php 

?>
<script type="text/javascript">
    $j(document).ready(function() {
         $j('#tracking_submit').click(function() {
             var orderId = $j('#tracking_number').val();
             if (orderId == '') {
                 alert('Please enter an order number.');
                 return false;
             }
             var url = '/support/quicklinks/ajaxtracking/order-id/'+$j('#tracking_number').val();

             $j('#ajax-loading').show();
             $j.ajax({
                  url: url,
                  context: document.body,
                  success: function(data, status) {
                      var returned_info = null;
                      var output = '';
                      returned_info = $j.parseJSON(data);
                      if (returned_info == null) {
                          $j('#tracking_message').html('Sorry, there was an error.');
                          $j('#ajax-loading').hide();
                          return false;
                      }
                      if ( (returned_info['message']) != undefined) {
                          $j('#tracking_message').html(returned_info['message']);
                          $j('#ajax-loading').hide();
                          return false;
                      }
                      
                      if (returned_info && returned_info.length) {
                          output = '<p class="shipment_info">';
                          for(i=0; i<returned_info.length; i++) {
                              output += 'Your item was shipped on <span>'+returned_info[i].createdAt+'</span>';
                              if ((returned_info[i]['trackingCode']) == undefined) {
                                  output += '. We do not have tracking details for this shipment.';
                              } else {
                                  output += '. <br />'+returned_info[i]['title'] +': ';
                                  if (returned_info[i]['carrierCode'] == 'ups') {
                                      output += '<a href="http://wwwapps.ups.com/WebTracking/processInputRequest?HTMLVersion=5.0&error_carried=true&tracknums_displayed=5&TypeOfInquiryNumber=T&loc=en_GB&InquiryNumber1=' + returned_info[i]['trackingCode'] + '&AgreeToTermsAndConditions=yes" target="_new" title="track my order with UPS">' + returned_info[i]['trackingCode']+ '</a>';
                                  } else {
                                      output += returned_info[i]['trackingCode'];
                                  }
                              }
                              output += '<br />';
                          }
                          output += '</p>';
                      } else {
                          output = '<p class="shipment_info"><?php echo $this->__('We do not have tracking details for this shipment.') ?></p>';
                      }
                                  
                      $j('#tracking_message').html('');
                      $j('#tracking_results').html(output);
                      $j('#ajax-loading').hide();
                      
                  },
                  error: function(){
                      alert('Sorry there was an error');
                      return false;
                  }
             }) 
             return false;
            
         })
         
        
          
    });
</script>
<form id="tracking_form" action="#">
<div id="ajax-loading" style="display:none;"></div>
<label for="tracking_number"><?php echo $this->__('Order Number') ?></label>
<input type="text" id="tracking_number" />
<button type="submit" id="tracking_submit" value=""><span><span><?php echo $this->__('Go') ?></span></span></button>
<div class="clearfix"></div>
<div id="tracking_message"></div>
<div id="tracking_results"></div>
<div id="tracking_footer"><p><?php echo $this->__('All our machines are delivered via Yodel. Orders usually take between 3-5 days.') ?></p>
<div class="delivery-icons">
    <img src="<?php echo $this->getSkinUrl('images/quicklinks/rm-badge.png') ?>" alt="Royal Mail logo" title="Royal Mail logo" width="65" height="44" />
    <img src="<?php echo $this->getSkinUrl('images/quicklinks/yodel_logo.png') ?>" alt="Yodel logo" title="UPS logo" width="154" height="41" />
</div>
</div>
</form>

