<?php
// this is a Uni_Fileuploader_Block_Fileuploader
if(Mage::helper('core')->isModuleEnabled('Uni_Fileuploader')): ?>
<a name="downloads" class="anchor-nav downloads"></a>
<div class="nav-downloads panel">
    <a name="downloads" class="anchor-nav">&nbsp;</a>
    <div class="header-wrapper"><h2 class="collapsed"><?php echo $this->__("Downloads"); ?></h2></div>
    <div class="content-wrapper">
        <?php
        $_product = Mage::registry('current_product');
        $attachments = $this->getProductAttachments($_product->getId());
        if (count($attachments) > 0): ?>
            <ul class="manuals-list">
                <?php foreach ($attachments as $attachment): ?>
                    <li>
                        <div class="label"><?php echo $attachment['file']; ?></div>
                        <?php if (!$attachment['content']): ?>
                            <div class="data"><?php echo $attachment['content']; ?></div>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
                <li class="dealer-login">
                    <a class="prod-attach" target="_blank" title="" href="http://mediadb.dirt-devil.de/login">
                        <span class="attach-title"><?php echo $this->__("Dealer-Login for further information"); ?></span>
                    </a>
                </li>
            </ul>
        <?php else: ?>
        <ul class="manuals-list">
            <li class="dealer-login">
                <a class="prod-attach" target="_blank" title="" href="http://mediadb.dirt-devil.de/login">
                    <span class="attach-title"><?php echo $this->__("Dealer-Login for further information"); ?></span>
                </a>
            </li>
        </ul>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
