<a name="faqs" class="anchor-nav faqs"></a>

<div class="nav-faqs panel">
    <div class="header-wrapper"><h2 class="collapsed"><?php echo $this->__("Questions"); ?></h2></div>
    <div class="content-wrapper">
        <?php echo $this->getChildHtml('product_faqs') ?>
    </div>
</div>
