/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * Reset
 * ============================================ */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: black(0);
  /* Prevent tap highlight on iOS/Android */
  -webkit-text-size-adjust: 100%;
  /* Prevent automatic scaling on iOS */
}

body {
  background: #FFFFFF;
  color: #000000;
  line-height: 1;
}

html,
body,
img,
fieldset,
abbr,
acronym {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

th,
code,
cite,
caption {
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

address {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
}

q:before,
q:after {
  content: '';
}

input:focus,
input[type="search"]:focus {
  outline-offset: -2px;
}

input[type="search"] {
  -webkit-appearance: none;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/* DD Grey 1 */
/* DD Grey 2 */
/* DD Grey 3 */
/* DD Grey 4 */
/* DD Grey 5 */
html,
body {
  height: 100%;
}

abbr {
  border-bottom: 1px dotted #999999;
  cursor: help;
  -moz-box-sizing: border-box;
}

a {
  outline: 0 !important;
}

button:active, button:focus,
a:active, a:focus, input, input:focus, input:active, select, select:focus, select:active {
  outline: 0 !important;
  outline-style: none !important;
  outline-width: 0 !important;
}

a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  outline: 0 !important;
  outline-style: none !important;
  outline-width: 0;
  border: none !important;
}

object, embed {
  outline: 0 !important;
  outline-style: none !important;
  outline-width: 0 !important;
}

a:hover, a:active, a:focus {
  outline: 0 !important;
  outline-style: none !important;
  outline-width: 0 !important;
}

body.checkout-onepage-index .pre-footer-container,
body.checkout-onepage-failure .pre-footer-container,
body.checkout-onepage-success .pre-footer-container {
  display: none;
}

body.checkout-onepage-index,
body.checkout-onepage-failure {
  color: #59595B;
}
body.checkout-onepage-index button, body.checkout-onepage-index input, body.checkout-onepage-index select, body.checkout-onepage-index table, body.checkout-onepage-index textarea,
body.checkout-onepage-failure button,
body.checkout-onepage-failure input,
body.checkout-onepage-failure select,
body.checkout-onepage-failure table,
body.checkout-onepage-failure textarea {
  color: #59595B;
}
body.checkout-onepage-index .col-main,
body.checkout-onepage-failure .col-main {
  width: 63%;
}
body.checkout-onepage-index .col-right,
body.checkout-onepage-failure .col-right {
  width: 37%;
}

body.checkout-onepage-success {
  color: #59595B;
}
body.checkout-onepage-success .col-main {
  width: 100%;
}

.required {
  color: #b94a48;
}

.wrapper {
  min-height: 100%;
  min-width: 320px;
}

.wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.page-header,
.main-container {
  margin: 0 auto;
}
.page-header:after,
.main-container:after {
  content: '';
  display: table;
  clear: both;
}

.main-container {
  position: relative;
  margin-top: 30px;
}
.main-container .button, .main-container .cart-table .product-cart-actions .button, .main-container #co-shipping-method-form .buttons-set .button, .main-container .footer .button {
  text-transform: capitalize;
}

.col-main {
  padding-top: 0px;
  position: relative;
  float: left;
  width: 100%;
}

.main:after {
  content: '';
  display: table;
  clear: both;
}

.skippable-content, .sidebar {
  display: none;
}

.main {
  border: 1px solid #59595B;
  min-height: 620px;
}

.col-main {
  width: auto;
}

.page {
  padding: 0;
}

.skippable-content {
  display: block;
}

#checkout-wrapper {
  position: relative;
}

#checkout-content-wrapper {
  min-width: 250px;
}

#checkout-content-wrapper {
  width: 97%;
}

#cart-summary {
  width: 100%;
}

#cart-summary,
#cart-summary .desc {
  min-width: 200px;
}

#order-summary {
  position: relative;
}
#order-summary:after {
  content: '';
  display: table;
  clear: both;
}

.skippable-content {
  position: absolute;
  right: -10px;
  width: 290px;
}

#cart-summary {
  padding-right: 290px;
  padding-left: 0px;
}

#cart-summary .desc {
  max-width: 530px;
}

.order-info {
  padding-left: 10px;
}

/* ============================================ *
 * Base Styles
 * ============================================ */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
a, button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body,
button,
input,
select,
table,
textarea {
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
}

/* our buttons.. */
.btn {
  box-sizing: content-box;
  text-decoration: none;
  position: relative;
}

.btn p {
  vertical-align: middle;
  text-align: center;
}

.btn-large {
  height: 48px;
  width: 105px;
  margin-left: 10px;
  float: left;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px;
  margin-top: -1px;
}

.btn-next {
  color: #fff;
  padding-left: 15px;
  padding-right: 55px;
  width: 65px;
  font-size: 15px;
}

.btn-prev {
  background-color: #dcdee0;
  color: #59595B;
  padding-left: 55px;
  padding-right: 15px;
  width: 65px;
  font-size: 15px;
}

.btn-prev:hover,
.btn-prev:focus {
  color: #59595B;
}

.btn-next:hover,
.btn-next:focus {
  color: #fff;
}

.btn .icon {
  position: absolute;
  display: block;
  top: 19px;
  height: 30px;
  width: 30px;
}

.btn-next .icon {
  right: 10px;
  background: none no-repeat 0 0;
  background-image: none;
}

.btn-prev .icon {
  left: 10px;
  background: none no-repeat 0 0;
  background-image: none;
}

/* Warning Bar */
.warning-bar {
  height: 26px;
  line-height: 26px;
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/checkout-bg-shaded.png");
  background-repeat: repeat-x;
  padding-left: 10px;
  font-size: 16px;
  color: #59595B;
  margin-bottom: 15px;
}

/* Error */
.checkout-failure,
.checkout-failure #checkout-steps-title h2,
.checkout-failure #checkout-steps-title h3 {
  color: #e63c2c;
}

.checkout-failure .btn-edit {
  display: none;
}

.order-failure {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.order-failure .btn-try-again {
  width: 20%;
  height: 14px;
  line-height: 14px;
  border-radius: 5px;
  background: #e63c2c;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.078);
  padding: 10px;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

div.progress-bg {
  opacity: .8;
  background-color: #000;
  width: 100%;
  height: 4000px;
  display: none;
  position: absolute;
  left: -99999px;
  z-index: 5;
}

.hide-for-small, .hide-for-large {
  display: none;
}

.hide-for-small {
  display: block;
}

.checkout-cart-index .already-own-container,
.checkout-onepage-index .already-own-container,
.checkout-onepage-failure .already-own-container,
.checkout-onepage-success .already-own-container {
  display: none;
  height: 0;
}

/* Checkout Header */
#checkout-header {
  width: 100%;
  background: #510c76;
  height: 140px;
  line-height: 140px;
  vertical-align: middle;
}
#checkout-header h1 {
  color: #fff;
  font-weight: bold;
  text-transform: none;
  font-size: 60px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 140px;
  padding-left: 50px;
}

#checkout-wrapper {
  background-color: #fff;
  position: relative;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  max-width: 580px;
}
#checkout-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
#checkout-wrapper .btn-manual-entry-main {
  margin-left: 24%;
  clear: both;
  display: block;
  text-decoration: underline;
  font-size: 12px;
}
#checkout-wrapper .btn-show-search-address {
  text-decoration: underline;
  font-size: 12px;
  display: inline-block;
}
#checkout-wrapper div.warning-bar {
  background: none;
  background-image: none;
  padding-left: 0;
  height: auto;
  line-height: auto;
  margin-bottom: 10px;
}
#checkout-wrapper div.warning-bar input[type=checkbox] {
  width: auto;
  display: inline-block;
  margin-top: 0;
}
#checkout-wrapper #billing-details-summary {
  display: block;
  margin-bottom: 10px;
  margin-left: 24%;
  font-size: 13px;
  font-weight: bold;
}
#checkout-wrapper #billing-details-summary div {
  margin-left: -20px;
}
#checkout-wrapper #billing-payment-details-form .payment-type {
  float: left;
  color: black;
}
#checkout-wrapper #billing-payment-details-form .payment-method .control-label {
  color: #5a6870;
  float: none;
  display: inline-block;
  width: 100%;
  font-weight: normal;
}
#checkout-wrapper #billing-payment-details-form .payment-method .control-label.label-realex, #checkout-wrapper #billing-payment-details-form .payment-method .control-label.label-realexdirect {
  width: 90%;
  margin-top: -5px;
}
#checkout-wrapper #billing-payment-details-form .payment-method .pay-method {
  margin: 0 7px 0 0;
  float: none;
  display: inline-block;
}
#checkout-wrapper #billing-payment-details-form .payment-method span.info {
  display: inline-block;
  margin-top: 5px;
}
#checkout-wrapper #billing-payment-details-form .payment-form #realex_cc_cid {
  width: 23%;
  margin-right: 10px;
  margin-top: -8px;
}
#checkout-wrapper #billing-payment-details-form .payment-form div.cvv-help {
  display: inline-block;
  width: 25%;
  font-size: 11px;
  margin-top: 3px;
}
#checkout-wrapper #billing-payment-details-form .warning-bar {
  margin-left: 24%;
}
#checkout-wrapper #billing-payment-details-form .warning-bar label {
  margin-left: -20px;
}
#checkout-wrapper #billing-payment-details-form .label-paypal_standard, #checkout-wrapper #billing-payment-details-form .label-paypal_express {
  background: url("../images/checkout/paypal.png") no-repeat;
  height: 12px;
  width: 46px;
  font-size: 0;
  margin-top: 6px;
  position: absolute;
}
#checkout-wrapper #checkout-steps {
  overflow: hidden;
  border: none;
}
#checkout-wrapper #checkout-steps .step:last-of-type {
  border-bottom: 1px solid #e0dfdf;
}
#checkout-wrapper #checkout-steps .step-inactive .steps-index, #checkout-wrapper #checkout-steps .step-inactive .form-horizontal, #checkout-wrapper #checkout-steps .step-inactive #checkout-steps-actions {
  display: none;
}
#checkout-wrapper #checkout-steps a.link-step {
  font-size: 11px;
  cursor: pointer;
  color: #59595B;
  text-decoration: underline;
}
#checkout-wrapper #checkout-steps .control-label {
  color: #000;
}
#checkout-wrapper #checkout-steps div.outlier {
  font-size: 13px;
  color: red;
  margin-bottom: 20px;
  width: 55%;
  margin-left: 24%;
}
#checkout-wrapper table tr.cart-line td {
  border-top: none;
}
#checkout-wrapper table tr.discount td.desc {
  font-size: 13px;
}
#checkout-wrapper table th {
  border-bottom: 1px solid #dcdee0;
}
#checkout-wrapper table td {
  color: #59595B;
  font-size: 11px;
  padding: 20px;
  min-width: 6em;
  text-align: right;
  vertical-align: top;
}
#checkout-wrapper table td.desc {
  text-align: left;
}
#checkout-wrapper table tr.totals td {
  border-top: 1px solid #fff;
  margin-top: -1px;
}
#checkout-wrapper table tr.totals ~ tr.totals td {
  border-top: none;
  margin-top: 0;
}
#checkout-wrapper table tr.savings-subtotal td {
  border-bottom: 1px solid #fff;
}
#checkout-wrapper table tr.delivery td.desc, #checkout-wrapper table tr.discount td.desc {
  text-align: right;
}
#checkout-wrapper table tfoot td {
  font-weight: bold;
}

body.checkout-onepage-success #checkout-wrapper {
  max-width: none;
}
body.checkout-onepage-success #checkout-wrapper .checkout-success-wrapper#leader {
  border: none;
  border-top: 1px solid #E6E6E6;
  text-align: left;
}
body.checkout-onepage-success #checkout-wrapper h2 {
  text-transform: none;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
body.checkout-onepage-success #checkout-wrapper a.link-print {
  color: #59595B;
  text-decoration: underline;
  font-size: 12px;
  font-weight: normal;
}
body.checkout-onepage-success #checkout-wrapper table td.savings-block {
  padding-top: 0;
}
body.checkout-onepage-success .checkout-success td.savings-block .savings {
  background-color: #0075C9;
  color: white;
  float: left;
  font-weight: normal;
  min-height: 20px;
  height: auto;
  margin-top: 5px;
  padding: 5px 0px 5px 10px;
  position: relative;
  line-height: 20px;
  font-size: 16px;
  box-sizing: content-box;
  z-index: 1;
  text-transform: uppercase;
  width: auto;
  padding-right: 1em;
}
body.checkout-onepage-success .checkout-success td.savings-block .savings:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #0075C9;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  transform: skew(-25deg);
  z-index: -1;
}
body.checkout-onepage-success .checkout-success td.savings-block .savings:after {
  background-color: #0075C9;
  -webkit-transform: skew(25deg);
  -moz-transform: skew(25deg);
  -o-transform: skew(25deg);
  -ms-transform: skew(25deg);
  transform: skew(25deg);
  width: 100%;
  content: "";
  position: absolute;
  left: 10px;
  height: 100%;
  top: 0px;
  z-index: -1;
}

.checkout-failure {
  color: #e63c2c;
}
.checkout-failure .form-horizontal, .checkout-failure div.checkout-steps-actions {
  display: none !important;
}
.checkout-failure #checkout-steps div.step-visited div.step-summary {
  display: none;
}
.checkout-failure #checkout-steps div.step-inactive div.step-summary {
  display: none;
}
.checkout-failure .checkout-steps-title h2, .checkout-failure .checkout-steps-title h3 {
  color: #e63c2c;
}

/* Table */
table.order-info th,
table.order-info td {
  padding: 3px;
}

table.order-info th {
  color: #f58426;
  border-bottom: 1px solid #a2adb3;
  font-size: 14px;
}

table.order-info td {
  color: #59595B;
  border-top: 1px solid #dcdee0;
  font-size: 12px;
}

table.order-info tfoot td {
  border-top: 1px solid #f58426;
  border-bottom: 0px;
  font-weight: bold;
}

/* Progress Container */
.progress-container-wrapper {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: #FFF;
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/spinner.gif");
  background-position: center 80%;
  background-repeat: no-repeat;
  z-index: 200;
  border: 3px solid #CF102D;
  border-radius: 8px;
  margin-left: -100px;
  opacity: 1;
}

.progress-container .msg {
  text-align: center;
  color: #CF102D;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  padding: 0px 20px;
}

/* Messages */
#cart-message,
#shipping-message {
  max-width: 888px;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* Delivery Dates */
.form-horizontal .controls-methods label, .form-horizontal .controls-methods label.radio {
  max-width: 340px;
  float: none;
  display: block;
}

.delivery-date {
  display: block;
  float: none;
  margin-top: 2px;
}
.delivery-date label {
  font-size: 11px;
  line-height: 1;
}

div.method {
  overflow: hidden;
  height: 30px;
}

/* Order Summary */
#cart-summary .qty {
  text-align: right;
  width: 60px;
}

#cart-summary .price {
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

#order-contact-details {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 280px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #59595B;
}

.order-info {
  width: 135px;
  float: left;
  border: none;
}

/* Checkout Steps */
#checkout-steps-wrapper {
  clear: both;
}

#checkout-steps div.step-summary {
  display: none;
  font-size: 14px;
  padding: 5px 20px;
}
#checkout-steps .controls input[type=radio], #checkout-steps .controls input[type=checkbox] {
  width: auto;
  margin-left: 1px;
}
#checkout-steps .controls .input-append input {
  width: 100%;
}
#checkout-steps span.comment {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  padding-left: 5px;
  position: absolute;
  top: 4%;
  right: 0;
}
#checkout-steps .step-wrapper.step-visited {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#checkout-steps .step-wrapper.step-visited div.step-summary {
  display: block;
}
#checkout-steps .step-wrapper.step-visited .step-info, #checkout-steps .step-wrapper.step-visited .step-content {
  display: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#checkout-steps .step-wrapper.step-visited .step-info {
  font-size: 14px;
  text-transform: uppercase;
  color: #59595B;
}
#checkout-steps .btn-search-address, #checkout-steps .btn-search-address:hover, #checkout-steps .btn-select-address {
  background: #cf102d;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  height: 14px;
  line-height: 14px;
  margin-left: 0.5em;
  position: absolute;
  left: 58%;
  width: 95px;
  top: 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}
#checkout-steps .btn-select-address {
  left: 200px;
}
#checkout-steps input#address_delivery_postcode, #checkout-steps input#address_billing_postcode {
  width: 55%;
  margin-top: 0;
}
#checkout-steps .step-wrapper {
  position: relative;
}
#checkout-steps .step-wrapper.step-active {
  padding-top: 0;
}
#checkout-steps .step-wrapper.step-active div.checkout-steps-header {
  padding-top: 15px;
}
#checkout-steps .step-info {
  font-size: 14px;
  text-transform: uppercase;
  color: #59595B;
  font-weight: bold;
}

#checkout-steps .checkout-steps-header {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#checkout-steps .step-active .checkout-steps-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e0dfdf;
}

.small-discount, .totals-small {
  display: none;
}

#checkout-steps .step-wrapper {
  margin: 20px;
  margin-top: 0;
  padding-top: 30px;
  border-top: 1px solid #e0dfdf;
  margin-bottom: 22px;
}
#checkout-steps .step-wrapper p.opted-out {
  background: url("../images/times-red.png") no-repeat 0 4px;
  padding-left: 15px;
  margin-top: 10px;
}
#checkout-steps .step-wrapper p.opted-in {
  background: url("../images/tick.png") no-repeat 0 4px;
  padding-left: 15px;
  margin-top: 10px;
}

.checkout-steps-title h2 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  display: inline;
  width: auto;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.checkout-steps-title h3 {
  font-weight: normal;
  font-style: italic;
  color: #59595B;
  font-size: 16px;
}

.checkout-steps-title .step-link {
  float: right;
  display: none;
}

#checkout-steps .step-active .step-content {
  display: block;
}

#checkout-steps .step-inactive .checkout-steps-actions,
#checkout-steps .step-inactive .checkout-steps-title .step-info,
#checkout-steps .step-inactive .step-content {
  display: none;
}

#checkout-steps .step-visited .step-link {
  display: inline;
}

#order-confirmation .success-lorry {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 100%;
}

.help-inline {
  font-size: 11px;
}

.delivery-clearfix {
  clear: both;
}

/* form */
.control-group {
  width: auto;
  margin: 0 auto 10px auto;
}

.payment-method .control-label {
  float: left;
  padding-top: 5px;
  text-align: left;
  width: 22%;
  color: #000;
}

.medium-small {
  display: block;
}

.secure-checkout-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}
.secure-checkout-small img {
  margin-left: auto;
  margin-right: auto;
}

#checkout-steps-actions {
  margin: 0px 0px 0px 0px;
}

.control-group {
  width: 100%;
}

.control-label {
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 22%;
  color: #000;
}

.controls {
  margin-left: 24%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.checkbox div.checkbox-label {
  width: 92%;
}

.medium-small {
  display: none;
}

.checkbox div.checkbox-label {
  width: 93%;
}

/* Warehouse Shipping */
#warehouse-collect {
  clear: both;
  display: block;
}

div.method {
  height: auto;
}

.checkout-onepage-success .col-main {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.checkout-onepage-success #checkout-content-wrapper {
  width: 100%;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter {
  border-top: 1px solid #E6E6E6;
  padding-top: 20px;
  padding-bottom: 10px;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter h4 {
  float: left;
  text-align: right;
  width: 40%;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup {
  float: right;
  width: 55%;
  clear: none;
  margin: 0;
  margin-top: 5px;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup .v-fix, .checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup .buttonwrap {
  float: left;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup .v-fix {
  width: 60%;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup .buttonwrap {
  width: 40%;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup input {
  border: 1px solid #c2c4c4;
  border-radius: 5px;
  background: #fcfafa;
  width: 88%;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup button {
  border-radius: 0px;
  background: #cf102d;
  margin-left: 10px;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px;
  width: auto;
  color: #fff;
  border: 0;
  margin: 0;
}
.checkout-onepage-success .checkout-success-wrapper#newsletter .form-signup button:hover {
  background-color: #b70e28;
}

.checkout-success-wrapper#order-summary {
  width: 100%;
  float: none;
  margin-top: 20px;
  padding-bottom: 0;
}
.checkout-success-wrapper#order-summary h3 {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  padding-bottom: 28px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 0 20px 20px;
}

.checkout-success-wrapper {
  width: 100%;
  overflow: hidden;
  margin-right: 7%;
  box-sizing: border-box;
  padding: 30px 0;
  margin-bottom: 20px;
  margin: 0 auto;
}
.checkout-success-wrapper h2 {
  font-size: 22px;
  color: black;
  float: left;
  width: 65%;
  margin-top: 0;
}
.checkout-success-wrapper #delivery-date {
  width: 100%;
  clear: both;
  margin-top: 30px;
  color: #fff;
  vertical-align: middle;
  background-color: #cf102d;
}
.checkout-success-wrapper #delivery-date h3 {
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  text-transform: none;
}
.checkout-success-wrapper #delivery-date h3 div.icon-free-del {
  background: url("../images/checkout/free-delivery-white.png") no-repeat;
  width: 69px;
  height: 32px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.checkout-success-wrapper h3.what-happens-next {
  font-size: 18px;
  color: #000;
  clear: both;
  margin-bottom: 20px;
  padding-top: 24px;
  font-weight: bold;
  text-transform: none;
}
.checkout-success-wrapper h4 {
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-transform: none;
}
.checkout-success-wrapper .share {
  border-top: 1px solid #e0dfdf;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  margin-left: auto;
}
.checkout-success-wrapper .share h4 {
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.checkout-success-wrapper .share div.social-icons {
  margin: 0 auto;
}
.checkout-success-wrapper .share div.social-icons ul {
  line-height: 1em;
  margin-top: 10px;
}
.checkout-success-wrapper .share div.social-icons ul li {
  background: url("../images/checkout/sprite.jpg") no-repeat;
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  overflow: hidden;
  width: 53px;
  height: 53px;
}
.checkout-success-wrapper .share div.social-icons ul li a {
  width: 53px;
  height: 53px;
  display: inline-block;
}
.checkout-success-wrapper .share div.social-icons ul li.google {
  background-position: 0 -106px;
}
.checkout-success-wrapper .share div.social-icons ul li.twitter {
  background-position: 0 -53px;
}
.checkout-success-wrapper .share div.social-icons ul li.facebook {
  background-position: 0 0px;
}
.checkout-success-wrapper .link-print {
  float: right;
  width: 30%;
  text-align: right;
  margin-top: 0;
}
.checkout-success-wrapper #cart-summary {
  width: 100%;
}
.checkout-success-wrapper #cart-summary td {
  padding-left: 20px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.checkout-success-wrapper #cart-summary td.qty {
  padding-left: 18px;
}
.checkout-success-wrapper #cart-summary td.subtotal {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: black;
}
.checkout-success-wrapper #cart-summary td.grand-total-label {
  font-size: 20px;
}
.checkout-success-wrapper #cart-summary td.grand-total span.price {
  font-size: 20px;
}
.checkout-success-wrapper #cart-summary td.savings-block {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 0;
}

.gradient-wrapper {
  position: relative;
}

.gradient-vertical {
  position: absolute;
  width: 100%;
  height: 4em;
  left: 0;
  top: -4.1em;
  background: -moz-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.01) 1%, #fafafa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(250, 250, 250, 0)), color-stop(1%, rgba(250, 250, 250, 0.01)), color-stop(100%, #fafafa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.01) 1%, #fafafa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.01) 1%, #fafafa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.01) 1%, #fafafa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.01) 1%, #fafafa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

tr.savings-subtotal td {
  vertical-align: bottom;
}

@media print {
  .checkout-onepage-success .header-minicart, .checkout-onepage-success #header-search, .checkout-onepage-success .skip-links {
    display: none;
  }
  .checkout-onepage-success #checkout-header h1 {
    font-size: 40px;
  }

  .checkout-success div.social-icons, .checkout-success #newsletter {
    display: none;
  }
  .checkout-success .checkout-success-wrapper h2 {
    font-size: 16px;
    margin-top: 0 !important;
  }
  .checkout-success div.share h4 {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .checkout-success td.desc {
    min-width: 50% !important;
  }
  .checkout-success td.savings-block .savings {
    width: 100% !important;
  }
}
#checkout-sidebar-wrapper {
  width: 100%;
}

#checkout-sidebar .step {
  width: 20%;
  height: 76px;
  background-color: #a2adb3;
  position: relative;
  float: left;
}
#checkout-sidebar .step a {
  width: auto;
  height: auto;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
}
#checkout-sidebar .step p {
  display: block;
  margin: 5px auto 0px auto;
  width: 50px;
  height: auto;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}
#checkout-sidebar .step span.subtitle {
  display: block;
}
#checkout-sidebar .step .icon-numeral {
  display: block;
  height: 26px;
  width: 26px;
  margin: 10px auto 0px auto;
  background-color: none;
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/icon_sprite_checkout.png");
  background-position: 0px -102px;
  background-repeat: no-repeat;
}

#checkout-sidebar .step-2 .icon-numeral {
  background-position: -26px -102px;
}

#checkout-sidebar .step-3 .icon-numeral {
  background-position: -52px -102px;
}

#checkout-sidebar .step-4 .icon-numeral {
  background-position: -78px -102px;
}

#checkout-sidebar .step-5 .icon-numeral {
  background-position: -104px -102px;
}

#checkout-sidebar .step-error .icon-numeral {
  background-position: -130px -102px;
}

#checkout-sidebar .step-active {
  background-color: #f58426;
}

#checkout-sidebar .step-active.step-last {
  background-color: #A4C33C;
}

#checkout-sidebar .step-visited {
  background-color: #dcdee0;
}

#checkout-sidebar .step-active.step-error,
#checkout-sidebar .step-error {
  background-color: #e63c2c;
}

#checkout-sidebar .step .icon-arrow {
  position: absolute;
  bottom: 0px;
  right: -18px;
  height: 76px;
  width: 18px;
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/icon_sprite_checkout.png");
  background-position: 18px -190px;
  background-repeat: no-repeat;
  z-index: 4;
}

#checkout-sidebar .step-visited.step .icon-arrow {
  background-image: none;
  background-color: none;
  background-position: 0px -51px;
}

#checkout-sidebar .step-prev .icon-arrow {
  background-color: #dcdee0;
}

#checkout-sidebar .step-active .icon-arrow {
  background-position: 0px -190px;
}

#checkout-sidebar .step-last .icon-arrow {
  display: none;
  top: -30px;
  background-color: #a4c33c;
  background-position: 0px -71px;
  height: 30px;
}

#checkout-sidebar .step-error .icon-arrow {
  background-color: #e63c2c;
}

#checkout-sidebar .step-last.step-active .icon-arrow {
  display: none;
}

#checkout-sidebar table th.summary {
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
  vertical-align: baseline;
}
#checkout-sidebar table th.summary .basket-icon {
  background-image: url("../images/checkout/icons/basket-icon.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 18px;
  display: inline-block;
}

#cart-summary .edit-action a {
  color: #59595B;
  text-decoration: underline;
}

#checkout-sidebar #order-summary table th.summary {
  font-size: 20px;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: bold;
  width: 72%;
}
#checkout-sidebar #order-summary table th.summary a.expand-summary {
  font-size: 12px;
  font-weight: normal;
}

#checkout-sidebar table th {
  font-size: 18px;
  color: #000;
  padding: 20px 20px 25px 20px;
}

#checkout-sidebar #order-summary table th.edit-action {
  padding: 20px 20px 25px 0px;
}

#checkout-sidebar table th.edit-action {
  text-align: right;
  font-size: 12px;
  vertical-align: middle;
  line-height: 30px;
}

#order-summary {
  overflow: hidden;
  background: #E6E6E6;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
}

.checkout-success #order-summary {
  max-width: 100%;
}

#order-summary .secure-checkout {
  background: white;
  padding-top: 30px;
  text-align: left;
  font-size: 14px;
  display: block;
}

#order-summary .secure-checkout p {
  margin-bottom: 0;
}

#order-summary .secure-checkout img {
  display: inline;
}

#checkout-sidebar {
  display: inline-block;
}

#checkout-sidebar table th {
  border-bottom: 1px solid #fff;
}
#checkout-sidebar table td {
  color: #000;
  font-size: 14px;
  padding: 20px;
  vertical-align: top;
}
#checkout-sidebar table tr.sidebar-total td, #checkout-sidebar table tr#grand-total td {
  border-top: 1px solid #fff;
}
#checkout-sidebar table tr.sidebar-total ~ tr.sidebar-total td {
  border-top: none;
}

#checkout-sidebar table tr.cart-line:not(:first-of-type) td {
  border-top: none;
}

#checkout-sidebar #order-summary table tfoot.totals tr.savings-discounts span.savings {
  margin-top: -15px;
}

#cart-summary,
#cart-summary .desc {
  min-width: 0;
}

#cart-summary .desc,
#cart-summary tr.subtotal td.subtotal-label {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
#cart-summary .desc .qty,
#cart-summary tr.subtotal td.subtotal-label .qty {
  font-size: 12px;
  display: block;
  text-align: left;
}

#cart-summary .price {
  text-align: right;
  color: #000;
  font-weight: bold;
}

#cart-summary td.grand-total-label {
  font-size: 20px;
  font-weight: bold;
}

#checkout-sidebar #order-summary tr.savings-discounts td {
  padding-top: 10px;
}

#checkout-sidebar #order-summary table .savings {
  background-color: #0075C9;
  color: white;
  float: left;
  font-weight: normal;
  min-height: 20px;
  height: auto;
  margin-top: 5px;
  padding: 5px 0px 5px 10px;
  position: relative;
  line-height: 20px;
  font-size: 16px;
  box-sizing: content-box;
  z-index: 1;
  text-transform: uppercase;
  width: 92%;
}
#checkout-sidebar #order-summary table .savings:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #0075C9;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  transform: skew(-25deg);
  z-index: -1;
}
#checkout-sidebar #order-summary table .savings:after {
  background-color: #0075C9;
  -webkit-transform: skew(25deg);
  -moz-transform: skew(25deg);
  -o-transform: skew(25deg);
  -ms-transform: skew(25deg);
  transform: skew(25deg);
  width: 100%;
  content: "";
  position: absolute;
  left: 10px;
  height: 100%;
  top: 0px;
  z-index: -1;
}

#checkout-sidebar table tfoot td.grand-total {
  font-size: 20px;
}

#summary-switcher {
  display: none;
}
#summary-switcher .label, #summary-switcher .total {
  text-align: right;
  display: block;
}
#summary-switcher .label {
  color: #59595B;
  text-transform: uppercase;
  font-size: 1em;
  padding-right: 0;
  font-weight: normal;
}
#summary-switcher .total {
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
}
#summary-switcher .switcher-link {
  padding-left: 2.5em;
  font-size: 1.2em;
  background: url("../images/arrows-ud.png") no-repeat;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  background-position: 0 3px;
}
#summary-switcher .switcher-link:hover {
  color: #000;
}
#summary-switcher a.switcher-link.expanded {
  background-position: 0 -14px;
}

#grand-total {
  display: table-row;
}

div.resizable-content {
  height: auto;
  overflow: visible;
}

#checkout-sidebar-wrapper {
  position: absolute;
  left: 0;
  width: 50px;
}

#checkout-sidebar .step {
  float: none;
}

#checkout-sidebar .step,
#checkout-sidebar .step a {
  width: 50px;
  height: 110px;
}

#checkout-sidebar .step p {
  width: 50px;
  height: 50px;
  font-size: 9px;
  position: absolute;
  top: 45px;
  margin: 0px 0px 0px 0px;
  z-index: 5;
}

#checkout-sidebar .step-last {
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/icon_sprite_checkout.png");
  background-position: -100px 60px;
  background-repeat: no-repeat;
  background-color: none;
}

#checkout-sidebar .step-last.step-active {
  background-repeat: no-repeat;
  background-color: #a4c33c;
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/icon_sprite_checkout.png");
  background-position: -150px 60px;
}

#checkout-sidebar .step-active.step-error,
#checkout-sidebar .step-error {
  background-color: #e63c2c;
  background-image: none;
}

#checkout-sidebar .step-last.step-error .icon-arrow {
  background-color: #e63c2c;
  background-position: 0 -20px;
}

#checkout-sidebar .step-visited.step .icon-arrow {
  background-color: #DCDEE0;
}

#checkout-sidebar .step-visited.step.step-error .icon-arrow {
  background-color: #e63c2c;
}

#checkout-sidebar .step .icon-numeral {
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 15px;
  right: 12px;
}

#checkout-sidebar .step .icon-arrow {
  height: 50px;
  width: 50px;
  background-color: #a2adb3;
  background-image: url("https://65473b912f7c3414e030-154cb8496c4b04c4f4c6d0e55429ca1b.ssl.cf3.rackcdn.com/checkout/icon_sprite_checkout.png");
  background-position: -100px -51px;
  right: 0px;
}

#checkout-sidebar .step-active .icon-arrow {
  background-position: -50px -51px;
}

#checkout-sidebar .step-last .icon-arrow {
  background-color: #A4C33C;
  background-position: 0 -71px;
  height: 30px;
}

#checkout-sidebar .step-last.step-active .icon-arrow {
  display: block;
}

.checkout-onepage-index .sidebar {
  display: block;
}

/** Standard screen **/
.col-main {
  width: 66%;
  float: left;
}

.col-right {
  width: 33%;
  float: right;
}

div.main {
  border: none;
  min-width: 60%;
}

@media only screen and (max-width: 770px) {
  .col-main {
    width: 100%;
    float: right;
  }

  .col-right {
    width: 100%;
    float: left;
  }
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #59595B;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c4c4;
  width: 75%;
  line-height: 35px;
  height: 35px;
  border-radius: 4px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"] {
  width: 72%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

select, input[type="file"] {
  height: 30px;
  line-height: 30px;
}

select#address_delivery_shipping_date {
  width: auto;
}

#checkout-steps .step-1 .controls input[type="text"], #checkout-steps .step-1 .controls input[type="password"], #checkout-steps .step-1 .controls input[type="datetime"], #checkout-steps .step-1 .controls input[type="datetime-local"], #checkout-steps .step-1 .controls input[type="date"], #checkout-steps .step-1 .controls input[type="month"], #checkout-steps .step-1 .controls input[type="time"], #checkout-steps .step-1 .controls input[type="week"], #checkout-steps .step-1 .controls input[type="number"], #checkout-steps .step-1 .controls input[type="email"], #checkout-steps .step-1 .controls input[type="url"], #checkout-steps .step-1 .controls input[type="tel"], #checkout-steps .step-1 .controls input[type="color"], #checkout-steps .step-1 .controls select {
  width: 55%;
}

#checkout-steps .controls .address-search input[type="text"], #checkout-steps .controls .address-search input[type="password"], #checkout-steps .controls .address-search input[type="datetime"], #checkout-steps .controls .address-search input[type="datetime-local"], #checkout-steps .controls .address-search input[type="date"], #checkout-steps .controls .address-search input[type="month"], #checkout-steps .controls .address-search input[type="time"], #checkout-steps .controls .address-search input[type="week"], #checkout-steps .controls .address-search input[type="number"], #checkout-steps .controls .address-search input[type="email"], #checkout-steps .controls .address-search input[type="url"], #checkout-steps .controls .address-search input[type="tel"], #checkout-steps .controls .address-search input[type="color"], #checkout-steps .controls .address-search select {
  width: 55%;
}

#checkout-steps .step-content .error-block {
  color: #CF102D;
  font-size: 14px;
  background: #fbf5c5;
  padding: 0 15px;
  border: 1px solid #e63c2c;
  padding-left: 45px;
  margin-bottom: 20px;
  display: none;
  padding-bottom: 10px;
  padding-top: 10px;
}
#checkout-steps .step-content .error-block h6 {
  font-size: 18px;
}
#checkout-steps .step-content .error-block .exclamation {
  color: #CF102D;
  padding: 5px;
  border: 2px solid #e63c2c;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  display: block;
  font-size: 16px;
  float: left;
  margin-right: 10px;
  line-height: 9px;
  margin-bottom: -8px;
  vertical-align: middle;
}
#checkout-steps .step-content .error-block ul {
  list-style-type: disc;
  list-style-position: inside;
}
#checkout-steps .step-content .error-block ul li {
  padding-left: 32px;
}

#checkout-steps #billing-payment-details-form label.radio {
  padding-top: 0;
  min-height: 0;
  line-height: 1;
  display: block;
  margin-bottom: 0.6em;
}
#checkout-steps #billing-payment-details-form label.radio input {
  padding-top: 0;
  min-height: 0;
  line-height: 1;
  margin-left: 0;
  position: relative;
}
#checkout-steps #billing-payment-details-form #address_billing_useDeliveryAddress {
  margin-top: 0px;
  float: left;
  margin-right: 10px;
  line-height: 1;
}
#checkout-steps a.btn-manual-entry, #checkout-steps a.btn-show-search-address {
  color: #59595B;
}

button.btn-search-address:hover, button.btn-select-address:hover {
  background-color: #b70e28 !important;
}

select#address_id {
  width: 58%;
}

.checkout-form .controls select#contactDetails_prefix {
  width: auto;
}

label, input, button, select, textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.checkout-form .form-horizontal .control-label {
  width: 100px;
}

em.required {
  display: none;
}

div.checkout-steps-actions {
  text-align: left;
  margin-top: 20px;
}

div.checkout-steps-actions .btn-next {
  width: 230px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  background: #cf102d;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
  float: none;
  border-color: transparent;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-transform: uppercase;
  text-decoration: none;
}

div.checkout-steps-actions .btn-next:focus,
div.checkout-steps-actions .btn-next:hover,
div.checkout-steps-actions .btn-next:active {
  background: #b70e28;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.step-3 div.checkout-steps-actions {
  text-align: right;
}
.step-3 div.checkout-steps-actions .btn-next {
  background-color: #4c9d2f;
  margin-bottom: 30px;
}
.step-3 div.checkout-steps-actions .btn-next:focus, .step-3 div.checkout-steps-actions .btn-next:hover, .step-3 div.checkout-steps-actions .btn-next:active {
  background-color: #438929;
}

div.step-visited div.checkout-steps-actions, div.step-inactive div.checkout-steps-actions {
  display: none;
}

.checkbox input[type=checkbox], .radio input[type=checkbox] {
  display: inline-block;
  vertical-align: top;
  margin-left: 1px;
}

.checkbox .checkbox-label, .radio .checkbox-label {
  display: inline-block;
  width: 90%;
  line-height: 1.2;
}

#contactDetails_optIn {
  margin-right: 5px;
}

#billing-payment-details-form .radio .checkbox-label {
  margin-top: 0;
  margin-bottom: 5px;
}

.controls {
  position: relative;
}
.controls span.comment {
  display: inline-block;
  width: 45%;
  padding-left: 5px;
  position: absolute;
  top: 4%;
  right: -16px;
  font-size: 11px;
  line-height: 1.1;
}
.controls label.checkbox.inline {
  width: 100%;
}
.controls span.country-single {
  display: inline-block;
  font-size: 14px;
  padding-top: 8px;
  line-height: 20px;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #e63c2c;
  font-weight: bold;
  clear: right;
  display: block;
}

.control-group.error .controls-title .help-inline {
  clear: none;
  float: none;
  display: block;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #e63c2c;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #e63c2c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #e63c2c;
  background-color: #f2dede;
  border-color: #e63c2c;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #e63c2c;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
  line-height: 0;
}

.form-actions:after {
  clear: both;
}

.help-block,
.help-inline {
  color: #595959;
  font-size: 12px;
}

.help-block {
  display: block;
  margin-bottom: 10px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  vertical-align: middle;
}

input:not(#address_delivery_postcode):not(#address_billing_postcode) ~ span.help-inline,
select ~ span.help-inline {
  margin-top: -10px;
}

.input-append,
.input-prepend {
  display: block;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 14px;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}

#checkout-steps .btn-select-address {
  display: none !important;
}

div.billing-form {
  margin-bottom: 1em;
}
div.billing-form h3 {
  font-size: 14px;
  color: #000;
}
div.billing-form input[type=radio] {
  float: left;
  margin-right: 10px;
}

#checkout-steps .control-label-cc-month {
  clear: both;
}

#checkout-steps .collapse {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(/skin/frontend/dirtdevil_rwd/uk/images/icon_sprite.png);
  background-position: -300px -580px;
  width: 14px;
  height: 13px;
  margin-bottom: 0px;
  cursor: pointer;
}

#checkout-steps .hide-cvv-help {
  display: none;
  width: 85%;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#checkout-steps .hide-cvv-help {
  width: 55%;
  margin-left: 24%;
  margin-top: 0px;
}

/** Realex tweaks **/
select#realex_cc_exp_month {
  width: 70px;
}

select#realex_cc_exp_year {
  width: 70px;
  margin-left: 80px;
  margin-top: -83px;
}

/*# sourceMappingURL=checkout-ie8.css.map */
