<div class="page-title">
    <h1><?php echo $this->__('Delete Your Account') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('customerdelete/customer/deletePost'); ?>" method="post" id="delete-form">
<div class="fieldset">
    <ul class="form-list">
        <li>
            <label for="password" class="required"><em>*</em><?php echo $this->__('Your Password') ?></label>
            <div class="input-box">
                <input type="password" title="<?php echo $this->__('Your Password') ?>" class="input-text required-entry" name="password" id="password" />
            </div>
        </li>
    </ul>
</div>
<div class="buttons-set">
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <p class="back-link"><a href="<?php echo $this->getUrl('customer/account') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    <button type="submit" title="<?php echo $this->__('Delete Account') ?>" class="button"><span><span><?php echo $this->__('Delete Account') ?></span></span></button>
</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('delete-form', true);
//]]>
</script>