// =============================================
// Base Values
// =============================================

// Spacing
$gap: 10px;
$trim: 30px;

// This will get applied on viewports smaller than 480px
$trim-small: 15px;

// Dimensions
$max-content-width: 960px;
$max-container-width: $trim + $max-content-width + $trim;

$c-gray-4: #E3E5E6; /* DD Grey 4 */


