<?php $_shipment=$this->getShipment() ?>
<?php $_order=$this->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
    <thead>
        <tr>
            <th align="left" bgcolor="#EAEAEA" style="font-size:12px; padding:3px 9px; font-family:Verdana, Arial, Helvetica, sans-serif;"><?php echo $this->__('Shipped By') ?></th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:12px; padding:3px 9px; font-family:Verdana, Arial, Helvetica, sans-serif;"><?php echo $this->__('Tracking Number') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php $i=0; foreach ($_shipment->getAllTracks() as $_item): $i++ ?>
    <tbody>
            <td align="left" valign="top" style="padding:3px 9px; font-family:Verdana, Arial, Helvetica, sans-serif;"><?php echo $this->escapeHtml($_item->getTitle()) ?></td>
            <td align="center" valign="top" style="padding:3px 9px; font-family:Verdana, Arial, Helvetica, sans-serif;">
                <p><?php echo $this->__('Your tracking number is:') ?><?php echo $this->escapeHtml($_item->getNumber()) ?></p>
                <p><?php echo $this->__('To view the tracking') ?><a target="_blank" href="https://gls-group.eu/DE/de/paketverfolgung?match=<?php echo $this->escapeHtml($_item->getNumber()) ?>"><?php echo $this->__('please click here.') ?></a></p>
                <p><?php echo $this->__('To return your order please fill out the attached return form and put it into the parcel. To generate a return label') ?><a href="https://gls-group.eu/DE/en/return-parcel?subSessionId=783fd557-f4e5-4141-815e-991f35d0e7bf" target="_blank"><?php echo $this->__('please click here.') ?></a></p>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php endif; ?>
