<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<ul class="menu-left">
    <li class="warum-luftreinigung">
        <a href="#warum-luftreinigung"><?php echo $this->__('WARUM DIE LUFT REINIGEN?') ?></a>
    </li>
    <li class="features">
        <a href="#features"><?php echo $this->__('PRODUKTEIGENSCHAFTEN') ?></a>
    </li>
    <li class="technologie">
        <a href="#technologie"><?php echo $this->__('TECHNOLOGIE') ?></a>
    </li>
    <li class="reinigung-pflege">
        <a href="#reinigung-pflege"><?php echo $this->__('REINIGUNG DER TRUMAN CELL<sup>&reg;</sup>') ?></a>
    </li>
    <li class="faqs">
        <a href="#faqs"><?php echo $this->__('FAQs') ?></a>
    </li>
</ul>