<?php /** $this is  Vax_SupportPortal_Block_Html_Accordion  */
?>
<div itemscope itemtype="http://schema.org/Organization" class="accordion" id="<?php echo $this->getId() ?>">
    <?php echo $this->getChildHtml('contacts.contactForm'); ?>
    <?php foreach ($this->getSteps() as $step): ?>
        <?php
            echo $step->toHtml();
         ?>
    <?php endforeach;?>
</div>
<script type="text/javascript">
    var accordion_<?php echo $this->getId() ?> = new accordion('<?php echo $this->getId() ?>', {
        'classNames': {
            toggle: 'accordion-step<?php echo $this->getId() ?>',
            toggleActive: 'active',
            content: 'accordion-content<?php echo $this->getId() ?>'
        }
    });
</script>