<table id="order-delivery-address" class="order-info">
    <thead>
        <tr>
            <th class="desc">
                <?php echo $this->__('Delivery Address') ?>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <?php echo $this->quoteEscape($this->getLine1()); ?>
                <?php if ($this->getLine2()): ?>
                    <?php echo $this->quoteEscape($this->getLine2()); ?><br>
                <?php endif; ?>
                <?php if ($this->getLine3()): ?>
                    <?php echo $this->quoteEscape($this->getLine3()); ?><br>
                <?php endif; ?>
                <?php echo $this->quoteEscape($this->getCity()); ?><br>
                <?php echo $this->quoteEscape($this->getRegion()); ?><br>
                <?php echo $this->quoteEscape($this->getPostcode()); ?><br>
            </td>
        </tr>
    </tbody>
</table>