<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div class="block block-login checkout-login">
        <div class="block-title">
            <div class="hide-for-small show-for-large">
                <strong><span><?php echo $this->__('Log In:') ?></span></strong>
            </div>
            <div class="block-title show-for-small hide-for-large">
                <strong><span><?php echo $this->__('Log in to your account') ?></span></strong>
            </div>
        </div>


        <form action="<?php echo Mage::getUrl('checkout/onepage/login') ?>" method="post" name="checkout-login">
            <div class="block-content">
                <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" />
                <input type="hidden" name="<?php echo Mage_Customer_Helper_Data::REFERER_QUERY_PARAM_NAME ?>" value="<?php echo $this->getUrl('*/*') ?>" />
                <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="login[username]" id="mini-login" class="input-text" placeholder="<?php echo $this->__('Email') ?>" />
                <input type="password" name="login[password]" id="mini-password" class="input-text" placeholder="<?php echo $this->__('Password') ?>" />
                <div class="actions">
                    <a href="<?php echo $this->getForgotPasswordUrl() ?>" title="<?php echo $this->__('Forgotten your password?') ?>"><?php echo $this->__('Forgotten your password?') ?></a>
                    <button type="submit" class="button"><span><span><?php echo $this->__('GO &gt;') ?></span></span></button>
                </div>
            </div>
        </form>
    </div>
<?php endif; ?>