<?php
/**
 * Vax Limited
 *
 * @copyright   Copyright (c) 2016 Vax Ltd.
 **/
?>
<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div class="block block-login checkout-login">
        <div class="block-title">
            <div class="hide-for-small show-for-large">
                <strong><span><?php echo $this->__('Log In:') ?></span></strong>
            </div>
            <div class="block-title show-for-small hide-for-large">
                <strong><span><?php echo $this->__('Log in to your account') ?></span></strong>
            </div>
        </div>

        <div class="ajaxlogin-loader" style="display: none;">
            <?php echo $this->__('Loading'); ?>
        </div>

        <form action="<?php echo Mage::getUrl('checkout/onepage/login') ?>" method="post" name="checkout-login">
            <div class="ajaxlogin-temp-error" style="display:none;">
                <div class="wronglogin"><?php echo $this->__('Invalid login or password.') ?></div>
            </div>
            <div class="block-content login-window">
                <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" />
                <input type="hidden" name="<?php echo Mage_Customer_Helper_Data::REFERER_QUERY_PARAM_NAME ?>" value="<?php echo $this->getUrl('*/*') ?>" />
                <input type="text" placeholder="<?php echo $this->__('E-mail address') ?>" id="email" name="email" value="" />
                <input type="password" placeholder="<?php echo $this->__('Password') ?>" id="password" name="password" value="" />

                <div class="actions">
                    <a href="<?php echo $this->getForgotPasswordUrl() ?>" title="<?php echo $this->__('Forgotten your password?') ?>"><?php echo $this->__('Forgotten your password?') ?></a>
                    <button type="submit" class="button"><span><span><?php echo $this->__('GO &gt;') ?></span></span></button>
                </div>
            </div>
        </form>
    </div>

    <?php // Error messages ?>


    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function(){
            jQuery().AjaxLogin({
                redirection : '<?php echo $this->isRedirectToProfile() ?>',
                profileUrl : '<?php echo Mage::getBaseUrl() ?>customer/account/',
                controllerUrl : '<?php echo $this->getUrl('dirtdevilde_ajaxlogin/ajax/index', array('_secure'=>true)) ?>'
            });
        });
        //]]>
    </script>
<?php endif; ?>
