
<div id="home-panels" class="panels-bottom">
	<div class="panel-container">
		<?php $panels = array('home_panel_4','home_panel_5');
		foreach($panels as $panel):
			if(Mage::getModel('cms/block')->load($panel)->getIsActive()): ?>
				<div class="home-panel-element panel-bottom panel-1">
					<?php echo $this->getChildHtml($panel);?>
				</div>
			<?php endif;
		endforeach;
		?>
	</div>
</div>
