<?php if(Mage::helper('email')->isNewsletterFormEnabled()): ?>
	<?php $formId = $this->getFormId() ? $this->getFormId() : 'newsletterValidateDetail' ?>
	<form action="<?php echo $this->getUrl('newsletter/subscriber/new', array('_secure' => true, '_store'=> Mage::app()->getStore()->getCode())) ?>" method="post" id="<?php echo $formId ?>" class="form-signup">
		<div class="newsletter-label" for="<?php echo $formId ?>">
			<h4 class="header"><?php echo $this->__('Sign Up and Save') ?></h4>
			<div class="sublabel"><?php echo $this->__('Dirt Devil Newsletter'); ?></div>
		</div>
		<div class="inputs">
			<div class="box firstname">
				<input name="subscriber_firstname" type="text" id="<?php echo $formId ?>" placeholder="<?php echo $this->__('Your First Name') ?>" onclick="this.value=='<?php echo $this->__('Your First Name') ?>'?this.value='':''" onblur="this.value==''?this.value='<?php echo $this->__('Your First Name') ?>':''" class="input-text required-entry validate-alpha" />
			</div>
			<div class="box lastname">
				<input name="subscriber_lastname" type="text" id="<?php echo $formId ?>" placeholder="<?php echo $this->__('Your Last Name') ?>" onclick="this.value=='<?php echo $this->__('Your Last Name') ?>'?this.value='':''" onblur="this.value==''?this.value='<?php echo $this->__('Your Last Name') ?>':''" class="input-text required-entry validate-alpha" />
			</div>
			<div class="box email">
				<input name="email" type="email" id="<?php echo $formId ?>" placeholder="<?php echo $this->__('Your Email Address') ?>" onclick="this.value=='<?php echo $this->__('Your Email Address') ?>'?this.value='':''" onblur="this.value==''?this.value='<?php echo $this->__('Your Email Address') ?>':''" class="input-text required-entry validate-email" />
			</div>
			<div class="box buttonwrap">
				<button type="button" class="button" title="<?php echo $this->__('Sign Up') ?>" onclick="newsletterSubscriberFormDetail<?php echo $formId ?>.submit()">
					<?php echo $this->__('Sign Up >') ?>
				</button>
			</div>
			<?php if ($this->getRefererUrl()): ?>
				<input type="hidden" name="<?php echo Mage_Core_Controller_Varien_Action::PARAM_NAME_URL_ENCODED ?>" value="<?php echo urlencode($this->getRefererUrl()) ?>" />
			<?php endif; ?>
		</div>
	</form>
	<script type="text/javascript">
		//<![CDATA[
		var newsletterSubscriberFormDetail<?php echo $formId ?> = new VarienForm('<?php echo $formId ?>');
		newsletterSubscriberFormDetail<?php echo $formId ?>.submit = function()
		{
			newsletterSubscriberFormDetail<?php echo $formId ?>.validator = new Validation(newsletterSubscriberFormDetail<?php echo $formId ?>.form);
			if (newsletterSubscriberFormDetail<?php echo $formId ?>.validator && newsletterSubscriberFormDetail<?php echo $formId ?>.validator.validate()) {
				newsletterSubscriberFormDetail<?php echo $formId ?>.form.submit();
			}
			if ($('<?php echo $formId ?>').hasClassName('validation-passed')) {
				newsletterSubscriberFormDetail<?php echo $formId ?>.form.submit();
			}
		};
		//]]>
	</script>
<?php endif; ?>
