<?php $formId = $this->getFormId() ? $this->getFormId() : 'newsletterValidateDetail' ?>
<form action="<?php echo $this->getUrl('newsletter/subscriber/new', array('_secure' => true)) ?>" method="post" id="<?php echo $formId ?>" class="form-signup">
    <input type="hidden" name="subscriber_firstname" value="<?php echo $this->getFname() ?>" />
    <input type="hidden" name="subscriber_lastname" value="<?php echo $this->getLname() ?>" />
    <div class="v-fix box"><input name="email" type="email" id="newsletter<?php echo $formId ?>" value="<?php echo $this->__('Enter your email address') ?>" onclick="this.value=='<?php echo $this->__('Enter your email address') ?>'?this.value='':''" onblur="this.value==''?this.value='<?php echo $this->__('Enter your email address') ?>':''" class="input-text required-entry validate-email" /></div>
    <div class="buttonwrap"><button type="button" class="button" title="<?php echo $this->__('Subscribe') ?>" onclick="newsletterSubscriberFormDetail<?php echo $formId ?>.submit()"><span><span><?php echo $this->__('Subscribe') ?></span></span></button></div>
    <?php if ($this->getRefererUrl()): ?>
        <input type="hidden" name="<?php echo Mage_Core_Controller_Varien_Action::PARAM_NAME_URL_ENCODED ?>" value="<?php echo urlencode($this->getRefererUrl()) ?>" />
    <?php endif; ?>
</form>
<script type="text/javascript">
    //<![CDATA[
    var newsletterSubscriberFormDetail<?php echo $formId ?> = new VarienForm(<?php echo $formId ?>);
    newsletterSubscriberFormDetail<?php echo $formId ?>.submit = function()
    {
        newsletterSubscriberFormDetail<?php echo $formId ?>.validator = new Validation(newsletterSubscriberFormDetail<?php echo $formId ?>.form);
        if (newsletterSubscriberFormDetail<?php echo $formId ?>.validator && newsletterSubscriberFormDetail<?php echo $formId ?>.validator.validate()) {
            newsletterSubscriberFormDetail<?php echo $formId ?>.form.submit();
        }
        if ($('newsletter<?php echo $formId ?>').hasClassName('validation-passed')) {
            newsletterSubscriberFormDetail<?php echo $formId ?>.form.submit();
        }
    }
    //]]>
</script>
