<?php
/**
 * $this @see  Mage_Review_Block_Helper
 * */
if ($this->getReviewsCount()): ?>
    <div class="ratings">
        <?php if ($this->getRatingSummary()):?>
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"></div>
            </div>
        <?php endif;?>
        <p class="rating-links">
	        <?php if($this->getReviewsCount() == 1): ?>
		        <a href="#reviews"><?php echo $this->__('1 Review') ?></a>
			<?php else: ?>
		        <a href="#reviews"><?php echo $this->__('%d Reviews', $this->getReviewsCount()) ?></a>
	        <?php endif; ?>
        </p>
    </div>
<?php elseif ($this->getDisplayIfEmpty()): ?>
    <p class="no-rating"><a href="#new-review" class="rating-links"><?php echo $this->__('Be the first to review this product') ?></a></p>
<?php endif; ?>
