<?php if ($this->getSubscriptionProducts()): ?>
<div class="delivery-subscription-block">
    <div class="section-title">
        <?php echo $this->__('Delivery Subscriptions') ?>
    </div>

    <div class="section-block">
    <?php foreach ($this->getSubscriptionProducts() as $_product): ?>
        <div class="product-info">
            <h2 itemprop="name" class="product-name"><a href="#" title=""><?php echo $_product->getName() ?></a></h2>

            <div class="product-image-container">
                <?php $_imgSize = 300; ?>
                <a href="#" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <noscript>
                        <img itemprop="image" id="product-collection-image-<?php echo $_product->getId(); ?>"
                             src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                             alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </noscript>

                    <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                         src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize)); ?>"
                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
            </div>
        </div>
        <div class="delivery-options">
                <form id="delivery-details-form-<?php echo $_product->getId() ?>" class="form-inline form-horizontal form-subscription" novalidate="novalidate" method="post" action="<?php echo $this->getFormAction() ?>" name="delivery-method">
                    <div class="control-group delivery-method-list">
                        <div class="controls">
                            <input id="delivery_method" class="radio delivery-method" value="single" type="radio" name="method" title="Please select a delivery method" required="" aria-required="true"<?php if ($_product->getSubscriptionItemId() && !$_product->getSubscriptionActive()): ?> checked="checked"<?php endif; ?>>
                            <label class="control-label delivery-method-label label-checkmo">
                                <?php echo $this->__('Single Delivery') ?>
                                <span class="price"><?php echo Mage::helper('core')->formatPrice($this->getMainProduct($_product)->getPrice(), false) ?></span>
                            </label>
                        </div>
                        <div class="controls">
                            <input id="delivery_method" class="radio delivery-method" value="recurring" type="radio" name="method" title="Please select a delivery method" required="" aria-required="true"<?php if ($_product->getSubscriptionItemId() && $_product->getSubscriptionActive()): ?> checked="checked"<?php endif; ?>>
                            <label class="control-label delivery-method-label label-checkmo">
                                <?php echo $this->__('Subscription') ?>
                                <span class="price-saving"><?php echo Mage::helper('ddsubscription')->loadProductAttribute($_product->getId(), 'subscription_discount_label') ?></span>
                                <span class="price"><?php echo Mage::helper('core')->formatPrice($_product->getPrice(), false) ?></span>
                            </label>
                        </div>
                    </div>
                    <div class="delivery-copy">
                        <?php echo $_product->getShortDescription() ?>
                    </div>
                    <div class="control-group qty">
                        <label class="control-label qty-label label-checkmo">
                            <?php echo $this->__('Qty') ?>
                        </label>
                        <?php echo $this->getQtyBlockHtml($_product); ?>
                    </div>
                    <div class="control-group delivery-interval">
                        <label class="control-label delivery-interval-label label-checkmo">
                            <?php echo $this->__('Delivery Interval') ?>
                        </label>
                        <?php echo $this->getScheduleBlockHtml($_product) ?>
                    </div>
                    <input type="hidden" name="product_id" value="<?php echo $_product->getId() ?>" />
                    <input type="hidden" name="subscription_item_id" value="<?php echo $_product->getSubscriptionItemId() ?>">
                </form>
        </div>
        <hr />
    <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>