
<div id="pdf-invoice-popup-load-template-1" style="display: none;">
    <div class="pdf-invoice-popup-load-template-background"></div>
    <div id="pdf-invoice-popup-load-template-content-1">
        <div id="pdf-invoice-popup-load-template-ds-1">
            <ul>
                <li class="pdf-invoice-popup-load-template" onclick="PdfInvoiceTemplate.chosen(1)">
                    <img src="<?php echo Mage::getBaseUrl('media').'magestore/pdfinvoiceplus/design/images/select/template01.jpg' ?>">
                    <div class="pdf-invoice-template-description">Template 1</div>
                </li>
                <li class="pdf-invoice-popup-load-template" onclick="PdfInvoiceTemplate.chosen(2)">
                    <img src="<?php echo Mage::getBaseUrl('media').'magestore/pdfinvoiceplus/design/images/select/template02.jpg' ?>">
                    <div class="pdf-invoice-template-description">Template 2</div>
                </li>
                <li class="pdf-invoice-popup-load-template" onclick="PdfInvoiceTemplate.chosen(3)">
                    <img src="<?php echo Mage::getBaseUrl('media').'magestore/pdfinvoiceplus/design/images/select/template03.jpg' ?>">
                    <div class="pdf-invoice-template-description">Template 3</div>
                </li>
                <li class="pdf-invoice-popup-load-template" onclick="PdfInvoiceTemplate.chosen(4)">
                    <img src="<?php echo Mage::getBaseUrl('media').'magestore/pdfinvoiceplus/design/images/select/template04.jpg' ?>">
                    <div class="pdf-invoice-template-description">Template 4</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="pdf-invoice-popup-load-template-2" style="display: none;">
    <div class="pdf-invoice-popup-load-template-background"></div>
    <div id="pdf-invoice-popup-load-template-content-2">
        <div id="pdf-invoice-popup-load-template-ds-2">
            <ul>
                <li class="pdf-invoice-popup-load-template" onclick="PdfInvoiceTemplate.chosen(5)">
                    <img src="<?php echo Mage::getBaseUrl('media').'magestore/pdfinvoiceplus/design/images/select/template05.jpg' ?>">
                    <div class="pdf-invoice-template-description">Template 1</div>
                </li>
                <li class="pdf-invoice-popup-load-template" onclick="PdfInvoiceTemplate.chosen(6)">
                    <img src="<?php echo Mage::getBaseUrl('media').'magestore/pdfinvoiceplus/design/images/select/template06.jpg' ?>">
                    <div class="pdf-invoice-template-description">Beautiful</div>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    //var j = jQuery.noConflict();
    var PdfInvoiceTemplate = {
        load: function() {
            var width=0, height=0;
            if(['A4','A5','Letter'].indexOf($('format').value) > -1){
                var url = $('pdf-invoice-popup-load-template-1').innerHTML;
                TINY.box.show(url, 0, 920, 310, 1);
            }else if(/^(A6!A7)$/.exec($('format').value)){
                var url = $('pdf-invoice-popup-load-template-2').innerHTML;
                TINY.box.show(url, 0, 234, 310, 1);
            }
            
        },
        chosen: function(id) {
            //$('loading-mask').show();
            TINY.box.hide();
            new Ajax.Request("<?php echo Mage::getSingleton('adminhtml/url')->getUrl('pdfinvoiceplusadmin/adminhtml_design/loadTemplateHtml') ?>", {
                method: 'post',
                parameters: {id: id, locale: $('localization').value, edit_form: $('edit_form').serialize()},
                onSuccess: function(transport) {
                    var obj = JSON.parse(transport.responseText);
                    var invoice_html = obj.invoice;
                    var order_html = obj.order;
                    var creditmemo_html = obj.creditmemo;
                    $('invoice_html').value = invoice_html;
                    $('order_html').value = order_html;
                    $('creditmemo_html').value = creditmemo_html;
                    $('system_template_id').value = id;
                    if(invoice_html == '' && order_html == '' && creditmemo_html == ''){
                        alert('Select template failed');
                    }else{
                        saveAndContinueEdit();
                    }
                    $('loading-mask').hide();
                },
                onFailure: function() {
                    alert('choose template failed');
                }
            });
            //window.location.href = "<?php //echo $this->helper('adminhtml')->getUrl('pdfinvoiceplusadmin/adminhtml_pdfinvoiceplus/edit/id/'.$this->getRequest()->getParam('id')) ?>"+'tab/design/template_id/'+id;
        },
        editDesign: function(type) {
            if ((type == 'invoice' && $('is_click_able_invoice').value == 0) ||
                    (type == 'order' && $('is_click_able_order').value == 0) ||
                    (type == 'creditmemo' && $('is_click_able_creditmemo').value == 0)) {
                this.load();
            } else {
                $('edit_design').value = type;
                saveAndContinueEdit();
            }
        }
    };
</script>

