<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_productHelper = Mage::helper('catalog/product'); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div itemscope itemtype="http://schema.org/Product" class="schema-container">
<div class="product-view">
    <?php echo $this->getChildHtml('fiche'); ?>
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="product-essential">
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                <input type="hidden" name="related_product" id="related-products-field" value=""/>
            </div>

            <div class="product-header">
                <div class="product-name">
                    <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div>
                <div class="product-number" itemprop="model">
                    <?php echo $_product->getUkProductNo(); ?>
                </div>

                <?php if ($_product->getData('weight')): ?>
                    <span itemprop="weight"
                          style="display: none"><?php echo round($_product->getData('weight'), 1) . $this->__('kg'); ?></span>
                <?php endif; ?>
            </div>

        </div>
        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
        </div>
        <div itemprop="short-description" class="short-description<?php if (!$_product->isSaleable()) echo ' out-of-stock' ?>">
            <?php echo $this->getChildHtml('alert_urls') ?>
            <div class="text-wrapper">
                <?php if ($_product->getShortDescription()): ?>
                    <div class="std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short-description') ?>
                    </div>
                    <span class="more"><?php echo $this->__('More...') ?></span>
                <?php endif; ?>
            </div>
            <div class="product-shop-wrapper">
                <div class="product-shop">
                    <?php if ($_product->isComingSoon() || !Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                        <div class="price-info">
                            <?php echo $this->getPriceHtml($_product); ?>
                            <?php // echo $this->getChildHtml('bundle_prices') ?>
                            <?php echo $this->getTierPriceHtml() ?>

                            <?php if ($_product && $_product->getFinalPrice() < $_product->getPrice()): ?>
                                <p class="save-amount">
                                    Save &pound;<?php echo number_format($_product->getPrice() - $_product->getFinalPrice(), 2) ?>
                                </p>
                            <?php endif ?>
                        </div>
                    <?php endif; ?>
                    <div class="extra-info">
                        <?php if(Mage::helper('core')->isModuleEnabled('Bazaarvoice_Connector')): ?>
                            <?php echo $this->getChildHtml('bv_reviewsummary'); ?>
                        <?php elseif($_productHelper->hasReviews()): ?>
                            <?php echo $this->getReviewsSummaryHtml( $_product, false, true ) ?>
                        <?php endif; ?>
                    </div>
                    <?php if ($_product->getAttributeText('eco_overall_rating')): ?>
                        <div class="energy-rating mobile">
                            <span class="rating-label">
                                <?php echo $this->__('Energy Rating') ?>
                                <span
                                    class="energy-rating-label energy-rating-label-<?php echo strtolower($this->getProduct()->getAttributeText('eco_overall_rating')); ?>">
                                    <?php echo $_product->getAttributeText('eco_overall_rating') ?>
                                </span>
                            </span>
                            <a href="#" title="View Product Fiche"
                               class="btn-product-fiche btn-open-fiche"><?php echo $this->__('See Product Fiche/Energy Rating Chart'); ?> </a>
                        </div>
                    <?php endif; ?>
                    <div class="add-to-cart-wrapper<?php if (!$_product->isSaleable()) echo ' out-of-stock'; elseif ($_product->isComingSoon()) echo ' coming-soon' ?>">
                        <?php echo $this->getChildHtml('product_type_data') ?>
                        <?php echo $this->getChildHtml('extrahint') ?>

                        <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                            <?php if (!$this->hasOptions()):?>
                                <div class="inner-wrapper">
                                    <div class="add-to-box">
                                        <?php if ($_product->isSaleable()): ?>
                                            <?php echo $this->getChildHtml('addtocart') ?>
                                            <?php if ($this->helper('wishlist')->isAllow() || $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                                <span class="or"><?php echo $this->__('OR') ?></span>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <div class="out-of-stock"><?php echo $this->__('Out of Stock'); ?></div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php if ($_product->isComingSoon()): ?>
                            <div class="inner-wrapper">
                                <p class="action availability coming-soon"><span><?php echo $this->__('Coming Soon') ?></span></p>
                            </div>
                        <?php endif; ?>

                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    </div>
                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                    <?php endif;?>

                    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                    <?php endif; ?>
                </div>
            </div>
            <?php if ($this->getProduct()->getAttributeText('eco_overall_rating')): ?>
                <div class="energy-rating desktop">
                            <span class="rating-label">
                                <?php echo $this->__('Energy Rating') ?>
                                <span
                                    class="energy-rating-label energy-rating-label-<?php echo strtolower($this->getProduct()->getAttributeText('eco_overall_rating')); ?>">
                                    <?php echo $this->getProduct()->getAttributeText('eco_overall_rating') ?>
                                </span>
                            </span>
                    <a href="#" title="View Product Fiche" class="btn-product-fiche btn-open-fiche"><?php echo $this->__('See Product Fiche/Energy Rating Chart') ?> </a>
                </div>
            <?php endif; ?>

            <div class="product-secondary">
                <?php if ($_product->getData("available_at") && $_product->getData("available_at") == 121): ?>
                    <div class="available-at">
                        <p><?php echo $this->__('Available at:') ?></p>
                        <div class="argos"><?php echo $this->__('Argos') ?></div>
                    </div>
                <?php endif; ?>
                <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                    <?php if ($_helper->hasFreeDelivery($_product)): ?>
                        <div class="delivery">
                            <div class="free-delivery icon"></div>
                            <div class="label"><?php echo $this->__('Free Delivery') ?>*</div>
                        </div>
                    <?php endif; ?>
                    <?php if ($_helper->hasFreeReturn($_product)): ?>
                        <div class="delivery return">
                            <div class="free-return icon"></div>
                            <div class="label"><?php echo $this->__('Free Return') ?>*</div>
                        </div>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('free_delivery_returns')?>
                <?php endif; ?>
            </div>

        </div>
        <div class="clearer"></div>
    
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = productAddToCartForm.submitExtra = function (button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                    form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function (button, url) {
            if (this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
        //]]>
    </script>
</div>
<div itemprop="description" class="prod-description">
    <?php if ($_product->getDescription()): ?>
        <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?></div>
    <?php endif; ?>
</div>
<?php echo $this->getChildHtml('features') ?>
</div>
