/* -------------------------------------------- *
 * Container
 */
.cms-index-index .main-container {
    max-width: 100%;
}

.before-main-container, .pre-footer-container {
    @include clearfix;
    width: 100%;
}

.before-main, .pre-footer {
    max-width: $max-container-width;
    margin: 0 auto;
    width: 100%;
}

.pre-footer {
    padding: 20px;
}

.footer {
    position: relative;
}

.footer-container {
	width: 100%;
}

.ajax-loading {
	display: none;
}

h1, h2, h3 {
	font-weight: bold;
}

@include bp(min-width, $bp-xsmall+1) {
	.footer-container {
		padding: 0 20px;
	}
    .cms-index-index .main-container {
        padding: 0px;
    }
}

@include bp(min-width, $bp-medium+1) {
    .footer-container {
        padding: 30px;
	    padding-bottom: 0;
    }
	.pre-footer {
		padding: 20px 30px;
	}
}

@include bp(min-width, $bp-large+1) {
    .pre-footer-container .pre-footer {
        padding: 30px;
    }

    .footer-container {
        padding: 20px 30px;
	    padding-bottom: 0;
    }
}

/* -------------------------------------------- *
 * Breadcrumbs - Generic
 */
.breadcrumbs {
    background-color: $c-gray-4;
    margin: 0;
	display: block;
    ul {
        max-width: $max-container-width;
        margin: 0 auto;
        width: 100%;
        padding: 10px $trim-small;
		min-height: 40px;
        li {
	        padding-bottom: 10px;
            text-transform: none;
            line-height: 20px;
	        font-size: 14px;
			* {
				font-weight: normal;
			}
            a {
                color: $c-gray;
            }
            strong {
                color: $c-red;
            }
        }
    }
}

/* -------------------------------------------- *
 * Breadcrumbs - Large View Port
 */
@include bp(min-width, $bp-xsmall+1) {
    .breadcrumbs ul {
        padding: 0px 20px;
	    li {
		    padding-bottom: 0px;
		    line-height: 40px;
	    }
    }
}
@include bp(min-width, $bp-medium+1) {
	.breadcrumbs ul {
		padding: 0px 30px;
	}
}
/* -------------------------------------------- *
 * Icons
 */

.vax-icon-sprite {
    background-image: url(../images/template/mobile-sprite.png);
    background-repeat: no-repeat;
    /*@include image-replacement;*/
}

@include bp(min-width, $bp-medium+1) {
    .vax-icon-sprite {
        background-image: url(../images/template/desktop-sprite.png);
        background-repeat: no-repeat;
        /*@include image-replacement;*/
    }
}

/* -------------------------------------------- *
 * Toolbar - General
 */
.toolbar label, .pager-no-toolbar label {
    text-transform: none;
}

.toolbar, .pager {
    color: $c-gray;
    font-size: $f-size-xl;
}

.pager {
    padding: 10px 0px 10px 0px;

    .limiter {
        float: left;

        .show-all, .show-less {
            display: none;
            a {
                color: #58585B;
            }
        }
    }
}

.col1-layout, .col2-left-layout {
    .sorter {
        width: auto;
    }
}

.toolbar-sorter-container {
    @include clearfix;
    width: 100%;
}

.toolbar {
    padding: 10px 0px 0px 0px;
    background: none;

    .count-container {
        float: left;
    }

    .amount {
        float: left;
    }

    .desktop {
        display: none;
    }
}

.sorter {
    float: right;
    margin-bottom: 0px;

    label {
        font-size: $f-size-xs;
        line-height: 34px;
    }

    select {
        color: $c-gray;
    }

    > .sort-by {
        margin-right: 0px;
    }
}

.sorter > .view-mode {
    .grid {
        float: right;
        margin-right: 0px;
        background: sprite($mobile-icons, grid) no-repeat;
        @include sprite-dimensions($mobile-icons, grid);
    }
    strong.grid,
    a.grid:hover {
        background: sprite($mobile-icons, grid) no-repeat;
        @include sprite-dimensions($mobile-icons, grid);
        background-color: #E7E8E8;
    }
    .list {
        background: sprite($mobile-icons, list) no-repeat;
        @include sprite-dimensions($mobile-icons, list);
    }
    strong.list,
    a.list:hover {
        background: sprite($mobile-icons, list) no-repeat;
        @include sprite-dimensions($mobile-icons, list);
        background-color: #E7E8E8;
    }
}

.pages {
    float: left;

    .current, .current:hover {
        border: none;
        background-color: #E3E5E5;
        color: #58585B;
    }

    a {
        display: block;
    }

    a, .current {
        color: #58585B;
        font-family: $f-stack-special;
        width: 30px;
    }

	.next, .previous {
		font-family: $f-stack-special;
	}

	.next:hover, .previous:hover {
		border: none;
	}
}

/* -------------------------------------------- *
 * Toolbar - Large View Port
 */
@include bp(min-width, $bp-medium+1) {
    .toolbar-sorter-container {
        padding: 0px 0px 11px 0px;
    }
    .toolbar {
        border-top: none;

        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }
    }
    .toolbar, .pager {
        font-size: $f-size-xxl;
    }
    .pager {
        display: block;
        width: 100%;
        border-top: 1px solid #e0dfdf;
        padding: 10px 0px 5px 0px;

        .limiter {
            .show-all, .show-less {
                display: block;
				font-size: $f-size;
            }
        }
    }
    .sorter {
        label {
            font-size: $f-size;
            line-height: 30px;
        }

        select {
            font-size: $f-size-s;
        }
    }
    .pages {
        .next::before, .previous::before {
            content: none;
        }

        .next, .previous {
            text-transform: none;
            color: #58585B;
            font-size: 14px;
            width: 37px;
            line-height: 30px;
        }

		.next:lang(de), .previous:lang(de) {
			width: 53px;
		}

        .current:hover {
        }
    }
}

/* ------------------------------------------------------------------------------------------------------------ *
/* Admin Messages - "Thank you for your subscription", "Already Registered", "Thank you for your review etc."
/* ----------------------------------------------------------------------------------------------------------- */
#admin_messages {
    position: fixed;
    width: 100%;
    min-height: 50px;
    top: 50px;
    left: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    padding: 20px 40px 20px 20px;
    &:empty, &:target {
        display: none;
    }
    .close {
        display: inline-block;
        width: 20px;
        height: 20px;
        color: white;
        background-color: $c-red;
        position: absolute;
        right: 10px;
        top: 10px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: darken($c-red, 5);
        }
    }
}

@include bp(min-width, $bp-medium+1) {
    #admin_messages {
        padding-left: 90px;
        padding-right: 90px;
        top: 90px;
        .close {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }
}
