/* Fonts ================================================================================ */
@font-face {
	font-family: 'Akzidenz-Grotesk Pro';
	src: url('../../default/fonts/akzidgrtskproreg.eot');
	src: url('../../default/fonts/akzidgrtskproreg.eot?#iefix') format('embedded-opentype'),
	url('../../default/fonts/akzidgrtskproreg.woff') format('woff'),
	url('../../default/fonts/akzidgrtskproreg.ttf') format('truetype');
	/*url('../../default/fonts/akzidgrtskproreg.svg#akzidenz-grotesk_pro_regulaRg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz-Grotesk Pro';
	src: url('../../default/fonts/AkzidenzGroteskPro-Bold.eot');
	src: url('../../default/fonts/AkzidenzGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../default/fonts/AkzidenzGroteskPro-Bold.woff') format('woff'),
	url('../../default/fonts/AkzidenzGroteskPro-Bold.ttf') format('truetype');
	/* url('/styles/fonts/akzidgrtskprobol.svg#akzidenz-grotesk_pro_regulaRg') format('svg');*/
	font-weight: bold;
	font-style: normal;
}

