<?php /**
  this is Vax_Widget_Block_HomepageBanner */?>

<div class="homepage-banner"
     id="product-banner-<?php echo $this->getNameInLayout() ?>">
    <div class="content-wrapper">

        <img class="banner-image desktop"
             src="<?php echo Mage::helper('catalog/image')->getHomeBannerPlaceholderImage($this->getLargeBgUrl()) ?>"
             alt="banner-image"/>

        <?php if($this->isEnabledForMobiles()): ?>
            <img class="banner-image mobile"
                 src="<?php echo Mage::helper('catalog/image')->getHomeBannerPlaceholderImage($this->getSmallBgUrl()) ?>"
                 alt="banner-image"/>
        <?php endif;?>

        <div class="banner-content">
            <?php // this div is an inner container, don't remove it?>
            <div class="description">
                <?php
                //show the banner's heading - hide desktop version if a mobile header exists
                if ($this->getProductPromo()): ?>
                    <h2 class="promo-heading<?php if ($this->getData('mobile_header')): echo " desktop"; endif;?>"><?php echo $this->getProductPromo() ?></h2>
                <?php endif; ?>

                <?php
                //show the banner's heading
                if ($this->getData('mobile_header')): ?>
                <h2 class="promo-heading mobile"><?php echo $this->getData('mobile_header') ?></h2>
                <?php endif; ?>

                <div class="content-box">
                    <?php
                    //show the banner's text
                    if ($this->getPromoContent()): ?>
                        <div class="promo-desc">
                            <?php echo $this->getPromoContent() ?>
                        </div>
                    <?php endif;

                    // if the banner has a link, make a button for it.
                    // if not, don't show the button
                    if ($this->getData('banner_url') && $this->getData('button_text')): ?>
                        <a class="banner-button" href="<?php echo $this->getBannerUrl() ?>"
                           title="<?php echo $this->getData('button_text') ?>" <?php echo ($this->getIsBannerUrlPdf())? "target='_blank'": ""?>>
                           <?php echo $this->getData('button_text') ?></a>
                    <?php elseif($this->getData('banner_url') && ! $this->getData('button_text')): ?>
                        <a class="banner-button" href="<?php echo $this->getBannerUrl() ?>"
                           title="<?php echo $this->__('Let\'s Go!') ?>" <?php echo ($this->getIsBannerUrlPdf())? "target='_blank'": ""?>>
                           <?php echo $this->__("Let's Go!") ?></a>
                    <?php endif; ?>

                    <?php if($this->getBannerClickThroughText()): ?>
                        <div class="slider-link-text">
                            <?php echo $this->getBannerClickThroughText() ?>
                        </div>
                    <?php else: ?>
                        <div class="slider-link-text">
                            <?php echo $this->__("Dirt Devil")  ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<style type="text/css">
    /*background colors and text colors for desktop*/
    <?php if ($this->getBgColor()): ?>
    #product-banner-<?php echo $this->getNameInLayout() ?> .show-for-small {
        background-color: <?php echo $this->getBgColor() ?>;
    }

    <?php endif; ?>

    /*banner quicklinks colors*/
    <?php if ($this->getBgColor()): ?>
        .banner-container .dots li#product-banner-<?php echo $this->getNameInLayout() ?>.active
        {
            background-color: <?php echo $this->getBgColor() ?>;
        }
        /*banner mobile bg*/
        @media only screen and (max-width: 599px) {
            .banner-container div#product-banner-<?php echo $this->getNameInLayout() ?> .banner-content,
            .banner-container div#product-banner-<?php echo $this->getNameInLayout() ?> {
                background-color: <?php echo $this->getBgColor() ?>;
            }
        }
    <?php endif; ?>

    /*font colors*/
    <?php if ($this->getFontColor()): ?>
    #product-banner-<?php echo $this->getNameInLayout() ?> .content-wrapper .description *,
    #mobile-content-<?php echo $this->getNameInLayout()?> .description * {
        color: <?php echo $this->getFontColor() ?>;
    }
    <?php endif; ?>

    /* hide slider if it is disabled for mobiles*/
    <?php if (!$this->isEnabledForMobiles()): ?>
    @media only screen and (max-width: 479px) {
        #product-banner-<?php echo $this->getNameInLayout() ?>, #mobile-content-<?php echo $this->getNameInLayout() ?> {
            display: none;
        }
    }
    <?php endif; ?>

    /* Button background color */
    <?php if ($this->getButtonBgColor()): ?>
    #product-banner-<?php echo $this->getNameInLayout() ?> .content-wrapper .description .banner-button{
        background-color: <?php echo $this->getButtonBgColor() ?>;
    }
    <?php endif; ?>

    /* Button background hover color */
    <?php if ($this->getButtonBgHoverColor()): ?>
    #product-banner-<?php echo $this->getNameInLayout() ?> .content-wrapper .description .banner-button:hover{
        background-color: <?php echo $this->getButtonBgHoverColor() ?>;
    }
    <?php endif; ?>

    /* Button text color */
    <?php if ($this->getButtonColor()): ?>
    #product-banner-<?php echo $this->getNameInLayout() ?> .content-wrapper .description .banner-button,
    #product-banner-<?php echo $this->getNameInLayout() ?> .content-wrapper .description .banner-button *
    {
        color: <?php echo $this->getButtonColor() ?> !important;
    }
    <?php endif; ?>
</style>

<?php if ($this->getNameInLayout()): ?>
    <script type="text/javascript">
        $j(window).ready(function () {
            resizeBanner('<?php echo $this->getNameInLayout() ?>');
        });
        $j(window).on('delayed-resize', function (e, resizeEvent) {
            resizeBanner('<?php echo $this->getNameInLayout() ?>');
        });
    </script>
<?php endif; ?>
