<div class="product-banner <?php echo $this->getBannerStyle() ?>" id="product-banner-<?php echo $this->getNameInLayout() ?>">
    <?php if($this->getProductLogoUrl()) { ?>
        <div class="logo">
            <a href="<?php echo $this->getProduct()->getProductUrl() ?>" title="<?php echo $this->getProduct()->getName() ?>">
                <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->getProductLogoUrl()) ?>" alt="<?php echo $this->getProduct()->getName() ?>" />
            </a>
        </div>
    <?php } else { ?>
        <div class="no-logo"></div>
    <?php } ?>
    <div class="description">
        <h2><?php echo $this->getProductPromo() ?></h2>
        <div class="promo-desc">
            <?php echo $this->getPromoContent() ?>
        </div>
    </div>

    <div class="cta-block">
        <?php echo $this->__('RRP') ?>
        <div class="price"><?php echo Mage::helper('core')->formatPrice($this->getProduct()->getPrice()) ?></div>
        <?php if ($this->getProduct()->getSpecialPrice()): ?>
            <div class="special-price"><?php echo $this->__('NOW') ?> <span class="price"><?php echo Mage::helper('core')->formatPrice($this->getProduct()->getSpecialPrice()) ?></span></div>
        <?php endif; ?>
        <div class="cta">
            <button class="button btn-cart btn"><a href="<?php echo $this->getUrl('checkout/cart/add', array('product' => $this->getProduct()->getId())) ?>" title="<?php echo $this->__('BUY' )?>"> <?php echo $this->__('BUY') ?></a></button>
        </div>
    </div>

    <div class="product-image" id="image-<?php echo $this->getNameInLayout() ?>">
        <a href="<?php echo $this->getProduct()->getProductUrl() ?>" title="<?php echo $this->getProduct()->getName() ?>">
            <img src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->getProductImageUrl()) ?>" alt="<?php echo $this->getProduct()->getName() ?>" />
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<style type="text/css">
    #product-banner-<?php echo $this->getNameInLayout() ?> {
        background-image: url('<?php echo $this->getLargeBgUrl() ?>');
        background-repeat: no-repeat;
        <?php if ($this->getBgColor()): ?>
            background-color: <?php echo $this->getBgColor() ?>;
        <?php endif; ?>
    }

    @media only screen and (max-width: 599px) {
        #product-banner-<?php echo $this->getNameInLayout() ?> {
            background-image: url('<?php echo $this->getSmallBgUrl() ?>');
        }
    }
</style>
<script type="text/javascript">
    function resizeBanner() {
        $j('#product-banner-<?php echo $this->getNameInLayout() ?>').css({height: $j('#image-<?php echo $this->getNameInLayout() ?>').innerHeight()+'px'});
    }

    $j(document).ready(function() {
       resizeBanner();
    });
    $j(window).on('delayed-resize', function (e, resizeEvent) { resizeBanner(); });
</script>
