.sales-order-history {
	.col-main {
		padding: 0 20px 0px;
		float: left;
		width: 100%;
      .awrma-account{
        padding-top: 10px;
        clear: both;
        .link-awrma-newrma{
          display: block;
          clear: both;
          color: $c-red;
        }
      }
      .delivery-subscription-block{
        clear: both;
        .section-block{
          clear: both;
          overflow: hidden;
          padding-bottom: 10px;
          border-bottom: 1px solid;
          margin-bottom: 30px;
          .product-info,
          .delivery-options{
            width: 40%;
            padding-right: 10%;
            display: inline-block;
            float: left;
            img{
              max-width: 100%;
            }
            .product-name{
              margin: 0 0 10px 0;
              a{
                text-transform: none;
                color: #59595B;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
              }
            }
            .product-image-container{
              width: 100%;
              float: none;
              clear: none;
            }
          }
          .delivery-options{
            width: 50%;
            padding-right: 0;
            .control-group,
            .delivery-copy{
              margin-bottom: 20px;
            }
            .delivery-method-list{
              .controls {
                clear: both;
                margin-bottom: 10px;
                label {
                  font-weight: bold;
                  font-size: 13px;
                  line-height: 15px;
                  color: #59595B;
                  .price {
                    clear: both;
                    color: $c-red;
                    display: block;
                  }
                  .price-saving {
                    color: $c-red;
                  }
                }
              }
            }
            .delivery-copy{
              p {
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
                color: #59595B;
                .price-saving {
                  color: $c-red;
                }
              }
            }
            .qty{
              label{
                padding-right: 10px;
              }
            }
            .delivery-interval{
              label{
                display: block;
                clear: both;
              }
            }
          }
        &:last-of-type{
          border: none;
          margin-bottom: 10px;
        }
        }

        hr {
          clear: both;
          height: 1px;
          background-color: transparent;
          border: none;
          margin: 15px 0;
        }
      }
	}
	.col2-left-layout,
	.col2-right-layout,
	.col3-layout {
		.pager {
			float: right;
			clear: none;
			width: auto;
		}
	}
	.section-title {
		width: auto;
		max-width: 50%;
		float: left;
	}
	.pager * {
		font-family: $f-stack-special;
		color: $c-gray;
		font-size: 14px;
	}
	.pages {
		.next, .previous {
			font-family: $f-stack-special;
			text-transform: none;
			color: $c-gray;
			font-size: 14px;
			width: auto;
			line-height: 30px;
			border: 1px solid white;
			padding: 0 10px;
		}
	}
	.my-account,
    .awrma-account
    {
		//override magento fonts
		.data-table {
			tbody td, tfoot td {
				font-family: $f-stack-special;
				color: $c-gray;
				font-style: normal;
				border: none;
			}
		}

		/* Force table not to behave like a table*/
		table {
			display: block;
			* {
				display: block;
			}
			tr {
				border: none;
				margin-bottom: 20px;
				position: relative;
			}
			th {
				display: none;
			}
			td {
				border: none;
				position: relative;
				padding: 10px 10px 10px 45.5%;
			}
			td:before {
				position: absolute;
				text-align: left;
				font-weight: bold;
				font-size: 12px;
				padding: 10px;
				width: 40%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: $c-gray-4;
			}

			td:nth-of-type(1)::before {
				content: "Order#";
			}
			td:nth-of-type(2)::before {
				content: "Date";
			}
			td:nth-of-type(3)::before {
				content: "Ship To";
			}
			td:nth-of-type(4)::before {
				content: "Order Total";
			}
			td:nth-of-type(5)::before {
				content: "Status";
			}
			td:nth-of-type(6) {
				padding: 10px;
				text-align: left;
				&.view * {
					display: inline-block;
				}
			}
		}

		//table font settings
		table {
			clear: both;
			margin-top: 20px;
			width: 100%;
			* {
				font-family: $f-stack-special;
				color: $c-gray;
				font-style: normal;
				text-transform: none;
			}
			thead th {
				border: none;
			}
			tr {
				th {
					line-height: 1;
					background-color: $c-gray-4;
					font-size: 14px;
				}
				td {
					font-size: 14px;
					line-height: 16px;
					a {
						text-transform: none;
						color: $c-red;
                        display: inline-block;
					}
				}
			}
			&.data-table {
				td.date,
				td.ship,
				td.status {
					display:block;
				}
			}
		}
      p{
        clear: both;
      }
	}
	.buttons-set {
		float: left;
		margin-top: 40px;
		.back-link {
			display: block;
			a::before {
				content: "<  ";
				display: inline-block;
				float: left;
				margin-right: 5px;
			}
		}
		small {
			display: none;
		}
	}
}
html:lang(de) {
	.sales-order-history {
		table {
			td:nth-of-type(1)::before {
				content: "Bestellung";
			}
			td:nth-of-type(2)::before {
				content: "Datum";
			}
			td:nth-of-type(3)::before {
				content: "Versandadresse";
			}
			td:nth-of-type(4)::before {
				content: "Gesamtsumme";
			}
			td:nth-of-type(5)::before {
				content: "Status";
			}
		}
	}
}
@include bp(min-width, $bp-medium + 1) {
	.sales-order-history {
		.col-main {
			padding: 0 0 0 10px;
          .awrma-account{
            padding-top: 20px;
          }
		}

		.pager {
			margin-bottom: 0px;
			padding-bottom: 0px;
			margin-top: 15px;
			padding-top: 0px;
			border: medium none;
			float: right;
			width: auto;
			clear: none;
			> .count-container {
				float: right;
			}
		}

		/*put all table elements back into table mode*/
		.my-account table,
        .awrma-account table{
			display: table;
			width: 100%;
			thead {
				display: table-header-group;
			}
			tbody {
				display: table-row-group;
			}
			tr, th {
				display: table-row;
			}

			th, td {
				display: table-cell;
				text-align: left;
			}
			td:before {
				display: none;
			}
			&.data-table {
				td.date,
				td.ship,
				td.status {
					display:table-cell;
				}
			}
		}
		//table font settings
		.my-account table,
        .awrma-account table{
			margin-top: 20px;
			float: left;
			thead, tr {
				padding-left: 10px;
				th {
					line-height: 14px;
					padding: 13px 10px;
				}
				td {
					line-height: 14px;
					padding: 13px 10px;
					&.view a {
						display: inline-block;

					}
					.separator {
						display: inline;
						color: $c-gray;
					}
				}
			}
		}
	}
}

