.sales-order-view,
.sales-order-invoice,
.sales-order-creditmemo,
.sales-order-shipment,
.myproduct-product-index{
	.col-main .my-account {
		padding: 0 20px;
		a {
				margin: 0;
				padding: 0;
				top: 0;
				color: $c-red;
				font-size: 14px;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
					color: darken($c-red, 20%);
				}
		}
		//order details addresses
		//override magento fonts
		.data-table {
			font-family: $f-stack-special;
			color: $c-gray;
			font-style: normal;
			border: none;
			tbody td, tfoot td, th {
				vertical-align: middle;
				font-family: $f-stack-special;
				color: $c-gray;
				font-style: normal;
				border: none;
				text-transform: none;
			}
		}
		.order-info-box {
			font-family: $f-stack-special;
			color: $c-gray;
			font-style: normal;
			border: none;
			tbody td, tfoot td, th, .box-content {
				font-family: $f-stack-special;
				color: $c-gray;
				font-style: normal;
				border: none;
				text-transform: none;
			}
			.col-1,
			.col-2 {
				border-color: $c-gray-4;
			}
			+ .order-info-box, .order-info {
				border: none;
				padding-bottom: 0;
				.link-print, .separator {
					display: none;
				}
			}
			.box-title {
				h2 {
					text-transform: none;
					font-weight: bold;
					width: 100%;
				}
			}
		}
		.order-date {
			text-transform: none;
		}
		.page-title {
			background: none;
			height: auto;
			width: auto;
			text-align: left;
			h1 {
				font-size: 18px;
				line-height: 20px;padding: 0;
				margin: 0 0 10px;
				font-weight: bold;
				color: $c-gray;
				text-align: left;
				display: block;
				&::after {
					display: none;
				}
			}
		}
		.title-buttons  {
			a, span.separator {
				margin: 0;
				padding: 0;
				top: 0;
				color: $c-red;
				font-size: 14px;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
					color: darken($c-red, 20%);
				}
			}
			span.separator {
				text-decoration: none;
				color: $c-gray;
				&:hover {
					color: $c-gray;
				}
			}
		}

		.order-info {
			margin: 10px 0;
			padding: 10px 0;
			border-bottom: 1px solid $c-gray-4;
			border-top: 1px solid $c-gray-4;
		}

		//order details price table
		.order-details {
			.order-links {
				margin: 20px 0;
				display: none;
			}
			h2, .table-caption {
				text-transform: none;
				line-height: 25px;
			}
			.linearize-table-large tbody td[data-rwd-label]::before {
				text-transform: none;
				color: $c-gray;
				font-family: $f-stack-special;
			}
			h2, h3, h4, h5, p {
				&.product-name {
					text-transform: none;
					font-weight: bold;
					background-color: $c-gray-4;
					padding: 0;
					margin: 0;
					&::before {
						content: "Product: ";
						font-size: 14px;
						width: 50%;
						display: inline-block;
						height: 100%;
						padding: 10px;
						margin-right: 10px;
						text-align: right;
					}
				}
			}
			.data-table {
				thead, tfoot {
					th, td {
						background-color: $c-gray-4;
					}
				}
				thead > tr > th:first-child {
					display: none;
				}
				tfoot {
					td {
						width: 50%;
					}
				}
				&#my-orders-table tbody:last-child tr:last-child td {
					padding: 0;
				}
				tbody {
					td {
						padding: 0;
						font-size: 14px;
						&::before {
							font-size: 14px;
							width: 50%;
							display: inline-block;
							background-color: white;
							height: 100%;
							padding: 10px;
							margin-right: 10px;
							text-align: right;
						}
						.nobr {
							br {
								display: none;
							}
						}
					}
				}
			}
		}
		.order-additional {
			display: none;
		}
	}
	.buttons-set {
		float: left;
		margin-top: 20px;
		width: 100%;
		.back-link {
			display: block;
			width: 100%;
			text-align: center;
			a {
				color: white;
				text-transform: uppercase;
				padding: 0;
				margin-bottom: 20px;
				text-decoration: none;
				background-color: $c-red;
				width: 100%;
				&:hover, &:active {
					color: white;
					background-color: darken($c-red, 10%);
				}
			}
			a::before {
				content: "<  ";
				display: inline-block;
				float: none;
				margin-right: 5px;
			}
		}
		small {
			display: none;
		}
	}
  .bestsellers{
    li.product{
      .product-details{
        min-height: 0;
      }
    }
  }
}

.customer-address-form{
  .my-account{
    input{
      border-radius: 4px;
    }
  }
}

.customercoupon-customer-index,
.awgiftcard-card-index{
  .buttons-set{
    .back-link{
      a{
        small{
          display: none;
        }
        &:before{
          content: "<  ";
          display: inline-block;
          float: none;
          margin-right: 5px;
        }
      }
    }
  }
}

.awgiftcard-card-index{
  .my-account{
    input{
      padding: 5px;
    }
  }
}

.sales-order-invoice,
.sales-order-creditmemo,
.sales-order-shipment {
	.col-main .my-account {
		.order-details {
			.data-table thead > tr > th:first-child {
				display: table-cell;
			}
			h2, h3, h4, h5, p {
				&.product-name {
					background-color: white;
					&::before {
						display: none;
					}
				}
			}
		}
	}
}

@include bp(min-width, $bp-small + 1) {
	.sales-order-view,
	.sales-order-invoice,
	.sales-order-creditmemo,
	.sales-order-shipment,
    .myproduct-product-index{
		.col-main {
			padding: 0 20px;
		}
		.col-main .my-account {
			padding: 0;
			.page-title {
				h1 {
					margin: 25px 0 20px;
				}
			}
			.order-info-box {
				.box-title {
					float: none;
				}
			}

			.order-info {
				margin: 10px 0px 15px;

			}

			//order details table
			.order-details {
				.data-table {
					thead > tr > th:first-child {
						display: table-cell;
					}
					h2, h3, h4, h5, p {
						&.product-name {
							background-color: white;
							padding: 0;
							margin: 0;
							&::before {
								display: none;
							}
						}
					}
					&#my-orders-table tbody:last-child tr:last-child td {
						padding: 10px;
					}
					tbody {
						tr {
							td {
								padding: 10px;
								vertical-align: top;
							}
						}
					}
					tfoot {
						td {
							width: auto;
						}
					}
				}
			}
		}
		.buttons-set {
			width: auto;
			float: left;
			.back-link a {
				padding: 0 20px;
			}
		}
	}
}

.myproduct-product-index{
  .my-account {
    .myproducts-block {
      .view-all {
        background: #CF102D;
        display: block;
        margin: 10px auto;
        color: #fff;
        text-decoration: none;
        line-height: 35px;
      }
      .product-list-item{
        overflow: hidden;
        .product-image{
          margin-bottom: 20px;
        }
      }
    }
  }
}



@include bp(min-width, $bp-medium + 1) {
	.sales-order-view,
	.sales-order-invoice,
	.sales-order-creditmemo,
    .myproduct-product-index{
		.col-main {
			padding: 0 0 0 10px;
			.my-account {
              .myproducts-block {
                .myproduct-control{
                  float: right;
                  color: #59595B;
                  text-decoration: none;
                  &:after{
                    content: " >";
                    color: #59595B;
                  }
                }
                .view-all {
                  max-width: 320px;
                }
                .product-list-item{
                  .product-image{
                    float: left;
                    width: 48%;
                    margin: 0 2% 0 0;
                  }
                  .product-list-item-data{
                    float: left;
                    width: 48%;
                  }
                }
              }
			}
          .myproducts-list{
            position: relative;
            clear: both;
            height: 500px;
            border-bottom: 1px solid #59595B;
            .product-list-item{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
		}
	}

  .awgiftcard-card-index{
    .my-account{
      button{
        max-width: 38%;
        float: left;
      }
    }
  }
}



