//************************************************************************************
// My Dirt Devil Account page - general (header, navigation, forms, buttons, text etc)
//

.customer-account,
.customer-account-forgotpassword,
.customer-account-logoutsuccess,
.customer-account-create {
	*, form .form-instructions {
		font-family: $f-stack-special;
	}
	.main-container {
		padding: 0;
		margin: 0;
	}
	.page-title {
		background: $c-purple-2;
		height: 70px;
		margin: 0;
		position: relative;
		h1 {
			margin: 0;
			padding: 0px 20px;
			color: #fff;
			text-transform: none;
			font-weight: bold;
			font-size: 25px;
			line-height: 70px;
		}
		h1::after {
			content: "";
			position: absolute;
			right: 20px;
			top: 15px;
            background: url('../images/template/account-white.png') no-repeat;
            background-size: contain;
            width: 42px;
            height: 42px;
		}
	}

	// form
	.section {
		padding: 0;
		.title {
			color: black;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			padding-bottom: 20px;
		}
		.form-list {
			li {
				margin: 0;
				padding: 0 0 15px;
				.input-box {
					margin: 0;
					padding: 0;
					input, select {
						margin: 0;
						padding: 0 0 0 10px;
						max-width: none;
						width: 100%;
						border-radius: 0;
						height: 35px;
						line-height: 35px;
						font-size: 12px;
					}
					input {
						&#street_1 {
							width: 80%;
							float: left;
							margin-right: 1%;
						}
						&#street_2 {
							width: 19%;
							float: left;
						}
					}
				}
			}
		}
	}
	.address-edit, .details-edit {
		.title {
			display: none;
		}
		form .fieldset {
			margin-top: 0;
			margin-bottom: 0;
		}
		.form-list {
			.field {
				margin: 0;
				padding-bottom: 15px;
			}
			li {
				margin: 0;
				padding: 0;
				&.control {
					padding-left: 0;
					label {
						width: 100%;
						text-align: left;
						padding-left: 40px;
						position: relative;
					}
				}
			}
			label {
				color: black;
				width: 100%;
				font-size: 14px;
				line-height: 13px;
				padding: 11px 0px 5px;
				position: relative;

				&.required::after {
					position: absolute;
					top: 9px;
				}
			}
		}
	}
	//end of form

	.section-title {
		font-size: 16px;
		line-height: 14px;
		color: $c-gray;
		width: 100%;
		height: 100%;
		display: block;
		font-weight: bold;
		margin: 20px 0 0px;
	}
	.buttons-set {
		border: none;
		padding: 0;
		a {
			padding: 0;
			float: left;
			line-height: 35px;
			color: $c-red;
			font-size: 16px;
		}
		button.button {
			background-color: $c-green;
			margin: 10px 0 0 0;
			color: white;
			width: 100%;
			font-size: 16px;
			line-height: 35px;
			padding: 0;
			&:hover, &:active {
				background-color: darken($c-green, 10%);
			}
		}
	}
	.sidebar {
		margin: 20px 0;
		.block:last-of-type {
			border: none;
		}
		.block:not(.block-layered-nav) .block-content {
			border: none;
			padding: 0;
			margin: 0;
		}
		.block-content {
			padding: 0;
			margin: 0;
			border: none;
			li {
				margin: 0;
				padding: 0;
				a {
					display: inline-block;
					line-height: 50px;
					border-top: 1px solid white;
					color: $c-gray;
					background-color: $c-gray-4;
					text-transform: none;
					width: 100%;
					padding: 0 20px;
					font-size: 16px;
					font-weight: bold;
					position: relative;
					&:hover, &:active {
						text-decoration: none;
						background-color: darken($c-gray-4, 5%);
					}
					&::after {
						background: sprite($support-mobile-icons, faq_grey_arrow) no-repeat;
						@include sprite-dimensions($support-mobile-icons, faq_grey_arrow);
						content: "";
						position: absolute;
						top: 19px;
						right: 20px;
						display: inline-block;
					}

					.accordion-title {
						color: white;
					}
				}
				&.current a {
					color: white;
					background-color: $c-purple;
					&::after {
						background: sprite($support-mobile-icons, faq_white_drop_down_arrow) no-repeat;
						@include sprite-dimensions($support-mobile-icons, faq_white_drop_down_arrow);
						top: 22px;
						right: 20px;
					}
				}
			}
		}
	}
	.form-list .control input.radio,
	.form-list .control input.checkbox {
		z-index: 99;
	}

  .inchoo-socialconnect-register{
      .title{
        font-size: 16px;
      }

      .inchoo-socialconnect-google,
      .inchoo-socialconnect-facebook{
        float: left;
      }
      .col2-set{
        .new-users{
          padding-bottom: 0;
        }
        .col-2{
          padding-left: 0;
          border-left: 0;
          margin-top: 0;
        }
        .col-1{
          margin-top: 0;
        }
      }
  }
}

//forgotten password page
.customer-account-forgotpassword {
	.page-title {
		h1 {
			font-size: 20px;
		}
	}
	.main-container {
		padding: 0;
		form {
			margin: 20px 20px 30px;
			h2 {
				text-transform: none;
				color: black;
				font-size: 20px;
				line-height: 23px;
				padding-right: 20px;
			}
			.form-instructions {
				font-style: normal;
				color: $c-gray;
				margin: 20px 0;
			}
			.fieldset {
				margin: 0;
			}
			label {
				color: black;
			}
			.input-box input.input-text {
				border-radius: 0;
			}
		}
		.buttons-set {
			margin: 0;
			.back-link {
				display: block;
			}
		}
	}
}

//logout success page
.customer-account-logoutsuccess {
	.page-title {
		h1 {
			font-size: 20px;
		}
	}

	p {
		padding: 30px;
		color: $c-gray;
		display: inline-block;
	}
}

//account creation page
.customer-account-create {
	.mobile-accordion-title {
		margin: 0;
		padding: 0px 20px;
		color: #fff;
		background: $c-purple-2;
		height: 70px;
		position: relative;
		text-transform: none;
		font-weight: bold;
		font-size: 25px;
		line-height: 70px;
		&::after {
			content: "";
			position: absolute;
			right: 20px;
			top: 15px;
            background: url('../images/template/account-white.png') no-repeat;
            background-size: contain;
            width: 42px;
            height: 42px;
		}
	}

	.section {
		padding: 20px;
		max-width: 455px;
		label {
			color: black;
		}
		.control label {
			padding-left: 10px;
		}
		.fieldset {
			margin: 0;
		}
		.form-list .remember-me-box {
			margin-top: -10px;
			.link-tip {
				float: right;
				padding: 6px 0 0;
				color: $c-red;
				text-decoration: underline;
				font-size: 14px;
			}
            label{
              background: none;
              padding: 10px 0 0 20px;
            }
		}
		.remember-me-popup.show {
			border: none;
			padding: 0 0 15px;
			* {
				color: black;
			}
			a {
				color: $c-red;
			}
			.remember-me-popup-close {
				padding: 0;
				font-size: 14px;
				text-decoration: underline;
				color: $c-red;
			}
			.remember-me-popup-head h3 {
				text-transform: none;
			}
		}
		.buttons-set {
			margin: 0;
			.button {
				margin-top: 0;
			}
		}
	}
}

//mobile dashboard page is just a list of links to the subsections
.dashboard {
		display: block;
	    > ul {
		    overflow: hidden;
		    margin: 0 0 20px;
	    }
		.panel {
			display: inline-block;
			width: 100%;
			height: 130px;
			background-color: $c-gray-4;
			color: $c-gray;
			float: left;
			margin-bottom: 1px;
			position: relative;
			> a {
				color: $c-gray;

				display: block;
				width: 100%;
				height: 100%;
				padding: 20px;
				border: 1px solid $c-gray-4;
				&:hover, &:active {
					text-decoration: none;
					opacity: 0.9;
					border: 1px solid $c-purple;
					.title {
						text-decoration: underline;
					}
				}
			}
			.title {
				font-weight: bold;
				font-size: 12px;
				line-height: 12px;
				padding-bottom: 5px;
			}
			li {
				line-height: 15px;
			}
			.icon {
				position: absolute;
				top: 20px;
				right: 20px;
				width: 20px;
				height: 20px;
				background-color: green;
				&.account {
                  background: url('../images/template/account-grey.png') no-repeat;
                  width: 42px;
                  height: 42px;
                  background-size: contain;
				}
				&.orders {
					background: url('../images/template/account-spares.png') no-repeat;
					width: 52px;
                    height: 52px;
                    background-size: contain;
				}
				&.newsletter {
					background: url('../images/template/account-newsletter.png') no-repeat;
                    width: 42px;
                    height: 42px;
                    background-size: contain;
                }
				&.address {
					background: url('../images/template/account-address.png') no-repeat;
                    width: 44px;
                    height: 44px;
                    background-size: contain;
				}
                &.product {
                  background: url('../images/template/account-orders.png') no-repeat;
                  width: 44px;
                  height: 44px;
                  background-size: contain;
                }
                &.coupon {
                  background: url('../images/template/Voucher_code.png') no-repeat;
                  width: 44px;
                  height: 44px;
                  background-size: contain;
                }
                &.giftcard {
                  background: url('../images/template/Giftcard.png') no-repeat;
                  width: 44px;
                  height: 44px;
                  background-size: contain;
                }
                &.wishlist {
                  background: url('../images/template/Wishlist_grey_150x150.png') no-repeat;
                  width: 42px;
                  height: 42px;
                  background-size: contain;
                }
			}
		}

}

@include bp(min-width, $bp-medium+1) {
	.customer-account,
	.customer-account-forgotpassword,
	.customer-account-logoutsuccess,
	.customer-account-create {
		.page-title {
			h1 {
				padding: 0px $trim;
				font-size: 35px;
			}
		}
		.section-title {
			padding: 25px 0px 0px 0px;
			float: left;
			font-size: 18px;
			line-height: 16px;
			margin: 0;
		}
		.buttons-set {
			a {
				float: left;
				line-height: 35px;
				background-color: rgb(207, 16, 45);
				padding: 0 20px;
				color: white;
				text-transform: uppercase;
				text-align: center;
				&:hover, &:active {
					text-decoration: none;
					background-color: darken($c-red, 10%);
				}
			}
			button.button {
				margin: 0;
			}
		}
		.main-container {
			padding: 20px 0;
		}
		.col2-left-layout {
			.main {
				position: relative;
				background-color: $c-purple;
				.col-left {
					width: 22%;
					padding-right: 0;
					margin: 0;
				}
				.col-main {
					width: 78%;
					min-height: 600px;
					background-color: white;
					padding: 0 0 20px 20px;
					margin-bottom: -20px;
				}
			}
		}
		.sidebar {
			margin-top: 0px;
			.block-content {
				margin: 0;
				background-color: $c-purple;
				padding: 0;
				li {
					margin: 0;
					text-transform: none;
					width: 100%;
					a {
						border: none;
						font-weight: normal;
						font-size: 16px;
						line-height: 16px;
						color: white;
						background-color: $c-purple;
						width: 100%;
						height: 100%;
						padding: 25px 10px 25px 30px;
						display: block;
						&:hover, &:active {
							background-color: lighten($c-purple, 5%);
							text-decoration: none;
						}
						&::after {
							display: none;
						}
					}
					&.current {
						a {
							font-weight: bold;
							font-size: 16px;
							line-height: 16px;
							&::after {
								display: none;
							}
						}
					}

				}
			}
		}
		.dashboard {
			> ul {
				margin: 0;
			}
			.panel {
				width: 49%;
				margin-bottom: 15px;
				&:nth-child(odd) {
					margin-right: 2%;
				}
			}
		}

		// form ---------------------
		.section {
			padding: 40px 30px 0 30px;
			.title {
				font-size: 20px;
			}
		}
		.address-edit, .details-edit {
			padding: 0px 35% 50px 0px;
			width: 100%;
			float: right;
			margin: 0px;
			display: block;
			.title {
				display: inline-block;
				padding-left: 55px;
			}
			.form-list {
				.field {
					float: right;
					width: 100%;
				}
				li {
					float: right;
					width: 100%;
					label {
						width: 32%;
						text-align: right;
						padding: 11px 0px;
					}
					.input-box {
						width: 66.5%;
						float: right;
					}
					&.control {
						padding-left: 30%;
					}
				}
			}
			.buttons-set {
				a {
					width: 31%;
				}
				button.button {
					width: 66.5%;
				}
			}
		}
		//end of form --------------
	}



	//forgotten password page
	.customer-account-forgotpassword {
		.main-container {
			padding: 0;
			form {
				margin: 30px 30px 40px;
				h2 {
					font-size: 25px;
					line-height: 25px;
				}
			}
			.buttons-set {
				margin: 20px 0 0;
				.back-link a {
					height: 35px;
				}
				button {
					width: 220px;
				}
			}
		}
	}

	//logout success page
	.customer-account-logoutsuccess {
		.page-title {
			h1 {
				font-size: 35px;
			}
		}
	}

	//account creation page
	.customer-account-create {
		.main-container {
			padding: 0;
			form {
				margin: 30px 30px 40px;
			}
		}
		.mobile-accordion-title {
			font-size: 35px;
			padding-left: 30px;
		}
		.section {
			padding: 0;
            float: left;
            width: 49%
		}
        .inchoo-socialconnect-register{
          margin-top: 10px;
          width: 49%;
          float: right;
        }
	}
}

