.wishlist-index-index,
.wishlist-index-share{
	.col-main {
		padding: 0 20px;
		margin: 0;
		overflow: hidden;
      #wishlist-table{
        .product-name{
          a{
            color: black;
            text-transform: none;
            font-size: 14px;
            line-height: 16px;
          }
        }
        .btn-remove, .btn-remove2{
          display: inline-block;
          clear: both;
          float: right;
          color: black;
          text-decoration: underline;
          background: none;
          width: auto;
          height: auto;
          text-indent: 0;
          font-family: "Akzidenz-Grotesk Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
          font-size: 10px;
          line-height: 14px;
          border: none;
          text-align: left;
        }
      }
	}
	.section-title {
		margin: 0 0 20px;
	}
	.buttons-set {
		.back-link {
			display: inline-block;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
  .wishlist-index-index,
  .wishlist-index-share{
		.col-main {
			position: relative;
			min-height: 345px;
			padding: 0 20px 40px;
		}
		.section-title {
			margin: 0;
		}
		.details-edit {
			padding: 0px 35% 40px 0px;
		}
	}
}

