.newsletter-manage-index  {
	.col-main {
		padding: 0 20px 0px;
		margin: 0;
		overflow: hidden;
	}

	.buttons-set {
		float: left;
		margin-top: 0;
		width: 100%;
		.back-link {
			display: block;
		}
		small {
			display: none;
		}
	}
	.section-title {
		margin: 0 0 20px;
	}
	.my-account {
		form .fieldset {
			margin: 0;
			padding: 0;
			clear: both;
			.form-list {
				border: none;
				margin: 0;
				padding: 0;
				label {
					width: 100%;
					padding: 6px 0 10px 25px;
				}
				input.checkbox {
					margin-left: 0;
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.newsletter-manage-index  {
		.col-main {
			position: relative;
			min-height: 330px;
		}
		.messages {
			float: left;
			width: 100%;
			li ul {
				position: relative;
			}
			.success-msg li {
				height: 40px;
				span {
					float: none;
					position: absolute;
					left: 20px;
					top: 10px;
				}
			}
		}
		.my-account {
			.buttons-set {
				position: absolute;
				bottom: 20px;
				width: 50%;
				.back-link {
					width: 30%;
					a {
						width: 100%;
						padding: 0;
					}
				}
				button.button {
					width: 66%;
					margin-left: 1%;
				}
			}
		}
	}
}

