.customer-account-edit {
	.col-main {
		padding: 0 20px;
		margin: 0;
		overflow: hidden;
	}
	.section-title {
		margin: 0 0 20px;
	}
	.my-account {
		form .fieldset {
			margin: 10px 0 50px;
			clear: both;
			.section-title {
				margin-bottom: 20px;
			}
			.form-list {
                input{
                  border-radius: 4px;
                }
				.control {
					label {
						width: 100%;
						padding: 10px 0 10px 25px;
					}
				}
				input.checkbox {
					margin-left: 0;
				}
			}
		}
	}
	.buttons-set {
		.back-link {
			display: inline-block;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.customer-account-edit {
		.col-main {
			position: relative;
			min-height: 345px;
			padding: 0 20px 40px;
		}
		.section-title {
			margin: 0;
		}
		.my-account {
			form .fieldset {
				.form-list {
					label {
						padding: 10px 4px 11px 0;
					}
					.control {
						padding-left: 35%;
					}
				}
			}
			.buttons-set {
				position: absolute;
				bottom: 20px;
				width: 100%;
				padding-right: 34%;
				padding-left: 20px;
				margin-left: -20px;
				.back-link {
					width: 30%;
					a {
						width: 100%;
					}
				}
				button.button {
					width: 66%;
					margin-left: 1%;
				}
			}
		}
		.details-edit {
			padding: 0px 35% 40px 0px;
		}
	}
}

