//**
// My Dirt Devil Log in Page
//
.customer-account-login {
	.page-title {
		background: $c-purple-2;
		height: 70px;
		margin: 0;
		position: relative;
		h1 {
			margin: 0;
			padding: 0px $trim-small;
			color: #fff;
			text-transform: none;
			font-weight: bold;
			font-size: 25px;
			line-height: 70px;
		}
		h1::after {
			content: "";
			position: absolute;
			right: 20px;
			top: 15px;
			background: url('../images/template/account-white.png') no-repeat;
            background-size: contain;
			width: 42px;
            height: 42px;
		}
	}
	.login-page-banner {
		margin-top: 10px;
		width: 100%;
		background-color: $c-purple;
		color: white;
		font-weight: bold;
		.banner-image {
			position: relative;
			z-index: 0;
			img {
				width: 100%;
				height: auto;
			}
			.mobile {
				display: block;
			}
			.desktop {
				display: none;
			}
		}
		.text {
			font-weight: bold;
			padding: 0 20px 20px;
			position: relative;
			z-index: 1;
			.title {
				font-size: 35px;
				line-height: 40px;
				text-transform: uppercase;
				padding: 15px 0 0;

			}
			.prompt {
				padding: 10px 0 0;
				font-size: 16px;
				line-height: 20px;
				text-shadow: 1px 1px $c-purple;
			}
		}
	}
	.main-container {
		padding: 0;
	}
	.section {
		padding: 30px 20px;
		.title {
			color: black;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			padding-bottom: 20px;
		}
		.form-list {
			li {
				margin: 0;
				padding: 0 0 15px;
				.input-box {
					margin: 0;
					padding: 0;
					input {
						margin: 0;
						padding: 0 0 0 10px;
						max-width: none;
						width: 100%;
						border-radius: 0;
						height: 35px;
						line-height: 35px;
						font-size: 12px;
					}
				}
              &.remember-me-box{
                label{
                  background: none;
                  padding: 3px 0 0 20px;
                }
              }
			}
		}
		.buttons-set {
			border: none;
			margin: 0;
			padding: 0;
			button.button {
				color: white;
				width: 100%;
				font-size: 16px;
				line-height: 35px;
				padding: 0;
				margin: 0;
			}
		}

	}
	.account-login {
		.form-list {
			label {
				display: none;
			}
			li {
				a {
					color: $c-red;
					text-align: right;
					text-decoration: underline;
					width: 100%;
					display: inline-block;
					&:hover, &:active {
						color: darken($c-red, 20%);
					}
					&.f-left {
						width: 50%;
						float: right;
					}
				}
			}
			.remember-me-box {
				width: 50%;
				float: left;
				margin-top: -20px;
				label {
					display: inline-block;
					line-height: 32px;
					padding: 0px 0px 0px 5px;
					color: black;
					font-weight: normal;
				}
				.link-tip {
					padding: 0;
					text-align: left;
					font-size: 14px;
				}
			}
		}
		.remember-me-popup {
			padding: 10px 0;
			border: none;
			.remember-me-popup-head {
				h3 {
					display: none;
				}
				.remember-me-popup-close {
					color: $c-red;
					line-height: 10px;
					margin: 12px 0;
					padding: 10px 0;
					font-size: 14px;
					text-decoration: underline;
                  &:first-letter{
                    text-transform: uppercase;
                  }
				}
			}
			.remember-me-popup-body {
				color: black;
				clear: both;
			}
		}

		.buttons-set {
			button.button {
				background-color: $c-red;
				&:hover, &:active {
					background-color: darken($c-red, 10%);
				}
			}
		}
	}
	.mobile-accordion-title {
		width: 100%;
		padding: 20px;
		color: $c-gray;
		background-color: $c-gray-4;
		font-size: 16px;
		font-weight: bold;
		line-height: 10px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: 20px;
			top: 18px;
			background: sprite($support-mobile-icons, faq_grey_arrow) no-repeat;
			@include sprite-dimensions($support-mobile-icons, faq_grey_arrow);
		}
		&.active::after {
			right: 18px;
			top: 22px;
			background: sprite($support-mobile-icons, faq_grey_drop_down_arrow) no-repeat;
			@include sprite-dimensions($support-mobile-icons, faq_grey_drop_down_arrow);
		}
		&:hover, &:active {
			background-color: darken($c-gray-4, 10%);
			cursor: pointer;
		}
	}
	.account-create {
		display: none;
		.title {
			display: none;
		}
		.form-list {
			.field {
				margin: 0;
				padding-bottom: 15px;
			}
			li {
				margin: 0;
				padding: 0;
			}
			label {
				color: black;
				width: 100%;
				font-size: 14px;
				line-height: 12px;
				padding: 11px 0px;
			}
		}
		.buttons-set {
			button.button {
				background-color: $c-green;
				margin: 10px 0 0 0;
				&:hover, &:active {
					background-color: darken($c-green, 10%);
				}
			}
		}
	}
	.messages li li {
		margin-bottom: 20px;
	}

  .inchoo-socialconnect-login{
    .social-login{
      .title{
        font-size: 16px;
      }
      .buttons-set{
        .clearer{
          .inchoo-socialconnect-google,
          .inchoo-socialconnect-facebook{
            float: left;
          }
        }
      }
      .col2-set{
        .new-users{
          padding-bottom: 0;
        }
        .col-2{
          padding-left: 0;
          border-left: 0;
          margin-top: 0;
        }
        .col-1{
          margin-top: 0;
        }
      }
    }
  }
}

@include bp(min-width, $bp-small + 1) {
	.customer-account-login {
		.login-page-banner {
			position: relative;
			.banner-image {
				.mobile {
					display: none;
				}
				.desktop {
					display: block;
				}
			}
			.text {
				position: absolute;
				top: 0px;
				left: 20px;
				padding: 0;
			}
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.customer-account-login {
		.page-title {
			h1 {
				padding: 0px $trim;
				font-size: 35px;
			}
		}
		.login-page-banner {
			.text {
				top: 10px;
				left: 30px;
				.title {
					font-size: 40px;
					line-height: 45px;
				}
				.prompt {
					padding: 25px 0px 0px;
					font-size: 20px;
					line-height: 25px;
				}
			}
		}
		.section {
			padding: 40px 30px 0 30px;
			.title {
				font-size: 20px;
			}
		}
		.account-login {
			width: 370px;
			max-width: 40%;
			float: left;
		}
		.mobile-accordion-title {
			display: none;
		}
		.account-create {
			padding: 40px 60px 50px 0px;
			width: 55%;
			float: right;
			margin: 0px;
			display: block;
			.title {
				display: inline-block;
				padding-left: 55px;
			}
			.form-list {
				.field {
					float: right;
					width: 100%;
				}
				li {
					float: right;
					width: 100%;
					label {
						width: 31%;
						text-align: right;
					}
					.input-box {
						width: 66.5%;
						float: right;
					}
				}
			}
			.buttons-set {
				button.button {
					width: 66.5%;
				}
			}
		}
	}
}
