/**************************************************
* Address book and Add address form
*/

.customer-address-index, .customer-address-form {
	.my-account {
		margin: 0 20px;
		.section-title {
			margin: 20px 0;
		}
		//address book
		.address-book {
			* {
				font-family: $f-stack-special;
			}
			.item {
				font-size: 14px;
				line-height: 16px;
				padding: 0 0 25px;
				float: left;
				width: 100%;
				margin: 0 0 20px;
				.address-title {
					font-weight: bold;
				}
				address {
					margin: 10px 0;
				}
				a {
					color: $c-red;
					font-size: 14px;
					text-decoration: underline;
					&:hover, &:active {
						color: darken($c-red, 20%);
					}
				}
			}
			.addresses-additional {
				padding: 0;
				margin: 0;
			}
		}
	}
	.messages li li {
		margin-bottom: 20px;
	}
	//address book end
}

/**************************************************
* Address book and Add address form - Desktop
*/
@include bp(min-width, $bp-medium+1) {

	.customer-address-index, .customer-address-form {
		.my-account {
			margin: 0;
			.section-title {
				margin: 0;
				padding-bottom: 20px;
			}
			//address book ---------------------
			.address-book {
				min-height: 330px;
				position: relative;
				.item {
					font-size: 15px;
					line-height: 17px;
					width: 50%;
					margin-top: 20px;
					margin-bottom: 40px;
					a {
						font-size: 15px;
					}
				}
				.buttons-set {
					position: absolute;
					bottom: 0;
					width: 50%;
					a {
						width: 30%;
						padding: 0;
					}
					button.button {
						width: 68%;
						margin-left: 1%;
					}
				}
			}
			//address book end -----------------
		}
		.messages {
			float: left;
			width: 100%;
			li ul {
				position: relative;
			}
			.success-msg li {
				height: 40px;
				span {
					float: none;
					position: absolute;
					left: 20px;
					top: 10px;
				}
			}
		}

	}
}

