.customer-account{
  .section-title{
    margin-bottom: 20px;
  }
  .coupons-collection{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin-top: 10px;
        clear: both;
        h2 {
          font-size: 14px;
          text-transform: none;
          span {
            padding-right: 10px;
          }
        }
        &.expires-today{
          h2{
            color: $c-red;
            text-decoration: underline;
          }
        }
      }
    }
    &.used-coupons{
      padding-bottom: 30px;
      margin-bottom: 10px;
      border-bottom: 1px solid;
      li{
        h2{
          text-decoration: line-through;
        }
      }
    }
    &.available-coupons{
      padding-bottom: 30px;
    }
  }
}

