
<div id="payment-methods-wrapper">
<?php
/**
* this is Vax_Checkout_Block_Onepage_Form_Payment_Details
*/
$methods = array_reverse($this->getMethods()); ?>
<?php if (!$this->getRemoveForm()): ?>
<form id="payment-details-form" class="checkout-form form-inline form-horizontal" novalidate="novalidate" action="post">
<?php endif; ?>
    <label class="payment-type"><?php echo $this->__('Payment type'); ?></label>
    <?php foreach ($methods as $method) { ?>
        <div class="control-group payment-method">

            <div class="controls">
                <input id="<?php echo $method->getCode(); ?>_method" class="radio pay-method" value="<?php echo $method->getCode(); ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($method->getTitle()); ?>" />
                <label class="control-label payment-method-label label-<?php echo $method->getCode(); ?>">
                    <?php echo $method->getTitle(); ?>
                </label>
                <div class="clearer"></div>
                <span class="info" style="display: none;"></span>
            </div>
        </div>
        <?php echo $this->getPaymentMethodFormHtml($method); ?>
        <div class="clearer"></div>
    <?php } ?>
<?php if (!$this->getRemoveForm()): ?>
</form>
<?php endif; ?>
</div>
<script>
    $j(document).ready(function(){
        // set Card Payment as default if no payment option has been chosen
        var nothingChecked = true;
        jQuery('.payment-method .radio').each(function(){
            if($j(this).checked) {
                nothingChecked = false;
            }
        });
        if (nothingChecked) {
            $j("#realexdirect_method").prop('checked', true);
        }

        // show Card Payment form
        if ($j("#realexdirect_method").length && document.getElementById('realexdirect_method').checked) {
            $j("#payment_form_realexdirect").show();
        }

        // hide the form if the user selects something else
        $j('.pay-method').click(function(){
            if($j(this).attr('id') === 'paypal_standard_method') {
                $j(this).siblings('.info').text('You will be redirected to the PayPal website on submission.').show();
                $j(this).parent().parent().siblings('.clearer').show();
                $j(this).siblings('.clearer').show();
            } else {
                $j('.payment-method .info').hide();
                $j('#billing-payment-details-form div.clearer').hide();
            }

            $j('.payment-form').hide();
            $j(this).siblings('.payment-form').show();
        });
    });
</script>