.vax-registration-index-index,
.vax-registration-form-index,
.vax-registration-form-success {
	.page-title {
		height: auto;
		h1 {
			font-size: 20px;
			padding: 20px;
			&::after {
				top: 10px;
                right: 20px;
                width: 50px;
                height: 50px;
                background: url('../images/template/registration-icon.png') no-repeat;
                background-size: contain;
            }
		}
	}
	.col-main {
		padding: 20px 0px;
	}
	.input-text {
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
	}
}
@include bp(min-width, $bp-xsmall+1) {
	.vax-registration-index-index,
	.vax-registration-form-index,
	.vax-registration-form-success {
		.page-title {
			h1 {
				font-size: 25px;
			}
		}
	}
}

/* ================================================= *
 * Registration - Large View Port
 * ================================================= */
@include bp(min-width, $bp-medium+1) {
	.vax-registration-index-index,
	.vax-registration-form-index,
	.vax-registration-form-success {
		.page-title {
			h1 {
				padding: 20px 30px;
				font-size: 35px;
				&::after {
                  background: url('../images/template/registration-icon.png') no-repeat;
                  background-size: contain;
                  width: 55px;
                  height: 55px;
                  top: 5px;
                  right: 20px;
				}
			}
		}
	}
}