.vax-registration-form-index {
	#registration-form {
		.controls {
			input,
			select,
			#postcode {
				width: 100%;
				border-radius: 4px;
			}
			.house-number-street {
				width: 78%;
			}
			.house-number {
				width: 20%;
			}
			#pur_date,
            #pur_price{
				width: 85%;
			}

		}
		label,
		span {
			&.required::after {
				position: absolute;
			}
		}
		.terms-link {
			padding: 20px 0;
		}
		.validation-advice {
			display: inline-block;
			float: right;
		}
		//house number validation advice is hidden, validation advice for street name is used
		#advice-required-entry-house_number {
			display: none;
		}
		.input-text.validation-failed {
			border-color: $c-red;
		}
		.validation-advice {
			margin: 0;
			height: 10px;
		}
		.terms-link {
			display: block;
		}
		.address {
			margin-top: 10px;
		}
		#model_name {
			max-width: 300px;
			&:hover {
				cursor: pointer;
			}
			option {
				max-width: 300px;
				&:hover {
					cursor: pointer;
				}
			}
		}
//calendar -->
		.calendar-input {
			position: absolute;
			left: 0;
			height: 36px;
			top: 0;
			width: 100%;
			&:hover {
				cursor: pointer;
			}
		}
		.controls img {
			display: inline-block;
			height: 35px;
			vertical-align: bottom;
			margin-left: 10px;
			padding-bottom: 5px;
			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
        // <-- end calendar
        .currency-select{
          display: inline-block;
          max-width: 30px;
          margin-left: 10px;
        }


        .file-upload {
            .validation-advice {
                margin-top: -30px;
                float: left;
            }
        }
	}
    .main form .control-group {
        clear: both;
    }

	.main form .control-group .controls #postcode {
		width: 55%;
	}
	.main form h2 {
		height: auto;
		min-height: 35px;
		line-height: 22px;
		padding: 0px 20px 20px;
	}
	.panel-links-container {
		margin: 0 20px;
	}

//fileupload -->
	//fileupload box - important when rewriting js styles
	.main form .control-group .controls .ajax-file-upload input {
		width: 100% !important;
		height: 100% !important;
	}
	//fileupload buttons
	.ajax-file-upload, .ajax-file-upload-red {
		height: auto;
		box-shadow: none;
		background-color: $c-red;
		border-radius: 0;
		color: #FFF;
		font-family: $f-stack-default;
		font-size: 14px;
		font-weight: normal;
		padding: 0 11px;
		text-decoration: none;
		text-shadow: none;
		margin: 0;
		line-height: 32px;
		text-transform: uppercase;
		float: left;
		width: 50%;
		max-width: 178px;
		text-align: center;
		&:hover, &:active {
			background-color: darken($c-red, 10%);
			box-shadow: none;
		}
	}

	.ajax-file-upload-filename {
		word-break: break-all;
		display: inline-block;
		line-height: 16px;
		margin: 0 0 10px;
	}
	// fileupload status bar
	.ajax-file-upload-statusbar {
		width: 100%;
		border-radius: 0px;
		border: medium none;
		padding: 0 0 10px;
		margin: 0;
		float: left;
		clear: both;
	}
	.ajax-file-upload-progress {
		height: 34px;
		margin: -1px 10px 0 0;
	}
	.ajax-file-upload-bar {
		background-color: $c-green;
		border-radius: 0;
		height: 32px;
	}

	//fileupload mobile positioning
	.ajax-file-upload {
		margin: 10px 0 20px;
	}
	.ajax-file-upload-progress {
		width: 100%;
		margin-bottom: 10px;
		float: left;
	}

	#registration-form #pur_receipt_li .controls .thumbnail {
		float: left;
		img {
			margin: 0;
			padding: 0;
			float: left;
			&:hover {
				cursor: initial;
				opacity: 1;
			}
		}
	}
//<-- end fileupload
}
@include bp(min-width, $bp-xsmall+1) {
	.vax-registration-form-index {
		.main form .submit-button .controls #btn-submit-registration {
			width: auto;
		}
		#registration-form #model_name {
			max-width: 400px;
			option {
				max-width: 400px;
			}
		}
		.ajax-file-upload-statusbar {
			width: 55%;
		}
		.ajax-file-upload {
			width: 27%;
		}
		#registration-form {
			.controls {
				input,
				select,
				#pur_date,
				#postcode
				{
					width: 55%;
				}
				.house-number-street {
					width: 44%;
				}
				.house-number {
					width: 10%;
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.vax-registration-form-index {
		.main-container {
			padding: 0 30px;
		}
		.panel-links-container {
			margin: 0 30px;
		}
		.main form fieldset {
			margin-bottom: 20px;
		}
		#registration-form {
			#model_name {
				max-width: 500px;
				option {
					max-width: 500px;
				}
			}
			.house-number {
				margin-left: 1%;
			}
			.control-label {
				width: 19%;
				line-height: normal;
				vertical-align: top;
				padding-top: 8px;
			}
			.terms-link {
				margin-left: 19.5%;
				padding: 0;
			}
			.input-text {
				float: left;
			}
			.validation-advice {
				float: left;
				clear:both;
				position: absolute;
				margin-left: 20px;
			}
			#advice-required-entry-pur_date {
				margin-left: 50px;
			}
            .file-upload {
                .validation-advice {
                    margin-left: 10px;
                }
            }
            .controls {
              #pur_price {
                width: 55%;
              }
            }
		}
		.ajax-file-upload-statusbar {
			width: 55%;
		}
		.ajax-file-upload {
			margin: 0 0 10px 0;
		}
	}
}

@include bp(min-width, 1030px) {
	.vax-registration-form-index {
		.main-container {
			padding: 0;
		}
		.main form h2 {
			padding-left: 0;
		}

        #registration-form {
            .file-upload {
                .validation-advice {
                    margin-left: 50px;
                }
            }
            .currency-select{
              float: left;
              max-width: 60px;
            }
        }
	}
}

.contacts-index-index {
  .accordion .accordion-content {
    //fileupload -->
    //fileupload box - important when rewriting js styles
    .ajax-file-upload input {
      width: 100% !important;
      height: 100% !important;
    }
    //fileupload buttons
    .ajax-file-upload, .ajax-file-upload-red {
      height: auto;
      box-shadow: none;
      background-color: $c-red;
      border-radius: 0;
      color: #FFF;
      font-family: $f-stack-default;
      font-size: 14px;
      font-weight: normal;
      padding: 0 11px;
      text-decoration: none;
      text-shadow: none;
      margin: 0;
      line-height: 32px;
      text-transform: uppercase;
      float: left;
      width: 50%;
      max-width: 178px;
      text-align: center;
      &:hover, &:active {
        background-color: darken($c-red, 10%);
        box-shadow: none;
      }
    }

    .ajax-file-upload-filename {
      word-break: break-all;
      display: inline-block;
      line-height: 16px;
      margin: 0 0 10px;
    }
    // fileupload status bar
    .ajax-file-upload-statusbar {
      width: 100%;
      border-radius: 0px;
      border: medium none;
      padding: 0 0 10px;
      margin: 0;
      float: left;
      clear: both;
    }
    .ajax-file-upload-progress {
      height: 34px;
      margin: -1px 10px 0 0;
    }
    .ajax-file-upload-bar {
      background-color: $c-green;
      border-radius: 0;
      height: 32px;
    }

    //fileupload mobile positioning
    .ajax-file-upload {
      margin: 10px 0 20px;
    }
    .ajax-file-upload-progress {
      width: 100%;
      margin-bottom: 10px;
      float: left;
    }
  }
}

@include bp(min-width, $bp-xsmall+1) {
  .contacts-index-index {
    .ajax-file-upload-statusbar {
      width: 55%;
    }
    .ajax-file-upload {
      width: 27%;
    }
  }
}