.vax-registration-form-success {
	.main-container {
		padding-top: 0;
		.text-info h2 {
			line-height: 24px;
			height: auto;
			padding: 0px 20px 20px 20px;
		}
		h3 {
			text-transform: none;
			padding-left: 20px;
		}
		.text-info table {
			width: 70%;
		}
	}
}
@include bp(min-width, $bp-xsmall+1) {
	.vax-registration-form-success {
		.main-container {
			.text-info h2 {
				padding: 0px 20px 20px 0px;
			}
			h3 {
				padding-left: 0;
			}
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.vax-registration-form-success {
		.main-container {
			padding: 10px 30px;
			.text-info h2 {
				padding: 0;
				height: 45px;
			}
		}
	}
}
@include bp(min-width, 1030px) {
	.vax-registration-form-success {
		.main-container {
			padding: 10px 30px;
		}
	}
}
