<?php
/**
 * @var $this Mage_Tax_Block_Checkout_Grandtotal
 * @see Mage_Tax_Block_Checkout_Grandtotal
 */
?>
<?php $totalDiscount = Mage::helper('checkout/cart')->getQuote()->getTotalDiscount(); ?>

<?php if ($totalDiscount > 0): ?>
    <tr>
        <td class="discount" colspan="2">
            <div id="discount-total">
                <?php echo $this->__('Today you have saved ') . Mage::helper('core')->currency($totalDiscount, true, false); ?>
            </div>
        </td>
    </tr>
<?php endif; ?>

<tr>
    <td style="<?php echo $this->getStyle() ?>" class="a-left" colspan="<?php echo $this->getColspan(); ?>">
        <strong><?php echo $this->__('Total') ?></strong>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="a-left cart-value">
        <strong><?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?></strong>
    </td>
</tr>
