<?php
/**
 * Shopping cart template
 *
 * @var $this Mage_Checkout_Block_Cart
 */
?>
<?php $_priceDisplay = ($this->helper('tax')->displayCartBothPrices()) ? 'display-both-prices' : 'display-single-price'; ?>
<div class="cart <?php echo $_priceDisplay; ?>">
    <div class="cart-message">
        <?php echo $this->getCartMessage(); ?>
        <?php if ($this->getLayout()->getBlock('messages') instanceof Mage_Core_Block_Abstract): ?>
            <?php echo $this->getLayout()->getBlock('messages')->toHtml() ?>
        <?php endif; ?>
    </div>

    <div class="cart-top">
        <div class="left">
            <h2><?php echo $this->__('You have %d item%s in your basket.', $this->getItemsSummaryQty(), $this->getItemsSummaryQty() > 1 ? 's' : '') ?></h2>
        </div>
        <div class="right hide-for-small">
            <button type="button" class="shopping checkout-button" onclick="javascript: window.history.back()">
                <span><span><?php echo $this->__('Continue Shopping') ?> <span class="icon">&gt;</span></span></span>
            </button>
            <button type="button" class="checkout checkout-button" onclick="javascript: document.location.href='<?php echo Mage::getUrl('checkout/onepage') ?>'">
                <span><span><?php echo $this->__('Continue<br />to Checkout') ?> <span class="icon">&gt;</span></span></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

    <?php echo $this->getChildHtml('form_before') ?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" class="show-for-large">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div id="shopping-cart-table" class="cart-table data-table">
            <div class="headers row">
                <div class="cart-price-head header"><?php echo $this->__('Price') ?></div>
                <div class="cart-total-quantity header"><?php echo $this->__('Quantity') ?></div>
            </div>
            <div class="body">
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach; ?>
            </div>
        </div>
    </form>

    <?php echo $this->getShippingMessage(); ?>
    <?php echo $this->getCartMessage(); ?>

    <div class="cart-forms">
        <?php /* Extensions placeholder */ ?>
        <?php echo $this->getChildHtml('checkout_cart_widget') ?>
        <?php echo $this->getChildHtml('checkout.cart.extra') ?>
    </div>

    <div class="cart-totals-wrapper">
        <?php //the block is created here, otherwise ajax does not refresh it ?>
        <?php echo $this->getLayout()->createBlock('checkout/cart_totals')->setTemplate('checkout/cart/subtotal.phtml')->toHtml(); ?>

        <div class="shipping">
            <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
        </div>
        <?php //the block is created here, otherwise ajax does not refresh it ?>
        <?php echo $this->getLayout()->createBlock('checkout/cart_totals')->setTemplate('checkout/cart/tax.phtml')->toHtml(); ?>
        <?php echo $this->getChildHtml('coupon'); ?>

        <?php $totalDiscount = Mage::helper('sales')->getTotalDiscount($this->getQuote(), true); ?>
        <?php if($totalDiscount > 0) : ?>
            <div class="savings-row row">
                <div class="savings-block basket-rules cart-table">
                    <span class="savings discount-label">
                        <?php echo $this->__('Today you have saved %s', Mage::helper('core')->currency($totalDiscount, true, false)); ?>
                    </span>
                </div>
            </div>
        <?php endif; ?>

        <div class="cart-totals clearfix">
            <?php echo $this->getChildHtml('totals'); ?>
        </div>

        <div class="cart-payment-options">
            <?php if (!$this->hasError()) : ?>
                <ul class="checkout-types bottom">
                    <?php foreach ($this->getMethods('methods') as $method): ?>
                        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                            <li class="method-<?php echo preg_replace("/[^_a-zA-Z0-9-]/", '-', $method); ?>"><?php echo $methodHtml; ?></li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <div class="icons">
                <div class="icon-left"><div class="icon-secure-shopping"></div></div>
                <div class="icon-middle"><div class="icon-free-delivery"></div></div>
                <div class="icon-right"><div class="icon-free-returns"></div></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cart-totals secure-checkout">
            <div class="with">
                <p>
                    <?php echo $this->__('Secure checkout with') ?>
                </p>
                <span><?php echo $this->__('Banktransfer, Invoice,') ?></span>
                <img alt="Invoice, PayPal, MasterCard, VISA" src="<?php echo $this->getSkinUrl('images/template/secure_btns-' . strtolower(substr(Mage::app()->getLocale()->getLocaleCode(), 0, 2)) . '.jpg') ?>" />
            </div>
        </div>
    </div>
    <?php if( $this->getItemsSummaryQty() > 0 ): echo $this->getChildHtml('checkout.cart.bestsellers'); endif;?>
</div>
<script type="text/javascript">
    resizeDiscountLabels = function() {
        $j('.discount-label span').each(function() {
            if ($j(this).height() > 19) {
                $j(this).parent().addClass('two-lines');
            } else {
                $j(this).parent().removeClass('two-lines');
            }
        });
    };
    $j(document).ready(resizeDiscountLabels);
    $j(window).on('delayed-resize', function (e, resizeEvent) { resizeDiscountLabels(); });
    $j('td.image img').each(function() {
        if ($j(this).data('src')) {
            $j(this).attr('src', $j(this).data('src'));
        }
    });
</script>
