<div id="checkout-wrapper" <?php if ($this->hasOrderProcessed()) {?>class="checkout-success"<?php } ?><?php if ($this->hasOrderFailed()) {?>class="checkout-failure" data-status="failed"<?php } ?>>
    <?php echo $this->getShippingMessage(); ?>  
    
    <div id="checkout-content-wrapper">
        <?php echo $this->getChildHtml('steps'); ?>
    </div>

    <form id="3ds-form" name="3d-secure" action="" method="post">
        <input class="pareq" type="hidden" name="PaReq" />
        <input class="term" type="hidden" name="TermUrl" />
        <input class="md" type="hidden" name="MD" />
    </form>

    <script type="text/javascript">
        function getCheckoutSteps() {
            return <?php echo json_encode($this->getSteps()); ?>;
        }

        function getCurrentStepIndex() {
            return <?php echo $this->getStepIndex(); ?>;
        }
    </script>

    <div class="secure-checkout medium-small secure-checkout-small">
        <p>
            <?php echo $this->__('Secure checkout with') ?>
        </p>
        <span><?php echo $this->__('Banktransfer, Invoice,') ?></span>
        <img alt="PayPal, MasterCard, VISA" src="<?php echo $this->getSkinUrl('images/template/secure_btns-' . strtolower(substr(Mage::app()->getLocale()->getLocaleCode(), 0, 2)) . '.jpg') ?>" />

    </div>

</div>
