<?php /**
 * $this @see  Vax_Checkout_Block_Onepage_Success
 * */?>

<div id="checkout-wrapper" <?php if ($this->hasOrderProcessed()):?>class="checkout-success"<?php endif; ?><?php if ($this->hasOrderFailed()):?>class="checkout-failure" data-status="failed"<?php endif; ?>>
    <div class="success-left">
        <div class="clearfix"></div>
        <div id="checkout-steps">
            <div class="progress-bar" id="progress-bar">
                <?php $_steps = $this->getSteps() ?>
                <?php foreach ($_steps as $index => $step) : ?>
                    <?php
                    $_stepClasses = $this->getStepClasses($step['index']);
                    if (count($_steps) == $index + 1):
                        $_stepClasses .= ' step-active';
                    endif;
                    echo $this->getChild('steps_header')
                        ->setStepIndex($step['index'])
                        ->setStepClasses($_stepClasses)
                        ->toHtml()
                    ?>
                <?php endforeach; ?>
            </div>
        </div>
        <div class="clearfix"></div>

        <?php echo $this->getShippingMessage(); ?>
        <div id="checkout-content-wrapper">
            <?php $subscriptionBlock = $this->getLayout()->getBlock('subscription.promo') ?>
            <?php if ($subscriptionBlock && $subscriptionBlock->isActive()): ?>
                <?php echo $subscriptionBlock->toHtml() ?>
                <?php /** Update layout only in case of subscription order */ ?>
                <style type="text/css">
                    .checkout-success-wrapper {max-width: 70%;}
                    .subscription-promo {position: absolute; top:-50px; right:0}
                    #top .checkout-onepage-success .side-space {max-width: 70%; position: relative}
                </style>
            <?php endif; ?>

            <div class="checkout-success-wrapper" id="leader">
                <h2><?php echo $this->__('Your order number is %s', $this->getOrderNumber()) ?></h2>
                <div id="delivery-date">
                    <h3><div class="icon-free-del"></div><?php echo ($this->getOrder()->getPayment()->getMethod() != 'banktransfer') ?  $this->__('Your order will be delivered in the next 2-3 days') : $this->__('Your order will be delivered within 2-3 days after receipt of payment'); ?></h3>
                </div>
                <h3 class="what-happens-next"><?php echo $this->__('What happens next') ?></h3>
                <h4><?php echo $this->__('You will receive a confirmation email shortly which will include your order summary and tracking code.') ?></h4>
            </div>

            <div class="checkout-success-wrapper" id="newsletter">
                <h4><?php echo $this->__('Sign up for exclusive offers, discounts, tips, and advice') ?></h4>
                <?php
                $newsletter = $this->getLayout()->getBlock('success.newsletter');
                $newsletter->setRefererUrl(Mage::getBaseUrl());
                $newsletter->setFormId('successNewsletterForm');
                $newsletter->setFname($this->getQuote()->getBillingAddress()->getFirstname());
                $newsletter->setLname($this->getQuote()->getBillingAddress()->getLastname());
                ?>

                <?php echo $this->getChildHtml('success.newsletter') ?>
            </div>
            <span class="side-space"><a href="#" class="link-print" onclick="window.print()"><?php echo $this->__('Print Summary') ?></a></span>
        </div>
    </div>

    <div class="success-right show-for-large hide-for-small">
        <div class="cta-top">
            <?php echo $this->getChildHtml('subscription.promo') ?>
            <?php echo $this->getChildHtml('cta-right-top'); ?>
        </div>
        <div class="cta-bottom">
            <?php echo $this->getChildHtml('cta-right-bottom'); ?>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="checkout-success-wrapper" id="order-summary">
        <?php echo $this->getChildHtml('success-summary'); ?>
    </div>

    <div class="success-right show-for-small hide-for-large">
        <div class="cta-top">
            <?php echo $this->getChildHtml('cta-right-top'); ?>
        </div>
        <div class="cta-bottom">
            <?php echo $this->getChildHtml('cta-right-bottom'); ?>
        </div>
    </div>
    <script type="text/javascript">
        function getCheckoutSteps() {
            return <?php echo json_encode($this->getSteps()); ?>;
        }
        function getCurrentStepIndex() {
            return <?php echo $this->getStepIndex(); ?>;
        }
    </script>
</div>