<?php
/**
 * Vax Limited 
 *
 * @copyright   Copyright (c) 2015 Vax Ltd.
**/
?>
<?php
    $helper = Mage::helper('checkout');
?>
<script type="text/javascript">
    translationPhrases = {
        'Loading Address' : '<?php echo $helper->__('Loading Address') ?>',
        'Processing Order' : '<?php echo $helper->__('Processing Order') ?>',
        'Unfortunately we cannot process your order at this time. Please try again later.' : '<?php echo $helper->__('Unfortunately we cannot process your order at this time. Please try again later.') ?>',
        'Return to Shop' : '<?php echo $helper->__('Return to Shop') ?>',
        'Try Again' : '<?php echo $helper->__('Try Again') ?>',
        'Back to Basket' : '<?php echo $helper->__('Back to Basket') ?>',
        'Continue' : '<?php echo $helper->__('Continue') ?>',
        'Place order' : '<?php echo $helper->__('Place order') ?>',
        'Back to Basket' : '<?php echo $helper->__('Back to Basket') ?>',
        'Thank You For Your Order' : '<?php echo $helper->__('Thank You For Your Order') ?>',
        'Your unique order number is: ' : '<?php echo $helper->__('Your unique order number is: ') ?>',
        'Order Failed' : '<?php echo $helper->__('Order Failed') ?>',
        'Your Card Has Not Been Charged' : '<?php echo $helper->__('Your Card Has Not Been Charged') ?>',
        'Order Complete' : '<?php echo $helper->__('Order Complete') ?>'
    }

    if (typeof Translator == 'object' && Translator instanceof Translate) {
        Translator.add(translationPhrases);
    }
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/checkout/opc.js') ?>"></script>