<?php foreach ($this->getTotals() as $_code => $_total): ?>
    <?php if ('subtotal' == $_code) : ?>
        <?php $_total->setValue($this->getOrder()->getSubtotalInclTax()) ?>
    <?php endif; ?>
    <?php if ($_total->getBlockName()): ?>
        <?php echo $this->getChildHtml($_total->getBlockName(), false); ?>
    <?php else:?>
    <tr class="<?php echo $_code?>">
        <td <?php echo $this->getLabelProperties()?>>
            <?php if ($_total->getStrong()):?>
            <strong><?php echo $this->escapeHtml($_total->getLabel());?></strong>
            <?php else:?>
            <?php echo $this->escapeHtml($_total->getLabel());?>
            <?php endif?>
        </td>
        <td <?php echo $this->getValueProperties()?>>
            <?php if ($_total->getStrong()):?>
            <?php $euroPos = (strpos($this->formatValue($_total),"€") + 3); ?>
            <strong><?php echo substr($this->formatValue($_total), 0, $euroPos). "&nbsp;" . substr($this->formatValue($_total), $euroPos); ?></strong>
            <?php else:?>
            <?php $euroPos = (strpos($this->formatValue($_total),"€") + 3); ?>
            <?php echo substr($this->formatValue($_total), 0, $euroPos). "&nbsp;" . substr($this->formatValue($_total), $euroPos); ?>
            <?php endif?>
        </td>
    </tr>
    <?php endif?>
<?php endforeach?>
