<style>
    .background-no-order{
        background-color: #fafafa;
        height: 100%;
    }
    .no-order{
        margin: 100px;
        padding: 10px;
        text-align: justify;
        font-size: 22px;
        font-weight: bold;
        color: #ea7601;
        border: 1px solid #eee2be;
        background-color: #fff9e9;
    }
    .no-order p {
        word-break: normal;
    }
</style>

<div class="background-no-order">
    <div class="no-order">
        <p><?php echo $this->__('There is no order in your system yet. Please create a new order to preview.!') ?></p>
    </div>
</div>