<body style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <tr>
                <td valign="top">
                    <h1 style="font-family:Arial; font-size:22px;">Guarantee Registration</h1>
                    <p style="font-family:Arial; font-size:12px;">Dear {{var c_name}}</p>
                    <p style="font-family:Arial; font-size:12px;">Thank you for registering for your {{var c_warranty}} year guarantee.</p>
                    <p style="font-family:Arial; font-size:12px; ">Your unique registration code is: {{var c_code}}.</p>
                    <h2 style="font-family:Arial; font-size:18px;">Guarantee details</h2>
                    <p style="font-family:Arial; font-size:12px; ">Please print a copy and keep it in a safe place with your proof of purchase, as you will need these should you need to contact us.</p>

                    <table id="registration-summary" border="0">
                        <tr>
                            <td style="font-family:Arial; width: 150px; font-weight: bold;font-size:12px;">Registration code:</td>
                            <td style="font-family:Arial; font-size:12px;">{{var c_code}}</td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial; width: 150px; font-weight: bold;font-size:12px;">Model Number:</td>
                            <td style="font-family:Arial; font-size:12px;">{{var c_model}}</td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial; width: 150px; font-weight: bold;font-size:12px;">Serial Number:</td>
                            <td style="font-family:Arial; font-size:12px;">{{var c_serial}}</td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial; width: 150px; font-weight: bold;font-size:12px;">Guarantee Duration:</td>
                            <td style="font-family:Arial; font-size:12px;">{{var c_warranty}} year</td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial; width: 150px; font-weight: bold;font-size:12px;">Date of Purchase:</td>
                            <td style="font-family:Arial; font-size:12px;">{{var c_purchase}}</td>
                        </tr>
                    </table>

                    <h2 style="font-family:Arial; font-size:18px;">Terms and conditions</h2>
                    <p style="font-family:Arial; font-size:12px; ">Full terms and conditions of your guarantee are <a href="{{store url=""}}registration/guarantee-information/" title="Guarantee information">available here</a></p>
                    <h2 style="font-family:Arial; font-size:18px;">Contact us</h2>
                    <p style="font-family:Arial; font-size:12px;">Quickly and easily solve any queries or issues you may have with our online support centre. Visit dirtdevil.co.uk/support</p>
                    <p style="font-family:Arial; font-size:12px;">Should you still need to get in touch, our UK based contact centre is open 6 days a week to help solve any queries you may have.</p>
                    <p style="font-family:Arial; font-size:12px;">(UK) {{var vax_phone}}</p>
                    <p style="font-family:Arial; font-size:12px;">(ROI) 1-800 928 308</p>
                    <p style="font-family:Arial; font-size:12px;">Receive special offers and updates from the Vax team</p>
		    <p style="font-family:Arial; font-size:12px;">Failure to register your guarantee will not affect your statutory rights.</p>
		    <p style="font-family:Arial; font-size:12px;"><strong>Please retain your proof of purchase</strong></p>
		    </br >
		    <p style="font-family:Arial; font-size:12px;"><strong>For genuine Dirt Devil spare parts please visit:dirtdevil.co.uk/support</strong></p>
		    <br />
		    <p style="font-family:Arial; font-size:12px;">Helps to maintain optimised performance</p>
		    <ul style="font-family:Arial; font-size:12px;">
			<li>Quality assured for peace of mind</li>
			<li>Validates your guarantee</li>
		    </ul>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>
