<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<header id="header" class="page-header">
    <div class="sticky-container">
        <div class="page-header-container">
            <a class="logo" href="<?php echo $this->getUrl('') ?>">
                <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large"/>
                <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>"
                     class="small"/>
            </a>
            <div class="header-language-container">
                <div class="store-language-container">
                    <?php echo $this->getChildHtml('store_language') ?>
                </div>
            </div>
            <div id="header-search" class="skip-content">
                <?php echo $this->getChildHtml('topSearch') ?>
            </div>
            <div class="skip-links">
                <a href="#header-nav" class="skip-link skip-nav">
                    <span class="icon"></span>
                    <span class="label"><?php echo $this->__('Menu'); ?></span>
                </a>
                <?php if (Mage::helper('dirtdevil_registrationallowed')->isRegistrationAllowed()): ?>
                    <a href="<?php echo $this->helper('customer')->getAccountUrl(); ?>"
                       data-target-element="#header-account" class="skip-link skip-account">
                        <span class="icon"></span>
                        <span class="label"><?php echo $this->__('My Dirt Devil'); ?></span>
                    </a>
                <?php endif; ?>
                <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled()): ?>
                    <div class="header-minicart">
                        <?php echo $this->getChildHtml('minicart_head'); ?>
                    </div>
                <?php endif; ?>
            </div>
            <div id="header-nav" class="skip-content">
                <?php echo $this->getChildHtml('topMenu') ?>
            </div>
            <div id="header-account" class="skip-content">
                <?php echo $this->getChildHtml('topLinks') ?>
            </div>
        </div>
    </div>
</header>
<?php echo $this->getChildHtml('topContainer'); ?>
