<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php $_menu = $this->getHtml('level-top') ?>
<?php $_helper = Mage::helper('catalog/category') ?>
<?php $partsRootCategory = $_helper->getPartsSubCategories(); ?>
<?php $machinesRootCategory = $_helper->getMachinesSubCategories(); ?>

<?php if($_menu): ?>
    <ul class="nav-top">
        <li class="products"><a href="<?php echo Mage::getBaseUrl(); ?>produkte" class="products"><?php echo $this->__("Products") ?></a></li>
        <li class="spares"><a href="<?php echo Mage::getBaseUrl(); ?>ersatzteile-und-zubehor"><?php echo $this->__("Spares &amp; Accessories") ?></a></li>
        <li class="support"><a href="<?php echo Mage::getBaseUrl(); ?>service/"><?php echo $this->__("Service") ?></a></li>
        <?php if(Mage::helper('vax_registration/form')->isRegistrationEnabled()): ?>
            <li class="registration"><a href="<?php echo Mage::getBaseUrl(); ?>registration/form/"><?php echo $this->__('Product Registration'); ?></a></li>
        <?php endif; ?>
        <li class="newsletter"><a href="<?php echo Mage::getBaseUrl(); ?>newsletter/"><?php echo $this->__('Newsletter'); ?></a></li>
        <li class="contact-us"><a href="<?php echo Mage::getUrl('contacts') ?>"><?php echo $this->__('Contact'); ?></a></li>
    </ul>
    <nav id="nav">
        <div class="nav-primary">
            <?php /* desktop dropdown content */ ?>
	        <div class="nav-cat nav-products desktop">
		        <div class="nav-label"><?php echo $this->__("Products") ?></div>
		        <?php echo $_menu ?>
	        </div>
            <div class="nav-cat nav-spares desktop">
                <div class="nav-label"><?php echo $this->__("Spares") ?></div>
            </div>

            <?php /* mobile main menu */ ?>
            <div class="tile">
                <a href="/produkte">
                <div class="icon products"></div>
                <div class="nav-label"><?php echo $this->__("Products") ?></div>
                </a>
            </div>
            <div class="tile">
                <a href="/ersatzteile-und-zubehor">
                <div class="icon spares"></div>
                <div class="nav-label"><?php echo $this->__("Spares") ?></div>
                </a>
            </div>
	        <div class="tile">
                <a href="/service">
                <div class="icon service"></div>
		        <div class="nav-label"><?php echo $this->__("Service") ?></div>
                </a>
	        </div>
            <?php if(Mage::helper('vax_registration/form')->isRegistrationEnabled()): ?>
                <div class="tile">
                    <a href="/registration/form">
                    <div class="icon registration"></div>
                    <div class="nav-label"><?php echo $this->__("Product Registration") ?></div>
                    </a>
                </div>
            <?php endif;?>
            <div class="tile">
                <a href="/newsletter">
                <div class="icon newsletter"></div>
                <div class="nav-label"><?php echo $this->__("Newsletter") ?></div>
                </a>
            </div>
            <div class="tile">
                <a href="<?php echo Mage::getUrl('contacts') ?>">
                <div class="icon contact"></div>
                <div class="nav-label"><?php echo $this->__("Contact Us") ?></div>
                </a>
            </div>
        </div>
        <?php $sparesEnabled = Mage::getStoreConfig('general/dropdown/spares_enabled'); ?>
        <?php $serviceEnabled = Mage::getStoreConfig('general/dropdown/service_enabled'); ?>
        <?php $productEnabled = Mage::getStoreConfig('general/dropdown/registration_enabled'); ?>
        <?php $newsletterEnabled = Mage::getStoreConfig('general/dropdown/newsletter_enabled'); ?>
        <?php $contactEnabled = Mage::getStoreConfig('general/dropdown/contact_enabled'); ?>

        <?php if($sparesEnabled == 1): ?>
            <div class="nav-spares nav-group-dropdown">
                <?php echo $this->getChildHtml('menuSpares') ?>
            </div>
        <?php endif; ?>

        <?php if($serviceEnabled == 1): ?>
        <div class="nav-support nav-group-dropdown">
            <?php echo $this->getChildHtml('menuService'); ?>
        </div>
        <?php endif; ?>
        <?php if($newsletterEnabled == 1): ?>
        <div class="nav-newsletter nav-group-dropdown">
            <div class="nav-forms">
                <?php echo $this->getChildHtml('menuNewsletterText'); ?>
                <?php echo $this->getChildHtml('menuNewsletterForm'); ?>
            </div>
            <div class="nav-blocks">
                <li><?php echo $this->getChildHtml('menuMyDirtDevil'); ?></li>
                <li><?php echo $this->getChildHtml('menuProductRegistration'); ?></li>
            </div>
        </div>
        <?php endif; ?>
        <?php if($productEnabled == 1): ?>
        <div class="nav-registration nav-group-dropdown">
            <div class="nav-forms">
                <?php echo $this->getChildHtml('menuRegistrationForm'); ?>
            </div>
            <div class="nav-blocks">
                <li><?php echo $this->getChildHtml('menuMyDirtDevil'); ?></li>
                <li><?php echo $this->getChildHtml('menuProductRegistration'); ?></li>
            </div>
        </div>
        <?php endif; ?>
        <?php if($contactEnabled == 1): ?>
        <div class="nav-contact-us nav-group-dropdown">
            <div class="nav-forms">
                <?php echo $this->getChildHtml('menuContactForm'); ?>
            </div>
            <div class="nav-blocks">
                <li><div class="contact-text"><?php echo $this->getChildHtml('menuContactInformation'); ?></div></li>
                <li><?php echo $this->getChildHtml('menuInternationalService'); ?></li>
            </div>
        </div>
        <?php endif; ?>
    </nav>
<?php endif ?>
