<?php if(Mage::getStoreConfig("bazaarvoice/general/enable_bv") === "1"): ?>

<?php
$product = Mage::registry('product');
$productId = '';
if(strlen($product->getId())) {
    $productId = Mage::helper('bazaarvoice')->getProductId($product);
}
?>

<?php if(strlen($product->getId())): ?>
<script type="text/javascript">
    function setBazaarVoiceProductID() {
        $BV.configure('global', { productId : '<?php echo $productId; ?>' });
    }
    bvExecute(setBazaarVoiceProductID);
</script>
<?php else: ?>
<script type="text/javascript" language="javascript">
<?php // Comment out extra features until we know we need them ?>
<?php //var profileDisplayContainerPageName = "bazaarvoice/profile/display"; ?>
var configData = {};
<?php if (false) { //!empty($submissionContainerUrl)) {
    echo "    configData.submissionContainerUrl = \"".$submissionContainerUrl."\";\n";
} ?>
$BV.configure("global", configData);
</script>
<?php endif; ?>

<?php if(Mage::getStoreConfig('bazaarvoice/feeds/families') && $product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE): ?>
<script type="text/javascript">
//<![CDATA[
<?php 
$doShowContentJs = Mage::getStoreConfig('bazaarvoice/rr/do_show_content_js');
$children = $product->getTypeInstance()->getUsedProducts();
$bvIds = array();
foreach($children as $child) {
    $bvIds[$child->getId()] = Mage::helper('bazaarvoice')->getProductId($child);
}
echo sprintf('var children = %s;', json_encode($bvIds));
?>

(function ($) {
    
    jQuery('.super-attribute-select').live("change", function(){
        options = spConfig.config.attributes[jQuery(this).attr('id').replace(/attribute/, '')].options;
        for(var i in options){
            if(options[i].id == jQuery(this).val() && children[options[i].products[0]] != undefined){
                $BV.configure("global", {productId: children[options[i].products[0]]});
                $BV.ui( 'rr', 'show_reviews', {
                    doShowContent : function () {
                        <?php echo $doShowContentJs ?>
                    }
                });  
                return;
            }
        }
        $BV.configure("global", {productId: "<?php echo $productId ?>"});
        $BV.ui( 'rr', 'show_reviews', {
            doShowContent : function () {
                <?php echo $doShowContentJs ?>
            }
        });
    });

}(jQuery));	
//]]>
</script>
<?php endif; ?>
<?php endif; ?>
