<?php if(Mage::getStoreConfig("bazaarvoice/general/enable_bv") === "1"): ?>
<?php $bvApiUrl = Mage::helper('bazaarvoice')->getBvApiHostUrl(true); ?>
<?php if (Mage::getStoreConfigFlag('bazaarvoice/general/lazy_load_bv')): ?>
<script type="text/javascript">
    function bvExecute(customFunc) {
        if (typeof $BV !== 'undefined') {
            customFunc();
        } else {
            window.setTimeout(function(){ bvExecute(customFunc); }, <?php echo Mage::getStoreConfig('bazaarvoice/general/lazy_load_timeout') ?>);
        }
    }
    function addBvAuthCode() {
        var script  = document.createElement('script');
        script.type = 'text/javascript';
        script.src  = '<?php echo $bvApiUrl ?>/bvapi.js';
        if (ie < 9) {
            document.getElementsByTagName('head')[0].appendChild(script);
        }
        else {
            document.head.appendChild(script);
        }
    }

    if (typeof isBot === 'function' && isBot()){
        addBvAuthCode();
    } else {
        addLoadEvent(addBvAuthCode);
    }
</script>
<?php else: ?>
<script type="text/javascript" src="<?php echo $bvApiUrl ?>/bvapi.js"></script>
<script type="text/javascript">
    function bvExecute(customFunc) {
        customFunc();
    }
</script>
<?php endif; ?>
<?php endif; ?>
