<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
/* @var $this Mage_Catalog_Block_Product_List */
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php $_iterator = 0; ?>
<ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li itemscope itemtype="http://schema.org/Product" class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>" data-product-id="<?php echo $_product->getId() ?>" data-product-stock="<?php echo $_product->getStockItem()->getIsInStock();?>">
            <div class="product-primary">
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <h2 itemprop="name" class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                <?php if($_product->getSubtitle()): ?>
                    <h3 class="subtitle"><?php echo $_product->getSubtitle(); ?></h3>
                <?php endif; ?>
                <div itemprop="model" class="sku"><?php echo $_product->getUkProductNo() ?></div>
                <?php if(Mage::helper('core')->isModuleEnabled('Bazaarvoice_Connector')): ?>
                    <?php $_bvHelper = $this->helper('bazaarvoice'); ?>
                    <div id="BVRRInlineRating-<?php echo $_bvHelper->getProductId($_product) ?>">
                    </div>
                <?php else: ?>
                    <?php if($_product->getRatingSummary()): ?>
                        <?php   echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>
                <?php endif; ?>
                <?php
                // Provides extra blocks on which to hang some features for products in the list
                // Features providing UI elements targeting this block will display directly below the product name
                if ($this->getChild('name.after')) {
                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                    foreach ($_nameAfterChildren as $_nameAfterChildName) {
                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                        $_nameAfterChild->setProduct($_product);
                        echo $_nameAfterChild->toHtml();
                    }
                }
                ?>
            </div>
            <div class="product-shop2">
                <div itemprop="description" class="desc std<?php if ($_product->getData('category_key_features')): ?> has-features<?php endif;?>">
                    <div class="short-description">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                    </div>
                    <?php if ($_product->getData('category_key_features')): ?>
                        <?php $features = $_product->getAttributeText('category_key_features'); ?>
                        <ul class="features">
                            <?php if(is_array($features)): ?>
                                <?php foreach ($features as $feature): ?>
                                    <li><?php echo $feature ?></li>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <li><?php echo $features; ?></li>
                            <?php endif; ?>
                        </ul>
                    <?php endif; ?>
                </div>
             </div>
            <?php // Product Image ?>
            <div class="product-image-container">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                        one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                        we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                        will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                        This $_imgSize value could even be decreased further, based on the page layout
                        (one column, two column, three column) and number of product columns. */ ?>
                    <?php $_imgSize = 300; ?>
                    <?php if($_helper->isNewProduct($_product)): ?>
                        <div class="new-product"></div>
                    <?php endif; ?>
                    <!-- allows google schema to pick up the correct image -->
                    <noscript>
                        <img itemprop="image" id="product-collection-image-<?php echo $_product->getId(); ?>"
                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </noscript>

                    <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                         src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize)); ?>"
                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <?php if ($_product->getAttributeText('eco_overall_rating')): ?>
                    <div class="product-secondary energy-rating-container">
                        <span class="text"><?php echo $this->__("Energy Rating") ?></span>
                        <span class="energy-rating-label energy-rating-label-<?php echo strtolower($_product->getAttributeText('eco_overall_rating')); ?>"></span>
                    </div>
                <?php endif; ?>
                <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                    <div class="product-secondary">
                        <?php if($_helper->hasFreeDelivery($_product)): ?>
                            <div class="delivery">
                                <div class="free-delivery icon"></div>
                                <div class="label">Free Delivery*</div>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
                <?php if ($_product->getData("available_at") && $_product->getData("available_at") == 121): ?>
                    <div class="product-secondary available-at">
                        <p><?php echo $this->__('Available at:') ?></p>

                        <div class="argos"><span><?php echo $this->__('Argos') ?></span></div>
                    </div>
                <?php endif; ?>
            </div>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php if(!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                    <div class="product-secondary">
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <?php if ($_product->getData('basket_discount_label') && $_product->getAttributeText('basket_discount_label') !== 'None') :?>
                            <span class="discount-label"><?php echo $_product->getAttributeText('basket_discount_label') ?></span>
                        <?php elseif ($_product->getFinalPrice() < $_product->getPrice()) :?>
                            <p class="save-amount">
                                <?php echo $this->__('Save %s', Mage::app()->getStore()->formatPrice($_product->getPrice() - $_product->getFinalPrice())) ?>
                            </p>
                        <?php endif ;?>
                        <div class="shipping-cost-info">
                            <?php echo $this->__('Inc. 19% Tax, ') ?><a href="/liefer-und-zahlungsbedingungen"><?php echo $this->__('Shipping costs excluded') ?></a>
                        </div>
                    </div>
                    <?php endif; ?>
                    <div class="product-secondary actions">
                        <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                            <?php
                            if ($_product->getTypeId() == 'bundle'): ?>
                                <?php echo $this->getLayout()->createBlock(
                                    'core/template', 'catalog_category_bundle')
                                    ->setTemplate('bundle/addtocart.phtml')
                                    ->setData('add_form', true)
                                    ->setData('cart_url', $this->getAddToCartUrl($_product))
                                    ->setData('item', $_product)->toHtml() ?>
                            <?php elseif($_product->getTypeId() == 'aw_giftcard'): ?>
                                <p class="action"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                            <?php elseif(!$_product->canConfigure() && $_product->isSaleable()): ?>
                                <p class="action"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                            <?php else: ?>
                                <p class="action availability out-of-stock"><span><?php echo $this->__('Out of Stock') ?></span></p>
                            <?php endif; ?>
                       <?php endif;?>


                        <?php if($_product->isComingSoon()): ?>
                            <p class="action availability coming-soon"><span><?php echo $this->__('Coming Soon') ?></span></p>
                        <?php endif; ?>

                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>

                    <?php if ($_product->getAttributeText('eco_overall_rating')): ?>
                        <div class="product-secondary energy-rating-container desktop">
                            <span class="text"><?php echo $this->__("Energy Rating") ?></span>
                            <span class="energy-rating-label energy-rating-label-<?php echo strtolower($_product->getAttributeText('eco_overall_rating')); ?>"></span>
                        </div>
                    <?php endif; ?>
                    <div class="product-secondary desktop">
                        <?php if (! $_product->isComingSoon() || !Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_product)): ?>
                                <?php
                                // hidden delivery icon on Coming Soon Products
                                if($_helper->hasFreeDelivery($_product)): ?>
                                    <div class="delivery">
                                        <div class="free-delivery icon"></div>
                                        <div class="label">Free Delivery*</div>
                                    </div>
                                <?php endif;  ?>
                        <?php endif; ?>
                        <?php if ($_product->getData("available_at") && $_product->getData("available_at") == 121): ?>
                                <div class="available-at">
                                    <p><?php echo $this->__('Available at:') ?></p>
                                    <div class="argos"><?php echo $this->__('Argos') ?></div>
                                </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <?php if($_product->getAlsoAvailableFor()): ?>
                <div class="also-available-for">
                    <a href="javascript: void(0)"><?php echo $this->__("Suitable for") ?>:</a>
                    <a href="javascript: void(0)" class="toggle">(<?php echo $this->__("click to show") ?>)</a>
                    <span class="skus" style="display: none;"><?php echo $_product->getAlsoAvailableFor(); ?></span>
                </div>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
</ol>
<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
<?php if(Mage::getStoreConfig('catalog/ajax_category/enable_qty_refresh')): ?>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            inStockPattern = '<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation(\'{{value}}product/{{key}}/\')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>';
            oosPattern = '<p class="action availability out-of-stock"><span><?php echo $this->__('Out of Stock') ?></span></p>';
            updateStock('<?php echo Mage::getBaseUrl().'category/index/updatestock'; ?>', inStockPattern, oosPattern);
        });
    </script>
<?php endif; ?>