<?php /* Spares in Product page template
 /*  this is Mage_Catalog_Block_Product_List_Related
 */ ?>
<?php if ( $this->getItems()->getSize() ): ?>
    <?php $view_all_parts = Mage::helper('catalog/product')->viewAllLink($this->getProduct()); ?>
	<div class="block block-related">
		<div class="outer-box">
				<div class="prev arrow"></div>
				<ul class="mini-products-list" id="block-related">
					<?php foreach ( $this->getItems() as $_item ): ?>
						<li class="product">
								<a href="<?php echo $_item->getProductUrl() ?>"
								   title="<?php echo $this->escapeHtml( $_item->getName() ) ?>"
								   class="product-image"><img
										src="<?php echo Mage::helper('catalog/image')->getLazyLoadedImage($this->helper( 'catalog/image' )->init( $_item, 'small_image' )) ?>"
										alt="<?php echo $this->escapeHtml( $_item->getName() ) ?>"/></a>

								<div class="product-details">
									<p class="product-name"><a
											href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml( $_item->getName() ) ?></a>
									</p>
                                    <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_item)): ?>
									    <?php echo $this->getPriceHtml( $_item, true, '-related' ) ?>
										<div class="shipping-cost-info">
											<?php echo $this->__('Inc. 19% Tax, ') ?><a href="/liefer-und-zahlungsbedingungen"><?php echo $this->__('Shipping costs excluded') ?></a>
										</div>
                                    <?php endif; ?>
								</div>

								<div class="product-actions">
									<?php echo $this->getLinksHTML( $_item ); ?>
                                    <?php if (!Mage::helper('dirtdevil_disable_checkout')->isCheckoutDisabled($_item)): ?>
                                        <?php if ( ! $_item->canConfigure() && $_item->isSaleable() ): ?>
                                            <p class="action">
                                                <button type="button" title="<?php echo $this->__( 'Add to Cart' ) ?>"
                                                        class="button btn-cart"
                                                        onclick="setLocation('<?php echo $this->getAddToCartUrl( $_item ) ?>')">
                                                    <span><span><?php echo $this->__( 'Add to Cart' ) ?></span></span></button>
                                            </p>
                                        <?php elseif ( ! $_item->isSaleable() ): ?>
                                            <p class="out-of-stock">Out of Stock</p>
                                        <?php endif; ?>
                                    <?php endif; ?>

                                    <?php if($_item->isComingSoon()): ?>
                                        <p class="action availability coming-soon"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                    <?php endif; ?>
								</div>
						</li>
					<?php endforeach ?>
				</ul>
				<div class="next arrow"></div>
		</div>
	</div>
    <?php if($view_all_parts): ?>
	    <div class="view-all-link"><a href="<?php echo $view_all_parts ?>"><?php echo $this->__("View all parts") ?></a></div>
    <?php endif; ?>
<?php endif ?>
