<div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php if(Mage::registry('current_giftcard')): ?>
        <div id="aw-giftcard-info-block">
            <div class="fieldset">
                <h2 class="legend"><?php echo $this->__('Gift Card Information');?></h2>
                <table>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Code');?>
                        </td>
                        <td>
                            <strong class="giftcard-code">
                                <?php echo Mage::registry('current_giftcard')->getCode();?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Active');?>
                        </td>
                        <td>
                            <strong class="giftcard-status">
                                <?php echo Mage::getModel('aw_giftcard/source_product_attribute_option_yesno')->getOptionText(Mage::registry('current_giftcard')->getStatus());?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Status');?>
                        </td>
                        <td>
                            <strong class="giftcard-state">
                                <?php echo Mage::getModel('aw_giftcard/source_giftcard_status')->getOptionByValue(Mage::registry('current_giftcard')->getState());?>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Balance');?>
                        </td>
                        <td>
                            <strong>
                                <span class="price">
                                    <?php echo Mage::helper('core')->currency(Mage::registry('current_giftcard')->getBalance());?>
                                </span>
                            </strong>
                        </td>
                    </tr>
                    <?php if (Mage::registry('current_giftcard')->getExpireAt()): ?>
                    <tr>
                        <td class="label">
                            <?php echo $this->__('Expires');?>
                        </td>
                        <td>
                            <strong>
                                <?php echo $this->formatDate(Mage::registry('current_giftcard')->getExpireAt(), 'short')?>
                            </strong>
                        </td>
                    </tr>
                    <?php endif;?>
                </table>
            </div>
        </div>
    <?php endif;?>
    <form id="aw_giftcard-form" action="<?php echo $this->getFormUrl(); ?>" method="post">
        <div class="fieldset">
            <ul class="form-list">
                <li>
                    <div class="input-box">
                        <label class="required" for="giftcard_code"><em>*</em><?php echo $this->__('Enter gift card code') ?></label>
                        <input class="required-entry input-text" id="giftcard_code" name="giftcard_code" value="<?php echo $this->getCurrentGiftcard(); ?>" />
                    </div>
                    <div class="buttons-set">
                        <button class="button check-gc-status" id="check-gc-status" onclick="AwGiftcardForm.submit(this)" type="button" value="<?php echo $this->__('Check status and balance') ?>">
                            <span><span><?php echo $this->__('Check status and balance') ?></span></span>
                        </button>
                        <?php if ($this->isStoreCreditEnabled()): ?>
                            <input type="hidden" value="0" name="is-gc-redeem" id="is-gc-redeem"/>
                            <button class="button redeem-gc-to-storecredit" id="redeem-gc-to-storecredit" onclick="AwGiftcardForm.redeem()" type="button" value="<?php echo $this->__('Redeem Gift Card') ?>">
                                <span><span><?php echo $this->__('Redeem Gift Card') ?></span></span>
                            </button>
                        <?php endif; ?>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <script type="text/javascript">
        var AwGiftcardForm = new VarienForm('aw_giftcard-form');

        AwGiftcardForm.redeem = function() {
            $('is-gc-redeem').value = 1;
            AwGiftcardForm.submit(this);
        }
    </script>
</div>