<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'customer/account/edit/'; ?>">
    <div class="title">
        <?php echo $this->__('My Account')?>
    </div>
    <ul>
        <li><?php echo $this->__('Change Password')?></li>
        <li><?php echo $this->__('Change Email Address')?></li>
        <li><?php echo $this->__('Delete Account')?></li>
    </ul>
    <div class="icon account"></div>
</a>
