<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'customer/address/'; ?>">
<div class="title"><?php echo $this->__('My Address Book')?></div>
<ul>
    <li><?php echo $this->__('Billing Address')?></li>
    <li><?php echo $this->__('Shipping Address')?></li>
</ul>
<div class="icon address"></div>
</a>
