<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'customercoupon/customer/index/'; ?>">
    <div class="title">
        <?php echo $this->__('My Coupons')?>
    </div>
    <ul>
        <li><?php echo $this->__('Used Coupons')?></li>
        <li><?php echo $this->__('Available Coupons')?></li>
    </ul>
    <div class="icon coupon"></div>
</a>
