<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'awgiftcard/card/check/'; ?>">
    <div class="title">
        <?php echo $this->__('My Gift Cards')?>
    </div>
    <ul>
        <li><?php echo $this->__('Recent Gift Cards')?></li>
        <li><?php echo $this->__('Gift Card Balance')?></li>
    </ul>
    <div class="icon giftcard"></div>
</a>
