<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'newsletter/manage/'; ?>">
<div class="title"><?php echo $this->__('My Newsletters')?></div>
<ul>
    <li><?php echo $this->__('Subscriptions')?></li>
    <li><?php echo $this->__('Unsubscribe')?></li>
    <li><?php echo $this->__('Archive')?></li>
</ul>
<div class="icon newsletter"></div>
</a>

