<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'sales/order/history/'; ?>">
<div class="title"><?php echo $this->__('My Orders')?></div>
<ul>
    <li><?php echo $this->__('Recent Orders')?></li>
    <li><?php echo $this->__('Open Orders')?></li>
    <li><?php echo $this->__('Returns')?></li>
    <li><?php echo $this->__('Delivery Subscriptions')?></li>
</ul>
<div class="icon orders"></div>
</a>
