<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'myproduct/product/index/'; ?>">
    <div class="title">
        <?php echo $this->__('My Products')?>
    </div>
    <ul>
        <li><?php echo $this->__('Purchase Details')?></li>
        <li><?php echo $this->__('Guarantree')?></li>
        <li><?php echo $this->__('Spares and Accessories')?></li>
        <li><?php echo $this->__('Instruction Manual')?></li>
        <li><?php echo $this->__('Reviews')?></li>
    </ul>
    <div class="icon product"></div>
</a>
