<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'wishlist'; ?>">
    <div class="title">
        <?php echo $this->__('My Wishlist')?>
    </div>
    <ul>
        <li><?php echo $this->__('View Wishlist')?></li>
        <li><?php echo $this->__('Share Wishlist')?></li>
    </ul>
    <div class="icon wishlist"></div>
</a>
