#tinybox {
    background: #fff !important;
    border: 10px solid #E3E3E3;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 2000;
}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {position: relative;}

/*tab design*/
.content-header {
    margin-bottom: 5px;
}
#pdf-invoice-design-top{
    height: 40px;
    width: 100%;
}
#pdf-invoice-design-content {
    height: 1169px;
    width: 100%;
}
#pdf-invoice-design-content-left {
    width: 0%;
    height: 100%;
    float: left;
}
#pdf-invoice-design-content-right {
    width: 100%;
    height: 1169px;
    float: left;
}
#pdf-invoice-design-content-right #canvas {
    width: 1052px;
    height: 1169px;
    float: left;
    border: 1px solid #c4c1c1;
}
#pdf-invoice-design-content-right #canvas iframe {
    border: none;
    overflow: scroll;
}
#pdf-invoice-design-top-button {
    height: 100%;
    width: 30%;
    margin-left: 10%;
}
#btn-edit-template {
    margin-top: 10px;
    float: left;
    width: 100px;
    height: 21px;
}

#btn-load-template {
    margin-top: 10px;
    float: left;
    padding-right: 200px;
    width: 100px;
    height: 21px;
}

/*popup chose when load template*/
.pdf-invoice-popup-load-template{
    width: 200px;
    height: 280px;
    float: left;
    margin: 5px;
    text-align: center;
    padding: 10px;
    background-color: #ebebeb;
}
.pdf-invoice-popup-load-template:hover{background-color: #cac6e6;}
.pdf-invoice-popup-load-template img:hover{}
.pdf-invoice-popup-load-template img{
    border: 1px solid #bbb;
    max-width: 200px;
    max-height: 242px;
}
.pdf-invoice-template-description{height:36px;}
#pdf-invoice-popup-load-template-ds-2{width: 600px;}


.wrap-title{
    width:100%;       
}
.wrap-title .template_color{
    float:left;
    width: 50%;
    color:#ff6c00;
    margin-right:20px;   
    text-align: left;
    display:inline; 
}
.wrap-title .template_color .title{
    float:left;
    width:100px;
}
.wrap-title .template_color .image{
    float:left;
    width:100px;

}
.box-image-view{
    height: 245px;
    overflow: hidden;
}
/*end*/

