/* ============================================ *
 * Footer
 * ============================================ */
.pre-footer .block {
	margin-bottom: 0px;
}

/* footer links */
.footer-links {
	padding-top: 50px;
	margin-bottom: 29px;
}
/* Social share */
.block-social {
	.block-title {
		float: left;
		margin-bottom: 5px;
		strong {
			line-height: 26px;
			font-weight: bold;
			color: $c-gray;
			font-size: 19px;
			text-transform: none;
		}
	}

	ul {
		clear: both;
		li {
			background-image: url("../images/social-sprite.jpg");
			background-repeat: no-repeat;
			float: left;
			margin-right: 5px;
			a {
				display: block;
				text-indent: -9999px;
				width: 30px;
				height: 30px;
			}
			&.tw {
				background-position: 0px -30px;
			}

			&.gp {
				background-position: 0px -60px;
			}
		}
	}
}
.footer {
	border-top: none;
	padding-top: 0px;


	div.footer-col {
		display: inline-block;
		text-transform: none;
		width: 100%;
		margin-bottom: 0px;
		cursor: pointer;
		vertical-align: top;

		ul {
			display: none;
		}

		li:before {
			background: sprite($mobile-icons, footer_arrow) no-repeat;
			content: " ";
			height: 9px;
			width: 9px;
			position: absolute;
			top: 5px;
			left: 0px;
			display: block;
		}

		li {
			padding-left: 20px;
			position: relative;
			a {
				font-size: 13px;
				color: $c-gray;
			}
		}

		.title {
			height: 77px;
			line-height: 77px;
			font-size: 22px;
			color: $c-gray;
			font-weight: bold;
			border-bottom: 1px solid #E8E8E8;
			&::after {
				content: "";
				display: inline-block;
				float: right;
				margin-top: 30px;
				background: sprite($mobile-icons, contact-accordion-arrow-grey) no-repeat;
				@include sprite-dimensions($mobile-icons, contact-accordion-arrow-grey);
			}
			&.active {
				border-bottom: none;
				+ ul {
					border-bottom: 1px solid #E8E8E8;
					padding-bottom: 20px;
					li {
						margin: 10px 0;
					}
				}
				&::after {
					background: sprite($mobile-icons, contact-accordion-arrow-grey-down) no-repeat;
					@include sprite-dimensions($mobile-icons, contact-accordion-arrow-grey-down);
				}
			}
		}
	}
	.footer-logo {
		display: block;
		width: 51px;
		height: 50px;
		background: $c-red url('../../default/images/footer-logo-small.png') no-repeat center center;
		position: absolute;
		top: 0px;
		left: -20px;

		a {
			position: relative;
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	address {
		border-top: none;
		font-size: 13px;
		line-height: 13px;
		font-weight: bold;
		color: #6C6E70;
		padding: 0px 0px;
		text-align: left;
		margin-top: 0px;
	}
	.links {
		width: 100%;
		font-size: 13px;
		font-weight: bold;
		text-transform: none;
		margin-bottom: 0;
		li {
			margin-top: 15px;
			line-height: 13px;
			padding: 0;
		}
		li.telephone {
			position: relative;
		}
		li.telephone::before {
			background: sprite($mobile-icons, telephone) no-repeat;
			@include sprite-dimensions($mobile-icons, telephone);
			content: "";
			display: inline-block;
		}
		a {
			padding-bottom: 15px;
			text-decoration: underline;
		}
	}
}

/* copyright, terms etc */
.footer-links-2 {
	max-width: $max-container-width;
	margin: 0 auto;
	* {
		display: inline-block;
	}
	li {
		width: auto;
	}
}

@include bp(min-width, $bp-xsmall+1) {
	.footer{
		.links li.telephone {
			display: block;
		}
	}
}

@include bp(min-width, $bp-medium+1) {
	.pre-footer {
		.block-social {
			float: left;
		}
		.block-subscribe {
			float: right;
			width: 70%;
		}
		#newsletter-validate-detail {
			float: right;
		}
	}

	.footer-links {
		margin: 0 auto 29px auto;
		width: 700px;
		padding-top: 45px;
	}

	.footer {
		div.footer-col {
			width: 33%;
			max-width: 230px;
			cursor: auto;
			.title {
				height: 60px;
				line-height: 60px;
				border-bottom: none;
				padding-top: 0px;
				margin-bottom: 0px;
				&::after {
					display: none;
				}
			}
		}
		.footer-logo {
			width: 74px;
			height: 72px;
			background: $c-red url('../../default/images/footer-logo.png') no-repeat center center;
			top: -30px;
			left: 0px;
		}
		.links ul {
			display: block;
			li {
				width: 33%;
				float: left;
				margin-top: 0px;
				text-align: left;
				a {
					padding-bottom: 0;
				}
			}
			li:first-child {
				padding-left: 20px;
			}
			li:last-child {
				text-align: right;
			}
		}
		.footer-links-2 {
			.links {
				padding: 0;
				margin-right: -10px;
			}
			li {
				padding-bottom: 20px;
				width: auto;
				&:first-child {
					padding-left: 0;
				}
				&.telephone {
					display: inline-block;
					padding: 0 30px 20px 30px;
				}
			}
		}
	}
}

@include bp(min-width, $bp-large+1) {
	.footer .footer-logo {
		top: -20px;
	}

	.footer-links {
		padding-top: 15px;
	}
	.footer .footer-links-2 {
		.links {
			padding: 0px 10px 0px 0px;
			margin-right: 3.125%;
		}
		li {
			&.telephone {
				padding: 0 0 20px 60px;
				margin-top: -2px;
			}
			&:last-child {
				float: right;
				margin-right: 0px;
			}
		}
	}
}
