
/*=================================================================
/* Header Main Navigation buttons
/* Mobile Screen
/* =============================================================== */

/*links*/
.skip-links {
    border: none;
    clear: none;
    .skip-link {
        border: none;
        height: 50px;
        width: 50px;
        .label {
            display: none;
        }
        &.skip-nav {
            margin-left: 50px;
            .label {
                display: none;
            }
            .icon-block {
                height: 50px;
                .icon {
                    margin-right: 0;
                    background: sprite($mobile-icons, mobile-menu) no-repeat;
                    @include sprite-dimensions($mobile-icons, mobile-menu);
                }
            }
            &.skip-active {
                background-color: white;
            }
        }
    }
}

/*dropdown content*/
#header-nav.skip-active {
    padding: 10px 0px;
    ol.nav-primary {
        font-size: 16px;
        .nav-label {
            font-weight: bold;
            color: $c-gray;
            padding: 10px 20px;
        }
        li.level0 > a.level0 {
            text-transform: none;
            line-height: 40px;
            border: none;
            padding: 0 20px;
        }
    }
    &::after {
        content: "";
        display: block;
        background: sprite($mobile-icons, nav-down-arrow) no-repeat;
        @include sprite-dimensions($mobile-icons, nav-down-arrow);
        position: absolute;
        top: 50px;
        left: 67px;
    }
}

/*=================================================================
/* Header Main Navigation buttons
/* Tablet Screen
/* =============================================================== */
@include bp(min-width, $bp-xsmall + 1) {
    .skip-links .skip-link {
        width: 120px;
        .label {
            display: inline-block;
        }
        &.skip-nav {
            width: 50px;
        }
    }
}

/*=================================================================
/* Header Main Navigation buttons
/* Large Screen
/* =============================================================== */
@include bp(min-width, $bp-medium + 1) {
    .skip-links {
        clear: both;
        height: auto;
        .skip-link {
            height: auto;
            width: auto;
            .label {
                display: inline-block;
            }
            &.skip-active::after {
                display: none;
            }
        }
    }
    .nav-label {
        display: none;
    }
}
