/* ============================================ *
 * Product Registration link
 * ============================================ */
.page-header-container .account-cart-wrapper {
    a.skip-registration {
        right: 0;
        padding: 0;
        clear: none;
        position: absolute;
        top: 0px;
        background-color: white;
        z-index: 99;
        .icon {
            background: sprite($mobile-icons, login) no-repeat;
            @include sprite-dimensions($mobile-icons, login);
        }
    }
}
/* ============================================ *
 * Product Registration link - Large Screens
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    .page-header-container .account-cart-wrapper a.skip-registration {
        position: static;
        float: right;
        margin-right: -10px;
    }
}

