.skip-search:hover:not(.skip-active) .icon,
.skip-search .icon {
    background: sprite($mobile-icons, search) no-repeat;
    @include sprite-dimensions($mobile-icons, search);
}
.skip-link.skip-search {
    position: absolute;
    right: 50px;
    &.skip-active {
        background-color: white;
    }
}

.skip-search.skip-active::after {
    content: "";
    display: block;
    background: sprite($mobile-icons, nav-down-arrow) no-repeat;
    @include sprite-dimensions($mobile-icons, nav-down-arrow);
    position: absolute;
    top: 50px;
    left: 18px;
}

/* ============================================ *
 * Search - Skip Content - Tablet Screens
 * ============================================ */
@include bp(min-width, $bp-xsmall + 1) {
    .skip-links .skip-link.skip-search {
        right: 100px;
        &.skip-active::after {
            left: 55px;
        }
    }
}

/* ============================================ *
 * Search - Skip Content - Medium Screens
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	#header-search {
        max-width: 150px;
        right: 130px;
        top: 30px;
        width: 15%;
        input#search {
            height: 30px;
/*            space for the search icon */
            padding-left: 27px;
        }
        #search_mini_form{
            .input-box {
                position: relative;
/*                remove the old icon and add GO in its place */
                .search-button::before {
                    background: none;
                    content: "GO";
                    width: 30px;
                    height: 30px;
                    color: #fff;
                    text-indent: 0;
                    line-height: 30px;
                    font-weight: bold;
                    margin: 0;
                    top: 0;
                    left: auto;
                    right: 0;
                    background-color: $c-gray-2;
                    &:hover {
                        opacity: 0;
                    }
                }
	            .ui-input-clear-hidden {
		            display: none;
	            }
/*                button behind the text */
                .search-button {
                    width: 30px;
                    height: 30px;
                }
/*                add new icon */
                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 7px;
                    left: 5px;
                    background: sprite($mobile-icons, search) no-repeat;
                    @include sprite-dimensions($mobile-icons, search);
                }
            }
        }
	}
}

/* ============================================ *
 * Search - Skip Content - Large Screens
 * ============================================ */
@include bp(min-width, $bp-large + 1) {
    #header-search {
        width: 25%;
    }
}

/* ============================================ *
 * Search - Skip Content - Large Screens
 * ============================================ */
@include bp(min-width, $bp-xlarge + 1) {
    #header-search {
        max-width: 319px;
        right: 130px;
    }
}
