/* ============================================ *
 * Cart link - Skip Content - General
 * ============================================ */
.page-header-container .header-minicart {
    .skip-link,
    .skip-link:hover {
        z-index: 9;
        background-color: white;
        .icon,
        .icon:hover {
            background: sprite($mobile-icons, basket) no-repeat;
            @include sprite-dimensions($mobile-icons, basket);
        }
    }
    .skip-cart {
        .count {
            position: absolute;
	        top: 6px;
        }
    }
    .minicart-wrapper {
	    .mini-products-list {
		    max-height: 190px;
		    overflow: auto;
		    overflow-x: hidden;
	    }
        background-color: $c-gray-4;

    }
}

/* ============================================ *
 * Cart link - Skip Content - Large Screens
 * ============================================ */
@include bp(min-width, $bp-xlarge + 1) {
    .page-header-container .header-minicart {
        .skip-link {
            width: 110px;
        }
        #header-cart.skip-active {
            top: 40px;
        }
    }
}

/* ============================================ *
 * Minicart - mobile screen
 * ============================================ */
.header-minicart .skip-active+#header-cart {
    background: none repeat scroll 0% 0% white;
    margin-bottom: 0;
}
.skip-link.skip-cart {
    position: absolute;
    right: 0;
}

.header-minicart #header-cart.skip-active {
    background-color: white;
    &::after {
        content: "";
        display: block;
        background: sprite($mobile-icons, nav-down-arrow) no-repeat;
        @include sprite-dimensions($mobile-icons, nav-down-arrow);
        position: absolute;
        top: 50px;
        right: 18px;
    }
    * {
        color: $c-gray;
        text-transform: none;
    }
	#minicart-success-message {
		display: block;
		position: absolute;
		top: 45px;
		z-index: 9;
	}
	.qty {
		color: darken($c-gray, 50%);
	}
    .block-subtitle {
        color: transparent;
        a {
            color: $c-gray;
        }
        .close {
            top: 0;
            right: 5px;
        }
    }
    .mini-products-list {
        li {
            padding: 0;
            .info-wrapper .qty {
                padding: 0;
                border: none;
                text-align: left;
                background-color: $c-gray-4;
            }
            tr * {
                font-size: $f-size-xs;
                line-height: 12px;
            }
            .btn-edit {
                display: none;
            }

            .remove {
                display: inline-block;
                float: right;
                margin-top: -33px;
                margin-right: 15px;
                &::before {
                    content: "";
                    display: inline-block;
                    margin-bottom: -5px;
                    margin-right: 3px;
                    background: sprite($mobile-icons, close) no-repeat;
                    @include sprite-dimensions($mobile-icons, close);
                }
            }
        }
    }
    .minicart-actions {
        padding-bottom: 0;
        li {
            display: block;
            margin: 0px 0px 10px 0px;
            a {
                color: white;
                text-transform: uppercase;
                font-weight: bold;
            }
            a.cart-link {
                position: static;
                background-color: $c-red;
                line-height: normal;
                width: 100%;
                &:hover, &:active {
                    background-color: darken($c-red, 5);
                }
            }
            a.checkout-button {
                background-color: $c-green;
                &:hover, &:active {
                    background-color: darken($c-green, 5);
                }
            }
        }
    }
}

/* ============================================ *
 * Minicart - large mobile screen
 * ============================================ */
@include bp(min-width, $bp-xsmall + 1) {
    .skip-link.skip-cart {
        .count {
            margin-left: 5px;
        }
    }
    .header-minicart #header-cart.skip-active {
        &::after {
            right: 45px;
        }
	    .minicart-wrapper {
		    .mini-products-list {
			    max-height: 315px;
		    }
	    }
        .minicart-actions {
            padding-bottom: 10px;
            .checkout-types {
                width: 100%;
            }
            li {
                display: inline-block;
                width: 50%;
                margin: 0;
                float: left;
                .cart-link, .checkout-button {
                    max-width: 145px;
                }
                .cart-link {
                    float: left;
                }
                .checkout-button {
                    float: right;
                }
            }
        }
    }
}

/* ============================================ *
 * Minicart - large screen
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    .skip-link.skip-cart {
        position: static;
        .count {
	        border-radius: 12px;
	        display: inline-block;
	        right: -6px;
	        position: relative;
	        z-index: 5;
	        width: 22px;
	        height: 22px;
	        background: rgba(88, 88, 91, 0.9) none repeat scroll 0% 0%;
	        color: #FFF;
	        font-size: 11px;
	        line-height: 22px;
	        text-align: center;
	        &::before, &::after {
		        content: none;
	        }
        }
    }
    .header-minicart {
        padding-right: 10px;
        .skip-active + #header-cart {
            background: none repeat scroll 0% 0% white;
        }
        #header-cart.skip-active {
            background: none repeat scroll 0% 0% #FFF;
            z-index: 999;
	        #minicart-success-message {
		        top: 0;
	        }
            .minicart-wrapper {
                background: white;
            }
            .mini-products-list {
                padding: 0px 10px 0px;
                li {
                    padding: 10px 0 0 0;
                    margin: 0;
                    .info-wrapper .qty {
                        background-color: white;
                    }
                }
                .product-image {
                    /*overriding a hardcoded 50% and left: -25px; */
                    margin-left: 0 !important;
                    left: 0 !important;
                    margin-right: 10px;
                    margin-top: 5px;
                }
                .product-details {
                    margin-left: 0px;
                }
            }
            .minicart-actions {
                li {
                    margin: 0;
                    padding: 0;
                    width: 48.5%;
                    float: left;
                    &::after {
                        display: none;
                    }
                    &:first-child {
                        margin-right: 3%;
                    }
                }
            }
            &::after {
                display: none;
            }
        }
    }
}

/* ============================================ *
 * Minicart - large screen
 * ============================================ */
@include bp(min-width, $bp-xlarge + 1) {
    .header-minicart {
        padding-right: 0px;
    }
}
