.page-header-container .account-cart-wrapper {
    a.skip-account {
        padding: 0;
        clear: none;
        position: absolute;
        right: 0px;
        top: 0px;
        .icon {
            background: sprite($mobile-icons, login) no-repeat;
            @include sprite-dimensions($mobile-icons, login);
        }
    }
    .skip-account {
        background-color: white;
        &.skip-active {
            background: none repeat scroll 0% 0% white;
        }
        &.skip-active::after {
            content: "";
            display: block;
            background: sprite($mobile-icons, nav-down-arrow) no-repeat;
            @include sprite-dimensions($mobile-icons, nav-down-arrow);
            position: absolute;
            top: 50px;
            right: 18px;
        }
    }
}

#header-account.skip-active .links {
    padding: 10px 0px;
    ul {
        font-size: 16px;
        li a {
            text-transform: none;
            line-height: 40px;
            border: none;
            padding: 0 20px;
            &:hover, &:active {
                color: $c-gray;
            }
        }
    }
}

/* ============================================ *
 * Account - Skip Content - Tablet Screens
 * ============================================ */
@include bp(min-width, $bp-xsmall + 1) {
    .page-header-container .account-cart-wrapper .skip-account {
        &.skip-active::after {
            right: 45px;
        }
    }
}


/* ============================================ *
 * Account - Skip Content - Large Screens
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    #header-account.skip-active {
        top: 65px;
        right: 0;
        .links a {
            &:hover, &:active {
                text-decoration: none;
                background-color: $c-gray-4;
            }
        }
        &::after {
            display: none;
        }
    }
    .page-header-container .account-cart-wrapper {
        a.skip-account {
            position: static;
        }
    }
}
