/* ============================================ *
 * Header
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.page-header {
		max-width: 100%;
		padding: 0 0px;
	}
}

/* ============================================ *
 * Logo
 * ============================================ */
.logo {
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	padding: 0;
	width: 50px;
	line-height: 50px;
	background-color: $c-red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

@include bp(max-width, $bp-medium) {
	.logo .small {
		display: inline;
	}
}

.logo img {
	vertical-align: middle;
	text-align: center;
}

/* ============================================ *
 * Logo - large screen
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
	.logo {
        position: static;
		max-width: 90px;
		min-width: 90px;
		width: 90px;
		height: 90px;
		line-height: 90px;
	}

	.logo .large {
		display: inline;
	}
}

/*=================================================================
/* Header right elements - cart and account (Help to be confirmed)
/* Medium screen
/* =============================================================== */
.page-header-container {
    height: auto;
    position: relative;
    z-index: 99;
}
.skip-content.skip-active {
    background-color: $c-gray-4;
    padding: 10px 0 0 0;
    border-bottom: 1px solid $c-gray-2;
}
#header .skip-link {
    line-height: 47px;
}

@include bp(min-width, $bp-small + 1) {
    .account-cart-wrapper {
        font-family: $f-stack-header;
        top: 20px;
        right: 20px;
        .skip-link,
        .skip-link:hover {
            background: none;
            text-decoration: none;
            text-transform: none;
            color: $c-gray-3;
            font-size: 13px;
        }
    }
}
@include bp(min-width, $bp-medium + 1) {
    .page-header-container {
        height: auto;
        position: static;
    }
}

/*=================================================================
/* Header right elements - cart and account (Help to be confirmed)
/* xLarge screen
/* =============================================================== */
@include bp(min-width, $bp-xlarge + 1) {
    .account-cart-wrapper {
        right: 20px;
    }
}

/*=================================================================
/* Header Info Banner
/* =============================================================== */
.header-info-banner{
  .banner-text{
    padding: 7px 30px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    max-width: 1000px;
    width: 100%;
    min-height: 40px;
    @include bp(max-width, $bp-medium) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @include bp(max-width, $bp-medium) {
    &.hide-on-mobile{
      display: none;
    }
  }
}
