/* ============================================ *
 * Nav Primary
 * ============================================ */
.nav-top {
    display: none;
    position: absolute;
    left: 90px; /*149px;*/
    top: 0px;

    li {
        float: left;
        line-height: 90px;
        margin-left: 20px;

        &.active a {
            color: $c-red;
        }

        &.products {
            position: relative;
        }
    }

    a {
        font-size: $f-size-s;
        font-weight: bold;
        color: $c-gray;
    }
}

.nav-primary {
    .nav-cat a {
        font-weight: normal;
        line-height: 39px;
        padding: 0px 20px;
    }
    a {
        color: $c-gray;
        font-weight: normal;
    }

    li a img {
        margin: 0 auto;
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
}

#header-nav.skip-active ol.nav-primary {
    .machines li {
        border-bottom: 1px solid white;
    }
    .nav-cat a {
        font-weight: normal;
        line-height: 44px;
        padding: 0px 20px;
    }
    .nav-support {
        .nav-label {
            padding: 0;
        }
        a {
            line-height: 44px;
            padding: 0px 20px;
            &:hover, &:active {
                background-color: #F4F4F4;
            }
        }
    }
}

/* ============================================ *
 * Nav Primary - Small View Port
 * ============================================ */
@include bp(max-width, $bp-medium) {
    .nav-primary {
        li a img {
            display: none !important;
        }
    }
}

/* ============================================ *
 * Nav Primary - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    .nav-top {
        display: block;
    }

    .nav-cat {
        display: none;
        position: relative;
    }

    #nav {
        background-color: $c-gray-4;
        position: absolute;
        z-index: 99;
        width: 100%;
    }

    .nav-primary {
        display: none;
        margin-top: 0px;
        max-height: 321px;
        height: 321px;

        div.nav-cat {
            &::before {
                background: sprite($mobile-icons, products_arrow_down) no-repeat;
                content: " ";
                width: 36px;
                height: 18px;
                position: absolute;
                display: block;
                z-index: 999;
            }
            a {
                font-weight: normal;
                line-height: 39px;
                padding: 0 0 0 19px;
            }
        }
        .machines li {
            border-bottom: none;
        }
        li {
            height: 321px;
            width: 16.5%;
            text-align: center;

            &.menu-active {
                background-color: $c-gray-5;
            }

            a {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                line-height: 1;
                padding: 0px;
            }

            a.level0 {
                padding: 23px 0px 0px 0px;
            }

            &.level0 > a {
                text-transform: none;
                display: block;
                float: left;
            }

            &.nav-2 a img {
                margin-top: 120px;
            }

            &.nav-6 a img {
                margin-top: 135px;
            }

            a:hover, a:active {
                color: $c-red;
                background-color: $c-gray-5;
            }

            a {
                div {
                    position: absolute;
                    bottom: 24px;
                    width: 100%;
                }

                span {
                    position: relative;
                    display: block;
                }

                span span {
                    margin: 0 auto;
                    max-width: 80px;
                    line-height: 18px;
                    font-size: $f-size-xl;
                }
            }
        }
    }

    #header-nav {
        border-bottom: none;
    }
}

/* ============================================ *
 * Nav Primary - Extra Large View Port
 * ============================================ */
@include bp(min-width, $bp-large + 1) {
    .nav-top {
        li {
            margin-left: 50px;
        }

        a {
            font-size: $f-size-xl;
        }
    }
    #nav {
        padding-left: 198px;
        li {
            width: 13%;
        }
    }
}

/* ============================================ *
 * Nav Spares / Support - General
 * ============================================ */
.nav-spares, .nav-support {
    ul li a {
        padding-left: 19px;
    }

    ul.machines li, ul.parts li {
        display: none;
    }

    ul.machines li.first, ul.parts li.first {
        display: block;
    }
}

.no-touch .nav-primary .nav-support {
    a:hover {
        background-color: transparent;
    }
}

/* ============================================ *
 * Nav Spares / Support - Large View Port
 * ============================================ */
@include bp(min-width, $bp-medium + 1) {
    .nav-spares, .nav-support {
        ul {
            float: left;
            width: 321px;
            height: 321px;
            padding-top: 28px;

            &:hover {
                background-color: $c-gray-5;
            }

            li {
                height: auto;
                text-align: left;
                background: none;

                a {
                    font-size: 16px;
                    font-weight: bold;
                }

                a:hover, a:active {
                    background-color: transparent;
                }
            }
        }

        ul.machines li, ul.parts li {
            display: block;
        }
    }

    #nav {
        ul {
            li {
                width: 100%;
            }
        }
    }

    .nav-products {
        &::before {
            left: 122px;
        }
    }

    .nav-spares {
        &::before {
            left: 220px;
        }
    }

    .nav-support {
        &::before {
            left: 345px;
        }
    }
}

/* ============================================ *
 * Nav Spares / Support - xLarge View Port
 * ============================================ */
@include bp(min-width, $bp-large + 1) {
    .nav-products {
        &::before {
            left: -40px;
        }
    }

    .nav-spares {
        &::before {
            left: 110px;
        }
    }

    .nav-support {
        &::before {
            left: 290px;
        }
    }
}
