
body:not(.checkout-onepage-index) {
	header {
		position: relative;
		height: 50px;
		.sticky-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: white;
			z-index: 99;
			box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
			#header-nav.skip-active {
				height: 515px;
			}
		}
	}
	.breadcrumbs {
		position: relative;
		min-height: 40px;
	}
}

@include bp(max-width, 330px) {
	body:not(.checkout-onepage-index) {
		header .sticky-container #header-nav.skip-active {
			overflow: scroll;
			overflow-y: scroll;
			overflow-x: hidden;
			height: 430px;
			ol.nav-primary {
				li.level0 > a.level0,
				.nav-cat a,
				.nav-support a {
					line-height: 30px;
				}
			}
		}
	}
}

//------------------------------------
// Sticky nav on large tablets and desktop
//
@include bp(min-width, $bp-medium + 1) {
	body:not(.checkout-onepage-index) {
		header {
			height: 90px;
			.sticky-container {
				height: 90px;
				background-color: white;
				box-shadow: none;
				#nav {
					top: 89px;
				}
			}
		}
		.breadcrumbs {
			.sticky-container {
				position: fixed;
				top: 89px;
				left: 0;
				width: 100%;
				background-color: $c-gray-4;
				z-index: 98;
			}
		}
	}
	.catalog-product-view #nav-wrap .product-feature-nav.fixed {
		top: 128px;
		z-index: 98;
	}
}