@import "framework";
@import "core";
@media screen and (max-width: $bp-xsmall+1) {
  .hide-for-small {
    display: none !important;
  }

  .show-for-small {
    display: inherit !important;
  }

  div#arrow-up {
    cursor: pointer;
    background: url('../images/oreck/320/arrow-icon.png') no-repeat;
    width: 45px;
    height: 45px;
    position: fixed;
    right: -200px;
    top: 75%;
  }

  .cms-oreck {
    .header, .footer, .footer-service-links, .footer-enewsletter-links, #nav, .before-main,
    .block-row, .wrapper, .main {
      width: 100%;
      min-width: 0;
    }

    div.footer-before-container, div.footer-container, div.std, div.quick-access {
      display: none;
    }

    div.header {
      /*width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      min-height: 0;
      height: 68px;*/

      div.quick-access {
        div.store-switcher, a.top-cart, div.top-login, form#search_mini_form {
          display: none;
        }
      }

      div.add-to-cart {
        background: url('../images/oreck/320/buy_now_button.jpg') no-repeat;
        width: 68px;
        height: 68px;
        margin: 0 auto;
        cursor: pointer;
      }

      div.menu-icon {
        background: url('../images/oreck/320/navigation_button.jpg') no-repeat;
        width: 68px;
        height: 68px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }

      div.menu-container {
        width: auto;
        overflow-y: auto;
        overflow-x: hidden;
        display: none;
        left: auto;
        right: 0;
        top: 68px;
        bottom: auto;

        & > ul > li {
          float: none;
          background: #989C97;
          color: #fff;
          border-bottom: solid 1px #000;
          height: auto;
          text-align: left;
          line-height: 30px;

          &:first-child {
            border-top: solid 1px #000;
          }

          div.nav-container {
            display: block !important;
            background: #989C97;
            position: relative;
            top: auto;
            left: auto;
          }

          a {
            color: #fff;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 30px;
            height: 30px;
            text-align: left;

            &:hover {
              color: #fff;
            }
          }
        }

        & > ul > li.current a {
          background: inherit;
          color: inherit;
        }

        ul {
          li {
            float: none;

            ul#nav {
              padding: 0;

              li {
                float: none;
                position: relative;
                display: block;
                width: auto;
                padding: 0;
                line-height: 30px;

                &.level-top {
                  height: auto;
                  width: auto;
                }

                &:hover {
                  background: #DADADA;
                  text-decoration: none;
                }

                a {
                  background-image: none !important;
                  display: block;
                  width: 100%;
                  text-align: left;
                  border-top: solid 1px #000;

                  &:hover {
                    background: #DADADA;
                    text-decoration: none;
                  }

                  span {
                    position: inherit;
                    left: auto;
                    top: auto;
                    width: 100%;
                    display: block;
                    font-size: 13px;
                    min-height: 30px;
                    line-height: 30px;
                    padding: 0 15px;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: left;
                    margin-left: 20px;
                    font-weight: normal;

                    &:hover {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

    div.main-container {
      margin-top: 68px;
      width: 100%;

      div.main {
        width: 100%;

        div.oreck-main {

          div.partials {
            margin: 0;
            padding: 0 10px;
            margin-left: 0;
            margin-right: 0;

            .partial-content {
              margin-top: 30px;
              width: 100%;

              div.image {
                margin-bottom: 20px;

                .caption {
                  margin-left: 10px;
                }
              }
            }

            .luftreinigung {
              .video {
                text-align: center;
                width: 100%;

                video {
                  background: url('../images/oreck/320/video_placeholder.jpg') no-repeat;
                  width: 320px;
                  height: 247px;
                }
              }

              .luftreinigung-content {
                width: auto;
                display: block;
                margin-left: 0;

                ul {
                  margin-top: 0;
                  margin-left: 17px;
                  li {
                    font-size: 17px;
                    line-height: 1.8em;
                  }
                }
              }
            }

            div.features {
              margin: 0 auto;

              div.image {
                background: url('../images/oreck/320/oreck_top.png') no-repeat top center;
                width: 100%;
                height: 299px;
                margin: 0 auto;
                float: none;
              }

              .features-content {
                float: none;
                display: block;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
                margin-top: 30px;
                background: url('../images/oreck/320/remote_control.png') no-repeat 140px bottom;
                min-height: 345px;
                font-size: 17px;
                box-sizing: border-box;

                ul {
                  margin-left: 17px;
                }
              }

              div.icons {
                background: url('../images/oreck/320/icons.jpg') no-repeat center top;
                width: 292px;
                height: 290px;
                margin: 30px auto 0 auto;
              }
            }

            div.technologie {
              font-size: 17px;

              div.illustration {
                background: url('../images/oreck/320/technology_image.png') no-repeat center top;
                padding-top: 1px;

                dl {
                  margin: 460px 10px 0 10px;
                  font-size: 17px;
                }

                .caveats {
                  position: relative;
                  margin: 0 10px;
                }
              }
            }

            div.reinigung {
              width: 100%;

              div.image {
                background: url('../images/oreck/320/cleaning_image.jpg') no-repeat;
                width: 257px;
                height: 359px;
                margin: 0 auto;
                display: block;
              }

              .reinigung-content {
                display: block;
                margin-left: 27px;
                margin-right: 10px;

                ol {
                  font-size: 17px;
                  line-height: 1.8em;
                  margin-top: 30px;
                }
              }
            }

            div.faqs {
              dl {
                font-size: 17px;
                margin: 0 10px;
                line-height: 1.8em;

                dd {
                  margin-top: 0.5em;
                  margin-bottom: 30px;
                }
              }
            }
          }
        }

        h2.main-header {
          display: none;
        }

        h2 {
          font-size: 23px;
          font-weight: normal;

          sup {
            font-size: 18px;
          }
        }

        .hero {
          background-image: none;
          min-height: 0;

          div.social-share {
            background-position: top right;
            position: relative;
            width: 95%;
            height: 26px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            .stArrow {
              background: url('../images/oreck/320/share_icons-clean.png') no-repeat;
              text-align: right;
              height: 26px;
              box-sizing: border-box;
              padding-top: 2px;
            }

            .st_sharethis_hcount {
              span.st-sharethis-counter {
                display: none;
              }

              .stArrow {
                padding-left: 100px;
              }
            }

            .st_facebook_hcount {
              .st-facebook-counter {
                display: none;
              }

              .stArrow {
                padding-left: 60px;
                background-position: 1px -26px;
              }
            }

            .st_googleplus_hcount {
              .stButton_gradient {
                display: none;
              }

              .stArrow {
                padding-left: 45px;
                background-position: 1px -52px;
              }
            }
          }
        }

        .hero-mini {
          margin-top: 30px;

          .image {
            background: url('../images/oreck/320/lifestyle_image.jpg') no-repeat top right;
            width: 100%;
            height: 240px;
          }
        }
      }

      div.menu-left {
        width: 100%;

        ul.menu-left {
          li {
            a {
              font-size: 20px;
              text-align: center;
            }
          }
        }
      }
    }

    div.footer-mobile {
      width: 210px;
      margin: 0 auto;
      padding-bottom: 20px;

      a {
        color: #cf202e;
        font-size: 12px;
      }

      .left {
        width: 50%;
        display: inline-block;
        text-align: left;
        padding-left: 7px;
        box-sizing: border-box;
      }

      .right {
        width: 50%;
        display: inline-block;
        text-align: right;
        padding-right: 7px;
        box-sizing: border-box;
      }
    }
  }
}

@media screen and (max-width: 220px) {
  .cms-oreck div.main-container div.main div.oreck-main div.partials div.features .features-content {
    min-height: 640px;
    background-position: right bottom;
  }
}