.hide-for-large {
  display: none;
}

.show-for-large {
  display: inherit;
}

.clearer {
  clear: both;
}

/** Clearing the page **/
.before-main-container {
  display: none;
}

.cms-oreck {
  color: #253746;

  sup {
    line-height: 100%;
  }

  /*.header, .footer, .footer-service-links, .footer-enewsletter-links, #nav, .before-main, .block-row {
    width: 940px;
  }

  .header .quick-access {
    width: 830px;
  }*/

  h2 {
    font-size: 50px;
    color: #253746;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;

    &.orig-case {
      text-transform: none;
    }

    sup {
      font-size: 30px;
    }
  }

  div.main {
    padding: 0px;
    width: 940px;
  }

  ul#admin_messages {
    margin-bottom: auto;
  }

  div.menu-left {
    width: 200px;

    ul.menu-left li {
      background: #253746;
      padding: 10px;
      text-align: right;
      border-bottom: 1px solid #d9d9d6;

      &:last-of-type {
        border-bottom: none;
      }

      a {
        color: #d9d9d6;
        font-size: 12px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .oreck-main {
    .partial-content {
      margin-top: 50px;

      div.image {
        .caption {
          margin-left: 30px;
        }
      }
    }

    .hero {
      position: relative;
      background: url('../images/oreck/940/lifestyle_image.jpg') no-repeat top right;
      width: 100%;
      min-height: 598px;

      div.add-to-cart {
        background: url('../images/oreck/940/buy_now_button.jpg') no-repeat;
        width: 56px;
        height: 56px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 200;
      }

      div.social-share {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 23px;

        .stArrow {
          background: url('../images/oreck/940/share_icons-clean.png') no-repeat;
          text-align: right;
          height: 23px;
        }

        .stButton {
          margin-left: 0;
          margin-right: 0;
        }

        .st_sharethis_hcount {
          span.st-sharethis-counter {
            display: none;
          }

          .stArrow {
            padding-left: 90px;
          }
        }

        .st_facebook_hcount {
          .st-facebook-counter {
            display: none;
          }

          .stArrow {
            padding-left: 50px;
            background-position: 1px -23px;
          }
        }

        .st_googleplus_hcount {
          .stButton_gradient {
            display: none;
          }

          .stArrow {
            padding-left: 35px;
            background-position: 1px -46px;
          }
        }
      }
    }

    .partials {
      margin: 0 80px;
    }

    .luftreinigung {
      div.video {
        display: inline-block;

        video {
          background: url('../images/oreck/940/video_placeholder.jpg') no-repeat;
          width: 254px;
          height: 195px;
        }
      }

      .luftreinigung-content {
        margin-left: 30px;
        display: inline-block;

        ul  {
          margin-top: -3px;

          li {
            font-size: 18px;
            list-style-type: disc;
            padding-bottom: 8px;
          }
        }
      }
    }

    .features {
      div.image {
        background: url('../images/oreck/940/oreck_top.png') no-repeat;
        width: 267px;
        height: 266px;
        float: left;
      }

      .features-content {
        float: right;
        width: 450px;
        font-size: 18px;
        margin-left: 40px;
        min-height: 261px;
        background: url('../images/oreck/940/remote_control.png') no-repeat right 30px;

        ul {
          list-style-type: disc;
          line-height: 1.8em;
          max-width: 295px;

          ul {
            list-style-type: none;
            margin-left: 20px;

            li span.icon {
              width: 20px;
              height: 18px;
              background: url('../images/oreck/940/tick.png');
              margin-right: 10px;
              display: inline-block;
            }
          }
        }
      }

      div.icons {
        margin-top: 60px;
        background: url('../images/oreck/940/icons.jpg') no-repeat;
        width: 100%;
        min-height: 196px;
      }
    }

    .technologie {
      .illustration {
        background: url('../images/oreck/940/technology_image.png') no-repeat right 10px;
        min-height: 465px;
        margin-top: 20px;
        position: relative;

        dl {
          font-size: 18px;
          line-height: 1.8em;
          counter-reset: illustration-counter;
          max-width: 425px;

          dt {
            margin-left: 2em;
            font-weight: bold;
            position: relative;

            &:before {
              content: counter(illustration-counter);
              counter-increment: illustration-counter;
              position: absolute;
              left: -1.7em;
              top: 0;
              font-weight: bold;
              background-color: #a5dfd3;
              padding: 0 0.3em;
            }
          }

          dd {
            margin-left: 2em;
            margin-bottom: 20px;
          }
        }

        .caveats {
          font-size: 12px;
          position: relative;
          bottom: 0;
        }
      }

      h3 {
        font-size: 24px;
        font-weight: normal;
        text-transform: none;
        color: #253746;
        text-align: center;
        width: 100%;
        margin-top: 50px;
      }

      /*.truman-cell-image {
        background: url('../images/oreck/940/function_illustration.jpg') no-repeat;
        width: 778px;
        height: 613px;
      }*/
    }

    .reinigung {
      .image {
        background: url('../images/oreck/940/cleaning_image.jpg') no-repeat;
        width: 257px;
        height: 359px;
        display: inline-block;
      }

      .reinigung-content {
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;
        max-width: 460px;

        ol {
          list-style-type: decimal;
          font-size: 18px;
          line-height: 1.8em;

          li {
            margin-bottom: 1em;
          }
        }
      }
    }

    .faqs {
      dl {
        counter-reset: faqs;
        font-size: 18px;
        line-height: 1.8em;

        dt {
          font-weight: bold;

          &:before {
            content: counter(faqs) ". ";
            counter-increment: faqs;
          }
        }

        dd {
          margin-bottom: 20px;
        }
      }
    }
  }
}