<div id="order-confirmation">
    <div class="order-success" <?php if ( ! $this->hasOrderProcessed()){ ?>style="display: none;"<?php } ?>>
        <h3><?php echo $this->__('Order Success') ?></h3>
    </div>

    <div class="order-failure" <?php if ( ! $this->hasOrderFailed()){ ?>style="display: none;"<?php } ?>>
        <a href="<?php echo Mage::getUrl('checkout/onepage', array('_secure' => true)) ?>" class="btn btn-try-again">
            <?php echo $this->__('Try Again') ?>
        </a>

        <div class="title">
            <?php echo $this->getResponseMessage(); ?>
        </div>
    </div>
</div>