<?php if($this->isVisible()) { ?>
    <div class="control-group">
        <label class="control-label" for="contactDetails_channel">
            <?php echo $this->getTitle(); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <select id="contactDetails_channel" name="contact_details[channel]" required class="span4">
                <option value="">[ <?php echo $this->getDefaultOption(); ?> ]</option>
                <?php foreach ($this->getChannelOptions() as $channel) { ?>
                <option value="<?php echo $channel ?>">
                    <?php echo $this->__($channel); ?>
                </option>
                <?php } ?>
            </select>
        </div>
    </div>

    <?php if($this->isAgentPromptRequired()) { ?>
        <div class="control-group">
            <label class="control-label" for="contactDetails_agent">
                <?php echo $this->__('Agent'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="contactDetails_agent" type="text" name="contact_details[agent]" placeholder="Agent" required class="span4">
            </div>
        </div>
    <?php } ?>
<?php } ?>