<?php if (!$this->getRemoveForm()): ?>
<form id="billing-details-form" class="checkout-form form-horizontal" novalidate="novalidate" action="post" name="checkout-billing-details">
<?php endif ?>
<h2><?php echo $this->__('Billing Address') ?></h2>
<div class="billing-form">
    <div class="warning-bar">
        <label class="radio">
            <input id="address_billing_useDeliveryAddress" type="checkbox" name="address[delivery][same_as_billing]" class="ignore checkbox btn-use-delivery" value="1">
            <span class="checkbox-label"><?php echo $this->__('Use delivery address as billing address'); ?></span>
        </label>
    </div>

    <div class="clearfix"></div>

    <div class="control-group control-group-search">
        <label class="control-label" for="address_billing_postcode">
            <?php echo $this->__('Postcode'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">

            <div class="input-append">
                <input id="address_billing_postcode" class="postcode span4" title="<?php echo $this->__('Please enter a valid post code'); ?>" type="text" name="address[billing][postcode]" value="<?php echo $this->escapeHtml($this->getPostcode()); ?>"  maxlength="9" required>
                <button class="btn btn-search-address btn-search-billing-address btn-selector"><?php echo $this->__('Search') ?></button>
            </div>
        </div>

        <a href="" class="btn-manual-entry btn-manual-entry-main"><?php echo $this->__('Enter address manually') ?></a>
    </div>

    <fieldset class="address-data" style="display: none;">
        <div class="control-group address-line address-line-1">
            <label class="control-label" for="address_billing_street_1">
                <?php echo $this->__('Street / House Number'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_billing_street_1" class="span4" type="text" title="<?php echo $this->__('Please enter a street address'); ?>" name="address[billing][street_1]" value="<?php echo $this->escapeHtml($this->getLine1()); ?>" required>
                <input id="address_billing_street_2" class="span4" type="text" name="address[billing][street_2]" value="<?php echo $this->escapeHtml($this->getLine2()); ?>">
            </div>
        </div>

        <div class="control-group address-line address-line-2">
            <label class="control-label" for="address_billing_street_3">
                <?php echo $this->__('Address supplement'); ?>
            </label>

            <div class="controls">
                <input id="address_billing_street_3" class="span4" type="text" name="address[billing][street_3]" value="<?php echo $this->escapeHtml($this->getLine3()); ?>">
            </div>
        </div>

        <div class="control-group address-search" style="display: none;">

        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_billing_city">
                <?php echo $this->__('Town / City'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_billing_city" class="span4" type="text" title="<?php echo $this->__('Please enter a town or city'); ?>" name="address[billing][city]" value="<?php echo $this->escapeHtml($this->getCity()); ?>" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_billing_region">
                <?php echo $this->__('County'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <input id="address_billing_region" class="span4" type="text" title="<?php echo $this->__('Please enter a county'); ?>" name="address[billing][region]" value="<?php echo $this->escapeHtml($this->getRegion()); ?>" required>
            </div>
        </div>

        <div class="control-group address-line">
            <label class="control-label" for="address_billing_country_id">
                <?php echo $this->__('Country'); ?>
                <em class="required">*</em>
            </label>

            <div class="controls">
                <select id="address_billing_country_id" class="span4" name="address[billing][country_id]" required>
                    <?php foreach ($this->getCountryOptions() as $option): ?>
                        <option value="<?php echo $option->getCountryId(); ?>" selected>
                            <?php echo $this->__($option->getName()); ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </fieldset>
</div>
<?php if (!$this->getRemoveForm()): ?>
</form>
<?php endif ?>