<div class="realex payment-form">
	<input type="hidden" name="realex_currency" id="realex_currency" value="<?php echo Mage::app()->getStore()->getCurrentCurrency()->getCode(); ?>" />


    <div class="control-group">
        <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_type">
            <?php echo __('Card Type'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <select id="<?php echo $this->getMethodCode() ?>_cc_type" name="payment[cc_type]" class="span4" required>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"<?php if($_typeCode == $this->getInfoData('cc_type')): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_owner">
            <?php echo __("Name on card"); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input placeholder="Card Holder's Name" type="text" title="<?php echo $this->__('Please enter a valid name') ?>" id="<?php echo $this->getMethodCode() ?>_cc_owner" name="payment[cc_owner]" class="span4" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>" required/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_number">
            <?php echo __('Card number'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <input placeholder="Card Number" type="text" id="<?php echo $this->getMethodCode() ?>_cc_number" class="span4 ignore" name="payment[cc_number]" title="<?php echo $this->__('Please enter a valid credit card number') ?>" value="" creditcard="true" cardtype="true" required maxlength="16" />
        </div>
    </div>

    <?php if($this->hasVerification()) { ?>
        <div class="control-group control-group-verification">

            <label class="control-label" for="<?php echo $this->getMethodCode() ?>_cc_cid">
                <?php echo __('Security code'); ?>
                <em class="required">*</em>
            </label>
            <div class="controls">
                <input placeholder="Security Code" type="text" title="<?php echo $this->__('Please enter a valid 3 digit security number') ?>" id="<?php echo $this->getMethodCode() ?>_cc_cid" maxlength="3" minlength="3" digits="true" name="payment[cc_cid]" class="span2" value="" required />
                <div class="cvv-help comment"><?php echo $this->__('Last 3 digits on the back of your card') ?></div>
            </div>
        </div>
    <?php } ?>


    <div class="control-group">
        <label class="control-label control-label-cc-month" for="<?php echo $this->getMethodCode() ?>_cc_exp_month">
            <?php echo __('Expiry date'); ?>
            <em class="required">*</em>
        </label>

        <div class="controls">
            <select id="<?php echo $this->getMethodCode() ?>_cc_exp_month" class="span4" name="payment[cc_exp_month]" title="Please enter a valid expiry date" expiry="true" required>
            <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
            <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label control-label-cc-year" for="<?php echo $this->getMethodCode() ?>_cc_exp_month">
        </label>

        <div class="controls">
            <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
            <select id="<?php echo $this->getMethodCode() ?>_cc_exp_year" class="span4" name="payment[cc_exp_year]" title="Please enter a valid expiry date" expiry="true" required>
            <?php foreach ($this->getCcYears() as $k=>$v): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery.validator.addMethod('cardtype', function(value, element) {
        var cardType = jQuery.trim($j('#realex_cc_type').val());
        var cardNum  = jQuery.trim($j('#realex_cc_number').val());

        switch(cardType)
        {
            case 'VI':
                return _.isObject(cardNum.match(/^4[0-9]{12}([0-9]{3})?$/g));
            break;
            case 'MC':
                return _.isObject(cardNum.match(/^5[1-5][0-9]{14}$/g));
            break;
            default:
                return false;
            break;
        }

        if (cardNum.length != 16) {
            return false;
        }

    return true;
    }, 'Please enter a valid card number');

    jQuery.validator.addMethod('expiry', function(value, element) {
        var d = new Date();

        if ((jQuery('#realex_cc_exp_year').val() && (jQuery('#realex_cc_exp_year').val() <= d.getFullYear()) && (jQuery('#realex_cc_exp_month').val() < (d.getMonth() + 1)))) {
            return false;
        }

        return true;
    }, 'Please enter a valid expiry date');
    jQuery.validator.onfocusout = true;

    jQuery(".control-group-verification .collapse").click(function() {
        if (jQuery(this).hasClass("collapsed")) {
            jQuery(this).removeClass("collapsed");
            jQuery(this).addClass("open");
        } else {
            jQuery(this).removeClass("open");
            jQuery(this).addClass("collapsed");
        };

        jQuery('.hide-cvv-help').slideToggle();
    });
</script>