<?php
/**
 * Category view template
 *
 * @see DirtDevil_Catalog_Block_Category_View
 */
?>
<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_imgHtml = $_helper->getImageUrl($_category);
$banner = $_helper->getCategoryBanner($_category);
$smallBanner = $_helper->getSmallCategoryBanner($_category);
$_associatedProduct = $_helper->getAssociatedProduct($_category);
?>
<div class="category-title-container<?php if($banner): if(Mage::getStoreConfig('vax_minify/frontend/lazy_load_bg')==1): echo " lazyload"; else: echo ""; endif;?> has-image<?php endif; if($_associatedProduct): ?> category-product<?php endif;?>"<?php if($banner): if(Mage::getStoreConfig('vax_minify/frontend/lazy_load_bg')==1): echo ' data-bgset="'.$banner.'"'; endif; echo ' style="background-image: url(\''.$banner.'\');"'; ?><?php endif;?>>
    <?php if($smallBanner): ?><div class="banner-small<?php if(Mage::getStoreConfig('vax_minify/frontend/lazy_load_bg')==1): echo " lazyload"; else: echo ""; endif;?>"<?php if(Mage::getStoreConfig('vax_minify/frontend/lazy_load_bg')==1): echo ' data-bgset="'.$smallBanner.'"'; endif; echo ' style="background-image: url(\''.$smallBanner.'\');"';  ?>></div><?php endif; ?>
    <div class="page-title category-title">
        <?php if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
            <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
        <?php endif; ?>
        <div class="title-header-space">
            <?php if($this->getSupportTitle()): ?>
                <h1><?php echo $this->__("Support") ?></h1>
                <h2><?php echo $_helper->getCategoryTitle($_category) ?></h2>
            <?php else: ?>
                <h1><?php echo $this->getSparesTitle(); ?></h1>
            <?php endif; ?>
            <?php if($_imgHtml): ?>
                <?php echo $_imgHtml ?>
            <?php endif; ?>
        </div>
    </div>

    <div class="category-extra">
        <?php //echo $this->getMessagesBlock()->toHtml() ?>

        <?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
            <div class="category-description std">
                <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
            </div>
        <?php endif; ?>

        <?php if($_buyersGuideUrlKey = $this->getCurrentCategory()->getCategoryBuyersGuideUrlKey()): ?>
            <?php $_buyersGuideTitle = $this->getCurrentCategory()->getCategoryBuyersGuideTitle(); ?>
            <a class="buyers-guide" href="<?php echo $_helper->categoryAttribute($_category, $_buyersGuideUrlKey, 'category_buyers_guide_url_key') ?>"><?php echo $_helper->categoryAttribute($_category, $_buyersGuideTitle, 'category_buyers_guide_title') ?></a>
        <?php endif; ?>

        <?php if($_associatedProduct): ?>
            <a class="view-product" href="<?php echo $_associatedProduct->getProductUrl(); ?>">View <?php echo $_associatedProduct->getName(); ?> ></a>
        <?php endif; ?>
    </div>
</div>
