<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
?>
<?php if (count($this->getStores()) > 1): ?>
    <div class="form-language">
        <div class="language-box">
            <?php
            $_currentLang = '';
            foreach ($this->getStores() as $_lang): ?>
                <?php
                $_selected = "";
                $_language = $this->escapeHtml($_lang->getName());
                if($_lang->getId() == $this->getCurrentStoreId()) {
                    $_selected = "selected";
                    $_currentLang = $_language;
                }
                ?>
                <a href="<?php echo $_lang->getCurrentUrl() ?>" title="<?php echo $_language ?>" class="<?php echo $_selected ?> ">
                    <span class="label"><?php echo $_language ?></span>
                    <span class="icon <?php echo $_language ?>"></span>
                </a>
            <?php endforeach; ?>
        </div>
        <a href="javascript:void(0)" class="change-language">
            <span class="label"><?php echo $this->__('Change') ?></span>
            <span class="icon <?php echo $_currentLang ?>"></span>
        </a>
    </div>
<?php endif; ?>
