/* ============================================ *
 * Home page CMS boxes
 * ============================================ */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	margin: 0;
	z-index: 10;
}
/* ----------------------------------------------------------------*
 * Home Panels
 * ----------------------------------------------------------------*/
#home-panels {
	clear: both;
	margin-bottom: 0;
}
@include bp(min-width, $bp-xsmall+ 1) {
	#home-panels {
		.home-panel-element {
			img.panel-desktop {
				display: none;
			}
			img.panel-mobile {
				display: block;
			}
		}
	}
}
@include bp(min-width, $bp-small + 1) {
	#home-panels {
		.home-panel-element {
			img.panel-desktop {
				display: block;
			}
			img.panel-mobile {
				display: none;
			}
		}
	}
}

@include bp(min-width, $bp-large + 1) {
	#home-panels {
		.sub-header {
			font-size: 25px;
		}
		.home-panel-element .panel-content {
			.panel-header h3 {
				font-size: 20px;
			}
			.panel-text {
				font-size: 16px;
				line-height: 18px;
				padding: 0px 20px 20px;
			}
		}
		/*slide panel functionality*/
		.home-panel-element {
			.panel-content {
				padding-top: 50px;
				margin-top: -50px;
				text-shadow: 1px 1px 5px black;
				.panel-header h3 {
					top: -50px;
					line-height: 50px;
					height: 50px;
				}
				.panel-text {
					margin-top: -50px;
				}
				.panel-link {
					text-shadow: none;
				}
			}
			&:hover .panel-content {
				top: 50px;
			}
		}
	}
}


/* ---------------------------------------------------------------- *
 * Home Spares Block
 * ----------------------------------------------------------------*/
#home-spares {
	clear: both;
	overflow: hidden;
    margin-bottom: 10px;
	.inner-container {
		width: 100%;
		padding: 20px 0 120px 20px;
		overflow: hidden;
		position: relative;
	}
	.left, .right {
		display: inline-block;
		width: 100%;
		float: left;
	}
	.spares-header {
		display: none;
	}
	.subheader {
		font-weight: bold;
		margin-bottom: 10px;
	}
	p {
		display: block;
		max-width: 60%;
		margin-top: 13px;
	}
	.right {
		height: 80px;
	}
	.spares-img {
		bottom: 70px;
	}
	.left .spares-img {
		display: none;
	}
	.spares-button {
		position: absolute;
		bottom: 20px;
		left: 20px;
		display: inline-block;
		text-transform: uppercase;
		color: white;
		background-color: $c-red;
		line-height: 35px;
		padding: 0 10px;
		font-size: 17px;
		margin-top: 30px;
		&:hover, &:active {
			background-color: darken($c-red, 10%);
			text-decoration: none;
		}
	}
	.overlay {
		display: none;
	}
}

html:lang(de) {
	#home-spares {
		.spares-button {
			font-size: 15px;
			max-width: 280px;
		}
	}
}

@include bp(min-width, $bp-small + 1) {
	#home-spares {
		.inner-container {
			padding: 20px 20px 80px 20px;
		}
		.spares-img {
			bottom: 10px;
		}
	}
	html:lang(de) {
		#home-spares {
			.spares-button {
				font-size: 18px;
				max-width: 100%;
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	#home-spares {
		position: relative;

		.mobile {
			display: none;
		}

		.inner-container {
			padding: 30px;
			min-height: 200px;
			margin-top: 10px;
		}
		.left, .right {
			width: 50%;
			position: relative;
		}
		.left {
			float: left;
		}
		.right {
			float: right;
			padding-left: 50px;
		}
		.spares-button {
			position: static;
		}
		.spares-header {
			display: inline-block;
			font-size: 24px;
		}
		.subheader {
			font-size: 16px;
			margin-bottom: 0px;
		}
		p {
			font-size: 14px;
			line-height: 16px;
		}
		.spares-img {
			position: absolute;
			right: 0;
			top: -10px;
			bottom: auto;
			max-height: 120px;
		}
		.left .spares-img {
			display: inline-block;
			right: auto;
			left: 300px;
		}
		.overlay {
			position: absolute;
			top: 100%;
			transition: 0.5s;
			width: 100%;
			height: 100%;
			margin-top: -50px;
			text-align: center;
			color: white;
			background-color: rgba(0,0,0,0.6);
			font-size: 20px;
			line-height: 50px;
			display: block;
			text-shadow: 1px 1px 5px black;
		}
		&:hover .overlay {
			transition: 0.5s;
			top: 50px;
		}
		.overlay-content {
			color: #fff;
			padding-top: 15px;
			.spares-button {
				display: block;
				max-width: 300px;
				margin: 60px auto;
				text-shadow: none;
			}
		}
	}
	html:lang(de) {
		#home-spares {
			.spares-header {
				font-size: 20px;
			}
			.left .spares-img {
				left: 320px;
			}
			.spares-button {
				font-size: 16px;
				max-width: 300px;
			}
		}
	}
}

/* ---------------------------------------------------------------- *
 * Spares bot panel on category pages
 * ----------------------------------------------------------------*/
.catalog-category-view {
	#home-spares {
		margin-bottom: 20px;
	}
}

@include bp(min-width, $bp-medium + 1) {
	.catalog-category-view {
		#home-spares {
			margin-bottom: 33px;
		}
	}
}

/* ---------------------------------------------------------------- *
 * Home Top Static Promo
 * ----------------------------------------------------------------*/
.home-top-promo {
	margin: 15px 0 0;
	width: 100%;
	img {
		width: 100%;
		height: auto;
	}
	.desktop {
		display: none;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}
@include bp(min-width, $bp-medium + 1) {
	.home-top-promo {
		margin: 0;
		width: 34%;
		float: right;
		height: 328px;
		overflow: hidden;
		.mobile {
			display: none;
		}
		.desktop {
			display: block;
			margin: 0px auto;
		}
		img {
			height: auto;
			max-height: 328px;
		}
	}
}
@include bp(min-width, $bp-large + 1) {
	.home-top-promo {
		width: 39%;
		background-color: #02306E;
		img {
			max-height: 100%;
			width: auto;
			min-width: 320px;
		}
	}
}
@include bp(min-width, 1031px) {
	.home-top-promo {
		width: 34%;
//		background-color: transparent;
		img {
			height: 328px;

			max-height: none;
			//width: 100%;
			min-width: 0;
		}
	}
}
