/****************************************
* Homepage panels
*****************************************/
.cms-home .main-container, .cms-index-index .main-container {
    overflow: hidden;
}
#home-panels {
    * {
        font-family: $f-stack-special;
    }
    .wrapper-link {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    .sub-header {
        color: #000;
        font-size: 25px;
        font-weight: bold;
        padding: 10px 20px;
    }

    .home-panel-element {
        color: #000;
        img.panel-desktop {
            display: none;
        }
        img.panel-mobile {
            width: 100%;
        }
        .panel-content {
            padding: 0px 20px 30px 20px;
			width: 100%;

            .panel-header h3 {
                text-transform: none;
                color: black;
	            font-weight: bold;
                margin: 0;
                font-size: 18px;
                display: inline-block;
                padding: 13px 0 9px 0;
            }
            .panel-text {
                padding-bottom: 15px;
                font-size: 14px;
            }
            .panel-link {
                display: inline-block;
                font-size: 18px;
                text-transform: uppercase;
                padding: 3px 10px;
                color: white;
                background-color: $c-red;
                &:hover, &:active {
                    text-decoration: none;
                    background-color: darken($c-red, 10);
                }
            }
        }
    }
  &.panels-bottom{
    .panel-bottom{
      margin-bottom: 5px;
    }
  }
}

/*****************************************************
* Homepage banners - Large Mobile screens
******************************************************/
@include bp(min-width, $bp-xsmall + 1) {
    #home-panels {
        .home-panel-element {
            img.panel-desktop {
                display: block;
                width: 100%;
            }
            img.panel-mobile {
                display: none;
            }
        }
    }
}
/*****************************************************
* Homepage banners - Tablet screens
******************************************************/
@include bp(min-width, $bp-small + 1) {
	#home-panels {
		float: left;
		width: 100%;
		background-color: white;
		margin-bottom: 20px;
		padding-left: 20px;
		.home-panel-element {
			float: left;
			clear: both;
			width: 100%;
			img.panel-desktop {
				width: 50%;
				float: left;
				margin-right: 20px;
				margin-bottom: 20px;
			}
			img.panel-mobile {
				display: none;
			}
			.panel-content .panel-header h3 {
				padding-top: 0;
			}
		}
	}
}


/*****************************************************
* Homepage banners - Large Tablet screens
******************************************************/
@include bp(min-width, $bp-medium + 1) {
    #home-panels {
	    float: none;
	    width: auto;
	    margin: 0;
	    padding: 0;
        .wrapper-link {
            color: white;
        }
        .sub-header {
            padding: 10px 0;
            text-align: center;
        }
        /* center the panels no matter how many they are */
        .panel-container {
            text-align: center;
            padding: 0;
            margin: 0 -1%;
            width: 102%;
        }
        .home-panel-element {
	        float: none;
            width: 32%;
            display: inline-block;
	        clear: none;
	        img.panel-desktop {
		        width: 100%;
		        margin-right: 0px;
		        margin-bottom: 0px;
	        }
            &:nth-child(even) {
                margin: 0 1%;
            }
            &:nth-child(even):last-child {
                margin: 0;
                margin-left: 1%;
            }
            .panel-content {
                padding: 0;
                color: white;
                text-align: center;
                //fallback bg
                background-color: #000;
                //semi-transparent bg
                background-color: rgba(0,0,0,0.6);
                .panel-header h3 {
                    padding: 0;
                    bottom: 0;
                    display: inline-block;
                    width: 100%;
                    height: 50px;
                    font-size: 20px;
                    line-height: 50px;
	                color: white;
	                font-weight: normal;
                }
                .panel-text {
                    padding: 0 30px 10px 30px;
                    font-size: 14px;
                }
            }
          &.panel-bottom{
            width: 49%;
          }
        }
        /*slide panel functionality*/
        .home-panel-element {
            position: relative;
            overflow: hidden;
            .panel-content {
                position: absolute;
                top: 100%;
                transition: 0.5s;
                height: 100%;
                padding-top: 50px;
                margin-top: -50px;
                .panel-header h3 {
                    position: relative;
                    top: -50px;
                }
                .panel-text {
                    margin-top: -50px;
                }
            }
            &:hover .panel-content {
                transition: 0.5s;
                top: 50px;
            }
        }
      &.panels-bottom{
        margin-top: 5px;
        .panel-bottom{
          margin-bottom: 0;
        }
      }
    }
}

