/* ============================================ *
 * Header Main Menu links
 * ============================================ */
.skip-links {
    .skip-link.skip-nav {
        margin: 0;
	    overflow: hidden;
        .icon,
        &:not(.skip-active):hover .icon
        {
            background: sprite($mobile-icons, mobile-menu) no-repeat;
            @include sprite-dimensions($mobile-icons, mobile-menu);
        }
        .label {
            display: none;
        }
    }
    .header-minicart {
      .skip-link.skip-cart,
      .skip-link.skip-cart:hover{
        .icon {
          background: url(../images/template/Cart_grey_150x150.png) no-repeat;
          background-size: contain;
          height: 25px;
        }
      }
      .skip-link.skip-account,
      .skip-link.skip-account:hover{
        .icon {
          background: url(../images/template/account-grey.png) no-repeat;
          background-size: contain;
          height: 25px;
        }
      }
    }
}

//hide scrollbar when not needed
body:not(.checkout-onepage-index) header .sticky-container #header-nav.skip-active {
	overflow-y: auto;
}
#header-nav {
	position: relative;
	&.skip-active {
		width: 100%;
		overflow-y: auto;
		position: absolute;
		top: 50px;
		li a::after {
			display: none;
		}
		&::after {
			position: fixed;
			left: auto;
			right: 13px;
			top: 35px;
			z-index: 9999;
			background: sprite($desktop-icons, dropdown-arrow) no-repeat;
			@include sprite-dimensions($desktop-icons, dropdown-arrow);
		}
	}
}

.nav-primary{
	// hide desktop dropdown nav
	.nav-cat.desktop {
		display: none;
	}

	//remove white arrow from uk dropdown
	div.nav-cat::before {
		display: none;
	}
}

.nav-group-dropdown {
    display: none;
}

//--------------------------------------
// Mobile tiles
//
body:not(.checkout-onepage-index) header .sticky-container #header-nav.skip-active {
	height: auto;
	padding: 0 20px;
}

.nav-primary,
.nav-group-dropdown{
	margin-top: -1px;
	.tile {
		width: 50%;
		float: left;
		display: inline-block;
		position: relative;
		a {
			height: 140px;
			padding: 15px 20px 50px;
			border-top: 1px solid white;
		}
		&:nth-child(even) a {
			border-left: 1px solid white;
		}
		&:nth-child(1) a, &:nth-child(2) a {
			border-top: none;
		}
		.icon {
			display: block;
			margin: 0 auto;

			&.products {
				background: url('../images/template/products-grey.png') no-repeat;
				width: 72px;
                height: 72px;
                background-size: contain;
			}
			&.spares {
				background: url('../images/template/spares-grey.png') no-repeat;
				width: 75px;
                height: 75px;
                background-size: contain;
			}
			&.service {
				background: url('../images/template/service-grey.png') no-repeat;
				width: 72px;
                height: 72px;
                background-size: contain;
			}
			&.registration {
				background: url('../images/template/registration-grey.png') no-repeat;
				width: 72px;
                height: 72px;
                background-size: contain;
			}
			&.newsletter {
				background: url('../images/template/newsletter-grey.png') no-repeat;
				width: 72px;
                height: 72px;
                background-size: contain;
			}
			&.contact {
				background: url('../images/template/contacts-grey.png') no-repeat;
				width: 72px;
                height: 72px;
                background-size: contain;
			}
		}
		.nav-label {
			padding: 0 10px;
			font-size: 11px;
			line-height: 12px;
			font-weight: bold;
			text-align: center;
			position: absolute;
			bottom: 10px;
			width: 100%;
			left: 0;
		}
	}
}
@include bp(min-width, 321px) {
	html:lang(de) {
		.nav-primary,
        .nav-group-dropdown{
			.tile {
				.nav-label {
					padding: 0 20px;
					font-size: 12px;
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
    header,
    body:not(.checkout-onepage-index) header {
        background-color: white;
        height: 155px;
        .nav-top {
            left: 0;
            top: 100px;
            width: 100%;
            background-color: white;
            height: 55px;
            li {
                line-height: 55px;
                margin-left: 20px;
                padding-right: 3.5%;
				&:last-child {
					padding-right: 0;
				}
            }
        }
        #header-nav {
            position: static;
        }
    }
	// enable desktop dropdown items, hide mobile tiles
	.nav-primary,
    .nav-group-dropdown{
		margin-top: 0px;
		.nav-cat.desktop {
			display: auto;
		}
		.tile {
			display: none;
		}
	}
}

@include bp(min-width, 1030px) {
    header,
    body:not(.checkout-onepage-index) header {
        .nav-top {
            li {
                margin-left: 0px;
	            padding-right: 8%;
                &:last-child {
                    float: right;
                    padding-right: 0px;
                }
	            &.newsletter {
		            margin-right: -9%;
	            }
            }
        }
    }
	html:lang(de) {
		header,
		body:not(.checkout-onepage-index) header {
			.nav-top li {
				padding-right: 7.8%;
				&:last-child {
					padding-right: 0px;
				}
			}
		}
	}
	html:lang(fr) {
		header,
		body:not(.checkout-onepage-index) header {
			.nav-top li {
				padding-right: 14%;
				&:last-child {
					padding-right: 0px;
				}
			}
		}
		#nav .nav-support::before {
			left: 54%;
		}
		#nav .nav-newsletter::before {
			left: 74%;
		}
	}
}
