/* ============================================ *
 * Header Search
 * ============================================ */

.skip-link.skip-search {
    display: none;
}
// search box is always visible on mobile
#header-search {
    display: block;
    position: absolute;
    top: 50px;
    background-color: white;
    width: 100%;
	border-bottom: none;
	padding: 15px 20px;
}

@include bp(min-width, $bp-medium + 1) {
    #header-search {
        height: 0;
        overflow: visible;
        width: 33%;
        max-width: none;
        position: static;
        margin: 0 auto;
        display: block;
		padding: 0px 0px;
	    #search_mini_form {
		    .input-box .search-button {
			    text-indent: 0;
			    color: white;
			    background-color: $c-gray-2;
			    width: auto;
			    padding: 7px 8px;
			    font-size: 14px;
			    &:hover {
				    background-color: darken($c-gray-2, 10);
			    }
			    &::before {
				    display: none;
			    }
		    }
	    }
    }
}
@include bp(min-width, $bp-large + 1) {
    #header-search {
        width: 38%;
        max-width: 365px;
    }
}
