/* ============================================ *
 * Footer
 * ============================================ */

/* footer links */
.footer-links {
	/* DD DE */
	.old-links {
		display: none;
	}
}
.footer-links-2 {
	span { 
		font-weight: normal;
		font-size: 12px;
		line-height: 13px;
		margin-top: -10px;
		padding-bottom: 30px;
	}
}

.footer .footer-logo a:hover {
	text-decoration: none;
}

@include bp(min-width, $bp-large) {
    .footer-container {
        padding: 20px 0 0;
    }

  .footer .footer-links-2 {
    .links{
      ul {
        display: inline-block;
        float: right;
        padding-top: 15px;
        line-height: 13px;
        li {
          width: auto;
        }
      }
    }
  }
}

@include bp(min-width, $bp-medium+1) {
  .footer .footer-links-2 {

    li.telephone {
      padding: 0px 40px 20px;
    }
  }
}


