/* ============================================ *
 * Header Language Selector
 * ============================================ */
.page-header-container {
    .store-language-container {
        float: left;
	    padding: 0px 0px 0px 10px;
	    margin-right: -30px;
    }
	.form-language {
		display: inline-block;
		padding-right: 12px;
		position: relative;
        width: 100px;
        .label {
            float: right;
        }
		.icon {
			float: left;
			margin: 19px 5px 0 0;
			&.Deutsch {
				background: sprite($mobile-icons, german-flag) no-repeat;
				@include sprite-dimensions($mobile-icons, german-flag);
			}
			&.English {
				background: sprite($mobile-icons, uk-flag) no-repeat;
				@include sprite-dimensions($mobile-icons, uk-flag);
			}
			&.French {
              @include sprite-dimensions($mobile-icons, french-flag);
              background: sprite($mobile-icons, french-flag) no-repeat;
			}
		}
		.change-language, .change-language:hover, .change-language:active {
			cursor: pointer;
		}
		.change-language::after {
			content: "";
			display: inline-block;
			background: sprite($mobile-icons, language-dropdown) no-repeat;
			@include sprite-dimensions($mobile-icons, language-dropdown);
			position: absolute;
			z-index: 1;
			right: 0;
			top: 24px;
		}
		.language-box {
			display: none;
			&.active {
				display: block;
				position: absolute;
				background-color: white;
				width: 100px;
				box-shadow: 1px 1px 6px $c-gray-3;
				padding: 0 10px;
				top: 0;
				left: -10px;
				z-index: 10;
			}
		}
		a {
			display: block;
			color: $c-gray;
			border-bottom: 1px solid $c-gray-3;
			height: 50px;
			line-height: 50px;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
    .page-header-container {
        .store-language-container {
            width: 120px;
            max-width: 120px;
            padding: 0px;
            height: 55px;
            margin-left: 120px;
        }
		.form-language {
			width: auto;
		}
	    .form-language {
		    a {
			    display: inline-block;
			    border: none;
			    line-height: 38px;
			    margin-right: 5px;
		    }
		    .change-language {
			    display: none;
		    }
		    .language-box,  .language-box.active {
			    display: inline-block;
		    }
		    .label {
			    display: none;
		    }
		    .icon {
			    margin: 0;
			    float: none;
			    display: inline-block;
			    &.Deutsch {
				    background: sprite($desktop-icons, german-flag) no-repeat;
				    @include sprite-dimensions($desktop-icons, german-flag);
			    }
			    &.English {
				    background: sprite($desktop-icons, uk-flag) no-repeat;
				    @include sprite-dimensions($desktop-icons, uk-flag);
			    }
                &.French {
                  background: sprite($desktop-icons, french-flag) no-repeat;
                  @include sprite-dimensions($desktop-icons, french-flag);
                }
			    &:hover {
				    opacity: 0.7;
			    }
		    }
		    &::after {
			   display: none;
		    }
	    }

    }
}
