/* ============================================ *
 * Header Account menu
 * ============================================ */
.page-header-container {
	.skip-account.skip-active {
		background-color: white;
	}
	#header-account.skip-content.skip-active::after {
		content: "";
		display: block;
		position: fixed;
		left: auto;
		right: 62px;
		top: 35px;
		z-index: 9999;
		background: sprite($desktop-icons, dropdown-arrow) no-repeat;
		@include sprite-dimensions($desktop-icons, dropdown-arrow);
	}
	#header-account {
		position: relative;
		z-index: 2;
	}

    .header-minicart {
      .skip-link.skip-cart,
      .skip-link.skip-cart:hover{
        .icon {
          background: url(../images/template/Cart_grey_150x150.png) no-repeat;
          background-size: contain;
          height: 25px;
        }
      }
    }
    .skip-link.skip-account,
    .skip-link.skip-account:hover{
      overflow: hidden;
      .icon {
        background: url(../images/template/account-grey.png) no-repeat;
        background-size: contain;
        height: 21px;
      }
    }
}

@include bp(min-width, $bp-xsmall + 1) {
	.page-header-container {
		#header-account.skip-content.skip-active::after {
			right: 95px;
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
	.page-header-container {
		.skip-account {
			padding: 0;
		}
		// dropdown menu
		#header-account.skip-active {
			top: 80px;
		}
		#header-account {
			position: absolute;
			&.skip-active {
				width: 220px;
				.links ul li a {
					line-height: 20px;
					padding: 10px 20px;
				}
			}
		}
		#header-account.skip-content.skip-active::after {
			display: none;
		}
	}
}
