/* ============================================ *
 * Header Cart link and Minicart box
 * ============================================ */
.page-header-container {
    .header-minicart {
        .skip-cart,
        .skip-cart.active,
        .skip-cart:hover,
        .skip-cart.active:hover {
            position: static;
            overflow: hidden;
            .icon,
            .icon:hover {
                background: sprite($mobile-icons, cart) no-repeat;
                @include sprite-dimensions($mobile-icons, cart);
            }
            .count {
                margin-left: 0;
            }
        }
    }
    #header-cart.skip-active {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 0;
        &::after {
            display: none;
        }

        li.item {
            padding-left: 60px;

            div.left-col {
                margin-left: -60px;
            }
        }
        .mini-products-list li {
            .remove {
                margin-right: 0;
                font-size: 12px;
            }
            tr {
                .shipping-cost-info {
                    line-height: 15px;
                    margin-bottom: 3px;
                    width: 50%;
                    text-align: right;
                    float: right;
                }
                .price {
                    line-height: 50px;
                }
            }
        }
    }
	#header-cart.skip-content.skip-active::after {
		content: "";
		display: block;
		position: fixed;
		left: auto;
		right: 110px;
		top: 35px;
		z-index: 9999;
		background: sprite($desktop-icons, dropdown-arrow) no-repeat;
		@include sprite-dimensions($desktop-icons, dropdown-arrow);

	}
}

@include bp(max-width, $bp-medium) {
    .page-header-container {
        .header-minicart {
            .minicart-wrapper {
                min-height: 75px;
            }

            #header-cart.skip-active {
                #minicart-success-message {
                    left: 0px;
                    right: 0px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@include bp(min-width, $bp-xsmall + 1) {
	.page-header-container {
		#header-cart.skip-content.skip-active::after {
			right: 212px;
		}
	}
}

@include bp(min-width, $bp-medium + 1) {
    .page-header-container {
        .header-minicart {
	        float: right;
            .skip-cart {
                line-height: normal;
                width: auto;
                .count {
                    position: static;
                    top: auto;
                    right: auto;
                }
            }
            #header-cart.skip-active {
                top: 80px;
                right: 0;
                left: auto;
                width: 320px;
            }
	        #header-cart.skip-active::after {
		        display: none;
	        }
        }
    }
}
