/* ============================================ *
 * Header
 * ============================================ */
.logo {
    position: static;
}
#header {
    height: 120px;
    .skip-links .skip-link {
	    float: right;
	    .label {
		    display: inline-block;
		    height: 42px;
		    vertical-align: bottom;
	    }
    }
}
@include bp(min-width, $bp-xsmall + 1) {
	.skip-links .skip-nav .label {
		display: inline-block;
	}
}
@include bp(min-width, $bp-medium + 1) {
    .page-header-container {
        float: left;
        width: 100%;
        padding-top: 35px;
    }
    .logo {
        max-width: 100px;
        min-width: 100px;
        width: 100px;
        height: 100px;
        line-height: 100px;
        top: 0;
        position: absolute;
    }
    #header {
        height: 155px;
        .skip-links {
            clear: none;
            float: right;
            .skip-link {
                float: right;
                text-transform: none;
                line-height: 30px;
                color: $c-gray;
                .icon {
                    max-height: 30px;
                }
	            .label {
		            height: auto;
	            }
            }
        }
    }
}

@include bp(min-width, $bp-large + 1) {
	#header .skip-links {
		.skip-link {
			margin-right: 20px;
		}
	}
}

@include bp(min-width, 1031px) {
	#header .skip-links .skip-link {
		margin-right: 0px;
	}
}

