/*****************************************************
* Header product drop-down menu for desktop
******************************************************/
@include bp(min-width, $bp-medium + 1) {
	#nav {
		.nav-primary,
        .nav-group-dropdown{
			background-color: #E0DFDF;
			box-shadow: 0px 2px 2px rgba(0,0,0, 0.1);
			min-height: 330px;
		}
        .nav-group-dropdown {
          display: none;
          margin-top: 0px;
          max-height: 330px;
          height: 330px;
          padding: 10px;
          .nav-forms{
            width: 66%;
            display: inline-block;
            float: left;
            #contactFormMenu{
              padding: 0;
              li{
                height: auto;
                padding: 0;
                input{
                  max-width: 100%;
                  width: 100%;
                }
                textarea{
                  width: 80%;
                }
                label{
                  width: 145px;
                  text-align: left;
                  padding: 0;
                  font-size: 14px;
                  vertical-align: top;
                  display: block;
                  font-weight: normal;
                }
                .input-box{
                  padding: 0;
                  margin: 0;
                  max-width: 100%;
                  input{
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid #c2c4c4;
                  }
                  textarea{
                    border-radius: 4px;
                    border: 1px solid #c2c4c4;
                    height: 90px;
                  }
                }
              }
              .buttons-set{
                margin: -56px 0 0 460px;
                padding-top: 10px;
                border-top: 1px solid #EDEDED;
                text-align: right;
                float: left;
                .button{
                  line-height: 1.5;
                  color: white;
                  text-transform: uppercase;
                  background-color: #CF102D;
                  border: none;
                  padding: 4px 11px;
                  font-size: 18px;
                  min-width: 0;
                  float: left;
                }
              }
            }
            #menu-registration-form{
              h2{
                height: auto;
                min-height: 35px;
                line-height: 22px;
                padding: 5px 0;
                font-size: 20px;
                margin-bottom: 0;
                &:nth-of-type(2){
                  margin-top: 20px;
                }
              }
              fieldset {
                padding: 5px 0;
                .control-group {
                  clear: both;
                  .control-label {
                    width: 19%;
                    line-height: normal;
                    vertical-align: top;
                    padding-top: 8px;
                  }
                  .controls {
                    max-width: none;
                    width: 50%;
                    display: inline-block;
                    line-height: 36px;
                    input,
                    select{
                      border-radius: 4px;
                      padding: 4px 6px;
                      height: 30px;
                      border: 1px solid #C0C0C0;
                      font-size: 12px;
                      width: 100%;
                      option{
                        height: 36px;
                        padding: 10px 0 10px 10px;
                      }
                    }
                  }
                }
              }
              a{
                color: #CF102D;
                clear: both;
                display: block;
                margin-left: 130px;
              }
              .btn {
                color: white;
                text-transform: uppercase;
                background-color: #CF102D;
                border: none;
                padding: 0px 11px;
                font-size: 18px;
                margin: 0;
              }
            }

            .form-signup{
              padding-top: 30px;
              .newsletter-label{
                p{
                  font-size: 16px;
                  padding-bottom: 10px;
                  color: #111111;
                }
                .sublabel, h4{
                  display: none;
                }
              }
              .box {
                width: 50%;
                float: left;
                padding: 0 10px 10px 0;
                margin: 0;
                input {
                  height: 35px;
                  border-radius: 4px;
                  border: 1px solid #c2c4c4;
                }
              }
              .button {
                width: 100%;
                max-width: 365px;
                background-color: #CF102D;
                color: white;
                font-size: 16px;
                font-weight: normal;
                line-height: 15px;
                height: 35px;
              }
            }
          }
          .nav-blocks{
            width: 33%;
            display: inline-block;
            float: right;
            li{
              list-style: none;
              width: 100%;
              margin: 0;
              padding: 0;
              height: auto;
              .contact-us-link,
              .international-link,
              .my-dd-link,
              .registration-link{
                margin: 0;
                width: 100%;
              }
              .registration-link,
              .guarantee-conditions-link,
              .international-link,
              .my-dd-link
              {
                .panel-color {
                  .header {
                    padding: 0 0 0 0;
                    position: relative;
                    max-width: 70%;
                  }
                }
              }
              .panel-color{
                height: 150px;
                padding: 20px 30px 0;
                margin-bottom: 10px;

                width: 100%;
                float: left;
                position: relative;
                a.button{
                  text-decoration: none;
                  color: white;
                  background-color: #CF102D;
                  padding: 5px 10px;
                  text-transform: uppercase;
                  position: absolute;
                  bottom: 20px;
                  left: 30px;
                  margin: 0;
                }
              }
              .contact-text{
                padding-top: 20px;
                p{
                  color: #111111;
                }
                p:first-of-type{
                  font-weight: bold;
                  color: #111111;
                  font-size: 16px;
                  margin-bottom: 10px;
                }
                p:nth-of-type(2){
                  margin-bottom: 10px;
                  font-size: 16px;
                  color: #CF102D;
                  font-weight: bold;
                }
              }
              .header{
                color: #ffffff;
                font-size: 23px;
                line-height: 25px;
                max-width: 50%;
                margin-right: -10%;
                text-decoration: none;
                border: none;
                margin-bottom: 0;
                padding: 20px;
              }
            }
          }
          .product-mini-view{
            width: 33.3%;
            height: 328px;
            float: left;
            background: #ffffff;
            img{
              min-width: 0;
              max-width: 100%;
              height: auto;
              margin: 13px auto;
              max-height: 275px;
            }
            .action {
              width: 100%;
              position: absolute;
              bottom: 48px;
              a {
                line-height: 32px;
                font-size: 16px;
                text-transform: uppercase;
                color: white;
                background-color: #CF102D;
                text-align: center;
                padding: 0 20px;
                width: 220px;
                margin: 0 auto;
                position: absolute;
                display: block;
                left: 40px;
                bottom: -30px;
              }
            }
          }
        }
        .nav-contact-us{
          .nav-forms{
            width: 60%;
          }
          .nav-blocks{
            li:first-of-type{
              height: 160px;
            }
          }
        }
        .nav-newsletter{
          .nav-blocks{
            .my-dd-link{
              .header{
                max-width: 60%;
              }
            }
          }
        }
        .nav-support{
          .spares-finder-container{
            .how-to-find,
            .spares-search-controls,
            .product-mini-view{
              height: 310px;
            }
          }
        }
      .nav-spares{
        .spares-finder{
          .how-to-find,
          .spares-search-controls,
          .buy-more-save-more{
            height: 310px;
          }
        }
      }
        .nav-registration{
          max-height: 100%;
        }
		.nav-primary::before{
			content: "";
			display: block;
			position: absolute;
			top: -15px;
			left: 30px;
			background: sprite($desktop-icons, dropdown-arrow) no-repeat;
			@include sprite-dimensions($desktop-icons, dropdown-arrow);
		}
        .nav-support::before{
          content: "";
          display: block;
          position: absolute;
          top: -15px;
          left: 23%;
          background: sprite($desktop-icons, dropdown-arrow) no-repeat;
          @include sprite-dimensions($desktop-icons, dropdown-arrow);
        }

        .nav-spares::before{
          content: "";
          display: block;
          position: absolute;
          top: -15px;
          left: 23%;
          background: sprite($desktop-icons, dropdown-arrow) no-repeat;
          @include sprite-dimensions($desktop-icons, dropdown-arrow);
        }

        .nav-contact-us::before{
          content: "";
          display: block;
          position: absolute;
          top: -15px;
          left: 91%;
          background: sprite($desktop-icons, dropdown-arrow) no-repeat;
          @include sprite-dimensions($desktop-icons, dropdown-arrow);
        }

        .nav-newsletter::before{
          content: "";
          display: block;
          position: absolute;
          top: -15px;
          left: 77%;
          background: sprite($desktop-icons, dropdown-arrow) no-repeat;
          @include sprite-dimensions($desktop-icons, dropdown-arrow);
        }

		padding-left: 0;
		a.has-children {
			height: auto;
		}
		// subcategories
		.sub {
			display: none;
			background: none;
			border: none;
			position: static;
			bottom: 0;
			width: 100%;
			left: 0;
			padding: 0;
			&:hover, li:hover, a:hover {
				background: none;
				border: none;
			}
			li {
				height: auto;
				float: left;
				background: none;
				border: none;
				margin: 0;
				padding: 0;
				text-align: left;
				a {
					padding: 0;
					margin: 0;
					border: none;
					line-height: 15px;
					font-weight: bold;
					span {
						font-weight: bold;
					}
					div {
						padding: 0;
					}
				}
			}
		}
		// top level
		li {
			width: 25%;
			height: 162px;
			padding: 25px 0 0 25px;
			a {
				img {
					height: 90px;
					width: auto;
					margin: 0px 0px 0px -30px;
				}
				span {
					max-width: 90%;
					font-size: 15px;
					font-weight: bold;
					line-height: 16px;
				}
				div {
					position: static;
					font-weight: bold;
					padding: 10px 0 0px;
				}
			}
			a.level0 {
				padding: 0;
			}
			&.nav-2,
			&.nav-6 {
				a {
					img {
						padding: 0;
					}
				}
			}
		}
		//top level hover
		li.level0 {
			.sub {
				display: none;
			}
			a span {
				text-align: center;
			}
			&:hover, &:active {
				> a span {
					color: $c-red;
					text-decoration: none;
					&:hover, &:active {
						text-decoration: underline;
					}
				}
				//hide subcategories
				.sub {
					// display: block;
					position: absolute;
					height: 100px;
					li {
						width: 100%;
						a {
							span {
								color: $c-gray;
								text-align: left;
								font-size: 13px;
								line-height: 21px;
								padding-left: 34%;
								text-shadow: 1px 1px 2px white;
							}
							&:hover, &:active {
								span {
									color: $c-red;
									text-decoration: underline; 
								}
							}
						}
					}
				}
				img {
					// opacity: 0.15;
				}
			}
		}
	}
}

@include bp(min-width, $bp-medium + 30) {
#nav {
  .nav-contact-us::before {
    display: none;
  }
  .nav-newsletter::before {
    display: none;
  }
  .nav-service::before {
    display: none;
  }
  .nav-support::before {
    display: none;
  }
  .nav-spares::before{
    display: none;
  }
}
}



@include bp(min-width, $bp-large + 1) {
#nav {
  .nav-contact-us::before {
    display: block;
    left: 96%;
  }
  .nav-newsletter::before {
    display: block;
    left: 82%;
  }
  .nav-service::before {
    display: block;
  }
  .nav-support::before{
    display: block;
    left:41%;
  }
  .nav-spares::before{
    display: block;
    left: 23%;
  }
}
}

