/* ======================================================================== *
 * Turn the HEader into a sticky nav - works on top of UK's sticky nav
 * ======================================================================== */
@include bp(min-width, $bp-xsmall + 1) {
	.breadcrumbs ul li {
		max-height: 40px;
		overflow: hidden;
		max-width: 50%;
	}
}
@include bp(min-width, $bp-medium + 1) {
    body:not(.checkout-onepage-index) {
	    header {
		    .sticky-container {
			    height: 100px;
			    #nav {
				    top: 155px;
			    }
		    }
	    }
	    .breadcrumbs .sticky-container {
		    top: 155px;
	    }
    }
	.catalog-product-view #nav-wrap .product-feature-nav.fixed {
		top: 195px;
		ul {
			width: 960px;
		}
	}
}
