<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/slick.css') ?>" />
<script type="text/javascript" src="<?php echo $this->getBaseUrl() ?>/skin/frontend/vax_rwd/default/js/lib/slick/slick/slick.js"></script>
<div class="product-banner-carousel" id="banner-carousel-<?php echo $this->getNameInLayout() ?>">
    <?php foreach ($this->getBanners() as $banner) : ?>
        <div class="product-banner-container">
            <?php echo $banner->toHtml() ?>
        </div>
    <?php endforeach; ?>
</div>
<script type="text/javascript">
    $j('#banner-carousel-<?php echo $this->getNameInLayout() ?>').slick({
        dots: false,
        infinite: true,
        autoplay: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1
    });
</script>